:root {
  --sf-c-blueviolet: 271 76% 53%;
  --sf-c-blueviolet-5: 271 76% 5%;
  --sf-c-blueviolet-10: 271 76% 10%;
  --sf-c-blueviolet-15: 271 76% 15%;
  --sf-c-blueviolet-20: 271 76% 20%;
  --sf-c-blueviolet-25: 271 76% 25%;
  --sf-c-blueviolet-30: 271 76% 30%;
  --sf-c-blueviolet-35: 271 76% 35%;
  --sf-c-blueviolet-40: 271 76% 40%;
  --sf-c-blueviolet-45: 271 76% 45%;
  --sf-c-blueviolet-50: 271 76% 50%;
  --sf-c-blueviolet-55: 271 76% 55%;
  --sf-c-blueviolet-60: 271 76% 60%;
  --sf-c-blueviolet-65: 271 76% 65%;
  --sf-c-blueviolet-70: 271 76% 70%;
  --sf-c-blueviolet-75: 271 76% 75%;
  --sf-c-blueviolet-80: 271 76% 80%;
  --sf-c-blueviolet-85: 271 76% 85%;
  --sf-c-blueviolet-90: 271 76% 90%;
  --sf-c-blueviolet-95: 271 76% 95%;
 
  --sf-c-txt-blueviolet: var(--sf-c-blueviolet);
  --sf-c-txt-blueviolet-5: var(--sf-c-blueviolet-5);
  --sf-c-txt-blueviolet-10: var(--sf-c-blueviolet-10);
  --sf-c-txt-blueviolet-15: var(--sf-c-blueviolet-15);
  --sf-c-txt-blueviolet-20: var(--sf-c-blueviolet-20);
  --sf-c-txt-blueviolet-25: var(--sf-c-blueviolet-25);
  --sf-c-txt-blueviolet-30: var(--sf-c-blueviolet-30);
  --sf-c-txt-blueviolet-35: var(--sf-c-blueviolet-35);
  --sf-c-txt-blueviolet-40: var(--sf-c-blueviolet-40);
  --sf-c-txt-blueviolet-45: var(--sf-c-blueviolet-45);
  --sf-c-txt-blueviolet-50: var(--sf-c-blueviolet-50);
  --sf-c-txt-blueviolet-55: var(--sf-c-blueviolet-55);
  --sf-c-txt-blueviolet-60: var(--sf-c-blueviolet-60);
  --sf-c-txt-blueviolet-65: var(--sf-c-blueviolet-65);
  --sf-c-txt-blueviolet-70: var(--sf-c-blueviolet-70);
  --sf-c-txt-blueviolet-75: var(--sf-c-blueviolet-75);
  --sf-c-txt-blueviolet-80: var(--sf-c-blueviolet-80);
  --sf-c-txt-blueviolet-85: var(--sf-c-blueviolet-85);
  --sf-c-txt-blueviolet-90: var(--sf-c-blueviolet-90);
  --sf-c-txt-blueviolet-95: var(--sf-c-blueviolet-95);
 
  --sf-dark-c-blueviolet: 271 76% 47%;
  --sf-dark-c-blueviolet-5: 271 76% 95%;
  --sf-dark-c-blueviolet-10: 271 76% 90%;
  --sf-dark-c-blueviolet-15: 271 76% 85%;
  --sf-dark-c-blueviolet-20: 271 76% 80%;
  --sf-dark-c-blueviolet-25: 271 76% 75%;
  --sf-dark-c-blueviolet-30: 271 76% 70%;
  --sf-dark-c-blueviolet-35: 271 76% 65%;
  --sf-dark-c-blueviolet-40: 271 76% 60%;
  --sf-dark-c-blueviolet-45: 271 76% 55%;
  --sf-dark-c-blueviolet-50: 271 76% 50%;
  --sf-dark-c-blueviolet-55: 271 76% 45%;
  --sf-dark-c-blueviolet-60: 271 76% 40%;
  --sf-dark-c-blueviolet-65: 271 76% 35%;
  --sf-dark-c-blueviolet-70: 271 76% 30%;
  --sf-dark-c-blueviolet-75: 271 76% 25%;
  --sf-dark-c-blueviolet-80: 271 76% 20%;
  --sf-dark-c-blueviolet-85: 271 76% 15%;
  --sf-dark-c-blueviolet-90: 271 76% 10%;
  --sf-dark-c-blueviolet-95: 271 76% 5%;
 
  --sf-dark-c-txt-blueviolet: var(--sf-dark-c-blueviolet);
  --sf-dark-c-txt-blueviolet-5: var(--sf-dark-c-blueviolet-5);
  --sf-dark-c-txt-blueviolet-10: var(--sf-dark-c-blueviolet-10);
  --sf-dark-c-txt-blueviolet-15: var(--sf-dark-c-blueviolet-15);
  --sf-dark-c-txt-blueviolet-20: var(--sf-dark-c-blueviolet-20);
  --sf-dark-c-txt-blueviolet-25: var(--sf-dark-c-blueviolet-25);
  --sf-dark-c-txt-blueviolet-30: var(--sf-dark-c-blueviolet-30);
  --sf-dark-c-txt-blueviolet-35: var(--sf-dark-c-blueviolet-35);
  --sf-dark-c-txt-blueviolet-40: var(--sf-dark-c-blueviolet-40);
  --sf-dark-c-txt-blueviolet-45: var(--sf-dark-c-blueviolet-45);
  --sf-dark-c-txt-blueviolet-50: var(--sf-dark-c-blueviolet-50);
  --sf-dark-c-txt-blueviolet-55: var(--sf-dark-c-blueviolet-55);
  --sf-dark-c-txt-blueviolet-60: var(--sf-dark-c-blueviolet-60);
  --sf-dark-c-txt-blueviolet-65: var(--sf-dark-c-blueviolet-65);
  --sf-dark-c-txt-blueviolet-70: var(--sf-dark-c-blueviolet-70);
  --sf-dark-c-txt-blueviolet-75: var(--sf-dark-c-blueviolet-75);
  --sf-dark-c-txt-blueviolet-80: var(--sf-dark-c-blueviolet-80);
  --sf-dark-c-txt-blueviolet-85: var(--sf-dark-c-blueviolet-85);
  --sf-dark-c-txt-blueviolet-90: var(--sf-dark-c-blueviolet-90);
  --sf-dark-c-txt-blueviolet-95: var(--sf-dark-c-blueviolet-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-blueviolet: var(--sf-dark-c-blueviolet);
  --sf-c-blueviolet-5: var(--sf-dark-c-blueviolet-5);
  --sf-c-blueviolet-10: var(--sf-dark-c-blueviolet-10);
  --sf-c-blueviolet-15: var(--sf-dark-c-blueviolet-15);
  --sf-c-blueviolet-20: var(--sf-dark-c-blueviolet-20);
  --sf-c-blueviolet-25: var(--sf-dark-c-blueviolet-25);
  --sf-c-blueviolet-30: var(--sf-dark-c-blueviolet-30);
  --sf-c-blueviolet-35: var(--sf-dark-c-blueviolet-35);
  --sf-c-blueviolet-40: var(--sf-dark-c-blueviolet-40);
  --sf-c-blueviolet-45: var(--sf-dark-c-blueviolet-45);
  --sf-c-blueviolet-50: var(--sf-dark-c-blueviolet-50);
  --sf-c-blueviolet-55: var(--sf-dark-c-blueviolet-55);
  --sf-c-blueviolet-60: var(--sf-dark-c-blueviolet-60);
  --sf-c-blueviolet-65: var(--sf-dark-c-blueviolet-65);
  --sf-c-blueviolet-70: var(--sf-dark-c-blueviolet-70);
  --sf-c-blueviolet-75: var(--sf-dark-c-blueviolet-75);
  --sf-c-blueviolet-80: var(--sf-dark-c-blueviolet-80);
  --sf-c-blueviolet-85: var(--sf-dark-c-blueviolet-85);
  --sf-c-blueviolet-90: var(--sf-dark-c-blueviolet-90);
  --sf-c-blueviolet-95: var(--sf-dark-c-blueviolet-95);
 
  --sf-c-txt-blueviolet: var(--sf-dark-c-txt-blueviolet);
  --sf-c-txt-blueviolet-5: var(--sf-dark-c-txt-blueviolet-5);
  --sf-c-txt-blueviolet-10: var(--sf-dark-c-txt-blueviolet-10);
  --sf-c-txt-blueviolet-15: var(--sf-dark-c-txt-blueviolet-15);
  --sf-c-txt-blueviolet-20: var(--sf-dark-c-txt-blueviolet-20);
  --sf-c-txt-blueviolet-25: var(--sf-dark-c-txt-blueviolet-25);
  --sf-c-txt-blueviolet-30: var(--sf-dark-c-txt-blueviolet-30);
  --sf-c-txt-blueviolet-35: var(--sf-dark-c-txt-blueviolet-35);
  --sf-c-txt-blueviolet-40: var(--sf-dark-c-txt-blueviolet-40);
  --sf-c-txt-blueviolet-45: var(--sf-dark-c-txt-blueviolet-45);
  --sf-c-txt-blueviolet-50: var(--sf-dark-c-txt-blueviolet-50);
  --sf-c-txt-blueviolet-55: var(--sf-dark-c-txt-blueviolet-55);
  --sf-c-txt-blueviolet-60: var(--sf-dark-c-txt-blueviolet-60);
  --sf-c-txt-blueviolet-65: var(--sf-dark-c-txt-blueviolet-65);
  --sf-c-txt-blueviolet-70: var(--sf-dark-c-txt-blueviolet-70);
  --sf-c-txt-blueviolet-75: var(--sf-dark-c-txt-blueviolet-75);
  --sf-c-txt-blueviolet-80: var(--sf-dark-c-txt-blueviolet-80);
  --sf-c-txt-blueviolet-85: var(--sf-dark-c-txt-blueviolet-85);
  --sf-c-txt-blueviolet-90: var(--sf-dark-c-txt-blueviolet-90);
  --sf-c-txt-blueviolet-95: var(--sf-dark-c-txt-blueviolet-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-blueviolet: var(--sf-dark-c-blueviolet);
    --sf-c-blueviolet-5: var(--sf-dark-c-blueviolet-5);
    --sf-c-blueviolet-10: var(--sf-dark-c-blueviolet-10);
    --sf-c-blueviolet-15: var(--sf-dark-c-blueviolet-15);
    --sf-c-blueviolet-20: var(--sf-dark-c-blueviolet-20);
    --sf-c-blueviolet-25: var(--sf-dark-c-blueviolet-25);
    --sf-c-blueviolet-30: var(--sf-dark-c-blueviolet-30);
    --sf-c-blueviolet-35: var(--sf-dark-c-blueviolet-35);
    --sf-c-blueviolet-40: var(--sf-dark-c-blueviolet-40);
    --sf-c-blueviolet-45: var(--sf-dark-c-blueviolet-45);
    --sf-c-blueviolet-50: var(--sf-dark-c-blueviolet-50);
    --sf-c-blueviolet-55: var(--sf-dark-c-blueviolet-55);
    --sf-c-blueviolet-60: var(--sf-dark-c-blueviolet-60);
    --sf-c-blueviolet-65: var(--sf-dark-c-blueviolet-65);
    --sf-c-blueviolet-70: var(--sf-dark-c-blueviolet-70);
    --sf-c-blueviolet-75: var(--sf-dark-c-blueviolet-75);
    --sf-c-blueviolet-80: var(--sf-dark-c-blueviolet-80);
    --sf-c-blueviolet-85: var(--sf-dark-c-blueviolet-85);
    --sf-c-blueviolet-90: var(--sf-dark-c-blueviolet-90);
    --sf-c-blueviolet-95: var(--sf-dark-c-blueviolet-95);
 
    --sf-c-txt-blueviolet: var(--sf-dark-c-txt-blueviolet);
    --sf-c-txt-blueviolet-5: var(--sf-dark-c-txt-blueviolet-5);
    --sf-c-txt-blueviolet-10: var(--sf-dark-c-txt-blueviolet-10);
    --sf-c-txt-blueviolet-15: var(--sf-dark-c-txt-blueviolet-15);
    --sf-c-txt-blueviolet-20: var(--sf-dark-c-txt-blueviolet-20);
    --sf-c-txt-blueviolet-25: var(--sf-dark-c-txt-blueviolet-25);
    --sf-c-txt-blueviolet-30: var(--sf-dark-c-txt-blueviolet-30);
    --sf-c-txt-blueviolet-35: var(--sf-dark-c-txt-blueviolet-35);
    --sf-c-txt-blueviolet-40: var(--sf-dark-c-txt-blueviolet-40);
    --sf-c-txt-blueviolet-45: var(--sf-dark-c-txt-blueviolet-45);
    --sf-c-txt-blueviolet-50: var(--sf-dark-c-txt-blueviolet-50);
    --sf-c-txt-blueviolet-55: var(--sf-dark-c-txt-blueviolet-55);
    --sf-c-txt-blueviolet-60: var(--sf-dark-c-txt-blueviolet-60);
    --sf-c-txt-blueviolet-65: var(--sf-dark-c-txt-blueviolet-65);
    --sf-c-txt-blueviolet-70: var(--sf-dark-c-txt-blueviolet-70);
    --sf-c-txt-blueviolet-75: var(--sf-dark-c-txt-blueviolet-75);
    --sf-c-txt-blueviolet-80: var(--sf-dark-c-txt-blueviolet-80);
    --sf-c-txt-blueviolet-85: var(--sf-dark-c-txt-blueviolet-85);
    --sf-c-txt-blueviolet-90: var(--sf-dark-c-txt-blueviolet-90);
    --sf-c-txt-blueviolet-95: var(--sf-dark-c-txt-blueviolet-95);
  }
}
 
.sf-c-blueviolet { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet)) }
.sf-c-blueviolet\:5 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-5)) }
.sf-c-blueviolet\:10 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-10)) }
.sf-c-blueviolet\:15 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-15)) }
.sf-c-blueviolet\:20 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-20)) }
.sf-c-blueviolet\:25 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-25)) }
.sf-c-blueviolet\:30 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-30)) }
.sf-c-blueviolet\:35 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-35)) }
.sf-c-blueviolet\:40 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-40)) }
.sf-c-blueviolet\:45 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-45)) }
.sf-c-blueviolet\:50 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-50)) }
.sf-c-blueviolet\:55 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-55)) }
.sf-c-blueviolet\:60 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-60)) }
.sf-c-blueviolet\:65 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-65)) }
.sf-c-blueviolet\:70 { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-70)) }
.sf-c-blueviolet\:75 { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-75)) }
.sf-c-blueviolet\:80 { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-80)) }
.sf-c-blueviolet\:85 { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-85)) }
.sf-c-blueviolet\:90 { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-90)) }
.sf-c-blueviolet\:95 { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:5\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-5)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:10\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-10)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:15\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-15)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:20\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-20)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:25\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-25)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:30\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-30)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:35\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-35)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:40\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-40)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:45\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-45)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:50\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-50)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:55\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-55)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:60\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-60)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:65\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-65)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:70\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)); background: hsl(var(--sf-c-blueviolet-70)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:75\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-75)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:80\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-80)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:85\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-85)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:90\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-90)) }
:where([data-theme='dark'], .dark) .sf-c-blueviolet\:95\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)); background: hsl(var(--sf-c-blueviolet-95)) }

.sf-c-txt-blueviolet { color: hsl(var(--sf-c-txt-blueviolet)) }
.sf-c-txt-blueviolet\:5 { color: hsl(var(--sf-c-txt-blueviolet-5)) }
.sf-c-txt-blueviolet\:10 { color: hsl(var(--sf-c-txt-blueviolet-10)) }
.sf-c-txt-blueviolet\:15 { color: hsl(var(--sf-c-txt-blueviolet-15)) }
.sf-c-txt-blueviolet\:20 { color: hsl(var(--sf-c-txt-blueviolet-20)) }
.sf-c-txt-blueviolet\:25 { color: hsl(var(--sf-c-txt-blueviolet-25)) }
.sf-c-txt-blueviolet\:30 { color: hsl(var(--sf-c-txt-blueviolet-30)) }
.sf-c-txt-blueviolet\:35 { color: hsl(var(--sf-c-txt-blueviolet-35)) }
.sf-c-txt-blueviolet\:40 { color: hsl(var(--sf-c-txt-blueviolet-40)) }
.sf-c-txt-blueviolet\:45 { color: hsl(var(--sf-c-txt-blueviolet-45)) }
.sf-c-txt-blueviolet\:50 { color: hsl(var(--sf-c-txt-blueviolet-50)) }
.sf-c-txt-blueviolet\:55 { color: hsl(var(--sf-c-txt-blueviolet-55)) }
.sf-c-txt-blueviolet\:60 { color: hsl(var(--sf-c-txt-blueviolet-60)) }
.sf-c-txt-blueviolet\:65 { color: hsl(var(--sf-c-txt-blueviolet-65)) }
.sf-c-txt-blueviolet\:70 { color: hsl(var(--sf-c-txt-blueviolet-70)) }
.sf-c-txt-blueviolet\:75 { color: hsl(var(--sf-c-txt-blueviolet-75)) }
.sf-c-txt-blueviolet\:80 { color: hsl(var(--sf-c-txt-blueviolet-80)) }
.sf-c-txt-blueviolet\:85 { color: hsl(var(--sf-c-txt-blueviolet-85)) }
.sf-c-txt-blueviolet\:90 { color: hsl(var(--sf-c-txt-blueviolet-90)) }
.sf-c-txt-blueviolet\:95 { color: hsl(var(--sf-c-txt-blueviolet-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:dark { color: hsl(var(--sf-c-txt-blueviolet)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:5\:dark { color: hsl(var(--sf-c-txt-blueviolet-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:10\:dark { color: hsl(var(--sf-c-txt-blueviolet-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:15\:dark { color: hsl(var(--sf-c-txt-blueviolet-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:20\:dark { color: hsl(var(--sf-c-txt-blueviolet-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:25\:dark { color: hsl(var(--sf-c-txt-blueviolet-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:30\:dark { color: hsl(var(--sf-c-txt-blueviolet-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:35\:dark { color: hsl(var(--sf-c-txt-blueviolet-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:40\:dark { color: hsl(var(--sf-c-txt-blueviolet-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:45\:dark { color: hsl(var(--sf-c-txt-blueviolet-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:50\:dark { color: hsl(var(--sf-c-txt-blueviolet-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:55\:dark { color: hsl(var(--sf-c-txt-blueviolet-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:60\:dark { color: hsl(var(--sf-c-txt-blueviolet-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:65\:dark { color: hsl(var(--sf-c-txt-blueviolet-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:70\:dark { color: hsl(var(--sf-c-txt-blueviolet-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:75\:dark { color: hsl(var(--sf-c-txt-blueviolet-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:80\:dark { color: hsl(var(--sf-c-txt-blueviolet-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:85\:dark { color: hsl(var(--sf-c-txt-blueviolet-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:90\:dark { color: hsl(var(--sf-c-txt-blueviolet-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blueviolet\:95\:dark { color: hsl(var(--sf-c-txt-blueviolet-95)) }