:root {
  --sf-c-brown: 0 59% 41%;
  --sf-c-brown-0: 0 59% 0%;
  --sf-c-brown-5: 0 59% 5%;
  --sf-c-brown-10: 0 59% 10%;
  --sf-c-brown-15: 0 59% 15%;
  --sf-c-brown-20: 0 59% 20%;
  --sf-c-brown-25: 0 59% 25%;
  --sf-c-brown-30: 0 59% 30%;
  --sf-c-brown-35: 0 59% 35%;
  --sf-c-brown-40: 0 59% 40%;
  --sf-c-brown-45: 0 59% 45%;
  --sf-c-brown-50: 0 59% 50%;
  --sf-c-brown-55: 0 59% 55%;
  --sf-c-brown-60: 0 59% 60%;
  --sf-c-brown-65: 0 59% 65%;
  --sf-c-brown-70: 0 59% 70%;
  --sf-c-brown-75: 0 59% 75%;
  --sf-c-brown-80: 0 59% 80%;
  --sf-c-brown-85: 0 59% 85%;
  --sf-c-brown-90: 0 59% 90%;
  --sf-c-brown-95: 0 59% 95%;
  --sf-c-brown-100: 0 59% 100%;

  --sf-c-txt-brown: var(--sf-c-brown);
  --sf-c-txt-brown-0: var(--sf-c-brown-0);
  --sf-c-txt-brown-5: var(--sf-c-brown-5);
  --sf-c-txt-brown-10: var(--sf-c-brown-10);
  --sf-c-txt-brown-15: var(--sf-c-brown-15);
  --sf-c-txt-brown-20: var(--sf-c-brown-20);
  --sf-c-txt-brown-25: var(--sf-c-brown-25);
  --sf-c-txt-brown-30: var(--sf-c-brown-30);
  --sf-c-txt-brown-35: var(--sf-c-brown-35);
  --sf-c-txt-brown-40: var(--sf-c-brown-40);
  --sf-c-txt-brown-45: var(--sf-c-brown-45);
  --sf-c-txt-brown-50: var(--sf-c-brown-50);
  --sf-c-txt-brown-55: var(--sf-c-brown-55);
  --sf-c-txt-brown-60: var(--sf-c-brown-60);
  --sf-c-txt-brown-65: var(--sf-c-brown-65);
  --sf-c-txt-brown-70: var(--sf-c-brown-70);
  --sf-c-txt-brown-75: var(--sf-c-brown-75);
  --sf-c-txt-brown-80: var(--sf-c-brown-80);
  --sf-c-txt-brown-85: var(--sf-c-brown-85);
  --sf-c-txt-brown-90: var(--sf-c-brown-90);
  --sf-c-txt-brown-95: var(--sf-c-brown-95);
  --sf-c-txt-brown-100: var(--sf-c-brown-100);

  --sf-dark-c-brown: 0 59% 59%;
  --sf-dark-c-brown-0: 0 59% 0%;
  --sf-dark-c-brown-5: 0 59% 5%;
  --sf-dark-c-brown-10: 0 59% 10%;
  --sf-dark-c-brown-15: 0 59% 15%;
  --sf-dark-c-brown-20: 0 59% 20%;
  --sf-dark-c-brown-25: 0 59% 25%;
  --sf-dark-c-brown-30: 0 59% 30%;
  --sf-dark-c-brown-35: 0 59% 35%;
  --sf-dark-c-brown-40: 0 59% 40%;
  --sf-dark-c-brown-45: 0 59% 45%;
  --sf-dark-c-brown-50: 0 59% 50%;
  --sf-dark-c-brown-55: 0 59% 55%;
  --sf-dark-c-brown-60: 0 59% 60%;
  --sf-dark-c-brown-65: 0 59% 65%;
  --sf-dark-c-brown-70: 0 59% 70%;
  --sf-dark-c-brown-75: 0 59% 75%;
  --sf-dark-c-brown-80: 0 59% 80%;
  --sf-dark-c-brown-85: 0 59% 85%;
  --sf-dark-c-brown-90: 0 59% 90%;
  --sf-dark-c-brown-95: 0 59% 95%;
  --sf-dark-c-brown-100: 0 59% 100%;

  --sf-dark-c-txt-brown: var(--sf-dark-c-brown);
  --sf-dark-c-txt-brown-0: var(--sf-dark-c-brown-0);
  --sf-dark-c-txt-brown-5: var(--sf-dark-c-brown-5);
  --sf-dark-c-txt-brown-10: var(--sf-dark-c-brown-10);
  --sf-dark-c-txt-brown-15: var(--sf-dark-c-brown-15);
  --sf-dark-c-txt-brown-20: var(--sf-dark-c-brown-20);
  --sf-dark-c-txt-brown-25: var(--sf-dark-c-brown-25);
  --sf-dark-c-txt-brown-30: var(--sf-dark-c-brown-30);
  --sf-dark-c-txt-brown-35: var(--sf-dark-c-brown-35);
  --sf-dark-c-txt-brown-40: var(--sf-dark-c-brown-40);
  --sf-dark-c-txt-brown-45: var(--sf-dark-c-brown-45);
  --sf-dark-c-txt-brown-50: var(--sf-dark-c-brown-50);
  --sf-dark-c-txt-brown-55: var(--sf-dark-c-brown-55);
  --sf-dark-c-txt-brown-60: var(--sf-dark-c-brown-60);
  --sf-dark-c-txt-brown-65: var(--sf-dark-c-brown-65);
  --sf-dark-c-txt-brown-70: var(--sf-dark-c-brown-70);
  --sf-dark-c-txt-brown-75: var(--sf-dark-c-brown-75);
  --sf-dark-c-txt-brown-80: var(--sf-dark-c-brown-80);
  --sf-dark-c-txt-brown-85: var(--sf-dark-c-brown-85);
  --sf-dark-c-txt-brown-90: var(--sf-dark-c-brown-90);
  --sf-dark-c-txt-brown-95: var(--sf-dark-c-brown-95);
  --sf-dark-c-txt-brown-100: var(--sf-dark-c-brown-100);
}

.sf-c-brown { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown)) }
.sf-c-brown\:0 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-0)) }
.sf-c-brown\:5 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-5)) }
.sf-c-brown\:10 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-10)) }
.sf-c-brown\:15 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-15)) }
.sf-c-brown\:20 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-20)) }
.sf-c-brown\:25 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-25)) }
.sf-c-brown\:30 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-30)) }
.sf-c-brown\:35 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-35)) }
.sf-c-brown\:40 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-40)) }
.sf-c-brown\:45 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-45)) }
.sf-c-brown\:50 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-50)) }
.sf-c-brown\:55 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-55)) }
.sf-c-brown\:60 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-60)) }
.sf-c-brown\:65 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-65)) }
.sf-c-brown\:70 { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-70)) }
.sf-c-brown\:75 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-75)) }
.sf-c-brown\:80 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-80)) }
.sf-c-brown\:85 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-85)) }
.sf-c-brown\:90 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-90)) }
.sf-c-brown\:95 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-95)) }
.sf-c-brown\:100 { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-100)) }

html.var .sf-c-brown { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 41%) }
html.var .sf-c-brown\:0 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 0%) }
html.var .sf-c-brown\:5 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 5%) }
html.var .sf-c-brown\:10 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 10%) }
html.var .sf-c-brown\:15 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 15%) }
html.var .sf-c-brown\:20 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 20%) }
html.var .sf-c-brown\:25 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 25%) }
html.var .sf-c-brown\:30 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 30%) }
html.var .sf-c-brown\:35 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 35%) }
html.var .sf-c-brown\:40 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 40%) }
html.var .sf-c-brown\:45 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 45%) }
html.var .sf-c-brown\:50 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 50%) }
html.var .sf-c-brown\:55 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 55%) }
html.var .sf-c-brown\:60 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 60%) }
html.var .sf-c-brown\:65 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 65%) }
html.var .sf-c-brown\:70 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 70%) }
html.var .sf-c-brown\:75 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 75%) }
html.var .sf-c-brown\:80 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 80%) }
html.var .sf-c-brown\:85 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 85%) }
html.var .sf-c-brown\:90 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 90%) }
html.var .sf-c-brown\:95 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 95%) }
html.var .sf-c-brown\:100 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 100%) }

html[data-theme='dark'] .sf-c-brown, html.dark .sf-c-brown { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown)) }
html[data-theme='dark'] .sf-c-brown\:0, html.dark .sf-c-brown\:0 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-100)) }
html[data-theme='dark'] .sf-c-brown\:5, html.dark .sf-c-brown\:5 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-95)) }
html[data-theme='dark'] .sf-c-brown\:10, html.dark .sf-c-brown\:10 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-90)) }
html[data-theme='dark'] .sf-c-brown\:15, html.dark .sf-c-brown\:15 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-85)) }
html[data-theme='dark'] .sf-c-brown\:20, html.dark .sf-c-brown\:20 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-80)) }
html[data-theme='dark'] .sf-c-brown\:25, html.dark .sf-c-brown\:25 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-75)) }
html[data-theme='dark'] .sf-c-brown\:30, html.dark .sf-c-brown\:30 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-70)) }
html[data-theme='dark'] .sf-c-brown\:35, html.dark .sf-c-brown\:35 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-65)) }
html[data-theme='dark'] .sf-c-brown\:40, html.dark .sf-c-brown\:40 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-60)) }
html[data-theme='dark'] .sf-c-brown\:45, html.dark .sf-c-brown\:45 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-55)) }
html[data-theme='dark'] .sf-c-brown\:50, html.dark .sf-c-brown\:50 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-50)) }
html[data-theme='dark'] .sf-c-brown\:55, html.dark .sf-c-brown\:55 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-45)) }
html[data-theme='dark'] .sf-c-brown\:60, html.dark .sf-c-brown\:60 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-40)) }
html[data-theme='dark'] .sf-c-brown\:65, html.dark .sf-c-brown\:65 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-35)) }
html[data-theme='dark'] .sf-c-brown\:70, html.dark .sf-c-brown\:70 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-30)) }
html[data-theme='dark'] .sf-c-brown\:75, html.dark .sf-c-brown\:75 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-25)) }
html[data-theme='dark'] .sf-c-brown\:80, html.dark .sf-c-brown\:80 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-20)) }
html[data-theme='dark'] .sf-c-brown\:85, html.dark .sf-c-brown\:85 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-15)) }
html[data-theme='dark'] .sf-c-brown\:90, html.dark .sf-c-brown\:90 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-10)) }
html[data-theme='dark'] .sf-c-brown\:95, html.dark .sf-c-brown\:95 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-5)) }
html[data-theme='dark'] .sf-c-brown\:100, html.dark .sf-c-brown\:100 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-0)) }

html[data-theme='dark'] .sf-c-brown\:dark, html.dark .sf-c-brown\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown)) }
html[data-theme='dark'] .sf-c-brown\:0\:dark, html.dark .sf-c-brown\:0\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-100)) }
html[data-theme='dark'] .sf-c-brown\:5\:dark, html.dark .sf-c-brown\:5\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-95)) }
html[data-theme='dark'] .sf-c-brown\:10\:dark, html.dark .sf-c-brown\:10\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-90)) }
html[data-theme='dark'] .sf-c-brown\:15\:dark, html.dark .sf-c-brown\:15\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-85)) }
html[data-theme='dark'] .sf-c-brown\:20\:dark, html.dark .sf-c-brown\:20\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-80)) }
html[data-theme='dark'] .sf-c-brown\:25\:dark, html.dark .sf-c-brown\:25\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-75)) }
html[data-theme='dark'] .sf-c-brown\:30\:dark, html.dark .sf-c-brown\:30\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-70)) }
html[data-theme='dark'] .sf-c-brown\:35\:dark, html.dark .sf-c-brown\:35\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-65)) }
html[data-theme='dark'] .sf-c-brown\:40\:dark, html.dark .sf-c-brown\:40\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-60)) }
html[data-theme='dark'] .sf-c-brown\:45\:dark, html.dark .sf-c-brown\:45\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-55)) }
html[data-theme='dark'] .sf-c-brown\:50\:dark, html.dark .sf-c-brown\:50\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-50)) }
html[data-theme='dark'] .sf-c-brown\:55\:dark, html.dark .sf-c-brown\:55\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-45)) }
html[data-theme='dark'] .sf-c-brown\:60\:dark, html.dark .sf-c-brown\:60\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-40)) }
html[data-theme='dark'] .sf-c-brown\:65\:dark, html.dark .sf-c-brown\:65\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-35)) }
html[data-theme='dark'] .sf-c-brown\:70\:dark, html.dark .sf-c-brown\:70\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-30)) }
html[data-theme='dark'] .sf-c-brown\:75\:dark, html.dark .sf-c-brown\:75\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-25)) }
html[data-theme='dark'] .sf-c-brown\:80\:dark, html.dark .sf-c-brown\:80\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-20)) }
html[data-theme='dark'] .sf-c-brown\:85\:dark, html.dark .sf-c-brown\:85\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-15)) }
html[data-theme='dark'] .sf-c-brown\:90\:dark, html.dark .sf-c-brown\:90\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-10)) }
html[data-theme='dark'] .sf-c-brown\:95\:dark, html.dark .sf-c-brown\:95\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-5)) }
html[data-theme='dark'] .sf-c-brown\:100\:dark, html.dark .sf-c-brown\:100\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-0)) }

html.var[data-theme='dark'] .sf-c-brown, html.var.dark .sf-c-brown { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 59%) }
html.var[data-theme='dark'] .sf-c-brown\:0, html.var.dark .sf-c-brown\:0 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 100%) }
html.var[data-theme='dark'] .sf-c-brown\:5, html.var.dark .sf-c-brown\:5 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 95%) }
html.var[data-theme='dark'] .sf-c-brown\:10, html.var.dark .sf-c-brown\:10 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 90%) }
html.var[data-theme='dark'] .sf-c-brown\:15, html.var.dark .sf-c-brown\:15 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 85%) }
html.var[data-theme='dark'] .sf-c-brown\:20, html.var.dark .sf-c-brown\:20 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 80%) }
html.var[data-theme='dark'] .sf-c-brown\:25, html.var.dark .sf-c-brown\:25 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 75%) }
html.var[data-theme='dark'] .sf-c-brown\:30, html.var.dark .sf-c-brown\:30 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 70%) }
html.var[data-theme='dark'] .sf-c-brown\:35, html.var.dark .sf-c-brown\:35 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 65%) }
html.var[data-theme='dark'] .sf-c-brown\:40, html.var.dark .sf-c-brown\:40 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 60%) }
html.var[data-theme='dark'] .sf-c-brown\:45, html.var.dark .sf-c-brown\:45 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 55%) }
html.var[data-theme='dark'] .sf-c-brown\:50, html.var.dark .sf-c-brown\:50 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 50%) }
html.var[data-theme='dark'] .sf-c-brown\:55, html.var.dark .sf-c-brown\:55 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 45%) }
html.var[data-theme='dark'] .sf-c-brown\:60, html.var.dark .sf-c-brown\:60 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 40%) }
html.var[data-theme='dark'] .sf-c-brown\:65, html.var.dark .sf-c-brown\:65 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 35%) }
html.var[data-theme='dark'] .sf-c-brown\:70, html.var.dark .sf-c-brown\:70 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 30%) }
html.var[data-theme='dark'] .sf-c-brown\:75, html.var.dark .sf-c-brown\:75 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 25%) }
html.var[data-theme='dark'] .sf-c-brown\:80, html.var.dark .sf-c-brown\:80 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 20%) }
html.var[data-theme='dark'] .sf-c-brown\:85, html.var.dark .sf-c-brown\:85 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 15%) }
html.var[data-theme='dark'] .sf-c-brown\:90, html.var.dark .sf-c-brown\:90 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 10%) }
html.var[data-theme='dark'] .sf-c-brown\:95, html.var.dark .sf-c-brown\:95 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 5%) }
html.var[data-theme='dark'] .sf-c-brown\:100, html.var.dark .sf-c-brown\:100 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 0%) }

html.var[data-theme='dark'] .sf-c-brown\:dark, html.var.dark .sf-c-brown\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 59%) }
html.var[data-theme='dark'] .sf-c-brown\:0\:dark, html.var.dark .sf-c-brown\:0\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 100%) }
html.var[data-theme='dark'] .sf-c-brown\:5\:dark, html.var.dark .sf-c-brown\:5\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 95%) }
html.var[data-theme='dark'] .sf-c-brown\:10\:dark, html.var.dark .sf-c-brown\:10\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 90%) }
html.var[data-theme='dark'] .sf-c-brown\:15\:dark, html.var.dark .sf-c-brown\:15\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 85%) }
html.var[data-theme='dark'] .sf-c-brown\:20\:dark, html.var.dark .sf-c-brown\:20\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 80%) }
html.var[data-theme='dark'] .sf-c-brown\:25\:dark, html.var.dark .sf-c-brown\:25\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 75%) }
html.var[data-theme='dark'] .sf-c-brown\:30\:dark, html.var.dark .sf-c-brown\:30\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 70%) }
html.var[data-theme='dark'] .sf-c-brown\:35\:dark, html.var.dark .sf-c-brown\:35\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 65%) }
html.var[data-theme='dark'] .sf-c-brown\:40\:dark, html.var.dark .sf-c-brown\:40\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 60%) }
html.var[data-theme='dark'] .sf-c-brown\:45\:dark, html.var.dark .sf-c-brown\:45\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 55%) }
html.var[data-theme='dark'] .sf-c-brown\:50\:dark, html.var.dark .sf-c-brown\:50\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 50%) }
html.var[data-theme='dark'] .sf-c-brown\:55\:dark, html.var.dark .sf-c-brown\:55\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 45%) }
html.var[data-theme='dark'] .sf-c-brown\:60\:dark, html.var.dark .sf-c-brown\:60\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 40%) }
html.var[data-theme='dark'] .sf-c-brown\:65\:dark, html.var.dark .sf-c-brown\:65\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 35%) }
html.var[data-theme='dark'] .sf-c-brown\:70\:dark, html.var.dark .sf-c-brown\:70\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 30%) }
html.var[data-theme='dark'] .sf-c-brown\:75\:dark, html.var.dark .sf-c-brown\:75\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 25%) }
html.var[data-theme='dark'] .sf-c-brown\:80\:dark, html.var.dark .sf-c-brown\:80\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 20%) }
html.var[data-theme='dark'] .sf-c-brown\:85\:dark, html.var.dark .sf-c-brown\:85\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 15%) }
html.var[data-theme='dark'] .sf-c-brown\:90\:dark, html.var.dark .sf-c-brown\:90\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 10%) }
html.var[data-theme='dark'] .sf-c-brown\:95\:dark, html.var.dark .sf-c-brown\:95\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 5%) }
html.var[data-theme='dark'] .sf-c-brown\:100\:dark, html.var.dark .sf-c-brown\:100\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-brown, html.auto .sf-c-brown { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown)) }
  html[data-theme='auto'] .sf-c-brown\:0, html.auto .sf-c-brown\:0 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-100)) }
  html[data-theme='auto'] .sf-c-brown\:5, html.auto .sf-c-brown\:5 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-95)) }
  html[data-theme='auto'] .sf-c-brown\:10, html.auto .sf-c-brown\:10 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-90)) }
  html[data-theme='auto'] .sf-c-brown\:15, html.auto .sf-c-brown\:15 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-85)) }
  html[data-theme='auto'] .sf-c-brown\:20, html.auto .sf-c-brown\:20 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-80)) }
  html[data-theme='auto'] .sf-c-brown\:25, html.auto .sf-c-brown\:25 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-75)) }
  html[data-theme='auto'] .sf-c-brown\:30, html.auto .sf-c-brown\:30 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-70)) }
  html[data-theme='auto'] .sf-c-brown\:35, html.auto .sf-c-brown\:35 { color: hsl(var(--sf-dark-c-txt-brown-5)); background: hsl(var(--sf-dark-c-brown-65)) }
  html[data-theme='auto'] .sf-c-brown\:40, html.auto .sf-c-brown\:40 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-60)) }
  html[data-theme='auto'] .sf-c-brown\:45, html.auto .sf-c-brown\:45 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-55)) }
  html[data-theme='auto'] .sf-c-brown\:50, html.auto .sf-c-brown\:50 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-50)) }
  html[data-theme='auto'] .sf-c-brown\:55, html.auto .sf-c-brown\:55 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-45)) }
  html[data-theme='auto'] .sf-c-brown\:60, html.auto .sf-c-brown\:60 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-40)) }
  html[data-theme='auto'] .sf-c-brown\:65, html.auto .sf-c-brown\:65 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-35)) }
  html[data-theme='auto'] .sf-c-brown\:70, html.auto .sf-c-brown\:70 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-30)) }
  html[data-theme='auto'] .sf-c-brown\:75, html.auto .sf-c-brown\:75 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-25)) }
  html[data-theme='auto'] .sf-c-brown\:80, html.auto .sf-c-brown\:80 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-20)) }
  html[data-theme='auto'] .sf-c-brown\:85, html.auto .sf-c-brown\:85 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-15)) }
  html[data-theme='auto'] .sf-c-brown\:90, html.auto .sf-c-brown\:90 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-10)) }
  html[data-theme='auto'] .sf-c-brown\:95, html.auto .sf-c-brown\:95 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-5)) }
  html[data-theme='auto'] .sf-c-brown\:100, html.auto .sf-c-brown\:100 { color: hsl(var(--sf-dark-c-txt-brown-95)); background: hsl(var(--sf-dark-c-brown-0)) }

  html[data-theme='auto'] .sf-c-brown\:dark, html.auto .sf-c-brown\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown)) }
  html[data-theme='auto'] .sf-c-brown\:0\:dark, html.auto .sf-c-brown\:0\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-100)) }
  html[data-theme='auto'] .sf-c-brown\:5\:dark, html.auto .sf-c-brown\:5\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-95)) }
  html[data-theme='auto'] .sf-c-brown\:10\:dark, html.auto .sf-c-brown\:10\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-90)) }
  html[data-theme='auto'] .sf-c-brown\:15\:dark, html.auto .sf-c-brown\:15\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-85)) }
  html[data-theme='auto'] .sf-c-brown\:20\:dark, html.auto .sf-c-brown\:20\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-80)) }
  html[data-theme='auto'] .sf-c-brown\:25\:dark, html.auto .sf-c-brown\:25\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-75)) }
  html[data-theme='auto'] .sf-c-brown\:30\:dark, html.auto .sf-c-brown\:30\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-70)) }
  html[data-theme='auto'] .sf-c-brown\:35\:dark, html.auto .sf-c-brown\:35\:dark { color: hsl(var(--sf-c-txt-brown-5)); background: hsl(var(--sf-c-brown-65)) }
  html[data-theme='auto'] .sf-c-brown\:40\:dark, html.auto .sf-c-brown\:40\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-60)) }
  html[data-theme='auto'] .sf-c-brown\:45\:dark, html.auto .sf-c-brown\:45\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-55)) }
  html[data-theme='auto'] .sf-c-brown\:50\:dark, html.auto .sf-c-brown\:50\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-50)) }
  html[data-theme='auto'] .sf-c-brown\:55\:dark, html.auto .sf-c-brown\:55\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-45)) }
  html[data-theme='auto'] .sf-c-brown\:60\:dark, html.auto .sf-c-brown\:60\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-40)) }
  html[data-theme='auto'] .sf-c-brown\:65\:dark, html.auto .sf-c-brown\:65\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-35)) }
  html[data-theme='auto'] .sf-c-brown\:70\:dark, html.auto .sf-c-brown\:70\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-30)) }
  html[data-theme='auto'] .sf-c-brown\:75\:dark, html.auto .sf-c-brown\:75\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-25)) }
  html[data-theme='auto'] .sf-c-brown\:80\:dark, html.auto .sf-c-brown\:80\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-20)) }
  html[data-theme='auto'] .sf-c-brown\:85\:dark, html.auto .sf-c-brown\:85\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-15)) }
  html[data-theme='auto'] .sf-c-brown\:90\:dark, html.auto .sf-c-brown\:90\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-10)) }
  html[data-theme='auto'] .sf-c-brown\:95\:dark, html.auto .sf-c-brown\:95\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-5)) }
  html[data-theme='auto'] .sf-c-brown\:100\:dark, html.auto .sf-c-brown\:100\:dark { color: hsl(var(--sf-c-txt-brown-95)); background: hsl(var(--sf-c-brown-0)) }

  html.var[data-theme='auto'] .sf-c-brown, html.var.auto .sf-c-brown { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 59%) }
  html.var[data-theme='auto'] .sf-c-brown\:0, html.var.auto .sf-c-brown\:0 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 100%) }
  html.var[data-theme='auto'] .sf-c-brown\:5, html.var.auto .sf-c-brown\:5 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 95%) }
  html.var[data-theme='auto'] .sf-c-brown\:10, html.var.auto .sf-c-brown\:10 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 90%) }
  html.var[data-theme='auto'] .sf-c-brown\:15, html.var.auto .sf-c-brown\:15 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 85%) }
  html.var[data-theme='auto'] .sf-c-brown\:20, html.var.auto .sf-c-brown\:20 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 80%) }
  html.var[data-theme='auto'] .sf-c-brown\:25, html.var.auto .sf-c-brown\:25 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 75%) }
  html.var[data-theme='auto'] .sf-c-brown\:30, html.var.auto .sf-c-brown\:30 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 70%) }
  html.var[data-theme='auto'] .sf-c-brown\:35, html.var.auto .sf-c-brown\:35 { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 65%) }
  html.var[data-theme='auto'] .sf-c-brown\:40, html.var.auto .sf-c-brown\:40 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 60%) }
  html.var[data-theme='auto'] .sf-c-brown\:45, html.var.auto .sf-c-brown\:45 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 55%) }
  html.var[data-theme='auto'] .sf-c-brown\:50, html.var.auto .sf-c-brown\:50 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 50%) }
  html.var[data-theme='auto'] .sf-c-brown\:55, html.var.auto .sf-c-brown\:55 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 45%) }
  html.var[data-theme='auto'] .sf-c-brown\:60, html.var.auto .sf-c-brown\:60 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 40%) }
  html.var[data-theme='auto'] .sf-c-brown\:65, html.var.auto .sf-c-brown\:65 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 35%) }
  html.var[data-theme='auto'] .sf-c-brown\:70, html.var.auto .sf-c-brown\:70 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 30%) }
  html.var[data-theme='auto'] .sf-c-brown\:75, html.var.auto .sf-c-brown\:75 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 25%) }
  html.var[data-theme='auto'] .sf-c-brown\:80, html.var.auto .sf-c-brown\:80 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 20%) }
  html.var[data-theme='auto'] .sf-c-brown\:85, html.var.auto .sf-c-brown\:85 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 15%) }
  html.var[data-theme='auto'] .sf-c-brown\:90, html.var.auto .sf-c-brown\:90 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 10%) }
  html.var[data-theme='auto'] .sf-c-brown\:95, html.var.auto .sf-c-brown\:95 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 5%) }
  html.var[data-theme='auto'] .sf-c-brown\:100, html.var.auto .sf-c-brown\:100 { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 0%) }

  html.var[data-theme='auto'] .sf-c-brown\:dark, html.var.auto .sf-c-brown\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 59%) }
  html.var[data-theme='auto'] .sf-c-brown\:0\:dark, html.var.auto .sf-c-brown\:0\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 100%) }
  html.var[data-theme='auto'] .sf-c-brown\:5\:dark, html.var.auto .sf-c-brown\:5\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 95%) }
  html.var[data-theme='auto'] .sf-c-brown\:10\:dark, html.var.auto .sf-c-brown\:10\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 90%) }
  html.var[data-theme='auto'] .sf-c-brown\:15\:dark, html.var.auto .sf-c-brown\:15\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 85%) }
  html.var[data-theme='auto'] .sf-c-brown\:20\:dark, html.var.auto .sf-c-brown\:20\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 80%) }
  html.var[data-theme='auto'] .sf-c-brown\:25\:dark, html.var.auto .sf-c-brown\:25\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 75%) }
  html.var[data-theme='auto'] .sf-c-brown\:30\:dark, html.var.auto .sf-c-brown\:30\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 70%) }
  html.var[data-theme='auto'] .sf-c-brown\:35\:dark, html.var.auto .sf-c-brown\:35\:dark { color: hsl(0, 59%, 5%); background: hsl(0, 59%, 65%) }
  html.var[data-theme='auto'] .sf-c-brown\:40\:dark, html.var.auto .sf-c-brown\:40\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 60%) }
  html.var[data-theme='auto'] .sf-c-brown\:45\:dark, html.var.auto .sf-c-brown\:45\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 55%) }
  html.var[data-theme='auto'] .sf-c-brown\:50\:dark, html.var.auto .sf-c-brown\:50\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 50%) }
  html.var[data-theme='auto'] .sf-c-brown\:55\:dark, html.var.auto .sf-c-brown\:55\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 45%) }
  html.var[data-theme='auto'] .sf-c-brown\:60\:dark, html.var.auto .sf-c-brown\:60\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 40%) }
  html.var[data-theme='auto'] .sf-c-brown\:65\:dark, html.var.auto .sf-c-brown\:65\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 35%) }
  html.var[data-theme='auto'] .sf-c-brown\:70\:dark, html.var.auto .sf-c-brown\:70\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 30%) }
  html.var[data-theme='auto'] .sf-c-brown\:75\:dark, html.var.auto .sf-c-brown\:75\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 25%) }
  html.var[data-theme='auto'] .sf-c-brown\:80\:dark, html.var.auto .sf-c-brown\:80\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 20%) }
  html.var[data-theme='auto'] .sf-c-brown\:85\:dark, html.var.auto .sf-c-brown\:85\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 15%) }
  html.var[data-theme='auto'] .sf-c-brown\:90\:dark, html.var.auto .sf-c-brown\:90\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 10%) }
  html.var[data-theme='auto'] .sf-c-brown\:95\:dark, html.var.auto .sf-c-brown\:95\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 5%) }
  html.var[data-theme='auto'] .sf-c-brown\:100\:dark, html.var.auto .sf-c-brown\:100\:dark { color: hsl(0, 59%, 95%); background: hsl(0, 59%, 0%) }
}

.sf-c-txt-brown { color: hsl(var(--sf-c-txt-brown)) }
.sf-c-txt-brown\:0 { color: hsl(var(--sf-c-txt-brown-0)) }
.sf-c-txt-brown\:5 { color: hsl(var(--sf-c-txt-brown-5)) }
.sf-c-txt-brown\:10 { color: hsl(var(--sf-c-txt-brown-10)) }
.sf-c-txt-brown\:15 { color: hsl(var(--sf-c-txt-brown-15)) }
.sf-c-txt-brown\:20 { color: hsl(var(--sf-c-txt-brown-20)) }
.sf-c-txt-brown\:25 { color: hsl(var(--sf-c-txt-brown-25)) }
.sf-c-txt-brown\:30 { color: hsl(var(--sf-c-txt-brown-30)) }
.sf-c-txt-brown\:35 { color: hsl(var(--sf-c-txt-brown-35)) }
.sf-c-txt-brown\:40 { color: hsl(var(--sf-c-txt-brown-40)) }
.sf-c-txt-brown\:45 { color: hsl(var(--sf-c-txt-brown-45)) }
.sf-c-txt-brown\:50 { color: hsl(var(--sf-c-txt-brown-50)) }
.sf-c-txt-brown\:55 { color: hsl(var(--sf-c-txt-brown-55)) }
.sf-c-txt-brown\:60 { color: hsl(var(--sf-c-txt-brown-60)) }
.sf-c-txt-brown\:65 { color: hsl(var(--sf-c-txt-brown-65)) }
.sf-c-txt-brown\:70 { color: hsl(var(--sf-c-txt-brown-70)) }
.sf-c-txt-brown\:75 { color: hsl(var(--sf-c-txt-brown-75)) }
.sf-c-txt-brown\:80 { color: hsl(var(--sf-c-txt-brown-80)) }
.sf-c-txt-brown\:85 { color: hsl(var(--sf-c-txt-brown-85)) }
.sf-c-txt-brown\:90 { color: hsl(var(--sf-c-txt-brown-90)) }
.sf-c-txt-brown\:95 { color: hsl(var(--sf-c-txt-brown-95)) }
.sf-c-txt-brown\:100 { color: hsl(var(--sf-c-txt-brown-100)) }