:root {
  --sf-c-coral: 16 100% 66%;
  --sf-c-coral-5: 16 100% 5%;
  --sf-c-coral-10: 16 100% 10%;
  --sf-c-coral-15: 16 100% 15%;
  --sf-c-coral-20: 16 100% 20%;
  --sf-c-coral-25: 16 100% 25%;
  --sf-c-coral-30: 16 100% 30%;
  --sf-c-coral-35: 16 100% 35%;
  --sf-c-coral-40: 16 100% 40%;
  --sf-c-coral-45: 16 100% 45%;
  --sf-c-coral-50: 16 100% 50%;
  --sf-c-coral-55: 16 100% 55%;
  --sf-c-coral-60: 16 100% 60%;
  --sf-c-coral-65: 16 100% 65%;
  --sf-c-coral-70: 16 100% 70%;
  --sf-c-coral-75: 16 100% 75%;
  --sf-c-coral-80: 16 100% 80%;
  --sf-c-coral-85: 16 100% 85%;
  --sf-c-coral-90: 16 100% 90%;
  --sf-c-coral-95: 16 100% 95%;
 
  --sf-c-txt-coral: var(--sf-c-coral);
  --sf-c-txt-coral-5: var(--sf-c-coral-5);
  --sf-c-txt-coral-10: var(--sf-c-coral-10);
  --sf-c-txt-coral-15: var(--sf-c-coral-15);
  --sf-c-txt-coral-20: var(--sf-c-coral-20);
  --sf-c-txt-coral-25: var(--sf-c-coral-25);
  --sf-c-txt-coral-30: var(--sf-c-coral-30);
  --sf-c-txt-coral-35: var(--sf-c-coral-35);
  --sf-c-txt-coral-40: var(--sf-c-coral-40);
  --sf-c-txt-coral-45: var(--sf-c-coral-45);
  --sf-c-txt-coral-50: var(--sf-c-coral-50);
  --sf-c-txt-coral-55: var(--sf-c-coral-55);
  --sf-c-txt-coral-60: var(--sf-c-coral-60);
  --sf-c-txt-coral-65: var(--sf-c-coral-65);
  --sf-c-txt-coral-70: var(--sf-c-coral-70);
  --sf-c-txt-coral-75: var(--sf-c-coral-75);
  --sf-c-txt-coral-80: var(--sf-c-coral-80);
  --sf-c-txt-coral-85: var(--sf-c-coral-85);
  --sf-c-txt-coral-90: var(--sf-c-coral-90);
  --sf-c-txt-coral-95: var(--sf-c-coral-95);
 
  --sf-dark-c-coral: 16 100% 34%;
  --sf-dark-c-coral-5: 16 100% 95%;
  --sf-dark-c-coral-10: 16 100% 90%;
  --sf-dark-c-coral-15: 16 100% 85%;
  --sf-dark-c-coral-20: 16 100% 80%;
  --sf-dark-c-coral-25: 16 100% 75%;
  --sf-dark-c-coral-30: 16 100% 70%;
  --sf-dark-c-coral-35: 16 100% 65%;
  --sf-dark-c-coral-40: 16 100% 60%;
  --sf-dark-c-coral-45: 16 100% 55%;
  --sf-dark-c-coral-50: 16 100% 50%;
  --sf-dark-c-coral-55: 16 100% 45%;
  --sf-dark-c-coral-60: 16 100% 40%;
  --sf-dark-c-coral-65: 16 100% 35%;
  --sf-dark-c-coral-70: 16 100% 30%;
  --sf-dark-c-coral-75: 16 100% 25%;
  --sf-dark-c-coral-80: 16 100% 20%;
  --sf-dark-c-coral-85: 16 100% 15%;
  --sf-dark-c-coral-90: 16 100% 10%;
  --sf-dark-c-coral-95: 16 100% 5%;
 
  --sf-dark-c-txt-coral: var(--sf-dark-c-coral);
  --sf-dark-c-txt-coral-5: var(--sf-dark-c-coral-5);
  --sf-dark-c-txt-coral-10: var(--sf-dark-c-coral-10);
  --sf-dark-c-txt-coral-15: var(--sf-dark-c-coral-15);
  --sf-dark-c-txt-coral-20: var(--sf-dark-c-coral-20);
  --sf-dark-c-txt-coral-25: var(--sf-dark-c-coral-25);
  --sf-dark-c-txt-coral-30: var(--sf-dark-c-coral-30);
  --sf-dark-c-txt-coral-35: var(--sf-dark-c-coral-35);
  --sf-dark-c-txt-coral-40: var(--sf-dark-c-coral-40);
  --sf-dark-c-txt-coral-45: var(--sf-dark-c-coral-45);
  --sf-dark-c-txt-coral-50: var(--sf-dark-c-coral-50);
  --sf-dark-c-txt-coral-55: var(--sf-dark-c-coral-55);
  --sf-dark-c-txt-coral-60: var(--sf-dark-c-coral-60);
  --sf-dark-c-txt-coral-65: var(--sf-dark-c-coral-65);
  --sf-dark-c-txt-coral-70: var(--sf-dark-c-coral-70);
  --sf-dark-c-txt-coral-75: var(--sf-dark-c-coral-75);
  --sf-dark-c-txt-coral-80: var(--sf-dark-c-coral-80);
  --sf-dark-c-txt-coral-85: var(--sf-dark-c-coral-85);
  --sf-dark-c-txt-coral-90: var(--sf-dark-c-coral-90);
  --sf-dark-c-txt-coral-95: var(--sf-dark-c-coral-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-coral: var(--sf-dark-c-coral);
  --sf-c-coral-5: var(--sf-dark-c-coral-5);
  --sf-c-coral-10: var(--sf-dark-c-coral-10);
  --sf-c-coral-15: var(--sf-dark-c-coral-15);
  --sf-c-coral-20: var(--sf-dark-c-coral-20);
  --sf-c-coral-25: var(--sf-dark-c-coral-25);
  --sf-c-coral-30: var(--sf-dark-c-coral-30);
  --sf-c-coral-35: var(--sf-dark-c-coral-35);
  --sf-c-coral-40: var(--sf-dark-c-coral-40);
  --sf-c-coral-45: var(--sf-dark-c-coral-45);
  --sf-c-coral-50: var(--sf-dark-c-coral-50);
  --sf-c-coral-55: var(--sf-dark-c-coral-55);
  --sf-c-coral-60: var(--sf-dark-c-coral-60);
  --sf-c-coral-65: var(--sf-dark-c-coral-65);
  --sf-c-coral-70: var(--sf-dark-c-coral-70);
  --sf-c-coral-75: var(--sf-dark-c-coral-75);
  --sf-c-coral-80: var(--sf-dark-c-coral-80);
  --sf-c-coral-85: var(--sf-dark-c-coral-85);
  --sf-c-coral-90: var(--sf-dark-c-coral-90);
  --sf-c-coral-95: var(--sf-dark-c-coral-95);
 
  --sf-c-txt-coral: var(--sf-dark-c-txt-coral);
  --sf-c-txt-coral-5: var(--sf-dark-c-txt-coral-5);
  --sf-c-txt-coral-10: var(--sf-dark-c-txt-coral-10);
  --sf-c-txt-coral-15: var(--sf-dark-c-txt-coral-15);
  --sf-c-txt-coral-20: var(--sf-dark-c-txt-coral-20);
  --sf-c-txt-coral-25: var(--sf-dark-c-txt-coral-25);
  --sf-c-txt-coral-30: var(--sf-dark-c-txt-coral-30);
  --sf-c-txt-coral-35: var(--sf-dark-c-txt-coral-35);
  --sf-c-txt-coral-40: var(--sf-dark-c-txt-coral-40);
  --sf-c-txt-coral-45: var(--sf-dark-c-txt-coral-45);
  --sf-c-txt-coral-50: var(--sf-dark-c-txt-coral-50);
  --sf-c-txt-coral-55: var(--sf-dark-c-txt-coral-55);
  --sf-c-txt-coral-60: var(--sf-dark-c-txt-coral-60);
  --sf-c-txt-coral-65: var(--sf-dark-c-txt-coral-65);
  --sf-c-txt-coral-70: var(--sf-dark-c-txt-coral-70);
  --sf-c-txt-coral-75: var(--sf-dark-c-txt-coral-75);
  --sf-c-txt-coral-80: var(--sf-dark-c-txt-coral-80);
  --sf-c-txt-coral-85: var(--sf-dark-c-txt-coral-85);
  --sf-c-txt-coral-90: var(--sf-dark-c-txt-coral-90);
  --sf-c-txt-coral-95: var(--sf-dark-c-txt-coral-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-coral: var(--sf-dark-c-coral);
    --sf-c-coral-5: var(--sf-dark-c-coral-5);
    --sf-c-coral-10: var(--sf-dark-c-coral-10);
    --sf-c-coral-15: var(--sf-dark-c-coral-15);
    --sf-c-coral-20: var(--sf-dark-c-coral-20);
    --sf-c-coral-25: var(--sf-dark-c-coral-25);
    --sf-c-coral-30: var(--sf-dark-c-coral-30);
    --sf-c-coral-35: var(--sf-dark-c-coral-35);
    --sf-c-coral-40: var(--sf-dark-c-coral-40);
    --sf-c-coral-45: var(--sf-dark-c-coral-45);
    --sf-c-coral-50: var(--sf-dark-c-coral-50);
    --sf-c-coral-55: var(--sf-dark-c-coral-55);
    --sf-c-coral-60: var(--sf-dark-c-coral-60);
    --sf-c-coral-65: var(--sf-dark-c-coral-65);
    --sf-c-coral-70: var(--sf-dark-c-coral-70);
    --sf-c-coral-75: var(--sf-dark-c-coral-75);
    --sf-c-coral-80: var(--sf-dark-c-coral-80);
    --sf-c-coral-85: var(--sf-dark-c-coral-85);
    --sf-c-coral-90: var(--sf-dark-c-coral-90);
    --sf-c-coral-95: var(--sf-dark-c-coral-95);
 
    --sf-c-txt-coral: var(--sf-dark-c-txt-coral);
    --sf-c-txt-coral-5: var(--sf-dark-c-txt-coral-5);
    --sf-c-txt-coral-10: var(--sf-dark-c-txt-coral-10);
    --sf-c-txt-coral-15: var(--sf-dark-c-txt-coral-15);
    --sf-c-txt-coral-20: var(--sf-dark-c-txt-coral-20);
    --sf-c-txt-coral-25: var(--sf-dark-c-txt-coral-25);
    --sf-c-txt-coral-30: var(--sf-dark-c-txt-coral-30);
    --sf-c-txt-coral-35: var(--sf-dark-c-txt-coral-35);
    --sf-c-txt-coral-40: var(--sf-dark-c-txt-coral-40);
    --sf-c-txt-coral-45: var(--sf-dark-c-txt-coral-45);
    --sf-c-txt-coral-50: var(--sf-dark-c-txt-coral-50);
    --sf-c-txt-coral-55: var(--sf-dark-c-txt-coral-55);
    --sf-c-txt-coral-60: var(--sf-dark-c-txt-coral-60);
    --sf-c-txt-coral-65: var(--sf-dark-c-txt-coral-65);
    --sf-c-txt-coral-70: var(--sf-dark-c-txt-coral-70);
    --sf-c-txt-coral-75: var(--sf-dark-c-txt-coral-75);
    --sf-c-txt-coral-80: var(--sf-dark-c-txt-coral-80);
    --sf-c-txt-coral-85: var(--sf-dark-c-txt-coral-85);
    --sf-c-txt-coral-90: var(--sf-dark-c-txt-coral-90);
    --sf-c-txt-coral-95: var(--sf-dark-c-txt-coral-95);
  }
}
 
.sf-c-coral { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral)) }
.sf-c-coral\:5 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-5)) }
.sf-c-coral\:10 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-10)) }
.sf-c-coral\:15 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-15)) }
.sf-c-coral\:20 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-20)) }
.sf-c-coral\:25 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-25)) }
.sf-c-coral\:30 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-30)) }
.sf-c-coral\:35 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-35)) }
.sf-c-coral\:40 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-40)) }
.sf-c-coral\:45 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-45)) }
.sf-c-coral\:50 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-50)) }
.sf-c-coral\:55 { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-55)) }
.sf-c-coral\:60 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-60)) }
.sf-c-coral\:65 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-65)) }
.sf-c-coral\:70 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-70)) }
.sf-c-coral\:75 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-75)) }
.sf-c-coral\:80 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-80)) }
.sf-c-coral\:85 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-85)) }
.sf-c-coral\:90 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-90)) }
.sf-c-coral\:95 { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-coral\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:5\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-5)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:10\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-10)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:15\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-15)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:20\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-20)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:25\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-25)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:30\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-30)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:35\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-35)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:40\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-40)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:45\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-45)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:50\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-50)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:55\:dark { color: hsl(var(--sf-c-txt-coral-95)); background: hsl(var(--sf-c-coral-55)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:60\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-60)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:65\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-65)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:70\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-70)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:75\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-75)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:80\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-80)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:85\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-85)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:90\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-90)) }
:where([data-theme='dark'], .dark) .sf-c-coral\:95\:dark { color: hsl(var(--sf-c-txt-coral-5)); background: hsl(var(--sf-c-coral-95)) }

.sf-c-txt-coral { color: hsl(var(--sf-c-txt-coral)) }
.sf-c-txt-coral\:5 { color: hsl(var(--sf-c-txt-coral-5)) }
.sf-c-txt-coral\:10 { color: hsl(var(--sf-c-txt-coral-10)) }
.sf-c-txt-coral\:15 { color: hsl(var(--sf-c-txt-coral-15)) }
.sf-c-txt-coral\:20 { color: hsl(var(--sf-c-txt-coral-20)) }
.sf-c-txt-coral\:25 { color: hsl(var(--sf-c-txt-coral-25)) }
.sf-c-txt-coral\:30 { color: hsl(var(--sf-c-txt-coral-30)) }
.sf-c-txt-coral\:35 { color: hsl(var(--sf-c-txt-coral-35)) }
.sf-c-txt-coral\:40 { color: hsl(var(--sf-c-txt-coral-40)) }
.sf-c-txt-coral\:45 { color: hsl(var(--sf-c-txt-coral-45)) }
.sf-c-txt-coral\:50 { color: hsl(var(--sf-c-txt-coral-50)) }
.sf-c-txt-coral\:55 { color: hsl(var(--sf-c-txt-coral-55)) }
.sf-c-txt-coral\:60 { color: hsl(var(--sf-c-txt-coral-60)) }
.sf-c-txt-coral\:65 { color: hsl(var(--sf-c-txt-coral-65)) }
.sf-c-txt-coral\:70 { color: hsl(var(--sf-c-txt-coral-70)) }
.sf-c-txt-coral\:75 { color: hsl(var(--sf-c-txt-coral-75)) }
.sf-c-txt-coral\:80 { color: hsl(var(--sf-c-txt-coral-80)) }
.sf-c-txt-coral\:85 { color: hsl(var(--sf-c-txt-coral-85)) }
.sf-c-txt-coral\:90 { color: hsl(var(--sf-c-txt-coral-90)) }
.sf-c-txt-coral\:95 { color: hsl(var(--sf-c-txt-coral-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:dark { color: hsl(var(--sf-c-txt-coral)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:5\:dark { color: hsl(var(--sf-c-txt-coral-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:10\:dark { color: hsl(var(--sf-c-txt-coral-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:15\:dark { color: hsl(var(--sf-c-txt-coral-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:20\:dark { color: hsl(var(--sf-c-txt-coral-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:25\:dark { color: hsl(var(--sf-c-txt-coral-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:30\:dark { color: hsl(var(--sf-c-txt-coral-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:35\:dark { color: hsl(var(--sf-c-txt-coral-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:40\:dark { color: hsl(var(--sf-c-txt-coral-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:45\:dark { color: hsl(var(--sf-c-txt-coral-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:50\:dark { color: hsl(var(--sf-c-txt-coral-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:55\:dark { color: hsl(var(--sf-c-txt-coral-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:60\:dark { color: hsl(var(--sf-c-txt-coral-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:65\:dark { color: hsl(var(--sf-c-txt-coral-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:70\:dark { color: hsl(var(--sf-c-txt-coral-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:75\:dark { color: hsl(var(--sf-c-txt-coral-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:80\:dark { color: hsl(var(--sf-c-txt-coral-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:85\:dark { color: hsl(var(--sf-c-txt-coral-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:90\:dark { color: hsl(var(--sf-c-txt-coral-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-coral\:95\:dark { color: hsl(var(--sf-c-txt-coral-95)) }