:root {
  --sf-c-darkblue: 240 100% 27%;
  --sf-c-darkblue-0: 240 100% 0%;
  --sf-c-darkblue-5: 240 100% 5%;
  --sf-c-darkblue-10: 240 100% 10%;
  --sf-c-darkblue-15: 240 100% 15%;
  --sf-c-darkblue-20: 240 100% 20%;
  --sf-c-darkblue-25: 240 100% 25%;
  --sf-c-darkblue-30: 240 100% 30%;
  --sf-c-darkblue-35: 240 100% 35%;
  --sf-c-darkblue-40: 240 100% 40%;
  --sf-c-darkblue-45: 240 100% 45%;
  --sf-c-darkblue-50: 240 100% 50%;
  --sf-c-darkblue-55: 240 100% 55%;
  --sf-c-darkblue-60: 240 100% 60%;
  --sf-c-darkblue-65: 240 100% 65%;
  --sf-c-darkblue-70: 240 100% 70%;
  --sf-c-darkblue-75: 240 100% 75%;
  --sf-c-darkblue-80: 240 100% 80%;
  --sf-c-darkblue-85: 240 100% 85%;
  --sf-c-darkblue-90: 240 100% 90%;
  --sf-c-darkblue-95: 240 100% 95%;
  --sf-c-darkblue-100: 240 100% 100%;

  --sf-c-txt-darkblue: var(--sf-c-darkblue);
  --sf-c-txt-darkblue-0: var(--sf-c-darkblue-0);
  --sf-c-txt-darkblue-5: var(--sf-c-darkblue-5);
  --sf-c-txt-darkblue-10: var(--sf-c-darkblue-10);
  --sf-c-txt-darkblue-15: var(--sf-c-darkblue-15);
  --sf-c-txt-darkblue-20: var(--sf-c-darkblue-20);
  --sf-c-txt-darkblue-25: var(--sf-c-darkblue-25);
  --sf-c-txt-darkblue-30: var(--sf-c-darkblue-30);
  --sf-c-txt-darkblue-35: var(--sf-c-darkblue-35);
  --sf-c-txt-darkblue-40: var(--sf-c-darkblue-40);
  --sf-c-txt-darkblue-45: var(--sf-c-darkblue-45);
  --sf-c-txt-darkblue-50: var(--sf-c-darkblue-50);
  --sf-c-txt-darkblue-55: var(--sf-c-darkblue-55);
  --sf-c-txt-darkblue-60: var(--sf-c-darkblue-60);
  --sf-c-txt-darkblue-65: var(--sf-c-darkblue-65);
  --sf-c-txt-darkblue-70: var(--sf-c-darkblue-70);
  --sf-c-txt-darkblue-75: var(--sf-c-darkblue-75);
  --sf-c-txt-darkblue-80: var(--sf-c-darkblue-80);
  --sf-c-txt-darkblue-85: var(--sf-c-darkblue-85);
  --sf-c-txt-darkblue-90: var(--sf-c-darkblue-90);
  --sf-c-txt-darkblue-95: var(--sf-c-darkblue-95);
  --sf-c-txt-darkblue-100: var(--sf-c-darkblue-100);

  --sf-dark-c-darkblue: 240 100% 73%;
  --sf-dark-c-darkblue-0: 240 100% 0%;
  --sf-dark-c-darkblue-5: 240 100% 5%;
  --sf-dark-c-darkblue-10: 240 100% 10%;
  --sf-dark-c-darkblue-15: 240 100% 15%;
  --sf-dark-c-darkblue-20: 240 100% 20%;
  --sf-dark-c-darkblue-25: 240 100% 25%;
  --sf-dark-c-darkblue-30: 240 100% 30%;
  --sf-dark-c-darkblue-35: 240 100% 35%;
  --sf-dark-c-darkblue-40: 240 100% 40%;
  --sf-dark-c-darkblue-45: 240 100% 45%;
  --sf-dark-c-darkblue-50: 240 100% 50%;
  --sf-dark-c-darkblue-55: 240 100% 55%;
  --sf-dark-c-darkblue-60: 240 100% 60%;
  --sf-dark-c-darkblue-65: 240 100% 65%;
  --sf-dark-c-darkblue-70: 240 100% 70%;
  --sf-dark-c-darkblue-75: 240 100% 75%;
  --sf-dark-c-darkblue-80: 240 100% 80%;
  --sf-dark-c-darkblue-85: 240 100% 85%;
  --sf-dark-c-darkblue-90: 240 100% 90%;
  --sf-dark-c-darkblue-95: 240 100% 95%;
  --sf-dark-c-darkblue-100: 240 100% 100%;

  --sf-dark-c-txt-darkblue: var(--sf-dark-c-darkblue);
  --sf-dark-c-txt-darkblue-0: var(--sf-dark-c-darkblue-0);
  --sf-dark-c-txt-darkblue-5: var(--sf-dark-c-darkblue-5);
  --sf-dark-c-txt-darkblue-10: var(--sf-dark-c-darkblue-10);
  --sf-dark-c-txt-darkblue-15: var(--sf-dark-c-darkblue-15);
  --sf-dark-c-txt-darkblue-20: var(--sf-dark-c-darkblue-20);
  --sf-dark-c-txt-darkblue-25: var(--sf-dark-c-darkblue-25);
  --sf-dark-c-txt-darkblue-30: var(--sf-dark-c-darkblue-30);
  --sf-dark-c-txt-darkblue-35: var(--sf-dark-c-darkblue-35);
  --sf-dark-c-txt-darkblue-40: var(--sf-dark-c-darkblue-40);
  --sf-dark-c-txt-darkblue-45: var(--sf-dark-c-darkblue-45);
  --sf-dark-c-txt-darkblue-50: var(--sf-dark-c-darkblue-50);
  --sf-dark-c-txt-darkblue-55: var(--sf-dark-c-darkblue-55);
  --sf-dark-c-txt-darkblue-60: var(--sf-dark-c-darkblue-60);
  --sf-dark-c-txt-darkblue-65: var(--sf-dark-c-darkblue-65);
  --sf-dark-c-txt-darkblue-70: var(--sf-dark-c-darkblue-70);
  --sf-dark-c-txt-darkblue-75: var(--sf-dark-c-darkblue-75);
  --sf-dark-c-txt-darkblue-80: var(--sf-dark-c-darkblue-80);
  --sf-dark-c-txt-darkblue-85: var(--sf-dark-c-darkblue-85);
  --sf-dark-c-txt-darkblue-90: var(--sf-dark-c-darkblue-90);
  --sf-dark-c-txt-darkblue-95: var(--sf-dark-c-darkblue-95);
  --sf-dark-c-txt-darkblue-100: var(--sf-dark-c-darkblue-100);
}

.sf-c-darkblue { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue)) }
.sf-c-darkblue\:0 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-0)) }
.sf-c-darkblue\:5 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-5)) }
.sf-c-darkblue\:10 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-10)) }
.sf-c-darkblue\:15 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-15)) }
.sf-c-darkblue\:20 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-20)) }
.sf-c-darkblue\:25 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-25)) }
.sf-c-darkblue\:30 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-30)) }
.sf-c-darkblue\:35 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-35)) }
.sf-c-darkblue\:40 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-40)) }
.sf-c-darkblue\:45 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-45)) }
.sf-c-darkblue\:50 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-50)) }
.sf-c-darkblue\:55 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-55)) }
.sf-c-darkblue\:60 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-60)) }
.sf-c-darkblue\:65 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-65)) }
.sf-c-darkblue\:70 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-70)) }
.sf-c-darkblue\:75 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-75)) }
.sf-c-darkblue\:80 { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-80)) }
.sf-c-darkblue\:85 { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-85)) }
.sf-c-darkblue\:90 { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-90)) }
.sf-c-darkblue\:95 { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-95)) }
.sf-c-darkblue\:100 { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-100)) }

html.var .sf-c-darkblue { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 27%) }
html.var .sf-c-darkblue\:0 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }
html.var .sf-c-darkblue\:5 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
html.var .sf-c-darkblue\:10 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
html.var .sf-c-darkblue\:15 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
html.var .sf-c-darkblue\:20 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
html.var .sf-c-darkblue\:25 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
html.var .sf-c-darkblue\:30 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
html.var .sf-c-darkblue\:35 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
html.var .sf-c-darkblue\:40 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html.var .sf-c-darkblue\:45 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
html.var .sf-c-darkblue\:50 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
html.var .sf-c-darkblue\:55 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
html.var .sf-c-darkblue\:60 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html.var .sf-c-darkblue\:65 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
html.var .sf-c-darkblue\:70 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
html.var .sf-c-darkblue\:75 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
html.var .sf-c-darkblue\:80 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 80%) }
html.var .sf-c-darkblue\:85 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
html.var .sf-c-darkblue\:90 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
html.var .sf-c-darkblue\:95 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
html.var .sf-c-darkblue\:100 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkblue, html.dark .sf-c-darkblue { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue)) }
html[data-theme='dark'] .sf-c-darkblue\:0, html.dark .sf-c-darkblue\:0 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-100)) }
html[data-theme='dark'] .sf-c-darkblue\:5, html.dark .sf-c-darkblue\:5 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-95)) }
html[data-theme='dark'] .sf-c-darkblue\:10, html.dark .sf-c-darkblue\:10 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-90)) }
html[data-theme='dark'] .sf-c-darkblue\:15, html.dark .sf-c-darkblue\:15 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-85)) }
html[data-theme='dark'] .sf-c-darkblue\:20, html.dark .sf-c-darkblue\:20 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-80)) }
html[data-theme='dark'] .sf-c-darkblue\:25, html.dark .sf-c-darkblue\:25 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-75)) }
html[data-theme='dark'] .sf-c-darkblue\:30, html.dark .sf-c-darkblue\:30 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-70)) }
html[data-theme='dark'] .sf-c-darkblue\:35, html.dark .sf-c-darkblue\:35 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-65)) }
html[data-theme='dark'] .sf-c-darkblue\:40, html.dark .sf-c-darkblue\:40 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-60)) }
html[data-theme='dark'] .sf-c-darkblue\:45, html.dark .sf-c-darkblue\:45 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-55)) }
html[data-theme='dark'] .sf-c-darkblue\:50, html.dark .sf-c-darkblue\:50 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-50)) }
html[data-theme='dark'] .sf-c-darkblue\:55, html.dark .sf-c-darkblue\:55 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-45)) }
html[data-theme='dark'] .sf-c-darkblue\:60, html.dark .sf-c-darkblue\:60 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-40)) }
html[data-theme='dark'] .sf-c-darkblue\:65, html.dark .sf-c-darkblue\:65 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-35)) }
html[data-theme='dark'] .sf-c-darkblue\:70, html.dark .sf-c-darkblue\:70 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-30)) }
html[data-theme='dark'] .sf-c-darkblue\:75, html.dark .sf-c-darkblue\:75 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-25)) }
html[data-theme='dark'] .sf-c-darkblue\:80, html.dark .sf-c-darkblue\:80 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-20)) }
html[data-theme='dark'] .sf-c-darkblue\:85, html.dark .sf-c-darkblue\:85 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-15)) }
html[data-theme='dark'] .sf-c-darkblue\:90, html.dark .sf-c-darkblue\:90 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-10)) }
html[data-theme='dark'] .sf-c-darkblue\:95, html.dark .sf-c-darkblue\:95 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-5)) }
html[data-theme='dark'] .sf-c-darkblue\:100, html.dark .sf-c-darkblue\:100 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-0)) }

html[data-theme='dark'] .sf-c-darkblue\:dark, html.dark .sf-c-darkblue\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue)) }
html[data-theme='dark'] .sf-c-darkblue\:0\:dark, html.dark .sf-c-darkblue\:0\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-100)) }
html[data-theme='dark'] .sf-c-darkblue\:5\:dark, html.dark .sf-c-darkblue\:5\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-95)) }
html[data-theme='dark'] .sf-c-darkblue\:10\:dark, html.dark .sf-c-darkblue\:10\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-90)) }
html[data-theme='dark'] .sf-c-darkblue\:15\:dark, html.dark .sf-c-darkblue\:15\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-85)) }
html[data-theme='dark'] .sf-c-darkblue\:20\:dark, html.dark .sf-c-darkblue\:20\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-80)) }
html[data-theme='dark'] .sf-c-darkblue\:25\:dark, html.dark .sf-c-darkblue\:25\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-75)) }
html[data-theme='dark'] .sf-c-darkblue\:30\:dark, html.dark .sf-c-darkblue\:30\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-70)) }
html[data-theme='dark'] .sf-c-darkblue\:35\:dark, html.dark .sf-c-darkblue\:35\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-65)) }
html[data-theme='dark'] .sf-c-darkblue\:40\:dark, html.dark .sf-c-darkblue\:40\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-60)) }
html[data-theme='dark'] .sf-c-darkblue\:45\:dark, html.dark .sf-c-darkblue\:45\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-55)) }
html[data-theme='dark'] .sf-c-darkblue\:50\:dark, html.dark .sf-c-darkblue\:50\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-50)) }
html[data-theme='dark'] .sf-c-darkblue\:55\:dark, html.dark .sf-c-darkblue\:55\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-45)) }
html[data-theme='dark'] .sf-c-darkblue\:60\:dark, html.dark .sf-c-darkblue\:60\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-40)) }
html[data-theme='dark'] .sf-c-darkblue\:65\:dark, html.dark .sf-c-darkblue\:65\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-35)) }
html[data-theme='dark'] .sf-c-darkblue\:70\:dark, html.dark .sf-c-darkblue\:70\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-30)) }
html[data-theme='dark'] .sf-c-darkblue\:75\:dark, html.dark .sf-c-darkblue\:75\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-25)) }
html[data-theme='dark'] .sf-c-darkblue\:80\:dark, html.dark .sf-c-darkblue\:80\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-20)) }
html[data-theme='dark'] .sf-c-darkblue\:85\:dark, html.dark .sf-c-darkblue\:85\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-15)) }
html[data-theme='dark'] .sf-c-darkblue\:90\:dark, html.dark .sf-c-darkblue\:90\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-10)) }
html[data-theme='dark'] .sf-c-darkblue\:95\:dark, html.dark .sf-c-darkblue\:95\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-5)) }
html[data-theme='dark'] .sf-c-darkblue\:100\:dark, html.dark .sf-c-darkblue\:100\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-0)) }

html.var[data-theme='dark'] .sf-c-darkblue, html.var.dark .sf-c-darkblue { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 73%) }
html.var[data-theme='dark'] .sf-c-darkblue\:0, html.var.dark .sf-c-darkblue\:0 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkblue\:5, html.var.dark .sf-c-darkblue\:5 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-darkblue\:10, html.var.dark .sf-c-darkblue\:10 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkblue\:15, html.var.dark .sf-c-darkblue\:15 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-darkblue\:20, html.var.dark .sf-c-darkblue\:20 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkblue\:25, html.var.dark .sf-c-darkblue\:25 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-darkblue\:30, html.var.dark .sf-c-darkblue\:30 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkblue\:35, html.var.dark .sf-c-darkblue\:35 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-darkblue\:40, html.var.dark .sf-c-darkblue\:40 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkblue\:45, html.var.dark .sf-c-darkblue\:45 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-darkblue\:50, html.var.dark .sf-c-darkblue\:50 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkblue\:55, html.var.dark .sf-c-darkblue\:55 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-darkblue\:60, html.var.dark .sf-c-darkblue\:60 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkblue\:65, html.var.dark .sf-c-darkblue\:65 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-darkblue\:70, html.var.dark .sf-c-darkblue\:70 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkblue\:75, html.var.dark .sf-c-darkblue\:75 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-darkblue\:80, html.var.dark .sf-c-darkblue\:80 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkblue\:85, html.var.dark .sf-c-darkblue\:85 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-darkblue\:90, html.var.dark .sf-c-darkblue\:90 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkblue\:95, html.var.dark .sf-c-darkblue\:95 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-darkblue\:100, html.var.dark .sf-c-darkblue\:100 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-darkblue\:dark, html.var.dark .sf-c-darkblue\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 73%) }
html.var[data-theme='dark'] .sf-c-darkblue\:0\:dark, html.var.dark .sf-c-darkblue\:0\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkblue\:5\:dark, html.var.dark .sf-c-darkblue\:5\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-darkblue\:10\:dark, html.var.dark .sf-c-darkblue\:10\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkblue\:15\:dark, html.var.dark .sf-c-darkblue\:15\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-darkblue\:20\:dark, html.var.dark .sf-c-darkblue\:20\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkblue\:25\:dark, html.var.dark .sf-c-darkblue\:25\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-darkblue\:30\:dark, html.var.dark .sf-c-darkblue\:30\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkblue\:35\:dark, html.var.dark .sf-c-darkblue\:35\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-darkblue\:40\:dark, html.var.dark .sf-c-darkblue\:40\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkblue\:45\:dark, html.var.dark .sf-c-darkblue\:45\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-darkblue\:50\:dark, html.var.dark .sf-c-darkblue\:50\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkblue\:55\:dark, html.var.dark .sf-c-darkblue\:55\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-darkblue\:60\:dark, html.var.dark .sf-c-darkblue\:60\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkblue\:65\:dark, html.var.dark .sf-c-darkblue\:65\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-darkblue\:70\:dark, html.var.dark .sf-c-darkblue\:70\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkblue\:75\:dark, html.var.dark .sf-c-darkblue\:75\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-darkblue\:80\:dark, html.var.dark .sf-c-darkblue\:80\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkblue\:85\:dark, html.var.dark .sf-c-darkblue\:85\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-darkblue\:90\:dark, html.var.dark .sf-c-darkblue\:90\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkblue\:95\:dark, html.var.dark .sf-c-darkblue\:95\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-darkblue\:100\:dark, html.var.dark .sf-c-darkblue\:100\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkblue, html.auto .sf-c-darkblue { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue)) }
  html[data-theme='auto'] .sf-c-darkblue\:0, html.auto .sf-c-darkblue\:0 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-100)) }
  html[data-theme='auto'] .sf-c-darkblue\:5, html.auto .sf-c-darkblue\:5 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-95)) }
  html[data-theme='auto'] .sf-c-darkblue\:10, html.auto .sf-c-darkblue\:10 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-90)) }
  html[data-theme='auto'] .sf-c-darkblue\:15, html.auto .sf-c-darkblue\:15 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-85)) }
  html[data-theme='auto'] .sf-c-darkblue\:20, html.auto .sf-c-darkblue\:20 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-80)) }
  html[data-theme='auto'] .sf-c-darkblue\:25, html.auto .sf-c-darkblue\:25 { color: hsl(var(--sf-dark-c-txt-darkblue-5)); background: hsl(var(--sf-dark-c-darkblue-75)) }
  html[data-theme='auto'] .sf-c-darkblue\:30, html.auto .sf-c-darkblue\:30 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-70)) }
  html[data-theme='auto'] .sf-c-darkblue\:35, html.auto .sf-c-darkblue\:35 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-65)) }
  html[data-theme='auto'] .sf-c-darkblue\:40, html.auto .sf-c-darkblue\:40 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-60)) }
  html[data-theme='auto'] .sf-c-darkblue\:45, html.auto .sf-c-darkblue\:45 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-55)) }
  html[data-theme='auto'] .sf-c-darkblue\:50, html.auto .sf-c-darkblue\:50 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-50)) }
  html[data-theme='auto'] .sf-c-darkblue\:55, html.auto .sf-c-darkblue\:55 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-45)) }
  html[data-theme='auto'] .sf-c-darkblue\:60, html.auto .sf-c-darkblue\:60 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-40)) }
  html[data-theme='auto'] .sf-c-darkblue\:65, html.auto .sf-c-darkblue\:65 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-35)) }
  html[data-theme='auto'] .sf-c-darkblue\:70, html.auto .sf-c-darkblue\:70 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-30)) }
  html[data-theme='auto'] .sf-c-darkblue\:75, html.auto .sf-c-darkblue\:75 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-25)) }
  html[data-theme='auto'] .sf-c-darkblue\:80, html.auto .sf-c-darkblue\:80 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-20)) }
  html[data-theme='auto'] .sf-c-darkblue\:85, html.auto .sf-c-darkblue\:85 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-15)) }
  html[data-theme='auto'] .sf-c-darkblue\:90, html.auto .sf-c-darkblue\:90 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-10)) }
  html[data-theme='auto'] .sf-c-darkblue\:95, html.auto .sf-c-darkblue\:95 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-5)) }
  html[data-theme='auto'] .sf-c-darkblue\:100, html.auto .sf-c-darkblue\:100 { color: hsl(var(--sf-dark-c-txt-darkblue-95)); background: hsl(var(--sf-dark-c-darkblue-0)) }

  html[data-theme='auto'] .sf-c-darkblue\:dark, html.auto .sf-c-darkblue\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue)) }
  html[data-theme='auto'] .sf-c-darkblue\:0\:dark, html.auto .sf-c-darkblue\:0\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-100)) }
  html[data-theme='auto'] .sf-c-darkblue\:5\:dark, html.auto .sf-c-darkblue\:5\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-95)) }
  html[data-theme='auto'] .sf-c-darkblue\:10\:dark, html.auto .sf-c-darkblue\:10\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-90)) }
  html[data-theme='auto'] .sf-c-darkblue\:15\:dark, html.auto .sf-c-darkblue\:15\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-85)) }
  html[data-theme='auto'] .sf-c-darkblue\:20\:dark, html.auto .sf-c-darkblue\:20\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-80)) }
  html[data-theme='auto'] .sf-c-darkblue\:25\:dark, html.auto .sf-c-darkblue\:25\:dark { color: hsl(var(--sf-c-txt-darkblue-5)); background: hsl(var(--sf-c-darkblue-75)) }
  html[data-theme='auto'] .sf-c-darkblue\:30\:dark, html.auto .sf-c-darkblue\:30\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-70)) }
  html[data-theme='auto'] .sf-c-darkblue\:35\:dark, html.auto .sf-c-darkblue\:35\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-65)) }
  html[data-theme='auto'] .sf-c-darkblue\:40\:dark, html.auto .sf-c-darkblue\:40\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-60)) }
  html[data-theme='auto'] .sf-c-darkblue\:45\:dark, html.auto .sf-c-darkblue\:45\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-55)) }
  html[data-theme='auto'] .sf-c-darkblue\:50\:dark, html.auto .sf-c-darkblue\:50\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-50)) }
  html[data-theme='auto'] .sf-c-darkblue\:55\:dark, html.auto .sf-c-darkblue\:55\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-45)) }
  html[data-theme='auto'] .sf-c-darkblue\:60\:dark, html.auto .sf-c-darkblue\:60\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-40)) }
  html[data-theme='auto'] .sf-c-darkblue\:65\:dark, html.auto .sf-c-darkblue\:65\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-35)) }
  html[data-theme='auto'] .sf-c-darkblue\:70\:dark, html.auto .sf-c-darkblue\:70\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-30)) }
  html[data-theme='auto'] .sf-c-darkblue\:75\:dark, html.auto .sf-c-darkblue\:75\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-25)) }
  html[data-theme='auto'] .sf-c-darkblue\:80\:dark, html.auto .sf-c-darkblue\:80\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-20)) }
  html[data-theme='auto'] .sf-c-darkblue\:85\:dark, html.auto .sf-c-darkblue\:85\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-15)) }
  html[data-theme='auto'] .sf-c-darkblue\:90\:dark, html.auto .sf-c-darkblue\:90\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-10)) }
  html[data-theme='auto'] .sf-c-darkblue\:95\:dark, html.auto .sf-c-darkblue\:95\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-5)) }
  html[data-theme='auto'] .sf-c-darkblue\:100\:dark, html.auto .sf-c-darkblue\:100\:dark { color: hsl(var(--sf-c-txt-darkblue-95)); background: hsl(var(--sf-c-darkblue-0)) }

  html.var[data-theme='auto'] .sf-c-darkblue, html.var.auto .sf-c-darkblue { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 73%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:0, html.var.auto .sf-c-darkblue\:0 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:5, html.var.auto .sf-c-darkblue\:5 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:10, html.var.auto .sf-c-darkblue\:10 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:15, html.var.auto .sf-c-darkblue\:15 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:20, html.var.auto .sf-c-darkblue\:20 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:25, html.var.auto .sf-c-darkblue\:25 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:30, html.var.auto .sf-c-darkblue\:30 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:35, html.var.auto .sf-c-darkblue\:35 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:40, html.var.auto .sf-c-darkblue\:40 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:45, html.var.auto .sf-c-darkblue\:45 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:50, html.var.auto .sf-c-darkblue\:50 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:55, html.var.auto .sf-c-darkblue\:55 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:60, html.var.auto .sf-c-darkblue\:60 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:65, html.var.auto .sf-c-darkblue\:65 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:70, html.var.auto .sf-c-darkblue\:70 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:75, html.var.auto .sf-c-darkblue\:75 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:80, html.var.auto .sf-c-darkblue\:80 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:85, html.var.auto .sf-c-darkblue\:85 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:90, html.var.auto .sf-c-darkblue\:90 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:95, html.var.auto .sf-c-darkblue\:95 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:100, html.var.auto .sf-c-darkblue\:100 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-darkblue\:dark, html.var.auto .sf-c-darkblue\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 73%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:0\:dark, html.var.auto .sf-c-darkblue\:0\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:5\:dark, html.var.auto .sf-c-darkblue\:5\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:10\:dark, html.var.auto .sf-c-darkblue\:10\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:15\:dark, html.var.auto .sf-c-darkblue\:15\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:20\:dark, html.var.auto .sf-c-darkblue\:20\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:25\:dark, html.var.auto .sf-c-darkblue\:25\:dark { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:30\:dark, html.var.auto .sf-c-darkblue\:30\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:35\:dark, html.var.auto .sf-c-darkblue\:35\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:40\:dark, html.var.auto .sf-c-darkblue\:40\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:45\:dark, html.var.auto .sf-c-darkblue\:45\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:50\:dark, html.var.auto .sf-c-darkblue\:50\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:55\:dark, html.var.auto .sf-c-darkblue\:55\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:60\:dark, html.var.auto .sf-c-darkblue\:60\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:65\:dark, html.var.auto .sf-c-darkblue\:65\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:70\:dark, html.var.auto .sf-c-darkblue\:70\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:75\:dark, html.var.auto .sf-c-darkblue\:75\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:80\:dark, html.var.auto .sf-c-darkblue\:80\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:85\:dark, html.var.auto .sf-c-darkblue\:85\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:90\:dark, html.var.auto .sf-c-darkblue\:90\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:95\:dark, html.var.auto .sf-c-darkblue\:95\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-darkblue\:100\:dark, html.var.auto .sf-c-darkblue\:100\:dark { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }
}

.sf-c-txt-darkblue { color: hsl(var(--sf-c-txt-darkblue)) }
.sf-c-txt-darkblue\:0 { color: hsl(var(--sf-c-txt-darkblue-0)) }
.sf-c-txt-darkblue\:5 { color: hsl(var(--sf-c-txt-darkblue-5)) }
.sf-c-txt-darkblue\:10 { color: hsl(var(--sf-c-txt-darkblue-10)) }
.sf-c-txt-darkblue\:15 { color: hsl(var(--sf-c-txt-darkblue-15)) }
.sf-c-txt-darkblue\:20 { color: hsl(var(--sf-c-txt-darkblue-20)) }
.sf-c-txt-darkblue\:25 { color: hsl(var(--sf-c-txt-darkblue-25)) }
.sf-c-txt-darkblue\:30 { color: hsl(var(--sf-c-txt-darkblue-30)) }
.sf-c-txt-darkblue\:35 { color: hsl(var(--sf-c-txt-darkblue-35)) }
.sf-c-txt-darkblue\:40 { color: hsl(var(--sf-c-txt-darkblue-40)) }
.sf-c-txt-darkblue\:45 { color: hsl(var(--sf-c-txt-darkblue-45)) }
.sf-c-txt-darkblue\:50 { color: hsl(var(--sf-c-txt-darkblue-50)) }
.sf-c-txt-darkblue\:55 { color: hsl(var(--sf-c-txt-darkblue-55)) }
.sf-c-txt-darkblue\:60 { color: hsl(var(--sf-c-txt-darkblue-60)) }
.sf-c-txt-darkblue\:65 { color: hsl(var(--sf-c-txt-darkblue-65)) }
.sf-c-txt-darkblue\:70 { color: hsl(var(--sf-c-txt-darkblue-70)) }
.sf-c-txt-darkblue\:75 { color: hsl(var(--sf-c-txt-darkblue-75)) }
.sf-c-txt-darkblue\:80 { color: hsl(var(--sf-c-txt-darkblue-80)) }
.sf-c-txt-darkblue\:85 { color: hsl(var(--sf-c-txt-darkblue-85)) }
.sf-c-txt-darkblue\:90 { color: hsl(var(--sf-c-txt-darkblue-90)) }
.sf-c-txt-darkblue\:95 { color: hsl(var(--sf-c-txt-darkblue-95)) }
.sf-c-txt-darkblue\:100 { color: hsl(var(--sf-c-txt-darkblue-100)) }