:root {
  --sf-c-darkgreen: 120 100% 20%;
  --sf-c-darkgreen-5: 120 100% 5%;
  --sf-c-darkgreen-10: 120 100% 10%;
  --sf-c-darkgreen-15: 120 100% 15%;
  --sf-c-darkgreen-20: 120 100% 20%;
  --sf-c-darkgreen-25: 120 100% 25%;
  --sf-c-darkgreen-30: 120 100% 30%;
  --sf-c-darkgreen-35: 120 100% 35%;
  --sf-c-darkgreen-40: 120 100% 40%;
  --sf-c-darkgreen-45: 120 100% 45%;
  --sf-c-darkgreen-50: 120 100% 50%;
  --sf-c-darkgreen-55: 120 100% 55%;
  --sf-c-darkgreen-60: 120 100% 60%;
  --sf-c-darkgreen-65: 120 100% 65%;
  --sf-c-darkgreen-70: 120 100% 70%;
  --sf-c-darkgreen-75: 120 100% 75%;
  --sf-c-darkgreen-80: 120 100% 80%;
  --sf-c-darkgreen-85: 120 100% 85%;
  --sf-c-darkgreen-90: 120 100% 90%;
  --sf-c-darkgreen-95: 120 100% 95%;
 
  --sf-c-txt-darkgreen: var(--sf-c-darkgreen);
  --sf-c-txt-darkgreen-5: var(--sf-c-darkgreen-5);
  --sf-c-txt-darkgreen-10: var(--sf-c-darkgreen-10);
  --sf-c-txt-darkgreen-15: var(--sf-c-darkgreen-15);
  --sf-c-txt-darkgreen-20: var(--sf-c-darkgreen-20);
  --sf-c-txt-darkgreen-25: var(--sf-c-darkgreen-25);
  --sf-c-txt-darkgreen-30: var(--sf-c-darkgreen-30);
  --sf-c-txt-darkgreen-35: var(--sf-c-darkgreen-35);
  --sf-c-txt-darkgreen-40: var(--sf-c-darkgreen-40);
  --sf-c-txt-darkgreen-45: var(--sf-c-darkgreen-45);
  --sf-c-txt-darkgreen-50: var(--sf-c-darkgreen-50);
  --sf-c-txt-darkgreen-55: var(--sf-c-darkgreen-55);
  --sf-c-txt-darkgreen-60: var(--sf-c-darkgreen-60);
  --sf-c-txt-darkgreen-65: var(--sf-c-darkgreen-65);
  --sf-c-txt-darkgreen-70: var(--sf-c-darkgreen-70);
  --sf-c-txt-darkgreen-75: var(--sf-c-darkgreen-75);
  --sf-c-txt-darkgreen-80: var(--sf-c-darkgreen-80);
  --sf-c-txt-darkgreen-85: var(--sf-c-darkgreen-85);
  --sf-c-txt-darkgreen-90: var(--sf-c-darkgreen-90);
  --sf-c-txt-darkgreen-95: var(--sf-c-darkgreen-95);
 
  --sf-dark-c-darkgreen: 120 100% 80%;
  --sf-dark-c-darkgreen-5: 120 100% 95%;
  --sf-dark-c-darkgreen-10: 120 100% 90%;
  --sf-dark-c-darkgreen-15: 120 100% 85%;
  --sf-dark-c-darkgreen-20: 120 100% 80%;
  --sf-dark-c-darkgreen-25: 120 100% 75%;
  --sf-dark-c-darkgreen-30: 120 100% 70%;
  --sf-dark-c-darkgreen-35: 120 100% 65%;
  --sf-dark-c-darkgreen-40: 120 100% 60%;
  --sf-dark-c-darkgreen-45: 120 100% 55%;
  --sf-dark-c-darkgreen-50: 120 100% 50%;
  --sf-dark-c-darkgreen-55: 120 100% 45%;
  --sf-dark-c-darkgreen-60: 120 100% 40%;
  --sf-dark-c-darkgreen-65: 120 100% 35%;
  --sf-dark-c-darkgreen-70: 120 100% 30%;
  --sf-dark-c-darkgreen-75: 120 100% 25%;
  --sf-dark-c-darkgreen-80: 120 100% 20%;
  --sf-dark-c-darkgreen-85: 120 100% 15%;
  --sf-dark-c-darkgreen-90: 120 100% 10%;
  --sf-dark-c-darkgreen-95: 120 100% 5%;
 
  --sf-dark-c-txt-darkgreen: var(--sf-dark-c-darkgreen);
  --sf-dark-c-txt-darkgreen-5: var(--sf-dark-c-darkgreen-5);
  --sf-dark-c-txt-darkgreen-10: var(--sf-dark-c-darkgreen-10);
  --sf-dark-c-txt-darkgreen-15: var(--sf-dark-c-darkgreen-15);
  --sf-dark-c-txt-darkgreen-20: var(--sf-dark-c-darkgreen-20);
  --sf-dark-c-txt-darkgreen-25: var(--sf-dark-c-darkgreen-25);
  --sf-dark-c-txt-darkgreen-30: var(--sf-dark-c-darkgreen-30);
  --sf-dark-c-txt-darkgreen-35: var(--sf-dark-c-darkgreen-35);
  --sf-dark-c-txt-darkgreen-40: var(--sf-dark-c-darkgreen-40);
  --sf-dark-c-txt-darkgreen-45: var(--sf-dark-c-darkgreen-45);
  --sf-dark-c-txt-darkgreen-50: var(--sf-dark-c-darkgreen-50);
  --sf-dark-c-txt-darkgreen-55: var(--sf-dark-c-darkgreen-55);
  --sf-dark-c-txt-darkgreen-60: var(--sf-dark-c-darkgreen-60);
  --sf-dark-c-txt-darkgreen-65: var(--sf-dark-c-darkgreen-65);
  --sf-dark-c-txt-darkgreen-70: var(--sf-dark-c-darkgreen-70);
  --sf-dark-c-txt-darkgreen-75: var(--sf-dark-c-darkgreen-75);
  --sf-dark-c-txt-darkgreen-80: var(--sf-dark-c-darkgreen-80);
  --sf-dark-c-txt-darkgreen-85: var(--sf-dark-c-darkgreen-85);
  --sf-dark-c-txt-darkgreen-90: var(--sf-dark-c-darkgreen-90);
  --sf-dark-c-txt-darkgreen-95: var(--sf-dark-c-darkgreen-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-darkgreen: var(--sf-dark-c-darkgreen);
  --sf-c-darkgreen-5: var(--sf-dark-c-darkgreen-5);
  --sf-c-darkgreen-10: var(--sf-dark-c-darkgreen-10);
  --sf-c-darkgreen-15: var(--sf-dark-c-darkgreen-15);
  --sf-c-darkgreen-20: var(--sf-dark-c-darkgreen-20);
  --sf-c-darkgreen-25: var(--sf-dark-c-darkgreen-25);
  --sf-c-darkgreen-30: var(--sf-dark-c-darkgreen-30);
  --sf-c-darkgreen-35: var(--sf-dark-c-darkgreen-35);
  --sf-c-darkgreen-40: var(--sf-dark-c-darkgreen-40);
  --sf-c-darkgreen-45: var(--sf-dark-c-darkgreen-45);
  --sf-c-darkgreen-50: var(--sf-dark-c-darkgreen-50);
  --sf-c-darkgreen-55: var(--sf-dark-c-darkgreen-55);
  --sf-c-darkgreen-60: var(--sf-dark-c-darkgreen-60);
  --sf-c-darkgreen-65: var(--sf-dark-c-darkgreen-65);
  --sf-c-darkgreen-70: var(--sf-dark-c-darkgreen-70);
  --sf-c-darkgreen-75: var(--sf-dark-c-darkgreen-75);
  --sf-c-darkgreen-80: var(--sf-dark-c-darkgreen-80);
  --sf-c-darkgreen-85: var(--sf-dark-c-darkgreen-85);
  --sf-c-darkgreen-90: var(--sf-dark-c-darkgreen-90);
  --sf-c-darkgreen-95: var(--sf-dark-c-darkgreen-95);
 
  --sf-c-txt-darkgreen: var(--sf-dark-c-txt-darkgreen);
  --sf-c-txt-darkgreen-5: var(--sf-dark-c-txt-darkgreen-5);
  --sf-c-txt-darkgreen-10: var(--sf-dark-c-txt-darkgreen-10);
  --sf-c-txt-darkgreen-15: var(--sf-dark-c-txt-darkgreen-15);
  --sf-c-txt-darkgreen-20: var(--sf-dark-c-txt-darkgreen-20);
  --sf-c-txt-darkgreen-25: var(--sf-dark-c-txt-darkgreen-25);
  --sf-c-txt-darkgreen-30: var(--sf-dark-c-txt-darkgreen-30);
  --sf-c-txt-darkgreen-35: var(--sf-dark-c-txt-darkgreen-35);
  --sf-c-txt-darkgreen-40: var(--sf-dark-c-txt-darkgreen-40);
  --sf-c-txt-darkgreen-45: var(--sf-dark-c-txt-darkgreen-45);
  --sf-c-txt-darkgreen-50: var(--sf-dark-c-txt-darkgreen-50);
  --sf-c-txt-darkgreen-55: var(--sf-dark-c-txt-darkgreen-55);
  --sf-c-txt-darkgreen-60: var(--sf-dark-c-txt-darkgreen-60);
  --sf-c-txt-darkgreen-65: var(--sf-dark-c-txt-darkgreen-65);
  --sf-c-txt-darkgreen-70: var(--sf-dark-c-txt-darkgreen-70);
  --sf-c-txt-darkgreen-75: var(--sf-dark-c-txt-darkgreen-75);
  --sf-c-txt-darkgreen-80: var(--sf-dark-c-txt-darkgreen-80);
  --sf-c-txt-darkgreen-85: var(--sf-dark-c-txt-darkgreen-85);
  --sf-c-txt-darkgreen-90: var(--sf-dark-c-txt-darkgreen-90);
  --sf-c-txt-darkgreen-95: var(--sf-dark-c-txt-darkgreen-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-darkgreen: var(--sf-dark-c-darkgreen);
    --sf-c-darkgreen-5: var(--sf-dark-c-darkgreen-5);
    --sf-c-darkgreen-10: var(--sf-dark-c-darkgreen-10);
    --sf-c-darkgreen-15: var(--sf-dark-c-darkgreen-15);
    --sf-c-darkgreen-20: var(--sf-dark-c-darkgreen-20);
    --sf-c-darkgreen-25: var(--sf-dark-c-darkgreen-25);
    --sf-c-darkgreen-30: var(--sf-dark-c-darkgreen-30);
    --sf-c-darkgreen-35: var(--sf-dark-c-darkgreen-35);
    --sf-c-darkgreen-40: var(--sf-dark-c-darkgreen-40);
    --sf-c-darkgreen-45: var(--sf-dark-c-darkgreen-45);
    --sf-c-darkgreen-50: var(--sf-dark-c-darkgreen-50);
    --sf-c-darkgreen-55: var(--sf-dark-c-darkgreen-55);
    --sf-c-darkgreen-60: var(--sf-dark-c-darkgreen-60);
    --sf-c-darkgreen-65: var(--sf-dark-c-darkgreen-65);
    --sf-c-darkgreen-70: var(--sf-dark-c-darkgreen-70);
    --sf-c-darkgreen-75: var(--sf-dark-c-darkgreen-75);
    --sf-c-darkgreen-80: var(--sf-dark-c-darkgreen-80);
    --sf-c-darkgreen-85: var(--sf-dark-c-darkgreen-85);
    --sf-c-darkgreen-90: var(--sf-dark-c-darkgreen-90);
    --sf-c-darkgreen-95: var(--sf-dark-c-darkgreen-95);
 
    --sf-c-txt-darkgreen: var(--sf-dark-c-txt-darkgreen);
    --sf-c-txt-darkgreen-5: var(--sf-dark-c-txt-darkgreen-5);
    --sf-c-txt-darkgreen-10: var(--sf-dark-c-txt-darkgreen-10);
    --sf-c-txt-darkgreen-15: var(--sf-dark-c-txt-darkgreen-15);
    --sf-c-txt-darkgreen-20: var(--sf-dark-c-txt-darkgreen-20);
    --sf-c-txt-darkgreen-25: var(--sf-dark-c-txt-darkgreen-25);
    --sf-c-txt-darkgreen-30: var(--sf-dark-c-txt-darkgreen-30);
    --sf-c-txt-darkgreen-35: var(--sf-dark-c-txt-darkgreen-35);
    --sf-c-txt-darkgreen-40: var(--sf-dark-c-txt-darkgreen-40);
    --sf-c-txt-darkgreen-45: var(--sf-dark-c-txt-darkgreen-45);
    --sf-c-txt-darkgreen-50: var(--sf-dark-c-txt-darkgreen-50);
    --sf-c-txt-darkgreen-55: var(--sf-dark-c-txt-darkgreen-55);
    --sf-c-txt-darkgreen-60: var(--sf-dark-c-txt-darkgreen-60);
    --sf-c-txt-darkgreen-65: var(--sf-dark-c-txt-darkgreen-65);
    --sf-c-txt-darkgreen-70: var(--sf-dark-c-txt-darkgreen-70);
    --sf-c-txt-darkgreen-75: var(--sf-dark-c-txt-darkgreen-75);
    --sf-c-txt-darkgreen-80: var(--sf-dark-c-txt-darkgreen-80);
    --sf-c-txt-darkgreen-85: var(--sf-dark-c-txt-darkgreen-85);
    --sf-c-txt-darkgreen-90: var(--sf-dark-c-txt-darkgreen-90);
    --sf-c-txt-darkgreen-95: var(--sf-dark-c-txt-darkgreen-95);
  }
}
 
.sf-c-darkgreen { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen)) }
.sf-c-darkgreen\:5 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-5)) }
.sf-c-darkgreen\:10 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-10)) }
.sf-c-darkgreen\:15 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-15)) }
.sf-c-darkgreen\:20 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-20)) }
.sf-c-darkgreen\:25 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-25)) }
.sf-c-darkgreen\:30 { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-30)) }
.sf-c-darkgreen\:35 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-35)) }
.sf-c-darkgreen\:40 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-40)) }
.sf-c-darkgreen\:45 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-45)) }
.sf-c-darkgreen\:50 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-50)) }
.sf-c-darkgreen\:55 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-55)) }
.sf-c-darkgreen\:60 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-60)) }
.sf-c-darkgreen\:65 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-65)) }
.sf-c-darkgreen\:70 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-70)) }
.sf-c-darkgreen\:75 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-75)) }
.sf-c-darkgreen\:80 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-80)) }
.sf-c-darkgreen\:85 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-85)) }
.sf-c-darkgreen\:90 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-90)) }
.sf-c-darkgreen\:95 { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:5\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:10\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:15\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:20\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:25\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:30\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)); background: hsl(var(--sf-c-darkgreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:35\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:40\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:45\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:50\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:55\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:60\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:65\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:70\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:75\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:80\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:85\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:90\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-darkgreen\:95\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)); background: hsl(var(--sf-c-darkgreen-95)) }

.sf-c-txt-darkgreen { color: hsl(var(--sf-c-txt-darkgreen)) }
.sf-c-txt-darkgreen\:5 { color: hsl(var(--sf-c-txt-darkgreen-5)) }
.sf-c-txt-darkgreen\:10 { color: hsl(var(--sf-c-txt-darkgreen-10)) }
.sf-c-txt-darkgreen\:15 { color: hsl(var(--sf-c-txt-darkgreen-15)) }
.sf-c-txt-darkgreen\:20 { color: hsl(var(--sf-c-txt-darkgreen-20)) }
.sf-c-txt-darkgreen\:25 { color: hsl(var(--sf-c-txt-darkgreen-25)) }
.sf-c-txt-darkgreen\:30 { color: hsl(var(--sf-c-txt-darkgreen-30)) }
.sf-c-txt-darkgreen\:35 { color: hsl(var(--sf-c-txt-darkgreen-35)) }
.sf-c-txt-darkgreen\:40 { color: hsl(var(--sf-c-txt-darkgreen-40)) }
.sf-c-txt-darkgreen\:45 { color: hsl(var(--sf-c-txt-darkgreen-45)) }
.sf-c-txt-darkgreen\:50 { color: hsl(var(--sf-c-txt-darkgreen-50)) }
.sf-c-txt-darkgreen\:55 { color: hsl(var(--sf-c-txt-darkgreen-55)) }
.sf-c-txt-darkgreen\:60 { color: hsl(var(--sf-c-txt-darkgreen-60)) }
.sf-c-txt-darkgreen\:65 { color: hsl(var(--sf-c-txt-darkgreen-65)) }
.sf-c-txt-darkgreen\:70 { color: hsl(var(--sf-c-txt-darkgreen-70)) }
.sf-c-txt-darkgreen\:75 { color: hsl(var(--sf-c-txt-darkgreen-75)) }
.sf-c-txt-darkgreen\:80 { color: hsl(var(--sf-c-txt-darkgreen-80)) }
.sf-c-txt-darkgreen\:85 { color: hsl(var(--sf-c-txt-darkgreen-85)) }
.sf-c-txt-darkgreen\:90 { color: hsl(var(--sf-c-txt-darkgreen-90)) }
.sf-c-txt-darkgreen\:95 { color: hsl(var(--sf-c-txt-darkgreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:dark { color: hsl(var(--sf-c-txt-darkgreen)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:5\:dark { color: hsl(var(--sf-c-txt-darkgreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:10\:dark { color: hsl(var(--sf-c-txt-darkgreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:15\:dark { color: hsl(var(--sf-c-txt-darkgreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:20\:dark { color: hsl(var(--sf-c-txt-darkgreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:25\:dark { color: hsl(var(--sf-c-txt-darkgreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:30\:dark { color: hsl(var(--sf-c-txt-darkgreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:35\:dark { color: hsl(var(--sf-c-txt-darkgreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:40\:dark { color: hsl(var(--sf-c-txt-darkgreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:45\:dark { color: hsl(var(--sf-c-txt-darkgreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:50\:dark { color: hsl(var(--sf-c-txt-darkgreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:55\:dark { color: hsl(var(--sf-c-txt-darkgreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:60\:dark { color: hsl(var(--sf-c-txt-darkgreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:65\:dark { color: hsl(var(--sf-c-txt-darkgreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:70\:dark { color: hsl(var(--sf-c-txt-darkgreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:75\:dark { color: hsl(var(--sf-c-txt-darkgreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:80\:dark { color: hsl(var(--sf-c-txt-darkgreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:85\:dark { color: hsl(var(--sf-c-txt-darkgreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:90\:dark { color: hsl(var(--sf-c-txt-darkgreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkgreen\:95\:dark { color: hsl(var(--sf-c-txt-darkgreen-95)) }