:root {
  --sf-c-darkslategray: 180 25% 25%;
  --sf-c-darkslategray-5: 180 25% 5%;
  --sf-c-darkslategray-10: 180 25% 10%;
  --sf-c-darkslategray-15: 180 25% 15%;
  --sf-c-darkslategray-20: 180 25% 20%;
  --sf-c-darkslategray-25: 180 25% 25%;
  --sf-c-darkslategray-30: 180 25% 30%;
  --sf-c-darkslategray-35: 180 25% 35%;
  --sf-c-darkslategray-40: 180 25% 40%;
  --sf-c-darkslategray-45: 180 25% 45%;
  --sf-c-darkslategray-50: 180 25% 50%;
  --sf-c-darkslategray-55: 180 25% 55%;
  --sf-c-darkslategray-60: 180 25% 60%;
  --sf-c-darkslategray-65: 180 25% 65%;
  --sf-c-darkslategray-70: 180 25% 70%;
  --sf-c-darkslategray-75: 180 25% 75%;
  --sf-c-darkslategray-80: 180 25% 80%;
  --sf-c-darkslategray-85: 180 25% 85%;
  --sf-c-darkslategray-90: 180 25% 90%;
  --sf-c-darkslategray-95: 180 25% 95%;
 
  --sf-c-txt-darkslategray: var(--sf-c-darkslategray);
  --sf-c-txt-darkslategray-5: var(--sf-c-darkslategray-5);
  --sf-c-txt-darkslategray-10: var(--sf-c-darkslategray-10);
  --sf-c-txt-darkslategray-15: var(--sf-c-darkslategray-15);
  --sf-c-txt-darkslategray-20: var(--sf-c-darkslategray-20);
  --sf-c-txt-darkslategray-25: var(--sf-c-darkslategray-25);
  --sf-c-txt-darkslategray-30: var(--sf-c-darkslategray-30);
  --sf-c-txt-darkslategray-35: var(--sf-c-darkslategray-35);
  --sf-c-txt-darkslategray-40: var(--sf-c-darkslategray-40);
  --sf-c-txt-darkslategray-45: var(--sf-c-darkslategray-45);
  --sf-c-txt-darkslategray-50: var(--sf-c-darkslategray-50);
  --sf-c-txt-darkslategray-55: var(--sf-c-darkslategray-55);
  --sf-c-txt-darkslategray-60: var(--sf-c-darkslategray-60);
  --sf-c-txt-darkslategray-65: var(--sf-c-darkslategray-65);
  --sf-c-txt-darkslategray-70: var(--sf-c-darkslategray-70);
  --sf-c-txt-darkslategray-75: var(--sf-c-darkslategray-75);
  --sf-c-txt-darkslategray-80: var(--sf-c-darkslategray-80);
  --sf-c-txt-darkslategray-85: var(--sf-c-darkslategray-85);
  --sf-c-txt-darkslategray-90: var(--sf-c-darkslategray-90);
  --sf-c-txt-darkslategray-95: var(--sf-c-darkslategray-95);
 
  --sf-dark-c-darkslategray: 180 25% 75%;
  --sf-dark-c-darkslategray-5: 180 25% 95%;
  --sf-dark-c-darkslategray-10: 180 25% 90%;
  --sf-dark-c-darkslategray-15: 180 25% 85%;
  --sf-dark-c-darkslategray-20: 180 25% 80%;
  --sf-dark-c-darkslategray-25: 180 25% 75%;
  --sf-dark-c-darkslategray-30: 180 25% 70%;
  --sf-dark-c-darkslategray-35: 180 25% 65%;
  --sf-dark-c-darkslategray-40: 180 25% 60%;
  --sf-dark-c-darkslategray-45: 180 25% 55%;
  --sf-dark-c-darkslategray-50: 180 25% 50%;
  --sf-dark-c-darkslategray-55: 180 25% 45%;
  --sf-dark-c-darkslategray-60: 180 25% 40%;
  --sf-dark-c-darkslategray-65: 180 25% 35%;
  --sf-dark-c-darkslategray-70: 180 25% 30%;
  --sf-dark-c-darkslategray-75: 180 25% 25%;
  --sf-dark-c-darkslategray-80: 180 25% 20%;
  --sf-dark-c-darkslategray-85: 180 25% 15%;
  --sf-dark-c-darkslategray-90: 180 25% 10%;
  --sf-dark-c-darkslategray-95: 180 25% 5%;
 
  --sf-dark-c-txt-darkslategray: var(--sf-dark-c-darkslategray);
  --sf-dark-c-txt-darkslategray-5: var(--sf-dark-c-darkslategray-5);
  --sf-dark-c-txt-darkslategray-10: var(--sf-dark-c-darkslategray-10);
  --sf-dark-c-txt-darkslategray-15: var(--sf-dark-c-darkslategray-15);
  --sf-dark-c-txt-darkslategray-20: var(--sf-dark-c-darkslategray-20);
  --sf-dark-c-txt-darkslategray-25: var(--sf-dark-c-darkslategray-25);
  --sf-dark-c-txt-darkslategray-30: var(--sf-dark-c-darkslategray-30);
  --sf-dark-c-txt-darkslategray-35: var(--sf-dark-c-darkslategray-35);
  --sf-dark-c-txt-darkslategray-40: var(--sf-dark-c-darkslategray-40);
  --sf-dark-c-txt-darkslategray-45: var(--sf-dark-c-darkslategray-45);
  --sf-dark-c-txt-darkslategray-50: var(--sf-dark-c-darkslategray-50);
  --sf-dark-c-txt-darkslategray-55: var(--sf-dark-c-darkslategray-55);
  --sf-dark-c-txt-darkslategray-60: var(--sf-dark-c-darkslategray-60);
  --sf-dark-c-txt-darkslategray-65: var(--sf-dark-c-darkslategray-65);
  --sf-dark-c-txt-darkslategray-70: var(--sf-dark-c-darkslategray-70);
  --sf-dark-c-txt-darkslategray-75: var(--sf-dark-c-darkslategray-75);
  --sf-dark-c-txt-darkslategray-80: var(--sf-dark-c-darkslategray-80);
  --sf-dark-c-txt-darkslategray-85: var(--sf-dark-c-darkslategray-85);
  --sf-dark-c-txt-darkslategray-90: var(--sf-dark-c-darkslategray-90);
  --sf-dark-c-txt-darkslategray-95: var(--sf-dark-c-darkslategray-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-darkslategray: var(--sf-dark-c-darkslategray);
  --sf-c-darkslategray-5: var(--sf-dark-c-darkslategray-5);
  --sf-c-darkslategray-10: var(--sf-dark-c-darkslategray-10);
  --sf-c-darkslategray-15: var(--sf-dark-c-darkslategray-15);
  --sf-c-darkslategray-20: var(--sf-dark-c-darkslategray-20);
  --sf-c-darkslategray-25: var(--sf-dark-c-darkslategray-25);
  --sf-c-darkslategray-30: var(--sf-dark-c-darkslategray-30);
  --sf-c-darkslategray-35: var(--sf-dark-c-darkslategray-35);
  --sf-c-darkslategray-40: var(--sf-dark-c-darkslategray-40);
  --sf-c-darkslategray-45: var(--sf-dark-c-darkslategray-45);
  --sf-c-darkslategray-50: var(--sf-dark-c-darkslategray-50);
  --sf-c-darkslategray-55: var(--sf-dark-c-darkslategray-55);
  --sf-c-darkslategray-60: var(--sf-dark-c-darkslategray-60);
  --sf-c-darkslategray-65: var(--sf-dark-c-darkslategray-65);
  --sf-c-darkslategray-70: var(--sf-dark-c-darkslategray-70);
  --sf-c-darkslategray-75: var(--sf-dark-c-darkslategray-75);
  --sf-c-darkslategray-80: var(--sf-dark-c-darkslategray-80);
  --sf-c-darkslategray-85: var(--sf-dark-c-darkslategray-85);
  --sf-c-darkslategray-90: var(--sf-dark-c-darkslategray-90);
  --sf-c-darkslategray-95: var(--sf-dark-c-darkslategray-95);
 
  --sf-c-txt-darkslategray: var(--sf-dark-c-txt-darkslategray);
  --sf-c-txt-darkslategray-5: var(--sf-dark-c-txt-darkslategray-5);
  --sf-c-txt-darkslategray-10: var(--sf-dark-c-txt-darkslategray-10);
  --sf-c-txt-darkslategray-15: var(--sf-dark-c-txt-darkslategray-15);
  --sf-c-txt-darkslategray-20: var(--sf-dark-c-txt-darkslategray-20);
  --sf-c-txt-darkslategray-25: var(--sf-dark-c-txt-darkslategray-25);
  --sf-c-txt-darkslategray-30: var(--sf-dark-c-txt-darkslategray-30);
  --sf-c-txt-darkslategray-35: var(--sf-dark-c-txt-darkslategray-35);
  --sf-c-txt-darkslategray-40: var(--sf-dark-c-txt-darkslategray-40);
  --sf-c-txt-darkslategray-45: var(--sf-dark-c-txt-darkslategray-45);
  --sf-c-txt-darkslategray-50: var(--sf-dark-c-txt-darkslategray-50);
  --sf-c-txt-darkslategray-55: var(--sf-dark-c-txt-darkslategray-55);
  --sf-c-txt-darkslategray-60: var(--sf-dark-c-txt-darkslategray-60);
  --sf-c-txt-darkslategray-65: var(--sf-dark-c-txt-darkslategray-65);
  --sf-c-txt-darkslategray-70: var(--sf-dark-c-txt-darkslategray-70);
  --sf-c-txt-darkslategray-75: var(--sf-dark-c-txt-darkslategray-75);
  --sf-c-txt-darkslategray-80: var(--sf-dark-c-txt-darkslategray-80);
  --sf-c-txt-darkslategray-85: var(--sf-dark-c-txt-darkslategray-85);
  --sf-c-txt-darkslategray-90: var(--sf-dark-c-txt-darkslategray-90);
  --sf-c-txt-darkslategray-95: var(--sf-dark-c-txt-darkslategray-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-darkslategray: var(--sf-dark-c-darkslategray);
    --sf-c-darkslategray-5: var(--sf-dark-c-darkslategray-5);
    --sf-c-darkslategray-10: var(--sf-dark-c-darkslategray-10);
    --sf-c-darkslategray-15: var(--sf-dark-c-darkslategray-15);
    --sf-c-darkslategray-20: var(--sf-dark-c-darkslategray-20);
    --sf-c-darkslategray-25: var(--sf-dark-c-darkslategray-25);
    --sf-c-darkslategray-30: var(--sf-dark-c-darkslategray-30);
    --sf-c-darkslategray-35: var(--sf-dark-c-darkslategray-35);
    --sf-c-darkslategray-40: var(--sf-dark-c-darkslategray-40);
    --sf-c-darkslategray-45: var(--sf-dark-c-darkslategray-45);
    --sf-c-darkslategray-50: var(--sf-dark-c-darkslategray-50);
    --sf-c-darkslategray-55: var(--sf-dark-c-darkslategray-55);
    --sf-c-darkslategray-60: var(--sf-dark-c-darkslategray-60);
    --sf-c-darkslategray-65: var(--sf-dark-c-darkslategray-65);
    --sf-c-darkslategray-70: var(--sf-dark-c-darkslategray-70);
    --sf-c-darkslategray-75: var(--sf-dark-c-darkslategray-75);
    --sf-c-darkslategray-80: var(--sf-dark-c-darkslategray-80);
    --sf-c-darkslategray-85: var(--sf-dark-c-darkslategray-85);
    --sf-c-darkslategray-90: var(--sf-dark-c-darkslategray-90);
    --sf-c-darkslategray-95: var(--sf-dark-c-darkslategray-95);
 
    --sf-c-txt-darkslategray: var(--sf-dark-c-txt-darkslategray);
    --sf-c-txt-darkslategray-5: var(--sf-dark-c-txt-darkslategray-5);
    --sf-c-txt-darkslategray-10: var(--sf-dark-c-txt-darkslategray-10);
    --sf-c-txt-darkslategray-15: var(--sf-dark-c-txt-darkslategray-15);
    --sf-c-txt-darkslategray-20: var(--sf-dark-c-txt-darkslategray-20);
    --sf-c-txt-darkslategray-25: var(--sf-dark-c-txt-darkslategray-25);
    --sf-c-txt-darkslategray-30: var(--sf-dark-c-txt-darkslategray-30);
    --sf-c-txt-darkslategray-35: var(--sf-dark-c-txt-darkslategray-35);
    --sf-c-txt-darkslategray-40: var(--sf-dark-c-txt-darkslategray-40);
    --sf-c-txt-darkslategray-45: var(--sf-dark-c-txt-darkslategray-45);
    --sf-c-txt-darkslategray-50: var(--sf-dark-c-txt-darkslategray-50);
    --sf-c-txt-darkslategray-55: var(--sf-dark-c-txt-darkslategray-55);
    --sf-c-txt-darkslategray-60: var(--sf-dark-c-txt-darkslategray-60);
    --sf-c-txt-darkslategray-65: var(--sf-dark-c-txt-darkslategray-65);
    --sf-c-txt-darkslategray-70: var(--sf-dark-c-txt-darkslategray-70);
    --sf-c-txt-darkslategray-75: var(--sf-dark-c-txt-darkslategray-75);
    --sf-c-txt-darkslategray-80: var(--sf-dark-c-txt-darkslategray-80);
    --sf-c-txt-darkslategray-85: var(--sf-dark-c-txt-darkslategray-85);
    --sf-c-txt-darkslategray-90: var(--sf-dark-c-txt-darkslategray-90);
    --sf-c-txt-darkslategray-95: var(--sf-dark-c-txt-darkslategray-95);
  }
}
 
.sf-c-darkslategray { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray)) }
.sf-c-darkslategray\:5 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-5)) }
.sf-c-darkslategray\:10 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-10)) }
.sf-c-darkslategray\:15 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-15)) }
.sf-c-darkslategray\:20 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-20)) }
.sf-c-darkslategray\:25 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-25)) }
.sf-c-darkslategray\:30 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-30)) }
.sf-c-darkslategray\:35 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-35)) }
.sf-c-darkslategray\:40 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-40)) }
.sf-c-darkslategray\:45 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-45)) }
.sf-c-darkslategray\:50 { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-50)) }
.sf-c-darkslategray\:55 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-55)) }
.sf-c-darkslategray\:60 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-60)) }
.sf-c-darkslategray\:65 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-65)) }
.sf-c-darkslategray\:70 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-70)) }
.sf-c-darkslategray\:75 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-75)) }
.sf-c-darkslategray\:80 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-80)) }
.sf-c-darkslategray\:85 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-85)) }
.sf-c-darkslategray\:90 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-90)) }
.sf-c-darkslategray\:95 { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:5\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-5)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:10\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-10)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:15\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-15)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:20\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-20)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:25\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-25)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:30\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-30)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:35\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-35)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:40\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-40)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:45\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-45)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:50\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)); background: hsl(var(--sf-c-darkslategray-50)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:55\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-55)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:60\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-60)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:65\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-65)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:70\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-70)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:75\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-75)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:80\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-80)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:85\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-85)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:90\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-90)) }
:where([data-theme='dark'], .dark) .sf-c-darkslategray\:95\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)); background: hsl(var(--sf-c-darkslategray-95)) }

.sf-c-txt-darkslategray { color: hsl(var(--sf-c-txt-darkslategray)) }
.sf-c-txt-darkslategray\:5 { color: hsl(var(--sf-c-txt-darkslategray-5)) }
.sf-c-txt-darkslategray\:10 { color: hsl(var(--sf-c-txt-darkslategray-10)) }
.sf-c-txt-darkslategray\:15 { color: hsl(var(--sf-c-txt-darkslategray-15)) }
.sf-c-txt-darkslategray\:20 { color: hsl(var(--sf-c-txt-darkslategray-20)) }
.sf-c-txt-darkslategray\:25 { color: hsl(var(--sf-c-txt-darkslategray-25)) }
.sf-c-txt-darkslategray\:30 { color: hsl(var(--sf-c-txt-darkslategray-30)) }
.sf-c-txt-darkslategray\:35 { color: hsl(var(--sf-c-txt-darkslategray-35)) }
.sf-c-txt-darkslategray\:40 { color: hsl(var(--sf-c-txt-darkslategray-40)) }
.sf-c-txt-darkslategray\:45 { color: hsl(var(--sf-c-txt-darkslategray-45)) }
.sf-c-txt-darkslategray\:50 { color: hsl(var(--sf-c-txt-darkslategray-50)) }
.sf-c-txt-darkslategray\:55 { color: hsl(var(--sf-c-txt-darkslategray-55)) }
.sf-c-txt-darkslategray\:60 { color: hsl(var(--sf-c-txt-darkslategray-60)) }
.sf-c-txt-darkslategray\:65 { color: hsl(var(--sf-c-txt-darkslategray-65)) }
.sf-c-txt-darkslategray\:70 { color: hsl(var(--sf-c-txt-darkslategray-70)) }
.sf-c-txt-darkslategray\:75 { color: hsl(var(--sf-c-txt-darkslategray-75)) }
.sf-c-txt-darkslategray\:80 { color: hsl(var(--sf-c-txt-darkslategray-80)) }
.sf-c-txt-darkslategray\:85 { color: hsl(var(--sf-c-txt-darkslategray-85)) }
.sf-c-txt-darkslategray\:90 { color: hsl(var(--sf-c-txt-darkslategray-90)) }
.sf-c-txt-darkslategray\:95 { color: hsl(var(--sf-c-txt-darkslategray-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:dark { color: hsl(var(--sf-c-txt-darkslategray)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:5\:dark { color: hsl(var(--sf-c-txt-darkslategray-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:10\:dark { color: hsl(var(--sf-c-txt-darkslategray-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:15\:dark { color: hsl(var(--sf-c-txt-darkslategray-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:20\:dark { color: hsl(var(--sf-c-txt-darkslategray-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:25\:dark { color: hsl(var(--sf-c-txt-darkslategray-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:30\:dark { color: hsl(var(--sf-c-txt-darkslategray-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:35\:dark { color: hsl(var(--sf-c-txt-darkslategray-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:40\:dark { color: hsl(var(--sf-c-txt-darkslategray-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:45\:dark { color: hsl(var(--sf-c-txt-darkslategray-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:50\:dark { color: hsl(var(--sf-c-txt-darkslategray-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:55\:dark { color: hsl(var(--sf-c-txt-darkslategray-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:60\:dark { color: hsl(var(--sf-c-txt-darkslategray-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:65\:dark { color: hsl(var(--sf-c-txt-darkslategray-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:70\:dark { color: hsl(var(--sf-c-txt-darkslategray-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:75\:dark { color: hsl(var(--sf-c-txt-darkslategray-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:80\:dark { color: hsl(var(--sf-c-txt-darkslategray-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:85\:dark { color: hsl(var(--sf-c-txt-darkslategray-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:90\:dark { color: hsl(var(--sf-c-txt-darkslategray-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslategray\:95\:dark { color: hsl(var(--sf-c-txt-darkslategray-95)) }