:root {
  --sf-c-deepskyblue: 195 100% 50%;
  --sf-c-deepskyblue-5: 195 100% 5%;
  --sf-c-deepskyblue-10: 195 100% 10%;
  --sf-c-deepskyblue-15: 195 100% 15%;
  --sf-c-deepskyblue-20: 195 100% 20%;
  --sf-c-deepskyblue-25: 195 100% 25%;
  --sf-c-deepskyblue-30: 195 100% 30%;
  --sf-c-deepskyblue-35: 195 100% 35%;
  --sf-c-deepskyblue-40: 195 100% 40%;
  --sf-c-deepskyblue-45: 195 100% 45%;
  --sf-c-deepskyblue-50: 195 100% 50%;
  --sf-c-deepskyblue-55: 195 100% 55%;
  --sf-c-deepskyblue-60: 195 100% 60%;
  --sf-c-deepskyblue-65: 195 100% 65%;
  --sf-c-deepskyblue-70: 195 100% 70%;
  --sf-c-deepskyblue-75: 195 100% 75%;
  --sf-c-deepskyblue-80: 195 100% 80%;
  --sf-c-deepskyblue-85: 195 100% 85%;
  --sf-c-deepskyblue-90: 195 100% 90%;
  --sf-c-deepskyblue-95: 195 100% 95%;
 
  --sf-c-txt-deepskyblue: var(--sf-c-deepskyblue);
  --sf-c-txt-deepskyblue-5: var(--sf-c-deepskyblue-5);
  --sf-c-txt-deepskyblue-10: var(--sf-c-deepskyblue-10);
  --sf-c-txt-deepskyblue-15: var(--sf-c-deepskyblue-15);
  --sf-c-txt-deepskyblue-20: var(--sf-c-deepskyblue-20);
  --sf-c-txt-deepskyblue-25: var(--sf-c-deepskyblue-25);
  --sf-c-txt-deepskyblue-30: var(--sf-c-deepskyblue-30);
  --sf-c-txt-deepskyblue-35: var(--sf-c-deepskyblue-35);
  --sf-c-txt-deepskyblue-40: var(--sf-c-deepskyblue-40);
  --sf-c-txt-deepskyblue-45: var(--sf-c-deepskyblue-45);
  --sf-c-txt-deepskyblue-50: var(--sf-c-deepskyblue-50);
  --sf-c-txt-deepskyblue-55: var(--sf-c-deepskyblue-55);
  --sf-c-txt-deepskyblue-60: var(--sf-c-deepskyblue-60);
  --sf-c-txt-deepskyblue-65: var(--sf-c-deepskyblue-65);
  --sf-c-txt-deepskyblue-70: var(--sf-c-deepskyblue-70);
  --sf-c-txt-deepskyblue-75: var(--sf-c-deepskyblue-75);
  --sf-c-txt-deepskyblue-80: var(--sf-c-deepskyblue-80);
  --sf-c-txt-deepskyblue-85: var(--sf-c-deepskyblue-85);
  --sf-c-txt-deepskyblue-90: var(--sf-c-deepskyblue-90);
  --sf-c-txt-deepskyblue-95: var(--sf-c-deepskyblue-95);
 
  --sf-dark-c-deepskyblue: 195 100% 50%;
  --sf-dark-c-deepskyblue-5: 195 100% 95%;
  --sf-dark-c-deepskyblue-10: 195 100% 90%;
  --sf-dark-c-deepskyblue-15: 195 100% 85%;
  --sf-dark-c-deepskyblue-20: 195 100% 80%;
  --sf-dark-c-deepskyblue-25: 195 100% 75%;
  --sf-dark-c-deepskyblue-30: 195 100% 70%;
  --sf-dark-c-deepskyblue-35: 195 100% 65%;
  --sf-dark-c-deepskyblue-40: 195 100% 60%;
  --sf-dark-c-deepskyblue-45: 195 100% 55%;
  --sf-dark-c-deepskyblue-50: 195 100% 50%;
  --sf-dark-c-deepskyblue-55: 195 100% 45%;
  --sf-dark-c-deepskyblue-60: 195 100% 40%;
  --sf-dark-c-deepskyblue-65: 195 100% 35%;
  --sf-dark-c-deepskyblue-70: 195 100% 30%;
  --sf-dark-c-deepskyblue-75: 195 100% 25%;
  --sf-dark-c-deepskyblue-80: 195 100% 20%;
  --sf-dark-c-deepskyblue-85: 195 100% 15%;
  --sf-dark-c-deepskyblue-90: 195 100% 10%;
  --sf-dark-c-deepskyblue-95: 195 100% 5%;
 
  --sf-dark-c-txt-deepskyblue: var(--sf-dark-c-deepskyblue);
  --sf-dark-c-txt-deepskyblue-5: var(--sf-dark-c-deepskyblue-5);
  --sf-dark-c-txt-deepskyblue-10: var(--sf-dark-c-deepskyblue-10);
  --sf-dark-c-txt-deepskyblue-15: var(--sf-dark-c-deepskyblue-15);
  --sf-dark-c-txt-deepskyblue-20: var(--sf-dark-c-deepskyblue-20);
  --sf-dark-c-txt-deepskyblue-25: var(--sf-dark-c-deepskyblue-25);
  --sf-dark-c-txt-deepskyblue-30: var(--sf-dark-c-deepskyblue-30);
  --sf-dark-c-txt-deepskyblue-35: var(--sf-dark-c-deepskyblue-35);
  --sf-dark-c-txt-deepskyblue-40: var(--sf-dark-c-deepskyblue-40);
  --sf-dark-c-txt-deepskyblue-45: var(--sf-dark-c-deepskyblue-45);
  --sf-dark-c-txt-deepskyblue-50: var(--sf-dark-c-deepskyblue-50);
  --sf-dark-c-txt-deepskyblue-55: var(--sf-dark-c-deepskyblue-55);
  --sf-dark-c-txt-deepskyblue-60: var(--sf-dark-c-deepskyblue-60);
  --sf-dark-c-txt-deepskyblue-65: var(--sf-dark-c-deepskyblue-65);
  --sf-dark-c-txt-deepskyblue-70: var(--sf-dark-c-deepskyblue-70);
  --sf-dark-c-txt-deepskyblue-75: var(--sf-dark-c-deepskyblue-75);
  --sf-dark-c-txt-deepskyblue-80: var(--sf-dark-c-deepskyblue-80);
  --sf-dark-c-txt-deepskyblue-85: var(--sf-dark-c-deepskyblue-85);
  --sf-dark-c-txt-deepskyblue-90: var(--sf-dark-c-deepskyblue-90);
  --sf-dark-c-txt-deepskyblue-95: var(--sf-dark-c-deepskyblue-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-deepskyblue: var(--sf-dark-c-deepskyblue);
  --sf-c-deepskyblue-5: var(--sf-dark-c-deepskyblue-5);
  --sf-c-deepskyblue-10: var(--sf-dark-c-deepskyblue-10);
  --sf-c-deepskyblue-15: var(--sf-dark-c-deepskyblue-15);
  --sf-c-deepskyblue-20: var(--sf-dark-c-deepskyblue-20);
  --sf-c-deepskyblue-25: var(--sf-dark-c-deepskyblue-25);
  --sf-c-deepskyblue-30: var(--sf-dark-c-deepskyblue-30);
  --sf-c-deepskyblue-35: var(--sf-dark-c-deepskyblue-35);
  --sf-c-deepskyblue-40: var(--sf-dark-c-deepskyblue-40);
  --sf-c-deepskyblue-45: var(--sf-dark-c-deepskyblue-45);
  --sf-c-deepskyblue-50: var(--sf-dark-c-deepskyblue-50);
  --sf-c-deepskyblue-55: var(--sf-dark-c-deepskyblue-55);
  --sf-c-deepskyblue-60: var(--sf-dark-c-deepskyblue-60);
  --sf-c-deepskyblue-65: var(--sf-dark-c-deepskyblue-65);
  --sf-c-deepskyblue-70: var(--sf-dark-c-deepskyblue-70);
  --sf-c-deepskyblue-75: var(--sf-dark-c-deepskyblue-75);
  --sf-c-deepskyblue-80: var(--sf-dark-c-deepskyblue-80);
  --sf-c-deepskyblue-85: var(--sf-dark-c-deepskyblue-85);
  --sf-c-deepskyblue-90: var(--sf-dark-c-deepskyblue-90);
  --sf-c-deepskyblue-95: var(--sf-dark-c-deepskyblue-95);
 
  --sf-c-txt-deepskyblue: var(--sf-dark-c-txt-deepskyblue);
  --sf-c-txt-deepskyblue-5: var(--sf-dark-c-txt-deepskyblue-5);
  --sf-c-txt-deepskyblue-10: var(--sf-dark-c-txt-deepskyblue-10);
  --sf-c-txt-deepskyblue-15: var(--sf-dark-c-txt-deepskyblue-15);
  --sf-c-txt-deepskyblue-20: var(--sf-dark-c-txt-deepskyblue-20);
  --sf-c-txt-deepskyblue-25: var(--sf-dark-c-txt-deepskyblue-25);
  --sf-c-txt-deepskyblue-30: var(--sf-dark-c-txt-deepskyblue-30);
  --sf-c-txt-deepskyblue-35: var(--sf-dark-c-txt-deepskyblue-35);
  --sf-c-txt-deepskyblue-40: var(--sf-dark-c-txt-deepskyblue-40);
  --sf-c-txt-deepskyblue-45: var(--sf-dark-c-txt-deepskyblue-45);
  --sf-c-txt-deepskyblue-50: var(--sf-dark-c-txt-deepskyblue-50);
  --sf-c-txt-deepskyblue-55: var(--sf-dark-c-txt-deepskyblue-55);
  --sf-c-txt-deepskyblue-60: var(--sf-dark-c-txt-deepskyblue-60);
  --sf-c-txt-deepskyblue-65: var(--sf-dark-c-txt-deepskyblue-65);
  --sf-c-txt-deepskyblue-70: var(--sf-dark-c-txt-deepskyblue-70);
  --sf-c-txt-deepskyblue-75: var(--sf-dark-c-txt-deepskyblue-75);
  --sf-c-txt-deepskyblue-80: var(--sf-dark-c-txt-deepskyblue-80);
  --sf-c-txt-deepskyblue-85: var(--sf-dark-c-txt-deepskyblue-85);
  --sf-c-txt-deepskyblue-90: var(--sf-dark-c-txt-deepskyblue-90);
  --sf-c-txt-deepskyblue-95: var(--sf-dark-c-txt-deepskyblue-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-deepskyblue: var(--sf-dark-c-deepskyblue);
    --sf-c-deepskyblue-5: var(--sf-dark-c-deepskyblue-5);
    --sf-c-deepskyblue-10: var(--sf-dark-c-deepskyblue-10);
    --sf-c-deepskyblue-15: var(--sf-dark-c-deepskyblue-15);
    --sf-c-deepskyblue-20: var(--sf-dark-c-deepskyblue-20);
    --sf-c-deepskyblue-25: var(--sf-dark-c-deepskyblue-25);
    --sf-c-deepskyblue-30: var(--sf-dark-c-deepskyblue-30);
    --sf-c-deepskyblue-35: var(--sf-dark-c-deepskyblue-35);
    --sf-c-deepskyblue-40: var(--sf-dark-c-deepskyblue-40);
    --sf-c-deepskyblue-45: var(--sf-dark-c-deepskyblue-45);
    --sf-c-deepskyblue-50: var(--sf-dark-c-deepskyblue-50);
    --sf-c-deepskyblue-55: var(--sf-dark-c-deepskyblue-55);
    --sf-c-deepskyblue-60: var(--sf-dark-c-deepskyblue-60);
    --sf-c-deepskyblue-65: var(--sf-dark-c-deepskyblue-65);
    --sf-c-deepskyblue-70: var(--sf-dark-c-deepskyblue-70);
    --sf-c-deepskyblue-75: var(--sf-dark-c-deepskyblue-75);
    --sf-c-deepskyblue-80: var(--sf-dark-c-deepskyblue-80);
    --sf-c-deepskyblue-85: var(--sf-dark-c-deepskyblue-85);
    --sf-c-deepskyblue-90: var(--sf-dark-c-deepskyblue-90);
    --sf-c-deepskyblue-95: var(--sf-dark-c-deepskyblue-95);
 
    --sf-c-txt-deepskyblue: var(--sf-dark-c-txt-deepskyblue);
    --sf-c-txt-deepskyblue-5: var(--sf-dark-c-txt-deepskyblue-5);
    --sf-c-txt-deepskyblue-10: var(--sf-dark-c-txt-deepskyblue-10);
    --sf-c-txt-deepskyblue-15: var(--sf-dark-c-txt-deepskyblue-15);
    --sf-c-txt-deepskyblue-20: var(--sf-dark-c-txt-deepskyblue-20);
    --sf-c-txt-deepskyblue-25: var(--sf-dark-c-txt-deepskyblue-25);
    --sf-c-txt-deepskyblue-30: var(--sf-dark-c-txt-deepskyblue-30);
    --sf-c-txt-deepskyblue-35: var(--sf-dark-c-txt-deepskyblue-35);
    --sf-c-txt-deepskyblue-40: var(--sf-dark-c-txt-deepskyblue-40);
    --sf-c-txt-deepskyblue-45: var(--sf-dark-c-txt-deepskyblue-45);
    --sf-c-txt-deepskyblue-50: var(--sf-dark-c-txt-deepskyblue-50);
    --sf-c-txt-deepskyblue-55: var(--sf-dark-c-txt-deepskyblue-55);
    --sf-c-txt-deepskyblue-60: var(--sf-dark-c-txt-deepskyblue-60);
    --sf-c-txt-deepskyblue-65: var(--sf-dark-c-txt-deepskyblue-65);
    --sf-c-txt-deepskyblue-70: var(--sf-dark-c-txt-deepskyblue-70);
    --sf-c-txt-deepskyblue-75: var(--sf-dark-c-txt-deepskyblue-75);
    --sf-c-txt-deepskyblue-80: var(--sf-dark-c-txt-deepskyblue-80);
    --sf-c-txt-deepskyblue-85: var(--sf-dark-c-txt-deepskyblue-85);
    --sf-c-txt-deepskyblue-90: var(--sf-dark-c-txt-deepskyblue-90);
    --sf-c-txt-deepskyblue-95: var(--sf-dark-c-txt-deepskyblue-95);
  }
}
 
.sf-c-deepskyblue { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue)) }
.sf-c-deepskyblue\:5 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-5)) }
.sf-c-deepskyblue\:10 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-10)) }
.sf-c-deepskyblue\:15 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-15)) }
.sf-c-deepskyblue\:20 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-20)) }
.sf-c-deepskyblue\:25 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-25)) }
.sf-c-deepskyblue\:30 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-30)) }
.sf-c-deepskyblue\:35 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-35)) }
.sf-c-deepskyblue\:40 { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-40)) }
.sf-c-deepskyblue\:45 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-45)) }
.sf-c-deepskyblue\:50 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-50)) }
.sf-c-deepskyblue\:55 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-55)) }
.sf-c-deepskyblue\:60 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-60)) }
.sf-c-deepskyblue\:65 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-65)) }
.sf-c-deepskyblue\:70 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-70)) }
.sf-c-deepskyblue\:75 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-75)) }
.sf-c-deepskyblue\:80 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-80)) }
.sf-c-deepskyblue\:85 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-85)) }
.sf-c-deepskyblue\:90 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-90)) }
.sf-c-deepskyblue\:95 { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:5\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-5)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:10\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:15\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-15)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:20\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:25\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-25)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:30\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:35\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-35)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:40\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)); background: hsl(var(--sf-c-deepskyblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:45\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-45)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:50\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:55\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-55)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:60\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:65\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-65)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:70\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:75\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-75)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:80\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:85\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-85)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:90\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-90)) }
:where([data-theme='dark'], .dark) .sf-c-deepskyblue\:95\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)); background: hsl(var(--sf-c-deepskyblue-95)) }

.sf-c-txt-deepskyblue { color: hsl(var(--sf-c-txt-deepskyblue)) }
.sf-c-txt-deepskyblue\:5 { color: hsl(var(--sf-c-txt-deepskyblue-5)) }
.sf-c-txt-deepskyblue\:10 { color: hsl(var(--sf-c-txt-deepskyblue-10)) }
.sf-c-txt-deepskyblue\:15 { color: hsl(var(--sf-c-txt-deepskyblue-15)) }
.sf-c-txt-deepskyblue\:20 { color: hsl(var(--sf-c-txt-deepskyblue-20)) }
.sf-c-txt-deepskyblue\:25 { color: hsl(var(--sf-c-txt-deepskyblue-25)) }
.sf-c-txt-deepskyblue\:30 { color: hsl(var(--sf-c-txt-deepskyblue-30)) }
.sf-c-txt-deepskyblue\:35 { color: hsl(var(--sf-c-txt-deepskyblue-35)) }
.sf-c-txt-deepskyblue\:40 { color: hsl(var(--sf-c-txt-deepskyblue-40)) }
.sf-c-txt-deepskyblue\:45 { color: hsl(var(--sf-c-txt-deepskyblue-45)) }
.sf-c-txt-deepskyblue\:50 { color: hsl(var(--sf-c-txt-deepskyblue-50)) }
.sf-c-txt-deepskyblue\:55 { color: hsl(var(--sf-c-txt-deepskyblue-55)) }
.sf-c-txt-deepskyblue\:60 { color: hsl(var(--sf-c-txt-deepskyblue-60)) }
.sf-c-txt-deepskyblue\:65 { color: hsl(var(--sf-c-txt-deepskyblue-65)) }
.sf-c-txt-deepskyblue\:70 { color: hsl(var(--sf-c-txt-deepskyblue-70)) }
.sf-c-txt-deepskyblue\:75 { color: hsl(var(--sf-c-txt-deepskyblue-75)) }
.sf-c-txt-deepskyblue\:80 { color: hsl(var(--sf-c-txt-deepskyblue-80)) }
.sf-c-txt-deepskyblue\:85 { color: hsl(var(--sf-c-txt-deepskyblue-85)) }
.sf-c-txt-deepskyblue\:90 { color: hsl(var(--sf-c-txt-deepskyblue-90)) }
.sf-c-txt-deepskyblue\:95 { color: hsl(var(--sf-c-txt-deepskyblue-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:dark { color: hsl(var(--sf-c-txt-deepskyblue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:5\:dark { color: hsl(var(--sf-c-txt-deepskyblue-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:10\:dark { color: hsl(var(--sf-c-txt-deepskyblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:15\:dark { color: hsl(var(--sf-c-txt-deepskyblue-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:20\:dark { color: hsl(var(--sf-c-txt-deepskyblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:25\:dark { color: hsl(var(--sf-c-txt-deepskyblue-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:30\:dark { color: hsl(var(--sf-c-txt-deepskyblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:35\:dark { color: hsl(var(--sf-c-txt-deepskyblue-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:40\:dark { color: hsl(var(--sf-c-txt-deepskyblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:45\:dark { color: hsl(var(--sf-c-txt-deepskyblue-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:50\:dark { color: hsl(var(--sf-c-txt-deepskyblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:55\:dark { color: hsl(var(--sf-c-txt-deepskyblue-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:60\:dark { color: hsl(var(--sf-c-txt-deepskyblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:65\:dark { color: hsl(var(--sf-c-txt-deepskyblue-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:70\:dark { color: hsl(var(--sf-c-txt-deepskyblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:75\:dark { color: hsl(var(--sf-c-txt-deepskyblue-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:80\:dark { color: hsl(var(--sf-c-txt-deepskyblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:85\:dark { color: hsl(var(--sf-c-txt-deepskyblue-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:90\:dark { color: hsl(var(--sf-c-txt-deepskyblue-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-deepskyblue\:95\:dark { color: hsl(var(--sf-c-txt-deepskyblue-95)) }