:root {
  --sf-c-green: 120 100% 25%;
  --sf-c-green-5: 120 100% 5%;
  --sf-c-green-10: 120 100% 10%;
  --sf-c-green-15: 120 100% 15%;
  --sf-c-green-20: 120 100% 20%;
  --sf-c-green-25: 120 100% 25%;
  --sf-c-green-30: 120 100% 30%;
  --sf-c-green-35: 120 100% 35%;
  --sf-c-green-40: 120 100% 40%;
  --sf-c-green-45: 120 100% 45%;
  --sf-c-green-50: 120 100% 50%;
  --sf-c-green-55: 120 100% 55%;
  --sf-c-green-60: 120 100% 60%;
  --sf-c-green-65: 120 100% 65%;
  --sf-c-green-70: 120 100% 70%;
  --sf-c-green-75: 120 100% 75%;
  --sf-c-green-80: 120 100% 80%;
  --sf-c-green-85: 120 100% 85%;
  --sf-c-green-90: 120 100% 90%;
  --sf-c-green-95: 120 100% 95%;
 
  --sf-c-txt-green: var(--sf-c-green);
  --sf-c-txt-green-5: var(--sf-c-green-5);
  --sf-c-txt-green-10: var(--sf-c-green-10);
  --sf-c-txt-green-15: var(--sf-c-green-15);
  --sf-c-txt-green-20: var(--sf-c-green-20);
  --sf-c-txt-green-25: var(--sf-c-green-25);
  --sf-c-txt-green-30: var(--sf-c-green-30);
  --sf-c-txt-green-35: var(--sf-c-green-35);
  --sf-c-txt-green-40: var(--sf-c-green-40);
  --sf-c-txt-green-45: var(--sf-c-green-45);
  --sf-c-txt-green-50: var(--sf-c-green-50);
  --sf-c-txt-green-55: var(--sf-c-green-55);
  --sf-c-txt-green-60: var(--sf-c-green-60);
  --sf-c-txt-green-65: var(--sf-c-green-65);
  --sf-c-txt-green-70: var(--sf-c-green-70);
  --sf-c-txt-green-75: var(--sf-c-green-75);
  --sf-c-txt-green-80: var(--sf-c-green-80);
  --sf-c-txt-green-85: var(--sf-c-green-85);
  --sf-c-txt-green-90: var(--sf-c-green-90);
  --sf-c-txt-green-95: var(--sf-c-green-95);
 
  --sf-dark-c-green: 120 100% 75%;
  --sf-dark-c-green-5: 120 100% 95%;
  --sf-dark-c-green-10: 120 100% 90%;
  --sf-dark-c-green-15: 120 100% 85%;
  --sf-dark-c-green-20: 120 100% 80%;
  --sf-dark-c-green-25: 120 100% 75%;
  --sf-dark-c-green-30: 120 100% 70%;
  --sf-dark-c-green-35: 120 100% 65%;
  --sf-dark-c-green-40: 120 100% 60%;
  --sf-dark-c-green-45: 120 100% 55%;
  --sf-dark-c-green-50: 120 100% 50%;
  --sf-dark-c-green-55: 120 100% 45%;
  --sf-dark-c-green-60: 120 100% 40%;
  --sf-dark-c-green-65: 120 100% 35%;
  --sf-dark-c-green-70: 120 100% 30%;
  --sf-dark-c-green-75: 120 100% 25%;
  --sf-dark-c-green-80: 120 100% 20%;
  --sf-dark-c-green-85: 120 100% 15%;
  --sf-dark-c-green-90: 120 100% 10%;
  --sf-dark-c-green-95: 120 100% 5%;
 
  --sf-dark-c-txt-green: var(--sf-dark-c-green);
  --sf-dark-c-txt-green-5: var(--sf-dark-c-green-5);
  --sf-dark-c-txt-green-10: var(--sf-dark-c-green-10);
  --sf-dark-c-txt-green-15: var(--sf-dark-c-green-15);
  --sf-dark-c-txt-green-20: var(--sf-dark-c-green-20);
  --sf-dark-c-txt-green-25: var(--sf-dark-c-green-25);
  --sf-dark-c-txt-green-30: var(--sf-dark-c-green-30);
  --sf-dark-c-txt-green-35: var(--sf-dark-c-green-35);
  --sf-dark-c-txt-green-40: var(--sf-dark-c-green-40);
  --sf-dark-c-txt-green-45: var(--sf-dark-c-green-45);
  --sf-dark-c-txt-green-50: var(--sf-dark-c-green-50);
  --sf-dark-c-txt-green-55: var(--sf-dark-c-green-55);
  --sf-dark-c-txt-green-60: var(--sf-dark-c-green-60);
  --sf-dark-c-txt-green-65: var(--sf-dark-c-green-65);
  --sf-dark-c-txt-green-70: var(--sf-dark-c-green-70);
  --sf-dark-c-txt-green-75: var(--sf-dark-c-green-75);
  --sf-dark-c-txt-green-80: var(--sf-dark-c-green-80);
  --sf-dark-c-txt-green-85: var(--sf-dark-c-green-85);
  --sf-dark-c-txt-green-90: var(--sf-dark-c-green-90);
  --sf-dark-c-txt-green-95: var(--sf-dark-c-green-95);
}
 
:root[data-theme="dark"] {
  --sf-c-green: var(--sf-dark-c-green);
  --sf-c-green-5: var(--sf-dark-c-green-5);
  --sf-c-green-10: var(--sf-dark-c-green-10);
  --sf-c-green-15: var(--sf-dark-c-green-15);
  --sf-c-green-20: var(--sf-dark-c-green-20);
  --sf-c-green-25: var(--sf-dark-c-green-25);
  --sf-c-green-30: var(--sf-dark-c-green-30);
  --sf-c-green-35: var(--sf-dark-c-green-35);
  --sf-c-green-40: var(--sf-dark-c-green-40);
  --sf-c-green-45: var(--sf-dark-c-green-45);
  --sf-c-green-50: var(--sf-dark-c-green-50);
  --sf-c-green-55: var(--sf-dark-c-green-55);
  --sf-c-green-60: var(--sf-dark-c-green-60);
  --sf-c-green-65: var(--sf-dark-c-green-65);
  --sf-c-green-70: var(--sf-dark-c-green-70);
  --sf-c-green-75: var(--sf-dark-c-green-75);
  --sf-c-green-80: var(--sf-dark-c-green-80);
  --sf-c-green-85: var(--sf-dark-c-green-85);
  --sf-c-green-90: var(--sf-dark-c-green-90);
  --sf-c-green-95: var(--sf-dark-c-green-95);
 
  --sf-c-txt-green: var(--sf-dark-c-txt-green);
  --sf-c-txt-green-5: var(--sf-dark-c-txt-green-5);
  --sf-c-txt-green-10: var(--sf-dark-c-txt-green-10);
  --sf-c-txt-green-15: var(--sf-dark-c-txt-green-15);
  --sf-c-txt-green-20: var(--sf-dark-c-txt-green-20);
  --sf-c-txt-green-25: var(--sf-dark-c-txt-green-25);
  --sf-c-txt-green-30: var(--sf-dark-c-txt-green-30);
  --sf-c-txt-green-35: var(--sf-dark-c-txt-green-35);
  --sf-c-txt-green-40: var(--sf-dark-c-txt-green-40);
  --sf-c-txt-green-45: var(--sf-dark-c-txt-green-45);
  --sf-c-txt-green-50: var(--sf-dark-c-txt-green-50);
  --sf-c-txt-green-55: var(--sf-dark-c-txt-green-55);
  --sf-c-txt-green-60: var(--sf-dark-c-txt-green-60);
  --sf-c-txt-green-65: var(--sf-dark-c-txt-green-65);
  --sf-c-txt-green-70: var(--sf-dark-c-txt-green-70);
  --sf-c-txt-green-75: var(--sf-dark-c-txt-green-75);
  --sf-c-txt-green-80: var(--sf-dark-c-txt-green-80);
  --sf-c-txt-green-85: var(--sf-dark-c-txt-green-85);
  --sf-c-txt-green-90: var(--sf-dark-c-txt-green-90);
  --sf-c-txt-green-95: var(--sf-dark-c-txt-green-95);
}

.sf-c-green { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green)) }
.sf-c-green\:5 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-5)) }
.sf-c-green\:10 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-10)) }
.sf-c-green\:15 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-15)) }
.sf-c-green\:20 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-20)) }
.sf-c-green\:25 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-25)) }
.sf-c-green\:30 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-30)) }
.sf-c-green\:35 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-35)) }
.sf-c-green\:40 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-40)) }
.sf-c-green\:45 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-45)) }
.sf-c-green\:50 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-50)) }
.sf-c-green\:55 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-55)) }
.sf-c-green\:60 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-60)) }
.sf-c-green\:65 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-65)) }
.sf-c-green\:70 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-70)) }
.sf-c-green\:75 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-75)) }
.sf-c-green\:80 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-80)) }
.sf-c-green\:85 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-85)) }
.sf-c-green\:90 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-90)) }
.sf-c-green\:95 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-95)) }
 
[data-theme="dark"] .sf-c-green { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green)) }
[data-theme="dark"] .sf-c-green\:5 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-5)) }
[data-theme="dark"] .sf-c-green\:10 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-10)) }
[data-theme="dark"] .sf-c-green\:15 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-15)) }
[data-theme="dark"] .sf-c-green\:20 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-20)) }
[data-theme="dark"] .sf-c-green\:25 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-25)) }
[data-theme="dark"] .sf-c-green\:30 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-30)) }
[data-theme="dark"] .sf-c-green\:35 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-35)) }
[data-theme="dark"] .sf-c-green\:40 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-40)) }
[data-theme="dark"] .sf-c-green\:45 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-45)) }
[data-theme="dark"] .sf-c-green\:50 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-50)) }
[data-theme="dark"] .sf-c-green\:55 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-55)) }
[data-theme="dark"] .sf-c-green\:60 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-60)) }
[data-theme="dark"] .sf-c-green\:65 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-65)) }
[data-theme="dark"] .sf-c-green\:70 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-70)) }
[data-theme="dark"] .sf-c-green\:75 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-75)) }
[data-theme="dark"] .sf-c-green\:80 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-80)) }
[data-theme="dark"] .sf-c-green\:85 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-85)) }
[data-theme="dark"] .sf-c-green\:90 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-90)) }
[data-theme="dark"] .sf-c-green\:95 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-95)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-green: var(--sf-dark-c-green);
    --sf-c-green-5: var(--sf-dark-c-green-5);
    --sf-c-green-10: var(--sf-dark-c-green-10);
    --sf-c-green-15: var(--sf-dark-c-green-15);
    --sf-c-green-20: var(--sf-dark-c-green-20);
    --sf-c-green-25: var(--sf-dark-c-green-25);
    --sf-c-green-30: var(--sf-dark-c-green-30);
    --sf-c-green-35: var(--sf-dark-c-green-35);
    --sf-c-green-40: var(--sf-dark-c-green-40);
    --sf-c-green-45: var(--sf-dark-c-green-45);
    --sf-c-green-50: var(--sf-dark-c-green-50);
    --sf-c-green-55: var(--sf-dark-c-green-55);
    --sf-c-green-60: var(--sf-dark-c-green-60);
    --sf-c-green-65: var(--sf-dark-c-green-65);
    --sf-c-green-70: var(--sf-dark-c-green-70);
    --sf-c-green-75: var(--sf-dark-c-green-75);
    --sf-c-green-80: var(--sf-dark-c-green-80);
    --sf-c-green-85: var(--sf-dark-c-green-85);
    --sf-c-green-90: var(--sf-dark-c-green-90);
    --sf-c-green-95: var(--sf-dark-c-green-95);
 
    --sf-c-txt-green: var(--sf-dark-c-txt-green);
    --sf-c-txt-green-5: var(--sf-dark-c-txt-green-5);
    --sf-c-txt-green-10: var(--sf-dark-c-txt-green-10);
    --sf-c-txt-green-15: var(--sf-dark-c-txt-green-15);
    --sf-c-txt-green-20: var(--sf-dark-c-txt-green-20);
    --sf-c-txt-green-25: var(--sf-dark-c-txt-green-25);
    --sf-c-txt-green-30: var(--sf-dark-c-txt-green-30);
    --sf-c-txt-green-35: var(--sf-dark-c-txt-green-35);
    --sf-c-txt-green-40: var(--sf-dark-c-txt-green-40);
    --sf-c-txt-green-45: var(--sf-dark-c-txt-green-45);
    --sf-c-txt-green-50: var(--sf-dark-c-txt-green-50);
    --sf-c-txt-green-55: var(--sf-dark-c-txt-green-55);
    --sf-c-txt-green-60: var(--sf-dark-c-txt-green-60);
    --sf-c-txt-green-65: var(--sf-dark-c-txt-green-65);
    --sf-c-txt-green-70: var(--sf-dark-c-txt-green-70);
    --sf-c-txt-green-75: var(--sf-dark-c-txt-green-75);
    --sf-c-txt-green-80: var(--sf-dark-c-txt-green-80);
    --sf-c-txt-green-85: var(--sf-dark-c-txt-green-85);
    --sf-c-txt-green-90: var(--sf-dark-c-txt-green-90);
    --sf-c-txt-green-95: var(--sf-dark-c-txt-green-95);
  }
 
  [data-theme="auto"] .sf-c-green { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green)) }
  [data-theme="auto"] .sf-c-green\:5 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-5)) }
  [data-theme="auto"] .sf-c-green\:10 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-10)) }
  [data-theme="auto"] .sf-c-green\:15 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-15)) }
  [data-theme="auto"] .sf-c-green\:20 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-20)) }
  [data-theme="auto"] .sf-c-green\:25 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-25)) }
  [data-theme="auto"] .sf-c-green\:30 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-30)) }
  [data-theme="auto"] .sf-c-green\:35 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-35)) }
  [data-theme="auto"] .sf-c-green\:40 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-40)) }
  [data-theme="auto"] .sf-c-green\:45 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-45)) }
  [data-theme="auto"] .sf-c-green\:50 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-50)) }
  [data-theme="auto"] .sf-c-green\:55 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-55)) }
  [data-theme="auto"] .sf-c-green\:60 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-60)) }
  [data-theme="auto"] .sf-c-green\:65 { color: hsl(var(--sf-c-txt-green-95)); background: hsl(var(--sf-c-green-65)) }
  [data-theme="auto"] .sf-c-green\:70 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-70)) }
  [data-theme="auto"] .sf-c-green\:75 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-75)) }
  [data-theme="auto"] .sf-c-green\:80 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-80)) }
  [data-theme="auto"] .sf-c-green\:85 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-85)) }
  [data-theme="auto"] .sf-c-green\:90 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-90)) }
  [data-theme="auto"] .sf-c-green\:95 { color: hsl(var(--sf-c-txt-green-5)); background: hsl(var(--sf-c-green-95)) }
}

.sf-c-txt-green { color: hsl(var(--sf-c-txt-green)) }
.sf-c-txt-green\:5 { color: hsl(var(--sf-c-txt-green-5)) }
.sf-c-txt-green\:10 { color: hsl(var(--sf-c-txt-green-10)) }
.sf-c-txt-green\:15 { color: hsl(var(--sf-c-txt-green-15)) }
.sf-c-txt-green\:20 { color: hsl(var(--sf-c-txt-green-20)) }
.sf-c-txt-green\:25 { color: hsl(var(--sf-c-txt-green-25)) }
.sf-c-txt-green\:30 { color: hsl(var(--sf-c-txt-green-30)) }
.sf-c-txt-green\:35 { color: hsl(var(--sf-c-txt-green-35)) }
.sf-c-txt-green\:40 { color: hsl(var(--sf-c-txt-green-40)) }
.sf-c-txt-green\:45 { color: hsl(var(--sf-c-txt-green-45)) }
.sf-c-txt-green\:50 { color: hsl(var(--sf-c-txt-green-50)) }
.sf-c-txt-green\:55 { color: hsl(var(--sf-c-txt-green-55)) }
.sf-c-txt-green\:60 { color: hsl(var(--sf-c-txt-green-60)) }
.sf-c-txt-green\:65 { color: hsl(var(--sf-c-txt-green-65)) }
.sf-c-txt-green\:70 { color: hsl(var(--sf-c-txt-green-70)) }
.sf-c-txt-green\:75 { color: hsl(var(--sf-c-txt-green-75)) }
.sf-c-txt-green\:80 { color: hsl(var(--sf-c-txt-green-80)) }
.sf-c-txt-green\:85 { color: hsl(var(--sf-c-txt-green-85)) }
.sf-c-txt-green\:90 { color: hsl(var(--sf-c-txt-green-90)) }
.sf-c-txt-green\:95 { color: hsl(var(--sf-c-txt-green-95)) }