:root {
  --sf-c-lawngreen: 90 100% 49%;
  --sf-c-lawngreen-0: 90 100% 0%;
  --sf-c-lawngreen-5: 90 100% 5%;
  --sf-c-lawngreen-10: 90 100% 10%;
  --sf-c-lawngreen-15: 90 100% 15%;
  --sf-c-lawngreen-20: 90 100% 20%;
  --sf-c-lawngreen-25: 90 100% 25%;
  --sf-c-lawngreen-30: 90 100% 30%;
  --sf-c-lawngreen-35: 90 100% 35%;
  --sf-c-lawngreen-40: 90 100% 40%;
  --sf-c-lawngreen-45: 90 100% 45%;
  --sf-c-lawngreen-50: 90 100% 50%;
  --sf-c-lawngreen-55: 90 100% 55%;
  --sf-c-lawngreen-60: 90 100% 60%;
  --sf-c-lawngreen-65: 90 100% 65%;
  --sf-c-lawngreen-70: 90 100% 70%;
  --sf-c-lawngreen-75: 90 100% 75%;
  --sf-c-lawngreen-80: 90 100% 80%;
  --sf-c-lawngreen-85: 90 100% 85%;
  --sf-c-lawngreen-90: 90 100% 90%;
  --sf-c-lawngreen-95: 90 100% 95%;
  --sf-c-lawngreen-100: 90 100% 100%;

  --sf-c-txt-lawngreen: var(--sf-c-lawngreen);
  --sf-c-txt-lawngreen-0: var(--sf-c-lawngreen-0);
  --sf-c-txt-lawngreen-5: var(--sf-c-lawngreen-5);
  --sf-c-txt-lawngreen-10: var(--sf-c-lawngreen-10);
  --sf-c-txt-lawngreen-15: var(--sf-c-lawngreen-15);
  --sf-c-txt-lawngreen-20: var(--sf-c-lawngreen-20);
  --sf-c-txt-lawngreen-25: var(--sf-c-lawngreen-25);
  --sf-c-txt-lawngreen-30: var(--sf-c-lawngreen-30);
  --sf-c-txt-lawngreen-35: var(--sf-c-lawngreen-35);
  --sf-c-txt-lawngreen-40: var(--sf-c-lawngreen-40);
  --sf-c-txt-lawngreen-45: var(--sf-c-lawngreen-45);
  --sf-c-txt-lawngreen-50: var(--sf-c-lawngreen-50);
  --sf-c-txt-lawngreen-55: var(--sf-c-lawngreen-55);
  --sf-c-txt-lawngreen-60: var(--sf-c-lawngreen-60);
  --sf-c-txt-lawngreen-65: var(--sf-c-lawngreen-65);
  --sf-c-txt-lawngreen-70: var(--sf-c-lawngreen-70);
  --sf-c-txt-lawngreen-75: var(--sf-c-lawngreen-75);
  --sf-c-txt-lawngreen-80: var(--sf-c-lawngreen-80);
  --sf-c-txt-lawngreen-85: var(--sf-c-lawngreen-85);
  --sf-c-txt-lawngreen-90: var(--sf-c-lawngreen-90);
  --sf-c-txt-lawngreen-95: var(--sf-c-lawngreen-95);
  --sf-c-txt-lawngreen-100: var(--sf-c-lawngreen-100);

  --sf-dark-c-lawngreen: 90 100% 51%;
  --sf-dark-c-lawngreen-0: 90 100% 0%;
  --sf-dark-c-lawngreen-5: 90 100% 5%;
  --sf-dark-c-lawngreen-10: 90 100% 10%;
  --sf-dark-c-lawngreen-15: 90 100% 15%;
  --sf-dark-c-lawngreen-20: 90 100% 20%;
  --sf-dark-c-lawngreen-25: 90 100% 25%;
  --sf-dark-c-lawngreen-30: 90 100% 30%;
  --sf-dark-c-lawngreen-35: 90 100% 35%;
  --sf-dark-c-lawngreen-40: 90 100% 40%;
  --sf-dark-c-lawngreen-45: 90 100% 45%;
  --sf-dark-c-lawngreen-50: 90 100% 50%;
  --sf-dark-c-lawngreen-55: 90 100% 55%;
  --sf-dark-c-lawngreen-60: 90 100% 60%;
  --sf-dark-c-lawngreen-65: 90 100% 65%;
  --sf-dark-c-lawngreen-70: 90 100% 70%;
  --sf-dark-c-lawngreen-75: 90 100% 75%;
  --sf-dark-c-lawngreen-80: 90 100% 80%;
  --sf-dark-c-lawngreen-85: 90 100% 85%;
  --sf-dark-c-lawngreen-90: 90 100% 90%;
  --sf-dark-c-lawngreen-95: 90 100% 95%;
  --sf-dark-c-lawngreen-100: 90 100% 100%;

  --sf-dark-c-txt-lawngreen: var(--sf-dark-c-lawngreen);
  --sf-dark-c-txt-lawngreen-0: var(--sf-dark-c-lawngreen-0);
  --sf-dark-c-txt-lawngreen-5: var(--sf-dark-c-lawngreen-5);
  --sf-dark-c-txt-lawngreen-10: var(--sf-dark-c-lawngreen-10);
  --sf-dark-c-txt-lawngreen-15: var(--sf-dark-c-lawngreen-15);
  --sf-dark-c-txt-lawngreen-20: var(--sf-dark-c-lawngreen-20);
  --sf-dark-c-txt-lawngreen-25: var(--sf-dark-c-lawngreen-25);
  --sf-dark-c-txt-lawngreen-30: var(--sf-dark-c-lawngreen-30);
  --sf-dark-c-txt-lawngreen-35: var(--sf-dark-c-lawngreen-35);
  --sf-dark-c-txt-lawngreen-40: var(--sf-dark-c-lawngreen-40);
  --sf-dark-c-txt-lawngreen-45: var(--sf-dark-c-lawngreen-45);
  --sf-dark-c-txt-lawngreen-50: var(--sf-dark-c-lawngreen-50);
  --sf-dark-c-txt-lawngreen-55: var(--sf-dark-c-lawngreen-55);
  --sf-dark-c-txt-lawngreen-60: var(--sf-dark-c-lawngreen-60);
  --sf-dark-c-txt-lawngreen-65: var(--sf-dark-c-lawngreen-65);
  --sf-dark-c-txt-lawngreen-70: var(--sf-dark-c-lawngreen-70);
  --sf-dark-c-txt-lawngreen-75: var(--sf-dark-c-lawngreen-75);
  --sf-dark-c-txt-lawngreen-80: var(--sf-dark-c-lawngreen-80);
  --sf-dark-c-txt-lawngreen-85: var(--sf-dark-c-lawngreen-85);
  --sf-dark-c-txt-lawngreen-90: var(--sf-dark-c-lawngreen-90);
  --sf-dark-c-txt-lawngreen-95: var(--sf-dark-c-lawngreen-95);
  --sf-dark-c-txt-lawngreen-100: var(--sf-dark-c-lawngreen-100);
}

.sf-c-lawngreen { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen)) }
.sf-c-lawngreen\:0 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-0)) }
.sf-c-lawngreen\:5 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-5)) }
.sf-c-lawngreen\:10 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-10)) }
.sf-c-lawngreen\:15 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-15)) }
.sf-c-lawngreen\:20 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-20)) }
.sf-c-lawngreen\:25 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-25)) }
.sf-c-lawngreen\:30 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-30)) }
.sf-c-lawngreen\:35 { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-35)) }
.sf-c-lawngreen\:40 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-40)) }
.sf-c-lawngreen\:45 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-45)) }
.sf-c-lawngreen\:50 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-50)) }
.sf-c-lawngreen\:55 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-55)) }
.sf-c-lawngreen\:60 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-60)) }
.sf-c-lawngreen\:65 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-65)) }
.sf-c-lawngreen\:70 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-70)) }
.sf-c-lawngreen\:75 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-75)) }
.sf-c-lawngreen\:80 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-80)) }
.sf-c-lawngreen\:85 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-85)) }
.sf-c-lawngreen\:90 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-90)) }
.sf-c-lawngreen\:95 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-95)) }
.sf-c-lawngreen\:100 { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-100)) }

html.var .sf-c-lawngreen { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 49%) }
html.var .sf-c-lawngreen\:0 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 0%) }
html.var .sf-c-lawngreen\:5 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 5%) }
html.var .sf-c-lawngreen\:10 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 10%) }
html.var .sf-c-lawngreen\:15 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 15%) }
html.var .sf-c-lawngreen\:20 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 20%) }
html.var .sf-c-lawngreen\:25 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 25%) }
html.var .sf-c-lawngreen\:30 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 30%) }
html.var .sf-c-lawngreen\:35 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 35%) }
html.var .sf-c-lawngreen\:40 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 40%) }
html.var .sf-c-lawngreen\:45 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 45%) }
html.var .sf-c-lawngreen\:50 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 50%) }
html.var .sf-c-lawngreen\:55 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 55%) }
html.var .sf-c-lawngreen\:60 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 60%) }
html.var .sf-c-lawngreen\:65 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 65%) }
html.var .sf-c-lawngreen\:70 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 70%) }
html.var .sf-c-lawngreen\:75 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 75%) }
html.var .sf-c-lawngreen\:80 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 80%) }
html.var .sf-c-lawngreen\:85 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 85%) }
html.var .sf-c-lawngreen\:90 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 90%) }
html.var .sf-c-lawngreen\:95 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 95%) }
html.var .sf-c-lawngreen\:100 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 100%) }

html[data-theme='dark'] .sf-c-lawngreen, html.dark .sf-c-lawngreen { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen)) }
html[data-theme='dark'] .sf-c-lawngreen\:0, html.dark .sf-c-lawngreen\:0 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-100)) }
html[data-theme='dark'] .sf-c-lawngreen\:5, html.dark .sf-c-lawngreen\:5 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-95)) }
html[data-theme='dark'] .sf-c-lawngreen\:10, html.dark .sf-c-lawngreen\:10 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-90)) }
html[data-theme='dark'] .sf-c-lawngreen\:15, html.dark .sf-c-lawngreen\:15 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-85)) }
html[data-theme='dark'] .sf-c-lawngreen\:20, html.dark .sf-c-lawngreen\:20 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-80)) }
html[data-theme='dark'] .sf-c-lawngreen\:25, html.dark .sf-c-lawngreen\:25 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-75)) }
html[data-theme='dark'] .sf-c-lawngreen\:30, html.dark .sf-c-lawngreen\:30 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-70)) }
html[data-theme='dark'] .sf-c-lawngreen\:35, html.dark .sf-c-lawngreen\:35 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-65)) }
html[data-theme='dark'] .sf-c-lawngreen\:40, html.dark .sf-c-lawngreen\:40 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-60)) }
html[data-theme='dark'] .sf-c-lawngreen\:45, html.dark .sf-c-lawngreen\:45 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-55)) }
html[data-theme='dark'] .sf-c-lawngreen\:50, html.dark .sf-c-lawngreen\:50 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-50)) }
html[data-theme='dark'] .sf-c-lawngreen\:55, html.dark .sf-c-lawngreen\:55 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-45)) }
html[data-theme='dark'] .sf-c-lawngreen\:60, html.dark .sf-c-lawngreen\:60 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-40)) }
html[data-theme='dark'] .sf-c-lawngreen\:65, html.dark .sf-c-lawngreen\:65 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-35)) }
html[data-theme='dark'] .sf-c-lawngreen\:70, html.dark .sf-c-lawngreen\:70 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-30)) }
html[data-theme='dark'] .sf-c-lawngreen\:75, html.dark .sf-c-lawngreen\:75 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-25)) }
html[data-theme='dark'] .sf-c-lawngreen\:80, html.dark .sf-c-lawngreen\:80 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-20)) }
html[data-theme='dark'] .sf-c-lawngreen\:85, html.dark .sf-c-lawngreen\:85 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-15)) }
html[data-theme='dark'] .sf-c-lawngreen\:90, html.dark .sf-c-lawngreen\:90 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-10)) }
html[data-theme='dark'] .sf-c-lawngreen\:95, html.dark .sf-c-lawngreen\:95 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-5)) }
html[data-theme='dark'] .sf-c-lawngreen\:100, html.dark .sf-c-lawngreen\:100 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-0)) }

html[data-theme='dark'] .sf-c-lawngreen\:dark, html.dark .sf-c-lawngreen\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen)) }
html[data-theme='dark'] .sf-c-lawngreen\:0\:dark, html.dark .sf-c-lawngreen\:0\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-100)) }
html[data-theme='dark'] .sf-c-lawngreen\:5\:dark, html.dark .sf-c-lawngreen\:5\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-95)) }
html[data-theme='dark'] .sf-c-lawngreen\:10\:dark, html.dark .sf-c-lawngreen\:10\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-90)) }
html[data-theme='dark'] .sf-c-lawngreen\:15\:dark, html.dark .sf-c-lawngreen\:15\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-85)) }
html[data-theme='dark'] .sf-c-lawngreen\:20\:dark, html.dark .sf-c-lawngreen\:20\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-80)) }
html[data-theme='dark'] .sf-c-lawngreen\:25\:dark, html.dark .sf-c-lawngreen\:25\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-75)) }
html[data-theme='dark'] .sf-c-lawngreen\:30\:dark, html.dark .sf-c-lawngreen\:30\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-70)) }
html[data-theme='dark'] .sf-c-lawngreen\:35\:dark, html.dark .sf-c-lawngreen\:35\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-65)) }
html[data-theme='dark'] .sf-c-lawngreen\:40\:dark, html.dark .sf-c-lawngreen\:40\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-60)) }
html[data-theme='dark'] .sf-c-lawngreen\:45\:dark, html.dark .sf-c-lawngreen\:45\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-55)) }
html[data-theme='dark'] .sf-c-lawngreen\:50\:dark, html.dark .sf-c-lawngreen\:50\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-50)) }
html[data-theme='dark'] .sf-c-lawngreen\:55\:dark, html.dark .sf-c-lawngreen\:55\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-45)) }
html[data-theme='dark'] .sf-c-lawngreen\:60\:dark, html.dark .sf-c-lawngreen\:60\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-40)) }
html[data-theme='dark'] .sf-c-lawngreen\:65\:dark, html.dark .sf-c-lawngreen\:65\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-35)) }
html[data-theme='dark'] .sf-c-lawngreen\:70\:dark, html.dark .sf-c-lawngreen\:70\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-30)) }
html[data-theme='dark'] .sf-c-lawngreen\:75\:dark, html.dark .sf-c-lawngreen\:75\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-25)) }
html[data-theme='dark'] .sf-c-lawngreen\:80\:dark, html.dark .sf-c-lawngreen\:80\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-20)) }
html[data-theme='dark'] .sf-c-lawngreen\:85\:dark, html.dark .sf-c-lawngreen\:85\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-15)) }
html[data-theme='dark'] .sf-c-lawngreen\:90\:dark, html.dark .sf-c-lawngreen\:90\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-10)) }
html[data-theme='dark'] .sf-c-lawngreen\:95\:dark, html.dark .sf-c-lawngreen\:95\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-5)) }
html[data-theme='dark'] .sf-c-lawngreen\:100\:dark, html.dark .sf-c-lawngreen\:100\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-0)) }

html.var[data-theme='dark'] .sf-c-lawngreen, html.var.dark .sf-c-lawngreen { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 51%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:0, html.var.dark .sf-c-lawngreen\:0 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:5, html.var.dark .sf-c-lawngreen\:5 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:10, html.var.dark .sf-c-lawngreen\:10 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:15, html.var.dark .sf-c-lawngreen\:15 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:20, html.var.dark .sf-c-lawngreen\:20 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:25, html.var.dark .sf-c-lawngreen\:25 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:30, html.var.dark .sf-c-lawngreen\:30 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:35, html.var.dark .sf-c-lawngreen\:35 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:40, html.var.dark .sf-c-lawngreen\:40 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:45, html.var.dark .sf-c-lawngreen\:45 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:50, html.var.dark .sf-c-lawngreen\:50 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:55, html.var.dark .sf-c-lawngreen\:55 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:60, html.var.dark .sf-c-lawngreen\:60 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:65, html.var.dark .sf-c-lawngreen\:65 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:70, html.var.dark .sf-c-lawngreen\:70 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:75, html.var.dark .sf-c-lawngreen\:75 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:80, html.var.dark .sf-c-lawngreen\:80 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:85, html.var.dark .sf-c-lawngreen\:85 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:90, html.var.dark .sf-c-lawngreen\:90 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:95, html.var.dark .sf-c-lawngreen\:95 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:100, html.var.dark .sf-c-lawngreen\:100 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-lawngreen\:dark, html.var.dark .sf-c-lawngreen\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 51%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:0\:dark, html.var.dark .sf-c-lawngreen\:0\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:5\:dark, html.var.dark .sf-c-lawngreen\:5\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:10\:dark, html.var.dark .sf-c-lawngreen\:10\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:15\:dark, html.var.dark .sf-c-lawngreen\:15\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:20\:dark, html.var.dark .sf-c-lawngreen\:20\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:25\:dark, html.var.dark .sf-c-lawngreen\:25\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:30\:dark, html.var.dark .sf-c-lawngreen\:30\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:35\:dark, html.var.dark .sf-c-lawngreen\:35\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:40\:dark, html.var.dark .sf-c-lawngreen\:40\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:45\:dark, html.var.dark .sf-c-lawngreen\:45\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:50\:dark, html.var.dark .sf-c-lawngreen\:50\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:55\:dark, html.var.dark .sf-c-lawngreen\:55\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:60\:dark, html.var.dark .sf-c-lawngreen\:60\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:65\:dark, html.var.dark .sf-c-lawngreen\:65\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:70\:dark, html.var.dark .sf-c-lawngreen\:70\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:75\:dark, html.var.dark .sf-c-lawngreen\:75\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:80\:dark, html.var.dark .sf-c-lawngreen\:80\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:85\:dark, html.var.dark .sf-c-lawngreen\:85\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:90\:dark, html.var.dark .sf-c-lawngreen\:90\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:95\:dark, html.var.dark .sf-c-lawngreen\:95\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-lawngreen\:100\:dark, html.var.dark .sf-c-lawngreen\:100\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lawngreen, html.auto .sf-c-lawngreen { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen)) }
  html[data-theme='auto'] .sf-c-lawngreen\:0, html.auto .sf-c-lawngreen\:0 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-100)) }
  html[data-theme='auto'] .sf-c-lawngreen\:5, html.auto .sf-c-lawngreen\:5 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-95)) }
  html[data-theme='auto'] .sf-c-lawngreen\:10, html.auto .sf-c-lawngreen\:10 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-90)) }
  html[data-theme='auto'] .sf-c-lawngreen\:15, html.auto .sf-c-lawngreen\:15 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-85)) }
  html[data-theme='auto'] .sf-c-lawngreen\:20, html.auto .sf-c-lawngreen\:20 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-80)) }
  html[data-theme='auto'] .sf-c-lawngreen\:25, html.auto .sf-c-lawngreen\:25 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-75)) }
  html[data-theme='auto'] .sf-c-lawngreen\:30, html.auto .sf-c-lawngreen\:30 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-70)) }
  html[data-theme='auto'] .sf-c-lawngreen\:35, html.auto .sf-c-lawngreen\:35 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-65)) }
  html[data-theme='auto'] .sf-c-lawngreen\:40, html.auto .sf-c-lawngreen\:40 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-60)) }
  html[data-theme='auto'] .sf-c-lawngreen\:45, html.auto .sf-c-lawngreen\:45 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-55)) }
  html[data-theme='auto'] .sf-c-lawngreen\:50, html.auto .sf-c-lawngreen\:50 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-50)) }
  html[data-theme='auto'] .sf-c-lawngreen\:55, html.auto .sf-c-lawngreen\:55 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-45)) }
  html[data-theme='auto'] .sf-c-lawngreen\:60, html.auto .sf-c-lawngreen\:60 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-40)) }
  html[data-theme='auto'] .sf-c-lawngreen\:65, html.auto .sf-c-lawngreen\:65 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-35)) }
  html[data-theme='auto'] .sf-c-lawngreen\:70, html.auto .sf-c-lawngreen\:70 { color: hsl(var(--sf-dark-c-txt-lawngreen-5)); background: hsl(var(--sf-dark-c-lawngreen-30)) }
  html[data-theme='auto'] .sf-c-lawngreen\:75, html.auto .sf-c-lawngreen\:75 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-25)) }
  html[data-theme='auto'] .sf-c-lawngreen\:80, html.auto .sf-c-lawngreen\:80 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-20)) }
  html[data-theme='auto'] .sf-c-lawngreen\:85, html.auto .sf-c-lawngreen\:85 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-15)) }
  html[data-theme='auto'] .sf-c-lawngreen\:90, html.auto .sf-c-lawngreen\:90 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-10)) }
  html[data-theme='auto'] .sf-c-lawngreen\:95, html.auto .sf-c-lawngreen\:95 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-5)) }
  html[data-theme='auto'] .sf-c-lawngreen\:100, html.auto .sf-c-lawngreen\:100 { color: hsl(var(--sf-dark-c-txt-lawngreen-95)); background: hsl(var(--sf-dark-c-lawngreen-0)) }

  html[data-theme='auto'] .sf-c-lawngreen\:dark, html.auto .sf-c-lawngreen\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen)) }
  html[data-theme='auto'] .sf-c-lawngreen\:0\:dark, html.auto .sf-c-lawngreen\:0\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-100)) }
  html[data-theme='auto'] .sf-c-lawngreen\:5\:dark, html.auto .sf-c-lawngreen\:5\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-95)) }
  html[data-theme='auto'] .sf-c-lawngreen\:10\:dark, html.auto .sf-c-lawngreen\:10\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-90)) }
  html[data-theme='auto'] .sf-c-lawngreen\:15\:dark, html.auto .sf-c-lawngreen\:15\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-85)) }
  html[data-theme='auto'] .sf-c-lawngreen\:20\:dark, html.auto .sf-c-lawngreen\:20\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-80)) }
  html[data-theme='auto'] .sf-c-lawngreen\:25\:dark, html.auto .sf-c-lawngreen\:25\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-75)) }
  html[data-theme='auto'] .sf-c-lawngreen\:30\:dark, html.auto .sf-c-lawngreen\:30\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-70)) }
  html[data-theme='auto'] .sf-c-lawngreen\:35\:dark, html.auto .sf-c-lawngreen\:35\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-65)) }
  html[data-theme='auto'] .sf-c-lawngreen\:40\:dark, html.auto .sf-c-lawngreen\:40\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-60)) }
  html[data-theme='auto'] .sf-c-lawngreen\:45\:dark, html.auto .sf-c-lawngreen\:45\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-55)) }
  html[data-theme='auto'] .sf-c-lawngreen\:50\:dark, html.auto .sf-c-lawngreen\:50\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-50)) }
  html[data-theme='auto'] .sf-c-lawngreen\:55\:dark, html.auto .sf-c-lawngreen\:55\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-45)) }
  html[data-theme='auto'] .sf-c-lawngreen\:60\:dark, html.auto .sf-c-lawngreen\:60\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-40)) }
  html[data-theme='auto'] .sf-c-lawngreen\:65\:dark, html.auto .sf-c-lawngreen\:65\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-35)) }
  html[data-theme='auto'] .sf-c-lawngreen\:70\:dark, html.auto .sf-c-lawngreen\:70\:dark { color: hsl(var(--sf-c-txt-lawngreen-5)); background: hsl(var(--sf-c-lawngreen-30)) }
  html[data-theme='auto'] .sf-c-lawngreen\:75\:dark, html.auto .sf-c-lawngreen\:75\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-25)) }
  html[data-theme='auto'] .sf-c-lawngreen\:80\:dark, html.auto .sf-c-lawngreen\:80\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-20)) }
  html[data-theme='auto'] .sf-c-lawngreen\:85\:dark, html.auto .sf-c-lawngreen\:85\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-15)) }
  html[data-theme='auto'] .sf-c-lawngreen\:90\:dark, html.auto .sf-c-lawngreen\:90\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-10)) }
  html[data-theme='auto'] .sf-c-lawngreen\:95\:dark, html.auto .sf-c-lawngreen\:95\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-5)) }
  html[data-theme='auto'] .sf-c-lawngreen\:100\:dark, html.auto .sf-c-lawngreen\:100\:dark { color: hsl(var(--sf-c-txt-lawngreen-95)); background: hsl(var(--sf-c-lawngreen-0)) }

  html.var[data-theme='auto'] .sf-c-lawngreen, html.var.auto .sf-c-lawngreen { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 51%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:0, html.var.auto .sf-c-lawngreen\:0 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:5, html.var.auto .sf-c-lawngreen\:5 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:10, html.var.auto .sf-c-lawngreen\:10 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:15, html.var.auto .sf-c-lawngreen\:15 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:20, html.var.auto .sf-c-lawngreen\:20 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:25, html.var.auto .sf-c-lawngreen\:25 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:30, html.var.auto .sf-c-lawngreen\:30 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:35, html.var.auto .sf-c-lawngreen\:35 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:40, html.var.auto .sf-c-lawngreen\:40 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:45, html.var.auto .sf-c-lawngreen\:45 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:50, html.var.auto .sf-c-lawngreen\:50 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:55, html.var.auto .sf-c-lawngreen\:55 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:60, html.var.auto .sf-c-lawngreen\:60 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:65, html.var.auto .sf-c-lawngreen\:65 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:70, html.var.auto .sf-c-lawngreen\:70 { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:75, html.var.auto .sf-c-lawngreen\:75 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:80, html.var.auto .sf-c-lawngreen\:80 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:85, html.var.auto .sf-c-lawngreen\:85 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:90, html.var.auto .sf-c-lawngreen\:90 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:95, html.var.auto .sf-c-lawngreen\:95 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:100, html.var.auto .sf-c-lawngreen\:100 { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-lawngreen\:dark, html.var.auto .sf-c-lawngreen\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 51%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:0\:dark, html.var.auto .sf-c-lawngreen\:0\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:5\:dark, html.var.auto .sf-c-lawngreen\:5\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:10\:dark, html.var.auto .sf-c-lawngreen\:10\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:15\:dark, html.var.auto .sf-c-lawngreen\:15\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:20\:dark, html.var.auto .sf-c-lawngreen\:20\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:25\:dark, html.var.auto .sf-c-lawngreen\:25\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:30\:dark, html.var.auto .sf-c-lawngreen\:30\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:35\:dark, html.var.auto .sf-c-lawngreen\:35\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:40\:dark, html.var.auto .sf-c-lawngreen\:40\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:45\:dark, html.var.auto .sf-c-lawngreen\:45\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:50\:dark, html.var.auto .sf-c-lawngreen\:50\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:55\:dark, html.var.auto .sf-c-lawngreen\:55\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:60\:dark, html.var.auto .sf-c-lawngreen\:60\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:65\:dark, html.var.auto .sf-c-lawngreen\:65\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:70\:dark, html.var.auto .sf-c-lawngreen\:70\:dark { color: hsl(90, 100%, 5%); background: hsl(90, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:75\:dark, html.var.auto .sf-c-lawngreen\:75\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:80\:dark, html.var.auto .sf-c-lawngreen\:80\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:85\:dark, html.var.auto .sf-c-lawngreen\:85\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:90\:dark, html.var.auto .sf-c-lawngreen\:90\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:95\:dark, html.var.auto .sf-c-lawngreen\:95\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-lawngreen\:100\:dark, html.var.auto .sf-c-lawngreen\:100\:dark { color: hsl(90, 100%, 95%); background: hsl(90, 100%, 0%) }
}

.sf-c-txt-lawngreen { color: hsl(var(--sf-c-txt-lawngreen)) }
.sf-c-txt-lawngreen\:0 { color: hsl(var(--sf-c-txt-lawngreen-0)) }
.sf-c-txt-lawngreen\:5 { color: hsl(var(--sf-c-txt-lawngreen-5)) }
.sf-c-txt-lawngreen\:10 { color: hsl(var(--sf-c-txt-lawngreen-10)) }
.sf-c-txt-lawngreen\:15 { color: hsl(var(--sf-c-txt-lawngreen-15)) }
.sf-c-txt-lawngreen\:20 { color: hsl(var(--sf-c-txt-lawngreen-20)) }
.sf-c-txt-lawngreen\:25 { color: hsl(var(--sf-c-txt-lawngreen-25)) }
.sf-c-txt-lawngreen\:30 { color: hsl(var(--sf-c-txt-lawngreen-30)) }
.sf-c-txt-lawngreen\:35 { color: hsl(var(--sf-c-txt-lawngreen-35)) }
.sf-c-txt-lawngreen\:40 { color: hsl(var(--sf-c-txt-lawngreen-40)) }
.sf-c-txt-lawngreen\:45 { color: hsl(var(--sf-c-txt-lawngreen-45)) }
.sf-c-txt-lawngreen\:50 { color: hsl(var(--sf-c-txt-lawngreen-50)) }
.sf-c-txt-lawngreen\:55 { color: hsl(var(--sf-c-txt-lawngreen-55)) }
.sf-c-txt-lawngreen\:60 { color: hsl(var(--sf-c-txt-lawngreen-60)) }
.sf-c-txt-lawngreen\:65 { color: hsl(var(--sf-c-txt-lawngreen-65)) }
.sf-c-txt-lawngreen\:70 { color: hsl(var(--sf-c-txt-lawngreen-70)) }
.sf-c-txt-lawngreen\:75 { color: hsl(var(--sf-c-txt-lawngreen-75)) }
.sf-c-txt-lawngreen\:80 { color: hsl(var(--sf-c-txt-lawngreen-80)) }
.sf-c-txt-lawngreen\:85 { color: hsl(var(--sf-c-txt-lawngreen-85)) }
.sf-c-txt-lawngreen\:90 { color: hsl(var(--sf-c-txt-lawngreen-90)) }
.sf-c-txt-lawngreen\:95 { color: hsl(var(--sf-c-txt-lawngreen-95)) }
.sf-c-txt-lawngreen\:100 { color: hsl(var(--sf-c-txt-lawngreen-100)) }