:root {
  --sf-c-lemonchiffon: 54 100% 90%;
  --sf-c-lemonchiffon-0: 54 100% 0%;
  --sf-c-lemonchiffon-5: 54 100% 5%;
  --sf-c-lemonchiffon-10: 54 100% 10%;
  --sf-c-lemonchiffon-15: 54 100% 15%;
  --sf-c-lemonchiffon-20: 54 100% 20%;
  --sf-c-lemonchiffon-25: 54 100% 25%;
  --sf-c-lemonchiffon-30: 54 100% 30%;
  --sf-c-lemonchiffon-35: 54 100% 35%;
  --sf-c-lemonchiffon-40: 54 100% 40%;
  --sf-c-lemonchiffon-45: 54 100% 45%;
  --sf-c-lemonchiffon-50: 54 100% 50%;
  --sf-c-lemonchiffon-55: 54 100% 55%;
  --sf-c-lemonchiffon-60: 54 100% 60%;
  --sf-c-lemonchiffon-65: 54 100% 65%;
  --sf-c-lemonchiffon-70: 54 100% 70%;
  --sf-c-lemonchiffon-75: 54 100% 75%;
  --sf-c-lemonchiffon-80: 54 100% 80%;
  --sf-c-lemonchiffon-85: 54 100% 85%;
  --sf-c-lemonchiffon-90: 54 100% 90%;
  --sf-c-lemonchiffon-95: 54 100% 95%;
  --sf-c-lemonchiffon-100: 54 100% 100%;

  --sf-c-txt-lemonchiffon: var(--sf-c-lemonchiffon);
  --sf-c-txt-lemonchiffon-0: var(--sf-c-lemonchiffon-0);
  --sf-c-txt-lemonchiffon-5: var(--sf-c-lemonchiffon-5);
  --sf-c-txt-lemonchiffon-10: var(--sf-c-lemonchiffon-10);
  --sf-c-txt-lemonchiffon-15: var(--sf-c-lemonchiffon-15);
  --sf-c-txt-lemonchiffon-20: var(--sf-c-lemonchiffon-20);
  --sf-c-txt-lemonchiffon-25: var(--sf-c-lemonchiffon-25);
  --sf-c-txt-lemonchiffon-30: var(--sf-c-lemonchiffon-30);
  --sf-c-txt-lemonchiffon-35: var(--sf-c-lemonchiffon-35);
  --sf-c-txt-lemonchiffon-40: var(--sf-c-lemonchiffon-40);
  --sf-c-txt-lemonchiffon-45: var(--sf-c-lemonchiffon-45);
  --sf-c-txt-lemonchiffon-50: var(--sf-c-lemonchiffon-50);
  --sf-c-txt-lemonchiffon-55: var(--sf-c-lemonchiffon-55);
  --sf-c-txt-lemonchiffon-60: var(--sf-c-lemonchiffon-60);
  --sf-c-txt-lemonchiffon-65: var(--sf-c-lemonchiffon-65);
  --sf-c-txt-lemonchiffon-70: var(--sf-c-lemonchiffon-70);
  --sf-c-txt-lemonchiffon-75: var(--sf-c-lemonchiffon-75);
  --sf-c-txt-lemonchiffon-80: var(--sf-c-lemonchiffon-80);
  --sf-c-txt-lemonchiffon-85: var(--sf-c-lemonchiffon-85);
  --sf-c-txt-lemonchiffon-90: var(--sf-c-lemonchiffon-90);
  --sf-c-txt-lemonchiffon-95: var(--sf-c-lemonchiffon-95);
  --sf-c-txt-lemonchiffon-100: var(--sf-c-lemonchiffon-100);

  --sf-dark-c-lemonchiffon: 54 100% 10%;
  --sf-dark-c-lemonchiffon-0: 54 100% 0%;
  --sf-dark-c-lemonchiffon-5: 54 100% 5%;
  --sf-dark-c-lemonchiffon-10: 54 100% 10%;
  --sf-dark-c-lemonchiffon-15: 54 100% 15%;
  --sf-dark-c-lemonchiffon-20: 54 100% 20%;
  --sf-dark-c-lemonchiffon-25: 54 100% 25%;
  --sf-dark-c-lemonchiffon-30: 54 100% 30%;
  --sf-dark-c-lemonchiffon-35: 54 100% 35%;
  --sf-dark-c-lemonchiffon-40: 54 100% 40%;
  --sf-dark-c-lemonchiffon-45: 54 100% 45%;
  --sf-dark-c-lemonchiffon-50: 54 100% 50%;
  --sf-dark-c-lemonchiffon-55: 54 100% 55%;
  --sf-dark-c-lemonchiffon-60: 54 100% 60%;
  --sf-dark-c-lemonchiffon-65: 54 100% 65%;
  --sf-dark-c-lemonchiffon-70: 54 100% 70%;
  --sf-dark-c-lemonchiffon-75: 54 100% 75%;
  --sf-dark-c-lemonchiffon-80: 54 100% 80%;
  --sf-dark-c-lemonchiffon-85: 54 100% 85%;
  --sf-dark-c-lemonchiffon-90: 54 100% 90%;
  --sf-dark-c-lemonchiffon-95: 54 100% 95%;
  --sf-dark-c-lemonchiffon-100: 54 100% 100%;

  --sf-dark-c-txt-lemonchiffon: var(--sf-dark-c-lemonchiffon);
  --sf-dark-c-txt-lemonchiffon-0: var(--sf-dark-c-lemonchiffon-0);
  --sf-dark-c-txt-lemonchiffon-5: var(--sf-dark-c-lemonchiffon-5);
  --sf-dark-c-txt-lemonchiffon-10: var(--sf-dark-c-lemonchiffon-10);
  --sf-dark-c-txt-lemonchiffon-15: var(--sf-dark-c-lemonchiffon-15);
  --sf-dark-c-txt-lemonchiffon-20: var(--sf-dark-c-lemonchiffon-20);
  --sf-dark-c-txt-lemonchiffon-25: var(--sf-dark-c-lemonchiffon-25);
  --sf-dark-c-txt-lemonchiffon-30: var(--sf-dark-c-lemonchiffon-30);
  --sf-dark-c-txt-lemonchiffon-35: var(--sf-dark-c-lemonchiffon-35);
  --sf-dark-c-txt-lemonchiffon-40: var(--sf-dark-c-lemonchiffon-40);
  --sf-dark-c-txt-lemonchiffon-45: var(--sf-dark-c-lemonchiffon-45);
  --sf-dark-c-txt-lemonchiffon-50: var(--sf-dark-c-lemonchiffon-50);
  --sf-dark-c-txt-lemonchiffon-55: var(--sf-dark-c-lemonchiffon-55);
  --sf-dark-c-txt-lemonchiffon-60: var(--sf-dark-c-lemonchiffon-60);
  --sf-dark-c-txt-lemonchiffon-65: var(--sf-dark-c-lemonchiffon-65);
  --sf-dark-c-txt-lemonchiffon-70: var(--sf-dark-c-lemonchiffon-70);
  --sf-dark-c-txt-lemonchiffon-75: var(--sf-dark-c-lemonchiffon-75);
  --sf-dark-c-txt-lemonchiffon-80: var(--sf-dark-c-lemonchiffon-80);
  --sf-dark-c-txt-lemonchiffon-85: var(--sf-dark-c-lemonchiffon-85);
  --sf-dark-c-txt-lemonchiffon-90: var(--sf-dark-c-lemonchiffon-90);
  --sf-dark-c-txt-lemonchiffon-95: var(--sf-dark-c-lemonchiffon-95);
  --sf-dark-c-txt-lemonchiffon-100: var(--sf-dark-c-lemonchiffon-100);
}

.sf-c-lemonchiffon { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon)) }
.sf-c-lemonchiffon\:0 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-0)) }
.sf-c-lemonchiffon\:5 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-5)) }
.sf-c-lemonchiffon\:10 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-10)) }
.sf-c-lemonchiffon\:15 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-15)) }
.sf-c-lemonchiffon\:20 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-20)) }
.sf-c-lemonchiffon\:25 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-25)) }
.sf-c-lemonchiffon\:30 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-30)) }
.sf-c-lemonchiffon\:35 { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-35)) }
.sf-c-lemonchiffon\:40 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-40)) }
.sf-c-lemonchiffon\:45 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-45)) }
.sf-c-lemonchiffon\:50 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-50)) }
.sf-c-lemonchiffon\:55 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-55)) }
.sf-c-lemonchiffon\:60 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-60)) }
.sf-c-lemonchiffon\:65 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-65)) }
.sf-c-lemonchiffon\:70 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-70)) }
.sf-c-lemonchiffon\:75 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-75)) }
.sf-c-lemonchiffon\:80 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-80)) }
.sf-c-lemonchiffon\:85 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-85)) }
.sf-c-lemonchiffon\:90 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-90)) }
.sf-c-lemonchiffon\:95 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-95)) }
.sf-c-lemonchiffon\:100 { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-100)) }

html.var .sf-c-lemonchiffon { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
html.var .sf-c-lemonchiffon\:0 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 0%) }
html.var .sf-c-lemonchiffon\:5 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 5%) }
html.var .sf-c-lemonchiffon\:10 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
html.var .sf-c-lemonchiffon\:15 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 15%) }
html.var .sf-c-lemonchiffon\:20 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 20%) }
html.var .sf-c-lemonchiffon\:25 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 25%) }
html.var .sf-c-lemonchiffon\:30 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 30%) }
html.var .sf-c-lemonchiffon\:35 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 35%) }
html.var .sf-c-lemonchiffon\:40 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 40%) }
html.var .sf-c-lemonchiffon\:45 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 45%) }
html.var .sf-c-lemonchiffon\:50 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 50%) }
html.var .sf-c-lemonchiffon\:55 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 55%) }
html.var .sf-c-lemonchiffon\:60 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 60%) }
html.var .sf-c-lemonchiffon\:65 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 65%) }
html.var .sf-c-lemonchiffon\:70 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 70%) }
html.var .sf-c-lemonchiffon\:75 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 75%) }
html.var .sf-c-lemonchiffon\:80 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 80%) }
html.var .sf-c-lemonchiffon\:85 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 85%) }
html.var .sf-c-lemonchiffon\:90 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
html.var .sf-c-lemonchiffon\:95 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 95%) }
html.var .sf-c-lemonchiffon\:100 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 100%) }

html[data-theme='dark'] .sf-c-lemonchiffon, html.dark .sf-c-lemonchiffon { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:0, html.dark .sf-c-lemonchiffon\:0 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-100)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:5, html.dark .sf-c-lemonchiffon\:5 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-95)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:10, html.dark .sf-c-lemonchiffon\:10 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-90)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:15, html.dark .sf-c-lemonchiffon\:15 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-85)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:20, html.dark .sf-c-lemonchiffon\:20 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-80)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:25, html.dark .sf-c-lemonchiffon\:25 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-75)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:30, html.dark .sf-c-lemonchiffon\:30 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-70)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:35, html.dark .sf-c-lemonchiffon\:35 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-65)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:40, html.dark .sf-c-lemonchiffon\:40 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-60)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:45, html.dark .sf-c-lemonchiffon\:45 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-55)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:50, html.dark .sf-c-lemonchiffon\:50 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-50)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:55, html.dark .sf-c-lemonchiffon\:55 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-45)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:60, html.dark .sf-c-lemonchiffon\:60 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-40)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:65, html.dark .sf-c-lemonchiffon\:65 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-35)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:70, html.dark .sf-c-lemonchiffon\:70 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-30)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:75, html.dark .sf-c-lemonchiffon\:75 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-25)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:80, html.dark .sf-c-lemonchiffon\:80 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-20)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:85, html.dark .sf-c-lemonchiffon\:85 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-15)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:90, html.dark .sf-c-lemonchiffon\:90 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-10)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:95, html.dark .sf-c-lemonchiffon\:95 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-5)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:100, html.dark .sf-c-lemonchiffon\:100 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-0)) }

html[data-theme='dark'] .sf-c-lemonchiffon\:dark, html.dark .sf-c-lemonchiffon\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:0\:dark, html.dark .sf-c-lemonchiffon\:0\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-100)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:5\:dark, html.dark .sf-c-lemonchiffon\:5\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-95)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:10\:dark, html.dark .sf-c-lemonchiffon\:10\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-90)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:15\:dark, html.dark .sf-c-lemonchiffon\:15\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-85)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:20\:dark, html.dark .sf-c-lemonchiffon\:20\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-80)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:25\:dark, html.dark .sf-c-lemonchiffon\:25\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-75)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:30\:dark, html.dark .sf-c-lemonchiffon\:30\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-70)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:35\:dark, html.dark .sf-c-lemonchiffon\:35\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-65)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:40\:dark, html.dark .sf-c-lemonchiffon\:40\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-60)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:45\:dark, html.dark .sf-c-lemonchiffon\:45\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-55)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:50\:dark, html.dark .sf-c-lemonchiffon\:50\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-50)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:55\:dark, html.dark .sf-c-lemonchiffon\:55\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-45)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:60\:dark, html.dark .sf-c-lemonchiffon\:60\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-40)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:65\:dark, html.dark .sf-c-lemonchiffon\:65\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-35)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:70\:dark, html.dark .sf-c-lemonchiffon\:70\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-30)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:75\:dark, html.dark .sf-c-lemonchiffon\:75\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-25)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:80\:dark, html.dark .sf-c-lemonchiffon\:80\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-20)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:85\:dark, html.dark .sf-c-lemonchiffon\:85\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-15)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:90\:dark, html.dark .sf-c-lemonchiffon\:90\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-10)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:95\:dark, html.dark .sf-c-lemonchiffon\:95\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-5)) }
html[data-theme='dark'] .sf-c-lemonchiffon\:100\:dark, html.dark .sf-c-lemonchiffon\:100\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-0)) }

html.var[data-theme='dark'] .sf-c-lemonchiffon, html.var.dark .sf-c-lemonchiffon { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:0, html.var.dark .sf-c-lemonchiffon\:0 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:5, html.var.dark .sf-c-lemonchiffon\:5 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:10, html.var.dark .sf-c-lemonchiffon\:10 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:15, html.var.dark .sf-c-lemonchiffon\:15 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:20, html.var.dark .sf-c-lemonchiffon\:20 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:25, html.var.dark .sf-c-lemonchiffon\:25 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:30, html.var.dark .sf-c-lemonchiffon\:30 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:35, html.var.dark .sf-c-lemonchiffon\:35 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:40, html.var.dark .sf-c-lemonchiffon\:40 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:45, html.var.dark .sf-c-lemonchiffon\:45 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:50, html.var.dark .sf-c-lemonchiffon\:50 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:55, html.var.dark .sf-c-lemonchiffon\:55 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:60, html.var.dark .sf-c-lemonchiffon\:60 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:65, html.var.dark .sf-c-lemonchiffon\:65 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:70, html.var.dark .sf-c-lemonchiffon\:70 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:75, html.var.dark .sf-c-lemonchiffon\:75 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:80, html.var.dark .sf-c-lemonchiffon\:80 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:85, html.var.dark .sf-c-lemonchiffon\:85 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:90, html.var.dark .sf-c-lemonchiffon\:90 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:95, html.var.dark .sf-c-lemonchiffon\:95 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:100, html.var.dark .sf-c-lemonchiffon\:100 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-lemonchiffon\:dark, html.var.dark .sf-c-lemonchiffon\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:0\:dark, html.var.dark .sf-c-lemonchiffon\:0\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:5\:dark, html.var.dark .sf-c-lemonchiffon\:5\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 95%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:10\:dark, html.var.dark .sf-c-lemonchiffon\:10\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:15\:dark, html.var.dark .sf-c-lemonchiffon\:15\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 85%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:20\:dark, html.var.dark .sf-c-lemonchiffon\:20\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:25\:dark, html.var.dark .sf-c-lemonchiffon\:25\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:30\:dark, html.var.dark .sf-c-lemonchiffon\:30\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:35\:dark, html.var.dark .sf-c-lemonchiffon\:35\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 65%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:40\:dark, html.var.dark .sf-c-lemonchiffon\:40\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:45\:dark, html.var.dark .sf-c-lemonchiffon\:45\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 55%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:50\:dark, html.var.dark .sf-c-lemonchiffon\:50\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:55\:dark, html.var.dark .sf-c-lemonchiffon\:55\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 45%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:60\:dark, html.var.dark .sf-c-lemonchiffon\:60\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:65\:dark, html.var.dark .sf-c-lemonchiffon\:65\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 35%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:70\:dark, html.var.dark .sf-c-lemonchiffon\:70\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:75\:dark, html.var.dark .sf-c-lemonchiffon\:75\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:80\:dark, html.var.dark .sf-c-lemonchiffon\:80\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:85\:dark, html.var.dark .sf-c-lemonchiffon\:85\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 15%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:90\:dark, html.var.dark .sf-c-lemonchiffon\:90\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:95\:dark, html.var.dark .sf-c-lemonchiffon\:95\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 5%) }
html.var[data-theme='dark'] .sf-c-lemonchiffon\:100\:dark, html.var.dark .sf-c-lemonchiffon\:100\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lemonchiffon, html.auto .sf-c-lemonchiffon { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:0, html.auto .sf-c-lemonchiffon\:0 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-100)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:5, html.auto .sf-c-lemonchiffon\:5 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-95)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:10, html.auto .sf-c-lemonchiffon\:10 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-90)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:15, html.auto .sf-c-lemonchiffon\:15 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-85)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:20, html.auto .sf-c-lemonchiffon\:20 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-80)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:25, html.auto .sf-c-lemonchiffon\:25 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-75)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:30, html.auto .sf-c-lemonchiffon\:30 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-70)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:35, html.auto .sf-c-lemonchiffon\:35 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-65)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:40, html.auto .sf-c-lemonchiffon\:40 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-60)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:45, html.auto .sf-c-lemonchiffon\:45 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-55)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:50, html.auto .sf-c-lemonchiffon\:50 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-50)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:55, html.auto .sf-c-lemonchiffon\:55 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-45)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:60, html.auto .sf-c-lemonchiffon\:60 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-40)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:65, html.auto .sf-c-lemonchiffon\:65 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-35)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:70, html.auto .sf-c-lemonchiffon\:70 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-5)); background: hsl(var(--sf-dark-c-lemonchiffon-30)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:75, html.auto .sf-c-lemonchiffon\:75 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-25)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:80, html.auto .sf-c-lemonchiffon\:80 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-20)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:85, html.auto .sf-c-lemonchiffon\:85 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-15)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:90, html.auto .sf-c-lemonchiffon\:90 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-10)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:95, html.auto .sf-c-lemonchiffon\:95 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-5)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:100, html.auto .sf-c-lemonchiffon\:100 { color: hsl(var(--sf-dark-c-txt-lemonchiffon-95)); background: hsl(var(--sf-dark-c-lemonchiffon-0)) }

  html[data-theme='auto'] .sf-c-lemonchiffon\:dark, html.auto .sf-c-lemonchiffon\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:0\:dark, html.auto .sf-c-lemonchiffon\:0\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-100)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:5\:dark, html.auto .sf-c-lemonchiffon\:5\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-95)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:10\:dark, html.auto .sf-c-lemonchiffon\:10\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-90)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:15\:dark, html.auto .sf-c-lemonchiffon\:15\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-85)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:20\:dark, html.auto .sf-c-lemonchiffon\:20\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-80)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:25\:dark, html.auto .sf-c-lemonchiffon\:25\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-75)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:30\:dark, html.auto .sf-c-lemonchiffon\:30\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-70)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:35\:dark, html.auto .sf-c-lemonchiffon\:35\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-65)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:40\:dark, html.auto .sf-c-lemonchiffon\:40\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-60)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:45\:dark, html.auto .sf-c-lemonchiffon\:45\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-55)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:50\:dark, html.auto .sf-c-lemonchiffon\:50\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-50)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:55\:dark, html.auto .sf-c-lemonchiffon\:55\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-45)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:60\:dark, html.auto .sf-c-lemonchiffon\:60\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-40)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:65\:dark, html.auto .sf-c-lemonchiffon\:65\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-35)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:70\:dark, html.auto .sf-c-lemonchiffon\:70\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-5)); background: hsl(var(--sf-c-lemonchiffon-30)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:75\:dark, html.auto .sf-c-lemonchiffon\:75\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-25)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:80\:dark, html.auto .sf-c-lemonchiffon\:80\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-20)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:85\:dark, html.auto .sf-c-lemonchiffon\:85\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-15)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:90\:dark, html.auto .sf-c-lemonchiffon\:90\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-10)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:95\:dark, html.auto .sf-c-lemonchiffon\:95\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-5)) }
  html[data-theme='auto'] .sf-c-lemonchiffon\:100\:dark, html.auto .sf-c-lemonchiffon\:100\:dark { color: hsl(var(--sf-c-txt-lemonchiffon-95)); background: hsl(var(--sf-c-lemonchiffon-0)) }

  html.var[data-theme='auto'] .sf-c-lemonchiffon, html.var.auto .sf-c-lemonchiffon { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:0, html.var.auto .sf-c-lemonchiffon\:0 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:5, html.var.auto .sf-c-lemonchiffon\:5 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:10, html.var.auto .sf-c-lemonchiffon\:10 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:15, html.var.auto .sf-c-lemonchiffon\:15 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:20, html.var.auto .sf-c-lemonchiffon\:20 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:25, html.var.auto .sf-c-lemonchiffon\:25 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:30, html.var.auto .sf-c-lemonchiffon\:30 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:35, html.var.auto .sf-c-lemonchiffon\:35 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:40, html.var.auto .sf-c-lemonchiffon\:40 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:45, html.var.auto .sf-c-lemonchiffon\:45 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:50, html.var.auto .sf-c-lemonchiffon\:50 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:55, html.var.auto .sf-c-lemonchiffon\:55 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:60, html.var.auto .sf-c-lemonchiffon\:60 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:65, html.var.auto .sf-c-lemonchiffon\:65 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:70, html.var.auto .sf-c-lemonchiffon\:70 { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:75, html.var.auto .sf-c-lemonchiffon\:75 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:80, html.var.auto .sf-c-lemonchiffon\:80 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:85, html.var.auto .sf-c-lemonchiffon\:85 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:90, html.var.auto .sf-c-lemonchiffon\:90 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:95, html.var.auto .sf-c-lemonchiffon\:95 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:100, html.var.auto .sf-c-lemonchiffon\:100 { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-lemonchiffon\:dark, html.var.auto .sf-c-lemonchiffon\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:0\:dark, html.var.auto .sf-c-lemonchiffon\:0\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:5\:dark, html.var.auto .sf-c-lemonchiffon\:5\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 95%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:10\:dark, html.var.auto .sf-c-lemonchiffon\:10\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:15\:dark, html.var.auto .sf-c-lemonchiffon\:15\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 85%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:20\:dark, html.var.auto .sf-c-lemonchiffon\:20\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:25\:dark, html.var.auto .sf-c-lemonchiffon\:25\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:30\:dark, html.var.auto .sf-c-lemonchiffon\:30\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:35\:dark, html.var.auto .sf-c-lemonchiffon\:35\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 65%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:40\:dark, html.var.auto .sf-c-lemonchiffon\:40\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:45\:dark, html.var.auto .sf-c-lemonchiffon\:45\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 55%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:50\:dark, html.var.auto .sf-c-lemonchiffon\:50\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:55\:dark, html.var.auto .sf-c-lemonchiffon\:55\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 45%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:60\:dark, html.var.auto .sf-c-lemonchiffon\:60\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:65\:dark, html.var.auto .sf-c-lemonchiffon\:65\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 35%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:70\:dark, html.var.auto .sf-c-lemonchiffon\:70\:dark { color: hsl(54, 100%, 5%); background: hsl(54, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:75\:dark, html.var.auto .sf-c-lemonchiffon\:75\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:80\:dark, html.var.auto .sf-c-lemonchiffon\:80\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:85\:dark, html.var.auto .sf-c-lemonchiffon\:85\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 15%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:90\:dark, html.var.auto .sf-c-lemonchiffon\:90\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:95\:dark, html.var.auto .sf-c-lemonchiffon\:95\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 5%) }
  html.var[data-theme='auto'] .sf-c-lemonchiffon\:100\:dark, html.var.auto .sf-c-lemonchiffon\:100\:dark { color: hsl(54, 100%, 95%); background: hsl(54, 100%, 0%) }
}

.sf-c-txt-lemonchiffon { color: hsl(var(--sf-c-txt-lemonchiffon)) }
.sf-c-txt-lemonchiffon\:0 { color: hsl(var(--sf-c-txt-lemonchiffon-0)) }
.sf-c-txt-lemonchiffon\:5 { color: hsl(var(--sf-c-txt-lemonchiffon-5)) }
.sf-c-txt-lemonchiffon\:10 { color: hsl(var(--sf-c-txt-lemonchiffon-10)) }
.sf-c-txt-lemonchiffon\:15 { color: hsl(var(--sf-c-txt-lemonchiffon-15)) }
.sf-c-txt-lemonchiffon\:20 { color: hsl(var(--sf-c-txt-lemonchiffon-20)) }
.sf-c-txt-lemonchiffon\:25 { color: hsl(var(--sf-c-txt-lemonchiffon-25)) }
.sf-c-txt-lemonchiffon\:30 { color: hsl(var(--sf-c-txt-lemonchiffon-30)) }
.sf-c-txt-lemonchiffon\:35 { color: hsl(var(--sf-c-txt-lemonchiffon-35)) }
.sf-c-txt-lemonchiffon\:40 { color: hsl(var(--sf-c-txt-lemonchiffon-40)) }
.sf-c-txt-lemonchiffon\:45 { color: hsl(var(--sf-c-txt-lemonchiffon-45)) }
.sf-c-txt-lemonchiffon\:50 { color: hsl(var(--sf-c-txt-lemonchiffon-50)) }
.sf-c-txt-lemonchiffon\:55 { color: hsl(var(--sf-c-txt-lemonchiffon-55)) }
.sf-c-txt-lemonchiffon\:60 { color: hsl(var(--sf-c-txt-lemonchiffon-60)) }
.sf-c-txt-lemonchiffon\:65 { color: hsl(var(--sf-c-txt-lemonchiffon-65)) }
.sf-c-txt-lemonchiffon\:70 { color: hsl(var(--sf-c-txt-lemonchiffon-70)) }
.sf-c-txt-lemonchiffon\:75 { color: hsl(var(--sf-c-txt-lemonchiffon-75)) }
.sf-c-txt-lemonchiffon\:80 { color: hsl(var(--sf-c-txt-lemonchiffon-80)) }
.sf-c-txt-lemonchiffon\:85 { color: hsl(var(--sf-c-txt-lemonchiffon-85)) }
.sf-c-txt-lemonchiffon\:90 { color: hsl(var(--sf-c-txt-lemonchiffon-90)) }
.sf-c-txt-lemonchiffon\:95 { color: hsl(var(--sf-c-txt-lemonchiffon-95)) }
.sf-c-txt-lemonchiffon\:100 { color: hsl(var(--sf-c-txt-lemonchiffon-100)) }