:root {
  --sf-c-lightcoral: 0 79% 72%;
  --sf-c-lightcoral-0: 0 79% 0%;
  --sf-c-lightcoral-5: 0 79% 5%;
  --sf-c-lightcoral-10: 0 79% 10%;
  --sf-c-lightcoral-15: 0 79% 15%;
  --sf-c-lightcoral-20: 0 79% 20%;
  --sf-c-lightcoral-25: 0 79% 25%;
  --sf-c-lightcoral-30: 0 79% 30%;
  --sf-c-lightcoral-35: 0 79% 35%;
  --sf-c-lightcoral-40: 0 79% 40%;
  --sf-c-lightcoral-45: 0 79% 45%;
  --sf-c-lightcoral-50: 0 79% 50%;
  --sf-c-lightcoral-55: 0 79% 55%;
  --sf-c-lightcoral-60: 0 79% 60%;
  --sf-c-lightcoral-65: 0 79% 65%;
  --sf-c-lightcoral-70: 0 79% 70%;
  --sf-c-lightcoral-75: 0 79% 75%;
  --sf-c-lightcoral-80: 0 79% 80%;
  --sf-c-lightcoral-85: 0 79% 85%;
  --sf-c-lightcoral-90: 0 79% 90%;
  --sf-c-lightcoral-95: 0 79% 95%;
  --sf-c-lightcoral-100: 0 79% 100%;

  --sf-c-txt-lightcoral: var(--sf-c-lightcoral);
  --sf-c-txt-lightcoral-0: var(--sf-c-lightcoral-0);
  --sf-c-txt-lightcoral-5: var(--sf-c-lightcoral-5);
  --sf-c-txt-lightcoral-10: var(--sf-c-lightcoral-10);
  --sf-c-txt-lightcoral-15: var(--sf-c-lightcoral-15);
  --sf-c-txt-lightcoral-20: var(--sf-c-lightcoral-20);
  --sf-c-txt-lightcoral-25: var(--sf-c-lightcoral-25);
  --sf-c-txt-lightcoral-30: var(--sf-c-lightcoral-30);
  --sf-c-txt-lightcoral-35: var(--sf-c-lightcoral-35);
  --sf-c-txt-lightcoral-40: var(--sf-c-lightcoral-40);
  --sf-c-txt-lightcoral-45: var(--sf-c-lightcoral-45);
  --sf-c-txt-lightcoral-50: var(--sf-c-lightcoral-50);
  --sf-c-txt-lightcoral-55: var(--sf-c-lightcoral-55);
  --sf-c-txt-lightcoral-60: var(--sf-c-lightcoral-60);
  --sf-c-txt-lightcoral-65: var(--sf-c-lightcoral-65);
  --sf-c-txt-lightcoral-70: var(--sf-c-lightcoral-70);
  --sf-c-txt-lightcoral-75: var(--sf-c-lightcoral-75);
  --sf-c-txt-lightcoral-80: var(--sf-c-lightcoral-80);
  --sf-c-txt-lightcoral-85: var(--sf-c-lightcoral-85);
  --sf-c-txt-lightcoral-90: var(--sf-c-lightcoral-90);
  --sf-c-txt-lightcoral-95: var(--sf-c-lightcoral-95);
  --sf-c-txt-lightcoral-100: var(--sf-c-lightcoral-100);

  --sf-dark-c-lightcoral: 0 79% 28%;
  --sf-dark-c-lightcoral-0: 0 79% 0%;
  --sf-dark-c-lightcoral-5: 0 79% 5%;
  --sf-dark-c-lightcoral-10: 0 79% 10%;
  --sf-dark-c-lightcoral-15: 0 79% 15%;
  --sf-dark-c-lightcoral-20: 0 79% 20%;
  --sf-dark-c-lightcoral-25: 0 79% 25%;
  --sf-dark-c-lightcoral-30: 0 79% 30%;
  --sf-dark-c-lightcoral-35: 0 79% 35%;
  --sf-dark-c-lightcoral-40: 0 79% 40%;
  --sf-dark-c-lightcoral-45: 0 79% 45%;
  --sf-dark-c-lightcoral-50: 0 79% 50%;
  --sf-dark-c-lightcoral-55: 0 79% 55%;
  --sf-dark-c-lightcoral-60: 0 79% 60%;
  --sf-dark-c-lightcoral-65: 0 79% 65%;
  --sf-dark-c-lightcoral-70: 0 79% 70%;
  --sf-dark-c-lightcoral-75: 0 79% 75%;
  --sf-dark-c-lightcoral-80: 0 79% 80%;
  --sf-dark-c-lightcoral-85: 0 79% 85%;
  --sf-dark-c-lightcoral-90: 0 79% 90%;
  --sf-dark-c-lightcoral-95: 0 79% 95%;
  --sf-dark-c-lightcoral-100: 0 79% 100%;

  --sf-dark-c-txt-lightcoral: var(--sf-dark-c-lightcoral);
  --sf-dark-c-txt-lightcoral-0: var(--sf-dark-c-lightcoral-0);
  --sf-dark-c-txt-lightcoral-5: var(--sf-dark-c-lightcoral-5);
  --sf-dark-c-txt-lightcoral-10: var(--sf-dark-c-lightcoral-10);
  --sf-dark-c-txt-lightcoral-15: var(--sf-dark-c-lightcoral-15);
  --sf-dark-c-txt-lightcoral-20: var(--sf-dark-c-lightcoral-20);
  --sf-dark-c-txt-lightcoral-25: var(--sf-dark-c-lightcoral-25);
  --sf-dark-c-txt-lightcoral-30: var(--sf-dark-c-lightcoral-30);
  --sf-dark-c-txt-lightcoral-35: var(--sf-dark-c-lightcoral-35);
  --sf-dark-c-txt-lightcoral-40: var(--sf-dark-c-lightcoral-40);
  --sf-dark-c-txt-lightcoral-45: var(--sf-dark-c-lightcoral-45);
  --sf-dark-c-txt-lightcoral-50: var(--sf-dark-c-lightcoral-50);
  --sf-dark-c-txt-lightcoral-55: var(--sf-dark-c-lightcoral-55);
  --sf-dark-c-txt-lightcoral-60: var(--sf-dark-c-lightcoral-60);
  --sf-dark-c-txt-lightcoral-65: var(--sf-dark-c-lightcoral-65);
  --sf-dark-c-txt-lightcoral-70: var(--sf-dark-c-lightcoral-70);
  --sf-dark-c-txt-lightcoral-75: var(--sf-dark-c-lightcoral-75);
  --sf-dark-c-txt-lightcoral-80: var(--sf-dark-c-lightcoral-80);
  --sf-dark-c-txt-lightcoral-85: var(--sf-dark-c-lightcoral-85);
  --sf-dark-c-txt-lightcoral-90: var(--sf-dark-c-lightcoral-90);
  --sf-dark-c-txt-lightcoral-95: var(--sf-dark-c-lightcoral-95);
  --sf-dark-c-txt-lightcoral-100: var(--sf-dark-c-lightcoral-100);
}

.sf-c-lightcoral { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral)) }
.sf-c-lightcoral\:0 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-0)) }
.sf-c-lightcoral\:5 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-5)) }
.sf-c-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-10)) }
.sf-c-lightcoral\:15 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-15)) }
.sf-c-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-20)) }
.sf-c-lightcoral\:25 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-25)) }
.sf-c-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-30)) }
.sf-c-lightcoral\:35 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-35)) }
.sf-c-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-40)) }
.sf-c-lightcoral\:45 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-45)) }
.sf-c-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-50)) }
.sf-c-lightcoral\:55 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-55)) }
.sf-c-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-60)) }
.sf-c-lightcoral\:65 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-65)) }
.sf-c-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-70)) }
.sf-c-lightcoral\:75 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-75)) }
.sf-c-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-80)) }
.sf-c-lightcoral\:85 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-85)) }
.sf-c-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-90)) }
.sf-c-lightcoral\:95 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-95)) }
.sf-c-lightcoral\:100 { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-100)) }

html.var .sf-c-lightcoral { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 72%) }
html.var .sf-c-lightcoral\:0 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 0%) }
html.var .sf-c-lightcoral\:5 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 5%) }
html.var .sf-c-lightcoral\:10 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 10%) }
html.var .sf-c-lightcoral\:15 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 15%) }
html.var .sf-c-lightcoral\:20 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 20%) }
html.var .sf-c-lightcoral\:25 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 25%) }
html.var .sf-c-lightcoral\:30 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 30%) }
html.var .sf-c-lightcoral\:35 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 35%) }
html.var .sf-c-lightcoral\:40 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 40%) }
html.var .sf-c-lightcoral\:45 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 45%) }
html.var .sf-c-lightcoral\:50 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 50%) }
html.var .sf-c-lightcoral\:55 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 55%) }
html.var .sf-c-lightcoral\:60 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 60%) }
html.var .sf-c-lightcoral\:65 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 65%) }
html.var .sf-c-lightcoral\:70 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 70%) }
html.var .sf-c-lightcoral\:75 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 75%) }
html.var .sf-c-lightcoral\:80 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 80%) }
html.var .sf-c-lightcoral\:85 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 85%) }
html.var .sf-c-lightcoral\:90 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 90%) }
html.var .sf-c-lightcoral\:95 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 95%) }
html.var .sf-c-lightcoral\:100 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 100%) }

html[data-theme='dark'] .sf-c-lightcoral, html.dark .sf-c-lightcoral { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral)) }
html[data-theme='dark'] .sf-c-lightcoral\:0, html.dark .sf-c-lightcoral\:0 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-100)) }
html[data-theme='dark'] .sf-c-lightcoral\:5, html.dark .sf-c-lightcoral\:5 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-95)) }
html[data-theme='dark'] .sf-c-lightcoral\:10, html.dark .sf-c-lightcoral\:10 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-90)) }
html[data-theme='dark'] .sf-c-lightcoral\:15, html.dark .sf-c-lightcoral\:15 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-85)) }
html[data-theme='dark'] .sf-c-lightcoral\:20, html.dark .sf-c-lightcoral\:20 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-80)) }
html[data-theme='dark'] .sf-c-lightcoral\:25, html.dark .sf-c-lightcoral\:25 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-75)) }
html[data-theme='dark'] .sf-c-lightcoral\:30, html.dark .sf-c-lightcoral\:30 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-70)) }
html[data-theme='dark'] .sf-c-lightcoral\:35, html.dark .sf-c-lightcoral\:35 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-65)) }
html[data-theme='dark'] .sf-c-lightcoral\:40, html.dark .sf-c-lightcoral\:40 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-60)) }
html[data-theme='dark'] .sf-c-lightcoral\:45, html.dark .sf-c-lightcoral\:45 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-55)) }
html[data-theme='dark'] .sf-c-lightcoral\:50, html.dark .sf-c-lightcoral\:50 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-50)) }
html[data-theme='dark'] .sf-c-lightcoral\:55, html.dark .sf-c-lightcoral\:55 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-45)) }
html[data-theme='dark'] .sf-c-lightcoral\:60, html.dark .sf-c-lightcoral\:60 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-40)) }
html[data-theme='dark'] .sf-c-lightcoral\:65, html.dark .sf-c-lightcoral\:65 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-35)) }
html[data-theme='dark'] .sf-c-lightcoral\:70, html.dark .sf-c-lightcoral\:70 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-30)) }
html[data-theme='dark'] .sf-c-lightcoral\:75, html.dark .sf-c-lightcoral\:75 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-25)) }
html[data-theme='dark'] .sf-c-lightcoral\:80, html.dark .sf-c-lightcoral\:80 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-20)) }
html[data-theme='dark'] .sf-c-lightcoral\:85, html.dark .sf-c-lightcoral\:85 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-15)) }
html[data-theme='dark'] .sf-c-lightcoral\:90, html.dark .sf-c-lightcoral\:90 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-10)) }
html[data-theme='dark'] .sf-c-lightcoral\:95, html.dark .sf-c-lightcoral\:95 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-5)) }
html[data-theme='dark'] .sf-c-lightcoral\:100, html.dark .sf-c-lightcoral\:100 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-0)) }

html[data-theme='dark'] .sf-c-lightcoral\:dark, html.dark .sf-c-lightcoral\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral)) }
html[data-theme='dark'] .sf-c-lightcoral\:0\:dark, html.dark .sf-c-lightcoral\:0\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-100)) }
html[data-theme='dark'] .sf-c-lightcoral\:5\:dark, html.dark .sf-c-lightcoral\:5\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-95)) }
html[data-theme='dark'] .sf-c-lightcoral\:10\:dark, html.dark .sf-c-lightcoral\:10\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-90)) }
html[data-theme='dark'] .sf-c-lightcoral\:15\:dark, html.dark .sf-c-lightcoral\:15\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-85)) }
html[data-theme='dark'] .sf-c-lightcoral\:20\:dark, html.dark .sf-c-lightcoral\:20\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-80)) }
html[data-theme='dark'] .sf-c-lightcoral\:25\:dark, html.dark .sf-c-lightcoral\:25\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-75)) }
html[data-theme='dark'] .sf-c-lightcoral\:30\:dark, html.dark .sf-c-lightcoral\:30\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-70)) }
html[data-theme='dark'] .sf-c-lightcoral\:35\:dark, html.dark .sf-c-lightcoral\:35\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-65)) }
html[data-theme='dark'] .sf-c-lightcoral\:40\:dark, html.dark .sf-c-lightcoral\:40\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-60)) }
html[data-theme='dark'] .sf-c-lightcoral\:45\:dark, html.dark .sf-c-lightcoral\:45\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-55)) }
html[data-theme='dark'] .sf-c-lightcoral\:50\:dark, html.dark .sf-c-lightcoral\:50\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-50)) }
html[data-theme='dark'] .sf-c-lightcoral\:55\:dark, html.dark .sf-c-lightcoral\:55\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-45)) }
html[data-theme='dark'] .sf-c-lightcoral\:60\:dark, html.dark .sf-c-lightcoral\:60\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-40)) }
html[data-theme='dark'] .sf-c-lightcoral\:65\:dark, html.dark .sf-c-lightcoral\:65\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-35)) }
html[data-theme='dark'] .sf-c-lightcoral\:70\:dark, html.dark .sf-c-lightcoral\:70\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-30)) }
html[data-theme='dark'] .sf-c-lightcoral\:75\:dark, html.dark .sf-c-lightcoral\:75\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-25)) }
html[data-theme='dark'] .sf-c-lightcoral\:80\:dark, html.dark .sf-c-lightcoral\:80\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-20)) }
html[data-theme='dark'] .sf-c-lightcoral\:85\:dark, html.dark .sf-c-lightcoral\:85\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-15)) }
html[data-theme='dark'] .sf-c-lightcoral\:90\:dark, html.dark .sf-c-lightcoral\:90\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-10)) }
html[data-theme='dark'] .sf-c-lightcoral\:95\:dark, html.dark .sf-c-lightcoral\:95\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-5)) }
html[data-theme='dark'] .sf-c-lightcoral\:100\:dark, html.dark .sf-c-lightcoral\:100\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-0)) }

html.var[data-theme='dark'] .sf-c-lightcoral, html.var.dark .sf-c-lightcoral { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 28%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:0, html.var.dark .sf-c-lightcoral\:0 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 100%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:5, html.var.dark .sf-c-lightcoral\:5 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 95%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:10, html.var.dark .sf-c-lightcoral\:10 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 90%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:15, html.var.dark .sf-c-lightcoral\:15 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 85%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:20, html.var.dark .sf-c-lightcoral\:20 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 80%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:25, html.var.dark .sf-c-lightcoral\:25 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 75%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:30, html.var.dark .sf-c-lightcoral\:30 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 70%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:35, html.var.dark .sf-c-lightcoral\:35 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 65%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:40, html.var.dark .sf-c-lightcoral\:40 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 60%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:45, html.var.dark .sf-c-lightcoral\:45 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 55%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:50, html.var.dark .sf-c-lightcoral\:50 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 50%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:55, html.var.dark .sf-c-lightcoral\:55 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 45%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:60, html.var.dark .sf-c-lightcoral\:60 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 40%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:65, html.var.dark .sf-c-lightcoral\:65 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 35%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:70, html.var.dark .sf-c-lightcoral\:70 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 30%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:75, html.var.dark .sf-c-lightcoral\:75 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 25%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:80, html.var.dark .sf-c-lightcoral\:80 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 20%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:85, html.var.dark .sf-c-lightcoral\:85 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 15%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:90, html.var.dark .sf-c-lightcoral\:90 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 10%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:95, html.var.dark .sf-c-lightcoral\:95 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 5%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:100, html.var.dark .sf-c-lightcoral\:100 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 0%) }

html.var[data-theme='dark'] .sf-c-lightcoral\:dark, html.var.dark .sf-c-lightcoral\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 28%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:0\:dark, html.var.dark .sf-c-lightcoral\:0\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 100%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:5\:dark, html.var.dark .sf-c-lightcoral\:5\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 95%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:10\:dark, html.var.dark .sf-c-lightcoral\:10\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 90%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:15\:dark, html.var.dark .sf-c-lightcoral\:15\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 85%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:20\:dark, html.var.dark .sf-c-lightcoral\:20\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 80%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:25\:dark, html.var.dark .sf-c-lightcoral\:25\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 75%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:30\:dark, html.var.dark .sf-c-lightcoral\:30\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 70%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:35\:dark, html.var.dark .sf-c-lightcoral\:35\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 65%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:40\:dark, html.var.dark .sf-c-lightcoral\:40\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 60%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:45\:dark, html.var.dark .sf-c-lightcoral\:45\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 55%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:50\:dark, html.var.dark .sf-c-lightcoral\:50\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 50%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:55\:dark, html.var.dark .sf-c-lightcoral\:55\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 45%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:60\:dark, html.var.dark .sf-c-lightcoral\:60\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 40%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:65\:dark, html.var.dark .sf-c-lightcoral\:65\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 35%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:70\:dark, html.var.dark .sf-c-lightcoral\:70\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 30%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:75\:dark, html.var.dark .sf-c-lightcoral\:75\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 25%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:80\:dark, html.var.dark .sf-c-lightcoral\:80\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 20%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:85\:dark, html.var.dark .sf-c-lightcoral\:85\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 15%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:90\:dark, html.var.dark .sf-c-lightcoral\:90\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 10%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:95\:dark, html.var.dark .sf-c-lightcoral\:95\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 5%) }
html.var[data-theme='dark'] .sf-c-lightcoral\:100\:dark, html.var.dark .sf-c-lightcoral\:100\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lightcoral, html.auto .sf-c-lightcoral { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral)) }
  html[data-theme='auto'] .sf-c-lightcoral\:0, html.auto .sf-c-lightcoral\:0 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-100)) }
  html[data-theme='auto'] .sf-c-lightcoral\:5, html.auto .sf-c-lightcoral\:5 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-95)) }
  html[data-theme='auto'] .sf-c-lightcoral\:10, html.auto .sf-c-lightcoral\:10 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-90)) }
  html[data-theme='auto'] .sf-c-lightcoral\:15, html.auto .sf-c-lightcoral\:15 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-85)) }
  html[data-theme='auto'] .sf-c-lightcoral\:20, html.auto .sf-c-lightcoral\:20 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-80)) }
  html[data-theme='auto'] .sf-c-lightcoral\:25, html.auto .sf-c-lightcoral\:25 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-75)) }
  html[data-theme='auto'] .sf-c-lightcoral\:30, html.auto .sf-c-lightcoral\:30 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-70)) }
  html[data-theme='auto'] .sf-c-lightcoral\:35, html.auto .sf-c-lightcoral\:35 { color: hsl(var(--sf-dark-c-txt-lightcoral-5)); background: hsl(var(--sf-dark-c-lightcoral-65)) }
  html[data-theme='auto'] .sf-c-lightcoral\:40, html.auto .sf-c-lightcoral\:40 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-60)) }
  html[data-theme='auto'] .sf-c-lightcoral\:45, html.auto .sf-c-lightcoral\:45 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-55)) }
  html[data-theme='auto'] .sf-c-lightcoral\:50, html.auto .sf-c-lightcoral\:50 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-50)) }
  html[data-theme='auto'] .sf-c-lightcoral\:55, html.auto .sf-c-lightcoral\:55 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-45)) }
  html[data-theme='auto'] .sf-c-lightcoral\:60, html.auto .sf-c-lightcoral\:60 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-40)) }
  html[data-theme='auto'] .sf-c-lightcoral\:65, html.auto .sf-c-lightcoral\:65 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-35)) }
  html[data-theme='auto'] .sf-c-lightcoral\:70, html.auto .sf-c-lightcoral\:70 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-30)) }
  html[data-theme='auto'] .sf-c-lightcoral\:75, html.auto .sf-c-lightcoral\:75 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-25)) }
  html[data-theme='auto'] .sf-c-lightcoral\:80, html.auto .sf-c-lightcoral\:80 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-20)) }
  html[data-theme='auto'] .sf-c-lightcoral\:85, html.auto .sf-c-lightcoral\:85 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-15)) }
  html[data-theme='auto'] .sf-c-lightcoral\:90, html.auto .sf-c-lightcoral\:90 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-10)) }
  html[data-theme='auto'] .sf-c-lightcoral\:95, html.auto .sf-c-lightcoral\:95 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-5)) }
  html[data-theme='auto'] .sf-c-lightcoral\:100, html.auto .sf-c-lightcoral\:100 { color: hsl(var(--sf-dark-c-txt-lightcoral-95)); background: hsl(var(--sf-dark-c-lightcoral-0)) }

  html[data-theme='auto'] .sf-c-lightcoral\:dark, html.auto .sf-c-lightcoral\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral)) }
  html[data-theme='auto'] .sf-c-lightcoral\:0\:dark, html.auto .sf-c-lightcoral\:0\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-100)) }
  html[data-theme='auto'] .sf-c-lightcoral\:5\:dark, html.auto .sf-c-lightcoral\:5\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-95)) }
  html[data-theme='auto'] .sf-c-lightcoral\:10\:dark, html.auto .sf-c-lightcoral\:10\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-90)) }
  html[data-theme='auto'] .sf-c-lightcoral\:15\:dark, html.auto .sf-c-lightcoral\:15\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-85)) }
  html[data-theme='auto'] .sf-c-lightcoral\:20\:dark, html.auto .sf-c-lightcoral\:20\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-80)) }
  html[data-theme='auto'] .sf-c-lightcoral\:25\:dark, html.auto .sf-c-lightcoral\:25\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-75)) }
  html[data-theme='auto'] .sf-c-lightcoral\:30\:dark, html.auto .sf-c-lightcoral\:30\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-70)) }
  html[data-theme='auto'] .sf-c-lightcoral\:35\:dark, html.auto .sf-c-lightcoral\:35\:dark { color: hsl(var(--sf-c-txt-lightcoral-5)); background: hsl(var(--sf-c-lightcoral-65)) }
  html[data-theme='auto'] .sf-c-lightcoral\:40\:dark, html.auto .sf-c-lightcoral\:40\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-60)) }
  html[data-theme='auto'] .sf-c-lightcoral\:45\:dark, html.auto .sf-c-lightcoral\:45\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-55)) }
  html[data-theme='auto'] .sf-c-lightcoral\:50\:dark, html.auto .sf-c-lightcoral\:50\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-50)) }
  html[data-theme='auto'] .sf-c-lightcoral\:55\:dark, html.auto .sf-c-lightcoral\:55\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-45)) }
  html[data-theme='auto'] .sf-c-lightcoral\:60\:dark, html.auto .sf-c-lightcoral\:60\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-40)) }
  html[data-theme='auto'] .sf-c-lightcoral\:65\:dark, html.auto .sf-c-lightcoral\:65\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-35)) }
  html[data-theme='auto'] .sf-c-lightcoral\:70\:dark, html.auto .sf-c-lightcoral\:70\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-30)) }
  html[data-theme='auto'] .sf-c-lightcoral\:75\:dark, html.auto .sf-c-lightcoral\:75\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-25)) }
  html[data-theme='auto'] .sf-c-lightcoral\:80\:dark, html.auto .sf-c-lightcoral\:80\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-20)) }
  html[data-theme='auto'] .sf-c-lightcoral\:85\:dark, html.auto .sf-c-lightcoral\:85\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-15)) }
  html[data-theme='auto'] .sf-c-lightcoral\:90\:dark, html.auto .sf-c-lightcoral\:90\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-10)) }
  html[data-theme='auto'] .sf-c-lightcoral\:95\:dark, html.auto .sf-c-lightcoral\:95\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-5)) }
  html[data-theme='auto'] .sf-c-lightcoral\:100\:dark, html.auto .sf-c-lightcoral\:100\:dark { color: hsl(var(--sf-c-txt-lightcoral-95)); background: hsl(var(--sf-c-lightcoral-0)) }

  html.var[data-theme='auto'] .sf-c-lightcoral, html.var.auto .sf-c-lightcoral { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 28%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:0, html.var.auto .sf-c-lightcoral\:0 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 100%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:5, html.var.auto .sf-c-lightcoral\:5 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 95%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:10, html.var.auto .sf-c-lightcoral\:10 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 90%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:15, html.var.auto .sf-c-lightcoral\:15 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 85%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:20, html.var.auto .sf-c-lightcoral\:20 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 80%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:25, html.var.auto .sf-c-lightcoral\:25 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 75%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:30, html.var.auto .sf-c-lightcoral\:30 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 70%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:35, html.var.auto .sf-c-lightcoral\:35 { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 65%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:40, html.var.auto .sf-c-lightcoral\:40 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 60%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:45, html.var.auto .sf-c-lightcoral\:45 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 55%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:50, html.var.auto .sf-c-lightcoral\:50 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 50%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:55, html.var.auto .sf-c-lightcoral\:55 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 45%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:60, html.var.auto .sf-c-lightcoral\:60 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 40%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:65, html.var.auto .sf-c-lightcoral\:65 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 35%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:70, html.var.auto .sf-c-lightcoral\:70 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 30%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:75, html.var.auto .sf-c-lightcoral\:75 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 25%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:80, html.var.auto .sf-c-lightcoral\:80 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 20%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:85, html.var.auto .sf-c-lightcoral\:85 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 15%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:90, html.var.auto .sf-c-lightcoral\:90 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 10%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:95, html.var.auto .sf-c-lightcoral\:95 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 5%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:100, html.var.auto .sf-c-lightcoral\:100 { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 0%) }

  html.var[data-theme='auto'] .sf-c-lightcoral\:dark, html.var.auto .sf-c-lightcoral\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 28%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:0\:dark, html.var.auto .sf-c-lightcoral\:0\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 100%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:5\:dark, html.var.auto .sf-c-lightcoral\:5\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 95%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:10\:dark, html.var.auto .sf-c-lightcoral\:10\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 90%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:15\:dark, html.var.auto .sf-c-lightcoral\:15\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 85%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:20\:dark, html.var.auto .sf-c-lightcoral\:20\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 80%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:25\:dark, html.var.auto .sf-c-lightcoral\:25\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 75%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:30\:dark, html.var.auto .sf-c-lightcoral\:30\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 70%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:35\:dark, html.var.auto .sf-c-lightcoral\:35\:dark { color: hsl(0, 79%, 5%); background: hsl(0, 79%, 65%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:40\:dark, html.var.auto .sf-c-lightcoral\:40\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 60%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:45\:dark, html.var.auto .sf-c-lightcoral\:45\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 55%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:50\:dark, html.var.auto .sf-c-lightcoral\:50\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 50%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:55\:dark, html.var.auto .sf-c-lightcoral\:55\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 45%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:60\:dark, html.var.auto .sf-c-lightcoral\:60\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 40%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:65\:dark, html.var.auto .sf-c-lightcoral\:65\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 35%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:70\:dark, html.var.auto .sf-c-lightcoral\:70\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 30%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:75\:dark, html.var.auto .sf-c-lightcoral\:75\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 25%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:80\:dark, html.var.auto .sf-c-lightcoral\:80\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 20%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:85\:dark, html.var.auto .sf-c-lightcoral\:85\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 15%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:90\:dark, html.var.auto .sf-c-lightcoral\:90\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 10%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:95\:dark, html.var.auto .sf-c-lightcoral\:95\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 5%) }
  html.var[data-theme='auto'] .sf-c-lightcoral\:100\:dark, html.var.auto .sf-c-lightcoral\:100\:dark { color: hsl(0, 79%, 95%); background: hsl(0, 79%, 0%) }
}

.sf-c-txt-lightcoral { color: hsl(var(--sf-c-txt-lightcoral)) }
.sf-c-txt-lightcoral\:0 { color: hsl(var(--sf-c-txt-lightcoral-0)) }
.sf-c-txt-lightcoral\:5 { color: hsl(var(--sf-c-txt-lightcoral-5)) }
.sf-c-txt-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-10)) }
.sf-c-txt-lightcoral\:15 { color: hsl(var(--sf-c-txt-lightcoral-15)) }
.sf-c-txt-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-20)) }
.sf-c-txt-lightcoral\:25 { color: hsl(var(--sf-c-txt-lightcoral-25)) }
.sf-c-txt-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-30)) }
.sf-c-txt-lightcoral\:35 { color: hsl(var(--sf-c-txt-lightcoral-35)) }
.sf-c-txt-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-40)) }
.sf-c-txt-lightcoral\:45 { color: hsl(var(--sf-c-txt-lightcoral-45)) }
.sf-c-txt-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-50)) }
.sf-c-txt-lightcoral\:55 { color: hsl(var(--sf-c-txt-lightcoral-55)) }
.sf-c-txt-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-60)) }
.sf-c-txt-lightcoral\:65 { color: hsl(var(--sf-c-txt-lightcoral-65)) }
.sf-c-txt-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-70)) }
.sf-c-txt-lightcoral\:75 { color: hsl(var(--sf-c-txt-lightcoral-75)) }
.sf-c-txt-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-80)) }
.sf-c-txt-lightcoral\:85 { color: hsl(var(--sf-c-txt-lightcoral-85)) }
.sf-c-txt-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-90)) }
.sf-c-txt-lightcoral\:95 { color: hsl(var(--sf-c-txt-lightcoral-95)) }
.sf-c-txt-lightcoral\:100 { color: hsl(var(--sf-c-txt-lightcoral-100)) }