:root {
  --sf-c-lightgreen: 120 73% 75%;
  --sf-c-lightgreen-5: 120 73% 5%;
  --sf-c-lightgreen-10: 120 73% 10%;
  --sf-c-lightgreen-15: 120 73% 15%;
  --sf-c-lightgreen-20: 120 73% 20%;
  --sf-c-lightgreen-25: 120 73% 25%;
  --sf-c-lightgreen-30: 120 73% 30%;
  --sf-c-lightgreen-35: 120 73% 35%;
  --sf-c-lightgreen-40: 120 73% 40%;
  --sf-c-lightgreen-45: 120 73% 45%;
  --sf-c-lightgreen-50: 120 73% 50%;
  --sf-c-lightgreen-55: 120 73% 55%;
  --sf-c-lightgreen-60: 120 73% 60%;
  --sf-c-lightgreen-65: 120 73% 65%;
  --sf-c-lightgreen-70: 120 73% 70%;
  --sf-c-lightgreen-75: 120 73% 75%;
  --sf-c-lightgreen-80: 120 73% 80%;
  --sf-c-lightgreen-85: 120 73% 85%;
  --sf-c-lightgreen-90: 120 73% 90%;
  --sf-c-lightgreen-95: 120 73% 95%;
 
  --sf-c-txt-lightgreen: var(--sf-c-lightgreen);
  --sf-c-txt-lightgreen-5: var(--sf-c-lightgreen-5);
  --sf-c-txt-lightgreen-10: var(--sf-c-lightgreen-10);
  --sf-c-txt-lightgreen-15: var(--sf-c-lightgreen-15);
  --sf-c-txt-lightgreen-20: var(--sf-c-lightgreen-20);
  --sf-c-txt-lightgreen-25: var(--sf-c-lightgreen-25);
  --sf-c-txt-lightgreen-30: var(--sf-c-lightgreen-30);
  --sf-c-txt-lightgreen-35: var(--sf-c-lightgreen-35);
  --sf-c-txt-lightgreen-40: var(--sf-c-lightgreen-40);
  --sf-c-txt-lightgreen-45: var(--sf-c-lightgreen-45);
  --sf-c-txt-lightgreen-50: var(--sf-c-lightgreen-50);
  --sf-c-txt-lightgreen-55: var(--sf-c-lightgreen-55);
  --sf-c-txt-lightgreen-60: var(--sf-c-lightgreen-60);
  --sf-c-txt-lightgreen-65: var(--sf-c-lightgreen-65);
  --sf-c-txt-lightgreen-70: var(--sf-c-lightgreen-70);
  --sf-c-txt-lightgreen-75: var(--sf-c-lightgreen-75);
  --sf-c-txt-lightgreen-80: var(--sf-c-lightgreen-80);
  --sf-c-txt-lightgreen-85: var(--sf-c-lightgreen-85);
  --sf-c-txt-lightgreen-90: var(--sf-c-lightgreen-90);
  --sf-c-txt-lightgreen-95: var(--sf-c-lightgreen-95);
 
  --sf-dark-c-lightgreen: 120 73% 25%;
  --sf-dark-c-lightgreen-5: 120 73% 95%;
  --sf-dark-c-lightgreen-10: 120 73% 90%;
  --sf-dark-c-lightgreen-15: 120 73% 85%;
  --sf-dark-c-lightgreen-20: 120 73% 80%;
  --sf-dark-c-lightgreen-25: 120 73% 75%;
  --sf-dark-c-lightgreen-30: 120 73% 70%;
  --sf-dark-c-lightgreen-35: 120 73% 65%;
  --sf-dark-c-lightgreen-40: 120 73% 60%;
  --sf-dark-c-lightgreen-45: 120 73% 55%;
  --sf-dark-c-lightgreen-50: 120 73% 50%;
  --sf-dark-c-lightgreen-55: 120 73% 45%;
  --sf-dark-c-lightgreen-60: 120 73% 40%;
  --sf-dark-c-lightgreen-65: 120 73% 35%;
  --sf-dark-c-lightgreen-70: 120 73% 30%;
  --sf-dark-c-lightgreen-75: 120 73% 25%;
  --sf-dark-c-lightgreen-80: 120 73% 20%;
  --sf-dark-c-lightgreen-85: 120 73% 15%;
  --sf-dark-c-lightgreen-90: 120 73% 10%;
  --sf-dark-c-lightgreen-95: 120 73% 5%;
 
  --sf-dark-c-txt-lightgreen: var(--sf-dark-c-lightgreen);
  --sf-dark-c-txt-lightgreen-5: var(--sf-dark-c-lightgreen-5);
  --sf-dark-c-txt-lightgreen-10: var(--sf-dark-c-lightgreen-10);
  --sf-dark-c-txt-lightgreen-15: var(--sf-dark-c-lightgreen-15);
  --sf-dark-c-txt-lightgreen-20: var(--sf-dark-c-lightgreen-20);
  --sf-dark-c-txt-lightgreen-25: var(--sf-dark-c-lightgreen-25);
  --sf-dark-c-txt-lightgreen-30: var(--sf-dark-c-lightgreen-30);
  --sf-dark-c-txt-lightgreen-35: var(--sf-dark-c-lightgreen-35);
  --sf-dark-c-txt-lightgreen-40: var(--sf-dark-c-lightgreen-40);
  --sf-dark-c-txt-lightgreen-45: var(--sf-dark-c-lightgreen-45);
  --sf-dark-c-txt-lightgreen-50: var(--sf-dark-c-lightgreen-50);
  --sf-dark-c-txt-lightgreen-55: var(--sf-dark-c-lightgreen-55);
  --sf-dark-c-txt-lightgreen-60: var(--sf-dark-c-lightgreen-60);
  --sf-dark-c-txt-lightgreen-65: var(--sf-dark-c-lightgreen-65);
  --sf-dark-c-txt-lightgreen-70: var(--sf-dark-c-lightgreen-70);
  --sf-dark-c-txt-lightgreen-75: var(--sf-dark-c-lightgreen-75);
  --sf-dark-c-txt-lightgreen-80: var(--sf-dark-c-lightgreen-80);
  --sf-dark-c-txt-lightgreen-85: var(--sf-dark-c-lightgreen-85);
  --sf-dark-c-txt-lightgreen-90: var(--sf-dark-c-lightgreen-90);
  --sf-dark-c-txt-lightgreen-95: var(--sf-dark-c-lightgreen-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-lightgreen: var(--sf-dark-c-lightgreen);
  --sf-c-lightgreen-5: var(--sf-dark-c-lightgreen-5);
  --sf-c-lightgreen-10: var(--sf-dark-c-lightgreen-10);
  --sf-c-lightgreen-15: var(--sf-dark-c-lightgreen-15);
  --sf-c-lightgreen-20: var(--sf-dark-c-lightgreen-20);
  --sf-c-lightgreen-25: var(--sf-dark-c-lightgreen-25);
  --sf-c-lightgreen-30: var(--sf-dark-c-lightgreen-30);
  --sf-c-lightgreen-35: var(--sf-dark-c-lightgreen-35);
  --sf-c-lightgreen-40: var(--sf-dark-c-lightgreen-40);
  --sf-c-lightgreen-45: var(--sf-dark-c-lightgreen-45);
  --sf-c-lightgreen-50: var(--sf-dark-c-lightgreen-50);
  --sf-c-lightgreen-55: var(--sf-dark-c-lightgreen-55);
  --sf-c-lightgreen-60: var(--sf-dark-c-lightgreen-60);
  --sf-c-lightgreen-65: var(--sf-dark-c-lightgreen-65);
  --sf-c-lightgreen-70: var(--sf-dark-c-lightgreen-70);
  --sf-c-lightgreen-75: var(--sf-dark-c-lightgreen-75);
  --sf-c-lightgreen-80: var(--sf-dark-c-lightgreen-80);
  --sf-c-lightgreen-85: var(--sf-dark-c-lightgreen-85);
  --sf-c-lightgreen-90: var(--sf-dark-c-lightgreen-90);
  --sf-c-lightgreen-95: var(--sf-dark-c-lightgreen-95);
 
  --sf-c-txt-lightgreen: var(--sf-dark-c-txt-lightgreen);
  --sf-c-txt-lightgreen-5: var(--sf-dark-c-txt-lightgreen-5);
  --sf-c-txt-lightgreen-10: var(--sf-dark-c-txt-lightgreen-10);
  --sf-c-txt-lightgreen-15: var(--sf-dark-c-txt-lightgreen-15);
  --sf-c-txt-lightgreen-20: var(--sf-dark-c-txt-lightgreen-20);
  --sf-c-txt-lightgreen-25: var(--sf-dark-c-txt-lightgreen-25);
  --sf-c-txt-lightgreen-30: var(--sf-dark-c-txt-lightgreen-30);
  --sf-c-txt-lightgreen-35: var(--sf-dark-c-txt-lightgreen-35);
  --sf-c-txt-lightgreen-40: var(--sf-dark-c-txt-lightgreen-40);
  --sf-c-txt-lightgreen-45: var(--sf-dark-c-txt-lightgreen-45);
  --sf-c-txt-lightgreen-50: var(--sf-dark-c-txt-lightgreen-50);
  --sf-c-txt-lightgreen-55: var(--sf-dark-c-txt-lightgreen-55);
  --sf-c-txt-lightgreen-60: var(--sf-dark-c-txt-lightgreen-60);
  --sf-c-txt-lightgreen-65: var(--sf-dark-c-txt-lightgreen-65);
  --sf-c-txt-lightgreen-70: var(--sf-dark-c-txt-lightgreen-70);
  --sf-c-txt-lightgreen-75: var(--sf-dark-c-txt-lightgreen-75);
  --sf-c-txt-lightgreen-80: var(--sf-dark-c-txt-lightgreen-80);
  --sf-c-txt-lightgreen-85: var(--sf-dark-c-txt-lightgreen-85);
  --sf-c-txt-lightgreen-90: var(--sf-dark-c-txt-lightgreen-90);
  --sf-c-txt-lightgreen-95: var(--sf-dark-c-txt-lightgreen-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-lightgreen: var(--sf-dark-c-lightgreen);
    --sf-c-lightgreen-5: var(--sf-dark-c-lightgreen-5);
    --sf-c-lightgreen-10: var(--sf-dark-c-lightgreen-10);
    --sf-c-lightgreen-15: var(--sf-dark-c-lightgreen-15);
    --sf-c-lightgreen-20: var(--sf-dark-c-lightgreen-20);
    --sf-c-lightgreen-25: var(--sf-dark-c-lightgreen-25);
    --sf-c-lightgreen-30: var(--sf-dark-c-lightgreen-30);
    --sf-c-lightgreen-35: var(--sf-dark-c-lightgreen-35);
    --sf-c-lightgreen-40: var(--sf-dark-c-lightgreen-40);
    --sf-c-lightgreen-45: var(--sf-dark-c-lightgreen-45);
    --sf-c-lightgreen-50: var(--sf-dark-c-lightgreen-50);
    --sf-c-lightgreen-55: var(--sf-dark-c-lightgreen-55);
    --sf-c-lightgreen-60: var(--sf-dark-c-lightgreen-60);
    --sf-c-lightgreen-65: var(--sf-dark-c-lightgreen-65);
    --sf-c-lightgreen-70: var(--sf-dark-c-lightgreen-70);
    --sf-c-lightgreen-75: var(--sf-dark-c-lightgreen-75);
    --sf-c-lightgreen-80: var(--sf-dark-c-lightgreen-80);
    --sf-c-lightgreen-85: var(--sf-dark-c-lightgreen-85);
    --sf-c-lightgreen-90: var(--sf-dark-c-lightgreen-90);
    --sf-c-lightgreen-95: var(--sf-dark-c-lightgreen-95);
 
    --sf-c-txt-lightgreen: var(--sf-dark-c-txt-lightgreen);
    --sf-c-txt-lightgreen-5: var(--sf-dark-c-txt-lightgreen-5);
    --sf-c-txt-lightgreen-10: var(--sf-dark-c-txt-lightgreen-10);
    --sf-c-txt-lightgreen-15: var(--sf-dark-c-txt-lightgreen-15);
    --sf-c-txt-lightgreen-20: var(--sf-dark-c-txt-lightgreen-20);
    --sf-c-txt-lightgreen-25: var(--sf-dark-c-txt-lightgreen-25);
    --sf-c-txt-lightgreen-30: var(--sf-dark-c-txt-lightgreen-30);
    --sf-c-txt-lightgreen-35: var(--sf-dark-c-txt-lightgreen-35);
    --sf-c-txt-lightgreen-40: var(--sf-dark-c-txt-lightgreen-40);
    --sf-c-txt-lightgreen-45: var(--sf-dark-c-txt-lightgreen-45);
    --sf-c-txt-lightgreen-50: var(--sf-dark-c-txt-lightgreen-50);
    --sf-c-txt-lightgreen-55: var(--sf-dark-c-txt-lightgreen-55);
    --sf-c-txt-lightgreen-60: var(--sf-dark-c-txt-lightgreen-60);
    --sf-c-txt-lightgreen-65: var(--sf-dark-c-txt-lightgreen-65);
    --sf-c-txt-lightgreen-70: var(--sf-dark-c-txt-lightgreen-70);
    --sf-c-txt-lightgreen-75: var(--sf-dark-c-txt-lightgreen-75);
    --sf-c-txt-lightgreen-80: var(--sf-dark-c-txt-lightgreen-80);
    --sf-c-txt-lightgreen-85: var(--sf-dark-c-txt-lightgreen-85);
    --sf-c-txt-lightgreen-90: var(--sf-dark-c-txt-lightgreen-90);
    --sf-c-txt-lightgreen-95: var(--sf-dark-c-txt-lightgreen-95);
  }
}
 
.sf-c-lightgreen { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen)) }
.sf-c-lightgreen\:5 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-5)) }
.sf-c-lightgreen\:10 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-10)) }
.sf-c-lightgreen\:15 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-15)) }
.sf-c-lightgreen\:20 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-20)) }
.sf-c-lightgreen\:25 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-25)) }
.sf-c-lightgreen\:30 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-30)) }
.sf-c-lightgreen\:35 { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-35)) }
.sf-c-lightgreen\:40 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-40)) }
.sf-c-lightgreen\:45 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-45)) }
.sf-c-lightgreen\:50 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-50)) }
.sf-c-lightgreen\:55 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-55)) }
.sf-c-lightgreen\:60 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-60)) }
.sf-c-lightgreen\:65 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-65)) }
.sf-c-lightgreen\:70 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-70)) }
.sf-c-lightgreen\:75 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-75)) }
.sf-c-lightgreen\:80 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-80)) }
.sf-c-lightgreen\:85 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-85)) }
.sf-c-lightgreen\:90 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-90)) }
.sf-c-lightgreen\:95 { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:5\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:10\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:15\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:20\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:25\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:30\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:35\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)); background: hsl(var(--sf-c-lightgreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:40\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:45\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:50\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:55\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:60\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:65\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:70\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:75\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:80\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:85\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:90\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-lightgreen\:95\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)); background: hsl(var(--sf-c-lightgreen-95)) }

.sf-c-txt-lightgreen { color: hsl(var(--sf-c-txt-lightgreen)) }
.sf-c-txt-lightgreen\:5 { color: hsl(var(--sf-c-txt-lightgreen-5)) }
.sf-c-txt-lightgreen\:10 { color: hsl(var(--sf-c-txt-lightgreen-10)) }
.sf-c-txt-lightgreen\:15 { color: hsl(var(--sf-c-txt-lightgreen-15)) }
.sf-c-txt-lightgreen\:20 { color: hsl(var(--sf-c-txt-lightgreen-20)) }
.sf-c-txt-lightgreen\:25 { color: hsl(var(--sf-c-txt-lightgreen-25)) }
.sf-c-txt-lightgreen\:30 { color: hsl(var(--sf-c-txt-lightgreen-30)) }
.sf-c-txt-lightgreen\:35 { color: hsl(var(--sf-c-txt-lightgreen-35)) }
.sf-c-txt-lightgreen\:40 { color: hsl(var(--sf-c-txt-lightgreen-40)) }
.sf-c-txt-lightgreen\:45 { color: hsl(var(--sf-c-txt-lightgreen-45)) }
.sf-c-txt-lightgreen\:50 { color: hsl(var(--sf-c-txt-lightgreen-50)) }
.sf-c-txt-lightgreen\:55 { color: hsl(var(--sf-c-txt-lightgreen-55)) }
.sf-c-txt-lightgreen\:60 { color: hsl(var(--sf-c-txt-lightgreen-60)) }
.sf-c-txt-lightgreen\:65 { color: hsl(var(--sf-c-txt-lightgreen-65)) }
.sf-c-txt-lightgreen\:70 { color: hsl(var(--sf-c-txt-lightgreen-70)) }
.sf-c-txt-lightgreen\:75 { color: hsl(var(--sf-c-txt-lightgreen-75)) }
.sf-c-txt-lightgreen\:80 { color: hsl(var(--sf-c-txt-lightgreen-80)) }
.sf-c-txt-lightgreen\:85 { color: hsl(var(--sf-c-txt-lightgreen-85)) }
.sf-c-txt-lightgreen\:90 { color: hsl(var(--sf-c-txt-lightgreen-90)) }
.sf-c-txt-lightgreen\:95 { color: hsl(var(--sf-c-txt-lightgreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:dark { color: hsl(var(--sf-c-txt-lightgreen)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:5\:dark { color: hsl(var(--sf-c-txt-lightgreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:10\:dark { color: hsl(var(--sf-c-txt-lightgreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:15\:dark { color: hsl(var(--sf-c-txt-lightgreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:20\:dark { color: hsl(var(--sf-c-txt-lightgreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:25\:dark { color: hsl(var(--sf-c-txt-lightgreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:30\:dark { color: hsl(var(--sf-c-txt-lightgreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:35\:dark { color: hsl(var(--sf-c-txt-lightgreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:40\:dark { color: hsl(var(--sf-c-txt-lightgreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:45\:dark { color: hsl(var(--sf-c-txt-lightgreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:50\:dark { color: hsl(var(--sf-c-txt-lightgreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:55\:dark { color: hsl(var(--sf-c-txt-lightgreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:60\:dark { color: hsl(var(--sf-c-txt-lightgreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:65\:dark { color: hsl(var(--sf-c-txt-lightgreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:70\:dark { color: hsl(var(--sf-c-txt-lightgreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:75\:dark { color: hsl(var(--sf-c-txt-lightgreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:80\:dark { color: hsl(var(--sf-c-txt-lightgreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:85\:dark { color: hsl(var(--sf-c-txt-lightgreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:90\:dark { color: hsl(var(--sf-c-txt-lightgreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightgreen\:95\:dark { color: hsl(var(--sf-c-txt-lightgreen-95)) }