:root {
  --sf-c-lightseagreen: 177 70% 41%;
  --sf-c-lightseagreen-5: 177 70% 5%;
  --sf-c-lightseagreen-10: 177 70% 10%;
  --sf-c-lightseagreen-15: 177 70% 15%;
  --sf-c-lightseagreen-20: 177 70% 20%;
  --sf-c-lightseagreen-25: 177 70% 25%;
  --sf-c-lightseagreen-30: 177 70% 30%;
  --sf-c-lightseagreen-35: 177 70% 35%;
  --sf-c-lightseagreen-40: 177 70% 40%;
  --sf-c-lightseagreen-45: 177 70% 45%;
  --sf-c-lightseagreen-50: 177 70% 50%;
  --sf-c-lightseagreen-55: 177 70% 55%;
  --sf-c-lightseagreen-60: 177 70% 60%;
  --sf-c-lightseagreen-65: 177 70% 65%;
  --sf-c-lightseagreen-70: 177 70% 70%;
  --sf-c-lightseagreen-75: 177 70% 75%;
  --sf-c-lightseagreen-80: 177 70% 80%;
  --sf-c-lightseagreen-85: 177 70% 85%;
  --sf-c-lightseagreen-90: 177 70% 90%;
  --sf-c-lightseagreen-95: 177 70% 95%;
 
  --sf-c-txt-lightseagreen: var(--sf-c-lightseagreen);
  --sf-c-txt-lightseagreen-5: var(--sf-c-lightseagreen-5);
  --sf-c-txt-lightseagreen-10: var(--sf-c-lightseagreen-10);
  --sf-c-txt-lightseagreen-15: var(--sf-c-lightseagreen-15);
  --sf-c-txt-lightseagreen-20: var(--sf-c-lightseagreen-20);
  --sf-c-txt-lightseagreen-25: var(--sf-c-lightseagreen-25);
  --sf-c-txt-lightseagreen-30: var(--sf-c-lightseagreen-30);
  --sf-c-txt-lightseagreen-35: var(--sf-c-lightseagreen-35);
  --sf-c-txt-lightseagreen-40: var(--sf-c-lightseagreen-40);
  --sf-c-txt-lightseagreen-45: var(--sf-c-lightseagreen-45);
  --sf-c-txt-lightseagreen-50: var(--sf-c-lightseagreen-50);
  --sf-c-txt-lightseagreen-55: var(--sf-c-lightseagreen-55);
  --sf-c-txt-lightseagreen-60: var(--sf-c-lightseagreen-60);
  --sf-c-txt-lightseagreen-65: var(--sf-c-lightseagreen-65);
  --sf-c-txt-lightseagreen-70: var(--sf-c-lightseagreen-70);
  --sf-c-txt-lightseagreen-75: var(--sf-c-lightseagreen-75);
  --sf-c-txt-lightseagreen-80: var(--sf-c-lightseagreen-80);
  --sf-c-txt-lightseagreen-85: var(--sf-c-lightseagreen-85);
  --sf-c-txt-lightseagreen-90: var(--sf-c-lightseagreen-90);
  --sf-c-txt-lightseagreen-95: var(--sf-c-lightseagreen-95);
 
  --sf-dark-c-lightseagreen: 177 70% 59%;
  --sf-dark-c-lightseagreen-5: 177 70% 95%;
  --sf-dark-c-lightseagreen-10: 177 70% 90%;
  --sf-dark-c-lightseagreen-15: 177 70% 85%;
  --sf-dark-c-lightseagreen-20: 177 70% 80%;
  --sf-dark-c-lightseagreen-25: 177 70% 75%;
  --sf-dark-c-lightseagreen-30: 177 70% 70%;
  --sf-dark-c-lightseagreen-35: 177 70% 65%;
  --sf-dark-c-lightseagreen-40: 177 70% 60%;
  --sf-dark-c-lightseagreen-45: 177 70% 55%;
  --sf-dark-c-lightseagreen-50: 177 70% 50%;
  --sf-dark-c-lightseagreen-55: 177 70% 45%;
  --sf-dark-c-lightseagreen-60: 177 70% 40%;
  --sf-dark-c-lightseagreen-65: 177 70% 35%;
  --sf-dark-c-lightseagreen-70: 177 70% 30%;
  --sf-dark-c-lightseagreen-75: 177 70% 25%;
  --sf-dark-c-lightseagreen-80: 177 70% 20%;
  --sf-dark-c-lightseagreen-85: 177 70% 15%;
  --sf-dark-c-lightseagreen-90: 177 70% 10%;
  --sf-dark-c-lightseagreen-95: 177 70% 5%;
 
  --sf-dark-c-txt-lightseagreen: var(--sf-dark-c-lightseagreen);
  --sf-dark-c-txt-lightseagreen-5: var(--sf-dark-c-lightseagreen-5);
  --sf-dark-c-txt-lightseagreen-10: var(--sf-dark-c-lightseagreen-10);
  --sf-dark-c-txt-lightseagreen-15: var(--sf-dark-c-lightseagreen-15);
  --sf-dark-c-txt-lightseagreen-20: var(--sf-dark-c-lightseagreen-20);
  --sf-dark-c-txt-lightseagreen-25: var(--sf-dark-c-lightseagreen-25);
  --sf-dark-c-txt-lightseagreen-30: var(--sf-dark-c-lightseagreen-30);
  --sf-dark-c-txt-lightseagreen-35: var(--sf-dark-c-lightseagreen-35);
  --sf-dark-c-txt-lightseagreen-40: var(--sf-dark-c-lightseagreen-40);
  --sf-dark-c-txt-lightseagreen-45: var(--sf-dark-c-lightseagreen-45);
  --sf-dark-c-txt-lightseagreen-50: var(--sf-dark-c-lightseagreen-50);
  --sf-dark-c-txt-lightseagreen-55: var(--sf-dark-c-lightseagreen-55);
  --sf-dark-c-txt-lightseagreen-60: var(--sf-dark-c-lightseagreen-60);
  --sf-dark-c-txt-lightseagreen-65: var(--sf-dark-c-lightseagreen-65);
  --sf-dark-c-txt-lightseagreen-70: var(--sf-dark-c-lightseagreen-70);
  --sf-dark-c-txt-lightseagreen-75: var(--sf-dark-c-lightseagreen-75);
  --sf-dark-c-txt-lightseagreen-80: var(--sf-dark-c-lightseagreen-80);
  --sf-dark-c-txt-lightseagreen-85: var(--sf-dark-c-lightseagreen-85);
  --sf-dark-c-txt-lightseagreen-90: var(--sf-dark-c-lightseagreen-90);
  --sf-dark-c-txt-lightseagreen-95: var(--sf-dark-c-lightseagreen-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-lightseagreen: var(--sf-dark-c-lightseagreen);
  --sf-c-lightseagreen-5: var(--sf-dark-c-lightseagreen-5);
  --sf-c-lightseagreen-10: var(--sf-dark-c-lightseagreen-10);
  --sf-c-lightseagreen-15: var(--sf-dark-c-lightseagreen-15);
  --sf-c-lightseagreen-20: var(--sf-dark-c-lightseagreen-20);
  --sf-c-lightseagreen-25: var(--sf-dark-c-lightseagreen-25);
  --sf-c-lightseagreen-30: var(--sf-dark-c-lightseagreen-30);
  --sf-c-lightseagreen-35: var(--sf-dark-c-lightseagreen-35);
  --sf-c-lightseagreen-40: var(--sf-dark-c-lightseagreen-40);
  --sf-c-lightseagreen-45: var(--sf-dark-c-lightseagreen-45);
  --sf-c-lightseagreen-50: var(--sf-dark-c-lightseagreen-50);
  --sf-c-lightseagreen-55: var(--sf-dark-c-lightseagreen-55);
  --sf-c-lightseagreen-60: var(--sf-dark-c-lightseagreen-60);
  --sf-c-lightseagreen-65: var(--sf-dark-c-lightseagreen-65);
  --sf-c-lightseagreen-70: var(--sf-dark-c-lightseagreen-70);
  --sf-c-lightseagreen-75: var(--sf-dark-c-lightseagreen-75);
  --sf-c-lightseagreen-80: var(--sf-dark-c-lightseagreen-80);
  --sf-c-lightseagreen-85: var(--sf-dark-c-lightseagreen-85);
  --sf-c-lightseagreen-90: var(--sf-dark-c-lightseagreen-90);
  --sf-c-lightseagreen-95: var(--sf-dark-c-lightseagreen-95);
 
  --sf-c-txt-lightseagreen: var(--sf-dark-c-txt-lightseagreen);
  --sf-c-txt-lightseagreen-5: var(--sf-dark-c-txt-lightseagreen-5);
  --sf-c-txt-lightseagreen-10: var(--sf-dark-c-txt-lightseagreen-10);
  --sf-c-txt-lightseagreen-15: var(--sf-dark-c-txt-lightseagreen-15);
  --sf-c-txt-lightseagreen-20: var(--sf-dark-c-txt-lightseagreen-20);
  --sf-c-txt-lightseagreen-25: var(--sf-dark-c-txt-lightseagreen-25);
  --sf-c-txt-lightseagreen-30: var(--sf-dark-c-txt-lightseagreen-30);
  --sf-c-txt-lightseagreen-35: var(--sf-dark-c-txt-lightseagreen-35);
  --sf-c-txt-lightseagreen-40: var(--sf-dark-c-txt-lightseagreen-40);
  --sf-c-txt-lightseagreen-45: var(--sf-dark-c-txt-lightseagreen-45);
  --sf-c-txt-lightseagreen-50: var(--sf-dark-c-txt-lightseagreen-50);
  --sf-c-txt-lightseagreen-55: var(--sf-dark-c-txt-lightseagreen-55);
  --sf-c-txt-lightseagreen-60: var(--sf-dark-c-txt-lightseagreen-60);
  --sf-c-txt-lightseagreen-65: var(--sf-dark-c-txt-lightseagreen-65);
  --sf-c-txt-lightseagreen-70: var(--sf-dark-c-txt-lightseagreen-70);
  --sf-c-txt-lightseagreen-75: var(--sf-dark-c-txt-lightseagreen-75);
  --sf-c-txt-lightseagreen-80: var(--sf-dark-c-txt-lightseagreen-80);
  --sf-c-txt-lightseagreen-85: var(--sf-dark-c-txt-lightseagreen-85);
  --sf-c-txt-lightseagreen-90: var(--sf-dark-c-txt-lightseagreen-90);
  --sf-c-txt-lightseagreen-95: var(--sf-dark-c-txt-lightseagreen-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-lightseagreen: var(--sf-dark-c-lightseagreen);
    --sf-c-lightseagreen-5: var(--sf-dark-c-lightseagreen-5);
    --sf-c-lightseagreen-10: var(--sf-dark-c-lightseagreen-10);
    --sf-c-lightseagreen-15: var(--sf-dark-c-lightseagreen-15);
    --sf-c-lightseagreen-20: var(--sf-dark-c-lightseagreen-20);
    --sf-c-lightseagreen-25: var(--sf-dark-c-lightseagreen-25);
    --sf-c-lightseagreen-30: var(--sf-dark-c-lightseagreen-30);
    --sf-c-lightseagreen-35: var(--sf-dark-c-lightseagreen-35);
    --sf-c-lightseagreen-40: var(--sf-dark-c-lightseagreen-40);
    --sf-c-lightseagreen-45: var(--sf-dark-c-lightseagreen-45);
    --sf-c-lightseagreen-50: var(--sf-dark-c-lightseagreen-50);
    --sf-c-lightseagreen-55: var(--sf-dark-c-lightseagreen-55);
    --sf-c-lightseagreen-60: var(--sf-dark-c-lightseagreen-60);
    --sf-c-lightseagreen-65: var(--sf-dark-c-lightseagreen-65);
    --sf-c-lightseagreen-70: var(--sf-dark-c-lightseagreen-70);
    --sf-c-lightseagreen-75: var(--sf-dark-c-lightseagreen-75);
    --sf-c-lightseagreen-80: var(--sf-dark-c-lightseagreen-80);
    --sf-c-lightseagreen-85: var(--sf-dark-c-lightseagreen-85);
    --sf-c-lightseagreen-90: var(--sf-dark-c-lightseagreen-90);
    --sf-c-lightseagreen-95: var(--sf-dark-c-lightseagreen-95);
 
    --sf-c-txt-lightseagreen: var(--sf-dark-c-txt-lightseagreen);
    --sf-c-txt-lightseagreen-5: var(--sf-dark-c-txt-lightseagreen-5);
    --sf-c-txt-lightseagreen-10: var(--sf-dark-c-txt-lightseagreen-10);
    --sf-c-txt-lightseagreen-15: var(--sf-dark-c-txt-lightseagreen-15);
    --sf-c-txt-lightseagreen-20: var(--sf-dark-c-txt-lightseagreen-20);
    --sf-c-txt-lightseagreen-25: var(--sf-dark-c-txt-lightseagreen-25);
    --sf-c-txt-lightseagreen-30: var(--sf-dark-c-txt-lightseagreen-30);
    --sf-c-txt-lightseagreen-35: var(--sf-dark-c-txt-lightseagreen-35);
    --sf-c-txt-lightseagreen-40: var(--sf-dark-c-txt-lightseagreen-40);
    --sf-c-txt-lightseagreen-45: var(--sf-dark-c-txt-lightseagreen-45);
    --sf-c-txt-lightseagreen-50: var(--sf-dark-c-txt-lightseagreen-50);
    --sf-c-txt-lightseagreen-55: var(--sf-dark-c-txt-lightseagreen-55);
    --sf-c-txt-lightseagreen-60: var(--sf-dark-c-txt-lightseagreen-60);
    --sf-c-txt-lightseagreen-65: var(--sf-dark-c-txt-lightseagreen-65);
    --sf-c-txt-lightseagreen-70: var(--sf-dark-c-txt-lightseagreen-70);
    --sf-c-txt-lightseagreen-75: var(--sf-dark-c-txt-lightseagreen-75);
    --sf-c-txt-lightseagreen-80: var(--sf-dark-c-txt-lightseagreen-80);
    --sf-c-txt-lightseagreen-85: var(--sf-dark-c-txt-lightseagreen-85);
    --sf-c-txt-lightseagreen-90: var(--sf-dark-c-txt-lightseagreen-90);
    --sf-c-txt-lightseagreen-95: var(--sf-dark-c-txt-lightseagreen-95);
  }
}
 
.sf-c-lightseagreen { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen)) }
.sf-c-lightseagreen\:5 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-5)) }
.sf-c-lightseagreen\:10 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-10)) }
.sf-c-lightseagreen\:15 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-15)) }
.sf-c-lightseagreen\:20 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-20)) }
.sf-c-lightseagreen\:25 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-25)) }
.sf-c-lightseagreen\:30 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-30)) }
.sf-c-lightseagreen\:35 { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-35)) }
.sf-c-lightseagreen\:40 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-40)) }
.sf-c-lightseagreen\:45 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-45)) }
.sf-c-lightseagreen\:50 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-50)) }
.sf-c-lightseagreen\:55 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-55)) }
.sf-c-lightseagreen\:60 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-60)) }
.sf-c-lightseagreen\:65 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-65)) }
.sf-c-lightseagreen\:70 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-70)) }
.sf-c-lightseagreen\:75 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-75)) }
.sf-c-lightseagreen\:80 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-80)) }
.sf-c-lightseagreen\:85 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-85)) }
.sf-c-lightseagreen\:90 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-90)) }
.sf-c-lightseagreen\:95 { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:5\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:10\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:15\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:20\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:25\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:30\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:35\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)); background: hsl(var(--sf-c-lightseagreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:40\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:45\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:50\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:55\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:60\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:65\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:70\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:75\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:80\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:85\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:90\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-lightseagreen\:95\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)); background: hsl(var(--sf-c-lightseagreen-95)) }

.sf-c-txt-lightseagreen { color: hsl(var(--sf-c-txt-lightseagreen)) }
.sf-c-txt-lightseagreen\:5 { color: hsl(var(--sf-c-txt-lightseagreen-5)) }
.sf-c-txt-lightseagreen\:10 { color: hsl(var(--sf-c-txt-lightseagreen-10)) }
.sf-c-txt-lightseagreen\:15 { color: hsl(var(--sf-c-txt-lightseagreen-15)) }
.sf-c-txt-lightseagreen\:20 { color: hsl(var(--sf-c-txt-lightseagreen-20)) }
.sf-c-txt-lightseagreen\:25 { color: hsl(var(--sf-c-txt-lightseagreen-25)) }
.sf-c-txt-lightseagreen\:30 { color: hsl(var(--sf-c-txt-lightseagreen-30)) }
.sf-c-txt-lightseagreen\:35 { color: hsl(var(--sf-c-txt-lightseagreen-35)) }
.sf-c-txt-lightseagreen\:40 { color: hsl(var(--sf-c-txt-lightseagreen-40)) }
.sf-c-txt-lightseagreen\:45 { color: hsl(var(--sf-c-txt-lightseagreen-45)) }
.sf-c-txt-lightseagreen\:50 { color: hsl(var(--sf-c-txt-lightseagreen-50)) }
.sf-c-txt-lightseagreen\:55 { color: hsl(var(--sf-c-txt-lightseagreen-55)) }
.sf-c-txt-lightseagreen\:60 { color: hsl(var(--sf-c-txt-lightseagreen-60)) }
.sf-c-txt-lightseagreen\:65 { color: hsl(var(--sf-c-txt-lightseagreen-65)) }
.sf-c-txt-lightseagreen\:70 { color: hsl(var(--sf-c-txt-lightseagreen-70)) }
.sf-c-txt-lightseagreen\:75 { color: hsl(var(--sf-c-txt-lightseagreen-75)) }
.sf-c-txt-lightseagreen\:80 { color: hsl(var(--sf-c-txt-lightseagreen-80)) }
.sf-c-txt-lightseagreen\:85 { color: hsl(var(--sf-c-txt-lightseagreen-85)) }
.sf-c-txt-lightseagreen\:90 { color: hsl(var(--sf-c-txt-lightseagreen-90)) }
.sf-c-txt-lightseagreen\:95 { color: hsl(var(--sf-c-txt-lightseagreen-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:dark { color: hsl(var(--sf-c-txt-lightseagreen)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:5\:dark { color: hsl(var(--sf-c-txt-lightseagreen-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:10\:dark { color: hsl(var(--sf-c-txt-lightseagreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:15\:dark { color: hsl(var(--sf-c-txt-lightseagreen-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:20\:dark { color: hsl(var(--sf-c-txt-lightseagreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:25\:dark { color: hsl(var(--sf-c-txt-lightseagreen-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:30\:dark { color: hsl(var(--sf-c-txt-lightseagreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:35\:dark { color: hsl(var(--sf-c-txt-lightseagreen-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:40\:dark { color: hsl(var(--sf-c-txt-lightseagreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:45\:dark { color: hsl(var(--sf-c-txt-lightseagreen-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:50\:dark { color: hsl(var(--sf-c-txt-lightseagreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:55\:dark { color: hsl(var(--sf-c-txt-lightseagreen-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:60\:dark { color: hsl(var(--sf-c-txt-lightseagreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:65\:dark { color: hsl(var(--sf-c-txt-lightseagreen-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:70\:dark { color: hsl(var(--sf-c-txt-lightseagreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:75\:dark { color: hsl(var(--sf-c-txt-lightseagreen-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:80\:dark { color: hsl(var(--sf-c-txt-lightseagreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:85\:dark { color: hsl(var(--sf-c-txt-lightseagreen-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:90\:dark { color: hsl(var(--sf-c-txt-lightseagreen-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-lightseagreen\:95\:dark { color: hsl(var(--sf-c-txt-lightseagreen-95)) }