:root {
  --sf-c-mediumblue: 240 100% 40%;
  --sf-c-mediumblue-5: 240 100% 5%;
  --sf-c-mediumblue-10: 240 100% 10%;
  --sf-c-mediumblue-15: 240 100% 15%;
  --sf-c-mediumblue-20: 240 100% 20%;
  --sf-c-mediumblue-25: 240 100% 25%;
  --sf-c-mediumblue-30: 240 100% 30%;
  --sf-c-mediumblue-35: 240 100% 35%;
  --sf-c-mediumblue-40: 240 100% 40%;
  --sf-c-mediumblue-45: 240 100% 45%;
  --sf-c-mediumblue-50: 240 100% 50%;
  --sf-c-mediumblue-55: 240 100% 55%;
  --sf-c-mediumblue-60: 240 100% 60%;
  --sf-c-mediumblue-65: 240 100% 65%;
  --sf-c-mediumblue-70: 240 100% 70%;
  --sf-c-mediumblue-75: 240 100% 75%;
  --sf-c-mediumblue-80: 240 100% 80%;
  --sf-c-mediumblue-85: 240 100% 85%;
  --sf-c-mediumblue-90: 240 100% 90%;
  --sf-c-mediumblue-95: 240 100% 95%;
 
  --sf-c-txt-mediumblue: var(--sf-c-mediumblue);
  --sf-c-txt-mediumblue-5: var(--sf-c-mediumblue-5);
  --sf-c-txt-mediumblue-10: var(--sf-c-mediumblue-10);
  --sf-c-txt-mediumblue-15: var(--sf-c-mediumblue-15);
  --sf-c-txt-mediumblue-20: var(--sf-c-mediumblue-20);
  --sf-c-txt-mediumblue-25: var(--sf-c-mediumblue-25);
  --sf-c-txt-mediumblue-30: var(--sf-c-mediumblue-30);
  --sf-c-txt-mediumblue-35: var(--sf-c-mediumblue-35);
  --sf-c-txt-mediumblue-40: var(--sf-c-mediumblue-40);
  --sf-c-txt-mediumblue-45: var(--sf-c-mediumblue-45);
  --sf-c-txt-mediumblue-50: var(--sf-c-mediumblue-50);
  --sf-c-txt-mediumblue-55: var(--sf-c-mediumblue-55);
  --sf-c-txt-mediumblue-60: var(--sf-c-mediumblue-60);
  --sf-c-txt-mediumblue-65: var(--sf-c-mediumblue-65);
  --sf-c-txt-mediumblue-70: var(--sf-c-mediumblue-70);
  --sf-c-txt-mediumblue-75: var(--sf-c-mediumblue-75);
  --sf-c-txt-mediumblue-80: var(--sf-c-mediumblue-80);
  --sf-c-txt-mediumblue-85: var(--sf-c-mediumblue-85);
  --sf-c-txt-mediumblue-90: var(--sf-c-mediumblue-90);
  --sf-c-txt-mediumblue-95: var(--sf-c-mediumblue-95);
 
  --sf-dark-c-mediumblue: 240 100% 60%;
  --sf-dark-c-mediumblue-5: 240 100% 95%;
  --sf-dark-c-mediumblue-10: 240 100% 90%;
  --sf-dark-c-mediumblue-15: 240 100% 85%;
  --sf-dark-c-mediumblue-20: 240 100% 80%;
  --sf-dark-c-mediumblue-25: 240 100% 75%;
  --sf-dark-c-mediumblue-30: 240 100% 70%;
  --sf-dark-c-mediumblue-35: 240 100% 65%;
  --sf-dark-c-mediumblue-40: 240 100% 60%;
  --sf-dark-c-mediumblue-45: 240 100% 55%;
  --sf-dark-c-mediumblue-50: 240 100% 50%;
  --sf-dark-c-mediumblue-55: 240 100% 45%;
  --sf-dark-c-mediumblue-60: 240 100% 40%;
  --sf-dark-c-mediumblue-65: 240 100% 35%;
  --sf-dark-c-mediumblue-70: 240 100% 30%;
  --sf-dark-c-mediumblue-75: 240 100% 25%;
  --sf-dark-c-mediumblue-80: 240 100% 20%;
  --sf-dark-c-mediumblue-85: 240 100% 15%;
  --sf-dark-c-mediumblue-90: 240 100% 10%;
  --sf-dark-c-mediumblue-95: 240 100% 5%;
 
  --sf-dark-c-txt-mediumblue: var(--sf-dark-c-mediumblue);
  --sf-dark-c-txt-mediumblue-5: var(--sf-dark-c-mediumblue-5);
  --sf-dark-c-txt-mediumblue-10: var(--sf-dark-c-mediumblue-10);
  --sf-dark-c-txt-mediumblue-15: var(--sf-dark-c-mediumblue-15);
  --sf-dark-c-txt-mediumblue-20: var(--sf-dark-c-mediumblue-20);
  --sf-dark-c-txt-mediumblue-25: var(--sf-dark-c-mediumblue-25);
  --sf-dark-c-txt-mediumblue-30: var(--sf-dark-c-mediumblue-30);
  --sf-dark-c-txt-mediumblue-35: var(--sf-dark-c-mediumblue-35);
  --sf-dark-c-txt-mediumblue-40: var(--sf-dark-c-mediumblue-40);
  --sf-dark-c-txt-mediumblue-45: var(--sf-dark-c-mediumblue-45);
  --sf-dark-c-txt-mediumblue-50: var(--sf-dark-c-mediumblue-50);
  --sf-dark-c-txt-mediumblue-55: var(--sf-dark-c-mediumblue-55);
  --sf-dark-c-txt-mediumblue-60: var(--sf-dark-c-mediumblue-60);
  --sf-dark-c-txt-mediumblue-65: var(--sf-dark-c-mediumblue-65);
  --sf-dark-c-txt-mediumblue-70: var(--sf-dark-c-mediumblue-70);
  --sf-dark-c-txt-mediumblue-75: var(--sf-dark-c-mediumblue-75);
  --sf-dark-c-txt-mediumblue-80: var(--sf-dark-c-mediumblue-80);
  --sf-dark-c-txt-mediumblue-85: var(--sf-dark-c-mediumblue-85);
  --sf-dark-c-txt-mediumblue-90: var(--sf-dark-c-mediumblue-90);
  --sf-dark-c-txt-mediumblue-95: var(--sf-dark-c-mediumblue-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-mediumblue: var(--sf-dark-c-mediumblue);
  --sf-c-mediumblue-5: var(--sf-dark-c-mediumblue-5);
  --sf-c-mediumblue-10: var(--sf-dark-c-mediumblue-10);
  --sf-c-mediumblue-15: var(--sf-dark-c-mediumblue-15);
  --sf-c-mediumblue-20: var(--sf-dark-c-mediumblue-20);
  --sf-c-mediumblue-25: var(--sf-dark-c-mediumblue-25);
  --sf-c-mediumblue-30: var(--sf-dark-c-mediumblue-30);
  --sf-c-mediumblue-35: var(--sf-dark-c-mediumblue-35);
  --sf-c-mediumblue-40: var(--sf-dark-c-mediumblue-40);
  --sf-c-mediumblue-45: var(--sf-dark-c-mediumblue-45);
  --sf-c-mediumblue-50: var(--sf-dark-c-mediumblue-50);
  --sf-c-mediumblue-55: var(--sf-dark-c-mediumblue-55);
  --sf-c-mediumblue-60: var(--sf-dark-c-mediumblue-60);
  --sf-c-mediumblue-65: var(--sf-dark-c-mediumblue-65);
  --sf-c-mediumblue-70: var(--sf-dark-c-mediumblue-70);
  --sf-c-mediumblue-75: var(--sf-dark-c-mediumblue-75);
  --sf-c-mediumblue-80: var(--sf-dark-c-mediumblue-80);
  --sf-c-mediumblue-85: var(--sf-dark-c-mediumblue-85);
  --sf-c-mediumblue-90: var(--sf-dark-c-mediumblue-90);
  --sf-c-mediumblue-95: var(--sf-dark-c-mediumblue-95);
 
  --sf-c-txt-mediumblue: var(--sf-dark-c-txt-mediumblue);
  --sf-c-txt-mediumblue-5: var(--sf-dark-c-txt-mediumblue-5);
  --sf-c-txt-mediumblue-10: var(--sf-dark-c-txt-mediumblue-10);
  --sf-c-txt-mediumblue-15: var(--sf-dark-c-txt-mediumblue-15);
  --sf-c-txt-mediumblue-20: var(--sf-dark-c-txt-mediumblue-20);
  --sf-c-txt-mediumblue-25: var(--sf-dark-c-txt-mediumblue-25);
  --sf-c-txt-mediumblue-30: var(--sf-dark-c-txt-mediumblue-30);
  --sf-c-txt-mediumblue-35: var(--sf-dark-c-txt-mediumblue-35);
  --sf-c-txt-mediumblue-40: var(--sf-dark-c-txt-mediumblue-40);
  --sf-c-txt-mediumblue-45: var(--sf-dark-c-txt-mediumblue-45);
  --sf-c-txt-mediumblue-50: var(--sf-dark-c-txt-mediumblue-50);
  --sf-c-txt-mediumblue-55: var(--sf-dark-c-txt-mediumblue-55);
  --sf-c-txt-mediumblue-60: var(--sf-dark-c-txt-mediumblue-60);
  --sf-c-txt-mediumblue-65: var(--sf-dark-c-txt-mediumblue-65);
  --sf-c-txt-mediumblue-70: var(--sf-dark-c-txt-mediumblue-70);
  --sf-c-txt-mediumblue-75: var(--sf-dark-c-txt-mediumblue-75);
  --sf-c-txt-mediumblue-80: var(--sf-dark-c-txt-mediumblue-80);
  --sf-c-txt-mediumblue-85: var(--sf-dark-c-txt-mediumblue-85);
  --sf-c-txt-mediumblue-90: var(--sf-dark-c-txt-mediumblue-90);
  --sf-c-txt-mediumblue-95: var(--sf-dark-c-txt-mediumblue-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-mediumblue: var(--sf-dark-c-mediumblue);
    --sf-c-mediumblue-5: var(--sf-dark-c-mediumblue-5);
    --sf-c-mediumblue-10: var(--sf-dark-c-mediumblue-10);
    --sf-c-mediumblue-15: var(--sf-dark-c-mediumblue-15);
    --sf-c-mediumblue-20: var(--sf-dark-c-mediumblue-20);
    --sf-c-mediumblue-25: var(--sf-dark-c-mediumblue-25);
    --sf-c-mediumblue-30: var(--sf-dark-c-mediumblue-30);
    --sf-c-mediumblue-35: var(--sf-dark-c-mediumblue-35);
    --sf-c-mediumblue-40: var(--sf-dark-c-mediumblue-40);
    --sf-c-mediumblue-45: var(--sf-dark-c-mediumblue-45);
    --sf-c-mediumblue-50: var(--sf-dark-c-mediumblue-50);
    --sf-c-mediumblue-55: var(--sf-dark-c-mediumblue-55);
    --sf-c-mediumblue-60: var(--sf-dark-c-mediumblue-60);
    --sf-c-mediumblue-65: var(--sf-dark-c-mediumblue-65);
    --sf-c-mediumblue-70: var(--sf-dark-c-mediumblue-70);
    --sf-c-mediumblue-75: var(--sf-dark-c-mediumblue-75);
    --sf-c-mediumblue-80: var(--sf-dark-c-mediumblue-80);
    --sf-c-mediumblue-85: var(--sf-dark-c-mediumblue-85);
    --sf-c-mediumblue-90: var(--sf-dark-c-mediumblue-90);
    --sf-c-mediumblue-95: var(--sf-dark-c-mediumblue-95);
 
    --sf-c-txt-mediumblue: var(--sf-dark-c-txt-mediumblue);
    --sf-c-txt-mediumblue-5: var(--sf-dark-c-txt-mediumblue-5);
    --sf-c-txt-mediumblue-10: var(--sf-dark-c-txt-mediumblue-10);
    --sf-c-txt-mediumblue-15: var(--sf-dark-c-txt-mediumblue-15);
    --sf-c-txt-mediumblue-20: var(--sf-dark-c-txt-mediumblue-20);
    --sf-c-txt-mediumblue-25: var(--sf-dark-c-txt-mediumblue-25);
    --sf-c-txt-mediumblue-30: var(--sf-dark-c-txt-mediumblue-30);
    --sf-c-txt-mediumblue-35: var(--sf-dark-c-txt-mediumblue-35);
    --sf-c-txt-mediumblue-40: var(--sf-dark-c-txt-mediumblue-40);
    --sf-c-txt-mediumblue-45: var(--sf-dark-c-txt-mediumblue-45);
    --sf-c-txt-mediumblue-50: var(--sf-dark-c-txt-mediumblue-50);
    --sf-c-txt-mediumblue-55: var(--sf-dark-c-txt-mediumblue-55);
    --sf-c-txt-mediumblue-60: var(--sf-dark-c-txt-mediumblue-60);
    --sf-c-txt-mediumblue-65: var(--sf-dark-c-txt-mediumblue-65);
    --sf-c-txt-mediumblue-70: var(--sf-dark-c-txt-mediumblue-70);
    --sf-c-txt-mediumblue-75: var(--sf-dark-c-txt-mediumblue-75);
    --sf-c-txt-mediumblue-80: var(--sf-dark-c-txt-mediumblue-80);
    --sf-c-txt-mediumblue-85: var(--sf-dark-c-txt-mediumblue-85);
    --sf-c-txt-mediumblue-90: var(--sf-dark-c-txt-mediumblue-90);
    --sf-c-txt-mediumblue-95: var(--sf-dark-c-txt-mediumblue-95);
  }
}
 
.sf-c-mediumblue { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue)) }
.sf-c-mediumblue\:5 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-5)) }
.sf-c-mediumblue\:10 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-10)) }
.sf-c-mediumblue\:15 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-15)) }
.sf-c-mediumblue\:20 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-20)) }
.sf-c-mediumblue\:25 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-25)) }
.sf-c-mediumblue\:30 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-30)) }
.sf-c-mediumblue\:35 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-35)) }
.sf-c-mediumblue\:40 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-40)) }
.sf-c-mediumblue\:45 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-45)) }
.sf-c-mediumblue\:50 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-50)) }
.sf-c-mediumblue\:55 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-55)) }
.sf-c-mediumblue\:60 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-60)) }
.sf-c-mediumblue\:65 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-65)) }
.sf-c-mediumblue\:70 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-70)) }
.sf-c-mediumblue\:75 { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-75)) }
.sf-c-mediumblue\:80 { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-80)) }
.sf-c-mediumblue\:85 { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-85)) }
.sf-c-mediumblue\:90 { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-90)) }
.sf-c-mediumblue\:95 { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:5\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-5)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:10\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:15\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-15)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:20\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:25\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-25)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:30\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:35\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-35)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:40\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:45\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-45)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:50\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:55\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-55)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:60\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:65\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-65)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:70\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:75\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)); background: hsl(var(--sf-c-mediumblue-75)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:80\:dark { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:85\:dark { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-85)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:90\:dark { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-90)) }
:where([data-theme='dark'], .dark) .sf-c-mediumblue\:95\:dark { color: hsl(var(--sf-c-txt-mediumblue-5)); background: hsl(var(--sf-c-mediumblue-95)) }

.sf-c-txt-mediumblue { color: hsl(var(--sf-c-txt-mediumblue)) }
.sf-c-txt-mediumblue\:5 { color: hsl(var(--sf-c-txt-mediumblue-5)) }
.sf-c-txt-mediumblue\:10 { color: hsl(var(--sf-c-txt-mediumblue-10)) }
.sf-c-txt-mediumblue\:15 { color: hsl(var(--sf-c-txt-mediumblue-15)) }
.sf-c-txt-mediumblue\:20 { color: hsl(var(--sf-c-txt-mediumblue-20)) }
.sf-c-txt-mediumblue\:25 { color: hsl(var(--sf-c-txt-mediumblue-25)) }
.sf-c-txt-mediumblue\:30 { color: hsl(var(--sf-c-txt-mediumblue-30)) }
.sf-c-txt-mediumblue\:35 { color: hsl(var(--sf-c-txt-mediumblue-35)) }
.sf-c-txt-mediumblue\:40 { color: hsl(var(--sf-c-txt-mediumblue-40)) }
.sf-c-txt-mediumblue\:45 { color: hsl(var(--sf-c-txt-mediumblue-45)) }
.sf-c-txt-mediumblue\:50 { color: hsl(var(--sf-c-txt-mediumblue-50)) }
.sf-c-txt-mediumblue\:55 { color: hsl(var(--sf-c-txt-mediumblue-55)) }
.sf-c-txt-mediumblue\:60 { color: hsl(var(--sf-c-txt-mediumblue-60)) }
.sf-c-txt-mediumblue\:65 { color: hsl(var(--sf-c-txt-mediumblue-65)) }
.sf-c-txt-mediumblue\:70 { color: hsl(var(--sf-c-txt-mediumblue-70)) }
.sf-c-txt-mediumblue\:75 { color: hsl(var(--sf-c-txt-mediumblue-75)) }
.sf-c-txt-mediumblue\:80 { color: hsl(var(--sf-c-txt-mediumblue-80)) }
.sf-c-txt-mediumblue\:85 { color: hsl(var(--sf-c-txt-mediumblue-85)) }
.sf-c-txt-mediumblue\:90 { color: hsl(var(--sf-c-txt-mediumblue-90)) }
.sf-c-txt-mediumblue\:95 { color: hsl(var(--sf-c-txt-mediumblue-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:dark { color: hsl(var(--sf-c-txt-mediumblue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:5\:dark { color: hsl(var(--sf-c-txt-mediumblue-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:10\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:15\:dark { color: hsl(var(--sf-c-txt-mediumblue-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:20\:dark { color: hsl(var(--sf-c-txt-mediumblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:25\:dark { color: hsl(var(--sf-c-txt-mediumblue-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:30\:dark { color: hsl(var(--sf-c-txt-mediumblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:35\:dark { color: hsl(var(--sf-c-txt-mediumblue-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:40\:dark { color: hsl(var(--sf-c-txt-mediumblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:45\:dark { color: hsl(var(--sf-c-txt-mediumblue-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:50\:dark { color: hsl(var(--sf-c-txt-mediumblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:55\:dark { color: hsl(var(--sf-c-txt-mediumblue-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:60\:dark { color: hsl(var(--sf-c-txt-mediumblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:65\:dark { color: hsl(var(--sf-c-txt-mediumblue-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:70\:dark { color: hsl(var(--sf-c-txt-mediumblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:75\:dark { color: hsl(var(--sf-c-txt-mediumblue-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:80\:dark { color: hsl(var(--sf-c-txt-mediumblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:85\:dark { color: hsl(var(--sf-c-txt-mediumblue-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:90\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumblue\:95\:dark { color: hsl(var(--sf-c-txt-mediumblue-95)) }