:root {
  --sf-c-navy: 240 100% 25%;
  --sf-c-navy-5: 240 100% 5%;
  --sf-c-navy-10: 240 100% 10%;
  --sf-c-navy-15: 240 100% 15%;
  --sf-c-navy-20: 240 100% 20%;
  --sf-c-navy-25: 240 100% 25%;
  --sf-c-navy-30: 240 100% 30%;
  --sf-c-navy-35: 240 100% 35%;
  --sf-c-navy-40: 240 100% 40%;
  --sf-c-navy-45: 240 100% 45%;
  --sf-c-navy-50: 240 100% 50%;
  --sf-c-navy-55: 240 100% 55%;
  --sf-c-navy-60: 240 100% 60%;
  --sf-c-navy-65: 240 100% 65%;
  --sf-c-navy-70: 240 100% 70%;
  --sf-c-navy-75: 240 100% 75%;
  --sf-c-navy-80: 240 100% 80%;
  --sf-c-navy-85: 240 100% 85%;
  --sf-c-navy-90: 240 100% 90%;
  --sf-c-navy-95: 240 100% 95%;
 
  --sf-c-txt-navy: var(--sf-c-navy);
  --sf-c-txt-navy-5: var(--sf-c-navy-5);
  --sf-c-txt-navy-10: var(--sf-c-navy-10);
  --sf-c-txt-navy-15: var(--sf-c-navy-15);
  --sf-c-txt-navy-20: var(--sf-c-navy-20);
  --sf-c-txt-navy-25: var(--sf-c-navy-25);
  --sf-c-txt-navy-30: var(--sf-c-navy-30);
  --sf-c-txt-navy-35: var(--sf-c-navy-35);
  --sf-c-txt-navy-40: var(--sf-c-navy-40);
  --sf-c-txt-navy-45: var(--sf-c-navy-45);
  --sf-c-txt-navy-50: var(--sf-c-navy-50);
  --sf-c-txt-navy-55: var(--sf-c-navy-55);
  --sf-c-txt-navy-60: var(--sf-c-navy-60);
  --sf-c-txt-navy-65: var(--sf-c-navy-65);
  --sf-c-txt-navy-70: var(--sf-c-navy-70);
  --sf-c-txt-navy-75: var(--sf-c-navy-75);
  --sf-c-txt-navy-80: var(--sf-c-navy-80);
  --sf-c-txt-navy-85: var(--sf-c-navy-85);
  --sf-c-txt-navy-90: var(--sf-c-navy-90);
  --sf-c-txt-navy-95: var(--sf-c-navy-95);
 
  --sf-dark-c-navy: 240 100% 75%;
  --sf-dark-c-navy-5: 240 100% 95%;
  --sf-dark-c-navy-10: 240 100% 90%;
  --sf-dark-c-navy-15: 240 100% 85%;
  --sf-dark-c-navy-20: 240 100% 80%;
  --sf-dark-c-navy-25: 240 100% 75%;
  --sf-dark-c-navy-30: 240 100% 70%;
  --sf-dark-c-navy-35: 240 100% 65%;
  --sf-dark-c-navy-40: 240 100% 60%;
  --sf-dark-c-navy-45: 240 100% 55%;
  --sf-dark-c-navy-50: 240 100% 50%;
  --sf-dark-c-navy-55: 240 100% 45%;
  --sf-dark-c-navy-60: 240 100% 40%;
  --sf-dark-c-navy-65: 240 100% 35%;
  --sf-dark-c-navy-70: 240 100% 30%;
  --sf-dark-c-navy-75: 240 100% 25%;
  --sf-dark-c-navy-80: 240 100% 20%;
  --sf-dark-c-navy-85: 240 100% 15%;
  --sf-dark-c-navy-90: 240 100% 10%;
  --sf-dark-c-navy-95: 240 100% 5%;
 
  --sf-dark-c-txt-navy: var(--sf-dark-c-navy);
  --sf-dark-c-txt-navy-5: var(--sf-dark-c-navy-5);
  --sf-dark-c-txt-navy-10: var(--sf-dark-c-navy-10);
  --sf-dark-c-txt-navy-15: var(--sf-dark-c-navy-15);
  --sf-dark-c-txt-navy-20: var(--sf-dark-c-navy-20);
  --sf-dark-c-txt-navy-25: var(--sf-dark-c-navy-25);
  --sf-dark-c-txt-navy-30: var(--sf-dark-c-navy-30);
  --sf-dark-c-txt-navy-35: var(--sf-dark-c-navy-35);
  --sf-dark-c-txt-navy-40: var(--sf-dark-c-navy-40);
  --sf-dark-c-txt-navy-45: var(--sf-dark-c-navy-45);
  --sf-dark-c-txt-navy-50: var(--sf-dark-c-navy-50);
  --sf-dark-c-txt-navy-55: var(--sf-dark-c-navy-55);
  --sf-dark-c-txt-navy-60: var(--sf-dark-c-navy-60);
  --sf-dark-c-txt-navy-65: var(--sf-dark-c-navy-65);
  --sf-dark-c-txt-navy-70: var(--sf-dark-c-navy-70);
  --sf-dark-c-txt-navy-75: var(--sf-dark-c-navy-75);
  --sf-dark-c-txt-navy-80: var(--sf-dark-c-navy-80);
  --sf-dark-c-txt-navy-85: var(--sf-dark-c-navy-85);
  --sf-dark-c-txt-navy-90: var(--sf-dark-c-navy-90);
  --sf-dark-c-txt-navy-95: var(--sf-dark-c-navy-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-navy: var(--sf-dark-c-navy);
  --sf-c-navy-5: var(--sf-dark-c-navy-5);
  --sf-c-navy-10: var(--sf-dark-c-navy-10);
  --sf-c-navy-15: var(--sf-dark-c-navy-15);
  --sf-c-navy-20: var(--sf-dark-c-navy-20);
  --sf-c-navy-25: var(--sf-dark-c-navy-25);
  --sf-c-navy-30: var(--sf-dark-c-navy-30);
  --sf-c-navy-35: var(--sf-dark-c-navy-35);
  --sf-c-navy-40: var(--sf-dark-c-navy-40);
  --sf-c-navy-45: var(--sf-dark-c-navy-45);
  --sf-c-navy-50: var(--sf-dark-c-navy-50);
  --sf-c-navy-55: var(--sf-dark-c-navy-55);
  --sf-c-navy-60: var(--sf-dark-c-navy-60);
  --sf-c-navy-65: var(--sf-dark-c-navy-65);
  --sf-c-navy-70: var(--sf-dark-c-navy-70);
  --sf-c-navy-75: var(--sf-dark-c-navy-75);
  --sf-c-navy-80: var(--sf-dark-c-navy-80);
  --sf-c-navy-85: var(--sf-dark-c-navy-85);
  --sf-c-navy-90: var(--sf-dark-c-navy-90);
  --sf-c-navy-95: var(--sf-dark-c-navy-95);
 
  --sf-c-txt-navy: var(--sf-dark-c-txt-navy);
  --sf-c-txt-navy-5: var(--sf-dark-c-txt-navy-5);
  --sf-c-txt-navy-10: var(--sf-dark-c-txt-navy-10);
  --sf-c-txt-navy-15: var(--sf-dark-c-txt-navy-15);
  --sf-c-txt-navy-20: var(--sf-dark-c-txt-navy-20);
  --sf-c-txt-navy-25: var(--sf-dark-c-txt-navy-25);
  --sf-c-txt-navy-30: var(--sf-dark-c-txt-navy-30);
  --sf-c-txt-navy-35: var(--sf-dark-c-txt-navy-35);
  --sf-c-txt-navy-40: var(--sf-dark-c-txt-navy-40);
  --sf-c-txt-navy-45: var(--sf-dark-c-txt-navy-45);
  --sf-c-txt-navy-50: var(--sf-dark-c-txt-navy-50);
  --sf-c-txt-navy-55: var(--sf-dark-c-txt-navy-55);
  --sf-c-txt-navy-60: var(--sf-dark-c-txt-navy-60);
  --sf-c-txt-navy-65: var(--sf-dark-c-txt-navy-65);
  --sf-c-txt-navy-70: var(--sf-dark-c-txt-navy-70);
  --sf-c-txt-navy-75: var(--sf-dark-c-txt-navy-75);
  --sf-c-txt-navy-80: var(--sf-dark-c-txt-navy-80);
  --sf-c-txt-navy-85: var(--sf-dark-c-txt-navy-85);
  --sf-c-txt-navy-90: var(--sf-dark-c-txt-navy-90);
  --sf-c-txt-navy-95: var(--sf-dark-c-txt-navy-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-navy: var(--sf-dark-c-navy);
    --sf-c-navy-5: var(--sf-dark-c-navy-5);
    --sf-c-navy-10: var(--sf-dark-c-navy-10);
    --sf-c-navy-15: var(--sf-dark-c-navy-15);
    --sf-c-navy-20: var(--sf-dark-c-navy-20);
    --sf-c-navy-25: var(--sf-dark-c-navy-25);
    --sf-c-navy-30: var(--sf-dark-c-navy-30);
    --sf-c-navy-35: var(--sf-dark-c-navy-35);
    --sf-c-navy-40: var(--sf-dark-c-navy-40);
    --sf-c-navy-45: var(--sf-dark-c-navy-45);
    --sf-c-navy-50: var(--sf-dark-c-navy-50);
    --sf-c-navy-55: var(--sf-dark-c-navy-55);
    --sf-c-navy-60: var(--sf-dark-c-navy-60);
    --sf-c-navy-65: var(--sf-dark-c-navy-65);
    --sf-c-navy-70: var(--sf-dark-c-navy-70);
    --sf-c-navy-75: var(--sf-dark-c-navy-75);
    --sf-c-navy-80: var(--sf-dark-c-navy-80);
    --sf-c-navy-85: var(--sf-dark-c-navy-85);
    --sf-c-navy-90: var(--sf-dark-c-navy-90);
    --sf-c-navy-95: var(--sf-dark-c-navy-95);
 
    --sf-c-txt-navy: var(--sf-dark-c-txt-navy);
    --sf-c-txt-navy-5: var(--sf-dark-c-txt-navy-5);
    --sf-c-txt-navy-10: var(--sf-dark-c-txt-navy-10);
    --sf-c-txt-navy-15: var(--sf-dark-c-txt-navy-15);
    --sf-c-txt-navy-20: var(--sf-dark-c-txt-navy-20);
    --sf-c-txt-navy-25: var(--sf-dark-c-txt-navy-25);
    --sf-c-txt-navy-30: var(--sf-dark-c-txt-navy-30);
    --sf-c-txt-navy-35: var(--sf-dark-c-txt-navy-35);
    --sf-c-txt-navy-40: var(--sf-dark-c-txt-navy-40);
    --sf-c-txt-navy-45: var(--sf-dark-c-txt-navy-45);
    --sf-c-txt-navy-50: var(--sf-dark-c-txt-navy-50);
    --sf-c-txt-navy-55: var(--sf-dark-c-txt-navy-55);
    --sf-c-txt-navy-60: var(--sf-dark-c-txt-navy-60);
    --sf-c-txt-navy-65: var(--sf-dark-c-txt-navy-65);
    --sf-c-txt-navy-70: var(--sf-dark-c-txt-navy-70);
    --sf-c-txt-navy-75: var(--sf-dark-c-txt-navy-75);
    --sf-c-txt-navy-80: var(--sf-dark-c-txt-navy-80);
    --sf-c-txt-navy-85: var(--sf-dark-c-txt-navy-85);
    --sf-c-txt-navy-90: var(--sf-dark-c-txt-navy-90);
    --sf-c-txt-navy-95: var(--sf-dark-c-txt-navy-95);
  }
}
 
.sf-c-navy { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy)) }
.sf-c-navy\:5 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-5)) }
.sf-c-navy\:10 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-10)) }
.sf-c-navy\:15 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-15)) }
.sf-c-navy\:20 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-20)) }
.sf-c-navy\:25 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-25)) }
.sf-c-navy\:30 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-30)) }
.sf-c-navy\:35 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-35)) }
.sf-c-navy\:40 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-40)) }
.sf-c-navy\:45 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-45)) }
.sf-c-navy\:50 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-50)) }
.sf-c-navy\:55 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-55)) }
.sf-c-navy\:60 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-60)) }
.sf-c-navy\:65 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-65)) }
.sf-c-navy\:70 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-70)) }
.sf-c-navy\:75 { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-75)) }
.sf-c-navy\:80 { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-80)) }
.sf-c-navy\:85 { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-85)) }
.sf-c-navy\:90 { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-90)) }
.sf-c-navy\:95 { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-navy\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:5\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-5)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:10\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-10)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:15\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-15)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:20\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-20)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:25\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-25)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:30\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-30)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:35\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-35)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:40\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-40)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:45\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-45)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:50\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-50)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:55\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-55)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:60\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-60)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:65\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-65)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:70\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-70)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:75\:dark { color: hsl(var(--sf-c-txt-navy-95)); background: hsl(var(--sf-c-navy-75)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:80\:dark { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-80)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:85\:dark { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-85)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:90\:dark { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-90)) }
:where([data-theme='dark'], .dark) .sf-c-navy\:95\:dark { color: hsl(var(--sf-c-txt-navy-5)); background: hsl(var(--sf-c-navy-95)) }

.sf-c-txt-navy { color: hsl(var(--sf-c-txt-navy)) }
.sf-c-txt-navy\:5 { color: hsl(var(--sf-c-txt-navy-5)) }
.sf-c-txt-navy\:10 { color: hsl(var(--sf-c-txt-navy-10)) }
.sf-c-txt-navy\:15 { color: hsl(var(--sf-c-txt-navy-15)) }
.sf-c-txt-navy\:20 { color: hsl(var(--sf-c-txt-navy-20)) }
.sf-c-txt-navy\:25 { color: hsl(var(--sf-c-txt-navy-25)) }
.sf-c-txt-navy\:30 { color: hsl(var(--sf-c-txt-navy-30)) }
.sf-c-txt-navy\:35 { color: hsl(var(--sf-c-txt-navy-35)) }
.sf-c-txt-navy\:40 { color: hsl(var(--sf-c-txt-navy-40)) }
.sf-c-txt-navy\:45 { color: hsl(var(--sf-c-txt-navy-45)) }
.sf-c-txt-navy\:50 { color: hsl(var(--sf-c-txt-navy-50)) }
.sf-c-txt-navy\:55 { color: hsl(var(--sf-c-txt-navy-55)) }
.sf-c-txt-navy\:60 { color: hsl(var(--sf-c-txt-navy-60)) }
.sf-c-txt-navy\:65 { color: hsl(var(--sf-c-txt-navy-65)) }
.sf-c-txt-navy\:70 { color: hsl(var(--sf-c-txt-navy-70)) }
.sf-c-txt-navy\:75 { color: hsl(var(--sf-c-txt-navy-75)) }
.sf-c-txt-navy\:80 { color: hsl(var(--sf-c-txt-navy-80)) }
.sf-c-txt-navy\:85 { color: hsl(var(--sf-c-txt-navy-85)) }
.sf-c-txt-navy\:90 { color: hsl(var(--sf-c-txt-navy-90)) }
.sf-c-txt-navy\:95 { color: hsl(var(--sf-c-txt-navy-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:dark { color: hsl(var(--sf-c-txt-navy)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:5\:dark { color: hsl(var(--sf-c-txt-navy-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:10\:dark { color: hsl(var(--sf-c-txt-navy-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:15\:dark { color: hsl(var(--sf-c-txt-navy-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:20\:dark { color: hsl(var(--sf-c-txt-navy-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:25\:dark { color: hsl(var(--sf-c-txt-navy-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:30\:dark { color: hsl(var(--sf-c-txt-navy-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:35\:dark { color: hsl(var(--sf-c-txt-navy-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:40\:dark { color: hsl(var(--sf-c-txt-navy-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:45\:dark { color: hsl(var(--sf-c-txt-navy-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:50\:dark { color: hsl(var(--sf-c-txt-navy-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:55\:dark { color: hsl(var(--sf-c-txt-navy-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:60\:dark { color: hsl(var(--sf-c-txt-navy-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:65\:dark { color: hsl(var(--sf-c-txt-navy-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:70\:dark { color: hsl(var(--sf-c-txt-navy-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:75\:dark { color: hsl(var(--sf-c-txt-navy-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:80\:dark { color: hsl(var(--sf-c-txt-navy-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:85\:dark { color: hsl(var(--sf-c-txt-navy-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:90\:dark { color: hsl(var(--sf-c-txt-navy-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-navy\:95\:dark { color: hsl(var(--sf-c-txt-navy-95)) }