:root {
  --sf-c-paleturquoise: 180 65% 81%;
  --sf-c-paleturquoise-5: 180 65% 5%;
  --sf-c-paleturquoise-10: 180 65% 10%;
  --sf-c-paleturquoise-15: 180 65% 15%;
  --sf-c-paleturquoise-20: 180 65% 20%;
  --sf-c-paleturquoise-25: 180 65% 25%;
  --sf-c-paleturquoise-30: 180 65% 30%;
  --sf-c-paleturquoise-35: 180 65% 35%;
  --sf-c-paleturquoise-40: 180 65% 40%;
  --sf-c-paleturquoise-45: 180 65% 45%;
  --sf-c-paleturquoise-50: 180 65% 50%;
  --sf-c-paleturquoise-55: 180 65% 55%;
  --sf-c-paleturquoise-60: 180 65% 60%;
  --sf-c-paleturquoise-65: 180 65% 65%;
  --sf-c-paleturquoise-70: 180 65% 70%;
  --sf-c-paleturquoise-75: 180 65% 75%;
  --sf-c-paleturquoise-80: 180 65% 80%;
  --sf-c-paleturquoise-85: 180 65% 85%;
  --sf-c-paleturquoise-90: 180 65% 90%;
  --sf-c-paleturquoise-95: 180 65% 95%;
 
  --sf-c-txt-paleturquoise: var(--sf-c-paleturquoise);
  --sf-c-txt-paleturquoise-5: var(--sf-c-paleturquoise-5);
  --sf-c-txt-paleturquoise-10: var(--sf-c-paleturquoise-10);
  --sf-c-txt-paleturquoise-15: var(--sf-c-paleturquoise-15);
  --sf-c-txt-paleturquoise-20: var(--sf-c-paleturquoise-20);
  --sf-c-txt-paleturquoise-25: var(--sf-c-paleturquoise-25);
  --sf-c-txt-paleturquoise-30: var(--sf-c-paleturquoise-30);
  --sf-c-txt-paleturquoise-35: var(--sf-c-paleturquoise-35);
  --sf-c-txt-paleturquoise-40: var(--sf-c-paleturquoise-40);
  --sf-c-txt-paleturquoise-45: var(--sf-c-paleturquoise-45);
  --sf-c-txt-paleturquoise-50: var(--sf-c-paleturquoise-50);
  --sf-c-txt-paleturquoise-55: var(--sf-c-paleturquoise-55);
  --sf-c-txt-paleturquoise-60: var(--sf-c-paleturquoise-60);
  --sf-c-txt-paleturquoise-65: var(--sf-c-paleturquoise-65);
  --sf-c-txt-paleturquoise-70: var(--sf-c-paleturquoise-70);
  --sf-c-txt-paleturquoise-75: var(--sf-c-paleturquoise-75);
  --sf-c-txt-paleturquoise-80: var(--sf-c-paleturquoise-80);
  --sf-c-txt-paleturquoise-85: var(--sf-c-paleturquoise-85);
  --sf-c-txt-paleturquoise-90: var(--sf-c-paleturquoise-90);
  --sf-c-txt-paleturquoise-95: var(--sf-c-paleturquoise-95);
 
  --sf-dark-c-paleturquoise: 180 65% 19%;
  --sf-dark-c-paleturquoise-5: 180 65% 95%;
  --sf-dark-c-paleturquoise-10: 180 65% 90%;
  --sf-dark-c-paleturquoise-15: 180 65% 85%;
  --sf-dark-c-paleturquoise-20: 180 65% 80%;
  --sf-dark-c-paleturquoise-25: 180 65% 75%;
  --sf-dark-c-paleturquoise-30: 180 65% 70%;
  --sf-dark-c-paleturquoise-35: 180 65% 65%;
  --sf-dark-c-paleturquoise-40: 180 65% 60%;
  --sf-dark-c-paleturquoise-45: 180 65% 55%;
  --sf-dark-c-paleturquoise-50: 180 65% 50%;
  --sf-dark-c-paleturquoise-55: 180 65% 45%;
  --sf-dark-c-paleturquoise-60: 180 65% 40%;
  --sf-dark-c-paleturquoise-65: 180 65% 35%;
  --sf-dark-c-paleturquoise-70: 180 65% 30%;
  --sf-dark-c-paleturquoise-75: 180 65% 25%;
  --sf-dark-c-paleturquoise-80: 180 65% 20%;
  --sf-dark-c-paleturquoise-85: 180 65% 15%;
  --sf-dark-c-paleturquoise-90: 180 65% 10%;
  --sf-dark-c-paleturquoise-95: 180 65% 5%;
 
  --sf-dark-c-txt-paleturquoise: var(--sf-dark-c-paleturquoise);
  --sf-dark-c-txt-paleturquoise-5: var(--sf-dark-c-paleturquoise-5);
  --sf-dark-c-txt-paleturquoise-10: var(--sf-dark-c-paleturquoise-10);
  --sf-dark-c-txt-paleturquoise-15: var(--sf-dark-c-paleturquoise-15);
  --sf-dark-c-txt-paleturquoise-20: var(--sf-dark-c-paleturquoise-20);
  --sf-dark-c-txt-paleturquoise-25: var(--sf-dark-c-paleturquoise-25);
  --sf-dark-c-txt-paleturquoise-30: var(--sf-dark-c-paleturquoise-30);
  --sf-dark-c-txt-paleturquoise-35: var(--sf-dark-c-paleturquoise-35);
  --sf-dark-c-txt-paleturquoise-40: var(--sf-dark-c-paleturquoise-40);
  --sf-dark-c-txt-paleturquoise-45: var(--sf-dark-c-paleturquoise-45);
  --sf-dark-c-txt-paleturquoise-50: var(--sf-dark-c-paleturquoise-50);
  --sf-dark-c-txt-paleturquoise-55: var(--sf-dark-c-paleturquoise-55);
  --sf-dark-c-txt-paleturquoise-60: var(--sf-dark-c-paleturquoise-60);
  --sf-dark-c-txt-paleturquoise-65: var(--sf-dark-c-paleturquoise-65);
  --sf-dark-c-txt-paleturquoise-70: var(--sf-dark-c-paleturquoise-70);
  --sf-dark-c-txt-paleturquoise-75: var(--sf-dark-c-paleturquoise-75);
  --sf-dark-c-txt-paleturquoise-80: var(--sf-dark-c-paleturquoise-80);
  --sf-dark-c-txt-paleturquoise-85: var(--sf-dark-c-paleturquoise-85);
  --sf-dark-c-txt-paleturquoise-90: var(--sf-dark-c-paleturquoise-90);
  --sf-dark-c-txt-paleturquoise-95: var(--sf-dark-c-paleturquoise-95);
}
 
:root[data-theme="dark"] {
  --sf-c-paleturquoise: var(--sf-dark-c-paleturquoise);
  --sf-c-paleturquoise-5: var(--sf-dark-c-paleturquoise-5);
  --sf-c-paleturquoise-10: var(--sf-dark-c-paleturquoise-10);
  --sf-c-paleturquoise-15: var(--sf-dark-c-paleturquoise-15);
  --sf-c-paleturquoise-20: var(--sf-dark-c-paleturquoise-20);
  --sf-c-paleturquoise-25: var(--sf-dark-c-paleturquoise-25);
  --sf-c-paleturquoise-30: var(--sf-dark-c-paleturquoise-30);
  --sf-c-paleturquoise-35: var(--sf-dark-c-paleturquoise-35);
  --sf-c-paleturquoise-40: var(--sf-dark-c-paleturquoise-40);
  --sf-c-paleturquoise-45: var(--sf-dark-c-paleturquoise-45);
  --sf-c-paleturquoise-50: var(--sf-dark-c-paleturquoise-50);
  --sf-c-paleturquoise-55: var(--sf-dark-c-paleturquoise-55);
  --sf-c-paleturquoise-60: var(--sf-dark-c-paleturquoise-60);
  --sf-c-paleturquoise-65: var(--sf-dark-c-paleturquoise-65);
  --sf-c-paleturquoise-70: var(--sf-dark-c-paleturquoise-70);
  --sf-c-paleturquoise-75: var(--sf-dark-c-paleturquoise-75);
  --sf-c-paleturquoise-80: var(--sf-dark-c-paleturquoise-80);
  --sf-c-paleturquoise-85: var(--sf-dark-c-paleturquoise-85);
  --sf-c-paleturquoise-90: var(--sf-dark-c-paleturquoise-90);
  --sf-c-paleturquoise-95: var(--sf-dark-c-paleturquoise-95);
 
  --sf-c-txt-paleturquoise: var(--sf-dark-c-txt-paleturquoise);
  --sf-c-txt-paleturquoise-5: var(--sf-dark-c-txt-paleturquoise-5);
  --sf-c-txt-paleturquoise-10: var(--sf-dark-c-txt-paleturquoise-10);
  --sf-c-txt-paleturquoise-15: var(--sf-dark-c-txt-paleturquoise-15);
  --sf-c-txt-paleturquoise-20: var(--sf-dark-c-txt-paleturquoise-20);
  --sf-c-txt-paleturquoise-25: var(--sf-dark-c-txt-paleturquoise-25);
  --sf-c-txt-paleturquoise-30: var(--sf-dark-c-txt-paleturquoise-30);
  --sf-c-txt-paleturquoise-35: var(--sf-dark-c-txt-paleturquoise-35);
  --sf-c-txt-paleturquoise-40: var(--sf-dark-c-txt-paleturquoise-40);
  --sf-c-txt-paleturquoise-45: var(--sf-dark-c-txt-paleturquoise-45);
  --sf-c-txt-paleturquoise-50: var(--sf-dark-c-txt-paleturquoise-50);
  --sf-c-txt-paleturquoise-55: var(--sf-dark-c-txt-paleturquoise-55);
  --sf-c-txt-paleturquoise-60: var(--sf-dark-c-txt-paleturquoise-60);
  --sf-c-txt-paleturquoise-65: var(--sf-dark-c-txt-paleturquoise-65);
  --sf-c-txt-paleturquoise-70: var(--sf-dark-c-txt-paleturquoise-70);
  --sf-c-txt-paleturquoise-75: var(--sf-dark-c-txt-paleturquoise-75);
  --sf-c-txt-paleturquoise-80: var(--sf-dark-c-txt-paleturquoise-80);
  --sf-c-txt-paleturquoise-85: var(--sf-dark-c-txt-paleturquoise-85);
  --sf-c-txt-paleturquoise-90: var(--sf-dark-c-txt-paleturquoise-90);
  --sf-c-txt-paleturquoise-95: var(--sf-dark-c-txt-paleturquoise-95);
}

.sf-c-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise)) }
.sf-c-paleturquoise\:5 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-5)) }
.sf-c-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-10)) }
.sf-c-paleturquoise\:15 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-15)) }
.sf-c-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-20)) }
.sf-c-paleturquoise\:25 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-25)) }
.sf-c-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-30)) }
.sf-c-paleturquoise\:35 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-35)) }
.sf-c-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-40)) }
.sf-c-paleturquoise\:45 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-45)) }
.sf-c-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-50)) }
.sf-c-paleturquoise\:55 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-55)) }
.sf-c-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-60)) }
.sf-c-paleturquoise\:65 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-65)) }
.sf-c-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-70)) }
.sf-c-paleturquoise\:75 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-75)) }
.sf-c-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-80)) }
.sf-c-paleturquoise\:85 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-85)) }
.sf-c-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-90)) }
.sf-c-paleturquoise\:95 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-95)) }
 
[data-theme="dark"] .sf-c-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise)) }
[data-theme="dark"] .sf-c-paleturquoise\:5 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-5)) }
[data-theme="dark"] .sf-c-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-10)) }
[data-theme="dark"] .sf-c-paleturquoise\:15 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-15)) }
[data-theme="dark"] .sf-c-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-20)) }
[data-theme="dark"] .sf-c-paleturquoise\:25 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-25)) }
[data-theme="dark"] .sf-c-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-30)) }
[data-theme="dark"] .sf-c-paleturquoise\:35 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-35)) }
[data-theme="dark"] .sf-c-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-40)) }
[data-theme="dark"] .sf-c-paleturquoise\:45 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-45)) }
[data-theme="dark"] .sf-c-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-50)) }
[data-theme="dark"] .sf-c-paleturquoise\:55 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-55)) }
[data-theme="dark"] .sf-c-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-60)) }
[data-theme="dark"] .sf-c-paleturquoise\:65 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-65)) }
[data-theme="dark"] .sf-c-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-70)) }
[data-theme="dark"] .sf-c-paleturquoise\:75 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-75)) }
[data-theme="dark"] .sf-c-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-80)) }
[data-theme="dark"] .sf-c-paleturquoise\:85 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-85)) }
[data-theme="dark"] .sf-c-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-90)) }
[data-theme="dark"] .sf-c-paleturquoise\:95 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-95)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-paleturquoise: var(--sf-dark-c-paleturquoise);
    --sf-c-paleturquoise-5: var(--sf-dark-c-paleturquoise-5);
    --sf-c-paleturquoise-10: var(--sf-dark-c-paleturquoise-10);
    --sf-c-paleturquoise-15: var(--sf-dark-c-paleturquoise-15);
    --sf-c-paleturquoise-20: var(--sf-dark-c-paleturquoise-20);
    --sf-c-paleturquoise-25: var(--sf-dark-c-paleturquoise-25);
    --sf-c-paleturquoise-30: var(--sf-dark-c-paleturquoise-30);
    --sf-c-paleturquoise-35: var(--sf-dark-c-paleturquoise-35);
    --sf-c-paleturquoise-40: var(--sf-dark-c-paleturquoise-40);
    --sf-c-paleturquoise-45: var(--sf-dark-c-paleturquoise-45);
    --sf-c-paleturquoise-50: var(--sf-dark-c-paleturquoise-50);
    --sf-c-paleturquoise-55: var(--sf-dark-c-paleturquoise-55);
    --sf-c-paleturquoise-60: var(--sf-dark-c-paleturquoise-60);
    --sf-c-paleturquoise-65: var(--sf-dark-c-paleturquoise-65);
    --sf-c-paleturquoise-70: var(--sf-dark-c-paleturquoise-70);
    --sf-c-paleturquoise-75: var(--sf-dark-c-paleturquoise-75);
    --sf-c-paleturquoise-80: var(--sf-dark-c-paleturquoise-80);
    --sf-c-paleturquoise-85: var(--sf-dark-c-paleturquoise-85);
    --sf-c-paleturquoise-90: var(--sf-dark-c-paleturquoise-90);
    --sf-c-paleturquoise-95: var(--sf-dark-c-paleturquoise-95);
 
    --sf-c-txt-paleturquoise: var(--sf-dark-c-txt-paleturquoise);
    --sf-c-txt-paleturquoise-5: var(--sf-dark-c-txt-paleturquoise-5);
    --sf-c-txt-paleturquoise-10: var(--sf-dark-c-txt-paleturquoise-10);
    --sf-c-txt-paleturquoise-15: var(--sf-dark-c-txt-paleturquoise-15);
    --sf-c-txt-paleturquoise-20: var(--sf-dark-c-txt-paleturquoise-20);
    --sf-c-txt-paleturquoise-25: var(--sf-dark-c-txt-paleturquoise-25);
    --sf-c-txt-paleturquoise-30: var(--sf-dark-c-txt-paleturquoise-30);
    --sf-c-txt-paleturquoise-35: var(--sf-dark-c-txt-paleturquoise-35);
    --sf-c-txt-paleturquoise-40: var(--sf-dark-c-txt-paleturquoise-40);
    --sf-c-txt-paleturquoise-45: var(--sf-dark-c-txt-paleturquoise-45);
    --sf-c-txt-paleturquoise-50: var(--sf-dark-c-txt-paleturquoise-50);
    --sf-c-txt-paleturquoise-55: var(--sf-dark-c-txt-paleturquoise-55);
    --sf-c-txt-paleturquoise-60: var(--sf-dark-c-txt-paleturquoise-60);
    --sf-c-txt-paleturquoise-65: var(--sf-dark-c-txt-paleturquoise-65);
    --sf-c-txt-paleturquoise-70: var(--sf-dark-c-txt-paleturquoise-70);
    --sf-c-txt-paleturquoise-75: var(--sf-dark-c-txt-paleturquoise-75);
    --sf-c-txt-paleturquoise-80: var(--sf-dark-c-txt-paleturquoise-80);
    --sf-c-txt-paleturquoise-85: var(--sf-dark-c-txt-paleturquoise-85);
    --sf-c-txt-paleturquoise-90: var(--sf-dark-c-txt-paleturquoise-90);
    --sf-c-txt-paleturquoise-95: var(--sf-dark-c-txt-paleturquoise-95);
  }
 
  [data-theme="auto"] .sf-c-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise)) }
  [data-theme="auto"] .sf-c-paleturquoise\:5 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-5)) }
  [data-theme="auto"] .sf-c-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-10)) }
  [data-theme="auto"] .sf-c-paleturquoise\:15 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-15)) }
  [data-theme="auto"] .sf-c-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-20)) }
  [data-theme="auto"] .sf-c-paleturquoise\:25 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-25)) }
  [data-theme="auto"] .sf-c-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-30)) }
  [data-theme="auto"] .sf-c-paleturquoise\:35 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-35)) }
  [data-theme="auto"] .sf-c-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-40)) }
  [data-theme="auto"] .sf-c-paleturquoise\:45 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-45)) }
  [data-theme="auto"] .sf-c-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-50)) }
  [data-theme="auto"] .sf-c-paleturquoise\:55 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-55)) }
  [data-theme="auto"] .sf-c-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-95)); background: hsl(var(--sf-c-paleturquoise-60)) }
  [data-theme="auto"] .sf-c-paleturquoise\:65 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-65)) }
  [data-theme="auto"] .sf-c-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-70)) }
  [data-theme="auto"] .sf-c-paleturquoise\:75 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-75)) }
  [data-theme="auto"] .sf-c-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-80)) }
  [data-theme="auto"] .sf-c-paleturquoise\:85 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-85)) }
  [data-theme="auto"] .sf-c-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-90)) }
  [data-theme="auto"] .sf-c-paleturquoise\:95 { color: hsl(var(--sf-c-txt-paleturquoise-5)); background: hsl(var(--sf-c-paleturquoise-95)) }
}

.sf-c-txt-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise)) }
.sf-c-txt-paleturquoise\:5 { color: hsl(var(--sf-c-txt-paleturquoise-5)) }
.sf-c-txt-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-10)) }
.sf-c-txt-paleturquoise\:15 { color: hsl(var(--sf-c-txt-paleturquoise-15)) }
.sf-c-txt-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-20)) }
.sf-c-txt-paleturquoise\:25 { color: hsl(var(--sf-c-txt-paleturquoise-25)) }
.sf-c-txt-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-30)) }
.sf-c-txt-paleturquoise\:35 { color: hsl(var(--sf-c-txt-paleturquoise-35)) }
.sf-c-txt-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-40)) }
.sf-c-txt-paleturquoise\:45 { color: hsl(var(--sf-c-txt-paleturquoise-45)) }
.sf-c-txt-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-50)) }
.sf-c-txt-paleturquoise\:55 { color: hsl(var(--sf-c-txt-paleturquoise-55)) }
.sf-c-txt-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-60)) }
.sf-c-txt-paleturquoise\:65 { color: hsl(var(--sf-c-txt-paleturquoise-65)) }
.sf-c-txt-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-70)) }
.sf-c-txt-paleturquoise\:75 { color: hsl(var(--sf-c-txt-paleturquoise-75)) }
.sf-c-txt-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-80)) }
.sf-c-txt-paleturquoise\:85 { color: hsl(var(--sf-c-txt-paleturquoise-85)) }
.sf-c-txt-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-90)) }
.sf-c-txt-paleturquoise\:95 { color: hsl(var(--sf-c-txt-paleturquoise-95)) }