:root {
  --sf-c-saddlebrown: 25 76% 31%;
  --sf-c-saddlebrown-0: 25 76% 0%;
  --sf-c-saddlebrown-5: 25 76% 5%;
  --sf-c-saddlebrown-10: 25 76% 10%;
  --sf-c-saddlebrown-15: 25 76% 15%;
  --sf-c-saddlebrown-20: 25 76% 20%;
  --sf-c-saddlebrown-25: 25 76% 25%;
  --sf-c-saddlebrown-30: 25 76% 30%;
  --sf-c-saddlebrown-35: 25 76% 35%;
  --sf-c-saddlebrown-40: 25 76% 40%;
  --sf-c-saddlebrown-45: 25 76% 45%;
  --sf-c-saddlebrown-50: 25 76% 50%;
  --sf-c-saddlebrown-55: 25 76% 55%;
  --sf-c-saddlebrown-60: 25 76% 60%;
  --sf-c-saddlebrown-65: 25 76% 65%;
  --sf-c-saddlebrown-70: 25 76% 70%;
  --sf-c-saddlebrown-75: 25 76% 75%;
  --sf-c-saddlebrown-80: 25 76% 80%;
  --sf-c-saddlebrown-85: 25 76% 85%;
  --sf-c-saddlebrown-90: 25 76% 90%;
  --sf-c-saddlebrown-95: 25 76% 95%;
  --sf-c-saddlebrown-100: 25 76% 100%;

  --sf-c-txt-saddlebrown: var(--sf-c-saddlebrown);
  --sf-c-txt-saddlebrown-0: var(--sf-c-saddlebrown-0);
  --sf-c-txt-saddlebrown-5: var(--sf-c-saddlebrown-5);
  --sf-c-txt-saddlebrown-10: var(--sf-c-saddlebrown-10);
  --sf-c-txt-saddlebrown-15: var(--sf-c-saddlebrown-15);
  --sf-c-txt-saddlebrown-20: var(--sf-c-saddlebrown-20);
  --sf-c-txt-saddlebrown-25: var(--sf-c-saddlebrown-25);
  --sf-c-txt-saddlebrown-30: var(--sf-c-saddlebrown-30);
  --sf-c-txt-saddlebrown-35: var(--sf-c-saddlebrown-35);
  --sf-c-txt-saddlebrown-40: var(--sf-c-saddlebrown-40);
  --sf-c-txt-saddlebrown-45: var(--sf-c-saddlebrown-45);
  --sf-c-txt-saddlebrown-50: var(--sf-c-saddlebrown-50);
  --sf-c-txt-saddlebrown-55: var(--sf-c-saddlebrown-55);
  --sf-c-txt-saddlebrown-60: var(--sf-c-saddlebrown-60);
  --sf-c-txt-saddlebrown-65: var(--sf-c-saddlebrown-65);
  --sf-c-txt-saddlebrown-70: var(--sf-c-saddlebrown-70);
  --sf-c-txt-saddlebrown-75: var(--sf-c-saddlebrown-75);
  --sf-c-txt-saddlebrown-80: var(--sf-c-saddlebrown-80);
  --sf-c-txt-saddlebrown-85: var(--sf-c-saddlebrown-85);
  --sf-c-txt-saddlebrown-90: var(--sf-c-saddlebrown-90);
  --sf-c-txt-saddlebrown-95: var(--sf-c-saddlebrown-95);
  --sf-c-txt-saddlebrown-100: var(--sf-c-saddlebrown-100);

  --sf-dark-c-saddlebrown: 25 76% 69%;
  --sf-dark-c-saddlebrown-0: 25 76% 0%;
  --sf-dark-c-saddlebrown-5: 25 76% 5%;
  --sf-dark-c-saddlebrown-10: 25 76% 10%;
  --sf-dark-c-saddlebrown-15: 25 76% 15%;
  --sf-dark-c-saddlebrown-20: 25 76% 20%;
  --sf-dark-c-saddlebrown-25: 25 76% 25%;
  --sf-dark-c-saddlebrown-30: 25 76% 30%;
  --sf-dark-c-saddlebrown-35: 25 76% 35%;
  --sf-dark-c-saddlebrown-40: 25 76% 40%;
  --sf-dark-c-saddlebrown-45: 25 76% 45%;
  --sf-dark-c-saddlebrown-50: 25 76% 50%;
  --sf-dark-c-saddlebrown-55: 25 76% 55%;
  --sf-dark-c-saddlebrown-60: 25 76% 60%;
  --sf-dark-c-saddlebrown-65: 25 76% 65%;
  --sf-dark-c-saddlebrown-70: 25 76% 70%;
  --sf-dark-c-saddlebrown-75: 25 76% 75%;
  --sf-dark-c-saddlebrown-80: 25 76% 80%;
  --sf-dark-c-saddlebrown-85: 25 76% 85%;
  --sf-dark-c-saddlebrown-90: 25 76% 90%;
  --sf-dark-c-saddlebrown-95: 25 76% 95%;
  --sf-dark-c-saddlebrown-100: 25 76% 100%;

  --sf-dark-c-txt-saddlebrown: var(--sf-dark-c-saddlebrown);
  --sf-dark-c-txt-saddlebrown-0: var(--sf-dark-c-saddlebrown-0);
  --sf-dark-c-txt-saddlebrown-5: var(--sf-dark-c-saddlebrown-5);
  --sf-dark-c-txt-saddlebrown-10: var(--sf-dark-c-saddlebrown-10);
  --sf-dark-c-txt-saddlebrown-15: var(--sf-dark-c-saddlebrown-15);
  --sf-dark-c-txt-saddlebrown-20: var(--sf-dark-c-saddlebrown-20);
  --sf-dark-c-txt-saddlebrown-25: var(--sf-dark-c-saddlebrown-25);
  --sf-dark-c-txt-saddlebrown-30: var(--sf-dark-c-saddlebrown-30);
  --sf-dark-c-txt-saddlebrown-35: var(--sf-dark-c-saddlebrown-35);
  --sf-dark-c-txt-saddlebrown-40: var(--sf-dark-c-saddlebrown-40);
  --sf-dark-c-txt-saddlebrown-45: var(--sf-dark-c-saddlebrown-45);
  --sf-dark-c-txt-saddlebrown-50: var(--sf-dark-c-saddlebrown-50);
  --sf-dark-c-txt-saddlebrown-55: var(--sf-dark-c-saddlebrown-55);
  --sf-dark-c-txt-saddlebrown-60: var(--sf-dark-c-saddlebrown-60);
  --sf-dark-c-txt-saddlebrown-65: var(--sf-dark-c-saddlebrown-65);
  --sf-dark-c-txt-saddlebrown-70: var(--sf-dark-c-saddlebrown-70);
  --sf-dark-c-txt-saddlebrown-75: var(--sf-dark-c-saddlebrown-75);
  --sf-dark-c-txt-saddlebrown-80: var(--sf-dark-c-saddlebrown-80);
  --sf-dark-c-txt-saddlebrown-85: var(--sf-dark-c-saddlebrown-85);
  --sf-dark-c-txt-saddlebrown-90: var(--sf-dark-c-saddlebrown-90);
  --sf-dark-c-txt-saddlebrown-95: var(--sf-dark-c-saddlebrown-95);
  --sf-dark-c-txt-saddlebrown-100: var(--sf-dark-c-saddlebrown-100);
}

.sf-c-saddlebrown { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown)) }
.sf-c-saddlebrown\:0 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-0)) }
.sf-c-saddlebrown\:5 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-5)) }
.sf-c-saddlebrown\:10 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-10)) }
.sf-c-saddlebrown\:15 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-15)) }
.sf-c-saddlebrown\:20 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-20)) }
.sf-c-saddlebrown\:25 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-25)) }
.sf-c-saddlebrown\:30 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-30)) }
.sf-c-saddlebrown\:35 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-35)) }
.sf-c-saddlebrown\:40 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-40)) }
.sf-c-saddlebrown\:45 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-45)) }
.sf-c-saddlebrown\:50 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-50)) }
.sf-c-saddlebrown\:55 { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-55)) }
.sf-c-saddlebrown\:60 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-60)) }
.sf-c-saddlebrown\:65 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-65)) }
.sf-c-saddlebrown\:70 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-70)) }
.sf-c-saddlebrown\:75 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-75)) }
.sf-c-saddlebrown\:80 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-80)) }
.sf-c-saddlebrown\:85 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-85)) }
.sf-c-saddlebrown\:90 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-90)) }
.sf-c-saddlebrown\:95 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-95)) }
.sf-c-saddlebrown\:100 { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-100)) }

html.var .sf-c-saddlebrown { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 31%) }
html.var .sf-c-saddlebrown\:0 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 0%) }
html.var .sf-c-saddlebrown\:5 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 5%) }
html.var .sf-c-saddlebrown\:10 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 10%) }
html.var .sf-c-saddlebrown\:15 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 15%) }
html.var .sf-c-saddlebrown\:20 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 20%) }
html.var .sf-c-saddlebrown\:25 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 25%) }
html.var .sf-c-saddlebrown\:30 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 30%) }
html.var .sf-c-saddlebrown\:35 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 35%) }
html.var .sf-c-saddlebrown\:40 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 40%) }
html.var .sf-c-saddlebrown\:45 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 45%) }
html.var .sf-c-saddlebrown\:50 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 50%) }
html.var .sf-c-saddlebrown\:55 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 55%) }
html.var .sf-c-saddlebrown\:60 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 60%) }
html.var .sf-c-saddlebrown\:65 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 65%) }
html.var .sf-c-saddlebrown\:70 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 70%) }
html.var .sf-c-saddlebrown\:75 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 75%) }
html.var .sf-c-saddlebrown\:80 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 80%) }
html.var .sf-c-saddlebrown\:85 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 85%) }
html.var .sf-c-saddlebrown\:90 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 90%) }
html.var .sf-c-saddlebrown\:95 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 95%) }
html.var .sf-c-saddlebrown\:100 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 100%) }

html[data-theme='dark'] .sf-c-saddlebrown, html.dark .sf-c-saddlebrown { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown)) }
html[data-theme='dark'] .sf-c-saddlebrown\:0, html.dark .sf-c-saddlebrown\:0 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-100)) }
html[data-theme='dark'] .sf-c-saddlebrown\:5, html.dark .sf-c-saddlebrown\:5 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-95)) }
html[data-theme='dark'] .sf-c-saddlebrown\:10, html.dark .sf-c-saddlebrown\:10 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-90)) }
html[data-theme='dark'] .sf-c-saddlebrown\:15, html.dark .sf-c-saddlebrown\:15 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-85)) }
html[data-theme='dark'] .sf-c-saddlebrown\:20, html.dark .sf-c-saddlebrown\:20 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-80)) }
html[data-theme='dark'] .sf-c-saddlebrown\:25, html.dark .sf-c-saddlebrown\:25 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-75)) }
html[data-theme='dark'] .sf-c-saddlebrown\:30, html.dark .sf-c-saddlebrown\:30 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-70)) }
html[data-theme='dark'] .sf-c-saddlebrown\:35, html.dark .sf-c-saddlebrown\:35 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-65)) }
html[data-theme='dark'] .sf-c-saddlebrown\:40, html.dark .sf-c-saddlebrown\:40 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-60)) }
html[data-theme='dark'] .sf-c-saddlebrown\:45, html.dark .sf-c-saddlebrown\:45 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-55)) }
html[data-theme='dark'] .sf-c-saddlebrown\:50, html.dark .sf-c-saddlebrown\:50 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-50)) }
html[data-theme='dark'] .sf-c-saddlebrown\:55, html.dark .sf-c-saddlebrown\:55 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-45)) }
html[data-theme='dark'] .sf-c-saddlebrown\:60, html.dark .sf-c-saddlebrown\:60 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-40)) }
html[data-theme='dark'] .sf-c-saddlebrown\:65, html.dark .sf-c-saddlebrown\:65 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-35)) }
html[data-theme='dark'] .sf-c-saddlebrown\:70, html.dark .sf-c-saddlebrown\:70 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-30)) }
html[data-theme='dark'] .sf-c-saddlebrown\:75, html.dark .sf-c-saddlebrown\:75 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-25)) }
html[data-theme='dark'] .sf-c-saddlebrown\:80, html.dark .sf-c-saddlebrown\:80 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-20)) }
html[data-theme='dark'] .sf-c-saddlebrown\:85, html.dark .sf-c-saddlebrown\:85 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-15)) }
html[data-theme='dark'] .sf-c-saddlebrown\:90, html.dark .sf-c-saddlebrown\:90 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-10)) }
html[data-theme='dark'] .sf-c-saddlebrown\:95, html.dark .sf-c-saddlebrown\:95 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-5)) }
html[data-theme='dark'] .sf-c-saddlebrown\:100, html.dark .sf-c-saddlebrown\:100 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-0)) }

html[data-theme='dark'] .sf-c-saddlebrown\:dark, html.dark .sf-c-saddlebrown\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown)) }
html[data-theme='dark'] .sf-c-saddlebrown\:0\:dark, html.dark .sf-c-saddlebrown\:0\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-100)) }
html[data-theme='dark'] .sf-c-saddlebrown\:5\:dark, html.dark .sf-c-saddlebrown\:5\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-95)) }
html[data-theme='dark'] .sf-c-saddlebrown\:10\:dark, html.dark .sf-c-saddlebrown\:10\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-90)) }
html[data-theme='dark'] .sf-c-saddlebrown\:15\:dark, html.dark .sf-c-saddlebrown\:15\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-85)) }
html[data-theme='dark'] .sf-c-saddlebrown\:20\:dark, html.dark .sf-c-saddlebrown\:20\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-80)) }
html[data-theme='dark'] .sf-c-saddlebrown\:25\:dark, html.dark .sf-c-saddlebrown\:25\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-75)) }
html[data-theme='dark'] .sf-c-saddlebrown\:30\:dark, html.dark .sf-c-saddlebrown\:30\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-70)) }
html[data-theme='dark'] .sf-c-saddlebrown\:35\:dark, html.dark .sf-c-saddlebrown\:35\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-65)) }
html[data-theme='dark'] .sf-c-saddlebrown\:40\:dark, html.dark .sf-c-saddlebrown\:40\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-60)) }
html[data-theme='dark'] .sf-c-saddlebrown\:45\:dark, html.dark .sf-c-saddlebrown\:45\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-55)) }
html[data-theme='dark'] .sf-c-saddlebrown\:50\:dark, html.dark .sf-c-saddlebrown\:50\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-50)) }
html[data-theme='dark'] .sf-c-saddlebrown\:55\:dark, html.dark .sf-c-saddlebrown\:55\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-45)) }
html[data-theme='dark'] .sf-c-saddlebrown\:60\:dark, html.dark .sf-c-saddlebrown\:60\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-40)) }
html[data-theme='dark'] .sf-c-saddlebrown\:65\:dark, html.dark .sf-c-saddlebrown\:65\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-35)) }
html[data-theme='dark'] .sf-c-saddlebrown\:70\:dark, html.dark .sf-c-saddlebrown\:70\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-30)) }
html[data-theme='dark'] .sf-c-saddlebrown\:75\:dark, html.dark .sf-c-saddlebrown\:75\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-25)) }
html[data-theme='dark'] .sf-c-saddlebrown\:80\:dark, html.dark .sf-c-saddlebrown\:80\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-20)) }
html[data-theme='dark'] .sf-c-saddlebrown\:85\:dark, html.dark .sf-c-saddlebrown\:85\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-15)) }
html[data-theme='dark'] .sf-c-saddlebrown\:90\:dark, html.dark .sf-c-saddlebrown\:90\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-10)) }
html[data-theme='dark'] .sf-c-saddlebrown\:95\:dark, html.dark .sf-c-saddlebrown\:95\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-5)) }
html[data-theme='dark'] .sf-c-saddlebrown\:100\:dark, html.dark .sf-c-saddlebrown\:100\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-0)) }

html.var[data-theme='dark'] .sf-c-saddlebrown, html.var.dark .sf-c-saddlebrown { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 69%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:0, html.var.dark .sf-c-saddlebrown\:0 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 100%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:5, html.var.dark .sf-c-saddlebrown\:5 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 95%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:10, html.var.dark .sf-c-saddlebrown\:10 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 90%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:15, html.var.dark .sf-c-saddlebrown\:15 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 85%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:20, html.var.dark .sf-c-saddlebrown\:20 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 80%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:25, html.var.dark .sf-c-saddlebrown\:25 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 75%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:30, html.var.dark .sf-c-saddlebrown\:30 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 70%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:35, html.var.dark .sf-c-saddlebrown\:35 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 65%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:40, html.var.dark .sf-c-saddlebrown\:40 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 60%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:45, html.var.dark .sf-c-saddlebrown\:45 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 55%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:50, html.var.dark .sf-c-saddlebrown\:50 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 50%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:55, html.var.dark .sf-c-saddlebrown\:55 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 45%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:60, html.var.dark .sf-c-saddlebrown\:60 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 40%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:65, html.var.dark .sf-c-saddlebrown\:65 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 35%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:70, html.var.dark .sf-c-saddlebrown\:70 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 30%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:75, html.var.dark .sf-c-saddlebrown\:75 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 25%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:80, html.var.dark .sf-c-saddlebrown\:80 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 20%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:85, html.var.dark .sf-c-saddlebrown\:85 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 15%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:90, html.var.dark .sf-c-saddlebrown\:90 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 10%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:95, html.var.dark .sf-c-saddlebrown\:95 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 5%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:100, html.var.dark .sf-c-saddlebrown\:100 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 0%) }

html.var[data-theme='dark'] .sf-c-saddlebrown\:dark, html.var.dark .sf-c-saddlebrown\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 69%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:0\:dark, html.var.dark .sf-c-saddlebrown\:0\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 100%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:5\:dark, html.var.dark .sf-c-saddlebrown\:5\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 95%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:10\:dark, html.var.dark .sf-c-saddlebrown\:10\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 90%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:15\:dark, html.var.dark .sf-c-saddlebrown\:15\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 85%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:20\:dark, html.var.dark .sf-c-saddlebrown\:20\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 80%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:25\:dark, html.var.dark .sf-c-saddlebrown\:25\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 75%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:30\:dark, html.var.dark .sf-c-saddlebrown\:30\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 70%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:35\:dark, html.var.dark .sf-c-saddlebrown\:35\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 65%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:40\:dark, html.var.dark .sf-c-saddlebrown\:40\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 60%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:45\:dark, html.var.dark .sf-c-saddlebrown\:45\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 55%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:50\:dark, html.var.dark .sf-c-saddlebrown\:50\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 50%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:55\:dark, html.var.dark .sf-c-saddlebrown\:55\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 45%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:60\:dark, html.var.dark .sf-c-saddlebrown\:60\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 40%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:65\:dark, html.var.dark .sf-c-saddlebrown\:65\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 35%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:70\:dark, html.var.dark .sf-c-saddlebrown\:70\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 30%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:75\:dark, html.var.dark .sf-c-saddlebrown\:75\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 25%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:80\:dark, html.var.dark .sf-c-saddlebrown\:80\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 20%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:85\:dark, html.var.dark .sf-c-saddlebrown\:85\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 15%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:90\:dark, html.var.dark .sf-c-saddlebrown\:90\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 10%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:95\:dark, html.var.dark .sf-c-saddlebrown\:95\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 5%) }
html.var[data-theme='dark'] .sf-c-saddlebrown\:100\:dark, html.var.dark .sf-c-saddlebrown\:100\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-saddlebrown, html.auto .sf-c-saddlebrown { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:0, html.auto .sf-c-saddlebrown\:0 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-100)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:5, html.auto .sf-c-saddlebrown\:5 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-95)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:10, html.auto .sf-c-saddlebrown\:10 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-90)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:15, html.auto .sf-c-saddlebrown\:15 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-85)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:20, html.auto .sf-c-saddlebrown\:20 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-80)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:25, html.auto .sf-c-saddlebrown\:25 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-75)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:30, html.auto .sf-c-saddlebrown\:30 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-70)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:35, html.auto .sf-c-saddlebrown\:35 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-65)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:40, html.auto .sf-c-saddlebrown\:40 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-60)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:45, html.auto .sf-c-saddlebrown\:45 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-55)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:50, html.auto .sf-c-saddlebrown\:50 { color: hsl(var(--sf-dark-c-txt-saddlebrown-5)); background: hsl(var(--sf-dark-c-saddlebrown-50)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:55, html.auto .sf-c-saddlebrown\:55 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-45)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:60, html.auto .sf-c-saddlebrown\:60 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-40)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:65, html.auto .sf-c-saddlebrown\:65 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-35)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:70, html.auto .sf-c-saddlebrown\:70 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-30)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:75, html.auto .sf-c-saddlebrown\:75 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-25)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:80, html.auto .sf-c-saddlebrown\:80 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-20)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:85, html.auto .sf-c-saddlebrown\:85 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-15)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:90, html.auto .sf-c-saddlebrown\:90 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-10)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:95, html.auto .sf-c-saddlebrown\:95 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-5)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:100, html.auto .sf-c-saddlebrown\:100 { color: hsl(var(--sf-dark-c-txt-saddlebrown-95)); background: hsl(var(--sf-dark-c-saddlebrown-0)) }

  html[data-theme='auto'] .sf-c-saddlebrown\:dark, html.auto .sf-c-saddlebrown\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:0\:dark, html.auto .sf-c-saddlebrown\:0\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-100)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:5\:dark, html.auto .sf-c-saddlebrown\:5\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-95)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:10\:dark, html.auto .sf-c-saddlebrown\:10\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-90)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:15\:dark, html.auto .sf-c-saddlebrown\:15\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-85)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:20\:dark, html.auto .sf-c-saddlebrown\:20\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-80)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:25\:dark, html.auto .sf-c-saddlebrown\:25\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-75)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:30\:dark, html.auto .sf-c-saddlebrown\:30\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-70)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:35\:dark, html.auto .sf-c-saddlebrown\:35\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-65)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:40\:dark, html.auto .sf-c-saddlebrown\:40\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-60)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:45\:dark, html.auto .sf-c-saddlebrown\:45\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-55)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:50\:dark, html.auto .sf-c-saddlebrown\:50\:dark { color: hsl(var(--sf-c-txt-saddlebrown-5)); background: hsl(var(--sf-c-saddlebrown-50)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:55\:dark, html.auto .sf-c-saddlebrown\:55\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-45)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:60\:dark, html.auto .sf-c-saddlebrown\:60\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-40)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:65\:dark, html.auto .sf-c-saddlebrown\:65\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-35)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:70\:dark, html.auto .sf-c-saddlebrown\:70\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-30)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:75\:dark, html.auto .sf-c-saddlebrown\:75\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-25)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:80\:dark, html.auto .sf-c-saddlebrown\:80\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-20)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:85\:dark, html.auto .sf-c-saddlebrown\:85\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-15)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:90\:dark, html.auto .sf-c-saddlebrown\:90\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-10)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:95\:dark, html.auto .sf-c-saddlebrown\:95\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-5)) }
  html[data-theme='auto'] .sf-c-saddlebrown\:100\:dark, html.auto .sf-c-saddlebrown\:100\:dark { color: hsl(var(--sf-c-txt-saddlebrown-95)); background: hsl(var(--sf-c-saddlebrown-0)) }

  html.var[data-theme='auto'] .sf-c-saddlebrown, html.var.auto .sf-c-saddlebrown { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 69%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:0, html.var.auto .sf-c-saddlebrown\:0 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 100%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:5, html.var.auto .sf-c-saddlebrown\:5 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 95%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:10, html.var.auto .sf-c-saddlebrown\:10 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 90%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:15, html.var.auto .sf-c-saddlebrown\:15 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 85%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:20, html.var.auto .sf-c-saddlebrown\:20 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 80%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:25, html.var.auto .sf-c-saddlebrown\:25 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 75%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:30, html.var.auto .sf-c-saddlebrown\:30 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 70%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:35, html.var.auto .sf-c-saddlebrown\:35 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 65%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:40, html.var.auto .sf-c-saddlebrown\:40 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 60%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:45, html.var.auto .sf-c-saddlebrown\:45 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 55%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:50, html.var.auto .sf-c-saddlebrown\:50 { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 50%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:55, html.var.auto .sf-c-saddlebrown\:55 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 45%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:60, html.var.auto .sf-c-saddlebrown\:60 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 40%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:65, html.var.auto .sf-c-saddlebrown\:65 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 35%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:70, html.var.auto .sf-c-saddlebrown\:70 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 30%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:75, html.var.auto .sf-c-saddlebrown\:75 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 25%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:80, html.var.auto .sf-c-saddlebrown\:80 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 20%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:85, html.var.auto .sf-c-saddlebrown\:85 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 15%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:90, html.var.auto .sf-c-saddlebrown\:90 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 10%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:95, html.var.auto .sf-c-saddlebrown\:95 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 5%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:100, html.var.auto .sf-c-saddlebrown\:100 { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 0%) }

  html.var[data-theme='auto'] .sf-c-saddlebrown\:dark, html.var.auto .sf-c-saddlebrown\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 69%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:0\:dark, html.var.auto .sf-c-saddlebrown\:0\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 100%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:5\:dark, html.var.auto .sf-c-saddlebrown\:5\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 95%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:10\:dark, html.var.auto .sf-c-saddlebrown\:10\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 90%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:15\:dark, html.var.auto .sf-c-saddlebrown\:15\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 85%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:20\:dark, html.var.auto .sf-c-saddlebrown\:20\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 80%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:25\:dark, html.var.auto .sf-c-saddlebrown\:25\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 75%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:30\:dark, html.var.auto .sf-c-saddlebrown\:30\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 70%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:35\:dark, html.var.auto .sf-c-saddlebrown\:35\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 65%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:40\:dark, html.var.auto .sf-c-saddlebrown\:40\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 60%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:45\:dark, html.var.auto .sf-c-saddlebrown\:45\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 55%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:50\:dark, html.var.auto .sf-c-saddlebrown\:50\:dark { color: hsl(25, 76%, 5%); background: hsl(25, 76%, 50%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:55\:dark, html.var.auto .sf-c-saddlebrown\:55\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 45%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:60\:dark, html.var.auto .sf-c-saddlebrown\:60\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 40%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:65\:dark, html.var.auto .sf-c-saddlebrown\:65\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 35%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:70\:dark, html.var.auto .sf-c-saddlebrown\:70\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 30%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:75\:dark, html.var.auto .sf-c-saddlebrown\:75\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 25%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:80\:dark, html.var.auto .sf-c-saddlebrown\:80\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 20%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:85\:dark, html.var.auto .sf-c-saddlebrown\:85\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 15%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:90\:dark, html.var.auto .sf-c-saddlebrown\:90\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 10%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:95\:dark, html.var.auto .sf-c-saddlebrown\:95\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 5%) }
  html.var[data-theme='auto'] .sf-c-saddlebrown\:100\:dark, html.var.auto .sf-c-saddlebrown\:100\:dark { color: hsl(25, 76%, 95%); background: hsl(25, 76%, 0%) }
}

.sf-c-txt-saddlebrown { color: hsl(var(--sf-c-txt-saddlebrown)) }
.sf-c-txt-saddlebrown\:0 { color: hsl(var(--sf-c-txt-saddlebrown-0)) }
.sf-c-txt-saddlebrown\:5 { color: hsl(var(--sf-c-txt-saddlebrown-5)) }
.sf-c-txt-saddlebrown\:10 { color: hsl(var(--sf-c-txt-saddlebrown-10)) }
.sf-c-txt-saddlebrown\:15 { color: hsl(var(--sf-c-txt-saddlebrown-15)) }
.sf-c-txt-saddlebrown\:20 { color: hsl(var(--sf-c-txt-saddlebrown-20)) }
.sf-c-txt-saddlebrown\:25 { color: hsl(var(--sf-c-txt-saddlebrown-25)) }
.sf-c-txt-saddlebrown\:30 { color: hsl(var(--sf-c-txt-saddlebrown-30)) }
.sf-c-txt-saddlebrown\:35 { color: hsl(var(--sf-c-txt-saddlebrown-35)) }
.sf-c-txt-saddlebrown\:40 { color: hsl(var(--sf-c-txt-saddlebrown-40)) }
.sf-c-txt-saddlebrown\:45 { color: hsl(var(--sf-c-txt-saddlebrown-45)) }
.sf-c-txt-saddlebrown\:50 { color: hsl(var(--sf-c-txt-saddlebrown-50)) }
.sf-c-txt-saddlebrown\:55 { color: hsl(var(--sf-c-txt-saddlebrown-55)) }
.sf-c-txt-saddlebrown\:60 { color: hsl(var(--sf-c-txt-saddlebrown-60)) }
.sf-c-txt-saddlebrown\:65 { color: hsl(var(--sf-c-txt-saddlebrown-65)) }
.sf-c-txt-saddlebrown\:70 { color: hsl(var(--sf-c-txt-saddlebrown-70)) }
.sf-c-txt-saddlebrown\:75 { color: hsl(var(--sf-c-txt-saddlebrown-75)) }
.sf-c-txt-saddlebrown\:80 { color: hsl(var(--sf-c-txt-saddlebrown-80)) }
.sf-c-txt-saddlebrown\:85 { color: hsl(var(--sf-c-txt-saddlebrown-85)) }
.sf-c-txt-saddlebrown\:90 { color: hsl(var(--sf-c-txt-saddlebrown-90)) }
.sf-c-txt-saddlebrown\:95 { color: hsl(var(--sf-c-txt-saddlebrown-95)) }
.sf-c-txt-saddlebrown\:100 { color: hsl(var(--sf-c-txt-saddlebrown-100)) }
