:root {
  --sf-c-wheat: 39 77% 83%;
  --sf-c-wheat-5: 39 77% 5%;
  --sf-c-wheat-10: 39 77% 10%;
  --sf-c-wheat-15: 39 77% 15%;
  --sf-c-wheat-20: 39 77% 20%;
  --sf-c-wheat-25: 39 77% 25%;
  --sf-c-wheat-30: 39 77% 30%;
  --sf-c-wheat-35: 39 77% 35%;
  --sf-c-wheat-40: 39 77% 40%;
  --sf-c-wheat-45: 39 77% 45%;
  --sf-c-wheat-50: 39 77% 50%;
  --sf-c-wheat-55: 39 77% 55%;
  --sf-c-wheat-60: 39 77% 60%;
  --sf-c-wheat-65: 39 77% 65%;
  --sf-c-wheat-70: 39 77% 70%;
  --sf-c-wheat-75: 39 77% 75%;
  --sf-c-wheat-80: 39 77% 80%;
  --sf-c-wheat-85: 39 77% 85%;
  --sf-c-wheat-90: 39 77% 90%;
  --sf-c-wheat-95: 39 77% 95%;
 
  --sf-c-txt-wheat: var(--sf-c-wheat);
  --sf-c-txt-wheat-5: var(--sf-c-wheat-5);
  --sf-c-txt-wheat-10: var(--sf-c-wheat-10);
  --sf-c-txt-wheat-15: var(--sf-c-wheat-15);
  --sf-c-txt-wheat-20: var(--sf-c-wheat-20);
  --sf-c-txt-wheat-25: var(--sf-c-wheat-25);
  --sf-c-txt-wheat-30: var(--sf-c-wheat-30);
  --sf-c-txt-wheat-35: var(--sf-c-wheat-35);
  --sf-c-txt-wheat-40: var(--sf-c-wheat-40);
  --sf-c-txt-wheat-45: var(--sf-c-wheat-45);
  --sf-c-txt-wheat-50: var(--sf-c-wheat-50);
  --sf-c-txt-wheat-55: var(--sf-c-wheat-55);
  --sf-c-txt-wheat-60: var(--sf-c-wheat-60);
  --sf-c-txt-wheat-65: var(--sf-c-wheat-65);
  --sf-c-txt-wheat-70: var(--sf-c-wheat-70);
  --sf-c-txt-wheat-75: var(--sf-c-wheat-75);
  --sf-c-txt-wheat-80: var(--sf-c-wheat-80);
  --sf-c-txt-wheat-85: var(--sf-c-wheat-85);
  --sf-c-txt-wheat-90: var(--sf-c-wheat-90);
  --sf-c-txt-wheat-95: var(--sf-c-wheat-95);
 
  --sf-dark-c-wheat: 39 77% 17%;
  --sf-dark-c-wheat-5: 39 77% 95%;
  --sf-dark-c-wheat-10: 39 77% 90%;
  --sf-dark-c-wheat-15: 39 77% 85%;
  --sf-dark-c-wheat-20: 39 77% 80%;
  --sf-dark-c-wheat-25: 39 77% 75%;
  --sf-dark-c-wheat-30: 39 77% 70%;
  --sf-dark-c-wheat-35: 39 77% 65%;
  --sf-dark-c-wheat-40: 39 77% 60%;
  --sf-dark-c-wheat-45: 39 77% 55%;
  --sf-dark-c-wheat-50: 39 77% 50%;
  --sf-dark-c-wheat-55: 39 77% 45%;
  --sf-dark-c-wheat-60: 39 77% 40%;
  --sf-dark-c-wheat-65: 39 77% 35%;
  --sf-dark-c-wheat-70: 39 77% 30%;
  --sf-dark-c-wheat-75: 39 77% 25%;
  --sf-dark-c-wheat-80: 39 77% 20%;
  --sf-dark-c-wheat-85: 39 77% 15%;
  --sf-dark-c-wheat-90: 39 77% 10%;
  --sf-dark-c-wheat-95: 39 77% 5%;
 
  --sf-dark-c-txt-wheat: var(--sf-dark-c-wheat);
  --sf-dark-c-txt-wheat-5: var(--sf-dark-c-wheat-5);
  --sf-dark-c-txt-wheat-10: var(--sf-dark-c-wheat-10);
  --sf-dark-c-txt-wheat-15: var(--sf-dark-c-wheat-15);
  --sf-dark-c-txt-wheat-20: var(--sf-dark-c-wheat-20);
  --sf-dark-c-txt-wheat-25: var(--sf-dark-c-wheat-25);
  --sf-dark-c-txt-wheat-30: var(--sf-dark-c-wheat-30);
  --sf-dark-c-txt-wheat-35: var(--sf-dark-c-wheat-35);
  --sf-dark-c-txt-wheat-40: var(--sf-dark-c-wheat-40);
  --sf-dark-c-txt-wheat-45: var(--sf-dark-c-wheat-45);
  --sf-dark-c-txt-wheat-50: var(--sf-dark-c-wheat-50);
  --sf-dark-c-txt-wheat-55: var(--sf-dark-c-wheat-55);
  --sf-dark-c-txt-wheat-60: var(--sf-dark-c-wheat-60);
  --sf-dark-c-txt-wheat-65: var(--sf-dark-c-wheat-65);
  --sf-dark-c-txt-wheat-70: var(--sf-dark-c-wheat-70);
  --sf-dark-c-txt-wheat-75: var(--sf-dark-c-wheat-75);
  --sf-dark-c-txt-wheat-80: var(--sf-dark-c-wheat-80);
  --sf-dark-c-txt-wheat-85: var(--sf-dark-c-wheat-85);
  --sf-dark-c-txt-wheat-90: var(--sf-dark-c-wheat-90);
  --sf-dark-c-txt-wheat-95: var(--sf-dark-c-wheat-95);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-wheat: var(--sf-dark-c-wheat);
  --sf-c-wheat-5: var(--sf-dark-c-wheat-5);
  --sf-c-wheat-10: var(--sf-dark-c-wheat-10);
  --sf-c-wheat-15: var(--sf-dark-c-wheat-15);
  --sf-c-wheat-20: var(--sf-dark-c-wheat-20);
  --sf-c-wheat-25: var(--sf-dark-c-wheat-25);
  --sf-c-wheat-30: var(--sf-dark-c-wheat-30);
  --sf-c-wheat-35: var(--sf-dark-c-wheat-35);
  --sf-c-wheat-40: var(--sf-dark-c-wheat-40);
  --sf-c-wheat-45: var(--sf-dark-c-wheat-45);
  --sf-c-wheat-50: var(--sf-dark-c-wheat-50);
  --sf-c-wheat-55: var(--sf-dark-c-wheat-55);
  --sf-c-wheat-60: var(--sf-dark-c-wheat-60);
  --sf-c-wheat-65: var(--sf-dark-c-wheat-65);
  --sf-c-wheat-70: var(--sf-dark-c-wheat-70);
  --sf-c-wheat-75: var(--sf-dark-c-wheat-75);
  --sf-c-wheat-80: var(--sf-dark-c-wheat-80);
  --sf-c-wheat-85: var(--sf-dark-c-wheat-85);
  --sf-c-wheat-90: var(--sf-dark-c-wheat-90);
  --sf-c-wheat-95: var(--sf-dark-c-wheat-95);
 
  --sf-c-txt-wheat: var(--sf-dark-c-txt-wheat);
  --sf-c-txt-wheat-5: var(--sf-dark-c-txt-wheat-5);
  --sf-c-txt-wheat-10: var(--sf-dark-c-txt-wheat-10);
  --sf-c-txt-wheat-15: var(--sf-dark-c-txt-wheat-15);
  --sf-c-txt-wheat-20: var(--sf-dark-c-txt-wheat-20);
  --sf-c-txt-wheat-25: var(--sf-dark-c-txt-wheat-25);
  --sf-c-txt-wheat-30: var(--sf-dark-c-txt-wheat-30);
  --sf-c-txt-wheat-35: var(--sf-dark-c-txt-wheat-35);
  --sf-c-txt-wheat-40: var(--sf-dark-c-txt-wheat-40);
  --sf-c-txt-wheat-45: var(--sf-dark-c-txt-wheat-45);
  --sf-c-txt-wheat-50: var(--sf-dark-c-txt-wheat-50);
  --sf-c-txt-wheat-55: var(--sf-dark-c-txt-wheat-55);
  --sf-c-txt-wheat-60: var(--sf-dark-c-txt-wheat-60);
  --sf-c-txt-wheat-65: var(--sf-dark-c-txt-wheat-65);
  --sf-c-txt-wheat-70: var(--sf-dark-c-txt-wheat-70);
  --sf-c-txt-wheat-75: var(--sf-dark-c-txt-wheat-75);
  --sf-c-txt-wheat-80: var(--sf-dark-c-txt-wheat-80);
  --sf-c-txt-wheat-85: var(--sf-dark-c-txt-wheat-85);
  --sf-c-txt-wheat-90: var(--sf-dark-c-txt-wheat-90);
  --sf-c-txt-wheat-95: var(--sf-dark-c-txt-wheat-95);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-wheat: var(--sf-dark-c-wheat);
    --sf-c-wheat-5: var(--sf-dark-c-wheat-5);
    --sf-c-wheat-10: var(--sf-dark-c-wheat-10);
    --sf-c-wheat-15: var(--sf-dark-c-wheat-15);
    --sf-c-wheat-20: var(--sf-dark-c-wheat-20);
    --sf-c-wheat-25: var(--sf-dark-c-wheat-25);
    --sf-c-wheat-30: var(--sf-dark-c-wheat-30);
    --sf-c-wheat-35: var(--sf-dark-c-wheat-35);
    --sf-c-wheat-40: var(--sf-dark-c-wheat-40);
    --sf-c-wheat-45: var(--sf-dark-c-wheat-45);
    --sf-c-wheat-50: var(--sf-dark-c-wheat-50);
    --sf-c-wheat-55: var(--sf-dark-c-wheat-55);
    --sf-c-wheat-60: var(--sf-dark-c-wheat-60);
    --sf-c-wheat-65: var(--sf-dark-c-wheat-65);
    --sf-c-wheat-70: var(--sf-dark-c-wheat-70);
    --sf-c-wheat-75: var(--sf-dark-c-wheat-75);
    --sf-c-wheat-80: var(--sf-dark-c-wheat-80);
    --sf-c-wheat-85: var(--sf-dark-c-wheat-85);
    --sf-c-wheat-90: var(--sf-dark-c-wheat-90);
    --sf-c-wheat-95: var(--sf-dark-c-wheat-95);
 
    --sf-c-txt-wheat: var(--sf-dark-c-txt-wheat);
    --sf-c-txt-wheat-5: var(--sf-dark-c-txt-wheat-5);
    --sf-c-txt-wheat-10: var(--sf-dark-c-txt-wheat-10);
    --sf-c-txt-wheat-15: var(--sf-dark-c-txt-wheat-15);
    --sf-c-txt-wheat-20: var(--sf-dark-c-txt-wheat-20);
    --sf-c-txt-wheat-25: var(--sf-dark-c-txt-wheat-25);
    --sf-c-txt-wheat-30: var(--sf-dark-c-txt-wheat-30);
    --sf-c-txt-wheat-35: var(--sf-dark-c-txt-wheat-35);
    --sf-c-txt-wheat-40: var(--sf-dark-c-txt-wheat-40);
    --sf-c-txt-wheat-45: var(--sf-dark-c-txt-wheat-45);
    --sf-c-txt-wheat-50: var(--sf-dark-c-txt-wheat-50);
    --sf-c-txt-wheat-55: var(--sf-dark-c-txt-wheat-55);
    --sf-c-txt-wheat-60: var(--sf-dark-c-txt-wheat-60);
    --sf-c-txt-wheat-65: var(--sf-dark-c-txt-wheat-65);
    --sf-c-txt-wheat-70: var(--sf-dark-c-txt-wheat-70);
    --sf-c-txt-wheat-75: var(--sf-dark-c-txt-wheat-75);
    --sf-c-txt-wheat-80: var(--sf-dark-c-txt-wheat-80);
    --sf-c-txt-wheat-85: var(--sf-dark-c-txt-wheat-85);
    --sf-c-txt-wheat-90: var(--sf-dark-c-txt-wheat-90);
    --sf-c-txt-wheat-95: var(--sf-dark-c-txt-wheat-95);
  }
}
 
.sf-c-wheat { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat)) }
.sf-c-wheat\:5 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-5)) }
.sf-c-wheat\:10 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-10)) }
.sf-c-wheat\:15 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-15)) }
.sf-c-wheat\:20 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-20)) }
.sf-c-wheat\:25 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-25)) }
.sf-c-wheat\:30 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-30)) }
.sf-c-wheat\:35 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-35)) }
.sf-c-wheat\:40 { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-40)) }
.sf-c-wheat\:45 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-45)) }
.sf-c-wheat\:50 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-50)) }
.sf-c-wheat\:55 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-55)) }
.sf-c-wheat\:60 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-60)) }
.sf-c-wheat\:65 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-65)) }
.sf-c-wheat\:70 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-70)) }
.sf-c-wheat\:75 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-75)) }
.sf-c-wheat\:80 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-80)) }
.sf-c-wheat\:85 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-85)) }
.sf-c-wheat\:90 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-90)) }
.sf-c-wheat\:95 { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-wheat\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:5\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-5)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:10\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-10)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:15\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-15)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:20\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-20)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:25\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-25)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:30\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-30)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:35\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-35)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:40\:dark { color: hsl(var(--sf-c-txt-wheat-95)); background: hsl(var(--sf-c-wheat-40)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:45\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-45)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:50\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-50)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:55\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-55)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:60\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-60)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:65\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-65)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:70\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-70)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:75\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-75)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:80\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-80)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:85\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-85)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:90\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-90)) }
:where([data-theme='dark'], .dark) .sf-c-wheat\:95\:dark { color: hsl(var(--sf-c-txt-wheat-5)); background: hsl(var(--sf-c-wheat-95)) }

.sf-c-txt-wheat { color: hsl(var(--sf-c-txt-wheat)) }
.sf-c-txt-wheat\:5 { color: hsl(var(--sf-c-txt-wheat-5)) }
.sf-c-txt-wheat\:10 { color: hsl(var(--sf-c-txt-wheat-10)) }
.sf-c-txt-wheat\:15 { color: hsl(var(--sf-c-txt-wheat-15)) }
.sf-c-txt-wheat\:20 { color: hsl(var(--sf-c-txt-wheat-20)) }
.sf-c-txt-wheat\:25 { color: hsl(var(--sf-c-txt-wheat-25)) }
.sf-c-txt-wheat\:30 { color: hsl(var(--sf-c-txt-wheat-30)) }
.sf-c-txt-wheat\:35 { color: hsl(var(--sf-c-txt-wheat-35)) }
.sf-c-txt-wheat\:40 { color: hsl(var(--sf-c-txt-wheat-40)) }
.sf-c-txt-wheat\:45 { color: hsl(var(--sf-c-txt-wheat-45)) }
.sf-c-txt-wheat\:50 { color: hsl(var(--sf-c-txt-wheat-50)) }
.sf-c-txt-wheat\:55 { color: hsl(var(--sf-c-txt-wheat-55)) }
.sf-c-txt-wheat\:60 { color: hsl(var(--sf-c-txt-wheat-60)) }
.sf-c-txt-wheat\:65 { color: hsl(var(--sf-c-txt-wheat-65)) }
.sf-c-txt-wheat\:70 { color: hsl(var(--sf-c-txt-wheat-70)) }
.sf-c-txt-wheat\:75 { color: hsl(var(--sf-c-txt-wheat-75)) }
.sf-c-txt-wheat\:80 { color: hsl(var(--sf-c-txt-wheat-80)) }
.sf-c-txt-wheat\:85 { color: hsl(var(--sf-c-txt-wheat-85)) }
.sf-c-txt-wheat\:90 { color: hsl(var(--sf-c-txt-wheat-90)) }
.sf-c-txt-wheat\:95 { color: hsl(var(--sf-c-txt-wheat-95)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:dark { color: hsl(var(--sf-c-txt-wheat)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:5\:dark { color: hsl(var(--sf-c-txt-wheat-5)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:10\:dark { color: hsl(var(--sf-c-txt-wheat-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:15\:dark { color: hsl(var(--sf-c-txt-wheat-15)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:20\:dark { color: hsl(var(--sf-c-txt-wheat-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:25\:dark { color: hsl(var(--sf-c-txt-wheat-25)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:30\:dark { color: hsl(var(--sf-c-txt-wheat-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:35\:dark { color: hsl(var(--sf-c-txt-wheat-35)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:40\:dark { color: hsl(var(--sf-c-txt-wheat-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:45\:dark { color: hsl(var(--sf-c-txt-wheat-45)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:50\:dark { color: hsl(var(--sf-c-txt-wheat-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:55\:dark { color: hsl(var(--sf-c-txt-wheat-55)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:60\:dark { color: hsl(var(--sf-c-txt-wheat-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:65\:dark { color: hsl(var(--sf-c-txt-wheat-65)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:70\:dark { color: hsl(var(--sf-c-txt-wheat-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:75\:dark { color: hsl(var(--sf-c-txt-wheat-75)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:80\:dark { color: hsl(var(--sf-c-txt-wheat-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:85\:dark { color: hsl(var(--sf-c-txt-wheat-85)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:90\:dark { color: hsl(var(--sf-c-txt-wheat-90)) }
:where([data-theme='dark'], .dark) .sf-c-txt-wheat\:95\:dark { color: hsl(var(--sf-c-txt-wheat-95)) }