:root {
  --sf-c-black: 0 0% 0%;
  --sf-c-black-10: 0 0% 10%;
  --sf-c-black-20: 0 0% 20%;
  --sf-c-black-30: 0 0% 30%;
  --sf-c-black-40: 0 0% 40%;
  --sf-c-black-50: 0 0% 50%;
  --sf-c-black-60: 0 0% 60%;
  --sf-c-black-70: 0 0% 70%;
  --sf-c-black-80: 0 0% 80%;
  --sf-c-black-90: 0 0% 90%;
 
  --sf-c-txt-black: var(--sf-c-black);
  --sf-c-txt-black-10: var(--sf-c-black-10);
  --sf-c-txt-black-20: var(--sf-c-black-20);
  --sf-c-txt-black-30: var(--sf-c-black-30);
  --sf-c-txt-black-40: var(--sf-c-black-40);
  --sf-c-txt-black-50: var(--sf-c-black-50);
  --sf-c-txt-black-60: var(--sf-c-black-60);
  --sf-c-txt-black-70: var(--sf-c-black-70);
  --sf-c-txt-black-80: var(--sf-c-black-80);
  --sf-c-txt-black-90: var(--sf-c-black-90);
 
  --sf-dark-c-black: 0 0% 100%;
  --sf-dark-c-black-10: 0 0% 90%;
  --sf-dark-c-black-20: 0 0% 80%;
  --sf-dark-c-black-30: 0 0% 70%;
  --sf-dark-c-black-40: 0 0% 60%;
  --sf-dark-c-black-50: 0 0% 50%;
  --sf-dark-c-black-60: 0 0% 40%;
  --sf-dark-c-black-70: 0 0% 30%;
  --sf-dark-c-black-80: 0 0% 20%;
  --sf-dark-c-black-90: 0 0% 10%;
 
  --sf-dark-c-txt-black: var(--sf-dark-c-black);
  --sf-dark-c-txt-black-10: var(--sf-dark-c-black-10);
  --sf-dark-c-txt-black-20: var(--sf-dark-c-black-20);
  --sf-dark-c-txt-black-30: var(--sf-dark-c-black-30);
  --sf-dark-c-txt-black-40: var(--sf-dark-c-black-40);
  --sf-dark-c-txt-black-50: var(--sf-dark-c-black-50);
  --sf-dark-c-txt-black-60: var(--sf-dark-c-black-60);
  --sf-dark-c-txt-black-70: var(--sf-dark-c-black-70);
  --sf-dark-c-txt-black-80: var(--sf-dark-c-black-80);
  --sf-dark-c-txt-black-90: var(--sf-dark-c-black-90);
}
 
:root[data-theme="dark"] {
  --sf-c-black: var(--sf-dark-c-black);
  --sf-c-black-10: var(--sf-dark-c-black-10);
  --sf-c-black-20: var(--sf-dark-c-black-20);
  --sf-c-black-30: var(--sf-dark-c-black-30);
  --sf-c-black-40: var(--sf-dark-c-black-40);
  --sf-c-black-50: var(--sf-dark-c-black-50);
  --sf-c-black-60: var(--sf-dark-c-black-60);
  --sf-c-black-70: var(--sf-dark-c-black-70);
  --sf-c-black-80: var(--sf-dark-c-black-80);
  --sf-c-black-90: var(--sf-dark-c-black-90);
 
  --sf-c-txt-black: var(--sf-dark-c-txt-black);
  --sf-c-txt-black-10: var(--sf-dark-c-txt-black-10);
  --sf-c-txt-black-20: var(--sf-dark-c-txt-black-20);
  --sf-c-txt-black-30: var(--sf-dark-c-txt-black-30);
  --sf-c-txt-black-40: var(--sf-dark-c-txt-black-40);
  --sf-c-txt-black-50: var(--sf-dark-c-txt-black-50);
  --sf-c-txt-black-60: var(--sf-dark-c-txt-black-60);
  --sf-c-txt-black-70: var(--sf-dark-c-txt-black-70);
  --sf-c-txt-black-80: var(--sf-dark-c-txt-black-80);
  --sf-c-txt-black-90: var(--sf-dark-c-txt-black-90);
}

.sf-c-black { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black)) }
.sf-c-black\:10 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-10)) }
.sf-c-black\:20 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-20)) }
.sf-c-black\:30 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-30)) }
.sf-c-black\:40 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-40)) }
.sf-c-black\:50 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-50)) }
.sf-c-black\:60 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-60)) }
.sf-c-black\:70 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-70)) }
.sf-c-black\:80 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-80)) }
.sf-c-black\:90 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-90)) }
 
[data-theme="dark"] .sf-c-black { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black)) }
[data-theme="dark"] .sf-c-black\:10 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-10)) }
[data-theme="dark"] .sf-c-black\:20 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-20)) }
[data-theme="dark"] .sf-c-black\:30 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-30)) }
[data-theme="dark"] .sf-c-black\:40 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-40)) }
[data-theme="dark"] .sf-c-black\:50 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-50)) }
[data-theme="dark"] .sf-c-black\:60 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-60)) }
[data-theme="dark"] .sf-c-black\:70 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-70)) }
[data-theme="dark"] .sf-c-black\:80 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-80)) }
[data-theme="dark"] .sf-c-black\:90 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-90)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-black: var(--sf-dark-c-black);
    --sf-c-black-10: var(--sf-dark-c-black-10);
    --sf-c-black-20: var(--sf-dark-c-black-20);
    --sf-c-black-30: var(--sf-dark-c-black-30);
    --sf-c-black-40: var(--sf-dark-c-black-40);
    --sf-c-black-50: var(--sf-dark-c-black-50);
    --sf-c-black-60: var(--sf-dark-c-black-60);
    --sf-c-black-70: var(--sf-dark-c-black-70);
    --sf-c-black-80: var(--sf-dark-c-black-80);
    --sf-c-black-90: var(--sf-dark-c-black-90);
 
    --sf-c-txt-black: var(--sf-dark-c-txt-black);
    --sf-c-txt-black-10: var(--sf-dark-c-txt-black-10);
    --sf-c-txt-black-20: var(--sf-dark-c-txt-black-20);
    --sf-c-txt-black-30: var(--sf-dark-c-txt-black-30);
    --sf-c-txt-black-40: var(--sf-dark-c-txt-black-40);
    --sf-c-txt-black-50: var(--sf-dark-c-txt-black-50);
    --sf-c-txt-black-60: var(--sf-dark-c-txt-black-60);
    --sf-c-txt-black-70: var(--sf-dark-c-txt-black-70);
    --sf-c-txt-black-80: var(--sf-dark-c-txt-black-80);
    --sf-c-txt-black-90: var(--sf-dark-c-txt-black-90);
  }
 
  [data-theme="auto"] .sf-c-black { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black)) }
  [data-theme="auto"] .sf-c-black\:10 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-10)) }
  [data-theme="auto"] .sf-c-black\:20 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-20)) }
  [data-theme="auto"] .sf-c-black\:30 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-30)) }
  [data-theme="auto"] .sf-c-black\:40 { color: hsl(var(--sf-c-txt-black-90)); background: hsl(var(--sf-c-black-40)) }
  [data-theme="auto"] .sf-c-black\:50 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-50)) }
  [data-theme="auto"] .sf-c-black\:60 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-60)) }
  [data-theme="auto"] .sf-c-black\:70 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-70)) }
  [data-theme="auto"] .sf-c-black\:80 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-80)) }
  [data-theme="auto"] .sf-c-black\:90 { color: hsl(var(--sf-c-txt-black-10)); background: hsl(var(--sf-c-black-90)) }
}

.sf-c-txt-black { color: hsl(var(--sf-c-txt-black)) }
.sf-c-txt-black\:10 { color: hsl(var(--sf-c-txt-black-10)) }
.sf-c-txt-black\:20 { color: hsl(var(--sf-c-txt-black-20)) }
.sf-c-txt-black\:30 { color: hsl(var(--sf-c-txt-black-30)) }
.sf-c-txt-black\:40 { color: hsl(var(--sf-c-txt-black-40)) }
.sf-c-txt-black\:50 { color: hsl(var(--sf-c-txt-black-50)) }
.sf-c-txt-black\:60 { color: hsl(var(--sf-c-txt-black-60)) }
.sf-c-txt-black\:70 { color: hsl(var(--sf-c-txt-black-70)) }
.sf-c-txt-black\:80 { color: hsl(var(--sf-c-txt-black-80)) }
.sf-c-txt-black\:90 { color: hsl(var(--sf-c-txt-black-90)) }