:root {
  --sf-c-blue: 240 100% 50%;
  --sf-c-blue-10: 240 100% 10%;
  --sf-c-blue-20: 240 100% 20%;
  --sf-c-blue-30: 240 100% 30%;
  --sf-c-blue-40: 240 100% 40%;
  --sf-c-blue-50: 240 100% 50%;
  --sf-c-blue-60: 240 100% 60%;
  --sf-c-blue-70: 240 100% 70%;
  --sf-c-blue-80: 240 100% 80%;
  --sf-c-blue-90: 240 100% 90%;
 
  --sf-c-txt-blue: var(--sf-c-blue);
  --sf-c-txt-blue-10: var(--sf-c-blue-10);
  --sf-c-txt-blue-20: var(--sf-c-blue-20);
  --sf-c-txt-blue-30: var(--sf-c-blue-30);
  --sf-c-txt-blue-40: var(--sf-c-blue-40);
  --sf-c-txt-blue-50: var(--sf-c-blue-50);
  --sf-c-txt-blue-60: var(--sf-c-blue-60);
  --sf-c-txt-blue-70: var(--sf-c-blue-70);
  --sf-c-txt-blue-80: var(--sf-c-blue-80);
  --sf-c-txt-blue-90: var(--sf-c-blue-90);
 
  --sf-dark-c-blue: 240 100% 50%;
  --sf-dark-c-blue-10: 240 100% 90%;
  --sf-dark-c-blue-20: 240 100% 80%;
  --sf-dark-c-blue-30: 240 100% 70%;
  --sf-dark-c-blue-40: 240 100% 60%;
  --sf-dark-c-blue-50: 240 100% 50%;
  --sf-dark-c-blue-60: 240 100% 40%;
  --sf-dark-c-blue-70: 240 100% 30%;
  --sf-dark-c-blue-80: 240 100% 20%;
  --sf-dark-c-blue-90: 240 100% 10%;
 
  --sf-dark-c-txt-blue: var(--sf-dark-c-blue);
  --sf-dark-c-txt-blue-10: var(--sf-dark-c-blue-10);
  --sf-dark-c-txt-blue-20: var(--sf-dark-c-blue-20);
  --sf-dark-c-txt-blue-30: var(--sf-dark-c-blue-30);
  --sf-dark-c-txt-blue-40: var(--sf-dark-c-blue-40);
  --sf-dark-c-txt-blue-50: var(--sf-dark-c-blue-50);
  --sf-dark-c-txt-blue-60: var(--sf-dark-c-blue-60);
  --sf-dark-c-txt-blue-70: var(--sf-dark-c-blue-70);
  --sf-dark-c-txt-blue-80: var(--sf-dark-c-blue-80);
  --sf-dark-c-txt-blue-90: var(--sf-dark-c-blue-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-blue: var(--sf-dark-c-blue);
  --sf-c-blue-10: var(--sf-dark-c-blue-10);
  --sf-c-blue-20: var(--sf-dark-c-blue-20);
  --sf-c-blue-30: var(--sf-dark-c-blue-30);
  --sf-c-blue-40: var(--sf-dark-c-blue-40);
  --sf-c-blue-50: var(--sf-dark-c-blue-50);
  --sf-c-blue-60: var(--sf-dark-c-blue-60);
  --sf-c-blue-70: var(--sf-dark-c-blue-70);
  --sf-c-blue-80: var(--sf-dark-c-blue-80);
  --sf-c-blue-90: var(--sf-dark-c-blue-90);
 
  --sf-c-txt-blue: var(--sf-dark-c-txt-blue);
  --sf-c-txt-blue-10: var(--sf-dark-c-txt-blue-10);
  --sf-c-txt-blue-20: var(--sf-dark-c-txt-blue-20);
  --sf-c-txt-blue-30: var(--sf-dark-c-txt-blue-30);
  --sf-c-txt-blue-40: var(--sf-dark-c-txt-blue-40);
  --sf-c-txt-blue-50: var(--sf-dark-c-txt-blue-50);
  --sf-c-txt-blue-60: var(--sf-dark-c-txt-blue-60);
  --sf-c-txt-blue-70: var(--sf-dark-c-txt-blue-70);
  --sf-c-txt-blue-80: var(--sf-dark-c-txt-blue-80);
  --sf-c-txt-blue-90: var(--sf-dark-c-txt-blue-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-blue: var(--sf-dark-c-blue);
    --sf-c-blue-10: var(--sf-dark-c-blue-10);
    --sf-c-blue-20: var(--sf-dark-c-blue-20);
    --sf-c-blue-30: var(--sf-dark-c-blue-30);
    --sf-c-blue-40: var(--sf-dark-c-blue-40);
    --sf-c-blue-50: var(--sf-dark-c-blue-50);
    --sf-c-blue-60: var(--sf-dark-c-blue-60);
    --sf-c-blue-70: var(--sf-dark-c-blue-70);
    --sf-c-blue-80: var(--sf-dark-c-blue-80);
    --sf-c-blue-90: var(--sf-dark-c-blue-90);
 
    --sf-c-txt-blue: var(--sf-dark-c-txt-blue);
    --sf-c-txt-blue-10: var(--sf-dark-c-txt-blue-10);
    --sf-c-txt-blue-20: var(--sf-dark-c-txt-blue-20);
    --sf-c-txt-blue-30: var(--sf-dark-c-txt-blue-30);
    --sf-c-txt-blue-40: var(--sf-dark-c-txt-blue-40);
    --sf-c-txt-blue-50: var(--sf-dark-c-txt-blue-50);
    --sf-c-txt-blue-60: var(--sf-dark-c-txt-blue-60);
    --sf-c-txt-blue-70: var(--sf-dark-c-txt-blue-70);
    --sf-c-txt-blue-80: var(--sf-dark-c-txt-blue-80);
    --sf-c-txt-blue-90: var(--sf-dark-c-txt-blue-90);
  }
}
 
.sf-c-blue { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue)) }
.sf-c-blue\:10 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-10)) }
.sf-c-blue\:20 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-20)) }
.sf-c-blue\:30 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-30)) }
.sf-c-blue\:40 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-40)) }
.sf-c-blue\:50 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-50)) }
.sf-c-blue\:60 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-60)) }
.sf-c-blue\:70 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-70)) }
.sf-c-blue\:80 { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-80)) }
.sf-c-blue\:90 { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-blue\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:10\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-10)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:20\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-20)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:30\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-30)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:40\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-40)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:50\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-50)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:60\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-60)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:70\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-70)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:80\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-80)) }
:where([data-theme='dark'], .dark) .sf-c-blue\:90\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-90)) }

.sf-c-txt-blue { color: hsl(var(--sf-c-txt-blue)) }
.sf-c-txt-blue\:10 { color: hsl(var(--sf-c-txt-blue-10)) }
.sf-c-txt-blue\:20 { color: hsl(var(--sf-c-txt-blue-20)) }
.sf-c-txt-blue\:30 { color: hsl(var(--sf-c-txt-blue-30)) }
.sf-c-txt-blue\:40 { color: hsl(var(--sf-c-txt-blue-40)) }
.sf-c-txt-blue\:50 { color: hsl(var(--sf-c-txt-blue-50)) }
.sf-c-txt-blue\:60 { color: hsl(var(--sf-c-txt-blue-60)) }
.sf-c-txt-blue\:70 { color: hsl(var(--sf-c-txt-blue-70)) }
.sf-c-txt-blue\:80 { color: hsl(var(--sf-c-txt-blue-80)) }
.sf-c-txt-blue\:90 { color: hsl(var(--sf-c-txt-blue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:dark { color: hsl(var(--sf-c-txt-blue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:10\:dark { color: hsl(var(--sf-c-txt-blue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:20\:dark { color: hsl(var(--sf-c-txt-blue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:30\:dark { color: hsl(var(--sf-c-txt-blue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:40\:dark { color: hsl(var(--sf-c-txt-blue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:50\:dark { color: hsl(var(--sf-c-txt-blue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:60\:dark { color: hsl(var(--sf-c-txt-blue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:70\:dark { color: hsl(var(--sf-c-txt-blue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:80\:dark { color: hsl(var(--sf-c-txt-blue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-blue\:90\:dark { color: hsl(var(--sf-c-txt-blue-90)) }