:root {
  --sf-c-blue: 240 100% 50%;
  --sf-c-blue-0: 240 100% 0%;
  --sf-c-blue-10: 240 100% 10%;
  --sf-c-blue-20: 240 100% 20%;
  --sf-c-blue-30: 240 100% 30%;
  --sf-c-blue-40: 240 100% 40%;
  --sf-c-blue-50: 240 100% 50%;
  --sf-c-blue-60: 240 100% 60%;
  --sf-c-blue-70: 240 100% 70%;
  --sf-c-blue-80: 240 100% 80%;
  --sf-c-blue-90: 240 100% 90%;
  --sf-c-blue-100: 240 100% 100%;

  --sf-c-txt-blue: var(--sf-c-blue);
  --sf-c-txt-blue-0: var(--sf-c-blue-0);
  --sf-c-txt-blue-10: var(--sf-c-blue-10);
  --sf-c-txt-blue-20: var(--sf-c-blue-20);
  --sf-c-txt-blue-30: var(--sf-c-blue-30);
  --sf-c-txt-blue-40: var(--sf-c-blue-40);
  --sf-c-txt-blue-50: var(--sf-c-blue-50);
  --sf-c-txt-blue-60: var(--sf-c-blue-60);
  --sf-c-txt-blue-70: var(--sf-c-blue-70);
  --sf-c-txt-blue-80: var(--sf-c-blue-80);
  --sf-c-txt-blue-90: var(--sf-c-blue-90);
  --sf-c-txt-blue-100: var(--sf-c-blue-100);

  --sf-dark-c-blue: 240 100% 50%;
  --sf-dark-c-blue-0: 240 100% 0%;
  --sf-dark-c-blue-10: 240 100% 10%;
  --sf-dark-c-blue-20: 240 100% 20%;
  --sf-dark-c-blue-30: 240 100% 30%;
  --sf-dark-c-blue-40: 240 100% 40%;
  --sf-dark-c-blue-50: 240 100% 50%;
  --sf-dark-c-blue-60: 240 100% 60%;
  --sf-dark-c-blue-70: 240 100% 70%;
  --sf-dark-c-blue-80: 240 100% 80%;
  --sf-dark-c-blue-90: 240 100% 90%;
  --sf-dark-c-blue-100: 240 100% 100%;

  --sf-dark-c-txt-blue: var(--sf-dark-c-blue);
  --sf-dark-c-txt-blue-0: var(--sf-dark-c-blue-0);
  --sf-dark-c-txt-blue-10: var(--sf-dark-c-blue-10);
  --sf-dark-c-txt-blue-20: var(--sf-dark-c-blue-20);
  --sf-dark-c-txt-blue-30: var(--sf-dark-c-blue-30);
  --sf-dark-c-txt-blue-40: var(--sf-dark-c-blue-40);
  --sf-dark-c-txt-blue-50: var(--sf-dark-c-blue-50);
  --sf-dark-c-txt-blue-60: var(--sf-dark-c-blue-60);
  --sf-dark-c-txt-blue-70: var(--sf-dark-c-blue-70);
  --sf-dark-c-txt-blue-80: var(--sf-dark-c-blue-80);
  --sf-dark-c-txt-blue-90: var(--sf-dark-c-blue-90);
  --sf-dark-c-txt-blue-100: var(--sf-dark-c-blue-100);
}

.sf-c-blue { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue)) }
.sf-c-blue\:0 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-0)) }
.sf-c-blue\:10 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-10)) }
.sf-c-blue\:20 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-20)) }
.sf-c-blue\:30 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-30)) }
.sf-c-blue\:40 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-40)) }
.sf-c-blue\:50 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-50)) }
.sf-c-blue\:60 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-60)) }
.sf-c-blue\:70 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-70)) }
.sf-c-blue\:80 { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-80)) }
.sf-c-blue\:90 { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-90)) }
.sf-c-blue\:100 { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-100)) }

html.var .sf-c-blue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var .sf-c-blue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
html.var .sf-c-blue\:10 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var .sf-c-blue\:20 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var .sf-c-blue\:30 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var .sf-c-blue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var .sf-c-blue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var .sf-c-blue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var .sf-c-blue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
html.var .sf-c-blue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 80%) }
html.var .sf-c-blue\:90 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var .sf-c-blue\:100 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-blue, html.dark .sf-c-blue { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue)) }
html[data-theme='dark'] .sf-c-blue\:0, html.dark .sf-c-blue\:0 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-100)) }
html[data-theme='dark'] .sf-c-blue\:10, html.dark .sf-c-blue\:10 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-90)) }
html[data-theme='dark'] .sf-c-blue\:20, html.dark .sf-c-blue\:20 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-80)) }
html[data-theme='dark'] .sf-c-blue\:30, html.dark .sf-c-blue\:30 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-70)) }
html[data-theme='dark'] .sf-c-blue\:40, html.dark .sf-c-blue\:40 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-60)) }
html[data-theme='dark'] .sf-c-blue\:50, html.dark .sf-c-blue\:50 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-50)) }
html[data-theme='dark'] .sf-c-blue\:60, html.dark .sf-c-blue\:60 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-40)) }
html[data-theme='dark'] .sf-c-blue\:70, html.dark .sf-c-blue\:70 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-30)) }
html[data-theme='dark'] .sf-c-blue\:80, html.dark .sf-c-blue\:80 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-20)) }
html[data-theme='dark'] .sf-c-blue\:90, html.dark .sf-c-blue\:90 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-10)) }
html[data-theme='dark'] .sf-c-blue\:100, html.dark .sf-c-blue\:100 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-0)) }

html[data-theme='dark'] .sf-c-blue\:dark, html.dark .sf-c-blue\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue)) }
html[data-theme='dark'] .sf-c-blue\:0\:dark, html.dark .sf-c-blue\:0\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-100)) }
html[data-theme='dark'] .sf-c-blue\:10\:dark, html.dark .sf-c-blue\:10\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-90)) }
html[data-theme='dark'] .sf-c-blue\:20\:dark, html.dark .sf-c-blue\:20\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-80)) }
html[data-theme='dark'] .sf-c-blue\:30\:dark, html.dark .sf-c-blue\:30\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-70)) }
html[data-theme='dark'] .sf-c-blue\:40\:dark, html.dark .sf-c-blue\:40\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-60)) }
html[data-theme='dark'] .sf-c-blue\:50\:dark, html.dark .sf-c-blue\:50\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-50)) }
html[data-theme='dark'] .sf-c-blue\:60\:dark, html.dark .sf-c-blue\:60\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-40)) }
html[data-theme='dark'] .sf-c-blue\:70\:dark, html.dark .sf-c-blue\:70\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-30)) }
html[data-theme='dark'] .sf-c-blue\:80\:dark, html.dark .sf-c-blue\:80\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-20)) }
html[data-theme='dark'] .sf-c-blue\:90\:dark, html.dark .sf-c-blue\:90\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-10)) }
html[data-theme='dark'] .sf-c-blue\:100\:dark, html.dark .sf-c-blue\:100\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-0)) }

html.var[data-theme='dark'] .sf-c-blue, html.var.dark .sf-c-blue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-blue\:0, html.var.dark .sf-c-blue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-blue\:10, html.var.dark .sf-c-blue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-blue\:20, html.var.dark .sf-c-blue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-blue\:30, html.var.dark .sf-c-blue\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-blue\:40, html.var.dark .sf-c-blue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-blue\:50, html.var.dark .sf-c-blue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-blue\:60, html.var.dark .sf-c-blue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-blue\:70, html.var.dark .sf-c-blue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-blue\:80, html.var.dark .sf-c-blue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-blue\:90, html.var.dark .sf-c-blue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-blue\:100, html.var.dark .sf-c-blue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-blue\:dark, html.var.dark .sf-c-blue\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-blue\:0\:dark, html.var.dark .sf-c-blue\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-blue\:10\:dark, html.var.dark .sf-c-blue\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-blue\:20\:dark, html.var.dark .sf-c-blue\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-blue\:30\:dark, html.var.dark .sf-c-blue\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-blue\:40\:dark, html.var.dark .sf-c-blue\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-blue\:50\:dark, html.var.dark .sf-c-blue\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-blue\:60\:dark, html.var.dark .sf-c-blue\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-blue\:70\:dark, html.var.dark .sf-c-blue\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-blue\:80\:dark, html.var.dark .sf-c-blue\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-blue\:90\:dark, html.var.dark .sf-c-blue\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-blue\:100\:dark, html.var.dark .sf-c-blue\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-blue, html.auto .sf-c-blue { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue)) }
  html[data-theme='auto'] .sf-c-blue\:0, html.auto .sf-c-blue\:0 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-100)) }
  html[data-theme='auto'] .sf-c-blue\:10, html.auto .sf-c-blue\:10 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-90)) }
  html[data-theme='auto'] .sf-c-blue\:20, html.auto .sf-c-blue\:20 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-80)) }
  html[data-theme='auto'] .sf-c-blue\:30, html.auto .sf-c-blue\:30 { color: hsl(var(--sf-dark-c-txt-blue-10)); background: hsl(var(--sf-dark-c-blue-70)) }
  html[data-theme='auto'] .sf-c-blue\:40, html.auto .sf-c-blue\:40 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-60)) }
  html[data-theme='auto'] .sf-c-blue\:50, html.auto .sf-c-blue\:50 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-50)) }
  html[data-theme='auto'] .sf-c-blue\:60, html.auto .sf-c-blue\:60 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-40)) }
  html[data-theme='auto'] .sf-c-blue\:70, html.auto .sf-c-blue\:70 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-30)) }
  html[data-theme='auto'] .sf-c-blue\:80, html.auto .sf-c-blue\:80 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-20)) }
  html[data-theme='auto'] .sf-c-blue\:90, html.auto .sf-c-blue\:90 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-10)) }
  html[data-theme='auto'] .sf-c-blue\:100, html.auto .sf-c-blue\:100 { color: hsl(var(--sf-dark-c-txt-blue-90)); background: hsl(var(--sf-dark-c-blue-0)) }

  html[data-theme='auto'] .sf-c-blue\:dark, html.auto .sf-c-blue\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue)) }
  html[data-theme='auto'] .sf-c-blue\:0\:dark, html.auto .sf-c-blue\:0\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-100)) }
  html[data-theme='auto'] .sf-c-blue\:10\:dark, html.auto .sf-c-blue\:10\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-90)) }
  html[data-theme='auto'] .sf-c-blue\:20\:dark, html.auto .sf-c-blue\:20\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-80)) }
  html[data-theme='auto'] .sf-c-blue\:30\:dark, html.auto .sf-c-blue\:30\:dark { color: hsl(var(--sf-c-txt-blue-10)); background: hsl(var(--sf-c-blue-70)) }
  html[data-theme='auto'] .sf-c-blue\:40\:dark, html.auto .sf-c-blue\:40\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-60)) }
  html[data-theme='auto'] .sf-c-blue\:50\:dark, html.auto .sf-c-blue\:50\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-50)) }
  html[data-theme='auto'] .sf-c-blue\:60\:dark, html.auto .sf-c-blue\:60\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-40)) }
  html[data-theme='auto'] .sf-c-blue\:70\:dark, html.auto .sf-c-blue\:70\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-30)) }
  html[data-theme='auto'] .sf-c-blue\:80\:dark, html.auto .sf-c-blue\:80\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-20)) }
  html[data-theme='auto'] .sf-c-blue\:90\:dark, html.auto .sf-c-blue\:90\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-10)) }
  html[data-theme='auto'] .sf-c-blue\:100\:dark, html.auto .sf-c-blue\:100\:dark { color: hsl(var(--sf-c-txt-blue-90)); background: hsl(var(--sf-c-blue-0)) }

  html.var[data-theme='auto'] .sf-c-blue, html.var.auto .sf-c-blue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-blue\:0, html.var.auto .sf-c-blue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-blue\:10, html.var.auto .sf-c-blue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-blue\:20, html.var.auto .sf-c-blue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-blue\:30, html.var.auto .sf-c-blue\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-blue\:40, html.var.auto .sf-c-blue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-blue\:50, html.var.auto .sf-c-blue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-blue\:60, html.var.auto .sf-c-blue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-blue\:70, html.var.auto .sf-c-blue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-blue\:80, html.var.auto .sf-c-blue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-blue\:90, html.var.auto .sf-c-blue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-blue\:100, html.var.auto .sf-c-blue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-blue\:dark, html.var.auto .sf-c-blue\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-blue\:0\:dark, html.var.auto .sf-c-blue\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-blue\:10\:dark, html.var.auto .sf-c-blue\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-blue\:20\:dark, html.var.auto .sf-c-blue\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-blue\:30\:dark, html.var.auto .sf-c-blue\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-blue\:40\:dark, html.var.auto .sf-c-blue\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-blue\:50\:dark, html.var.auto .sf-c-blue\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-blue\:60\:dark, html.var.auto .sf-c-blue\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-blue\:70\:dark, html.var.auto .sf-c-blue\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-blue\:80\:dark, html.var.auto .sf-c-blue\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-blue\:90\:dark, html.var.auto .sf-c-blue\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-blue\:100\:dark, html.var.auto .sf-c-blue\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
}

.sf-c-txt-blue { color: hsl(var(--sf-c-txt-blue)) }
.sf-c-txt-blue\:0 { color: hsl(var(--sf-c-txt-blue-0)) }
.sf-c-txt-blue\:10 { color: hsl(var(--sf-c-txt-blue-10)) }
.sf-c-txt-blue\:20 { color: hsl(var(--sf-c-txt-blue-20)) }
.sf-c-txt-blue\:30 { color: hsl(var(--sf-c-txt-blue-30)) }
.sf-c-txt-blue\:40 { color: hsl(var(--sf-c-txt-blue-40)) }
.sf-c-txt-blue\:50 { color: hsl(var(--sf-c-txt-blue-50)) }
.sf-c-txt-blue\:60 { color: hsl(var(--sf-c-txt-blue-60)) }
.sf-c-txt-blue\:70 { color: hsl(var(--sf-c-txt-blue-70)) }
.sf-c-txt-blue\:80 { color: hsl(var(--sf-c-txt-blue-80)) }
.sf-c-txt-blue\:90 { color: hsl(var(--sf-c-txt-blue-90)) }
.sf-c-txt-blue\:100 { color: hsl(var(--sf-c-txt-blue-100)) }
