:root {
  --sf-c-chocolate: 25 75% 47%;
  --sf-c-chocolate-0: 25 75% 0%;
  --sf-c-chocolate-10: 25 75% 10%;
  --sf-c-chocolate-20: 25 75% 20%;
  --sf-c-chocolate-30: 25 75% 30%;
  --sf-c-chocolate-40: 25 75% 40%;
  --sf-c-chocolate-50: 25 75% 50%;
  --sf-c-chocolate-60: 25 75% 60%;
  --sf-c-chocolate-70: 25 75% 70%;
  --sf-c-chocolate-80: 25 75% 80%;
  --sf-c-chocolate-90: 25 75% 90%;
  --sf-c-chocolate-100: 25 75% 100%;

  --sf-c-txt-chocolate: var(--sf-c-chocolate);
  --sf-c-txt-chocolate-0: var(--sf-c-chocolate-0);
  --sf-c-txt-chocolate-10: var(--sf-c-chocolate-10);
  --sf-c-txt-chocolate-20: var(--sf-c-chocolate-20);
  --sf-c-txt-chocolate-30: var(--sf-c-chocolate-30);
  --sf-c-txt-chocolate-40: var(--sf-c-chocolate-40);
  --sf-c-txt-chocolate-50: var(--sf-c-chocolate-50);
  --sf-c-txt-chocolate-60: var(--sf-c-chocolate-60);
  --sf-c-txt-chocolate-70: var(--sf-c-chocolate-70);
  --sf-c-txt-chocolate-80: var(--sf-c-chocolate-80);
  --sf-c-txt-chocolate-90: var(--sf-c-chocolate-90);
  --sf-c-txt-chocolate-100: var(--sf-c-chocolate-100);

  --sf-dark-c-chocolate: 25 75% 53%;
  --sf-dark-c-chocolate-0: 25 75% 0%;
  --sf-dark-c-chocolate-10: 25 75% 10%;
  --sf-dark-c-chocolate-20: 25 75% 20%;
  --sf-dark-c-chocolate-30: 25 75% 30%;
  --sf-dark-c-chocolate-40: 25 75% 40%;
  --sf-dark-c-chocolate-50: 25 75% 50%;
  --sf-dark-c-chocolate-60: 25 75% 60%;
  --sf-dark-c-chocolate-70: 25 75% 70%;
  --sf-dark-c-chocolate-80: 25 75% 80%;
  --sf-dark-c-chocolate-90: 25 75% 90%;
  --sf-dark-c-chocolate-100: 25 75% 100%;

  --sf-dark-c-txt-chocolate: var(--sf-dark-c-chocolate);
  --sf-dark-c-txt-chocolate-0: var(--sf-dark-c-chocolate-0);
  --sf-dark-c-txt-chocolate-10: var(--sf-dark-c-chocolate-10);
  --sf-dark-c-txt-chocolate-20: var(--sf-dark-c-chocolate-20);
  --sf-dark-c-txt-chocolate-30: var(--sf-dark-c-chocolate-30);
  --sf-dark-c-txt-chocolate-40: var(--sf-dark-c-chocolate-40);
  --sf-dark-c-txt-chocolate-50: var(--sf-dark-c-chocolate-50);
  --sf-dark-c-txt-chocolate-60: var(--sf-dark-c-chocolate-60);
  --sf-dark-c-txt-chocolate-70: var(--sf-dark-c-chocolate-70);
  --sf-dark-c-txt-chocolate-80: var(--sf-dark-c-chocolate-80);
  --sf-dark-c-txt-chocolate-90: var(--sf-dark-c-chocolate-90);
  --sf-dark-c-txt-chocolate-100: var(--sf-dark-c-chocolate-100);
}

.sf-c-chocolate { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate)) }
.sf-c-chocolate\:0 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-0)) }
.sf-c-chocolate\:10 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-10)) }
.sf-c-chocolate\:20 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-20)) }
.sf-c-chocolate\:30 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-30)) }
.sf-c-chocolate\:40 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-40)) }
.sf-c-chocolate\:50 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-50)) }
.sf-c-chocolate\:60 { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-60)) }
.sf-c-chocolate\:70 { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-70)) }
.sf-c-chocolate\:80 { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-80)) }
.sf-c-chocolate\:90 { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-90)) }
.sf-c-chocolate\:100 { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-100)) }

html.var .sf-c-chocolate { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 47%) }
html.var .sf-c-chocolate\:0 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 0%) }
html.var .sf-c-chocolate\:10 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 10%) }
html.var .sf-c-chocolate\:20 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 20%) }
html.var .sf-c-chocolate\:30 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 30%) }
html.var .sf-c-chocolate\:40 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 40%) }
html.var .sf-c-chocolate\:50 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 50%) }
html.var .sf-c-chocolate\:60 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 60%) }
html.var .sf-c-chocolate\:70 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 70%) }
html.var .sf-c-chocolate\:80 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 80%) }
html.var .sf-c-chocolate\:90 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 90%) }
html.var .sf-c-chocolate\:100 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 100%) }

html[data-theme='dark'] .sf-c-chocolate, html.dark .sf-c-chocolate { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate)) }
html[data-theme='dark'] .sf-c-chocolate\:0, html.dark .sf-c-chocolate\:0 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-100)) }
html[data-theme='dark'] .sf-c-chocolate\:10, html.dark .sf-c-chocolate\:10 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-90)) }
html[data-theme='dark'] .sf-c-chocolate\:20, html.dark .sf-c-chocolate\:20 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-80)) }
html[data-theme='dark'] .sf-c-chocolate\:30, html.dark .sf-c-chocolate\:30 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-70)) }
html[data-theme='dark'] .sf-c-chocolate\:40, html.dark .sf-c-chocolate\:40 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-60)) }
html[data-theme='dark'] .sf-c-chocolate\:50, html.dark .sf-c-chocolate\:50 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-50)) }
html[data-theme='dark'] .sf-c-chocolate\:60, html.dark .sf-c-chocolate\:60 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-40)) }
html[data-theme='dark'] .sf-c-chocolate\:70, html.dark .sf-c-chocolate\:70 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-30)) }
html[data-theme='dark'] .sf-c-chocolate\:80, html.dark .sf-c-chocolate\:80 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-20)) }
html[data-theme='dark'] .sf-c-chocolate\:90, html.dark .sf-c-chocolate\:90 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-10)) }
html[data-theme='dark'] .sf-c-chocolate\:100, html.dark .sf-c-chocolate\:100 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-0)) }

html[data-theme='dark'] .sf-c-chocolate\:dark, html.dark .sf-c-chocolate\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate)) }
html[data-theme='dark'] .sf-c-chocolate\:0\:dark, html.dark .sf-c-chocolate\:0\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-100)) }
html[data-theme='dark'] .sf-c-chocolate\:10\:dark, html.dark .sf-c-chocolate\:10\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-90)) }
html[data-theme='dark'] .sf-c-chocolate\:20\:dark, html.dark .sf-c-chocolate\:20\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-80)) }
html[data-theme='dark'] .sf-c-chocolate\:30\:dark, html.dark .sf-c-chocolate\:30\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-70)) }
html[data-theme='dark'] .sf-c-chocolate\:40\:dark, html.dark .sf-c-chocolate\:40\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-60)) }
html[data-theme='dark'] .sf-c-chocolate\:50\:dark, html.dark .sf-c-chocolate\:50\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-50)) }
html[data-theme='dark'] .sf-c-chocolate\:60\:dark, html.dark .sf-c-chocolate\:60\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-40)) }
html[data-theme='dark'] .sf-c-chocolate\:70\:dark, html.dark .sf-c-chocolate\:70\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-30)) }
html[data-theme='dark'] .sf-c-chocolate\:80\:dark, html.dark .sf-c-chocolate\:80\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-20)) }
html[data-theme='dark'] .sf-c-chocolate\:90\:dark, html.dark .sf-c-chocolate\:90\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-10)) }
html[data-theme='dark'] .sf-c-chocolate\:100\:dark, html.dark .sf-c-chocolate\:100\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-0)) }

html.var[data-theme='dark'] .sf-c-chocolate, html.var.dark .sf-c-chocolate { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 53%) }
html.var[data-theme='dark'] .sf-c-chocolate\:0, html.var.dark .sf-c-chocolate\:0 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 100%) }
html.var[data-theme='dark'] .sf-c-chocolate\:10, html.var.dark .sf-c-chocolate\:10 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 90%) }
html.var[data-theme='dark'] .sf-c-chocolate\:20, html.var.dark .sf-c-chocolate\:20 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 80%) }
html.var[data-theme='dark'] .sf-c-chocolate\:30, html.var.dark .sf-c-chocolate\:30 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 70%) }
html.var[data-theme='dark'] .sf-c-chocolate\:40, html.var.dark .sf-c-chocolate\:40 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 60%) }
html.var[data-theme='dark'] .sf-c-chocolate\:50, html.var.dark .sf-c-chocolate\:50 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 50%) }
html.var[data-theme='dark'] .sf-c-chocolate\:60, html.var.dark .sf-c-chocolate\:60 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 40%) }
html.var[data-theme='dark'] .sf-c-chocolate\:70, html.var.dark .sf-c-chocolate\:70 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 30%) }
html.var[data-theme='dark'] .sf-c-chocolate\:80, html.var.dark .sf-c-chocolate\:80 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 20%) }
html.var[data-theme='dark'] .sf-c-chocolate\:90, html.var.dark .sf-c-chocolate\:90 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 10%) }
html.var[data-theme='dark'] .sf-c-chocolate\:100, html.var.dark .sf-c-chocolate\:100 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 0%) }

html.var[data-theme='dark'] .sf-c-chocolate\:dark, html.var.dark .sf-c-chocolate\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 53%) }
html.var[data-theme='dark'] .sf-c-chocolate\:0\:dark, html.var.dark .sf-c-chocolate\:0\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 100%) }
html.var[data-theme='dark'] .sf-c-chocolate\:10\:dark, html.var.dark .sf-c-chocolate\:10\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 90%) }
html.var[data-theme='dark'] .sf-c-chocolate\:20\:dark, html.var.dark .sf-c-chocolate\:20\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 80%) }
html.var[data-theme='dark'] .sf-c-chocolate\:30\:dark, html.var.dark .sf-c-chocolate\:30\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 70%) }
html.var[data-theme='dark'] .sf-c-chocolate\:40\:dark, html.var.dark .sf-c-chocolate\:40\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 60%) }
html.var[data-theme='dark'] .sf-c-chocolate\:50\:dark, html.var.dark .sf-c-chocolate\:50\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 50%) }
html.var[data-theme='dark'] .sf-c-chocolate\:60\:dark, html.var.dark .sf-c-chocolate\:60\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 40%) }
html.var[data-theme='dark'] .sf-c-chocolate\:70\:dark, html.var.dark .sf-c-chocolate\:70\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 30%) }
html.var[data-theme='dark'] .sf-c-chocolate\:80\:dark, html.var.dark .sf-c-chocolate\:80\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 20%) }
html.var[data-theme='dark'] .sf-c-chocolate\:90\:dark, html.var.dark .sf-c-chocolate\:90\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 10%) }
html.var[data-theme='dark'] .sf-c-chocolate\:100\:dark, html.var.dark .sf-c-chocolate\:100\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-chocolate, html.auto .sf-c-chocolate { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate)) }
  html[data-theme='auto'] .sf-c-chocolate\:0, html.auto .sf-c-chocolate\:0 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-100)) }
  html[data-theme='auto'] .sf-c-chocolate\:10, html.auto .sf-c-chocolate\:10 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-90)) }
  html[data-theme='auto'] .sf-c-chocolate\:20, html.auto .sf-c-chocolate\:20 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-80)) }
  html[data-theme='auto'] .sf-c-chocolate\:30, html.auto .sf-c-chocolate\:30 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-70)) }
  html[data-theme='auto'] .sf-c-chocolate\:40, html.auto .sf-c-chocolate\:40 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-60)) }
  html[data-theme='auto'] .sf-c-chocolate\:50, html.auto .sf-c-chocolate\:50 { color: hsl(var(--sf-dark-c-txt-chocolate-10)); background: hsl(var(--sf-dark-c-chocolate-50)) }
  html[data-theme='auto'] .sf-c-chocolate\:60, html.auto .sf-c-chocolate\:60 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-40)) }
  html[data-theme='auto'] .sf-c-chocolate\:70, html.auto .sf-c-chocolate\:70 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-30)) }
  html[data-theme='auto'] .sf-c-chocolate\:80, html.auto .sf-c-chocolate\:80 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-20)) }
  html[data-theme='auto'] .sf-c-chocolate\:90, html.auto .sf-c-chocolate\:90 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-10)) }
  html[data-theme='auto'] .sf-c-chocolate\:100, html.auto .sf-c-chocolate\:100 { color: hsl(var(--sf-dark-c-txt-chocolate-90)); background: hsl(var(--sf-dark-c-chocolate-0)) }

  html[data-theme='auto'] .sf-c-chocolate\:dark, html.auto .sf-c-chocolate\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate)) }
  html[data-theme='auto'] .sf-c-chocolate\:0\:dark, html.auto .sf-c-chocolate\:0\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-100)) }
  html[data-theme='auto'] .sf-c-chocolate\:10\:dark, html.auto .sf-c-chocolate\:10\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-90)) }
  html[data-theme='auto'] .sf-c-chocolate\:20\:dark, html.auto .sf-c-chocolate\:20\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-80)) }
  html[data-theme='auto'] .sf-c-chocolate\:30\:dark, html.auto .sf-c-chocolate\:30\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-70)) }
  html[data-theme='auto'] .sf-c-chocolate\:40\:dark, html.auto .sf-c-chocolate\:40\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-60)) }
  html[data-theme='auto'] .sf-c-chocolate\:50\:dark, html.auto .sf-c-chocolate\:50\:dark { color: hsl(var(--sf-c-txt-chocolate-10)); background: hsl(var(--sf-c-chocolate-50)) }
  html[data-theme='auto'] .sf-c-chocolate\:60\:dark, html.auto .sf-c-chocolate\:60\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-40)) }
  html[data-theme='auto'] .sf-c-chocolate\:70\:dark, html.auto .sf-c-chocolate\:70\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-30)) }
  html[data-theme='auto'] .sf-c-chocolate\:80\:dark, html.auto .sf-c-chocolate\:80\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-20)) }
  html[data-theme='auto'] .sf-c-chocolate\:90\:dark, html.auto .sf-c-chocolate\:90\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-10)) }
  html[data-theme='auto'] .sf-c-chocolate\:100\:dark, html.auto .sf-c-chocolate\:100\:dark { color: hsl(var(--sf-c-txt-chocolate-90)); background: hsl(var(--sf-c-chocolate-0)) }

  html.var[data-theme='auto'] .sf-c-chocolate, html.var.auto .sf-c-chocolate { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 53%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:0, html.var.auto .sf-c-chocolate\:0 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 100%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:10, html.var.auto .sf-c-chocolate\:10 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 90%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:20, html.var.auto .sf-c-chocolate\:20 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 80%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:30, html.var.auto .sf-c-chocolate\:30 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 70%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:40, html.var.auto .sf-c-chocolate\:40 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 60%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:50, html.var.auto .sf-c-chocolate\:50 { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 50%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:60, html.var.auto .sf-c-chocolate\:60 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 40%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:70, html.var.auto .sf-c-chocolate\:70 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 30%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:80, html.var.auto .sf-c-chocolate\:80 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 20%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:90, html.var.auto .sf-c-chocolate\:90 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 10%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:100, html.var.auto .sf-c-chocolate\:100 { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 0%) }

  html.var[data-theme='auto'] .sf-c-chocolate\:dark, html.var.auto .sf-c-chocolate\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 53%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:0\:dark, html.var.auto .sf-c-chocolate\:0\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 100%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:10\:dark, html.var.auto .sf-c-chocolate\:10\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 90%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:20\:dark, html.var.auto .sf-c-chocolate\:20\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 80%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:30\:dark, html.var.auto .sf-c-chocolate\:30\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 70%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:40\:dark, html.var.auto .sf-c-chocolate\:40\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 60%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:50\:dark, html.var.auto .sf-c-chocolate\:50\:dark { color: hsl(25, 75%, 10%); background: hsl(25, 75%, 50%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:60\:dark, html.var.auto .sf-c-chocolate\:60\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 40%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:70\:dark, html.var.auto .sf-c-chocolate\:70\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 30%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:80\:dark, html.var.auto .sf-c-chocolate\:80\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 20%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:90\:dark, html.var.auto .sf-c-chocolate\:90\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 10%) }
  html.var[data-theme='auto'] .sf-c-chocolate\:100\:dark, html.var.auto .sf-c-chocolate\:100\:dark { color: hsl(25, 75%, 90%); background: hsl(25, 75%, 0%) }
}

.sf-c-txt-chocolate { color: hsl(var(--sf-c-txt-chocolate)) }
.sf-c-txt-chocolate\:0 { color: hsl(var(--sf-c-txt-chocolate-0)) }
.sf-c-txt-chocolate\:10 { color: hsl(var(--sf-c-txt-chocolate-10)) }
.sf-c-txt-chocolate\:20 { color: hsl(var(--sf-c-txt-chocolate-20)) }
.sf-c-txt-chocolate\:30 { color: hsl(var(--sf-c-txt-chocolate-30)) }
.sf-c-txt-chocolate\:40 { color: hsl(var(--sf-c-txt-chocolate-40)) }
.sf-c-txt-chocolate\:50 { color: hsl(var(--sf-c-txt-chocolate-50)) }
.sf-c-txt-chocolate\:60 { color: hsl(var(--sf-c-txt-chocolate-60)) }
.sf-c-txt-chocolate\:70 { color: hsl(var(--sf-c-txt-chocolate-70)) }
.sf-c-txt-chocolate\:80 { color: hsl(var(--sf-c-txt-chocolate-80)) }
.sf-c-txt-chocolate\:90 { color: hsl(var(--sf-c-txt-chocolate-90)) }
.sf-c-txt-chocolate\:100 { color: hsl(var(--sf-c-txt-chocolate-100)) }