:root {
  --sf-c-cornflowerblue: 219 79% 66%;
  --sf-c-cornflowerblue-10: 219 79% 10%;
  --sf-c-cornflowerblue-20: 219 79% 20%;
  --sf-c-cornflowerblue-30: 219 79% 30%;
  --sf-c-cornflowerblue-40: 219 79% 40%;
  --sf-c-cornflowerblue-50: 219 79% 50%;
  --sf-c-cornflowerblue-60: 219 79% 60%;
  --sf-c-cornflowerblue-70: 219 79% 70%;
  --sf-c-cornflowerblue-80: 219 79% 80%;
  --sf-c-cornflowerblue-90: 219 79% 90%;
 
  --sf-c-txt-cornflowerblue: var(--sf-c-cornflowerblue);
  --sf-c-txt-cornflowerblue-10: var(--sf-c-cornflowerblue-10);
  --sf-c-txt-cornflowerblue-20: var(--sf-c-cornflowerblue-20);
  --sf-c-txt-cornflowerblue-30: var(--sf-c-cornflowerblue-30);
  --sf-c-txt-cornflowerblue-40: var(--sf-c-cornflowerblue-40);
  --sf-c-txt-cornflowerblue-50: var(--sf-c-cornflowerblue-50);
  --sf-c-txt-cornflowerblue-60: var(--sf-c-cornflowerblue-60);
  --sf-c-txt-cornflowerblue-70: var(--sf-c-cornflowerblue-70);
  --sf-c-txt-cornflowerblue-80: var(--sf-c-cornflowerblue-80);
  --sf-c-txt-cornflowerblue-90: var(--sf-c-cornflowerblue-90);
 
  --sf-dark-c-cornflowerblue: 219 79% 34%;
  --sf-dark-c-cornflowerblue-10: 219 79% 90%;
  --sf-dark-c-cornflowerblue-20: 219 79% 80%;
  --sf-dark-c-cornflowerblue-30: 219 79% 70%;
  --sf-dark-c-cornflowerblue-40: 219 79% 60%;
  --sf-dark-c-cornflowerblue-50: 219 79% 50%;
  --sf-dark-c-cornflowerblue-60: 219 79% 40%;
  --sf-dark-c-cornflowerblue-70: 219 79% 30%;
  --sf-dark-c-cornflowerblue-80: 219 79% 20%;
  --sf-dark-c-cornflowerblue-90: 219 79% 10%;
 
  --sf-dark-c-txt-cornflowerblue: var(--sf-dark-c-cornflowerblue);
  --sf-dark-c-txt-cornflowerblue-10: var(--sf-dark-c-cornflowerblue-10);
  --sf-dark-c-txt-cornflowerblue-20: var(--sf-dark-c-cornflowerblue-20);
  --sf-dark-c-txt-cornflowerblue-30: var(--sf-dark-c-cornflowerblue-30);
  --sf-dark-c-txt-cornflowerblue-40: var(--sf-dark-c-cornflowerblue-40);
  --sf-dark-c-txt-cornflowerblue-50: var(--sf-dark-c-cornflowerblue-50);
  --sf-dark-c-txt-cornflowerblue-60: var(--sf-dark-c-cornflowerblue-60);
  --sf-dark-c-txt-cornflowerblue-70: var(--sf-dark-c-cornflowerblue-70);
  --sf-dark-c-txt-cornflowerblue-80: var(--sf-dark-c-cornflowerblue-80);
  --sf-dark-c-txt-cornflowerblue-90: var(--sf-dark-c-cornflowerblue-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-cornflowerblue: var(--sf-dark-c-cornflowerblue);
  --sf-c-cornflowerblue-10: var(--sf-dark-c-cornflowerblue-10);
  --sf-c-cornflowerblue-20: var(--sf-dark-c-cornflowerblue-20);
  --sf-c-cornflowerblue-30: var(--sf-dark-c-cornflowerblue-30);
  --sf-c-cornflowerblue-40: var(--sf-dark-c-cornflowerblue-40);
  --sf-c-cornflowerblue-50: var(--sf-dark-c-cornflowerblue-50);
  --sf-c-cornflowerblue-60: var(--sf-dark-c-cornflowerblue-60);
  --sf-c-cornflowerblue-70: var(--sf-dark-c-cornflowerblue-70);
  --sf-c-cornflowerblue-80: var(--sf-dark-c-cornflowerblue-80);
  --sf-c-cornflowerblue-90: var(--sf-dark-c-cornflowerblue-90);
 
  --sf-c-txt-cornflowerblue: var(--sf-dark-c-txt-cornflowerblue);
  --sf-c-txt-cornflowerblue-10: var(--sf-dark-c-txt-cornflowerblue-10);
  --sf-c-txt-cornflowerblue-20: var(--sf-dark-c-txt-cornflowerblue-20);
  --sf-c-txt-cornflowerblue-30: var(--sf-dark-c-txt-cornflowerblue-30);
  --sf-c-txt-cornflowerblue-40: var(--sf-dark-c-txt-cornflowerblue-40);
  --sf-c-txt-cornflowerblue-50: var(--sf-dark-c-txt-cornflowerblue-50);
  --sf-c-txt-cornflowerblue-60: var(--sf-dark-c-txt-cornflowerblue-60);
  --sf-c-txt-cornflowerblue-70: var(--sf-dark-c-txt-cornflowerblue-70);
  --sf-c-txt-cornflowerblue-80: var(--sf-dark-c-txt-cornflowerblue-80);
  --sf-c-txt-cornflowerblue-90: var(--sf-dark-c-txt-cornflowerblue-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-cornflowerblue: var(--sf-dark-c-cornflowerblue);
    --sf-c-cornflowerblue-10: var(--sf-dark-c-cornflowerblue-10);
    --sf-c-cornflowerblue-20: var(--sf-dark-c-cornflowerblue-20);
    --sf-c-cornflowerblue-30: var(--sf-dark-c-cornflowerblue-30);
    --sf-c-cornflowerblue-40: var(--sf-dark-c-cornflowerblue-40);
    --sf-c-cornflowerblue-50: var(--sf-dark-c-cornflowerblue-50);
    --sf-c-cornflowerblue-60: var(--sf-dark-c-cornflowerblue-60);
    --sf-c-cornflowerblue-70: var(--sf-dark-c-cornflowerblue-70);
    --sf-c-cornflowerblue-80: var(--sf-dark-c-cornflowerblue-80);
    --sf-c-cornflowerblue-90: var(--sf-dark-c-cornflowerblue-90);
 
    --sf-c-txt-cornflowerblue: var(--sf-dark-c-txt-cornflowerblue);
    --sf-c-txt-cornflowerblue-10: var(--sf-dark-c-txt-cornflowerblue-10);
    --sf-c-txt-cornflowerblue-20: var(--sf-dark-c-txt-cornflowerblue-20);
    --sf-c-txt-cornflowerblue-30: var(--sf-dark-c-txt-cornflowerblue-30);
    --sf-c-txt-cornflowerblue-40: var(--sf-dark-c-txt-cornflowerblue-40);
    --sf-c-txt-cornflowerblue-50: var(--sf-dark-c-txt-cornflowerblue-50);
    --sf-c-txt-cornflowerblue-60: var(--sf-dark-c-txt-cornflowerblue-60);
    --sf-c-txt-cornflowerblue-70: var(--sf-dark-c-txt-cornflowerblue-70);
    --sf-c-txt-cornflowerblue-80: var(--sf-dark-c-txt-cornflowerblue-80);
    --sf-c-txt-cornflowerblue-90: var(--sf-dark-c-txt-cornflowerblue-90);
  }
}
 
.sf-c-cornflowerblue { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue)) }
.sf-c-cornflowerblue\:10 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-10)) }
.sf-c-cornflowerblue\:20 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-20)) }
.sf-c-cornflowerblue\:30 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-30)) }
.sf-c-cornflowerblue\:40 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-40)) }
.sf-c-cornflowerblue\:50 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-50)) }
.sf-c-cornflowerblue\:60 { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-60)) }
.sf-c-cornflowerblue\:70 { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-70)) }
.sf-c-cornflowerblue\:80 { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-80)) }
.sf-c-cornflowerblue\:90 { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:10\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:20\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:30\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:40\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:50\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:60\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)); background: hsl(var(--sf-c-cornflowerblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:70\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:80\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-cornflowerblue\:90\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-10)); background: hsl(var(--sf-c-cornflowerblue-90)) }

.sf-c-txt-cornflowerblue { color: hsl(var(--sf-c-txt-cornflowerblue)) }
.sf-c-txt-cornflowerblue\:10 { color: hsl(var(--sf-c-txt-cornflowerblue-10)) }
.sf-c-txt-cornflowerblue\:20 { color: hsl(var(--sf-c-txt-cornflowerblue-20)) }
.sf-c-txt-cornflowerblue\:30 { color: hsl(var(--sf-c-txt-cornflowerblue-30)) }
.sf-c-txt-cornflowerblue\:40 { color: hsl(var(--sf-c-txt-cornflowerblue-40)) }
.sf-c-txt-cornflowerblue\:50 { color: hsl(var(--sf-c-txt-cornflowerblue-50)) }
.sf-c-txt-cornflowerblue\:60 { color: hsl(var(--sf-c-txt-cornflowerblue-60)) }
.sf-c-txt-cornflowerblue\:70 { color: hsl(var(--sf-c-txt-cornflowerblue-70)) }
.sf-c-txt-cornflowerblue\:80 { color: hsl(var(--sf-c-txt-cornflowerblue-80)) }
.sf-c-txt-cornflowerblue\:90 { color: hsl(var(--sf-c-txt-cornflowerblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:dark { color: hsl(var(--sf-c-txt-cornflowerblue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:10\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:20\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:30\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:40\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:50\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:60\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:70\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:80\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-cornflowerblue\:90\:dark { color: hsl(var(--sf-c-txt-cornflowerblue-90)) }