:root {
  --sf-c-cornsilk: 48 100% 93%;
  --sf-c-cornsilk-0: 48 100% 0%;
  --sf-c-cornsilk-10: 48 100% 10%;
  --sf-c-cornsilk-20: 48 100% 20%;
  --sf-c-cornsilk-30: 48 100% 30%;
  --sf-c-cornsilk-40: 48 100% 40%;
  --sf-c-cornsilk-50: 48 100% 50%;
  --sf-c-cornsilk-60: 48 100% 60%;
  --sf-c-cornsilk-70: 48 100% 70%;
  --sf-c-cornsilk-80: 48 100% 80%;
  --sf-c-cornsilk-90: 48 100% 90%;
  --sf-c-cornsilk-100: 48 100% 100%;

  --sf-c-txt-cornsilk: var(--sf-c-cornsilk);
  --sf-c-txt-cornsilk-0: var(--sf-c-cornsilk-0);
  --sf-c-txt-cornsilk-10: var(--sf-c-cornsilk-10);
  --sf-c-txt-cornsilk-20: var(--sf-c-cornsilk-20);
  --sf-c-txt-cornsilk-30: var(--sf-c-cornsilk-30);
  --sf-c-txt-cornsilk-40: var(--sf-c-cornsilk-40);
  --sf-c-txt-cornsilk-50: var(--sf-c-cornsilk-50);
  --sf-c-txt-cornsilk-60: var(--sf-c-cornsilk-60);
  --sf-c-txt-cornsilk-70: var(--sf-c-cornsilk-70);
  --sf-c-txt-cornsilk-80: var(--sf-c-cornsilk-80);
  --sf-c-txt-cornsilk-90: var(--sf-c-cornsilk-90);
  --sf-c-txt-cornsilk-100: var(--sf-c-cornsilk-100);

  --sf-dark-c-cornsilk: 48 100% 7%;
  --sf-dark-c-cornsilk-0: 48 100% 0%;
  --sf-dark-c-cornsilk-10: 48 100% 10%;
  --sf-dark-c-cornsilk-20: 48 100% 20%;
  --sf-dark-c-cornsilk-30: 48 100% 30%;
  --sf-dark-c-cornsilk-40: 48 100% 40%;
  --sf-dark-c-cornsilk-50: 48 100% 50%;
  --sf-dark-c-cornsilk-60: 48 100% 60%;
  --sf-dark-c-cornsilk-70: 48 100% 70%;
  --sf-dark-c-cornsilk-80: 48 100% 80%;
  --sf-dark-c-cornsilk-90: 48 100% 90%;
  --sf-dark-c-cornsilk-100: 48 100% 100%;

  --sf-dark-c-txt-cornsilk: var(--sf-dark-c-cornsilk);
  --sf-dark-c-txt-cornsilk-0: var(--sf-dark-c-cornsilk-0);
  --sf-dark-c-txt-cornsilk-10: var(--sf-dark-c-cornsilk-10);
  --sf-dark-c-txt-cornsilk-20: var(--sf-dark-c-cornsilk-20);
  --sf-dark-c-txt-cornsilk-30: var(--sf-dark-c-cornsilk-30);
  --sf-dark-c-txt-cornsilk-40: var(--sf-dark-c-cornsilk-40);
  --sf-dark-c-txt-cornsilk-50: var(--sf-dark-c-cornsilk-50);
  --sf-dark-c-txt-cornsilk-60: var(--sf-dark-c-cornsilk-60);
  --sf-dark-c-txt-cornsilk-70: var(--sf-dark-c-cornsilk-70);
  --sf-dark-c-txt-cornsilk-80: var(--sf-dark-c-cornsilk-80);
  --sf-dark-c-txt-cornsilk-90: var(--sf-dark-c-cornsilk-90);
  --sf-dark-c-txt-cornsilk-100: var(--sf-dark-c-cornsilk-100);
}

.sf-c-cornsilk { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk)) }
.sf-c-cornsilk\:0 { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-0)) }
.sf-c-cornsilk\:10 { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-10)) }
.sf-c-cornsilk\:20 { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-20)) }
.sf-c-cornsilk\:30 { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-30)) }
.sf-c-cornsilk\:40 { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-40)) }
.sf-c-cornsilk\:50 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-50)) }
.sf-c-cornsilk\:60 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-60)) }
.sf-c-cornsilk\:70 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-70)) }
.sf-c-cornsilk\:80 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-80)) }
.sf-c-cornsilk\:90 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-90)) }
.sf-c-cornsilk\:100 { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-100)) }

html.var .sf-c-cornsilk { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 93%) }
html.var .sf-c-cornsilk\:0 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }
html.var .sf-c-cornsilk\:10 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
html.var .sf-c-cornsilk\:20 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
html.var .sf-c-cornsilk\:30 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
html.var .sf-c-cornsilk\:40 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 40%) }
html.var .sf-c-cornsilk\:50 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
html.var .sf-c-cornsilk\:60 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
html.var .sf-c-cornsilk\:70 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
html.var .sf-c-cornsilk\:80 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
html.var .sf-c-cornsilk\:90 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
html.var .sf-c-cornsilk\:100 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }

html[data-theme='dark'] .sf-c-cornsilk, html.dark .sf-c-cornsilk { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk)) }
html[data-theme='dark'] .sf-c-cornsilk\:0, html.dark .sf-c-cornsilk\:0 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-100)) }
html[data-theme='dark'] .sf-c-cornsilk\:10, html.dark .sf-c-cornsilk\:10 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-90)) }
html[data-theme='dark'] .sf-c-cornsilk\:20, html.dark .sf-c-cornsilk\:20 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-80)) }
html[data-theme='dark'] .sf-c-cornsilk\:30, html.dark .sf-c-cornsilk\:30 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-70)) }
html[data-theme='dark'] .sf-c-cornsilk\:40, html.dark .sf-c-cornsilk\:40 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-60)) }
html[data-theme='dark'] .sf-c-cornsilk\:50, html.dark .sf-c-cornsilk\:50 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-50)) }
html[data-theme='dark'] .sf-c-cornsilk\:60, html.dark .sf-c-cornsilk\:60 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-40)) }
html[data-theme='dark'] .sf-c-cornsilk\:70, html.dark .sf-c-cornsilk\:70 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-30)) }
html[data-theme='dark'] .sf-c-cornsilk\:80, html.dark .sf-c-cornsilk\:80 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-20)) }
html[data-theme='dark'] .sf-c-cornsilk\:90, html.dark .sf-c-cornsilk\:90 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-10)) }
html[data-theme='dark'] .sf-c-cornsilk\:100, html.dark .sf-c-cornsilk\:100 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-0)) }

html[data-theme='dark'] .sf-c-cornsilk\:dark, html.dark .sf-c-cornsilk\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk)) }
html[data-theme='dark'] .sf-c-cornsilk\:0\:dark, html.dark .sf-c-cornsilk\:0\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-100)) }
html[data-theme='dark'] .sf-c-cornsilk\:10\:dark, html.dark .sf-c-cornsilk\:10\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-90)) }
html[data-theme='dark'] .sf-c-cornsilk\:20\:dark, html.dark .sf-c-cornsilk\:20\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-80)) }
html[data-theme='dark'] .sf-c-cornsilk\:30\:dark, html.dark .sf-c-cornsilk\:30\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-70)) }
html[data-theme='dark'] .sf-c-cornsilk\:40\:dark, html.dark .sf-c-cornsilk\:40\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-60)) }
html[data-theme='dark'] .sf-c-cornsilk\:50\:dark, html.dark .sf-c-cornsilk\:50\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-50)) }
html[data-theme='dark'] .sf-c-cornsilk\:60\:dark, html.dark .sf-c-cornsilk\:60\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-40)) }
html[data-theme='dark'] .sf-c-cornsilk\:70\:dark, html.dark .sf-c-cornsilk\:70\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-30)) }
html[data-theme='dark'] .sf-c-cornsilk\:80\:dark, html.dark .sf-c-cornsilk\:80\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-20)) }
html[data-theme='dark'] .sf-c-cornsilk\:90\:dark, html.dark .sf-c-cornsilk\:90\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-10)) }
html[data-theme='dark'] .sf-c-cornsilk\:100\:dark, html.dark .sf-c-cornsilk\:100\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-0)) }

html.var[data-theme='dark'] .sf-c-cornsilk, html.var.dark .sf-c-cornsilk { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:0, html.var.dark .sf-c-cornsilk\:0 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:10, html.var.dark .sf-c-cornsilk\:10 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:20, html.var.dark .sf-c-cornsilk\:20 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:30, html.var.dark .sf-c-cornsilk\:30 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:40, html.var.dark .sf-c-cornsilk\:40 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:50, html.var.dark .sf-c-cornsilk\:50 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:60, html.var.dark .sf-c-cornsilk\:60 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:70, html.var.dark .sf-c-cornsilk\:70 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:80, html.var.dark .sf-c-cornsilk\:80 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:90, html.var.dark .sf-c-cornsilk\:90 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:100, html.var.dark .sf-c-cornsilk\:100 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-cornsilk\:dark, html.var.dark .sf-c-cornsilk\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:0\:dark, html.var.dark .sf-c-cornsilk\:0\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:10\:dark, html.var.dark .sf-c-cornsilk\:10\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:20\:dark, html.var.dark .sf-c-cornsilk\:20\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:30\:dark, html.var.dark .sf-c-cornsilk\:30\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:40\:dark, html.var.dark .sf-c-cornsilk\:40\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:50\:dark, html.var.dark .sf-c-cornsilk\:50\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:60\:dark, html.var.dark .sf-c-cornsilk\:60\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:70\:dark, html.var.dark .sf-c-cornsilk\:70\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:80\:dark, html.var.dark .sf-c-cornsilk\:80\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:90\:dark, html.var.dark .sf-c-cornsilk\:90\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-cornsilk\:100\:dark, html.var.dark .sf-c-cornsilk\:100\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-cornsilk, html.auto .sf-c-cornsilk { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk)) }
  html[data-theme='auto'] .sf-c-cornsilk\:0, html.auto .sf-c-cornsilk\:0 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-100)) }
  html[data-theme='auto'] .sf-c-cornsilk\:10, html.auto .sf-c-cornsilk\:10 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-90)) }
  html[data-theme='auto'] .sf-c-cornsilk\:20, html.auto .sf-c-cornsilk\:20 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-80)) }
  html[data-theme='auto'] .sf-c-cornsilk\:30, html.auto .sf-c-cornsilk\:30 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-70)) }
  html[data-theme='auto'] .sf-c-cornsilk\:40, html.auto .sf-c-cornsilk\:40 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-60)) }
  html[data-theme='auto'] .sf-c-cornsilk\:50, html.auto .sf-c-cornsilk\:50 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-50)) }
  html[data-theme='auto'] .sf-c-cornsilk\:60, html.auto .sf-c-cornsilk\:60 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-40)) }
  html[data-theme='auto'] .sf-c-cornsilk\:70, html.auto .sf-c-cornsilk\:70 { color: hsl(var(--sf-dark-c-txt-cornsilk-10)); background: hsl(var(--sf-dark-c-cornsilk-30)) }
  html[data-theme='auto'] .sf-c-cornsilk\:80, html.auto .sf-c-cornsilk\:80 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-20)) }
  html[data-theme='auto'] .sf-c-cornsilk\:90, html.auto .sf-c-cornsilk\:90 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-10)) }
  html[data-theme='auto'] .sf-c-cornsilk\:100, html.auto .sf-c-cornsilk\:100 { color: hsl(var(--sf-dark-c-txt-cornsilk-90)); background: hsl(var(--sf-dark-c-cornsilk-0)) }

  html[data-theme='auto'] .sf-c-cornsilk\:dark, html.auto .sf-c-cornsilk\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk)) }
  html[data-theme='auto'] .sf-c-cornsilk\:0\:dark, html.auto .sf-c-cornsilk\:0\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-100)) }
  html[data-theme='auto'] .sf-c-cornsilk\:10\:dark, html.auto .sf-c-cornsilk\:10\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-90)) }
  html[data-theme='auto'] .sf-c-cornsilk\:20\:dark, html.auto .sf-c-cornsilk\:20\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-80)) }
  html[data-theme='auto'] .sf-c-cornsilk\:30\:dark, html.auto .sf-c-cornsilk\:30\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-70)) }
  html[data-theme='auto'] .sf-c-cornsilk\:40\:dark, html.auto .sf-c-cornsilk\:40\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-60)) }
  html[data-theme='auto'] .sf-c-cornsilk\:50\:dark, html.auto .sf-c-cornsilk\:50\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-50)) }
  html[data-theme='auto'] .sf-c-cornsilk\:60\:dark, html.auto .sf-c-cornsilk\:60\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-40)) }
  html[data-theme='auto'] .sf-c-cornsilk\:70\:dark, html.auto .sf-c-cornsilk\:70\:dark { color: hsl(var(--sf-c-txt-cornsilk-10)); background: hsl(var(--sf-c-cornsilk-30)) }
  html[data-theme='auto'] .sf-c-cornsilk\:80\:dark, html.auto .sf-c-cornsilk\:80\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-20)) }
  html[data-theme='auto'] .sf-c-cornsilk\:90\:dark, html.auto .sf-c-cornsilk\:90\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-10)) }
  html[data-theme='auto'] .sf-c-cornsilk\:100\:dark, html.auto .sf-c-cornsilk\:100\:dark { color: hsl(var(--sf-c-txt-cornsilk-90)); background: hsl(var(--sf-c-cornsilk-0)) }

  html.var[data-theme='auto'] .sf-c-cornsilk, html.var.auto .sf-c-cornsilk { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:0, html.var.auto .sf-c-cornsilk\:0 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:10, html.var.auto .sf-c-cornsilk\:10 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:20, html.var.auto .sf-c-cornsilk\:20 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:30, html.var.auto .sf-c-cornsilk\:30 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:40, html.var.auto .sf-c-cornsilk\:40 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:50, html.var.auto .sf-c-cornsilk\:50 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:60, html.var.auto .sf-c-cornsilk\:60 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:70, html.var.auto .sf-c-cornsilk\:70 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:80, html.var.auto .sf-c-cornsilk\:80 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:90, html.var.auto .sf-c-cornsilk\:90 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:100, html.var.auto .sf-c-cornsilk\:100 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-cornsilk\:dark, html.var.auto .sf-c-cornsilk\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:0\:dark, html.var.auto .sf-c-cornsilk\:0\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:10\:dark, html.var.auto .sf-c-cornsilk\:10\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:20\:dark, html.var.auto .sf-c-cornsilk\:20\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:30\:dark, html.var.auto .sf-c-cornsilk\:30\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:40\:dark, html.var.auto .sf-c-cornsilk\:40\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:50\:dark, html.var.auto .sf-c-cornsilk\:50\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:60\:dark, html.var.auto .sf-c-cornsilk\:60\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:70\:dark, html.var.auto .sf-c-cornsilk\:70\:dark { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:80\:dark, html.var.auto .sf-c-cornsilk\:80\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:90\:dark, html.var.auto .sf-c-cornsilk\:90\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-cornsilk\:100\:dark, html.var.auto .sf-c-cornsilk\:100\:dark { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }
}

.sf-c-txt-cornsilk { color: hsl(var(--sf-c-txt-cornsilk)) }
.sf-c-txt-cornsilk\:0 { color: hsl(var(--sf-c-txt-cornsilk-0)) }
.sf-c-txt-cornsilk\:10 { color: hsl(var(--sf-c-txt-cornsilk-10)) }
.sf-c-txt-cornsilk\:20 { color: hsl(var(--sf-c-txt-cornsilk-20)) }
.sf-c-txt-cornsilk\:30 { color: hsl(var(--sf-c-txt-cornsilk-30)) }
.sf-c-txt-cornsilk\:40 { color: hsl(var(--sf-c-txt-cornsilk-40)) }
.sf-c-txt-cornsilk\:50 { color: hsl(var(--sf-c-txt-cornsilk-50)) }
.sf-c-txt-cornsilk\:60 { color: hsl(var(--sf-c-txt-cornsilk-60)) }
.sf-c-txt-cornsilk\:70 { color: hsl(var(--sf-c-txt-cornsilk-70)) }
.sf-c-txt-cornsilk\:80 { color: hsl(var(--sf-c-txt-cornsilk-80)) }
.sf-c-txt-cornsilk\:90 { color: hsl(var(--sf-c-txt-cornsilk-90)) }
.sf-c-txt-cornsilk\:100 { color: hsl(var(--sf-c-txt-cornsilk-100)) }
