:root {
  --sf-c-crimson: 348 83% 47%;
  --sf-c-crimson-0: 348 83% 0%;
  --sf-c-crimson-10: 348 83% 10%;
  --sf-c-crimson-20: 348 83% 20%;
  --sf-c-crimson-30: 348 83% 30%;
  --sf-c-crimson-40: 348 83% 40%;
  --sf-c-crimson-50: 348 83% 50%;
  --sf-c-crimson-60: 348 83% 60%;
  --sf-c-crimson-70: 348 83% 70%;
  --sf-c-crimson-80: 348 83% 80%;
  --sf-c-crimson-90: 348 83% 90%;
  --sf-c-crimson-100: 348 83% 100%;

  --sf-c-txt-crimson: var(--sf-c-crimson);
  --sf-c-txt-crimson-0: var(--sf-c-crimson-0);
  --sf-c-txt-crimson-10: var(--sf-c-crimson-10);
  --sf-c-txt-crimson-20: var(--sf-c-crimson-20);
  --sf-c-txt-crimson-30: var(--sf-c-crimson-30);
  --sf-c-txt-crimson-40: var(--sf-c-crimson-40);
  --sf-c-txt-crimson-50: var(--sf-c-crimson-50);
  --sf-c-txt-crimson-60: var(--sf-c-crimson-60);
  --sf-c-txt-crimson-70: var(--sf-c-crimson-70);
  --sf-c-txt-crimson-80: var(--sf-c-crimson-80);
  --sf-c-txt-crimson-90: var(--sf-c-crimson-90);
  --sf-c-txt-crimson-100: var(--sf-c-crimson-100);

  --sf-dark-c-crimson: 348 83% 53%;
  --sf-dark-c-crimson-0: 348 83% 0%;
  --sf-dark-c-crimson-10: 348 83% 10%;
  --sf-dark-c-crimson-20: 348 83% 20%;
  --sf-dark-c-crimson-30: 348 83% 30%;
  --sf-dark-c-crimson-40: 348 83% 40%;
  --sf-dark-c-crimson-50: 348 83% 50%;
  --sf-dark-c-crimson-60: 348 83% 60%;
  --sf-dark-c-crimson-70: 348 83% 70%;
  --sf-dark-c-crimson-80: 348 83% 80%;
  --sf-dark-c-crimson-90: 348 83% 90%;
  --sf-dark-c-crimson-100: 348 83% 100%;

  --sf-dark-c-txt-crimson: var(--sf-dark-c-crimson);
  --sf-dark-c-txt-crimson-0: var(--sf-dark-c-crimson-0);
  --sf-dark-c-txt-crimson-10: var(--sf-dark-c-crimson-10);
  --sf-dark-c-txt-crimson-20: var(--sf-dark-c-crimson-20);
  --sf-dark-c-txt-crimson-30: var(--sf-dark-c-crimson-30);
  --sf-dark-c-txt-crimson-40: var(--sf-dark-c-crimson-40);
  --sf-dark-c-txt-crimson-50: var(--sf-dark-c-crimson-50);
  --sf-dark-c-txt-crimson-60: var(--sf-dark-c-crimson-60);
  --sf-dark-c-txt-crimson-70: var(--sf-dark-c-crimson-70);
  --sf-dark-c-txt-crimson-80: var(--sf-dark-c-crimson-80);
  --sf-dark-c-txt-crimson-90: var(--sf-dark-c-crimson-90);
  --sf-dark-c-txt-crimson-100: var(--sf-dark-c-crimson-100);
}

.sf-c-crimson { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson)) }
.sf-c-crimson\:0 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-0)) }
.sf-c-crimson\:10 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-10)) }
.sf-c-crimson\:20 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-20)) }
.sf-c-crimson\:30 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-30)) }
.sf-c-crimson\:40 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-40)) }
.sf-c-crimson\:50 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-50)) }
.sf-c-crimson\:60 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-60)) }
.sf-c-crimson\:70 { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-70)) }
.sf-c-crimson\:80 { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-80)) }
.sf-c-crimson\:90 { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-90)) }
.sf-c-crimson\:100 { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-100)) }

html.var .sf-c-crimson { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 47%) }
html.var .sf-c-crimson\:0 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 0%) }
html.var .sf-c-crimson\:10 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 10%) }
html.var .sf-c-crimson\:20 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 20%) }
html.var .sf-c-crimson\:30 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 30%) }
html.var .sf-c-crimson\:40 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 40%) }
html.var .sf-c-crimson\:50 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 50%) }
html.var .sf-c-crimson\:60 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 60%) }
html.var .sf-c-crimson\:70 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 70%) }
html.var .sf-c-crimson\:80 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 80%) }
html.var .sf-c-crimson\:90 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 90%) }
html.var .sf-c-crimson\:100 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 100%) }

html[data-theme='dark'] .sf-c-crimson, html.dark .sf-c-crimson { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson)) }
html[data-theme='dark'] .sf-c-crimson\:0, html.dark .sf-c-crimson\:0 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-100)) }
html[data-theme='dark'] .sf-c-crimson\:10, html.dark .sf-c-crimson\:10 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-90)) }
html[data-theme='dark'] .sf-c-crimson\:20, html.dark .sf-c-crimson\:20 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-80)) }
html[data-theme='dark'] .sf-c-crimson\:30, html.dark .sf-c-crimson\:30 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-70)) }
html[data-theme='dark'] .sf-c-crimson\:40, html.dark .sf-c-crimson\:40 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-60)) }
html[data-theme='dark'] .sf-c-crimson\:50, html.dark .sf-c-crimson\:50 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-50)) }
html[data-theme='dark'] .sf-c-crimson\:60, html.dark .sf-c-crimson\:60 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-40)) }
html[data-theme='dark'] .sf-c-crimson\:70, html.dark .sf-c-crimson\:70 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-30)) }
html[data-theme='dark'] .sf-c-crimson\:80, html.dark .sf-c-crimson\:80 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-20)) }
html[data-theme='dark'] .sf-c-crimson\:90, html.dark .sf-c-crimson\:90 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-10)) }
html[data-theme='dark'] .sf-c-crimson\:100, html.dark .sf-c-crimson\:100 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-0)) }

html[data-theme='dark'] .sf-c-crimson\:dark, html.dark .sf-c-crimson\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson)) }
html[data-theme='dark'] .sf-c-crimson\:0\:dark, html.dark .sf-c-crimson\:0\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-100)) }
html[data-theme='dark'] .sf-c-crimson\:10\:dark, html.dark .sf-c-crimson\:10\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-90)) }
html[data-theme='dark'] .sf-c-crimson\:20\:dark, html.dark .sf-c-crimson\:20\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-80)) }
html[data-theme='dark'] .sf-c-crimson\:30\:dark, html.dark .sf-c-crimson\:30\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-70)) }
html[data-theme='dark'] .sf-c-crimson\:40\:dark, html.dark .sf-c-crimson\:40\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-60)) }
html[data-theme='dark'] .sf-c-crimson\:50\:dark, html.dark .sf-c-crimson\:50\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-50)) }
html[data-theme='dark'] .sf-c-crimson\:60\:dark, html.dark .sf-c-crimson\:60\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-40)) }
html[data-theme='dark'] .sf-c-crimson\:70\:dark, html.dark .sf-c-crimson\:70\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-30)) }
html[data-theme='dark'] .sf-c-crimson\:80\:dark, html.dark .sf-c-crimson\:80\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-20)) }
html[data-theme='dark'] .sf-c-crimson\:90\:dark, html.dark .sf-c-crimson\:90\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-10)) }
html[data-theme='dark'] .sf-c-crimson\:100\:dark, html.dark .sf-c-crimson\:100\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-0)) }

html.var[data-theme='dark'] .sf-c-crimson, html.var.dark .sf-c-crimson { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 53%) }
html.var[data-theme='dark'] .sf-c-crimson\:0, html.var.dark .sf-c-crimson\:0 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 100%) }
html.var[data-theme='dark'] .sf-c-crimson\:10, html.var.dark .sf-c-crimson\:10 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 90%) }
html.var[data-theme='dark'] .sf-c-crimson\:20, html.var.dark .sf-c-crimson\:20 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 80%) }
html.var[data-theme='dark'] .sf-c-crimson\:30, html.var.dark .sf-c-crimson\:30 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 70%) }
html.var[data-theme='dark'] .sf-c-crimson\:40, html.var.dark .sf-c-crimson\:40 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 60%) }
html.var[data-theme='dark'] .sf-c-crimson\:50, html.var.dark .sf-c-crimson\:50 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 50%) }
html.var[data-theme='dark'] .sf-c-crimson\:60, html.var.dark .sf-c-crimson\:60 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 40%) }
html.var[data-theme='dark'] .sf-c-crimson\:70, html.var.dark .sf-c-crimson\:70 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 30%) }
html.var[data-theme='dark'] .sf-c-crimson\:80, html.var.dark .sf-c-crimson\:80 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 20%) }
html.var[data-theme='dark'] .sf-c-crimson\:90, html.var.dark .sf-c-crimson\:90 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 10%) }
html.var[data-theme='dark'] .sf-c-crimson\:100, html.var.dark .sf-c-crimson\:100 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 0%) }

html.var[data-theme='dark'] .sf-c-crimson\:dark, html.var.dark .sf-c-crimson\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 53%) }
html.var[data-theme='dark'] .sf-c-crimson\:0\:dark, html.var.dark .sf-c-crimson\:0\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 100%) }
html.var[data-theme='dark'] .sf-c-crimson\:10\:dark, html.var.dark .sf-c-crimson\:10\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 90%) }
html.var[data-theme='dark'] .sf-c-crimson\:20\:dark, html.var.dark .sf-c-crimson\:20\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 80%) }
html.var[data-theme='dark'] .sf-c-crimson\:30\:dark, html.var.dark .sf-c-crimson\:30\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 70%) }
html.var[data-theme='dark'] .sf-c-crimson\:40\:dark, html.var.dark .sf-c-crimson\:40\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 60%) }
html.var[data-theme='dark'] .sf-c-crimson\:50\:dark, html.var.dark .sf-c-crimson\:50\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 50%) }
html.var[data-theme='dark'] .sf-c-crimson\:60\:dark, html.var.dark .sf-c-crimson\:60\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 40%) }
html.var[data-theme='dark'] .sf-c-crimson\:70\:dark, html.var.dark .sf-c-crimson\:70\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 30%) }
html.var[data-theme='dark'] .sf-c-crimson\:80\:dark, html.var.dark .sf-c-crimson\:80\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 20%) }
html.var[data-theme='dark'] .sf-c-crimson\:90\:dark, html.var.dark .sf-c-crimson\:90\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 10%) }
html.var[data-theme='dark'] .sf-c-crimson\:100\:dark, html.var.dark .sf-c-crimson\:100\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-crimson, html.auto .sf-c-crimson { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson)) }
  html[data-theme='auto'] .sf-c-crimson\:0, html.auto .sf-c-crimson\:0 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-100)) }
  html[data-theme='auto'] .sf-c-crimson\:10, html.auto .sf-c-crimson\:10 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-90)) }
  html[data-theme='auto'] .sf-c-crimson\:20, html.auto .sf-c-crimson\:20 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-80)) }
  html[data-theme='auto'] .sf-c-crimson\:30, html.auto .sf-c-crimson\:30 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-70)) }
  html[data-theme='auto'] .sf-c-crimson\:40, html.auto .sf-c-crimson\:40 { color: hsl(var(--sf-dark-c-txt-crimson-10)); background: hsl(var(--sf-dark-c-crimson-60)) }
  html[data-theme='auto'] .sf-c-crimson\:50, html.auto .sf-c-crimson\:50 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-50)) }
  html[data-theme='auto'] .sf-c-crimson\:60, html.auto .sf-c-crimson\:60 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-40)) }
  html[data-theme='auto'] .sf-c-crimson\:70, html.auto .sf-c-crimson\:70 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-30)) }
  html[data-theme='auto'] .sf-c-crimson\:80, html.auto .sf-c-crimson\:80 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-20)) }
  html[data-theme='auto'] .sf-c-crimson\:90, html.auto .sf-c-crimson\:90 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-10)) }
  html[data-theme='auto'] .sf-c-crimson\:100, html.auto .sf-c-crimson\:100 { color: hsl(var(--sf-dark-c-txt-crimson-90)); background: hsl(var(--sf-dark-c-crimson-0)) }

  html[data-theme='auto'] .sf-c-crimson\:dark, html.auto .sf-c-crimson\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson)) }
  html[data-theme='auto'] .sf-c-crimson\:0\:dark, html.auto .sf-c-crimson\:0\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-100)) }
  html[data-theme='auto'] .sf-c-crimson\:10\:dark, html.auto .sf-c-crimson\:10\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-90)) }
  html[data-theme='auto'] .sf-c-crimson\:20\:dark, html.auto .sf-c-crimson\:20\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-80)) }
  html[data-theme='auto'] .sf-c-crimson\:30\:dark, html.auto .sf-c-crimson\:30\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-70)) }
  html[data-theme='auto'] .sf-c-crimson\:40\:dark, html.auto .sf-c-crimson\:40\:dark { color: hsl(var(--sf-c-txt-crimson-10)); background: hsl(var(--sf-c-crimson-60)) }
  html[data-theme='auto'] .sf-c-crimson\:50\:dark, html.auto .sf-c-crimson\:50\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-50)) }
  html[data-theme='auto'] .sf-c-crimson\:60\:dark, html.auto .sf-c-crimson\:60\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-40)) }
  html[data-theme='auto'] .sf-c-crimson\:70\:dark, html.auto .sf-c-crimson\:70\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-30)) }
  html[data-theme='auto'] .sf-c-crimson\:80\:dark, html.auto .sf-c-crimson\:80\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-20)) }
  html[data-theme='auto'] .sf-c-crimson\:90\:dark, html.auto .sf-c-crimson\:90\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-10)) }
  html[data-theme='auto'] .sf-c-crimson\:100\:dark, html.auto .sf-c-crimson\:100\:dark { color: hsl(var(--sf-c-txt-crimson-90)); background: hsl(var(--sf-c-crimson-0)) }

  html.var[data-theme='auto'] .sf-c-crimson, html.var.auto .sf-c-crimson { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 53%) }
  html.var[data-theme='auto'] .sf-c-crimson\:0, html.var.auto .sf-c-crimson\:0 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 100%) }
  html.var[data-theme='auto'] .sf-c-crimson\:10, html.var.auto .sf-c-crimson\:10 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 90%) }
  html.var[data-theme='auto'] .sf-c-crimson\:20, html.var.auto .sf-c-crimson\:20 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 80%) }
  html.var[data-theme='auto'] .sf-c-crimson\:30, html.var.auto .sf-c-crimson\:30 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 70%) }
  html.var[data-theme='auto'] .sf-c-crimson\:40, html.var.auto .sf-c-crimson\:40 { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 60%) }
  html.var[data-theme='auto'] .sf-c-crimson\:50, html.var.auto .sf-c-crimson\:50 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 50%) }
  html.var[data-theme='auto'] .sf-c-crimson\:60, html.var.auto .sf-c-crimson\:60 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 40%) }
  html.var[data-theme='auto'] .sf-c-crimson\:70, html.var.auto .sf-c-crimson\:70 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 30%) }
  html.var[data-theme='auto'] .sf-c-crimson\:80, html.var.auto .sf-c-crimson\:80 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 20%) }
  html.var[data-theme='auto'] .sf-c-crimson\:90, html.var.auto .sf-c-crimson\:90 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 10%) }
  html.var[data-theme='auto'] .sf-c-crimson\:100, html.var.auto .sf-c-crimson\:100 { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 0%) }

  html.var[data-theme='auto'] .sf-c-crimson\:dark, html.var.auto .sf-c-crimson\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 53%) }
  html.var[data-theme='auto'] .sf-c-crimson\:0\:dark, html.var.auto .sf-c-crimson\:0\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 100%) }
  html.var[data-theme='auto'] .sf-c-crimson\:10\:dark, html.var.auto .sf-c-crimson\:10\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 90%) }
  html.var[data-theme='auto'] .sf-c-crimson\:20\:dark, html.var.auto .sf-c-crimson\:20\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 80%) }
  html.var[data-theme='auto'] .sf-c-crimson\:30\:dark, html.var.auto .sf-c-crimson\:30\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 70%) }
  html.var[data-theme='auto'] .sf-c-crimson\:40\:dark, html.var.auto .sf-c-crimson\:40\:dark { color: hsl(348, 83%, 10%); background: hsl(348, 83%, 60%) }
  html.var[data-theme='auto'] .sf-c-crimson\:50\:dark, html.var.auto .sf-c-crimson\:50\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 50%) }
  html.var[data-theme='auto'] .sf-c-crimson\:60\:dark, html.var.auto .sf-c-crimson\:60\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 40%) }
  html.var[data-theme='auto'] .sf-c-crimson\:70\:dark, html.var.auto .sf-c-crimson\:70\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 30%) }
  html.var[data-theme='auto'] .sf-c-crimson\:80\:dark, html.var.auto .sf-c-crimson\:80\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 20%) }
  html.var[data-theme='auto'] .sf-c-crimson\:90\:dark, html.var.auto .sf-c-crimson\:90\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 10%) }
  html.var[data-theme='auto'] .sf-c-crimson\:100\:dark, html.var.auto .sf-c-crimson\:100\:dark { color: hsl(348, 83%, 90%); background: hsl(348, 83%, 0%) }
}

.sf-c-txt-crimson { color: hsl(var(--sf-c-txt-crimson)) }
.sf-c-txt-crimson\:0 { color: hsl(var(--sf-c-txt-crimson-0)) }
.sf-c-txt-crimson\:10 { color: hsl(var(--sf-c-txt-crimson-10)) }
.sf-c-txt-crimson\:20 { color: hsl(var(--sf-c-txt-crimson-20)) }
.sf-c-txt-crimson\:30 { color: hsl(var(--sf-c-txt-crimson-30)) }
.sf-c-txt-crimson\:40 { color: hsl(var(--sf-c-txt-crimson-40)) }
.sf-c-txt-crimson\:50 { color: hsl(var(--sf-c-txt-crimson-50)) }
.sf-c-txt-crimson\:60 { color: hsl(var(--sf-c-txt-crimson-60)) }
.sf-c-txt-crimson\:70 { color: hsl(var(--sf-c-txt-crimson-70)) }
.sf-c-txt-crimson\:80 { color: hsl(var(--sf-c-txt-crimson-80)) }
.sf-c-txt-crimson\:90 { color: hsl(var(--sf-c-txt-crimson-90)) }
.sf-c-txt-crimson\:100 { color: hsl(var(--sf-c-txt-crimson-100)) }
