:root {
  --sf-c-cyan: 180 100% 50%;
  --sf-c-cyan-0: 180 100% 0%;
  --sf-c-cyan-10: 180 100% 10%;
  --sf-c-cyan-20: 180 100% 20%;
  --sf-c-cyan-30: 180 100% 30%;
  --sf-c-cyan-40: 180 100% 40%;
  --sf-c-cyan-50: 180 100% 50%;
  --sf-c-cyan-60: 180 100% 60%;
  --sf-c-cyan-70: 180 100% 70%;
  --sf-c-cyan-80: 180 100% 80%;
  --sf-c-cyan-90: 180 100% 90%;
  --sf-c-cyan-100: 180 100% 100%;

  --sf-c-txt-cyan: var(--sf-c-cyan);
  --sf-c-txt-cyan-0: var(--sf-c-cyan-0);
  --sf-c-txt-cyan-10: var(--sf-c-cyan-10);
  --sf-c-txt-cyan-20: var(--sf-c-cyan-20);
  --sf-c-txt-cyan-30: var(--sf-c-cyan-30);
  --sf-c-txt-cyan-40: var(--sf-c-cyan-40);
  --sf-c-txt-cyan-50: var(--sf-c-cyan-50);
  --sf-c-txt-cyan-60: var(--sf-c-cyan-60);
  --sf-c-txt-cyan-70: var(--sf-c-cyan-70);
  --sf-c-txt-cyan-80: var(--sf-c-cyan-80);
  --sf-c-txt-cyan-90: var(--sf-c-cyan-90);
  --sf-c-txt-cyan-100: var(--sf-c-cyan-100);

  --sf-dark-c-cyan: 180 100% 50%;
  --sf-dark-c-cyan-0: 180 100% 0%;
  --sf-dark-c-cyan-10: 180 100% 10%;
  --sf-dark-c-cyan-20: 180 100% 20%;
  --sf-dark-c-cyan-30: 180 100% 30%;
  --sf-dark-c-cyan-40: 180 100% 40%;
  --sf-dark-c-cyan-50: 180 100% 50%;
  --sf-dark-c-cyan-60: 180 100% 60%;
  --sf-dark-c-cyan-70: 180 100% 70%;
  --sf-dark-c-cyan-80: 180 100% 80%;
  --sf-dark-c-cyan-90: 180 100% 90%;
  --sf-dark-c-cyan-100: 180 100% 100%;

  --sf-dark-c-txt-cyan: var(--sf-dark-c-cyan);
  --sf-dark-c-txt-cyan-0: var(--sf-dark-c-cyan-0);
  --sf-dark-c-txt-cyan-10: var(--sf-dark-c-cyan-10);
  --sf-dark-c-txt-cyan-20: var(--sf-dark-c-cyan-20);
  --sf-dark-c-txt-cyan-30: var(--sf-dark-c-cyan-30);
  --sf-dark-c-txt-cyan-40: var(--sf-dark-c-cyan-40);
  --sf-dark-c-txt-cyan-50: var(--sf-dark-c-cyan-50);
  --sf-dark-c-txt-cyan-60: var(--sf-dark-c-cyan-60);
  --sf-dark-c-txt-cyan-70: var(--sf-dark-c-cyan-70);
  --sf-dark-c-txt-cyan-80: var(--sf-dark-c-cyan-80);
  --sf-dark-c-txt-cyan-90: var(--sf-dark-c-cyan-90);
  --sf-dark-c-txt-cyan-100: var(--sf-dark-c-cyan-100);
}

.sf-c-cyan { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan)) }
.sf-c-cyan\:0 { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-0)) }
.sf-c-cyan\:10 { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-10)) }
.sf-c-cyan\:20 { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-20)) }
.sf-c-cyan\:30 { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-30)) }
.sf-c-cyan\:40 { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-40)) }
.sf-c-cyan\:50 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-50)) }
.sf-c-cyan\:60 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-60)) }
.sf-c-cyan\:70 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-70)) }
.sf-c-cyan\:80 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-80)) }
.sf-c-cyan\:90 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-90)) }
.sf-c-cyan\:100 { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-100)) }

html.var .sf-c-cyan { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var .sf-c-cyan\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
html.var .sf-c-cyan\:10 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var .sf-c-cyan\:20 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var .sf-c-cyan\:30 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
html.var .sf-c-cyan\:40 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 40%) }
html.var .sf-c-cyan\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var .sf-c-cyan\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var .sf-c-cyan\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var .sf-c-cyan\:80 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var .sf-c-cyan\:90 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var .sf-c-cyan\:100 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }

html[data-theme='dark'] .sf-c-cyan, html.dark .sf-c-cyan { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan)) }
html[data-theme='dark'] .sf-c-cyan\:0, html.dark .sf-c-cyan\:0 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-100)) }
html[data-theme='dark'] .sf-c-cyan\:10, html.dark .sf-c-cyan\:10 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-90)) }
html[data-theme='dark'] .sf-c-cyan\:20, html.dark .sf-c-cyan\:20 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-80)) }
html[data-theme='dark'] .sf-c-cyan\:30, html.dark .sf-c-cyan\:30 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-70)) }
html[data-theme='dark'] .sf-c-cyan\:40, html.dark .sf-c-cyan\:40 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-60)) }
html[data-theme='dark'] .sf-c-cyan\:50, html.dark .sf-c-cyan\:50 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-50)) }
html[data-theme='dark'] .sf-c-cyan\:60, html.dark .sf-c-cyan\:60 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-40)) }
html[data-theme='dark'] .sf-c-cyan\:70, html.dark .sf-c-cyan\:70 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-30)) }
html[data-theme='dark'] .sf-c-cyan\:80, html.dark .sf-c-cyan\:80 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-20)) }
html[data-theme='dark'] .sf-c-cyan\:90, html.dark .sf-c-cyan\:90 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-10)) }
html[data-theme='dark'] .sf-c-cyan\:100, html.dark .sf-c-cyan\:100 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-0)) }

html[data-theme='dark'] .sf-c-cyan\:dark, html.dark .sf-c-cyan\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan)) }
html[data-theme='dark'] .sf-c-cyan\:0\:dark, html.dark .sf-c-cyan\:0\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-100)) }
html[data-theme='dark'] .sf-c-cyan\:10\:dark, html.dark .sf-c-cyan\:10\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-90)) }
html[data-theme='dark'] .sf-c-cyan\:20\:dark, html.dark .sf-c-cyan\:20\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-80)) }
html[data-theme='dark'] .sf-c-cyan\:30\:dark, html.dark .sf-c-cyan\:30\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-70)) }
html[data-theme='dark'] .sf-c-cyan\:40\:dark, html.dark .sf-c-cyan\:40\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-60)) }
html[data-theme='dark'] .sf-c-cyan\:50\:dark, html.dark .sf-c-cyan\:50\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-50)) }
html[data-theme='dark'] .sf-c-cyan\:60\:dark, html.dark .sf-c-cyan\:60\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-40)) }
html[data-theme='dark'] .sf-c-cyan\:70\:dark, html.dark .sf-c-cyan\:70\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-30)) }
html[data-theme='dark'] .sf-c-cyan\:80\:dark, html.dark .sf-c-cyan\:80\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-20)) }
html[data-theme='dark'] .sf-c-cyan\:90\:dark, html.dark .sf-c-cyan\:90\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-10)) }
html[data-theme='dark'] .sf-c-cyan\:100\:dark, html.dark .sf-c-cyan\:100\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-0)) }

html.var[data-theme='dark'] .sf-c-cyan, html.var.dark .sf-c-cyan { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cyan\:0, html.var.dark .sf-c-cyan\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-cyan\:10, html.var.dark .sf-c-cyan\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-cyan\:20, html.var.dark .sf-c-cyan\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-cyan\:30, html.var.dark .sf-c-cyan\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-cyan\:40, html.var.dark .sf-c-cyan\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-cyan\:50, html.var.dark .sf-c-cyan\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cyan\:60, html.var.dark .sf-c-cyan\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-cyan\:70, html.var.dark .sf-c-cyan\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-cyan\:80, html.var.dark .sf-c-cyan\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-cyan\:90, html.var.dark .sf-c-cyan\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-cyan\:100, html.var.dark .sf-c-cyan\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-cyan\:dark, html.var.dark .sf-c-cyan\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cyan\:0\:dark, html.var.dark .sf-c-cyan\:0\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-cyan\:10\:dark, html.var.dark .sf-c-cyan\:10\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-cyan\:20\:dark, html.var.dark .sf-c-cyan\:20\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-cyan\:30\:dark, html.var.dark .sf-c-cyan\:30\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-cyan\:40\:dark, html.var.dark .sf-c-cyan\:40\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-cyan\:50\:dark, html.var.dark .sf-c-cyan\:50\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-cyan\:60\:dark, html.var.dark .sf-c-cyan\:60\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-cyan\:70\:dark, html.var.dark .sf-c-cyan\:70\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-cyan\:80\:dark, html.var.dark .sf-c-cyan\:80\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-cyan\:90\:dark, html.var.dark .sf-c-cyan\:90\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-cyan\:100\:dark, html.var.dark .sf-c-cyan\:100\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-cyan, html.auto .sf-c-cyan { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan)) }
  html[data-theme='auto'] .sf-c-cyan\:0, html.auto .sf-c-cyan\:0 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-100)) }
  html[data-theme='auto'] .sf-c-cyan\:10, html.auto .sf-c-cyan\:10 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-90)) }
  html[data-theme='auto'] .sf-c-cyan\:20, html.auto .sf-c-cyan\:20 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-80)) }
  html[data-theme='auto'] .sf-c-cyan\:30, html.auto .sf-c-cyan\:30 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-70)) }
  html[data-theme='auto'] .sf-c-cyan\:40, html.auto .sf-c-cyan\:40 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-60)) }
  html[data-theme='auto'] .sf-c-cyan\:50, html.auto .sf-c-cyan\:50 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-50)) }
  html[data-theme='auto'] .sf-c-cyan\:60, html.auto .sf-c-cyan\:60 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-40)) }
  html[data-theme='auto'] .sf-c-cyan\:70, html.auto .sf-c-cyan\:70 { color: hsl(var(--sf-dark-c-txt-cyan-10)); background: hsl(var(--sf-dark-c-cyan-30)) }
  html[data-theme='auto'] .sf-c-cyan\:80, html.auto .sf-c-cyan\:80 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-20)) }
  html[data-theme='auto'] .sf-c-cyan\:90, html.auto .sf-c-cyan\:90 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-10)) }
  html[data-theme='auto'] .sf-c-cyan\:100, html.auto .sf-c-cyan\:100 { color: hsl(var(--sf-dark-c-txt-cyan-90)); background: hsl(var(--sf-dark-c-cyan-0)) }

  html[data-theme='auto'] .sf-c-cyan\:dark, html.auto .sf-c-cyan\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan)) }
  html[data-theme='auto'] .sf-c-cyan\:0\:dark, html.auto .sf-c-cyan\:0\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-100)) }
  html[data-theme='auto'] .sf-c-cyan\:10\:dark, html.auto .sf-c-cyan\:10\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-90)) }
  html[data-theme='auto'] .sf-c-cyan\:20\:dark, html.auto .sf-c-cyan\:20\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-80)) }
  html[data-theme='auto'] .sf-c-cyan\:30\:dark, html.auto .sf-c-cyan\:30\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-70)) }
  html[data-theme='auto'] .sf-c-cyan\:40\:dark, html.auto .sf-c-cyan\:40\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-60)) }
  html[data-theme='auto'] .sf-c-cyan\:50\:dark, html.auto .sf-c-cyan\:50\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-50)) }
  html[data-theme='auto'] .sf-c-cyan\:60\:dark, html.auto .sf-c-cyan\:60\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-40)) }
  html[data-theme='auto'] .sf-c-cyan\:70\:dark, html.auto .sf-c-cyan\:70\:dark { color: hsl(var(--sf-c-txt-cyan-10)); background: hsl(var(--sf-c-cyan-30)) }
  html[data-theme='auto'] .sf-c-cyan\:80\:dark, html.auto .sf-c-cyan\:80\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-20)) }
  html[data-theme='auto'] .sf-c-cyan\:90\:dark, html.auto .sf-c-cyan\:90\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-10)) }
  html[data-theme='auto'] .sf-c-cyan\:100\:dark, html.auto .sf-c-cyan\:100\:dark { color: hsl(var(--sf-c-txt-cyan-90)); background: hsl(var(--sf-c-cyan-0)) }

  html.var[data-theme='auto'] .sf-c-cyan, html.var.auto .sf-c-cyan { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cyan\:0, html.var.auto .sf-c-cyan\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-cyan\:10, html.var.auto .sf-c-cyan\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-cyan\:20, html.var.auto .sf-c-cyan\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-cyan\:30, html.var.auto .sf-c-cyan\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-cyan\:40, html.var.auto .sf-c-cyan\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-cyan\:50, html.var.auto .sf-c-cyan\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cyan\:60, html.var.auto .sf-c-cyan\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-cyan\:70, html.var.auto .sf-c-cyan\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-cyan\:80, html.var.auto .sf-c-cyan\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-cyan\:90, html.var.auto .sf-c-cyan\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-cyan\:100, html.var.auto .sf-c-cyan\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-cyan\:dark, html.var.auto .sf-c-cyan\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cyan\:0\:dark, html.var.auto .sf-c-cyan\:0\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-cyan\:10\:dark, html.var.auto .sf-c-cyan\:10\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-cyan\:20\:dark, html.var.auto .sf-c-cyan\:20\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-cyan\:30\:dark, html.var.auto .sf-c-cyan\:30\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-cyan\:40\:dark, html.var.auto .sf-c-cyan\:40\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-cyan\:50\:dark, html.var.auto .sf-c-cyan\:50\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-cyan\:60\:dark, html.var.auto .sf-c-cyan\:60\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-cyan\:70\:dark, html.var.auto .sf-c-cyan\:70\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-cyan\:80\:dark, html.var.auto .sf-c-cyan\:80\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-cyan\:90\:dark, html.var.auto .sf-c-cyan\:90\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-cyan\:100\:dark, html.var.auto .sf-c-cyan\:100\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
}

.sf-c-txt-cyan { color: hsl(var(--sf-c-txt-cyan)) }
.sf-c-txt-cyan\:0 { color: hsl(var(--sf-c-txt-cyan-0)) }
.sf-c-txt-cyan\:10 { color: hsl(var(--sf-c-txt-cyan-10)) }
.sf-c-txt-cyan\:20 { color: hsl(var(--sf-c-txt-cyan-20)) }
.sf-c-txt-cyan\:30 { color: hsl(var(--sf-c-txt-cyan-30)) }
.sf-c-txt-cyan\:40 { color: hsl(var(--sf-c-txt-cyan-40)) }
.sf-c-txt-cyan\:50 { color: hsl(var(--sf-c-txt-cyan-50)) }
.sf-c-txt-cyan\:60 { color: hsl(var(--sf-c-txt-cyan-60)) }
.sf-c-txt-cyan\:70 { color: hsl(var(--sf-c-txt-cyan-70)) }
.sf-c-txt-cyan\:80 { color: hsl(var(--sf-c-txt-cyan-80)) }
.sf-c-txt-cyan\:90 { color: hsl(var(--sf-c-txt-cyan-90)) }
.sf-c-txt-cyan\:100 { color: hsl(var(--sf-c-txt-cyan-100)) }