:root {
  --sf-c-darkviolet: 282 100% 41%;
  --sf-c-darkviolet-10: 282 100% 10%;
  --sf-c-darkviolet-20: 282 100% 20%;
  --sf-c-darkviolet-30: 282 100% 30%;
  --sf-c-darkviolet-40: 282 100% 40%;
  --sf-c-darkviolet-50: 282 100% 50%;
  --sf-c-darkviolet-60: 282 100% 60%;
  --sf-c-darkviolet-70: 282 100% 70%;
  --sf-c-darkviolet-80: 282 100% 80%;
  --sf-c-darkviolet-90: 282 100% 90%;
 
  --sf-c-txt-darkviolet: var(--sf-c-darkviolet);
  --sf-c-txt-darkviolet-10: var(--sf-c-darkviolet-10);
  --sf-c-txt-darkviolet-20: var(--sf-c-darkviolet-20);
  --sf-c-txt-darkviolet-30: var(--sf-c-darkviolet-30);
  --sf-c-txt-darkviolet-40: var(--sf-c-darkviolet-40);
  --sf-c-txt-darkviolet-50: var(--sf-c-darkviolet-50);
  --sf-c-txt-darkviolet-60: var(--sf-c-darkviolet-60);
  --sf-c-txt-darkviolet-70: var(--sf-c-darkviolet-70);
  --sf-c-txt-darkviolet-80: var(--sf-c-darkviolet-80);
  --sf-c-txt-darkviolet-90: var(--sf-c-darkviolet-90);
 
  --sf-dark-c-darkviolet: 282 100% 59%;
  --sf-dark-c-darkviolet-10: 282 100% 90%;
  --sf-dark-c-darkviolet-20: 282 100% 80%;
  --sf-dark-c-darkviolet-30: 282 100% 70%;
  --sf-dark-c-darkviolet-40: 282 100% 60%;
  --sf-dark-c-darkviolet-50: 282 100% 50%;
  --sf-dark-c-darkviolet-60: 282 100% 40%;
  --sf-dark-c-darkviolet-70: 282 100% 30%;
  --sf-dark-c-darkviolet-80: 282 100% 20%;
  --sf-dark-c-darkviolet-90: 282 100% 10%;
 
  --sf-dark-c-txt-darkviolet: var(--sf-dark-c-darkviolet);
  --sf-dark-c-txt-darkviolet-10: var(--sf-dark-c-darkviolet-10);
  --sf-dark-c-txt-darkviolet-20: var(--sf-dark-c-darkviolet-20);
  --sf-dark-c-txt-darkviolet-30: var(--sf-dark-c-darkviolet-30);
  --sf-dark-c-txt-darkviolet-40: var(--sf-dark-c-darkviolet-40);
  --sf-dark-c-txt-darkviolet-50: var(--sf-dark-c-darkviolet-50);
  --sf-dark-c-txt-darkviolet-60: var(--sf-dark-c-darkviolet-60);
  --sf-dark-c-txt-darkviolet-70: var(--sf-dark-c-darkviolet-70);
  --sf-dark-c-txt-darkviolet-80: var(--sf-dark-c-darkviolet-80);
  --sf-dark-c-txt-darkviolet-90: var(--sf-dark-c-darkviolet-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-darkviolet: var(--sf-dark-c-darkviolet);
  --sf-c-darkviolet-10: var(--sf-dark-c-darkviolet-10);
  --sf-c-darkviolet-20: var(--sf-dark-c-darkviolet-20);
  --sf-c-darkviolet-30: var(--sf-dark-c-darkviolet-30);
  --sf-c-darkviolet-40: var(--sf-dark-c-darkviolet-40);
  --sf-c-darkviolet-50: var(--sf-dark-c-darkviolet-50);
  --sf-c-darkviolet-60: var(--sf-dark-c-darkviolet-60);
  --sf-c-darkviolet-70: var(--sf-dark-c-darkviolet-70);
  --sf-c-darkviolet-80: var(--sf-dark-c-darkviolet-80);
  --sf-c-darkviolet-90: var(--sf-dark-c-darkviolet-90);
 
  --sf-c-txt-darkviolet: var(--sf-dark-c-txt-darkviolet);
  --sf-c-txt-darkviolet-10: var(--sf-dark-c-txt-darkviolet-10);
  --sf-c-txt-darkviolet-20: var(--sf-dark-c-txt-darkviolet-20);
  --sf-c-txt-darkviolet-30: var(--sf-dark-c-txt-darkviolet-30);
  --sf-c-txt-darkviolet-40: var(--sf-dark-c-txt-darkviolet-40);
  --sf-c-txt-darkviolet-50: var(--sf-dark-c-txt-darkviolet-50);
  --sf-c-txt-darkviolet-60: var(--sf-dark-c-txt-darkviolet-60);
  --sf-c-txt-darkviolet-70: var(--sf-dark-c-txt-darkviolet-70);
  --sf-c-txt-darkviolet-80: var(--sf-dark-c-txt-darkviolet-80);
  --sf-c-txt-darkviolet-90: var(--sf-dark-c-txt-darkviolet-90);
}

.sf-c-darkviolet { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet)) }
.sf-c-darkviolet\:10 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-10)) }
.sf-c-darkviolet\:20 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-20)) }
.sf-c-darkviolet\:30 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-30)) }
.sf-c-darkviolet\:40 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-40)) }
.sf-c-darkviolet\:50 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-50)) }
.sf-c-darkviolet\:60 { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-60)) }
.sf-c-darkviolet\:70 { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-70)) }
.sf-c-darkviolet\:80 { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-80)) }
.sf-c-darkviolet\:90 { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-90)) }
 
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:10, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:10\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-10)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:20, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:20\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-20)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:30, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:30\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-30)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:40, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:40\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-40)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:50, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:50\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-50)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:60, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:60\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-60)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:70, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:70\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-70)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:80, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:80\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-80)) }
:root:where([data-theme='dark'], .dark) .sf-c-darkviolet\:90, :root:is([data-theme='dark'], .dark) .sf-c-darkviolet\:90\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-90)) }
 
@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-darkviolet: var(--sf-dark-c-darkviolet);
    --sf-c-darkviolet-10: var(--sf-dark-c-darkviolet-10);
    --sf-c-darkviolet-20: var(--sf-dark-c-darkviolet-20);
    --sf-c-darkviolet-30: var(--sf-dark-c-darkviolet-30);
    --sf-c-darkviolet-40: var(--sf-dark-c-darkviolet-40);
    --sf-c-darkviolet-50: var(--sf-dark-c-darkviolet-50);
    --sf-c-darkviolet-60: var(--sf-dark-c-darkviolet-60);
    --sf-c-darkviolet-70: var(--sf-dark-c-darkviolet-70);
    --sf-c-darkviolet-80: var(--sf-dark-c-darkviolet-80);
    --sf-c-darkviolet-90: var(--sf-dark-c-darkviolet-90);
 
    --sf-c-txt-darkviolet: var(--sf-dark-c-txt-darkviolet);
    --sf-c-txt-darkviolet-10: var(--sf-dark-c-txt-darkviolet-10);
    --sf-c-txt-darkviolet-20: var(--sf-dark-c-txt-darkviolet-20);
    --sf-c-txt-darkviolet-30: var(--sf-dark-c-txt-darkviolet-30);
    --sf-c-txt-darkviolet-40: var(--sf-dark-c-txt-darkviolet-40);
    --sf-c-txt-darkviolet-50: var(--sf-dark-c-txt-darkviolet-50);
    --sf-c-txt-darkviolet-60: var(--sf-dark-c-txt-darkviolet-60);
    --sf-c-txt-darkviolet-70: var(--sf-dark-c-txt-darkviolet-70);
    --sf-c-txt-darkviolet-80: var(--sf-dark-c-txt-darkviolet-80);
    --sf-c-txt-darkviolet-90: var(--sf-dark-c-txt-darkviolet-90);
  }
 
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:10, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:10\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-10)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:20, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:20\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-20)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:30, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:30\:dark { color: hsl(var(--sf-c-txt-darkviolet-90)); background: hsl(var(--sf-c-darkviolet-30)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:40, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:40\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-40)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:50, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:50\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-50)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:60, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:60\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-60)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:70, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:70\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-70)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:80, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:80\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-80)) }
  :root:where([data-theme='auto'], .auto) .sf-c-darkviolet\:90, :root:is([data-theme='auto'], .auto) .sf-c-darkviolet\:90\:dark { color: hsl(var(--sf-c-txt-darkviolet-10)); background: hsl(var(--sf-c-darkviolet-90)) }
}

.sf-c-txt-darkviolet { color: hsl(var(--sf-c-txt-darkviolet)) }
.sf-c-txt-darkviolet\:10 { color: hsl(var(--sf-c-txt-darkviolet-10)) }
.sf-c-txt-darkviolet\:20 { color: hsl(var(--sf-c-txt-darkviolet-20)) }
.sf-c-txt-darkviolet\:30 { color: hsl(var(--sf-c-txt-darkviolet-30)) }
.sf-c-txt-darkviolet\:40 { color: hsl(var(--sf-c-txt-darkviolet-40)) }
.sf-c-txt-darkviolet\:50 { color: hsl(var(--sf-c-txt-darkviolet-50)) }
.sf-c-txt-darkviolet\:60 { color: hsl(var(--sf-c-txt-darkviolet-60)) }
.sf-c-txt-darkviolet\:70 { color: hsl(var(--sf-c-txt-darkviolet-70)) }
.sf-c-txt-darkviolet\:80 { color: hsl(var(--sf-c-txt-darkviolet-80)) }
.sf-c-txt-darkviolet\:90 { color: hsl(var(--sf-c-txt-darkviolet-90)) }