:root {
  --sf-c-darkolivegreen: 82 39% 30%;
  --sf-c-darkolivegreen-0: 82 39% 0%;
  --sf-c-darkolivegreen-10: 82 39% 10%;
  --sf-c-darkolivegreen-20: 82 39% 20%;
  --sf-c-darkolivegreen-30: 82 39% 30%;
  --sf-c-darkolivegreen-40: 82 39% 40%;
  --sf-c-darkolivegreen-50: 82 39% 50%;
  --sf-c-darkolivegreen-60: 82 39% 60%;
  --sf-c-darkolivegreen-70: 82 39% 70%;
  --sf-c-darkolivegreen-80: 82 39% 80%;
  --sf-c-darkolivegreen-90: 82 39% 90%;
  --sf-c-darkolivegreen-100: 82 39% 100%;

  --sf-c-txt-darkolivegreen: var(--sf-c-darkolivegreen);
  --sf-c-txt-darkolivegreen-0: var(--sf-c-darkolivegreen-0);
  --sf-c-txt-darkolivegreen-10: var(--sf-c-darkolivegreen-10);
  --sf-c-txt-darkolivegreen-20: var(--sf-c-darkolivegreen-20);
  --sf-c-txt-darkolivegreen-30: var(--sf-c-darkolivegreen-30);
  --sf-c-txt-darkolivegreen-40: var(--sf-c-darkolivegreen-40);
  --sf-c-txt-darkolivegreen-50: var(--sf-c-darkolivegreen-50);
  --sf-c-txt-darkolivegreen-60: var(--sf-c-darkolivegreen-60);
  --sf-c-txt-darkolivegreen-70: var(--sf-c-darkolivegreen-70);
  --sf-c-txt-darkolivegreen-80: var(--sf-c-darkolivegreen-80);
  --sf-c-txt-darkolivegreen-90: var(--sf-c-darkolivegreen-90);
  --sf-c-txt-darkolivegreen-100: var(--sf-c-darkolivegreen-100);

  --sf-dark-c-darkolivegreen: 82 39% 70%;
  --sf-dark-c-darkolivegreen-0: 82 39% 0%;
  --sf-dark-c-darkolivegreen-10: 82 39% 10%;
  --sf-dark-c-darkolivegreen-20: 82 39% 20%;
  --sf-dark-c-darkolivegreen-30: 82 39% 30%;
  --sf-dark-c-darkolivegreen-40: 82 39% 40%;
  --sf-dark-c-darkolivegreen-50: 82 39% 50%;
  --sf-dark-c-darkolivegreen-60: 82 39% 60%;
  --sf-dark-c-darkolivegreen-70: 82 39% 70%;
  --sf-dark-c-darkolivegreen-80: 82 39% 80%;
  --sf-dark-c-darkolivegreen-90: 82 39% 90%;
  --sf-dark-c-darkolivegreen-100: 82 39% 100%;

  --sf-dark-c-txt-darkolivegreen: var(--sf-dark-c-darkolivegreen);
  --sf-dark-c-txt-darkolivegreen-0: var(--sf-dark-c-darkolivegreen-0);
  --sf-dark-c-txt-darkolivegreen-10: var(--sf-dark-c-darkolivegreen-10);
  --sf-dark-c-txt-darkolivegreen-20: var(--sf-dark-c-darkolivegreen-20);
  --sf-dark-c-txt-darkolivegreen-30: var(--sf-dark-c-darkolivegreen-30);
  --sf-dark-c-txt-darkolivegreen-40: var(--sf-dark-c-darkolivegreen-40);
  --sf-dark-c-txt-darkolivegreen-50: var(--sf-dark-c-darkolivegreen-50);
  --sf-dark-c-txt-darkolivegreen-60: var(--sf-dark-c-darkolivegreen-60);
  --sf-dark-c-txt-darkolivegreen-70: var(--sf-dark-c-darkolivegreen-70);
  --sf-dark-c-txt-darkolivegreen-80: var(--sf-dark-c-darkolivegreen-80);
  --sf-dark-c-txt-darkolivegreen-90: var(--sf-dark-c-darkolivegreen-90);
  --sf-dark-c-txt-darkolivegreen-100: var(--sf-dark-c-darkolivegreen-100);
}

.sf-c-darkolivegreen { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen)) }
.sf-c-darkolivegreen\:0 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-0)) }
.sf-c-darkolivegreen\:10 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-10)) }
.sf-c-darkolivegreen\:20 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-20)) }
.sf-c-darkolivegreen\:30 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-30)) }
.sf-c-darkolivegreen\:40 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-40)) }
.sf-c-darkolivegreen\:50 { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-50)) }
.sf-c-darkolivegreen\:60 { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-60)) }
.sf-c-darkolivegreen\:70 { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-70)) }
.sf-c-darkolivegreen\:80 { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-80)) }
.sf-c-darkolivegreen\:90 { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-90)) }
.sf-c-darkolivegreen\:100 { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-100)) }

html.var .sf-c-darkolivegreen { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
html.var .sf-c-darkolivegreen\:0 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 0%) }
html.var .sf-c-darkolivegreen\:10 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 10%) }
html.var .sf-c-darkolivegreen\:20 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 20%) }
html.var .sf-c-darkolivegreen\:30 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
html.var .sf-c-darkolivegreen\:40 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 40%) }
html.var .sf-c-darkolivegreen\:50 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 50%) }
html.var .sf-c-darkolivegreen\:60 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 60%) }
html.var .sf-c-darkolivegreen\:70 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
html.var .sf-c-darkolivegreen\:80 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 80%) }
html.var .sf-c-darkolivegreen\:90 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 90%) }
html.var .sf-c-darkolivegreen\:100 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 100%) }

.sf-c-txt-darkolivegreen { color: hsl(var(--sf-dark-c-txt-darkolivegreen)) }
.sf-c-txt-darkolivegreen\:0 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-100)) }
.sf-c-txt-darkolivegreen\:10 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)) }
.sf-c-txt-darkolivegreen\:20 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-80)) }
.sf-c-txt-darkolivegreen\:30 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-70)) }
.sf-c-txt-darkolivegreen\:40 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-60)) }
.sf-c-txt-darkolivegreen\:50 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-50)) }
.sf-c-txt-darkolivegreen\:60 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-40)) }
.sf-c-txt-darkolivegreen\:70 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-30)) }
.sf-c-txt-darkolivegreen\:80 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-20)) }
.sf-c-txt-darkolivegreen\:90 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)) }
.sf-c-txt-darkolivegreen\:100 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-0)) }

html.var .sf-c-txt-darkolivegreen { color: hsl(82, 39%, 70%) }
html.var .sf-c-txt-darkolivegreen\:0 { color: hsl(82, 39%, 100%) }
html.var .sf-c-txt-darkolivegreen\:10 { color: hsl(82, 39%, 90%) }
html.var .sf-c-txt-darkolivegreen\:20 { color: hsl(82, 39%, 80%) }
html.var .sf-c-txt-darkolivegreen\:30 { color: hsl(82, 39%, 70%) }
html.var .sf-c-txt-darkolivegreen\:40 { color: hsl(82, 39%, 60%) }
html.var .sf-c-txt-darkolivegreen\:50 { color: hsl(82, 39%, 50%) }
html.var .sf-c-txt-darkolivegreen\:60 { color: hsl(82, 39%, 40%) }
html.var .sf-c-txt-darkolivegreen\:70 { color: hsl(82, 39%, 30%) }
html.var .sf-c-txt-darkolivegreen\:80 { color: hsl(82, 39%, 20%) }
html.var .sf-c-txt-darkolivegreen\:90 { color: hsl(82, 39%, 10%) }
html.var .sf-c-txt-darkolivegreen\:100 { color: hsl(82, 39%, 0%) }

html[data-theme='dark'] .sf-c-darkolivegreen, html.dark .sf-c-darkolivegreen { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:0, html.dark .sf-c-darkolivegreen\:0 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-100)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:10, html.dark .sf-c-darkolivegreen\:10 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-90)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:20, html.dark .sf-c-darkolivegreen\:20 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-80)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:30, html.dark .sf-c-darkolivegreen\:30 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-70)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:40, html.dark .sf-c-darkolivegreen\:40 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-60)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:50, html.dark .sf-c-darkolivegreen\:50 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-50)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:60, html.dark .sf-c-darkolivegreen\:60 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-40)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:70, html.dark .sf-c-darkolivegreen\:70 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-30)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:80, html.dark .sf-c-darkolivegreen\:80 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-20)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:90, html.dark .sf-c-darkolivegreen\:90 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-10)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:100, html.dark .sf-c-darkolivegreen\:100 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-0)) }

html[data-theme='dark'] .sf-c-darkolivegreen\:dark, html.dark .sf-c-darkolivegreen\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:0\:dark, html.dark .sf-c-darkolivegreen\:0\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-100)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:10\:dark, html.dark .sf-c-darkolivegreen\:10\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-90)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:20\:dark, html.dark .sf-c-darkolivegreen\:20\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-80)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:30\:dark, html.dark .sf-c-darkolivegreen\:30\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-70)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:40\:dark, html.dark .sf-c-darkolivegreen\:40\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-60)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:50\:dark, html.dark .sf-c-darkolivegreen\:50\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-50)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:60\:dark, html.dark .sf-c-darkolivegreen\:60\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-40)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:70\:dark, html.dark .sf-c-darkolivegreen\:70\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-30)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:80\:dark, html.dark .sf-c-darkolivegreen\:80\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-20)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:90\:dark, html.dark .sf-c-darkolivegreen\:90\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-10)) }
html[data-theme='dark'] .sf-c-darkolivegreen\:100\:dark, html.dark .sf-c-darkolivegreen\:100\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-0)) }

html[data-theme='dark'] .sf-c-txt-darkolivegreen, html.dark .sf-c-txt-darkolivegreen { color: hsl(var(--sf-c-txt-darkolivegreen)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:0, html.dark .sf-c-txt-darkolivegreen\:0 { color: hsl(var(--sf-c-txt-darkolivegreen-0)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:10, html.dark .sf-c-txt-darkolivegreen\:10 { color: hsl(var(--sf-c-txt-darkolivegreen-10)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:20, html.dark .sf-c-txt-darkolivegreen\:20 { color: hsl(var(--sf-c-txt-darkolivegreen-20)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:30, html.dark .sf-c-txt-darkolivegreen\:30 { color: hsl(var(--sf-c-txt-darkolivegreen-30)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:40, html.dark .sf-c-txt-darkolivegreen\:40 { color: hsl(var(--sf-c-txt-darkolivegreen-40)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:50, html.dark .sf-c-txt-darkolivegreen\:50 { color: hsl(var(--sf-c-txt-darkolivegreen-50)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:60, html.dark .sf-c-txt-darkolivegreen\:60 { color: hsl(var(--sf-c-txt-darkolivegreen-60)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:70, html.dark .sf-c-txt-darkolivegreen\:70 { color: hsl(var(--sf-c-txt-darkolivegreen-70)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:80, html.dark .sf-c-txt-darkolivegreen\:80 { color: hsl(var(--sf-c-txt-darkolivegreen-80)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:90, html.dark .sf-c-txt-darkolivegreen\:90 { color: hsl(var(--sf-c-txt-darkolivegreen-90)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:100, html.dark .sf-c-txt-darkolivegreen\:100 { color: hsl(var(--sf-c-txt-darkolivegreen-100)) }

html[data-theme='dark'] .sf-c-txt-darkolivegreen\:dark, html.dark .sf-c-txt-darkolivegreen\:dark { color: hsl(var(--sf-c-txt-darkolivegreen)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:0\:dark, html.dark .sf-c-txt-darkolivegreen\:0\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-0)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:10\:dark, html.dark .sf-c-txt-darkolivegreen\:10\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:20\:dark, html.dark .sf-c-txt-darkolivegreen\:20\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-20)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:30\:dark, html.dark .sf-c-txt-darkolivegreen\:30\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-30)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:40\:dark, html.dark .sf-c-txt-darkolivegreen\:40\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-40)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:50\:dark, html.dark .sf-c-txt-darkolivegreen\:50\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-50)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:60\:dark, html.dark .sf-c-txt-darkolivegreen\:60\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-60)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:70\:dark, html.dark .sf-c-txt-darkolivegreen\:70\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-70)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:80\:dark, html.dark .sf-c-txt-darkolivegreen\:80\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-80)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:90\:dark, html.dark .sf-c-txt-darkolivegreen\:90\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)) }
html[data-theme='dark'] .sf-c-txt-darkolivegreen\:100\:dark, html.dark .sf-c-txt-darkolivegreen\:100\:dark { color: hsl(var(--sf-dark-c-txt-darkolivegreen-100)) }

html.var[data-theme='dark'] .sf-c-darkolivegreen, html.var.dark .sf-c-darkolivegreen { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:0, html.var.dark .sf-c-darkolivegreen\:0 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 100%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:10, html.var.dark .sf-c-darkolivegreen\:10 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 90%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:20, html.var.dark .sf-c-darkolivegreen\:20 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 80%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:30, html.var.dark .sf-c-darkolivegreen\:30 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:40, html.var.dark .sf-c-darkolivegreen\:40 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 60%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:50, html.var.dark .sf-c-darkolivegreen\:50 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 50%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:60, html.var.dark .sf-c-darkolivegreen\:60 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 40%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:70, html.var.dark .sf-c-darkolivegreen\:70 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:80, html.var.dark .sf-c-darkolivegreen\:80 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 20%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:90, html.var.dark .sf-c-darkolivegreen\:90 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 10%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:100, html.var.dark .sf-c-darkolivegreen\:100 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 0%) }

html.var[data-theme='dark'] .sf-c-darkolivegreen\:dark, html.var.dark .sf-c-darkolivegreen\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:0\:dark, html.var.dark .sf-c-darkolivegreen\:0\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 100%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:10\:dark, html.var.dark .sf-c-darkolivegreen\:10\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 90%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:20\:dark, html.var.dark .sf-c-darkolivegreen\:20\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 80%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:30\:dark, html.var.dark .sf-c-darkolivegreen\:30\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:40\:dark, html.var.dark .sf-c-darkolivegreen\:40\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 60%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:50\:dark, html.var.dark .sf-c-darkolivegreen\:50\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 50%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:60\:dark, html.var.dark .sf-c-darkolivegreen\:60\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 40%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:70\:dark, html.var.dark .sf-c-darkolivegreen\:70\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:80\:dark, html.var.dark .sf-c-darkolivegreen\:80\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 20%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:90\:dark, html.var.dark .sf-c-darkolivegreen\:90\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 10%) }
html.var[data-theme='dark'] .sf-c-darkolivegreen\:100\:dark, html.var.dark .sf-c-darkolivegreen\:100\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 0%) }

html.var[data-theme='dark'] .sf-c-txt-darkolivegreen, html.dark .sf-c-txt-darkolivegreen { color: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:0, html.dark .sf-c-txt-darkolivegreen\:0 { color: hsl(82, 39%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:10, html.dark .sf-c-txt-darkolivegreen\:10 { color: hsl(82, 39%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:20, html.dark .sf-c-txt-darkolivegreen\:20 { color: hsl(82, 39%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:30, html.dark .sf-c-txt-darkolivegreen\:30 { color: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:40, html.dark .sf-c-txt-darkolivegreen\:40 { color: hsl(82, 39%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:50, html.dark .sf-c-txt-darkolivegreen\:50 { color: hsl(82, 39%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:60, html.dark .sf-c-txt-darkolivegreen\:60 { color: hsl(82, 39%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:70, html.dark .sf-c-txt-darkolivegreen\:70 { color: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:80, html.dark .sf-c-txt-darkolivegreen\:80 { color: hsl(82, 39%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:90, html.dark .sf-c-txt-darkolivegreen\:90 { color: hsl(82, 39%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:100, html.dark .sf-c-txt-darkolivegreen\:100 { color: hsl(82, 39%, 100%) }

html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:dark, html.dark .sf-c-txt-darkolivegreen\:dark { color: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:0\:dark, html.dark .sf-c-txt-darkolivegreen\:0\:dark { color: hsl(82, 39%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:10\:dark, html.dark .sf-c-txt-darkolivegreen\:10\:dark { color: hsl(82, 39%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:20\:dark, html.dark .sf-c-txt-darkolivegreen\:20\:dark { color: hsl(82, 39%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:30\:dark, html.dark .sf-c-txt-darkolivegreen\:30\:dark { color: hsl(82, 39%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:40\:dark, html.dark .sf-c-txt-darkolivegreen\:40\:dark { color: hsl(82, 39%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:50\:dark, html.dark .sf-c-txt-darkolivegreen\:50\:dark { color: hsl(82, 39%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:60\:dark, html.dark .sf-c-txt-darkolivegreen\:60\:dark { color: hsl(82, 39%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:70\:dark, html.dark .sf-c-txt-darkolivegreen\:70\:dark { color: hsl(82, 39%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:80\:dark, html.dark .sf-c-txt-darkolivegreen\:80\:dark { color: hsl(82, 39%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:90\:dark, html.dark .sf-c-txt-darkolivegreen\:90\:dark { color: hsl(82, 39%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-darkolivegreen\:100\:dark, html.dark .sf-c-txt-darkolivegreen\:100\:dark { color: hsl(82, 39%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkolivegreen, html.auto .sf-c-darkolivegreen { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:0, html.auto .sf-c-darkolivegreen\:0 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-100)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:10, html.auto .sf-c-darkolivegreen\:10 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-90)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:20, html.auto .sf-c-darkolivegreen\:20 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-80)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:30, html.auto .sf-c-darkolivegreen\:30 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-70)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:40, html.auto .sf-c-darkolivegreen\:40 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-60)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:50, html.auto .sf-c-darkolivegreen\:50 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-50)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:60, html.auto .sf-c-darkolivegreen\:60 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-10)); background: hsl(var(--sf-dark-c-darkolivegreen-40)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:70, html.auto .sf-c-darkolivegreen\:70 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-30)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:80, html.auto .sf-c-darkolivegreen\:80 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-20)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:90, html.auto .sf-c-darkolivegreen\:90 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-10)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:100, html.auto .sf-c-darkolivegreen\:100 { color: hsl(var(--sf-dark-c-txt-darkolivegreen-90)); background: hsl(var(--sf-dark-c-darkolivegreen-0)) }

  html[data-theme='auto'] .sf-c-darkolivegreen\:dark, html.auto .sf-c-darkolivegreen\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:0\:dark, html.auto .sf-c-darkolivegreen\:0\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-100)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:10\:dark, html.auto .sf-c-darkolivegreen\:10\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-90)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:20\:dark, html.auto .sf-c-darkolivegreen\:20\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-80)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:30\:dark, html.auto .sf-c-darkolivegreen\:30\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-70)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:40\:dark, html.auto .sf-c-darkolivegreen\:40\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-60)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:50\:dark, html.auto .sf-c-darkolivegreen\:50\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-50)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:60\:dark, html.auto .sf-c-darkolivegreen\:60\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)); background: hsl(var(--sf-c-darkolivegreen-40)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:70\:dark, html.auto .sf-c-darkolivegreen\:70\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-30)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:80\:dark, html.auto .sf-c-darkolivegreen\:80\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-20)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:90\:dark, html.auto .sf-c-darkolivegreen\:90\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-10)) }
  html[data-theme='auto'] .sf-c-darkolivegreen\:100\:dark, html.auto .sf-c-darkolivegreen\:100\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)); background: hsl(var(--sf-c-darkolivegreen-0)) }

  html[data-theme='auto'] .sf-c-txt-darkolivegreen, html.auto .sf-c-txt-darkolivegreen { color: hsl(var(--sf-c-txt-darkolivegreen)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:0, html.auto .sf-c-txt-darkolivegreen\:0 { color: hsl(var(--sf-c-txt-darkolivegreen-0)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:10, html.auto .sf-c-txt-darkolivegreen\:10 { color: hsl(var(--sf-c-txt-darkolivegreen-10)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:20, html.auto .sf-c-txt-darkolivegreen\:20 { color: hsl(var(--sf-c-txt-darkolivegreen-20)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:30, html.auto .sf-c-txt-darkolivegreen\:30 { color: hsl(var(--sf-c-txt-darkolivegreen-30)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:40, html.auto .sf-c-txt-darkolivegreen\:40 { color: hsl(var(--sf-c-txt-darkolivegreen-40)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:50, html.auto .sf-c-txt-darkolivegreen\:50 { color: hsl(var(--sf-c-txt-darkolivegreen-50)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:60, html.auto .sf-c-txt-darkolivegreen\:60 { color: hsl(var(--sf-c-txt-darkolivegreen-60)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:70, html.auto .sf-c-txt-darkolivegreen\:70 { color: hsl(var(--sf-c-txt-darkolivegreen-70)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:80, html.auto .sf-c-txt-darkolivegreen\:80 { color: hsl(var(--sf-c-txt-darkolivegreen-80)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:90, html.auto .sf-c-txt-darkolivegreen\:90 { color: hsl(var(--sf-c-txt-darkolivegreen-90)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:100, html.auto .sf-c-txt-darkolivegreen\:100 { color: hsl(var(--sf-c-txt-darkolivegreen-100)) }

  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:dark, html.auto .sf-c-txt-darkolivegreen\:dark { color: hsl(var(--sf-c-txt-darkolivegreen)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:0\:dark, html.auto .sf-c-txt-darkolivegreen\:0\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-0)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:10\:dark, html.auto .sf-c-txt-darkolivegreen\:10\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-10)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:20\:dark, html.auto .sf-c-txt-darkolivegreen\:20\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-20)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:30\:dark, html.auto .sf-c-txt-darkolivegreen\:30\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-30)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:40\:dark, html.auto .sf-c-txt-darkolivegreen\:40\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-40)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:50\:dark, html.auto .sf-c-txt-darkolivegreen\:50\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-50)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:60\:dark, html.auto .sf-c-txt-darkolivegreen\:60\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-60)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:70\:dark, html.auto .sf-c-txt-darkolivegreen\:70\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-70)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:80\:dark, html.auto .sf-c-txt-darkolivegreen\:80\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-80)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:90\:dark, html.auto .sf-c-txt-darkolivegreen\:90\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-90)) }
  html[data-theme='auto'] .sf-c-txt-darkolivegreen\:100\:dark, html.auto .sf-c-txt-darkolivegreen\:100\:dark { color: hsl(var(--sf-c-txt-darkolivegreen-100)) }

  html.var[data-theme='auto'] .sf-c-darkolivegreen, html.var.auto .sf-c-darkolivegreen { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:0, html.var.auto .sf-c-darkolivegreen\:0 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:10, html.var.auto .sf-c-darkolivegreen\:10 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:20, html.var.auto .sf-c-darkolivegreen\:20 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:30, html.var.auto .sf-c-darkolivegreen\:30 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:40, html.var.auto .sf-c-darkolivegreen\:40 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:50, html.var.auto .sf-c-darkolivegreen\:50 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:60, html.var.auto .sf-c-darkolivegreen\:60 { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:70, html.var.auto .sf-c-darkolivegreen\:70 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:80, html.var.auto .sf-c-darkolivegreen\:80 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:90, html.var.auto .sf-c-darkolivegreen\:90 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:100, html.var.auto .sf-c-darkolivegreen\:100 { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 0%) }

  html.var[data-theme='auto'] .sf-c-darkolivegreen\:dark, html.var.auto .sf-c-darkolivegreen\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:0\:dark, html.var.auto .sf-c-darkolivegreen\:0\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:10\:dark, html.var.auto .sf-c-darkolivegreen\:10\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:20\:dark, html.var.auto .sf-c-darkolivegreen\:20\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:30\:dark, html.var.auto .sf-c-darkolivegreen\:30\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:40\:dark, html.var.auto .sf-c-darkolivegreen\:40\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:50\:dark, html.var.auto .sf-c-darkolivegreen\:50\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:60\:dark, html.var.auto .sf-c-darkolivegreen\:60\:dark { color: hsl(82, 39%, 10%); background: hsl(82, 39%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:70\:dark, html.var.auto .sf-c-darkolivegreen\:70\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:80\:dark, html.var.auto .sf-c-darkolivegreen\:80\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:90\:dark, html.var.auto .sf-c-darkolivegreen\:90\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkolivegreen\:100\:dark, html.var.auto .sf-c-darkolivegreen\:100\:dark { color: hsl(82, 39%, 90%); background: hsl(82, 39%, 0%) }

  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen, html.auto .sf-c-txt-darkolivegreen { color: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:0, html.auto .sf-c-txt-darkolivegreen\:0 { color: hsl(82, 39%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:10, html.auto .sf-c-txt-darkolivegreen\:10 { color: hsl(82, 39%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:20, html.auto .sf-c-txt-darkolivegreen\:20 { color: hsl(82, 39%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:30, html.auto .sf-c-txt-darkolivegreen\:30 { color: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:40, html.auto .sf-c-txt-darkolivegreen\:40 { color: hsl(82, 39%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:50, html.auto .sf-c-txt-darkolivegreen\:50 { color: hsl(82, 39%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:60, html.auto .sf-c-txt-darkolivegreen\:60 { color: hsl(82, 39%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:70, html.auto .sf-c-txt-darkolivegreen\:70 { color: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:80, html.auto .sf-c-txt-darkolivegreen\:80 { color: hsl(82, 39%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:90, html.auto .sf-c-txt-darkolivegreen\:90 { color: hsl(82, 39%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:100, html.auto .sf-c-txt-darkolivegreen\:100 { color: hsl(82, 39%, 100%) }

  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:dark, html.auto .sf-c-txt-darkolivegreen\:dark { color: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:0\:dark, html.auto .sf-c-txt-darkolivegreen\:0\:dark { color: hsl(82, 39%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:10\:dark, html.auto .sf-c-txt-darkolivegreen\:10\:dark { color: hsl(82, 39%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:20\:dark, html.auto .sf-c-txt-darkolivegreen\:20\:dark { color: hsl(82, 39%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:30\:dark, html.auto .sf-c-txt-darkolivegreen\:30\:dark { color: hsl(82, 39%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:40\:dark, html.auto .sf-c-txt-darkolivegreen\:40\:dark { color: hsl(82, 39%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:50\:dark, html.auto .sf-c-txt-darkolivegreen\:50\:dark { color: hsl(82, 39%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:60\:dark, html.auto .sf-c-txt-darkolivegreen\:60\:dark { color: hsl(82, 39%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:70\:dark, html.auto .sf-c-txt-darkolivegreen\:70\:dark { color: hsl(82, 39%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:80\:dark, html.auto .sf-c-txt-darkolivegreen\:80\:dark { color: hsl(82, 39%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:90\:dark, html.auto .sf-c-txt-darkolivegreen\:90\:dark { color: hsl(82, 39%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-darkolivegreen\:100\:dark, html.auto .sf-c-txt-darkolivegreen\:100\:dark { color: hsl(82, 39%, 100%) }
}