:root {
  --sf-c-darkslateblue: 248 39% 39%;
  --sf-c-darkslateblue-10: 248 39% 10%;
  --sf-c-darkslateblue-20: 248 39% 20%;
  --sf-c-darkslateblue-30: 248 39% 30%;
  --sf-c-darkslateblue-40: 248 39% 40%;
  --sf-c-darkslateblue-50: 248 39% 50%;
  --sf-c-darkslateblue-60: 248 39% 60%;
  --sf-c-darkslateblue-70: 248 39% 70%;
  --sf-c-darkslateblue-80: 248 39% 80%;
  --sf-c-darkslateblue-90: 248 39% 90%;
 
  --sf-c-txt-darkslateblue: var(--sf-c-darkslateblue);
  --sf-c-txt-darkslateblue-10: var(--sf-c-darkslateblue-10);
  --sf-c-txt-darkslateblue-20: var(--sf-c-darkslateblue-20);
  --sf-c-txt-darkslateblue-30: var(--sf-c-darkslateblue-30);
  --sf-c-txt-darkslateblue-40: var(--sf-c-darkslateblue-40);
  --sf-c-txt-darkslateblue-50: var(--sf-c-darkslateblue-50);
  --sf-c-txt-darkslateblue-60: var(--sf-c-darkslateblue-60);
  --sf-c-txt-darkslateblue-70: var(--sf-c-darkslateblue-70);
  --sf-c-txt-darkslateblue-80: var(--sf-c-darkslateblue-80);
  --sf-c-txt-darkslateblue-90: var(--sf-c-darkslateblue-90);
 
  --sf-dark-c-darkslateblue: 248 39% 61%;
  --sf-dark-c-darkslateblue-10: 248 39% 90%;
  --sf-dark-c-darkslateblue-20: 248 39% 80%;
  --sf-dark-c-darkslateblue-30: 248 39% 70%;
  --sf-dark-c-darkslateblue-40: 248 39% 60%;
  --sf-dark-c-darkslateblue-50: 248 39% 50%;
  --sf-dark-c-darkslateblue-60: 248 39% 40%;
  --sf-dark-c-darkslateblue-70: 248 39% 30%;
  --sf-dark-c-darkslateblue-80: 248 39% 20%;
  --sf-dark-c-darkslateblue-90: 248 39% 10%;
 
  --sf-dark-c-txt-darkslateblue: var(--sf-dark-c-darkslateblue);
  --sf-dark-c-txt-darkslateblue-10: var(--sf-dark-c-darkslateblue-10);
  --sf-dark-c-txt-darkslateblue-20: var(--sf-dark-c-darkslateblue-20);
  --sf-dark-c-txt-darkslateblue-30: var(--sf-dark-c-darkslateblue-30);
  --sf-dark-c-txt-darkslateblue-40: var(--sf-dark-c-darkslateblue-40);
  --sf-dark-c-txt-darkslateblue-50: var(--sf-dark-c-darkslateblue-50);
  --sf-dark-c-txt-darkslateblue-60: var(--sf-dark-c-darkslateblue-60);
  --sf-dark-c-txt-darkslateblue-70: var(--sf-dark-c-darkslateblue-70);
  --sf-dark-c-txt-darkslateblue-80: var(--sf-dark-c-darkslateblue-80);
  --sf-dark-c-txt-darkslateblue-90: var(--sf-dark-c-darkslateblue-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-darkslateblue: var(--sf-dark-c-darkslateblue);
  --sf-c-darkslateblue-10: var(--sf-dark-c-darkslateblue-10);
  --sf-c-darkslateblue-20: var(--sf-dark-c-darkslateblue-20);
  --sf-c-darkslateblue-30: var(--sf-dark-c-darkslateblue-30);
  --sf-c-darkslateblue-40: var(--sf-dark-c-darkslateblue-40);
  --sf-c-darkslateblue-50: var(--sf-dark-c-darkslateblue-50);
  --sf-c-darkslateblue-60: var(--sf-dark-c-darkslateblue-60);
  --sf-c-darkslateblue-70: var(--sf-dark-c-darkslateblue-70);
  --sf-c-darkslateblue-80: var(--sf-dark-c-darkslateblue-80);
  --sf-c-darkslateblue-90: var(--sf-dark-c-darkslateblue-90);
 
  --sf-c-txt-darkslateblue: var(--sf-dark-c-txt-darkslateblue);
  --sf-c-txt-darkslateblue-10: var(--sf-dark-c-txt-darkslateblue-10);
  --sf-c-txt-darkslateblue-20: var(--sf-dark-c-txt-darkslateblue-20);
  --sf-c-txt-darkslateblue-30: var(--sf-dark-c-txt-darkslateblue-30);
  --sf-c-txt-darkslateblue-40: var(--sf-dark-c-txt-darkslateblue-40);
  --sf-c-txt-darkslateblue-50: var(--sf-dark-c-txt-darkslateblue-50);
  --sf-c-txt-darkslateblue-60: var(--sf-dark-c-txt-darkslateblue-60);
  --sf-c-txt-darkslateblue-70: var(--sf-dark-c-txt-darkslateblue-70);
  --sf-c-txt-darkslateblue-80: var(--sf-dark-c-txt-darkslateblue-80);
  --sf-c-txt-darkslateblue-90: var(--sf-dark-c-txt-darkslateblue-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-darkslateblue: var(--sf-dark-c-darkslateblue);
    --sf-c-darkslateblue-10: var(--sf-dark-c-darkslateblue-10);
    --sf-c-darkslateblue-20: var(--sf-dark-c-darkslateblue-20);
    --sf-c-darkslateblue-30: var(--sf-dark-c-darkslateblue-30);
    --sf-c-darkslateblue-40: var(--sf-dark-c-darkslateblue-40);
    --sf-c-darkslateblue-50: var(--sf-dark-c-darkslateblue-50);
    --sf-c-darkslateblue-60: var(--sf-dark-c-darkslateblue-60);
    --sf-c-darkslateblue-70: var(--sf-dark-c-darkslateblue-70);
    --sf-c-darkslateblue-80: var(--sf-dark-c-darkslateblue-80);
    --sf-c-darkslateblue-90: var(--sf-dark-c-darkslateblue-90);
 
    --sf-c-txt-darkslateblue: var(--sf-dark-c-txt-darkslateblue);
    --sf-c-txt-darkslateblue-10: var(--sf-dark-c-txt-darkslateblue-10);
    --sf-c-txt-darkslateblue-20: var(--sf-dark-c-txt-darkslateblue-20);
    --sf-c-txt-darkslateblue-30: var(--sf-dark-c-txt-darkslateblue-30);
    --sf-c-txt-darkslateblue-40: var(--sf-dark-c-txt-darkslateblue-40);
    --sf-c-txt-darkslateblue-50: var(--sf-dark-c-txt-darkslateblue-50);
    --sf-c-txt-darkslateblue-60: var(--sf-dark-c-txt-darkslateblue-60);
    --sf-c-txt-darkslateblue-70: var(--sf-dark-c-txt-darkslateblue-70);
    --sf-c-txt-darkslateblue-80: var(--sf-dark-c-txt-darkslateblue-80);
    --sf-c-txt-darkslateblue-90: var(--sf-dark-c-txt-darkslateblue-90);
  }
}
 
.sf-c-darkslateblue { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue)) }
.sf-c-darkslateblue\:10 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-10)) }
.sf-c-darkslateblue\:20 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-20)) }
.sf-c-darkslateblue\:30 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-30)) }
.sf-c-darkslateblue\:40 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-40)) }
.sf-c-darkslateblue\:50 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-50)) }
.sf-c-darkslateblue\:60 { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-60)) }
.sf-c-darkslateblue\:70 { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-70)) }
.sf-c-darkslateblue\:80 { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-80)) }
.sf-c-darkslateblue\:90 { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:10\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:20\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:30\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:40\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:50\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:60\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)); background: hsl(var(--sf-c-darkslateblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:70\:dark { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:80\:dark { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-darkslateblue\:90\:dark { color: hsl(var(--sf-c-txt-darkslateblue-10)); background: hsl(var(--sf-c-darkslateblue-90)) }

.sf-c-txt-darkslateblue { color: hsl(var(--sf-c-txt-darkslateblue)) }
.sf-c-txt-darkslateblue\:10 { color: hsl(var(--sf-c-txt-darkslateblue-10)) }
.sf-c-txt-darkslateblue\:20 { color: hsl(var(--sf-c-txt-darkslateblue-20)) }
.sf-c-txt-darkslateblue\:30 { color: hsl(var(--sf-c-txt-darkslateblue-30)) }
.sf-c-txt-darkslateblue\:40 { color: hsl(var(--sf-c-txt-darkslateblue-40)) }
.sf-c-txt-darkslateblue\:50 { color: hsl(var(--sf-c-txt-darkslateblue-50)) }
.sf-c-txt-darkslateblue\:60 { color: hsl(var(--sf-c-txt-darkslateblue-60)) }
.sf-c-txt-darkslateblue\:70 { color: hsl(var(--sf-c-txt-darkslateblue-70)) }
.sf-c-txt-darkslateblue\:80 { color: hsl(var(--sf-c-txt-darkslateblue-80)) }
.sf-c-txt-darkslateblue\:90 { color: hsl(var(--sf-c-txt-darkslateblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:dark { color: hsl(var(--sf-c-txt-darkslateblue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:10\:dark { color: hsl(var(--sf-c-txt-darkslateblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:20\:dark { color: hsl(var(--sf-c-txt-darkslateblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:30\:dark { color: hsl(var(--sf-c-txt-darkslateblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:40\:dark { color: hsl(var(--sf-c-txt-darkslateblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:50\:dark { color: hsl(var(--sf-c-txt-darkslateblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:60\:dark { color: hsl(var(--sf-c-txt-darkslateblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:70\:dark { color: hsl(var(--sf-c-txt-darkslateblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:80\:dark { color: hsl(var(--sf-c-txt-darkslateblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-darkslateblue\:90\:dark { color: hsl(var(--sf-c-txt-darkslateblue-90)) }