:root {
  --sf-c-darkmagenta: 300 100% 27%;
  --sf-c-darkmagenta-0: 300 100% 0%;
  --sf-c-darkmagenta-10: 300 100% 10%;
  --sf-c-darkmagenta-20: 300 100% 20%;
  --sf-c-darkmagenta-30: 300 100% 30%;
  --sf-c-darkmagenta-40: 300 100% 40%;
  --sf-c-darkmagenta-50: 300 100% 50%;
  --sf-c-darkmagenta-60: 300 100% 60%;
  --sf-c-darkmagenta-70: 300 100% 70%;
  --sf-c-darkmagenta-80: 300 100% 80%;
  --sf-c-darkmagenta-90: 300 100% 90%;
  --sf-c-darkmagenta-100: 300 100% 100%;

  --sf-c-txt-darkmagenta: var(--sf-c-darkmagenta);
  --sf-c-txt-darkmagenta-0: var(--sf-c-darkmagenta-0);
  --sf-c-txt-darkmagenta-10: var(--sf-c-darkmagenta-10);
  --sf-c-txt-darkmagenta-20: var(--sf-c-darkmagenta-20);
  --sf-c-txt-darkmagenta-30: var(--sf-c-darkmagenta-30);
  --sf-c-txt-darkmagenta-40: var(--sf-c-darkmagenta-40);
  --sf-c-txt-darkmagenta-50: var(--sf-c-darkmagenta-50);
  --sf-c-txt-darkmagenta-60: var(--sf-c-darkmagenta-60);
  --sf-c-txt-darkmagenta-70: var(--sf-c-darkmagenta-70);
  --sf-c-txt-darkmagenta-80: var(--sf-c-darkmagenta-80);
  --sf-c-txt-darkmagenta-90: var(--sf-c-darkmagenta-90);
  --sf-c-txt-darkmagenta-100: var(--sf-c-darkmagenta-100);

  --sf-dark-c-darkmagenta: 300 100% 73%;
  --sf-dark-c-darkmagenta-0: 300 100% 0%;
  --sf-dark-c-darkmagenta-10: 300 100% 10%;
  --sf-dark-c-darkmagenta-20: 300 100% 20%;
  --sf-dark-c-darkmagenta-30: 300 100% 30%;
  --sf-dark-c-darkmagenta-40: 300 100% 40%;
  --sf-dark-c-darkmagenta-50: 300 100% 50%;
  --sf-dark-c-darkmagenta-60: 300 100% 60%;
  --sf-dark-c-darkmagenta-70: 300 100% 70%;
  --sf-dark-c-darkmagenta-80: 300 100% 80%;
  --sf-dark-c-darkmagenta-90: 300 100% 90%;
  --sf-dark-c-darkmagenta-100: 300 100% 100%;

  --sf-dark-c-txt-darkmagenta: var(--sf-dark-c-darkmagenta);
  --sf-dark-c-txt-darkmagenta-0: var(--sf-dark-c-darkmagenta-0);
  --sf-dark-c-txt-darkmagenta-10: var(--sf-dark-c-darkmagenta-10);
  --sf-dark-c-txt-darkmagenta-20: var(--sf-dark-c-darkmagenta-20);
  --sf-dark-c-txt-darkmagenta-30: var(--sf-dark-c-darkmagenta-30);
  --sf-dark-c-txt-darkmagenta-40: var(--sf-dark-c-darkmagenta-40);
  --sf-dark-c-txt-darkmagenta-50: var(--sf-dark-c-darkmagenta-50);
  --sf-dark-c-txt-darkmagenta-60: var(--sf-dark-c-darkmagenta-60);
  --sf-dark-c-txt-darkmagenta-70: var(--sf-dark-c-darkmagenta-70);
  --sf-dark-c-txt-darkmagenta-80: var(--sf-dark-c-darkmagenta-80);
  --sf-dark-c-txt-darkmagenta-90: var(--sf-dark-c-darkmagenta-90);
  --sf-dark-c-txt-darkmagenta-100: var(--sf-dark-c-darkmagenta-100);
}

.sf-c-darkmagenta { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta)) }
.sf-c-darkmagenta\:0 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-0)) }
.sf-c-darkmagenta\:10 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-10)) }
.sf-c-darkmagenta\:20 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-20)) }
.sf-c-darkmagenta\:30 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-30)) }
.sf-c-darkmagenta\:40 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-40)) }
.sf-c-darkmagenta\:50 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-50)) }
.sf-c-darkmagenta\:60 { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-60)) }
.sf-c-darkmagenta\:70 { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-70)) }
.sf-c-darkmagenta\:80 { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-80)) }
.sf-c-darkmagenta\:90 { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-90)) }
.sf-c-darkmagenta\:100 { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-100)) }

html.var .sf-c-darkmagenta { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 27%) }
html.var .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
html.var .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html.var .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html.var .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html.var .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html.var .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html.var .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 60%) }
html.var .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html.var .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html.var .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html.var .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkmagenta, html.dark .sf-c-darkmagenta { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta)) }
html[data-theme='dark'] .sf-c-darkmagenta\:0, html.dark .sf-c-darkmagenta\:0 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-100)) }
html[data-theme='dark'] .sf-c-darkmagenta\:10, html.dark .sf-c-darkmagenta\:10 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-90)) }
html[data-theme='dark'] .sf-c-darkmagenta\:20, html.dark .sf-c-darkmagenta\:20 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-80)) }
html[data-theme='dark'] .sf-c-darkmagenta\:30, html.dark .sf-c-darkmagenta\:30 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-70)) }
html[data-theme='dark'] .sf-c-darkmagenta\:40, html.dark .sf-c-darkmagenta\:40 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-60)) }
html[data-theme='dark'] .sf-c-darkmagenta\:50, html.dark .sf-c-darkmagenta\:50 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-50)) }
html[data-theme='dark'] .sf-c-darkmagenta\:60, html.dark .sf-c-darkmagenta\:60 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-40)) }
html[data-theme='dark'] .sf-c-darkmagenta\:70, html.dark .sf-c-darkmagenta\:70 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-30)) }
html[data-theme='dark'] .sf-c-darkmagenta\:80, html.dark .sf-c-darkmagenta\:80 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-20)) }
html[data-theme='dark'] .sf-c-darkmagenta\:90, html.dark .sf-c-darkmagenta\:90 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-10)) }
html[data-theme='dark'] .sf-c-darkmagenta\:100, html.dark .sf-c-darkmagenta\:100 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-0)) }

html[data-theme='dark'] .sf-c-darkmagenta\:dark, html.dark .sf-c-darkmagenta\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta)) }
html[data-theme='dark'] .sf-c-darkmagenta\:0\:dark, html.dark .sf-c-darkmagenta\:0\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-100)) }
html[data-theme='dark'] .sf-c-darkmagenta\:10\:dark, html.dark .sf-c-darkmagenta\:10\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-90)) }
html[data-theme='dark'] .sf-c-darkmagenta\:20\:dark, html.dark .sf-c-darkmagenta\:20\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-80)) }
html[data-theme='dark'] .sf-c-darkmagenta\:30\:dark, html.dark .sf-c-darkmagenta\:30\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-70)) }
html[data-theme='dark'] .sf-c-darkmagenta\:40\:dark, html.dark .sf-c-darkmagenta\:40\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-60)) }
html[data-theme='dark'] .sf-c-darkmagenta\:50\:dark, html.dark .sf-c-darkmagenta\:50\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-50)) }
html[data-theme='dark'] .sf-c-darkmagenta\:60\:dark, html.dark .sf-c-darkmagenta\:60\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-40)) }
html[data-theme='dark'] .sf-c-darkmagenta\:70\:dark, html.dark .sf-c-darkmagenta\:70\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-30)) }
html[data-theme='dark'] .sf-c-darkmagenta\:80\:dark, html.dark .sf-c-darkmagenta\:80\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-20)) }
html[data-theme='dark'] .sf-c-darkmagenta\:90\:dark, html.dark .sf-c-darkmagenta\:90\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-10)) }
html[data-theme='dark'] .sf-c-darkmagenta\:100\:dark, html.dark .sf-c-darkmagenta\:100\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-0)) }

html.var[data-theme='dark'] .sf-c-darkmagenta, html.var.dark .sf-c-darkmagenta { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:0, html.var.dark .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:10, html.var.dark .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:20, html.var.dark .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:30, html.var.dark .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:40, html.var.dark .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:50, html.var.dark .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:60, html.var.dark .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:70, html.var.dark .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:80, html.var.dark .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:90, html.var.dark .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:100, html.var.dark .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-darkmagenta\:dark, html.var.dark .sf-c-darkmagenta\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:0\:dark, html.var.dark .sf-c-darkmagenta\:0\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:10\:dark, html.var.dark .sf-c-darkmagenta\:10\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:20\:dark, html.var.dark .sf-c-darkmagenta\:20\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:30\:dark, html.var.dark .sf-c-darkmagenta\:30\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:40\:dark, html.var.dark .sf-c-darkmagenta\:40\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:50\:dark, html.var.dark .sf-c-darkmagenta\:50\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:60\:dark, html.var.dark .sf-c-darkmagenta\:60\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:70\:dark, html.var.dark .sf-c-darkmagenta\:70\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:80\:dark, html.var.dark .sf-c-darkmagenta\:80\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:90\:dark, html.var.dark .sf-c-darkmagenta\:90\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkmagenta\:100\:dark, html.var.dark .sf-c-darkmagenta\:100\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkmagenta, html.auto .sf-c-darkmagenta { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0, html.auto .sf-c-darkmagenta\:0 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-100)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10, html.auto .sf-c-darkmagenta\:10 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-90)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20, html.auto .sf-c-darkmagenta\:20 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-80)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30, html.auto .sf-c-darkmagenta\:30 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-70)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40, html.auto .sf-c-darkmagenta\:40 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-60)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50, html.auto .sf-c-darkmagenta\:50 { color: hsl(var(--sf-dark-c-txt-darkmagenta-10)); background: hsl(var(--sf-dark-c-darkmagenta-50)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60, html.auto .sf-c-darkmagenta\:60 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-40)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70, html.auto .sf-c-darkmagenta\:70 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-30)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80, html.auto .sf-c-darkmagenta\:80 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-20)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90, html.auto .sf-c-darkmagenta\:90 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-10)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100, html.auto .sf-c-darkmagenta\:100 { color: hsl(var(--sf-dark-c-txt-darkmagenta-90)); background: hsl(var(--sf-dark-c-darkmagenta-0)) }

  html[data-theme='auto'] .sf-c-darkmagenta\:dark, html.auto .sf-c-darkmagenta\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0\:dark, html.auto .sf-c-darkmagenta\:0\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-100)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10\:dark, html.auto .sf-c-darkmagenta\:10\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-90)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20\:dark, html.auto .sf-c-darkmagenta\:20\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-80)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30\:dark, html.auto .sf-c-darkmagenta\:30\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-70)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40\:dark, html.auto .sf-c-darkmagenta\:40\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-60)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50\:dark, html.auto .sf-c-darkmagenta\:50\:dark { color: hsl(var(--sf-c-txt-darkmagenta-10)); background: hsl(var(--sf-c-darkmagenta-50)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60\:dark, html.auto .sf-c-darkmagenta\:60\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-40)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70\:dark, html.auto .sf-c-darkmagenta\:70\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-30)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80\:dark, html.auto .sf-c-darkmagenta\:80\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-20)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90\:dark, html.auto .sf-c-darkmagenta\:90\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-10)) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100\:dark, html.auto .sf-c-darkmagenta\:100\:dark { color: hsl(var(--sf-c-txt-darkmagenta-90)); background: hsl(var(--sf-c-darkmagenta-0)) }

  html.var[data-theme='auto'] .sf-c-darkmagenta, html.var.auto .sf-c-darkmagenta { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:0, html.var.auto .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:10, html.var.auto .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:20, html.var.auto .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:30, html.var.auto .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:40, html.var.auto .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:50, html.var.auto .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:60, html.var.auto .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:70, html.var.auto .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:80, html.var.auto .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:90, html.var.auto .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:100, html.var.auto .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-darkmagenta\:dark, html.var.auto .sf-c-darkmagenta\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:0\:dark, html.var.auto .sf-c-darkmagenta\:0\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:10\:dark, html.var.auto .sf-c-darkmagenta\:10\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:20\:dark, html.var.auto .sf-c-darkmagenta\:20\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:30\:dark, html.var.auto .sf-c-darkmagenta\:30\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:40\:dark, html.var.auto .sf-c-darkmagenta\:40\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:50\:dark, html.var.auto .sf-c-darkmagenta\:50\:dark { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:60\:dark, html.var.auto .sf-c-darkmagenta\:60\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:70\:dark, html.var.auto .sf-c-darkmagenta\:70\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:80\:dark, html.var.auto .sf-c-darkmagenta\:80\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:90\:dark, html.var.auto .sf-c-darkmagenta\:90\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkmagenta\:100\:dark, html.var.auto .sf-c-darkmagenta\:100\:dark { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
}

.sf-c-txt-darkmagenta { color: hsl(var(--sf-c-txt-darkmagenta)) }
.sf-c-txt-darkmagenta\:0 { color: hsl(var(--sf-c-txt-darkmagenta-0)) }
.sf-c-txt-darkmagenta\:10 { color: hsl(var(--sf-c-txt-darkmagenta-10)) }
.sf-c-txt-darkmagenta\:20 { color: hsl(var(--sf-c-txt-darkmagenta-20)) }
.sf-c-txt-darkmagenta\:30 { color: hsl(var(--sf-c-txt-darkmagenta-30)) }
.sf-c-txt-darkmagenta\:40 { color: hsl(var(--sf-c-txt-darkmagenta-40)) }
.sf-c-txt-darkmagenta\:50 { color: hsl(var(--sf-c-txt-darkmagenta-50)) }
.sf-c-txt-darkmagenta\:60 { color: hsl(var(--sf-c-txt-darkmagenta-60)) }
.sf-c-txt-darkmagenta\:70 { color: hsl(var(--sf-c-txt-darkmagenta-70)) }
.sf-c-txt-darkmagenta\:80 { color: hsl(var(--sf-c-txt-darkmagenta-80)) }
.sf-c-txt-darkmagenta\:90 { color: hsl(var(--sf-c-txt-darkmagenta-90)) }
.sf-c-txt-darkmagenta\:100 { color: hsl(var(--sf-c-txt-darkmagenta-100)) }
