:root {
  --sf-c-darkturquoise: 181 100% 41%;
  --sf-c-darkturquoise-0: 181 100% 0%;
  --sf-c-darkturquoise-10: 181 100% 10%;
  --sf-c-darkturquoise-20: 181 100% 20%;
  --sf-c-darkturquoise-30: 181 100% 30%;
  --sf-c-darkturquoise-40: 181 100% 40%;
  --sf-c-darkturquoise-50: 181 100% 50%;
  --sf-c-darkturquoise-60: 181 100% 60%;
  --sf-c-darkturquoise-70: 181 100% 70%;
  --sf-c-darkturquoise-80: 181 100% 80%;
  --sf-c-darkturquoise-90: 181 100% 90%;
  --sf-c-darkturquoise-100: 181 100% 100%;

  --sf-c-txt-darkturquoise: var(--sf-c-darkturquoise);
  --sf-c-txt-darkturquoise-0: var(--sf-c-darkturquoise-0);
  --sf-c-txt-darkturquoise-10: var(--sf-c-darkturquoise-10);
  --sf-c-txt-darkturquoise-20: var(--sf-c-darkturquoise-20);
  --sf-c-txt-darkturquoise-30: var(--sf-c-darkturquoise-30);
  --sf-c-txt-darkturquoise-40: var(--sf-c-darkturquoise-40);
  --sf-c-txt-darkturquoise-50: var(--sf-c-darkturquoise-50);
  --sf-c-txt-darkturquoise-60: var(--sf-c-darkturquoise-60);
  --sf-c-txt-darkturquoise-70: var(--sf-c-darkturquoise-70);
  --sf-c-txt-darkturquoise-80: var(--sf-c-darkturquoise-80);
  --sf-c-txt-darkturquoise-90: var(--sf-c-darkturquoise-90);
  --sf-c-txt-darkturquoise-100: var(--sf-c-darkturquoise-100);

  --sf-dark-c-darkturquoise: 181 100% 59%;
  --sf-dark-c-darkturquoise-0: 181 100% 0%;
  --sf-dark-c-darkturquoise-10: 181 100% 10%;
  --sf-dark-c-darkturquoise-20: 181 100% 20%;
  --sf-dark-c-darkturquoise-30: 181 100% 30%;
  --sf-dark-c-darkturquoise-40: 181 100% 40%;
  --sf-dark-c-darkturquoise-50: 181 100% 50%;
  --sf-dark-c-darkturquoise-60: 181 100% 60%;
  --sf-dark-c-darkturquoise-70: 181 100% 70%;
  --sf-dark-c-darkturquoise-80: 181 100% 80%;
  --sf-dark-c-darkturquoise-90: 181 100% 90%;
  --sf-dark-c-darkturquoise-100: 181 100% 100%;

  --sf-dark-c-txt-darkturquoise: var(--sf-dark-c-darkturquoise);
  --sf-dark-c-txt-darkturquoise-0: var(--sf-dark-c-darkturquoise-0);
  --sf-dark-c-txt-darkturquoise-10: var(--sf-dark-c-darkturquoise-10);
  --sf-dark-c-txt-darkturquoise-20: var(--sf-dark-c-darkturquoise-20);
  --sf-dark-c-txt-darkturquoise-30: var(--sf-dark-c-darkturquoise-30);
  --sf-dark-c-txt-darkturquoise-40: var(--sf-dark-c-darkturquoise-40);
  --sf-dark-c-txt-darkturquoise-50: var(--sf-dark-c-darkturquoise-50);
  --sf-dark-c-txt-darkturquoise-60: var(--sf-dark-c-darkturquoise-60);
  --sf-dark-c-txt-darkturquoise-70: var(--sf-dark-c-darkturquoise-70);
  --sf-dark-c-txt-darkturquoise-80: var(--sf-dark-c-darkturquoise-80);
  --sf-dark-c-txt-darkturquoise-90: var(--sf-dark-c-darkturquoise-90);
  --sf-dark-c-txt-darkturquoise-100: var(--sf-dark-c-darkturquoise-100);
}

.sf-c-darkturquoise { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise)) }
.sf-c-darkturquoise\:0 { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-0)) }
.sf-c-darkturquoise\:10 { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-10)) }
.sf-c-darkturquoise\:20 { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-20)) }
.sf-c-darkturquoise\:30 { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-30)) }
.sf-c-darkturquoise\:40 { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-40)) }
.sf-c-darkturquoise\:50 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-50)) }
.sf-c-darkturquoise\:60 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-60)) }
.sf-c-darkturquoise\:70 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-70)) }
.sf-c-darkturquoise\:80 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-80)) }
.sf-c-darkturquoise\:90 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-90)) }
.sf-c-darkturquoise\:100 { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-100)) }

html.var .sf-c-darkturquoise { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 41%) }
html.var .sf-c-darkturquoise\:0 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 0%) }
html.var .sf-c-darkturquoise\:10 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 10%) }
html.var .sf-c-darkturquoise\:20 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 20%) }
html.var .sf-c-darkturquoise\:30 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 30%) }
html.var .sf-c-darkturquoise\:40 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 40%) }
html.var .sf-c-darkturquoise\:50 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 50%) }
html.var .sf-c-darkturquoise\:60 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 60%) }
html.var .sf-c-darkturquoise\:70 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 70%) }
html.var .sf-c-darkturquoise\:80 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 80%) }
html.var .sf-c-darkturquoise\:90 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 90%) }
html.var .sf-c-darkturquoise\:100 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkturquoise, html.dark .sf-c-darkturquoise { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise)) }
html[data-theme='dark'] .sf-c-darkturquoise\:0, html.dark .sf-c-darkturquoise\:0 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-100)) }
html[data-theme='dark'] .sf-c-darkturquoise\:10, html.dark .sf-c-darkturquoise\:10 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-90)) }
html[data-theme='dark'] .sf-c-darkturquoise\:20, html.dark .sf-c-darkturquoise\:20 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-80)) }
html[data-theme='dark'] .sf-c-darkturquoise\:30, html.dark .sf-c-darkturquoise\:30 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-70)) }
html[data-theme='dark'] .sf-c-darkturquoise\:40, html.dark .sf-c-darkturquoise\:40 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-60)) }
html[data-theme='dark'] .sf-c-darkturquoise\:50, html.dark .sf-c-darkturquoise\:50 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-50)) }
html[data-theme='dark'] .sf-c-darkturquoise\:60, html.dark .sf-c-darkturquoise\:60 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-40)) }
html[data-theme='dark'] .sf-c-darkturquoise\:70, html.dark .sf-c-darkturquoise\:70 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-30)) }
html[data-theme='dark'] .sf-c-darkturquoise\:80, html.dark .sf-c-darkturquoise\:80 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-20)) }
html[data-theme='dark'] .sf-c-darkturquoise\:90, html.dark .sf-c-darkturquoise\:90 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-10)) }
html[data-theme='dark'] .sf-c-darkturquoise\:100, html.dark .sf-c-darkturquoise\:100 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-0)) }

html[data-theme='dark'] .sf-c-darkturquoise\:dark, html.dark .sf-c-darkturquoise\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise)) }
html[data-theme='dark'] .sf-c-darkturquoise\:0\:dark, html.dark .sf-c-darkturquoise\:0\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-100)) }
html[data-theme='dark'] .sf-c-darkturquoise\:10\:dark, html.dark .sf-c-darkturquoise\:10\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-90)) }
html[data-theme='dark'] .sf-c-darkturquoise\:20\:dark, html.dark .sf-c-darkturquoise\:20\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-80)) }
html[data-theme='dark'] .sf-c-darkturquoise\:30\:dark, html.dark .sf-c-darkturquoise\:30\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-70)) }
html[data-theme='dark'] .sf-c-darkturquoise\:40\:dark, html.dark .sf-c-darkturquoise\:40\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-60)) }
html[data-theme='dark'] .sf-c-darkturquoise\:50\:dark, html.dark .sf-c-darkturquoise\:50\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-50)) }
html[data-theme='dark'] .sf-c-darkturquoise\:60\:dark, html.dark .sf-c-darkturquoise\:60\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-40)) }
html[data-theme='dark'] .sf-c-darkturquoise\:70\:dark, html.dark .sf-c-darkturquoise\:70\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-30)) }
html[data-theme='dark'] .sf-c-darkturquoise\:80\:dark, html.dark .sf-c-darkturquoise\:80\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-20)) }
html[data-theme='dark'] .sf-c-darkturquoise\:90\:dark, html.dark .sf-c-darkturquoise\:90\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-10)) }
html[data-theme='dark'] .sf-c-darkturquoise\:100\:dark, html.dark .sf-c-darkturquoise\:100\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-0)) }

html.var[data-theme='dark'] .sf-c-darkturquoise, html.var.dark .sf-c-darkturquoise { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 59%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:0, html.var.dark .sf-c-darkturquoise\:0 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:10, html.var.dark .sf-c-darkturquoise\:10 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:20, html.var.dark .sf-c-darkturquoise\:20 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:30, html.var.dark .sf-c-darkturquoise\:30 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:40, html.var.dark .sf-c-darkturquoise\:40 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:50, html.var.dark .sf-c-darkturquoise\:50 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:60, html.var.dark .sf-c-darkturquoise\:60 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:70, html.var.dark .sf-c-darkturquoise\:70 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:80, html.var.dark .sf-c-darkturquoise\:80 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:90, html.var.dark .sf-c-darkturquoise\:90 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:100, html.var.dark .sf-c-darkturquoise\:100 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-darkturquoise\:dark, html.var.dark .sf-c-darkturquoise\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 59%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:0\:dark, html.var.dark .sf-c-darkturquoise\:0\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:10\:dark, html.var.dark .sf-c-darkturquoise\:10\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:20\:dark, html.var.dark .sf-c-darkturquoise\:20\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:30\:dark, html.var.dark .sf-c-darkturquoise\:30\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:40\:dark, html.var.dark .sf-c-darkturquoise\:40\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:50\:dark, html.var.dark .sf-c-darkturquoise\:50\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:60\:dark, html.var.dark .sf-c-darkturquoise\:60\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:70\:dark, html.var.dark .sf-c-darkturquoise\:70\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:80\:dark, html.var.dark .sf-c-darkturquoise\:80\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:90\:dark, html.var.dark .sf-c-darkturquoise\:90\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-darkturquoise\:100\:dark, html.var.dark .sf-c-darkturquoise\:100\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkturquoise, html.auto .sf-c-darkturquoise { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:0, html.auto .sf-c-darkturquoise\:0 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-100)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:10, html.auto .sf-c-darkturquoise\:10 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-90)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:20, html.auto .sf-c-darkturquoise\:20 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-80)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:30, html.auto .sf-c-darkturquoise\:30 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-70)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:40, html.auto .sf-c-darkturquoise\:40 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-60)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:50, html.auto .sf-c-darkturquoise\:50 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-50)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:60, html.auto .sf-c-darkturquoise\:60 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-40)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:70, html.auto .sf-c-darkturquoise\:70 { color: hsl(var(--sf-dark-c-txt-darkturquoise-10)); background: hsl(var(--sf-dark-c-darkturquoise-30)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:80, html.auto .sf-c-darkturquoise\:80 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-20)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:90, html.auto .sf-c-darkturquoise\:90 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-10)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:100, html.auto .sf-c-darkturquoise\:100 { color: hsl(var(--sf-dark-c-txt-darkturquoise-90)); background: hsl(var(--sf-dark-c-darkturquoise-0)) }

  html[data-theme='auto'] .sf-c-darkturquoise\:dark, html.auto .sf-c-darkturquoise\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:0\:dark, html.auto .sf-c-darkturquoise\:0\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-100)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:10\:dark, html.auto .sf-c-darkturquoise\:10\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-90)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:20\:dark, html.auto .sf-c-darkturquoise\:20\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-80)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:30\:dark, html.auto .sf-c-darkturquoise\:30\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-70)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:40\:dark, html.auto .sf-c-darkturquoise\:40\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-60)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:50\:dark, html.auto .sf-c-darkturquoise\:50\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-50)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:60\:dark, html.auto .sf-c-darkturquoise\:60\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-40)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:70\:dark, html.auto .sf-c-darkturquoise\:70\:dark { color: hsl(var(--sf-c-txt-darkturquoise-10)); background: hsl(var(--sf-c-darkturquoise-30)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:80\:dark, html.auto .sf-c-darkturquoise\:80\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-20)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:90\:dark, html.auto .sf-c-darkturquoise\:90\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-10)) }
  html[data-theme='auto'] .sf-c-darkturquoise\:100\:dark, html.auto .sf-c-darkturquoise\:100\:dark { color: hsl(var(--sf-c-txt-darkturquoise-90)); background: hsl(var(--sf-c-darkturquoise-0)) }

  html.var[data-theme='auto'] .sf-c-darkturquoise, html.var.auto .sf-c-darkturquoise { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 59%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:0, html.var.auto .sf-c-darkturquoise\:0 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:10, html.var.auto .sf-c-darkturquoise\:10 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:20, html.var.auto .sf-c-darkturquoise\:20 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:30, html.var.auto .sf-c-darkturquoise\:30 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:40, html.var.auto .sf-c-darkturquoise\:40 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:50, html.var.auto .sf-c-darkturquoise\:50 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:60, html.var.auto .sf-c-darkturquoise\:60 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:70, html.var.auto .sf-c-darkturquoise\:70 { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:80, html.var.auto .sf-c-darkturquoise\:80 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:90, html.var.auto .sf-c-darkturquoise\:90 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:100, html.var.auto .sf-c-darkturquoise\:100 { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-darkturquoise\:dark, html.var.auto .sf-c-darkturquoise\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 59%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:0\:dark, html.var.auto .sf-c-darkturquoise\:0\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:10\:dark, html.var.auto .sf-c-darkturquoise\:10\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:20\:dark, html.var.auto .sf-c-darkturquoise\:20\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:30\:dark, html.var.auto .sf-c-darkturquoise\:30\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:40\:dark, html.var.auto .sf-c-darkturquoise\:40\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:50\:dark, html.var.auto .sf-c-darkturquoise\:50\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:60\:dark, html.var.auto .sf-c-darkturquoise\:60\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:70\:dark, html.var.auto .sf-c-darkturquoise\:70\:dark { color: hsl(181, 100%, 10%); background: hsl(181, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:80\:dark, html.var.auto .sf-c-darkturquoise\:80\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:90\:dark, html.var.auto .sf-c-darkturquoise\:90\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-darkturquoise\:100\:dark, html.var.auto .sf-c-darkturquoise\:100\:dark { color: hsl(181, 100%, 90%); background: hsl(181, 100%, 0%) }
}

.sf-c-txt-darkturquoise { color: hsl(var(--sf-c-txt-darkturquoise)) }
.sf-c-txt-darkturquoise\:0 { color: hsl(var(--sf-c-txt-darkturquoise-0)) }
.sf-c-txt-darkturquoise\:10 { color: hsl(var(--sf-c-txt-darkturquoise-10)) }
.sf-c-txt-darkturquoise\:20 { color: hsl(var(--sf-c-txt-darkturquoise-20)) }
.sf-c-txt-darkturquoise\:30 { color: hsl(var(--sf-c-txt-darkturquoise-30)) }
.sf-c-txt-darkturquoise\:40 { color: hsl(var(--sf-c-txt-darkturquoise-40)) }
.sf-c-txt-darkturquoise\:50 { color: hsl(var(--sf-c-txt-darkturquoise-50)) }
.sf-c-txt-darkturquoise\:60 { color: hsl(var(--sf-c-txt-darkturquoise-60)) }
.sf-c-txt-darkturquoise\:70 { color: hsl(var(--sf-c-txt-darkturquoise-70)) }
.sf-c-txt-darkturquoise\:80 { color: hsl(var(--sf-c-txt-darkturquoise-80)) }
.sf-c-txt-darkturquoise\:90 { color: hsl(var(--sf-c-txt-darkturquoise-90)) }
.sf-c-txt-darkturquoise\:100 { color: hsl(var(--sf-c-txt-darkturquoise-100)) }