:root {
  --sf-c-darkorchid: 280 61% 50%;
  --sf-c-darkorchid-10: 280 61% 10%;
  --sf-c-darkorchid-20: 280 61% 20%;
  --sf-c-darkorchid-30: 280 61% 30%;
  --sf-c-darkorchid-40: 280 61% 40%;
  --sf-c-darkorchid-50: 280 61% 50%;
  --sf-c-darkorchid-60: 280 61% 60%;
  --sf-c-darkorchid-70: 280 61% 70%;
  --sf-c-darkorchid-80: 280 61% 80%;
  --sf-c-darkorchid-90: 280 61% 90%;
 
  --sf-c-txt-darkorchid: var(--sf-c-darkorchid);
  --sf-c-txt-darkorchid-10: var(--sf-c-darkorchid-10);
  --sf-c-txt-darkorchid-20: var(--sf-c-darkorchid-20);
  --sf-c-txt-darkorchid-30: var(--sf-c-darkorchid-30);
  --sf-c-txt-darkorchid-40: var(--sf-c-darkorchid-40);
  --sf-c-txt-darkorchid-50: var(--sf-c-darkorchid-50);
  --sf-c-txt-darkorchid-60: var(--sf-c-darkorchid-60);
  --sf-c-txt-darkorchid-70: var(--sf-c-darkorchid-70);
  --sf-c-txt-darkorchid-80: var(--sf-c-darkorchid-80);
  --sf-c-txt-darkorchid-90: var(--sf-c-darkorchid-90);
 
  --sf-dark-c-darkorchid: 280 61% 50%;
  --sf-dark-c-darkorchid-10: 280 61% 90%;
  --sf-dark-c-darkorchid-20: 280 61% 80%;
  --sf-dark-c-darkorchid-30: 280 61% 70%;
  --sf-dark-c-darkorchid-40: 280 61% 60%;
  --sf-dark-c-darkorchid-50: 280 61% 50%;
  --sf-dark-c-darkorchid-60: 280 61% 40%;
  --sf-dark-c-darkorchid-70: 280 61% 30%;
  --sf-dark-c-darkorchid-80: 280 61% 20%;
  --sf-dark-c-darkorchid-90: 280 61% 10%;
 
  --sf-dark-c-txt-darkorchid: var(--sf-dark-c-darkorchid);
  --sf-dark-c-txt-darkorchid-10: var(--sf-dark-c-darkorchid-10);
  --sf-dark-c-txt-darkorchid-20: var(--sf-dark-c-darkorchid-20);
  --sf-dark-c-txt-darkorchid-30: var(--sf-dark-c-darkorchid-30);
  --sf-dark-c-txt-darkorchid-40: var(--sf-dark-c-darkorchid-40);
  --sf-dark-c-txt-darkorchid-50: var(--sf-dark-c-darkorchid-50);
  --sf-dark-c-txt-darkorchid-60: var(--sf-dark-c-darkorchid-60);
  --sf-dark-c-txt-darkorchid-70: var(--sf-dark-c-darkorchid-70);
  --sf-dark-c-txt-darkorchid-80: var(--sf-dark-c-darkorchid-80);
  --sf-dark-c-txt-darkorchid-90: var(--sf-dark-c-darkorchid-90);
}
 
:root[data-theme="dark"] {
  --sf-c-darkorchid: var(--sf-dark-c-darkorchid);
  --sf-c-darkorchid-10: var(--sf-dark-c-darkorchid-10);
  --sf-c-darkorchid-20: var(--sf-dark-c-darkorchid-20);
  --sf-c-darkorchid-30: var(--sf-dark-c-darkorchid-30);
  --sf-c-darkorchid-40: var(--sf-dark-c-darkorchid-40);
  --sf-c-darkorchid-50: var(--sf-dark-c-darkorchid-50);
  --sf-c-darkorchid-60: var(--sf-dark-c-darkorchid-60);
  --sf-c-darkorchid-70: var(--sf-dark-c-darkorchid-70);
  --sf-c-darkorchid-80: var(--sf-dark-c-darkorchid-80);
  --sf-c-darkorchid-90: var(--sf-dark-c-darkorchid-90);
 
  --sf-c-txt-darkorchid: var(--sf-dark-c-txt-darkorchid);
  --sf-c-txt-darkorchid-10: var(--sf-dark-c-txt-darkorchid-10);
  --sf-c-txt-darkorchid-20: var(--sf-dark-c-txt-darkorchid-20);
  --sf-c-txt-darkorchid-30: var(--sf-dark-c-txt-darkorchid-30);
  --sf-c-txt-darkorchid-40: var(--sf-dark-c-txt-darkorchid-40);
  --sf-c-txt-darkorchid-50: var(--sf-dark-c-txt-darkorchid-50);
  --sf-c-txt-darkorchid-60: var(--sf-dark-c-txt-darkorchid-60);
  --sf-c-txt-darkorchid-70: var(--sf-dark-c-txt-darkorchid-70);
  --sf-c-txt-darkorchid-80: var(--sf-dark-c-txt-darkorchid-80);
  --sf-c-txt-darkorchid-90: var(--sf-dark-c-txt-darkorchid-90);
}

.sf-c-darkorchid { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid)) }
.sf-c-darkorchid\:10 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-10)) }
.sf-c-darkorchid\:20 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-20)) }
.sf-c-darkorchid\:30 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-30)) }
.sf-c-darkorchid\:40 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-40)) }
.sf-c-darkorchid\:50 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-50)) }
.sf-c-darkorchid\:60 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-60)) }
.sf-c-darkorchid\:70 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-70)) }
.sf-c-darkorchid\:80 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-80)) }
.sf-c-darkorchid\:90 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-90)) }
 
[data-theme="dark"] .sf-c-darkorchid { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid)) }
[data-theme="dark"] .sf-c-darkorchid\:10 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-10)) }
[data-theme="dark"] .sf-c-darkorchid\:20 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-20)) }
[data-theme="dark"] .sf-c-darkorchid\:30 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-30)) }
[data-theme="dark"] .sf-c-darkorchid\:40 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-40)) }
[data-theme="dark"] .sf-c-darkorchid\:50 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-50)) }
[data-theme="dark"] .sf-c-darkorchid\:60 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-60)) }
[data-theme="dark"] .sf-c-darkorchid\:70 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-70)) }
[data-theme="dark"] .sf-c-darkorchid\:80 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-80)) }
[data-theme="dark"] .sf-c-darkorchid\:90 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-90)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-darkorchid: var(--sf-dark-c-darkorchid);
    --sf-c-darkorchid-10: var(--sf-dark-c-darkorchid-10);
    --sf-c-darkorchid-20: var(--sf-dark-c-darkorchid-20);
    --sf-c-darkorchid-30: var(--sf-dark-c-darkorchid-30);
    --sf-c-darkorchid-40: var(--sf-dark-c-darkorchid-40);
    --sf-c-darkorchid-50: var(--sf-dark-c-darkorchid-50);
    --sf-c-darkorchid-60: var(--sf-dark-c-darkorchid-60);
    --sf-c-darkorchid-70: var(--sf-dark-c-darkorchid-70);
    --sf-c-darkorchid-80: var(--sf-dark-c-darkorchid-80);
    --sf-c-darkorchid-90: var(--sf-dark-c-darkorchid-90);
 
    --sf-c-txt-darkorchid: var(--sf-dark-c-txt-darkorchid);
    --sf-c-txt-darkorchid-10: var(--sf-dark-c-txt-darkorchid-10);
    --sf-c-txt-darkorchid-20: var(--sf-dark-c-txt-darkorchid-20);
    --sf-c-txt-darkorchid-30: var(--sf-dark-c-txt-darkorchid-30);
    --sf-c-txt-darkorchid-40: var(--sf-dark-c-txt-darkorchid-40);
    --sf-c-txt-darkorchid-50: var(--sf-dark-c-txt-darkorchid-50);
    --sf-c-txt-darkorchid-60: var(--sf-dark-c-txt-darkorchid-60);
    --sf-c-txt-darkorchid-70: var(--sf-dark-c-txt-darkorchid-70);
    --sf-c-txt-darkorchid-80: var(--sf-dark-c-txt-darkorchid-80);
    --sf-c-txt-darkorchid-90: var(--sf-dark-c-txt-darkorchid-90);
  }
 
  [data-theme="auto"] .sf-c-darkorchid { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid)) }
  [data-theme="auto"] .sf-c-darkorchid\:10 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-10)) }
  [data-theme="auto"] .sf-c-darkorchid\:20 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-20)) }
  [data-theme="auto"] .sf-c-darkorchid\:30 { color: hsl(var(--sf-c-txt-darkorchid-90)); background: hsl(var(--sf-c-darkorchid-30)) }
  [data-theme="auto"] .sf-c-darkorchid\:40 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-40)) }
  [data-theme="auto"] .sf-c-darkorchid\:50 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-50)) }
  [data-theme="auto"] .sf-c-darkorchid\:60 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-60)) }
  [data-theme="auto"] .sf-c-darkorchid\:70 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-70)) }
  [data-theme="auto"] .sf-c-darkorchid\:80 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-80)) }
  [data-theme="auto"] .sf-c-darkorchid\:90 { color: hsl(var(--sf-c-txt-darkorchid-10)); background: hsl(var(--sf-c-darkorchid-90)) }
}

.sf-c-txt-darkorchid { color: hsl(var(--sf-c-txt-darkorchid)) }
.sf-c-txt-darkorchid\:10 { color: hsl(var(--sf-c-txt-darkorchid-10)) }
.sf-c-txt-darkorchid\:20 { color: hsl(var(--sf-c-txt-darkorchid-20)) }
.sf-c-txt-darkorchid\:30 { color: hsl(var(--sf-c-txt-darkorchid-30)) }
.sf-c-txt-darkorchid\:40 { color: hsl(var(--sf-c-txt-darkorchid-40)) }
.sf-c-txt-darkorchid\:50 { color: hsl(var(--sf-c-txt-darkorchid-50)) }
.sf-c-txt-darkorchid\:60 { color: hsl(var(--sf-c-txt-darkorchid-60)) }
.sf-c-txt-darkorchid\:70 { color: hsl(var(--sf-c-txt-darkorchid-70)) }
.sf-c-txt-darkorchid\:80 { color: hsl(var(--sf-c-txt-darkorchid-80)) }
.sf-c-txt-darkorchid\:90 { color: hsl(var(--sf-c-txt-darkorchid-90)) }