:root {
  --sf-c-dodgerblue: 210 100% 56%;
  --sf-c-dodgerblue-10: 210 100% 10%;
  --sf-c-dodgerblue-20: 210 100% 20%;
  --sf-c-dodgerblue-30: 210 100% 30%;
  --sf-c-dodgerblue-40: 210 100% 40%;
  --sf-c-dodgerblue-50: 210 100% 50%;
  --sf-c-dodgerblue-60: 210 100% 60%;
  --sf-c-dodgerblue-70: 210 100% 70%;
  --sf-c-dodgerblue-80: 210 100% 80%;
  --sf-c-dodgerblue-90: 210 100% 90%;
 
  --sf-c-txt-dodgerblue: var(--sf-c-dodgerblue);
  --sf-c-txt-dodgerblue-10: var(--sf-c-dodgerblue-10);
  --sf-c-txt-dodgerblue-20: var(--sf-c-dodgerblue-20);
  --sf-c-txt-dodgerblue-30: var(--sf-c-dodgerblue-30);
  --sf-c-txt-dodgerblue-40: var(--sf-c-dodgerblue-40);
  --sf-c-txt-dodgerblue-50: var(--sf-c-dodgerblue-50);
  --sf-c-txt-dodgerblue-60: var(--sf-c-dodgerblue-60);
  --sf-c-txt-dodgerblue-70: var(--sf-c-dodgerblue-70);
  --sf-c-txt-dodgerblue-80: var(--sf-c-dodgerblue-80);
  --sf-c-txt-dodgerblue-90: var(--sf-c-dodgerblue-90);
 
  --sf-dark-c-dodgerblue: 210 100% 44%;
  --sf-dark-c-dodgerblue-10: 210 100% 90%;
  --sf-dark-c-dodgerblue-20: 210 100% 80%;
  --sf-dark-c-dodgerblue-30: 210 100% 70%;
  --sf-dark-c-dodgerblue-40: 210 100% 60%;
  --sf-dark-c-dodgerblue-50: 210 100% 50%;
  --sf-dark-c-dodgerblue-60: 210 100% 40%;
  --sf-dark-c-dodgerblue-70: 210 100% 30%;
  --sf-dark-c-dodgerblue-80: 210 100% 20%;
  --sf-dark-c-dodgerblue-90: 210 100% 10%;
 
  --sf-dark-c-txt-dodgerblue: var(--sf-dark-c-dodgerblue);
  --sf-dark-c-txt-dodgerblue-10: var(--sf-dark-c-dodgerblue-10);
  --sf-dark-c-txt-dodgerblue-20: var(--sf-dark-c-dodgerblue-20);
  --sf-dark-c-txt-dodgerblue-30: var(--sf-dark-c-dodgerblue-30);
  --sf-dark-c-txt-dodgerblue-40: var(--sf-dark-c-dodgerblue-40);
  --sf-dark-c-txt-dodgerblue-50: var(--sf-dark-c-dodgerblue-50);
  --sf-dark-c-txt-dodgerblue-60: var(--sf-dark-c-dodgerblue-60);
  --sf-dark-c-txt-dodgerblue-70: var(--sf-dark-c-dodgerblue-70);
  --sf-dark-c-txt-dodgerblue-80: var(--sf-dark-c-dodgerblue-80);
  --sf-dark-c-txt-dodgerblue-90: var(--sf-dark-c-dodgerblue-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-dodgerblue: var(--sf-dark-c-dodgerblue);
  --sf-c-dodgerblue-10: var(--sf-dark-c-dodgerblue-10);
  --sf-c-dodgerblue-20: var(--sf-dark-c-dodgerblue-20);
  --sf-c-dodgerblue-30: var(--sf-dark-c-dodgerblue-30);
  --sf-c-dodgerblue-40: var(--sf-dark-c-dodgerblue-40);
  --sf-c-dodgerblue-50: var(--sf-dark-c-dodgerblue-50);
  --sf-c-dodgerblue-60: var(--sf-dark-c-dodgerblue-60);
  --sf-c-dodgerblue-70: var(--sf-dark-c-dodgerblue-70);
  --sf-c-dodgerblue-80: var(--sf-dark-c-dodgerblue-80);
  --sf-c-dodgerblue-90: var(--sf-dark-c-dodgerblue-90);
 
  --sf-c-txt-dodgerblue: var(--sf-dark-c-txt-dodgerblue);
  --sf-c-txt-dodgerblue-10: var(--sf-dark-c-txt-dodgerblue-10);
  --sf-c-txt-dodgerblue-20: var(--sf-dark-c-txt-dodgerblue-20);
  --sf-c-txt-dodgerblue-30: var(--sf-dark-c-txt-dodgerblue-30);
  --sf-c-txt-dodgerblue-40: var(--sf-dark-c-txt-dodgerblue-40);
  --sf-c-txt-dodgerblue-50: var(--sf-dark-c-txt-dodgerblue-50);
  --sf-c-txt-dodgerblue-60: var(--sf-dark-c-txt-dodgerblue-60);
  --sf-c-txt-dodgerblue-70: var(--sf-dark-c-txt-dodgerblue-70);
  --sf-c-txt-dodgerblue-80: var(--sf-dark-c-txt-dodgerblue-80);
  --sf-c-txt-dodgerblue-90: var(--sf-dark-c-txt-dodgerblue-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-dodgerblue: var(--sf-dark-c-dodgerblue);
    --sf-c-dodgerblue-10: var(--sf-dark-c-dodgerblue-10);
    --sf-c-dodgerblue-20: var(--sf-dark-c-dodgerblue-20);
    --sf-c-dodgerblue-30: var(--sf-dark-c-dodgerblue-30);
    --sf-c-dodgerblue-40: var(--sf-dark-c-dodgerblue-40);
    --sf-c-dodgerblue-50: var(--sf-dark-c-dodgerblue-50);
    --sf-c-dodgerblue-60: var(--sf-dark-c-dodgerblue-60);
    --sf-c-dodgerblue-70: var(--sf-dark-c-dodgerblue-70);
    --sf-c-dodgerblue-80: var(--sf-dark-c-dodgerblue-80);
    --sf-c-dodgerblue-90: var(--sf-dark-c-dodgerblue-90);
 
    --sf-c-txt-dodgerblue: var(--sf-dark-c-txt-dodgerblue);
    --sf-c-txt-dodgerblue-10: var(--sf-dark-c-txt-dodgerblue-10);
    --sf-c-txt-dodgerblue-20: var(--sf-dark-c-txt-dodgerblue-20);
    --sf-c-txt-dodgerblue-30: var(--sf-dark-c-txt-dodgerblue-30);
    --sf-c-txt-dodgerblue-40: var(--sf-dark-c-txt-dodgerblue-40);
    --sf-c-txt-dodgerblue-50: var(--sf-dark-c-txt-dodgerblue-50);
    --sf-c-txt-dodgerblue-60: var(--sf-dark-c-txt-dodgerblue-60);
    --sf-c-txt-dodgerblue-70: var(--sf-dark-c-txt-dodgerblue-70);
    --sf-c-txt-dodgerblue-80: var(--sf-dark-c-txt-dodgerblue-80);
    --sf-c-txt-dodgerblue-90: var(--sf-dark-c-txt-dodgerblue-90);
  }
}
 
.sf-c-dodgerblue { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue)) }
.sf-c-dodgerblue\:10 { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-10)) }
.sf-c-dodgerblue\:20 { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-20)) }
.sf-c-dodgerblue\:30 { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-30)) }
.sf-c-dodgerblue\:40 { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-40)) }
.sf-c-dodgerblue\:50 { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-50)) }
.sf-c-dodgerblue\:60 { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-60)) }
.sf-c-dodgerblue\:70 { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-70)) }
.sf-c-dodgerblue\:80 { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-80)) }
.sf-c-dodgerblue\:90 { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:10\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:20\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:30\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:40\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:50\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)); background: hsl(var(--sf-c-dodgerblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:60\:dark { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:70\:dark { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:80\:dark { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-dodgerblue\:90\:dark { color: hsl(var(--sf-c-txt-dodgerblue-10)); background: hsl(var(--sf-c-dodgerblue-90)) }

.sf-c-txt-dodgerblue { color: hsl(var(--sf-c-txt-dodgerblue)) }
.sf-c-txt-dodgerblue\:10 { color: hsl(var(--sf-c-txt-dodgerblue-10)) }
.sf-c-txt-dodgerblue\:20 { color: hsl(var(--sf-c-txt-dodgerblue-20)) }
.sf-c-txt-dodgerblue\:30 { color: hsl(var(--sf-c-txt-dodgerblue-30)) }
.sf-c-txt-dodgerblue\:40 { color: hsl(var(--sf-c-txt-dodgerblue-40)) }
.sf-c-txt-dodgerblue\:50 { color: hsl(var(--sf-c-txt-dodgerblue-50)) }
.sf-c-txt-dodgerblue\:60 { color: hsl(var(--sf-c-txt-dodgerblue-60)) }
.sf-c-txt-dodgerblue\:70 { color: hsl(var(--sf-c-txt-dodgerblue-70)) }
.sf-c-txt-dodgerblue\:80 { color: hsl(var(--sf-c-txt-dodgerblue-80)) }
.sf-c-txt-dodgerblue\:90 { color: hsl(var(--sf-c-txt-dodgerblue-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:dark { color: hsl(var(--sf-c-txt-dodgerblue)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:10\:dark { color: hsl(var(--sf-c-txt-dodgerblue-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:20\:dark { color: hsl(var(--sf-c-txt-dodgerblue-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:30\:dark { color: hsl(var(--sf-c-txt-dodgerblue-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:40\:dark { color: hsl(var(--sf-c-txt-dodgerblue-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:50\:dark { color: hsl(var(--sf-c-txt-dodgerblue-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:60\:dark { color: hsl(var(--sf-c-txt-dodgerblue-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:70\:dark { color: hsl(var(--sf-c-txt-dodgerblue-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:80\:dark { color: hsl(var(--sf-c-txt-dodgerblue-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-dodgerblue\:90\:dark { color: hsl(var(--sf-c-txt-dodgerblue-90)) }