:root {
  --sf-c-forestgreen: 120 61% 34%;
  --sf-c-forestgreen-0: 120 61% 0%;
  --sf-c-forestgreen-10: 120 61% 10%;
  --sf-c-forestgreen-20: 120 61% 20%;
  --sf-c-forestgreen-30: 120 61% 30%;
  --sf-c-forestgreen-40: 120 61% 40%;
  --sf-c-forestgreen-50: 120 61% 50%;
  --sf-c-forestgreen-60: 120 61% 60%;
  --sf-c-forestgreen-70: 120 61% 70%;
  --sf-c-forestgreen-80: 120 61% 80%;
  --sf-c-forestgreen-90: 120 61% 90%;
  --sf-c-forestgreen-100: 120 61% 100%;

  --sf-c-txt-forestgreen: var(--sf-c-forestgreen);
  --sf-c-txt-forestgreen-0: var(--sf-c-forestgreen-0);
  --sf-c-txt-forestgreen-10: var(--sf-c-forestgreen-10);
  --sf-c-txt-forestgreen-20: var(--sf-c-forestgreen-20);
  --sf-c-txt-forestgreen-30: var(--sf-c-forestgreen-30);
  --sf-c-txt-forestgreen-40: var(--sf-c-forestgreen-40);
  --sf-c-txt-forestgreen-50: var(--sf-c-forestgreen-50);
  --sf-c-txt-forestgreen-60: var(--sf-c-forestgreen-60);
  --sf-c-txt-forestgreen-70: var(--sf-c-forestgreen-70);
  --sf-c-txt-forestgreen-80: var(--sf-c-forestgreen-80);
  --sf-c-txt-forestgreen-90: var(--sf-c-forestgreen-90);
  --sf-c-txt-forestgreen-100: var(--sf-c-forestgreen-100);

  --sf-dark-c-forestgreen: 120 61% 66%;
  --sf-dark-c-forestgreen-0: 120 61% 0%;
  --sf-dark-c-forestgreen-10: 120 61% 10%;
  --sf-dark-c-forestgreen-20: 120 61% 20%;
  --sf-dark-c-forestgreen-30: 120 61% 30%;
  --sf-dark-c-forestgreen-40: 120 61% 40%;
  --sf-dark-c-forestgreen-50: 120 61% 50%;
  --sf-dark-c-forestgreen-60: 120 61% 60%;
  --sf-dark-c-forestgreen-70: 120 61% 70%;
  --sf-dark-c-forestgreen-80: 120 61% 80%;
  --sf-dark-c-forestgreen-90: 120 61% 90%;
  --sf-dark-c-forestgreen-100: 120 61% 100%;

  --sf-dark-c-txt-forestgreen: var(--sf-dark-c-forestgreen);
  --sf-dark-c-txt-forestgreen-0: var(--sf-dark-c-forestgreen-0);
  --sf-dark-c-txt-forestgreen-10: var(--sf-dark-c-forestgreen-10);
  --sf-dark-c-txt-forestgreen-20: var(--sf-dark-c-forestgreen-20);
  --sf-dark-c-txt-forestgreen-30: var(--sf-dark-c-forestgreen-30);
  --sf-dark-c-txt-forestgreen-40: var(--sf-dark-c-forestgreen-40);
  --sf-dark-c-txt-forestgreen-50: var(--sf-dark-c-forestgreen-50);
  --sf-dark-c-txt-forestgreen-60: var(--sf-dark-c-forestgreen-60);
  --sf-dark-c-txt-forestgreen-70: var(--sf-dark-c-forestgreen-70);
  --sf-dark-c-txt-forestgreen-80: var(--sf-dark-c-forestgreen-80);
  --sf-dark-c-txt-forestgreen-90: var(--sf-dark-c-forestgreen-90);
  --sf-dark-c-txt-forestgreen-100: var(--sf-dark-c-forestgreen-100);
}

.sf-c-forestgreen { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen)) }
.sf-c-forestgreen\:0 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-0)) }
.sf-c-forestgreen\:10 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-10)) }
.sf-c-forestgreen\:20 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-20)) }
.sf-c-forestgreen\:30 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-30)) }
.sf-c-forestgreen\:40 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-40)) }
.sf-c-forestgreen\:50 { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-50)) }
.sf-c-forestgreen\:60 { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-60)) }
.sf-c-forestgreen\:70 { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-70)) }
.sf-c-forestgreen\:80 { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-80)) }
.sf-c-forestgreen\:90 { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-90)) }
.sf-c-forestgreen\:100 { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-100)) }

html.var .sf-c-forestgreen { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 34%) }
html.var .sf-c-forestgreen\:0 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 0%) }
html.var .sf-c-forestgreen\:10 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 10%) }
html.var .sf-c-forestgreen\:20 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 20%) }
html.var .sf-c-forestgreen\:30 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 30%) }
html.var .sf-c-forestgreen\:40 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 40%) }
html.var .sf-c-forestgreen\:50 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 50%) }
html.var .sf-c-forestgreen\:60 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 60%) }
html.var .sf-c-forestgreen\:70 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 70%) }
html.var .sf-c-forestgreen\:80 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 80%) }
html.var .sf-c-forestgreen\:90 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 90%) }
html.var .sf-c-forestgreen\:100 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 100%) }

html[data-theme='dark'] .sf-c-forestgreen, html.dark .sf-c-forestgreen { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen)) }
html[data-theme='dark'] .sf-c-forestgreen\:0, html.dark .sf-c-forestgreen\:0 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-100)) }
html[data-theme='dark'] .sf-c-forestgreen\:10, html.dark .sf-c-forestgreen\:10 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-90)) }
html[data-theme='dark'] .sf-c-forestgreen\:20, html.dark .sf-c-forestgreen\:20 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-80)) }
html[data-theme='dark'] .sf-c-forestgreen\:30, html.dark .sf-c-forestgreen\:30 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-70)) }
html[data-theme='dark'] .sf-c-forestgreen\:40, html.dark .sf-c-forestgreen\:40 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-60)) }
html[data-theme='dark'] .sf-c-forestgreen\:50, html.dark .sf-c-forestgreen\:50 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-50)) }
html[data-theme='dark'] .sf-c-forestgreen\:60, html.dark .sf-c-forestgreen\:60 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-40)) }
html[data-theme='dark'] .sf-c-forestgreen\:70, html.dark .sf-c-forestgreen\:70 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-30)) }
html[data-theme='dark'] .sf-c-forestgreen\:80, html.dark .sf-c-forestgreen\:80 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-20)) }
html[data-theme='dark'] .sf-c-forestgreen\:90, html.dark .sf-c-forestgreen\:90 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-10)) }
html[data-theme='dark'] .sf-c-forestgreen\:100, html.dark .sf-c-forestgreen\:100 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-0)) }

html[data-theme='dark'] .sf-c-forestgreen\:dark, html.dark .sf-c-forestgreen\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen)) }
html[data-theme='dark'] .sf-c-forestgreen\:0\:dark, html.dark .sf-c-forestgreen\:0\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-100)) }
html[data-theme='dark'] .sf-c-forestgreen\:10\:dark, html.dark .sf-c-forestgreen\:10\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-90)) }
html[data-theme='dark'] .sf-c-forestgreen\:20\:dark, html.dark .sf-c-forestgreen\:20\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-80)) }
html[data-theme='dark'] .sf-c-forestgreen\:30\:dark, html.dark .sf-c-forestgreen\:30\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-70)) }
html[data-theme='dark'] .sf-c-forestgreen\:40\:dark, html.dark .sf-c-forestgreen\:40\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-60)) }
html[data-theme='dark'] .sf-c-forestgreen\:50\:dark, html.dark .sf-c-forestgreen\:50\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-50)) }
html[data-theme='dark'] .sf-c-forestgreen\:60\:dark, html.dark .sf-c-forestgreen\:60\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-40)) }
html[data-theme='dark'] .sf-c-forestgreen\:70\:dark, html.dark .sf-c-forestgreen\:70\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-30)) }
html[data-theme='dark'] .sf-c-forestgreen\:80\:dark, html.dark .sf-c-forestgreen\:80\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-20)) }
html[data-theme='dark'] .sf-c-forestgreen\:90\:dark, html.dark .sf-c-forestgreen\:90\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-10)) }
html[data-theme='dark'] .sf-c-forestgreen\:100\:dark, html.dark .sf-c-forestgreen\:100\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-0)) }

html.var[data-theme='dark'] .sf-c-forestgreen, html.var.dark .sf-c-forestgreen { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 66%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:0, html.var.dark .sf-c-forestgreen\:0 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 100%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:10, html.var.dark .sf-c-forestgreen\:10 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 90%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:20, html.var.dark .sf-c-forestgreen\:20 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 80%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:30, html.var.dark .sf-c-forestgreen\:30 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 70%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:40, html.var.dark .sf-c-forestgreen\:40 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 60%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:50, html.var.dark .sf-c-forestgreen\:50 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 50%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:60, html.var.dark .sf-c-forestgreen\:60 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 40%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:70, html.var.dark .sf-c-forestgreen\:70 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 30%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:80, html.var.dark .sf-c-forestgreen\:80 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 20%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:90, html.var.dark .sf-c-forestgreen\:90 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 10%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:100, html.var.dark .sf-c-forestgreen\:100 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 0%) }

html.var[data-theme='dark'] .sf-c-forestgreen\:dark, html.var.dark .sf-c-forestgreen\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 66%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:0\:dark, html.var.dark .sf-c-forestgreen\:0\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 100%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:10\:dark, html.var.dark .sf-c-forestgreen\:10\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 90%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:20\:dark, html.var.dark .sf-c-forestgreen\:20\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 80%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:30\:dark, html.var.dark .sf-c-forestgreen\:30\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 70%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:40\:dark, html.var.dark .sf-c-forestgreen\:40\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 60%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:50\:dark, html.var.dark .sf-c-forestgreen\:50\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 50%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:60\:dark, html.var.dark .sf-c-forestgreen\:60\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 40%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:70\:dark, html.var.dark .sf-c-forestgreen\:70\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 30%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:80\:dark, html.var.dark .sf-c-forestgreen\:80\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 20%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:90\:dark, html.var.dark .sf-c-forestgreen\:90\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 10%) }
html.var[data-theme='dark'] .sf-c-forestgreen\:100\:dark, html.var.dark .sf-c-forestgreen\:100\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-forestgreen, html.auto .sf-c-forestgreen { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen)) }
  html[data-theme='auto'] .sf-c-forestgreen\:0, html.auto .sf-c-forestgreen\:0 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-100)) }
  html[data-theme='auto'] .sf-c-forestgreen\:10, html.auto .sf-c-forestgreen\:10 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-90)) }
  html[data-theme='auto'] .sf-c-forestgreen\:20, html.auto .sf-c-forestgreen\:20 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-80)) }
  html[data-theme='auto'] .sf-c-forestgreen\:30, html.auto .sf-c-forestgreen\:30 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-70)) }
  html[data-theme='auto'] .sf-c-forestgreen\:40, html.auto .sf-c-forestgreen\:40 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-60)) }
  html[data-theme='auto'] .sf-c-forestgreen\:50, html.auto .sf-c-forestgreen\:50 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-50)) }
  html[data-theme='auto'] .sf-c-forestgreen\:60, html.auto .sf-c-forestgreen\:60 { color: hsl(var(--sf-dark-c-txt-forestgreen-10)); background: hsl(var(--sf-dark-c-forestgreen-40)) }
  html[data-theme='auto'] .sf-c-forestgreen\:70, html.auto .sf-c-forestgreen\:70 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-30)) }
  html[data-theme='auto'] .sf-c-forestgreen\:80, html.auto .sf-c-forestgreen\:80 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-20)) }
  html[data-theme='auto'] .sf-c-forestgreen\:90, html.auto .sf-c-forestgreen\:90 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-10)) }
  html[data-theme='auto'] .sf-c-forestgreen\:100, html.auto .sf-c-forestgreen\:100 { color: hsl(var(--sf-dark-c-txt-forestgreen-90)); background: hsl(var(--sf-dark-c-forestgreen-0)) }

  html[data-theme='auto'] .sf-c-forestgreen\:dark, html.auto .sf-c-forestgreen\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen)) }
  html[data-theme='auto'] .sf-c-forestgreen\:0\:dark, html.auto .sf-c-forestgreen\:0\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-100)) }
  html[data-theme='auto'] .sf-c-forestgreen\:10\:dark, html.auto .sf-c-forestgreen\:10\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-90)) }
  html[data-theme='auto'] .sf-c-forestgreen\:20\:dark, html.auto .sf-c-forestgreen\:20\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-80)) }
  html[data-theme='auto'] .sf-c-forestgreen\:30\:dark, html.auto .sf-c-forestgreen\:30\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-70)) }
  html[data-theme='auto'] .sf-c-forestgreen\:40\:dark, html.auto .sf-c-forestgreen\:40\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-60)) }
  html[data-theme='auto'] .sf-c-forestgreen\:50\:dark, html.auto .sf-c-forestgreen\:50\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-50)) }
  html[data-theme='auto'] .sf-c-forestgreen\:60\:dark, html.auto .sf-c-forestgreen\:60\:dark { color: hsl(var(--sf-c-txt-forestgreen-10)); background: hsl(var(--sf-c-forestgreen-40)) }
  html[data-theme='auto'] .sf-c-forestgreen\:70\:dark, html.auto .sf-c-forestgreen\:70\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-30)) }
  html[data-theme='auto'] .sf-c-forestgreen\:80\:dark, html.auto .sf-c-forestgreen\:80\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-20)) }
  html[data-theme='auto'] .sf-c-forestgreen\:90\:dark, html.auto .sf-c-forestgreen\:90\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-10)) }
  html[data-theme='auto'] .sf-c-forestgreen\:100\:dark, html.auto .sf-c-forestgreen\:100\:dark { color: hsl(var(--sf-c-txt-forestgreen-90)); background: hsl(var(--sf-c-forestgreen-0)) }

  html.var[data-theme='auto'] .sf-c-forestgreen, html.var.auto .sf-c-forestgreen { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 66%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:0, html.var.auto .sf-c-forestgreen\:0 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 100%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:10, html.var.auto .sf-c-forestgreen\:10 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 90%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:20, html.var.auto .sf-c-forestgreen\:20 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 80%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:30, html.var.auto .sf-c-forestgreen\:30 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 70%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:40, html.var.auto .sf-c-forestgreen\:40 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 60%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:50, html.var.auto .sf-c-forestgreen\:50 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 50%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:60, html.var.auto .sf-c-forestgreen\:60 { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 40%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:70, html.var.auto .sf-c-forestgreen\:70 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 30%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:80, html.var.auto .sf-c-forestgreen\:80 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 20%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:90, html.var.auto .sf-c-forestgreen\:90 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 10%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:100, html.var.auto .sf-c-forestgreen\:100 { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 0%) }

  html.var[data-theme='auto'] .sf-c-forestgreen\:dark, html.var.auto .sf-c-forestgreen\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 66%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:0\:dark, html.var.auto .sf-c-forestgreen\:0\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 100%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:10\:dark, html.var.auto .sf-c-forestgreen\:10\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 90%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:20\:dark, html.var.auto .sf-c-forestgreen\:20\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 80%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:30\:dark, html.var.auto .sf-c-forestgreen\:30\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 70%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:40\:dark, html.var.auto .sf-c-forestgreen\:40\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 60%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:50\:dark, html.var.auto .sf-c-forestgreen\:50\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 50%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:60\:dark, html.var.auto .sf-c-forestgreen\:60\:dark { color: hsl(120, 61%, 10%); background: hsl(120, 61%, 40%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:70\:dark, html.var.auto .sf-c-forestgreen\:70\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 30%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:80\:dark, html.var.auto .sf-c-forestgreen\:80\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 20%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:90\:dark, html.var.auto .sf-c-forestgreen\:90\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 10%) }
  html.var[data-theme='auto'] .sf-c-forestgreen\:100\:dark, html.var.auto .sf-c-forestgreen\:100\:dark { color: hsl(120, 61%, 90%); background: hsl(120, 61%, 0%) }
}

.sf-c-txt-forestgreen { color: hsl(var(--sf-c-txt-forestgreen)) }
.sf-c-txt-forestgreen\:0 { color: hsl(var(--sf-c-txt-forestgreen-0)) }
.sf-c-txt-forestgreen\:10 { color: hsl(var(--sf-c-txt-forestgreen-10)) }
.sf-c-txt-forestgreen\:20 { color: hsl(var(--sf-c-txt-forestgreen-20)) }
.sf-c-txt-forestgreen\:30 { color: hsl(var(--sf-c-txt-forestgreen-30)) }
.sf-c-txt-forestgreen\:40 { color: hsl(var(--sf-c-txt-forestgreen-40)) }
.sf-c-txt-forestgreen\:50 { color: hsl(var(--sf-c-txt-forestgreen-50)) }
.sf-c-txt-forestgreen\:60 { color: hsl(var(--sf-c-txt-forestgreen-60)) }
.sf-c-txt-forestgreen\:70 { color: hsl(var(--sf-c-txt-forestgreen-70)) }
.sf-c-txt-forestgreen\:80 { color: hsl(var(--sf-c-txt-forestgreen-80)) }
.sf-c-txt-forestgreen\:90 { color: hsl(var(--sf-c-txt-forestgreen-90)) }
.sf-c-txt-forestgreen\:100 { color: hsl(var(--sf-c-txt-forestgreen-100)) }