:root {
  --sf-c-ghostwhite: 240 100% 99%;
  --sf-c-ghostwhite-0: 240 100% 0%;
  --sf-c-ghostwhite-10: 240 100% 10%;
  --sf-c-ghostwhite-20: 240 100% 20%;
  --sf-c-ghostwhite-30: 240 100% 30%;
  --sf-c-ghostwhite-40: 240 100% 40%;
  --sf-c-ghostwhite-50: 240 100% 50%;
  --sf-c-ghostwhite-60: 240 100% 60%;
  --sf-c-ghostwhite-70: 240 100% 70%;
  --sf-c-ghostwhite-80: 240 100% 80%;
  --sf-c-ghostwhite-90: 240 100% 90%;
  --sf-c-ghostwhite-100: 240 100% 100%;

  --sf-c-txt-ghostwhite: var(--sf-c-ghostwhite);
  --sf-c-txt-ghostwhite-0: var(--sf-c-ghostwhite-0);
  --sf-c-txt-ghostwhite-10: var(--sf-c-ghostwhite-10);
  --sf-c-txt-ghostwhite-20: var(--sf-c-ghostwhite-20);
  --sf-c-txt-ghostwhite-30: var(--sf-c-ghostwhite-30);
  --sf-c-txt-ghostwhite-40: var(--sf-c-ghostwhite-40);
  --sf-c-txt-ghostwhite-50: var(--sf-c-ghostwhite-50);
  --sf-c-txt-ghostwhite-60: var(--sf-c-ghostwhite-60);
  --sf-c-txt-ghostwhite-70: var(--sf-c-ghostwhite-70);
  --sf-c-txt-ghostwhite-80: var(--sf-c-ghostwhite-80);
  --sf-c-txt-ghostwhite-90: var(--sf-c-ghostwhite-90);
  --sf-c-txt-ghostwhite-100: var(--sf-c-ghostwhite-100);

  --sf-dark-c-ghostwhite: 240 100% 1%;
  --sf-dark-c-ghostwhite-0: 240 100% 0%;
  --sf-dark-c-ghostwhite-10: 240 100% 10%;
  --sf-dark-c-ghostwhite-20: 240 100% 20%;
  --sf-dark-c-ghostwhite-30: 240 100% 30%;
  --sf-dark-c-ghostwhite-40: 240 100% 40%;
  --sf-dark-c-ghostwhite-50: 240 100% 50%;
  --sf-dark-c-ghostwhite-60: 240 100% 60%;
  --sf-dark-c-ghostwhite-70: 240 100% 70%;
  --sf-dark-c-ghostwhite-80: 240 100% 80%;
  --sf-dark-c-ghostwhite-90: 240 100% 90%;
  --sf-dark-c-ghostwhite-100: 240 100% 100%;

  --sf-dark-c-txt-ghostwhite: var(--sf-dark-c-ghostwhite);
  --sf-dark-c-txt-ghostwhite-0: var(--sf-dark-c-ghostwhite-0);
  --sf-dark-c-txt-ghostwhite-10: var(--sf-dark-c-ghostwhite-10);
  --sf-dark-c-txt-ghostwhite-20: var(--sf-dark-c-ghostwhite-20);
  --sf-dark-c-txt-ghostwhite-30: var(--sf-dark-c-ghostwhite-30);
  --sf-dark-c-txt-ghostwhite-40: var(--sf-dark-c-ghostwhite-40);
  --sf-dark-c-txt-ghostwhite-50: var(--sf-dark-c-ghostwhite-50);
  --sf-dark-c-txt-ghostwhite-60: var(--sf-dark-c-ghostwhite-60);
  --sf-dark-c-txt-ghostwhite-70: var(--sf-dark-c-ghostwhite-70);
  --sf-dark-c-txt-ghostwhite-80: var(--sf-dark-c-ghostwhite-80);
  --sf-dark-c-txt-ghostwhite-90: var(--sf-dark-c-ghostwhite-90);
  --sf-dark-c-txt-ghostwhite-100: var(--sf-dark-c-ghostwhite-100);
}

.sf-c-ghostwhite { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite)) }
.sf-c-ghostwhite\:0 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-0)) }
.sf-c-ghostwhite\:10 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-10)) }
.sf-c-ghostwhite\:20 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-20)) }
.sf-c-ghostwhite\:30 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-30)) }
.sf-c-ghostwhite\:40 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-40)) }
.sf-c-ghostwhite\:50 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-50)) }
.sf-c-ghostwhite\:60 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-60)) }
.sf-c-ghostwhite\:70 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-70)) }
.sf-c-ghostwhite\:80 { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-80)) }
.sf-c-ghostwhite\:90 { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-90)) }
.sf-c-ghostwhite\:100 { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-100)) }

html.var .sf-c-ghostwhite { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 99%) }
html.var .sf-c-ghostwhite\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
html.var .sf-c-ghostwhite\:10 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var .sf-c-ghostwhite\:20 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var .sf-c-ghostwhite\:30 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var .sf-c-ghostwhite\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var .sf-c-ghostwhite\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var .sf-c-ghostwhite\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var .sf-c-ghostwhite\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
html.var .sf-c-ghostwhite\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 80%) }
html.var .sf-c-ghostwhite\:90 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var .sf-c-ghostwhite\:100 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-ghostwhite, html.dark .sf-c-ghostwhite { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite)) }
html[data-theme='dark'] .sf-c-ghostwhite\:0, html.dark .sf-c-ghostwhite\:0 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-100)) }
html[data-theme='dark'] .sf-c-ghostwhite\:10, html.dark .sf-c-ghostwhite\:10 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-90)) }
html[data-theme='dark'] .sf-c-ghostwhite\:20, html.dark .sf-c-ghostwhite\:20 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-80)) }
html[data-theme='dark'] .sf-c-ghostwhite\:30, html.dark .sf-c-ghostwhite\:30 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-70)) }
html[data-theme='dark'] .sf-c-ghostwhite\:40, html.dark .sf-c-ghostwhite\:40 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-60)) }
html[data-theme='dark'] .sf-c-ghostwhite\:50, html.dark .sf-c-ghostwhite\:50 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-50)) }
html[data-theme='dark'] .sf-c-ghostwhite\:60, html.dark .sf-c-ghostwhite\:60 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-40)) }
html[data-theme='dark'] .sf-c-ghostwhite\:70, html.dark .sf-c-ghostwhite\:70 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-30)) }
html[data-theme='dark'] .sf-c-ghostwhite\:80, html.dark .sf-c-ghostwhite\:80 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-20)) }
html[data-theme='dark'] .sf-c-ghostwhite\:90, html.dark .sf-c-ghostwhite\:90 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-10)) }
html[data-theme='dark'] .sf-c-ghostwhite\:100, html.dark .sf-c-ghostwhite\:100 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-0)) }

html[data-theme='dark'] .sf-c-ghostwhite\:dark, html.dark .sf-c-ghostwhite\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite)) }
html[data-theme='dark'] .sf-c-ghostwhite\:0\:dark, html.dark .sf-c-ghostwhite\:0\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-100)) }
html[data-theme='dark'] .sf-c-ghostwhite\:10\:dark, html.dark .sf-c-ghostwhite\:10\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-90)) }
html[data-theme='dark'] .sf-c-ghostwhite\:20\:dark, html.dark .sf-c-ghostwhite\:20\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-80)) }
html[data-theme='dark'] .sf-c-ghostwhite\:30\:dark, html.dark .sf-c-ghostwhite\:30\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-70)) }
html[data-theme='dark'] .sf-c-ghostwhite\:40\:dark, html.dark .sf-c-ghostwhite\:40\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-60)) }
html[data-theme='dark'] .sf-c-ghostwhite\:50\:dark, html.dark .sf-c-ghostwhite\:50\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-50)) }
html[data-theme='dark'] .sf-c-ghostwhite\:60\:dark, html.dark .sf-c-ghostwhite\:60\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-40)) }
html[data-theme='dark'] .sf-c-ghostwhite\:70\:dark, html.dark .sf-c-ghostwhite\:70\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-30)) }
html[data-theme='dark'] .sf-c-ghostwhite\:80\:dark, html.dark .sf-c-ghostwhite\:80\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-20)) }
html[data-theme='dark'] .sf-c-ghostwhite\:90\:dark, html.dark .sf-c-ghostwhite\:90\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-10)) }
html[data-theme='dark'] .sf-c-ghostwhite\:100\:dark, html.dark .sf-c-ghostwhite\:100\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-0)) }

html.var[data-theme='dark'] .sf-c-ghostwhite, html.var.dark .sf-c-ghostwhite { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 1%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:0, html.var.dark .sf-c-ghostwhite\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:10, html.var.dark .sf-c-ghostwhite\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:20, html.var.dark .sf-c-ghostwhite\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:30, html.var.dark .sf-c-ghostwhite\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:40, html.var.dark .sf-c-ghostwhite\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:50, html.var.dark .sf-c-ghostwhite\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:60, html.var.dark .sf-c-ghostwhite\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:70, html.var.dark .sf-c-ghostwhite\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:80, html.var.dark .sf-c-ghostwhite\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:90, html.var.dark .sf-c-ghostwhite\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:100, html.var.dark .sf-c-ghostwhite\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-ghostwhite\:dark, html.var.dark .sf-c-ghostwhite\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 1%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:0\:dark, html.var.dark .sf-c-ghostwhite\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:10\:dark, html.var.dark .sf-c-ghostwhite\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:20\:dark, html.var.dark .sf-c-ghostwhite\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:30\:dark, html.var.dark .sf-c-ghostwhite\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:40\:dark, html.var.dark .sf-c-ghostwhite\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:50\:dark, html.var.dark .sf-c-ghostwhite\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:60\:dark, html.var.dark .sf-c-ghostwhite\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:70\:dark, html.var.dark .sf-c-ghostwhite\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:80\:dark, html.var.dark .sf-c-ghostwhite\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:90\:dark, html.var.dark .sf-c-ghostwhite\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-ghostwhite\:100\:dark, html.var.dark .sf-c-ghostwhite\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-ghostwhite, html.auto .sf-c-ghostwhite { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:0, html.auto .sf-c-ghostwhite\:0 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-100)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:10, html.auto .sf-c-ghostwhite\:10 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-90)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:20, html.auto .sf-c-ghostwhite\:20 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-80)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:30, html.auto .sf-c-ghostwhite\:30 { color: hsl(var(--sf-dark-c-txt-ghostwhite-10)); background: hsl(var(--sf-dark-c-ghostwhite-70)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:40, html.auto .sf-c-ghostwhite\:40 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-60)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:50, html.auto .sf-c-ghostwhite\:50 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-50)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:60, html.auto .sf-c-ghostwhite\:60 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-40)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:70, html.auto .sf-c-ghostwhite\:70 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-30)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:80, html.auto .sf-c-ghostwhite\:80 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-20)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:90, html.auto .sf-c-ghostwhite\:90 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-10)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:100, html.auto .sf-c-ghostwhite\:100 { color: hsl(var(--sf-dark-c-txt-ghostwhite-90)); background: hsl(var(--sf-dark-c-ghostwhite-0)) }

  html[data-theme='auto'] .sf-c-ghostwhite\:dark, html.auto .sf-c-ghostwhite\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:0\:dark, html.auto .sf-c-ghostwhite\:0\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-100)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:10\:dark, html.auto .sf-c-ghostwhite\:10\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-90)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:20\:dark, html.auto .sf-c-ghostwhite\:20\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-80)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:30\:dark, html.auto .sf-c-ghostwhite\:30\:dark { color: hsl(var(--sf-c-txt-ghostwhite-10)); background: hsl(var(--sf-c-ghostwhite-70)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:40\:dark, html.auto .sf-c-ghostwhite\:40\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-60)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:50\:dark, html.auto .sf-c-ghostwhite\:50\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-50)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:60\:dark, html.auto .sf-c-ghostwhite\:60\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-40)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:70\:dark, html.auto .sf-c-ghostwhite\:70\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-30)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:80\:dark, html.auto .sf-c-ghostwhite\:80\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-20)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:90\:dark, html.auto .sf-c-ghostwhite\:90\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-10)) }
  html[data-theme='auto'] .sf-c-ghostwhite\:100\:dark, html.auto .sf-c-ghostwhite\:100\:dark { color: hsl(var(--sf-c-txt-ghostwhite-90)); background: hsl(var(--sf-c-ghostwhite-0)) }

  html.var[data-theme='auto'] .sf-c-ghostwhite, html.var.auto .sf-c-ghostwhite { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 1%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:0, html.var.auto .sf-c-ghostwhite\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:10, html.var.auto .sf-c-ghostwhite\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:20, html.var.auto .sf-c-ghostwhite\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:30, html.var.auto .sf-c-ghostwhite\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:40, html.var.auto .sf-c-ghostwhite\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:50, html.var.auto .sf-c-ghostwhite\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:60, html.var.auto .sf-c-ghostwhite\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:70, html.var.auto .sf-c-ghostwhite\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:80, html.var.auto .sf-c-ghostwhite\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:90, html.var.auto .sf-c-ghostwhite\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:100, html.var.auto .sf-c-ghostwhite\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-ghostwhite\:dark, html.var.auto .sf-c-ghostwhite\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 1%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:0\:dark, html.var.auto .sf-c-ghostwhite\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:10\:dark, html.var.auto .sf-c-ghostwhite\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:20\:dark, html.var.auto .sf-c-ghostwhite\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:30\:dark, html.var.auto .sf-c-ghostwhite\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:40\:dark, html.var.auto .sf-c-ghostwhite\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:50\:dark, html.var.auto .sf-c-ghostwhite\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:60\:dark, html.var.auto .sf-c-ghostwhite\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:70\:dark, html.var.auto .sf-c-ghostwhite\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:80\:dark, html.var.auto .sf-c-ghostwhite\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:90\:dark, html.var.auto .sf-c-ghostwhite\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-ghostwhite\:100\:dark, html.var.auto .sf-c-ghostwhite\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
}

.sf-c-txt-ghostwhite { color: hsl(var(--sf-c-txt-ghostwhite)) }
.sf-c-txt-ghostwhite\:0 { color: hsl(var(--sf-c-txt-ghostwhite-0)) }
.sf-c-txt-ghostwhite\:10 { color: hsl(var(--sf-c-txt-ghostwhite-10)) }
.sf-c-txt-ghostwhite\:20 { color: hsl(var(--sf-c-txt-ghostwhite-20)) }
.sf-c-txt-ghostwhite\:30 { color: hsl(var(--sf-c-txt-ghostwhite-30)) }
.sf-c-txt-ghostwhite\:40 { color: hsl(var(--sf-c-txt-ghostwhite-40)) }
.sf-c-txt-ghostwhite\:50 { color: hsl(var(--sf-c-txt-ghostwhite-50)) }
.sf-c-txt-ghostwhite\:60 { color: hsl(var(--sf-c-txt-ghostwhite-60)) }
.sf-c-txt-ghostwhite\:70 { color: hsl(var(--sf-c-txt-ghostwhite-70)) }
.sf-c-txt-ghostwhite\:80 { color: hsl(var(--sf-c-txt-ghostwhite-80)) }
.sf-c-txt-ghostwhite\:90 { color: hsl(var(--sf-c-txt-ghostwhite-90)) }
.sf-c-txt-ghostwhite\:100 { color: hsl(var(--sf-c-txt-ghostwhite-100)) }
