:root {
  --sf-c-green: 120 100% 25%;
  --sf-c-green-0: 120 100% 0%;
  --sf-c-green-10: 120 100% 10%;
  --sf-c-green-20: 120 100% 20%;
  --sf-c-green-30: 120 100% 30%;
  --sf-c-green-40: 120 100% 40%;
  --sf-c-green-50: 120 100% 50%;
  --sf-c-green-60: 120 100% 60%;
  --sf-c-green-70: 120 100% 70%;
  --sf-c-green-80: 120 100% 80%;
  --sf-c-green-90: 120 100% 90%;
  --sf-c-green-100: 120 100% 100%;

  --sf-c-txt-green: var(--sf-c-green);
  --sf-c-txt-green-0: var(--sf-c-green-0);
  --sf-c-txt-green-10: var(--sf-c-green-10);
  --sf-c-txt-green-20: var(--sf-c-green-20);
  --sf-c-txt-green-30: var(--sf-c-green-30);
  --sf-c-txt-green-40: var(--sf-c-green-40);
  --sf-c-txt-green-50: var(--sf-c-green-50);
  --sf-c-txt-green-60: var(--sf-c-green-60);
  --sf-c-txt-green-70: var(--sf-c-green-70);
  --sf-c-txt-green-80: var(--sf-c-green-80);
  --sf-c-txt-green-90: var(--sf-c-green-90);
  --sf-c-txt-green-100: var(--sf-c-green-100);

  --sf-dark-c-green: 120 100% 75%;
  --sf-dark-c-green-0: 120 100% 0%;
  --sf-dark-c-green-10: 120 100% 10%;
  --sf-dark-c-green-20: 120 100% 20%;
  --sf-dark-c-green-30: 120 100% 30%;
  --sf-dark-c-green-40: 120 100% 40%;
  --sf-dark-c-green-50: 120 100% 50%;
  --sf-dark-c-green-60: 120 100% 60%;
  --sf-dark-c-green-70: 120 100% 70%;
  --sf-dark-c-green-80: 120 100% 80%;
  --sf-dark-c-green-90: 120 100% 90%;
  --sf-dark-c-green-100: 120 100% 100%;

  --sf-dark-c-txt-green: var(--sf-dark-c-green);
  --sf-dark-c-txt-green-0: var(--sf-dark-c-green-0);
  --sf-dark-c-txt-green-10: var(--sf-dark-c-green-10);
  --sf-dark-c-txt-green-20: var(--sf-dark-c-green-20);
  --sf-dark-c-txt-green-30: var(--sf-dark-c-green-30);
  --sf-dark-c-txt-green-40: var(--sf-dark-c-green-40);
  --sf-dark-c-txt-green-50: var(--sf-dark-c-green-50);
  --sf-dark-c-txt-green-60: var(--sf-dark-c-green-60);
  --sf-dark-c-txt-green-70: var(--sf-dark-c-green-70);
  --sf-dark-c-txt-green-80: var(--sf-dark-c-green-80);
  --sf-dark-c-txt-green-90: var(--sf-dark-c-green-90);
  --sf-dark-c-txt-green-100: var(--sf-dark-c-green-100);
}

.sf-c-green { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green)) }
.sf-c-green\:0 { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-0)) }
.sf-c-green\:10 { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-10)) }
.sf-c-green\:20 { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-20)) }
.sf-c-green\:30 { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-30)) }
.sf-c-green\:40 { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-40)) }
.sf-c-green\:50 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-50)) }
.sf-c-green\:60 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-60)) }
.sf-c-green\:70 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-70)) }
.sf-c-green\:80 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-80)) }
.sf-c-green\:90 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-90)) }
.sf-c-green\:100 { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-100)) }

html.var .sf-c-green { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 25%) }
html.var .sf-c-green\:0 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
html.var .sf-c-green\:10 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html.var .sf-c-green\:20 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html.var .sf-c-green\:30 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
html.var .sf-c-green\:40 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 40%) }
html.var .sf-c-green\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html.var .sf-c-green\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html.var .sf-c-green\:70 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html.var .sf-c-green\:80 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html.var .sf-c-green\:90 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html.var .sf-c-green\:100 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

html[data-theme='dark'] .sf-c-green, html.dark .sf-c-green { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green)) }
html[data-theme='dark'] .sf-c-green\:0, html.dark .sf-c-green\:0 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-100)) }
html[data-theme='dark'] .sf-c-green\:10, html.dark .sf-c-green\:10 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-90)) }
html[data-theme='dark'] .sf-c-green\:20, html.dark .sf-c-green\:20 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-80)) }
html[data-theme='dark'] .sf-c-green\:30, html.dark .sf-c-green\:30 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-70)) }
html[data-theme='dark'] .sf-c-green\:40, html.dark .sf-c-green\:40 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-60)) }
html[data-theme='dark'] .sf-c-green\:50, html.dark .sf-c-green\:50 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-50)) }
html[data-theme='dark'] .sf-c-green\:60, html.dark .sf-c-green\:60 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-40)) }
html[data-theme='dark'] .sf-c-green\:70, html.dark .sf-c-green\:70 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-30)) }
html[data-theme='dark'] .sf-c-green\:80, html.dark .sf-c-green\:80 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-20)) }
html[data-theme='dark'] .sf-c-green\:90, html.dark .sf-c-green\:90 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-10)) }
html[data-theme='dark'] .sf-c-green\:100, html.dark .sf-c-green\:100 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-0)) }

html[data-theme='dark'] .sf-c-green\:dark, html.dark .sf-c-green\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green)) }
html[data-theme='dark'] .sf-c-green\:0\:dark, html.dark .sf-c-green\:0\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-100)) }
html[data-theme='dark'] .sf-c-green\:10\:dark, html.dark .sf-c-green\:10\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-90)) }
html[data-theme='dark'] .sf-c-green\:20\:dark, html.dark .sf-c-green\:20\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-80)) }
html[data-theme='dark'] .sf-c-green\:30\:dark, html.dark .sf-c-green\:30\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-70)) }
html[data-theme='dark'] .sf-c-green\:40\:dark, html.dark .sf-c-green\:40\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-60)) }
html[data-theme='dark'] .sf-c-green\:50\:dark, html.dark .sf-c-green\:50\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-50)) }
html[data-theme='dark'] .sf-c-green\:60\:dark, html.dark .sf-c-green\:60\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-40)) }
html[data-theme='dark'] .sf-c-green\:70\:dark, html.dark .sf-c-green\:70\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-30)) }
html[data-theme='dark'] .sf-c-green\:80\:dark, html.dark .sf-c-green\:80\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-20)) }
html[data-theme='dark'] .sf-c-green\:90\:dark, html.dark .sf-c-green\:90\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-10)) }
html[data-theme='dark'] .sf-c-green\:100\:dark, html.dark .sf-c-green\:100\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-0)) }

html.var[data-theme='dark'] .sf-c-green, html.var.dark .sf-c-green { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-green\:0, html.var.dark .sf-c-green\:0 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-green\:10, html.var.dark .sf-c-green\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-green\:20, html.var.dark .sf-c-green\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-green\:30, html.var.dark .sf-c-green\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-green\:40, html.var.dark .sf-c-green\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-green\:50, html.var.dark .sf-c-green\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-green\:60, html.var.dark .sf-c-green\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-green\:70, html.var.dark .sf-c-green\:70 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-green\:80, html.var.dark .sf-c-green\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-green\:90, html.var.dark .sf-c-green\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-green\:100, html.var.dark .sf-c-green\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-green\:dark, html.var.dark .sf-c-green\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-green\:0\:dark, html.var.dark .sf-c-green\:0\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-green\:10\:dark, html.var.dark .sf-c-green\:10\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-green\:20\:dark, html.var.dark .sf-c-green\:20\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-green\:30\:dark, html.var.dark .sf-c-green\:30\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-green\:40\:dark, html.var.dark .sf-c-green\:40\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-green\:50\:dark, html.var.dark .sf-c-green\:50\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-green\:60\:dark, html.var.dark .sf-c-green\:60\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-green\:70\:dark, html.var.dark .sf-c-green\:70\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-green\:80\:dark, html.var.dark .sf-c-green\:80\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-green\:90\:dark, html.var.dark .sf-c-green\:90\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-green\:100\:dark, html.var.dark .sf-c-green\:100\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-green, html.auto .sf-c-green { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green)) }
  html[data-theme='auto'] .sf-c-green\:0, html.auto .sf-c-green\:0 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-100)) }
  html[data-theme='auto'] .sf-c-green\:10, html.auto .sf-c-green\:10 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-90)) }
  html[data-theme='auto'] .sf-c-green\:20, html.auto .sf-c-green\:20 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-80)) }
  html[data-theme='auto'] .sf-c-green\:30, html.auto .sf-c-green\:30 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-70)) }
  html[data-theme='auto'] .sf-c-green\:40, html.auto .sf-c-green\:40 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-60)) }
  html[data-theme='auto'] .sf-c-green\:50, html.auto .sf-c-green\:50 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-50)) }
  html[data-theme='auto'] .sf-c-green\:60, html.auto .sf-c-green\:60 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-40)) }
  html[data-theme='auto'] .sf-c-green\:70, html.auto .sf-c-green\:70 { color: hsl(var(--sf-dark-c-txt-green-10)); background: hsl(var(--sf-dark-c-green-30)) }
  html[data-theme='auto'] .sf-c-green\:80, html.auto .sf-c-green\:80 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-20)) }
  html[data-theme='auto'] .sf-c-green\:90, html.auto .sf-c-green\:90 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-10)) }
  html[data-theme='auto'] .sf-c-green\:100, html.auto .sf-c-green\:100 { color: hsl(var(--sf-dark-c-txt-green-90)); background: hsl(var(--sf-dark-c-green-0)) }

  html[data-theme='auto'] .sf-c-green\:dark, html.auto .sf-c-green\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green)) }
  html[data-theme='auto'] .sf-c-green\:0\:dark, html.auto .sf-c-green\:0\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-100)) }
  html[data-theme='auto'] .sf-c-green\:10\:dark, html.auto .sf-c-green\:10\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-90)) }
  html[data-theme='auto'] .sf-c-green\:20\:dark, html.auto .sf-c-green\:20\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-80)) }
  html[data-theme='auto'] .sf-c-green\:30\:dark, html.auto .sf-c-green\:30\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-70)) }
  html[data-theme='auto'] .sf-c-green\:40\:dark, html.auto .sf-c-green\:40\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-60)) }
  html[data-theme='auto'] .sf-c-green\:50\:dark, html.auto .sf-c-green\:50\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-50)) }
  html[data-theme='auto'] .sf-c-green\:60\:dark, html.auto .sf-c-green\:60\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-40)) }
  html[data-theme='auto'] .sf-c-green\:70\:dark, html.auto .sf-c-green\:70\:dark { color: hsl(var(--sf-c-txt-green-10)); background: hsl(var(--sf-c-green-30)) }
  html[data-theme='auto'] .sf-c-green\:80\:dark, html.auto .sf-c-green\:80\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-20)) }
  html[data-theme='auto'] .sf-c-green\:90\:dark, html.auto .sf-c-green\:90\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-10)) }
  html[data-theme='auto'] .sf-c-green\:100\:dark, html.auto .sf-c-green\:100\:dark { color: hsl(var(--sf-c-txt-green-90)); background: hsl(var(--sf-c-green-0)) }

  html.var[data-theme='auto'] .sf-c-green, html.var.auto .sf-c-green { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-green\:0, html.var.auto .sf-c-green\:0 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-green\:10, html.var.auto .sf-c-green\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-green\:20, html.var.auto .sf-c-green\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-green\:30, html.var.auto .sf-c-green\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-green\:40, html.var.auto .sf-c-green\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-green\:50, html.var.auto .sf-c-green\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-green\:60, html.var.auto .sf-c-green\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-green\:70, html.var.auto .sf-c-green\:70 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-green\:80, html.var.auto .sf-c-green\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-green\:90, html.var.auto .sf-c-green\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-green\:100, html.var.auto .sf-c-green\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-green\:dark, html.var.auto .sf-c-green\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-green\:0\:dark, html.var.auto .sf-c-green\:0\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-green\:10\:dark, html.var.auto .sf-c-green\:10\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-green\:20\:dark, html.var.auto .sf-c-green\:20\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-green\:30\:dark, html.var.auto .sf-c-green\:30\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-green\:40\:dark, html.var.auto .sf-c-green\:40\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-green\:50\:dark, html.var.auto .sf-c-green\:50\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-green\:60\:dark, html.var.auto .sf-c-green\:60\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-green\:70\:dark, html.var.auto .sf-c-green\:70\:dark { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-green\:80\:dark, html.var.auto .sf-c-green\:80\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-green\:90\:dark, html.var.auto .sf-c-green\:90\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-green\:100\:dark, html.var.auto .sf-c-green\:100\:dark { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
}

.sf-c-txt-green { color: hsl(var(--sf-c-txt-green)) }
.sf-c-txt-green\:0 { color: hsl(var(--sf-c-txt-green-0)) }
.sf-c-txt-green\:10 { color: hsl(var(--sf-c-txt-green-10)) }
.sf-c-txt-green\:20 { color: hsl(var(--sf-c-txt-green-20)) }
.sf-c-txt-green\:30 { color: hsl(var(--sf-c-txt-green-30)) }
.sf-c-txt-green\:40 { color: hsl(var(--sf-c-txt-green-40)) }
.sf-c-txt-green\:50 { color: hsl(var(--sf-c-txt-green-50)) }
.sf-c-txt-green\:60 { color: hsl(var(--sf-c-txt-green-60)) }
.sf-c-txt-green\:70 { color: hsl(var(--sf-c-txt-green-70)) }
.sf-c-txt-green\:80 { color: hsl(var(--sf-c-txt-green-80)) }
.sf-c-txt-green\:90 { color: hsl(var(--sf-c-txt-green-90)) }
.sf-c-txt-green\:100 { color: hsl(var(--sf-c-txt-green-100)) }
