:root {
  --sf-c-ivory: 60 100% 97%;
  --sf-c-ivory-0: 60 100% 0%;
  --sf-c-ivory-10: 60 100% 10%;
  --sf-c-ivory-20: 60 100% 20%;
  --sf-c-ivory-30: 60 100% 30%;
  --sf-c-ivory-40: 60 100% 40%;
  --sf-c-ivory-50: 60 100% 50%;
  --sf-c-ivory-60: 60 100% 60%;
  --sf-c-ivory-70: 60 100% 70%;
  --sf-c-ivory-80: 60 100% 80%;
  --sf-c-ivory-90: 60 100% 90%;
  --sf-c-ivory-100: 60 100% 100%;

  --sf-c-txt-ivory: var(--sf-c-ivory);
  --sf-c-txt-ivory-0: var(--sf-c-ivory-0);
  --sf-c-txt-ivory-10: var(--sf-c-ivory-10);
  --sf-c-txt-ivory-20: var(--sf-c-ivory-20);
  --sf-c-txt-ivory-30: var(--sf-c-ivory-30);
  --sf-c-txt-ivory-40: var(--sf-c-ivory-40);
  --sf-c-txt-ivory-50: var(--sf-c-ivory-50);
  --sf-c-txt-ivory-60: var(--sf-c-ivory-60);
  --sf-c-txt-ivory-70: var(--sf-c-ivory-70);
  --sf-c-txt-ivory-80: var(--sf-c-ivory-80);
  --sf-c-txt-ivory-90: var(--sf-c-ivory-90);
  --sf-c-txt-ivory-100: var(--sf-c-ivory-100);

  --sf-dark-c-ivory: 60 100% 3%;
  --sf-dark-c-ivory-0: 60 100% 0%;
  --sf-dark-c-ivory-10: 60 100% 10%;
  --sf-dark-c-ivory-20: 60 100% 20%;
  --sf-dark-c-ivory-30: 60 100% 30%;
  --sf-dark-c-ivory-40: 60 100% 40%;
  --sf-dark-c-ivory-50: 60 100% 50%;
  --sf-dark-c-ivory-60: 60 100% 60%;
  --sf-dark-c-ivory-70: 60 100% 70%;
  --sf-dark-c-ivory-80: 60 100% 80%;
  --sf-dark-c-ivory-90: 60 100% 90%;
  --sf-dark-c-ivory-100: 60 100% 100%;

  --sf-dark-c-txt-ivory: var(--sf-dark-c-ivory);
  --sf-dark-c-txt-ivory-0: var(--sf-dark-c-ivory-0);
  --sf-dark-c-txt-ivory-10: var(--sf-dark-c-ivory-10);
  --sf-dark-c-txt-ivory-20: var(--sf-dark-c-ivory-20);
  --sf-dark-c-txt-ivory-30: var(--sf-dark-c-ivory-30);
  --sf-dark-c-txt-ivory-40: var(--sf-dark-c-ivory-40);
  --sf-dark-c-txt-ivory-50: var(--sf-dark-c-ivory-50);
  --sf-dark-c-txt-ivory-60: var(--sf-dark-c-ivory-60);
  --sf-dark-c-txt-ivory-70: var(--sf-dark-c-ivory-70);
  --sf-dark-c-txt-ivory-80: var(--sf-dark-c-ivory-80);
  --sf-dark-c-txt-ivory-90: var(--sf-dark-c-ivory-90);
  --sf-dark-c-txt-ivory-100: var(--sf-dark-c-ivory-100);
}

.sf-c-ivory { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory)) }
.sf-c-ivory\:0 { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-0)) }
.sf-c-ivory\:10 { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-10)) }
.sf-c-ivory\:20 { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-20)) }
.sf-c-ivory\:30 { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-30)) }
.sf-c-ivory\:40 { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-40)) }
.sf-c-ivory\:50 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-50)) }
.sf-c-ivory\:60 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-60)) }
.sf-c-ivory\:70 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-70)) }
.sf-c-ivory\:80 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-80)) }
.sf-c-ivory\:90 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-90)) }
.sf-c-ivory\:100 { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-100)) }

html.var .sf-c-ivory { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 97%) }
html.var .sf-c-ivory\:0 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }
html.var .sf-c-ivory\:10 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
html.var .sf-c-ivory\:20 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
html.var .sf-c-ivory\:30 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
html.var .sf-c-ivory\:40 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 40%) }
html.var .sf-c-ivory\:50 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html.var .sf-c-ivory\:60 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
html.var .sf-c-ivory\:70 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
html.var .sf-c-ivory\:80 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
html.var .sf-c-ivory\:90 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
html.var .sf-c-ivory\:100 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }

html[data-theme='dark'] .sf-c-ivory, html.dark .sf-c-ivory { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory)) }
html[data-theme='dark'] .sf-c-ivory\:0, html.dark .sf-c-ivory\:0 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-100)) }
html[data-theme='dark'] .sf-c-ivory\:10, html.dark .sf-c-ivory\:10 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-90)) }
html[data-theme='dark'] .sf-c-ivory\:20, html.dark .sf-c-ivory\:20 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-80)) }
html[data-theme='dark'] .sf-c-ivory\:30, html.dark .sf-c-ivory\:30 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-70)) }
html[data-theme='dark'] .sf-c-ivory\:40, html.dark .sf-c-ivory\:40 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-60)) }
html[data-theme='dark'] .sf-c-ivory\:50, html.dark .sf-c-ivory\:50 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-50)) }
html[data-theme='dark'] .sf-c-ivory\:60, html.dark .sf-c-ivory\:60 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-40)) }
html[data-theme='dark'] .sf-c-ivory\:70, html.dark .sf-c-ivory\:70 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-30)) }
html[data-theme='dark'] .sf-c-ivory\:80, html.dark .sf-c-ivory\:80 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-20)) }
html[data-theme='dark'] .sf-c-ivory\:90, html.dark .sf-c-ivory\:90 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-10)) }
html[data-theme='dark'] .sf-c-ivory\:100, html.dark .sf-c-ivory\:100 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-0)) }

html[data-theme='dark'] .sf-c-ivory\:dark, html.dark .sf-c-ivory\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory)) }
html[data-theme='dark'] .sf-c-ivory\:0\:dark, html.dark .sf-c-ivory\:0\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-100)) }
html[data-theme='dark'] .sf-c-ivory\:10\:dark, html.dark .sf-c-ivory\:10\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-90)) }
html[data-theme='dark'] .sf-c-ivory\:20\:dark, html.dark .sf-c-ivory\:20\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-80)) }
html[data-theme='dark'] .sf-c-ivory\:30\:dark, html.dark .sf-c-ivory\:30\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-70)) }
html[data-theme='dark'] .sf-c-ivory\:40\:dark, html.dark .sf-c-ivory\:40\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-60)) }
html[data-theme='dark'] .sf-c-ivory\:50\:dark, html.dark .sf-c-ivory\:50\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-50)) }
html[data-theme='dark'] .sf-c-ivory\:60\:dark, html.dark .sf-c-ivory\:60\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-40)) }
html[data-theme='dark'] .sf-c-ivory\:70\:dark, html.dark .sf-c-ivory\:70\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-30)) }
html[data-theme='dark'] .sf-c-ivory\:80\:dark, html.dark .sf-c-ivory\:80\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-20)) }
html[data-theme='dark'] .sf-c-ivory\:90\:dark, html.dark .sf-c-ivory\:90\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-10)) }
html[data-theme='dark'] .sf-c-ivory\:100\:dark, html.dark .sf-c-ivory\:100\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-0)) }

html.var[data-theme='dark'] .sf-c-ivory, html.var.dark .sf-c-ivory { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 3%) }
html.var[data-theme='dark'] .sf-c-ivory\:0, html.var.dark .sf-c-ivory\:0 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-ivory\:10, html.var.dark .sf-c-ivory\:10 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-ivory\:20, html.var.dark .sf-c-ivory\:20 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-ivory\:30, html.var.dark .sf-c-ivory\:30 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-ivory\:40, html.var.dark .sf-c-ivory\:40 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-ivory\:50, html.var.dark .sf-c-ivory\:50 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-ivory\:60, html.var.dark .sf-c-ivory\:60 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-ivory\:70, html.var.dark .sf-c-ivory\:70 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-ivory\:80, html.var.dark .sf-c-ivory\:80 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-ivory\:90, html.var.dark .sf-c-ivory\:90 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-ivory\:100, html.var.dark .sf-c-ivory\:100 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-ivory\:dark, html.var.dark .sf-c-ivory\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 3%) }
html.var[data-theme='dark'] .sf-c-ivory\:0\:dark, html.var.dark .sf-c-ivory\:0\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-ivory\:10\:dark, html.var.dark .sf-c-ivory\:10\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-ivory\:20\:dark, html.var.dark .sf-c-ivory\:20\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-ivory\:30\:dark, html.var.dark .sf-c-ivory\:30\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-ivory\:40\:dark, html.var.dark .sf-c-ivory\:40\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-ivory\:50\:dark, html.var.dark .sf-c-ivory\:50\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-ivory\:60\:dark, html.var.dark .sf-c-ivory\:60\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-ivory\:70\:dark, html.var.dark .sf-c-ivory\:70\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-ivory\:80\:dark, html.var.dark .sf-c-ivory\:80\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-ivory\:90\:dark, html.var.dark .sf-c-ivory\:90\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-ivory\:100\:dark, html.var.dark .sf-c-ivory\:100\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-ivory, html.auto .sf-c-ivory { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory)) }
  html[data-theme='auto'] .sf-c-ivory\:0, html.auto .sf-c-ivory\:0 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-100)) }
  html[data-theme='auto'] .sf-c-ivory\:10, html.auto .sf-c-ivory\:10 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-90)) }
  html[data-theme='auto'] .sf-c-ivory\:20, html.auto .sf-c-ivory\:20 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-80)) }
  html[data-theme='auto'] .sf-c-ivory\:30, html.auto .sf-c-ivory\:30 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-70)) }
  html[data-theme='auto'] .sf-c-ivory\:40, html.auto .sf-c-ivory\:40 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-60)) }
  html[data-theme='auto'] .sf-c-ivory\:50, html.auto .sf-c-ivory\:50 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-50)) }
  html[data-theme='auto'] .sf-c-ivory\:60, html.auto .sf-c-ivory\:60 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-40)) }
  html[data-theme='auto'] .sf-c-ivory\:70, html.auto .sf-c-ivory\:70 { color: hsl(var(--sf-dark-c-txt-ivory-10)); background: hsl(var(--sf-dark-c-ivory-30)) }
  html[data-theme='auto'] .sf-c-ivory\:80, html.auto .sf-c-ivory\:80 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-20)) }
  html[data-theme='auto'] .sf-c-ivory\:90, html.auto .sf-c-ivory\:90 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-10)) }
  html[data-theme='auto'] .sf-c-ivory\:100, html.auto .sf-c-ivory\:100 { color: hsl(var(--sf-dark-c-txt-ivory-90)); background: hsl(var(--sf-dark-c-ivory-0)) }

  html[data-theme='auto'] .sf-c-ivory\:dark, html.auto .sf-c-ivory\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory)) }
  html[data-theme='auto'] .sf-c-ivory\:0\:dark, html.auto .sf-c-ivory\:0\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-100)) }
  html[data-theme='auto'] .sf-c-ivory\:10\:dark, html.auto .sf-c-ivory\:10\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-90)) }
  html[data-theme='auto'] .sf-c-ivory\:20\:dark, html.auto .sf-c-ivory\:20\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-80)) }
  html[data-theme='auto'] .sf-c-ivory\:30\:dark, html.auto .sf-c-ivory\:30\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-70)) }
  html[data-theme='auto'] .sf-c-ivory\:40\:dark, html.auto .sf-c-ivory\:40\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-60)) }
  html[data-theme='auto'] .sf-c-ivory\:50\:dark, html.auto .sf-c-ivory\:50\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-50)) }
  html[data-theme='auto'] .sf-c-ivory\:60\:dark, html.auto .sf-c-ivory\:60\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-40)) }
  html[data-theme='auto'] .sf-c-ivory\:70\:dark, html.auto .sf-c-ivory\:70\:dark { color: hsl(var(--sf-c-txt-ivory-10)); background: hsl(var(--sf-c-ivory-30)) }
  html[data-theme='auto'] .sf-c-ivory\:80\:dark, html.auto .sf-c-ivory\:80\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-20)) }
  html[data-theme='auto'] .sf-c-ivory\:90\:dark, html.auto .sf-c-ivory\:90\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-10)) }
  html[data-theme='auto'] .sf-c-ivory\:100\:dark, html.auto .sf-c-ivory\:100\:dark { color: hsl(var(--sf-c-txt-ivory-90)); background: hsl(var(--sf-c-ivory-0)) }

  html.var[data-theme='auto'] .sf-c-ivory, html.var.auto .sf-c-ivory { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 3%) }
  html.var[data-theme='auto'] .sf-c-ivory\:0, html.var.auto .sf-c-ivory\:0 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-ivory\:10, html.var.auto .sf-c-ivory\:10 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-ivory\:20, html.var.auto .sf-c-ivory\:20 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-ivory\:30, html.var.auto .sf-c-ivory\:30 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-ivory\:40, html.var.auto .sf-c-ivory\:40 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-ivory\:50, html.var.auto .sf-c-ivory\:50 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-ivory\:60, html.var.auto .sf-c-ivory\:60 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-ivory\:70, html.var.auto .sf-c-ivory\:70 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-ivory\:80, html.var.auto .sf-c-ivory\:80 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-ivory\:90, html.var.auto .sf-c-ivory\:90 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-ivory\:100, html.var.auto .sf-c-ivory\:100 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-ivory\:dark, html.var.auto .sf-c-ivory\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 3%) }
  html.var[data-theme='auto'] .sf-c-ivory\:0\:dark, html.var.auto .sf-c-ivory\:0\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-ivory\:10\:dark, html.var.auto .sf-c-ivory\:10\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-ivory\:20\:dark, html.var.auto .sf-c-ivory\:20\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-ivory\:30\:dark, html.var.auto .sf-c-ivory\:30\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-ivory\:40\:dark, html.var.auto .sf-c-ivory\:40\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-ivory\:50\:dark, html.var.auto .sf-c-ivory\:50\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-ivory\:60\:dark, html.var.auto .sf-c-ivory\:60\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-ivory\:70\:dark, html.var.auto .sf-c-ivory\:70\:dark { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-ivory\:80\:dark, html.var.auto .sf-c-ivory\:80\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-ivory\:90\:dark, html.var.auto .sf-c-ivory\:90\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-ivory\:100\:dark, html.var.auto .sf-c-ivory\:100\:dark { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }
}

.sf-c-txt-ivory { color: hsl(var(--sf-c-txt-ivory)) }
.sf-c-txt-ivory\:0 { color: hsl(var(--sf-c-txt-ivory-0)) }
.sf-c-txt-ivory\:10 { color: hsl(var(--sf-c-txt-ivory-10)) }
.sf-c-txt-ivory\:20 { color: hsl(var(--sf-c-txt-ivory-20)) }
.sf-c-txt-ivory\:30 { color: hsl(var(--sf-c-txt-ivory-30)) }
.sf-c-txt-ivory\:40 { color: hsl(var(--sf-c-txt-ivory-40)) }
.sf-c-txt-ivory\:50 { color: hsl(var(--sf-c-txt-ivory-50)) }
.sf-c-txt-ivory\:60 { color: hsl(var(--sf-c-txt-ivory-60)) }
.sf-c-txt-ivory\:70 { color: hsl(var(--sf-c-txt-ivory-70)) }
.sf-c-txt-ivory\:80 { color: hsl(var(--sf-c-txt-ivory-80)) }
.sf-c-txt-ivory\:90 { color: hsl(var(--sf-c-txt-ivory-90)) }
.sf-c-txt-ivory\:100 { color: hsl(var(--sf-c-txt-ivory-100)) }
