:root {
  --sf-c-lightblue: 195 53% 79%;
  --sf-c-lightblue-0: 195 53% 0%;
  --sf-c-lightblue-10: 195 53% 10%;
  --sf-c-lightblue-20: 195 53% 20%;
  --sf-c-lightblue-30: 195 53% 30%;
  --sf-c-lightblue-40: 195 53% 40%;
  --sf-c-lightblue-50: 195 53% 50%;
  --sf-c-lightblue-60: 195 53% 60%;
  --sf-c-lightblue-70: 195 53% 70%;
  --sf-c-lightblue-80: 195 53% 80%;
  --sf-c-lightblue-90: 195 53% 90%;
  --sf-c-lightblue-100: 195 53% 100%;

  --sf-c-txt-lightblue: var(--sf-c-lightblue);
  --sf-c-txt-lightblue-0: var(--sf-c-lightblue-0);
  --sf-c-txt-lightblue-10: var(--sf-c-lightblue-10);
  --sf-c-txt-lightblue-20: var(--sf-c-lightblue-20);
  --sf-c-txt-lightblue-30: var(--sf-c-lightblue-30);
  --sf-c-txt-lightblue-40: var(--sf-c-lightblue-40);
  --sf-c-txt-lightblue-50: var(--sf-c-lightblue-50);
  --sf-c-txt-lightblue-60: var(--sf-c-lightblue-60);
  --sf-c-txt-lightblue-70: var(--sf-c-lightblue-70);
  --sf-c-txt-lightblue-80: var(--sf-c-lightblue-80);
  --sf-c-txt-lightblue-90: var(--sf-c-lightblue-90);
  --sf-c-txt-lightblue-100: var(--sf-c-lightblue-100);

  --sf-dark-c-lightblue: 195 53% 21%;
  --sf-dark-c-lightblue-0: 195 53% 0%;
  --sf-dark-c-lightblue-10: 195 53% 10%;
  --sf-dark-c-lightblue-20: 195 53% 20%;
  --sf-dark-c-lightblue-30: 195 53% 30%;
  --sf-dark-c-lightblue-40: 195 53% 40%;
  --sf-dark-c-lightblue-50: 195 53% 50%;
  --sf-dark-c-lightblue-60: 195 53% 60%;
  --sf-dark-c-lightblue-70: 195 53% 70%;
  --sf-dark-c-lightblue-80: 195 53% 80%;
  --sf-dark-c-lightblue-90: 195 53% 90%;
  --sf-dark-c-lightblue-100: 195 53% 100%;

  --sf-dark-c-txt-lightblue: var(--sf-dark-c-lightblue);
  --sf-dark-c-txt-lightblue-0: var(--sf-dark-c-lightblue-0);
  --sf-dark-c-txt-lightblue-10: var(--sf-dark-c-lightblue-10);
  --sf-dark-c-txt-lightblue-20: var(--sf-dark-c-lightblue-20);
  --sf-dark-c-txt-lightblue-30: var(--sf-dark-c-lightblue-30);
  --sf-dark-c-txt-lightblue-40: var(--sf-dark-c-lightblue-40);
  --sf-dark-c-txt-lightblue-50: var(--sf-dark-c-lightblue-50);
  --sf-dark-c-txt-lightblue-60: var(--sf-dark-c-lightblue-60);
  --sf-dark-c-txt-lightblue-70: var(--sf-dark-c-lightblue-70);
  --sf-dark-c-txt-lightblue-80: var(--sf-dark-c-lightblue-80);
  --sf-dark-c-txt-lightblue-90: var(--sf-dark-c-lightblue-90);
  --sf-dark-c-txt-lightblue-100: var(--sf-dark-c-lightblue-100);
}

.sf-c-lightblue { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue)) }
.sf-c-lightblue\:0 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-0)) }
.sf-c-lightblue\:10 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-10)) }
.sf-c-lightblue\:20 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-20)) }
.sf-c-lightblue\:30 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-30)) }
.sf-c-lightblue\:40 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-40)) }
.sf-c-lightblue\:50 { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-50)) }
.sf-c-lightblue\:60 { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-60)) }
.sf-c-lightblue\:70 { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-70)) }
.sf-c-lightblue\:80 { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-80)) }
.sf-c-lightblue\:90 { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-90)) }
.sf-c-lightblue\:100 { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-100)) }

html.var .sf-c-lightblue { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 79%) }
html.var .sf-c-lightblue\:0 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 0%) }
html.var .sf-c-lightblue\:10 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 10%) }
html.var .sf-c-lightblue\:20 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 20%) }
html.var .sf-c-lightblue\:30 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 30%) }
html.var .sf-c-lightblue\:40 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 40%) }
html.var .sf-c-lightblue\:50 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 50%) }
html.var .sf-c-lightblue\:60 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 60%) }
html.var .sf-c-lightblue\:70 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 70%) }
html.var .sf-c-lightblue\:80 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 80%) }
html.var .sf-c-lightblue\:90 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 90%) }
html.var .sf-c-lightblue\:100 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 100%) }

.sf-c-txt-lightblue { color: hsl(var(--sf-dark-c-txt-lightblue)) }
.sf-c-txt-lightblue\:0 { color: hsl(var(--sf-dark-c-txt-lightblue-100)) }
.sf-c-txt-lightblue\:10 { color: hsl(var(--sf-dark-c-txt-lightblue-90)) }
.sf-c-txt-lightblue\:20 { color: hsl(var(--sf-dark-c-txt-lightblue-80)) }
.sf-c-txt-lightblue\:30 { color: hsl(var(--sf-dark-c-txt-lightblue-70)) }
.sf-c-txt-lightblue\:40 { color: hsl(var(--sf-dark-c-txt-lightblue-60)) }
.sf-c-txt-lightblue\:50 { color: hsl(var(--sf-dark-c-txt-lightblue-50)) }
.sf-c-txt-lightblue\:60 { color: hsl(var(--sf-dark-c-txt-lightblue-40)) }
.sf-c-txt-lightblue\:70 { color: hsl(var(--sf-dark-c-txt-lightblue-30)) }
.sf-c-txt-lightblue\:80 { color: hsl(var(--sf-dark-c-txt-lightblue-20)) }
.sf-c-txt-lightblue\:90 { color: hsl(var(--sf-dark-c-txt-lightblue-10)) }
.sf-c-txt-lightblue\:100 { color: hsl(var(--sf-dark-c-txt-lightblue-0)) }

html.var .sf-c-txt-lightblue { color: hsl(195, 53%, 21%) }
html.var .sf-c-txt-lightblue\:0 { color: hsl(195, 53%, 100%) }
html.var .sf-c-txt-lightblue\:10 { color: hsl(195, 53%, 90%) }
html.var .sf-c-txt-lightblue\:20 { color: hsl(195, 53%, 80%) }
html.var .sf-c-txt-lightblue\:30 { color: hsl(195, 53%, 70%) }
html.var .sf-c-txt-lightblue\:40 { color: hsl(195, 53%, 60%) }
html.var .sf-c-txt-lightblue\:50 { color: hsl(195, 53%, 50%) }
html.var .sf-c-txt-lightblue\:60 { color: hsl(195, 53%, 40%) }
html.var .sf-c-txt-lightblue\:70 { color: hsl(195, 53%, 30%) }
html.var .sf-c-txt-lightblue\:80 { color: hsl(195, 53%, 20%) }
html.var .sf-c-txt-lightblue\:90 { color: hsl(195, 53%, 10%) }
html.var .sf-c-txt-lightblue\:100 { color: hsl(195, 53%, 0%) }

html[data-theme='dark'] .sf-c-lightblue, html.dark .sf-c-lightblue { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue)) }
html[data-theme='dark'] .sf-c-lightblue\:0, html.dark .sf-c-lightblue\:0 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-100)) }
html[data-theme='dark'] .sf-c-lightblue\:10, html.dark .sf-c-lightblue\:10 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-90)) }
html[data-theme='dark'] .sf-c-lightblue\:20, html.dark .sf-c-lightblue\:20 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-80)) }
html[data-theme='dark'] .sf-c-lightblue\:30, html.dark .sf-c-lightblue\:30 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-70)) }
html[data-theme='dark'] .sf-c-lightblue\:40, html.dark .sf-c-lightblue\:40 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-60)) }
html[data-theme='dark'] .sf-c-lightblue\:50, html.dark .sf-c-lightblue\:50 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-50)) }
html[data-theme='dark'] .sf-c-lightblue\:60, html.dark .sf-c-lightblue\:60 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-40)) }
html[data-theme='dark'] .sf-c-lightblue\:70, html.dark .sf-c-lightblue\:70 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-30)) }
html[data-theme='dark'] .sf-c-lightblue\:80, html.dark .sf-c-lightblue\:80 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-20)) }
html[data-theme='dark'] .sf-c-lightblue\:90, html.dark .sf-c-lightblue\:90 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-10)) }
html[data-theme='dark'] .sf-c-lightblue\:100, html.dark .sf-c-lightblue\:100 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-0)) }

html[data-theme='dark'] .sf-c-lightblue\:dark, html.dark .sf-c-lightblue\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue)) }
html[data-theme='dark'] .sf-c-lightblue\:0\:dark, html.dark .sf-c-lightblue\:0\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-100)) }
html[data-theme='dark'] .sf-c-lightblue\:10\:dark, html.dark .sf-c-lightblue\:10\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-90)) }
html[data-theme='dark'] .sf-c-lightblue\:20\:dark, html.dark .sf-c-lightblue\:20\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-80)) }
html[data-theme='dark'] .sf-c-lightblue\:30\:dark, html.dark .sf-c-lightblue\:30\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-70)) }
html[data-theme='dark'] .sf-c-lightblue\:40\:dark, html.dark .sf-c-lightblue\:40\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-60)) }
html[data-theme='dark'] .sf-c-lightblue\:50\:dark, html.dark .sf-c-lightblue\:50\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-50)) }
html[data-theme='dark'] .sf-c-lightblue\:60\:dark, html.dark .sf-c-lightblue\:60\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-40)) }
html[data-theme='dark'] .sf-c-lightblue\:70\:dark, html.dark .sf-c-lightblue\:70\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-30)) }
html[data-theme='dark'] .sf-c-lightblue\:80\:dark, html.dark .sf-c-lightblue\:80\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-20)) }
html[data-theme='dark'] .sf-c-lightblue\:90\:dark, html.dark .sf-c-lightblue\:90\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-10)) }
html[data-theme='dark'] .sf-c-lightblue\:100\:dark, html.dark .sf-c-lightblue\:100\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-0)) }

html[data-theme='dark'] .sf-c-txt-lightblue, html.dark .sf-c-txt-lightblue { color: hsl(var(--sf-c-txt-lightblue)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:0, html.dark .sf-c-txt-lightblue\:0 { color: hsl(var(--sf-c-txt-lightblue-0)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:10, html.dark .sf-c-txt-lightblue\:10 { color: hsl(var(--sf-c-txt-lightblue-10)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:20, html.dark .sf-c-txt-lightblue\:20 { color: hsl(var(--sf-c-txt-lightblue-20)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:30, html.dark .sf-c-txt-lightblue\:30 { color: hsl(var(--sf-c-txt-lightblue-30)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:40, html.dark .sf-c-txt-lightblue\:40 { color: hsl(var(--sf-c-txt-lightblue-40)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:50, html.dark .sf-c-txt-lightblue\:50 { color: hsl(var(--sf-c-txt-lightblue-50)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:60, html.dark .sf-c-txt-lightblue\:60 { color: hsl(var(--sf-c-txt-lightblue-60)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:70, html.dark .sf-c-txt-lightblue\:70 { color: hsl(var(--sf-c-txt-lightblue-70)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:80, html.dark .sf-c-txt-lightblue\:80 { color: hsl(var(--sf-c-txt-lightblue-80)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:90, html.dark .sf-c-txt-lightblue\:90 { color: hsl(var(--sf-c-txt-lightblue-90)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:100, html.dark .sf-c-txt-lightblue\:100 { color: hsl(var(--sf-c-txt-lightblue-100)) }

html[data-theme='dark'] .sf-c-txt-lightblue\:dark, html.dark .sf-c-txt-lightblue\:dark { color: hsl(var(--sf-c-txt-lightblue)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:0\:dark, html.dark .sf-c-txt-lightblue\:0\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-0)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:10\:dark, html.dark .sf-c-txt-lightblue\:10\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-10)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:20\:dark, html.dark .sf-c-txt-lightblue\:20\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-20)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:30\:dark, html.dark .sf-c-txt-lightblue\:30\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-30)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:40\:dark, html.dark .sf-c-txt-lightblue\:40\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-40)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:50\:dark, html.dark .sf-c-txt-lightblue\:50\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-50)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:60\:dark, html.dark .sf-c-txt-lightblue\:60\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-60)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:70\:dark, html.dark .sf-c-txt-lightblue\:70\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-70)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:80\:dark, html.dark .sf-c-txt-lightblue\:80\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-80)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:90\:dark, html.dark .sf-c-txt-lightblue\:90\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-90)) }
html[data-theme='dark'] .sf-c-txt-lightblue\:100\:dark, html.dark .sf-c-txt-lightblue\:100\:dark { color: hsl(var(--sf-dark-c-txt-lightblue-100)) }

html.var[data-theme='dark'] .sf-c-lightblue, html.var.dark .sf-c-lightblue { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 21%) }
html.var[data-theme='dark'] .sf-c-lightblue\:0, html.var.dark .sf-c-lightblue\:0 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 100%) }
html.var[data-theme='dark'] .sf-c-lightblue\:10, html.var.dark .sf-c-lightblue\:10 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 90%) }
html.var[data-theme='dark'] .sf-c-lightblue\:20, html.var.dark .sf-c-lightblue\:20 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 80%) }
html.var[data-theme='dark'] .sf-c-lightblue\:30, html.var.dark .sf-c-lightblue\:30 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 70%) }
html.var[data-theme='dark'] .sf-c-lightblue\:40, html.var.dark .sf-c-lightblue\:40 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 60%) }
html.var[data-theme='dark'] .sf-c-lightblue\:50, html.var.dark .sf-c-lightblue\:50 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 50%) }
html.var[data-theme='dark'] .sf-c-lightblue\:60, html.var.dark .sf-c-lightblue\:60 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 40%) }
html.var[data-theme='dark'] .sf-c-lightblue\:70, html.var.dark .sf-c-lightblue\:70 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 30%) }
html.var[data-theme='dark'] .sf-c-lightblue\:80, html.var.dark .sf-c-lightblue\:80 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 20%) }
html.var[data-theme='dark'] .sf-c-lightblue\:90, html.var.dark .sf-c-lightblue\:90 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 10%) }
html.var[data-theme='dark'] .sf-c-lightblue\:100, html.var.dark .sf-c-lightblue\:100 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 0%) }

html.var[data-theme='dark'] .sf-c-lightblue\:dark, html.var.dark .sf-c-lightblue\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 21%) }
html.var[data-theme='dark'] .sf-c-lightblue\:0\:dark, html.var.dark .sf-c-lightblue\:0\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 100%) }
html.var[data-theme='dark'] .sf-c-lightblue\:10\:dark, html.var.dark .sf-c-lightblue\:10\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 90%) }
html.var[data-theme='dark'] .sf-c-lightblue\:20\:dark, html.var.dark .sf-c-lightblue\:20\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 80%) }
html.var[data-theme='dark'] .sf-c-lightblue\:30\:dark, html.var.dark .sf-c-lightblue\:30\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 70%) }
html.var[data-theme='dark'] .sf-c-lightblue\:40\:dark, html.var.dark .sf-c-lightblue\:40\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 60%) }
html.var[data-theme='dark'] .sf-c-lightblue\:50\:dark, html.var.dark .sf-c-lightblue\:50\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 50%) }
html.var[data-theme='dark'] .sf-c-lightblue\:60\:dark, html.var.dark .sf-c-lightblue\:60\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 40%) }
html.var[data-theme='dark'] .sf-c-lightblue\:70\:dark, html.var.dark .sf-c-lightblue\:70\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 30%) }
html.var[data-theme='dark'] .sf-c-lightblue\:80\:dark, html.var.dark .sf-c-lightblue\:80\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 20%) }
html.var[data-theme='dark'] .sf-c-lightblue\:90\:dark, html.var.dark .sf-c-lightblue\:90\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 10%) }
html.var[data-theme='dark'] .sf-c-lightblue\:100\:dark, html.var.dark .sf-c-lightblue\:100\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 0%) }

html.var[data-theme='dark'] .sf-c-txt-lightblue, html.dark .sf-c-txt-lightblue { color: hsl(195, 53%, 79%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:0, html.dark .sf-c-txt-lightblue\:0 { color: hsl(195, 53%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:10, html.dark .sf-c-txt-lightblue\:10 { color: hsl(195, 53%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:20, html.dark .sf-c-txt-lightblue\:20 { color: hsl(195, 53%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:30, html.dark .sf-c-txt-lightblue\:30 { color: hsl(195, 53%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:40, html.dark .sf-c-txt-lightblue\:40 { color: hsl(195, 53%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:50, html.dark .sf-c-txt-lightblue\:50 { color: hsl(195, 53%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:60, html.dark .sf-c-txt-lightblue\:60 { color: hsl(195, 53%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:70, html.dark .sf-c-txt-lightblue\:70 { color: hsl(195, 53%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:80, html.dark .sf-c-txt-lightblue\:80 { color: hsl(195, 53%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:90, html.dark .sf-c-txt-lightblue\:90 { color: hsl(195, 53%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:100, html.dark .sf-c-txt-lightblue\:100 { color: hsl(195, 53%, 100%) }

html.var[data-theme='dark'] .sf-c-txt-lightblue\:dark, html.dark .sf-c-txt-lightblue\:dark { color: hsl(195, 53%, 79%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:0\:dark, html.dark .sf-c-txt-lightblue\:0\:dark { color: hsl(195, 53%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:10\:dark, html.dark .sf-c-txt-lightblue\:10\:dark { color: hsl(195, 53%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:20\:dark, html.dark .sf-c-txt-lightblue\:20\:dark { color: hsl(195, 53%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:30\:dark, html.dark .sf-c-txt-lightblue\:30\:dark { color: hsl(195, 53%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:40\:dark, html.dark .sf-c-txt-lightblue\:40\:dark { color: hsl(195, 53%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:50\:dark, html.dark .sf-c-txt-lightblue\:50\:dark { color: hsl(195, 53%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:60\:dark, html.dark .sf-c-txt-lightblue\:60\:dark { color: hsl(195, 53%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:70\:dark, html.dark .sf-c-txt-lightblue\:70\:dark { color: hsl(195, 53%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:80\:dark, html.dark .sf-c-txt-lightblue\:80\:dark { color: hsl(195, 53%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:90\:dark, html.dark .sf-c-txt-lightblue\:90\:dark { color: hsl(195, 53%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-lightblue\:100\:dark, html.dark .sf-c-txt-lightblue\:100\:dark { color: hsl(195, 53%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lightblue, html.auto .sf-c-lightblue { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue)) }
  html[data-theme='auto'] .sf-c-lightblue\:0, html.auto .sf-c-lightblue\:0 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-100)) }
  html[data-theme='auto'] .sf-c-lightblue\:10, html.auto .sf-c-lightblue\:10 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-90)) }
  html[data-theme='auto'] .sf-c-lightblue\:20, html.auto .sf-c-lightblue\:20 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-80)) }
  html[data-theme='auto'] .sf-c-lightblue\:30, html.auto .sf-c-lightblue\:30 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-70)) }
  html[data-theme='auto'] .sf-c-lightblue\:40, html.auto .sf-c-lightblue\:40 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-60)) }
  html[data-theme='auto'] .sf-c-lightblue\:50, html.auto .sf-c-lightblue\:50 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-50)) }
  html[data-theme='auto'] .sf-c-lightblue\:60, html.auto .sf-c-lightblue\:60 { color: hsl(var(--sf-dark-c-txt-lightblue-10)); background: hsl(var(--sf-dark-c-lightblue-40)) }
  html[data-theme='auto'] .sf-c-lightblue\:70, html.auto .sf-c-lightblue\:70 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-30)) }
  html[data-theme='auto'] .sf-c-lightblue\:80, html.auto .sf-c-lightblue\:80 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-20)) }
  html[data-theme='auto'] .sf-c-lightblue\:90, html.auto .sf-c-lightblue\:90 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-10)) }
  html[data-theme='auto'] .sf-c-lightblue\:100, html.auto .sf-c-lightblue\:100 { color: hsl(var(--sf-dark-c-txt-lightblue-90)); background: hsl(var(--sf-dark-c-lightblue-0)) }

  html[data-theme='auto'] .sf-c-lightblue\:dark, html.auto .sf-c-lightblue\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue)) }
  html[data-theme='auto'] .sf-c-lightblue\:0\:dark, html.auto .sf-c-lightblue\:0\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-100)) }
  html[data-theme='auto'] .sf-c-lightblue\:10\:dark, html.auto .sf-c-lightblue\:10\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-90)) }
  html[data-theme='auto'] .sf-c-lightblue\:20\:dark, html.auto .sf-c-lightblue\:20\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-80)) }
  html[data-theme='auto'] .sf-c-lightblue\:30\:dark, html.auto .sf-c-lightblue\:30\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-70)) }
  html[data-theme='auto'] .sf-c-lightblue\:40\:dark, html.auto .sf-c-lightblue\:40\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-60)) }
  html[data-theme='auto'] .sf-c-lightblue\:50\:dark, html.auto .sf-c-lightblue\:50\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-50)) }
  html[data-theme='auto'] .sf-c-lightblue\:60\:dark, html.auto .sf-c-lightblue\:60\:dark { color: hsl(var(--sf-c-txt-lightblue-10)); background: hsl(var(--sf-c-lightblue-40)) }
  html[data-theme='auto'] .sf-c-lightblue\:70\:dark, html.auto .sf-c-lightblue\:70\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-30)) }
  html[data-theme='auto'] .sf-c-lightblue\:80\:dark, html.auto .sf-c-lightblue\:80\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-20)) }
  html[data-theme='auto'] .sf-c-lightblue\:90\:dark, html.auto .sf-c-lightblue\:90\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-10)) }
  html[data-theme='auto'] .sf-c-lightblue\:100\:dark, html.auto .sf-c-lightblue\:100\:dark { color: hsl(var(--sf-c-txt-lightblue-90)); background: hsl(var(--sf-c-lightblue-0)) }

  html[data-theme='auto'] .sf-c-txt-lightblue, html.auto .sf-c-txt-lightblue { color: hsl(var(--sf-c-txt-lightblue)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:0, html.auto .sf-c-txt-lightblue\:0 { color: hsl(var(--sf-c-txt-lightblue-0)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:10, html.auto .sf-c-txt-lightblue\:10 { color: hsl(var(--sf-c-txt-lightblue-10)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:20, html.auto .sf-c-txt-lightblue\:20 { color: hsl(var(--sf-c-txt-lightblue-20)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:30, html.auto .sf-c-txt-lightblue\:30 { color: hsl(var(--sf-c-txt-lightblue-30)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:40, html.auto .sf-c-txt-lightblue\:40 { color: hsl(var(--sf-c-txt-lightblue-40)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:50, html.auto .sf-c-txt-lightblue\:50 { color: hsl(var(--sf-c-txt-lightblue-50)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:60, html.auto .sf-c-txt-lightblue\:60 { color: hsl(var(--sf-c-txt-lightblue-60)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:70, html.auto .sf-c-txt-lightblue\:70 { color: hsl(var(--sf-c-txt-lightblue-70)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:80, html.auto .sf-c-txt-lightblue\:80 { color: hsl(var(--sf-c-txt-lightblue-80)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:90, html.auto .sf-c-txt-lightblue\:90 { color: hsl(var(--sf-c-txt-lightblue-90)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:100, html.auto .sf-c-txt-lightblue\:100 { color: hsl(var(--sf-c-txt-lightblue-100)) }

  html[data-theme='auto'] .sf-c-txt-lightblue\:dark, html.auto .sf-c-txt-lightblue\:dark { color: hsl(var(--sf-c-txt-lightblue)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:0\:dark, html.auto .sf-c-txt-lightblue\:0\:dark { color: hsl(var(--sf-c-txt-lightblue-0)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:10\:dark, html.auto .sf-c-txt-lightblue\:10\:dark { color: hsl(var(--sf-c-txt-lightblue-10)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:20\:dark, html.auto .sf-c-txt-lightblue\:20\:dark { color: hsl(var(--sf-c-txt-lightblue-20)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:30\:dark, html.auto .sf-c-txt-lightblue\:30\:dark { color: hsl(var(--sf-c-txt-lightblue-30)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:40\:dark, html.auto .sf-c-txt-lightblue\:40\:dark { color: hsl(var(--sf-c-txt-lightblue-40)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:50\:dark, html.auto .sf-c-txt-lightblue\:50\:dark { color: hsl(var(--sf-c-txt-lightblue-50)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:60\:dark, html.auto .sf-c-txt-lightblue\:60\:dark { color: hsl(var(--sf-c-txt-lightblue-60)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:70\:dark, html.auto .sf-c-txt-lightblue\:70\:dark { color: hsl(var(--sf-c-txt-lightblue-70)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:80\:dark, html.auto .sf-c-txt-lightblue\:80\:dark { color: hsl(var(--sf-c-txt-lightblue-80)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:90\:dark, html.auto .sf-c-txt-lightblue\:90\:dark { color: hsl(var(--sf-c-txt-lightblue-90)) }
  html[data-theme='auto'] .sf-c-txt-lightblue\:100\:dark, html.auto .sf-c-txt-lightblue\:100\:dark { color: hsl(var(--sf-c-txt-lightblue-100)) }

  html.var[data-theme='auto'] .sf-c-lightblue, html.var.auto .sf-c-lightblue { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 21%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:0, html.var.auto .sf-c-lightblue\:0 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 100%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:10, html.var.auto .sf-c-lightblue\:10 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 90%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:20, html.var.auto .sf-c-lightblue\:20 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 80%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:30, html.var.auto .sf-c-lightblue\:30 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 70%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:40, html.var.auto .sf-c-lightblue\:40 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 60%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:50, html.var.auto .sf-c-lightblue\:50 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 50%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:60, html.var.auto .sf-c-lightblue\:60 { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 40%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:70, html.var.auto .sf-c-lightblue\:70 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 30%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:80, html.var.auto .sf-c-lightblue\:80 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 20%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:90, html.var.auto .sf-c-lightblue\:90 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 10%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:100, html.var.auto .sf-c-lightblue\:100 { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 0%) }

  html.var[data-theme='auto'] .sf-c-lightblue\:dark, html.var.auto .sf-c-lightblue\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 21%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:0\:dark, html.var.auto .sf-c-lightblue\:0\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 100%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:10\:dark, html.var.auto .sf-c-lightblue\:10\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 90%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:20\:dark, html.var.auto .sf-c-lightblue\:20\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 80%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:30\:dark, html.var.auto .sf-c-lightblue\:30\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 70%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:40\:dark, html.var.auto .sf-c-lightblue\:40\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 60%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:50\:dark, html.var.auto .sf-c-lightblue\:50\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 50%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:60\:dark, html.var.auto .sf-c-lightblue\:60\:dark { color: hsl(195, 53%, 10%); background: hsl(195, 53%, 40%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:70\:dark, html.var.auto .sf-c-lightblue\:70\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 30%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:80\:dark, html.var.auto .sf-c-lightblue\:80\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 20%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:90\:dark, html.var.auto .sf-c-lightblue\:90\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 10%) }
  html.var[data-theme='auto'] .sf-c-lightblue\:100\:dark, html.var.auto .sf-c-lightblue\:100\:dark { color: hsl(195, 53%, 90%); background: hsl(195, 53%, 0%) }

  html.var[data-theme='auto'] .sf-c-txt-lightblue, html.auto .sf-c-txt-lightblue { color: hsl(195, 53%, 79%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:0, html.auto .sf-c-txt-lightblue\:0 { color: hsl(195, 53%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:10, html.auto .sf-c-txt-lightblue\:10 { color: hsl(195, 53%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:20, html.auto .sf-c-txt-lightblue\:20 { color: hsl(195, 53%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:30, html.auto .sf-c-txt-lightblue\:30 { color: hsl(195, 53%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:40, html.auto .sf-c-txt-lightblue\:40 { color: hsl(195, 53%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:50, html.auto .sf-c-txt-lightblue\:50 { color: hsl(195, 53%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:60, html.auto .sf-c-txt-lightblue\:60 { color: hsl(195, 53%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:70, html.auto .sf-c-txt-lightblue\:70 { color: hsl(195, 53%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:80, html.auto .sf-c-txt-lightblue\:80 { color: hsl(195, 53%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:90, html.auto .sf-c-txt-lightblue\:90 { color: hsl(195, 53%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:100, html.auto .sf-c-txt-lightblue\:100 { color: hsl(195, 53%, 100%) }

  html.var[data-theme='auto'] .sf-c-txt-lightblue\:dark, html.auto .sf-c-txt-lightblue\:dark { color: hsl(195, 53%, 79%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:0\:dark, html.auto .sf-c-txt-lightblue\:0\:dark { color: hsl(195, 53%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:10\:dark, html.auto .sf-c-txt-lightblue\:10\:dark { color: hsl(195, 53%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:20\:dark, html.auto .sf-c-txt-lightblue\:20\:dark { color: hsl(195, 53%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:30\:dark, html.auto .sf-c-txt-lightblue\:30\:dark { color: hsl(195, 53%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:40\:dark, html.auto .sf-c-txt-lightblue\:40\:dark { color: hsl(195, 53%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:50\:dark, html.auto .sf-c-txt-lightblue\:50\:dark { color: hsl(195, 53%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:60\:dark, html.auto .sf-c-txt-lightblue\:60\:dark { color: hsl(195, 53%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:70\:dark, html.auto .sf-c-txt-lightblue\:70\:dark { color: hsl(195, 53%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:80\:dark, html.auto .sf-c-txt-lightblue\:80\:dark { color: hsl(195, 53%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:90\:dark, html.auto .sf-c-txt-lightblue\:90\:dark { color: hsl(195, 53%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-lightblue\:100\:dark, html.auto .sf-c-txt-lightblue\:100\:dark { color: hsl(195, 53%, 100%) }
}