:root {
  --sf-c-lightcoral: 0 79% 72%;
  --sf-c-lightcoral-10: 0 79% 10%;
  --sf-c-lightcoral-20: 0 79% 20%;
  --sf-c-lightcoral-30: 0 79% 30%;
  --sf-c-lightcoral-40: 0 79% 40%;
  --sf-c-lightcoral-50: 0 79% 50%;
  --sf-c-lightcoral-60: 0 79% 60%;
  --sf-c-lightcoral-70: 0 79% 70%;
  --sf-c-lightcoral-80: 0 79% 80%;
  --sf-c-lightcoral-90: 0 79% 90%;
 
  --sf-c-txt-lightcoral: var(--sf-c-lightcoral);
  --sf-c-txt-lightcoral-10: var(--sf-c-lightcoral-10);
  --sf-c-txt-lightcoral-20: var(--sf-c-lightcoral-20);
  --sf-c-txt-lightcoral-30: var(--sf-c-lightcoral-30);
  --sf-c-txt-lightcoral-40: var(--sf-c-lightcoral-40);
  --sf-c-txt-lightcoral-50: var(--sf-c-lightcoral-50);
  --sf-c-txt-lightcoral-60: var(--sf-c-lightcoral-60);
  --sf-c-txt-lightcoral-70: var(--sf-c-lightcoral-70);
  --sf-c-txt-lightcoral-80: var(--sf-c-lightcoral-80);
  --sf-c-txt-lightcoral-90: var(--sf-c-lightcoral-90);
 
  --sf-dark-c-lightcoral: 0 79% 28%;
  --sf-dark-c-lightcoral-10: 0 79% 90%;
  --sf-dark-c-lightcoral-20: 0 79% 80%;
  --sf-dark-c-lightcoral-30: 0 79% 70%;
  --sf-dark-c-lightcoral-40: 0 79% 60%;
  --sf-dark-c-lightcoral-50: 0 79% 50%;
  --sf-dark-c-lightcoral-60: 0 79% 40%;
  --sf-dark-c-lightcoral-70: 0 79% 30%;
  --sf-dark-c-lightcoral-80: 0 79% 20%;
  --sf-dark-c-lightcoral-90: 0 79% 10%;
 
  --sf-dark-c-txt-lightcoral: var(--sf-dark-c-lightcoral);
  --sf-dark-c-txt-lightcoral-10: var(--sf-dark-c-lightcoral-10);
  --sf-dark-c-txt-lightcoral-20: var(--sf-dark-c-lightcoral-20);
  --sf-dark-c-txt-lightcoral-30: var(--sf-dark-c-lightcoral-30);
  --sf-dark-c-txt-lightcoral-40: var(--sf-dark-c-lightcoral-40);
  --sf-dark-c-txt-lightcoral-50: var(--sf-dark-c-lightcoral-50);
  --sf-dark-c-txt-lightcoral-60: var(--sf-dark-c-lightcoral-60);
  --sf-dark-c-txt-lightcoral-70: var(--sf-dark-c-lightcoral-70);
  --sf-dark-c-txt-lightcoral-80: var(--sf-dark-c-lightcoral-80);
  --sf-dark-c-txt-lightcoral-90: var(--sf-dark-c-lightcoral-90);
}
 
:root[data-theme="dark"] {
  --sf-c-lightcoral: var(--sf-dark-c-lightcoral);
  --sf-c-lightcoral-10: var(--sf-dark-c-lightcoral-10);
  --sf-c-lightcoral-20: var(--sf-dark-c-lightcoral-20);
  --sf-c-lightcoral-30: var(--sf-dark-c-lightcoral-30);
  --sf-c-lightcoral-40: var(--sf-dark-c-lightcoral-40);
  --sf-c-lightcoral-50: var(--sf-dark-c-lightcoral-50);
  --sf-c-lightcoral-60: var(--sf-dark-c-lightcoral-60);
  --sf-c-lightcoral-70: var(--sf-dark-c-lightcoral-70);
  --sf-c-lightcoral-80: var(--sf-dark-c-lightcoral-80);
  --sf-c-lightcoral-90: var(--sf-dark-c-lightcoral-90);
 
  --sf-c-txt-lightcoral: var(--sf-dark-c-txt-lightcoral);
  --sf-c-txt-lightcoral-10: var(--sf-dark-c-txt-lightcoral-10);
  --sf-c-txt-lightcoral-20: var(--sf-dark-c-txt-lightcoral-20);
  --sf-c-txt-lightcoral-30: var(--sf-dark-c-txt-lightcoral-30);
  --sf-c-txt-lightcoral-40: var(--sf-dark-c-txt-lightcoral-40);
  --sf-c-txt-lightcoral-50: var(--sf-dark-c-txt-lightcoral-50);
  --sf-c-txt-lightcoral-60: var(--sf-dark-c-txt-lightcoral-60);
  --sf-c-txt-lightcoral-70: var(--sf-dark-c-txt-lightcoral-70);
  --sf-c-txt-lightcoral-80: var(--sf-dark-c-txt-lightcoral-80);
  --sf-c-txt-lightcoral-90: var(--sf-dark-c-txt-lightcoral-90);
}

.sf-c-lightcoral { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral)) }
.sf-c-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-10)) }
.sf-c-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-20)) }
.sf-c-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-30)) }
.sf-c-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-40)) }
.sf-c-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-50)) }
.sf-c-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-60)) }
.sf-c-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-70)) }
.sf-c-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-80)) }
.sf-c-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-90)) }
 
[data-theme="dark"] .sf-c-lightcoral { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral)) }
[data-theme="dark"] .sf-c-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-10)) }
[data-theme="dark"] .sf-c-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-20)) }
[data-theme="dark"] .sf-c-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-30)) }
[data-theme="dark"] .sf-c-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-40)) }
[data-theme="dark"] .sf-c-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-50)) }
[data-theme="dark"] .sf-c-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-60)) }
[data-theme="dark"] .sf-c-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-70)) }
[data-theme="dark"] .sf-c-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-80)) }
[data-theme="dark"] .sf-c-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-90)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-lightcoral: var(--sf-dark-c-lightcoral);
    --sf-c-lightcoral-10: var(--sf-dark-c-lightcoral-10);
    --sf-c-lightcoral-20: var(--sf-dark-c-lightcoral-20);
    --sf-c-lightcoral-30: var(--sf-dark-c-lightcoral-30);
    --sf-c-lightcoral-40: var(--sf-dark-c-lightcoral-40);
    --sf-c-lightcoral-50: var(--sf-dark-c-lightcoral-50);
    --sf-c-lightcoral-60: var(--sf-dark-c-lightcoral-60);
    --sf-c-lightcoral-70: var(--sf-dark-c-lightcoral-70);
    --sf-c-lightcoral-80: var(--sf-dark-c-lightcoral-80);
    --sf-c-lightcoral-90: var(--sf-dark-c-lightcoral-90);
 
    --sf-c-txt-lightcoral: var(--sf-dark-c-txt-lightcoral);
    --sf-c-txt-lightcoral-10: var(--sf-dark-c-txt-lightcoral-10);
    --sf-c-txt-lightcoral-20: var(--sf-dark-c-txt-lightcoral-20);
    --sf-c-txt-lightcoral-30: var(--sf-dark-c-txt-lightcoral-30);
    --sf-c-txt-lightcoral-40: var(--sf-dark-c-txt-lightcoral-40);
    --sf-c-txt-lightcoral-50: var(--sf-dark-c-txt-lightcoral-50);
    --sf-c-txt-lightcoral-60: var(--sf-dark-c-txt-lightcoral-60);
    --sf-c-txt-lightcoral-70: var(--sf-dark-c-txt-lightcoral-70);
    --sf-c-txt-lightcoral-80: var(--sf-dark-c-txt-lightcoral-80);
    --sf-c-txt-lightcoral-90: var(--sf-dark-c-txt-lightcoral-90);
  }
 
  [data-theme="auto"] .sf-c-lightcoral { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral)) }
  [data-theme="auto"] .sf-c-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-10)) }
  [data-theme="auto"] .sf-c-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-20)) }
  [data-theme="auto"] .sf-c-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-90)); background: hsl(var(--sf-c-lightcoral-30)) }
  [data-theme="auto"] .sf-c-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-40)) }
  [data-theme="auto"] .sf-c-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-50)) }
  [data-theme="auto"] .sf-c-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-60)) }
  [data-theme="auto"] .sf-c-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-70)) }
  [data-theme="auto"] .sf-c-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-80)) }
  [data-theme="auto"] .sf-c-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-10)); background: hsl(var(--sf-c-lightcoral-90)) }
}

.sf-c-txt-lightcoral { color: hsl(var(--sf-c-txt-lightcoral)) }
.sf-c-txt-lightcoral\:10 { color: hsl(var(--sf-c-txt-lightcoral-10)) }
.sf-c-txt-lightcoral\:20 { color: hsl(var(--sf-c-txt-lightcoral-20)) }
.sf-c-txt-lightcoral\:30 { color: hsl(var(--sf-c-txt-lightcoral-30)) }
.sf-c-txt-lightcoral\:40 { color: hsl(var(--sf-c-txt-lightcoral-40)) }
.sf-c-txt-lightcoral\:50 { color: hsl(var(--sf-c-txt-lightcoral-50)) }
.sf-c-txt-lightcoral\:60 { color: hsl(var(--sf-c-txt-lightcoral-60)) }
.sf-c-txt-lightcoral\:70 { color: hsl(var(--sf-c-txt-lightcoral-70)) }
.sf-c-txt-lightcoral\:80 { color: hsl(var(--sf-c-txt-lightcoral-80)) }
.sf-c-txt-lightcoral\:90 { color: hsl(var(--sf-c-txt-lightcoral-90)) }