:root {
  --sf-c-limegreen: 120 61% 50%;
  --sf-c-limegreen-10: 120 61% 10%;
  --sf-c-limegreen-20: 120 61% 20%;
  --sf-c-limegreen-30: 120 61% 30%;
  --sf-c-limegreen-40: 120 61% 40%;
  --sf-c-limegreen-50: 120 61% 50%;
  --sf-c-limegreen-60: 120 61% 60%;
  --sf-c-limegreen-70: 120 61% 70%;
  --sf-c-limegreen-80: 120 61% 80%;
  --sf-c-limegreen-90: 120 61% 90%;
 
  --sf-c-txt-limegreen: var(--sf-c-limegreen);
  --sf-c-txt-limegreen-10: var(--sf-c-limegreen-10);
  --sf-c-txt-limegreen-20: var(--sf-c-limegreen-20);
  --sf-c-txt-limegreen-30: var(--sf-c-limegreen-30);
  --sf-c-txt-limegreen-40: var(--sf-c-limegreen-40);
  --sf-c-txt-limegreen-50: var(--sf-c-limegreen-50);
  --sf-c-txt-limegreen-60: var(--sf-c-limegreen-60);
  --sf-c-txt-limegreen-70: var(--sf-c-limegreen-70);
  --sf-c-txt-limegreen-80: var(--sf-c-limegreen-80);
  --sf-c-txt-limegreen-90: var(--sf-c-limegreen-90);
 
  --sf-dark-c-limegreen: 120 61% 50%;
  --sf-dark-c-limegreen-10: 120 61% 90%;
  --sf-dark-c-limegreen-20: 120 61% 80%;
  --sf-dark-c-limegreen-30: 120 61% 70%;
  --sf-dark-c-limegreen-40: 120 61% 60%;
  --sf-dark-c-limegreen-50: 120 61% 50%;
  --sf-dark-c-limegreen-60: 120 61% 40%;
  --sf-dark-c-limegreen-70: 120 61% 30%;
  --sf-dark-c-limegreen-80: 120 61% 20%;
  --sf-dark-c-limegreen-90: 120 61% 10%;
 
  --sf-dark-c-txt-limegreen: var(--sf-dark-c-limegreen);
  --sf-dark-c-txt-limegreen-10: var(--sf-dark-c-limegreen-10);
  --sf-dark-c-txt-limegreen-20: var(--sf-dark-c-limegreen-20);
  --sf-dark-c-txt-limegreen-30: var(--sf-dark-c-limegreen-30);
  --sf-dark-c-txt-limegreen-40: var(--sf-dark-c-limegreen-40);
  --sf-dark-c-txt-limegreen-50: var(--sf-dark-c-limegreen-50);
  --sf-dark-c-txt-limegreen-60: var(--sf-dark-c-limegreen-60);
  --sf-dark-c-txt-limegreen-70: var(--sf-dark-c-limegreen-70);
  --sf-dark-c-txt-limegreen-80: var(--sf-dark-c-limegreen-80);
  --sf-dark-c-txt-limegreen-90: var(--sf-dark-c-limegreen-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-limegreen: var(--sf-dark-c-limegreen);
  --sf-c-limegreen-10: var(--sf-dark-c-limegreen-10);
  --sf-c-limegreen-20: var(--sf-dark-c-limegreen-20);
  --sf-c-limegreen-30: var(--sf-dark-c-limegreen-30);
  --sf-c-limegreen-40: var(--sf-dark-c-limegreen-40);
  --sf-c-limegreen-50: var(--sf-dark-c-limegreen-50);
  --sf-c-limegreen-60: var(--sf-dark-c-limegreen-60);
  --sf-c-limegreen-70: var(--sf-dark-c-limegreen-70);
  --sf-c-limegreen-80: var(--sf-dark-c-limegreen-80);
  --sf-c-limegreen-90: var(--sf-dark-c-limegreen-90);
 
  --sf-c-txt-limegreen: var(--sf-dark-c-txt-limegreen);
  --sf-c-txt-limegreen-10: var(--sf-dark-c-txt-limegreen-10);
  --sf-c-txt-limegreen-20: var(--sf-dark-c-txt-limegreen-20);
  --sf-c-txt-limegreen-30: var(--sf-dark-c-txt-limegreen-30);
  --sf-c-txt-limegreen-40: var(--sf-dark-c-txt-limegreen-40);
  --sf-c-txt-limegreen-50: var(--sf-dark-c-txt-limegreen-50);
  --sf-c-txt-limegreen-60: var(--sf-dark-c-txt-limegreen-60);
  --sf-c-txt-limegreen-70: var(--sf-dark-c-txt-limegreen-70);
  --sf-c-txt-limegreen-80: var(--sf-dark-c-txt-limegreen-80);
  --sf-c-txt-limegreen-90: var(--sf-dark-c-txt-limegreen-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-limegreen: var(--sf-dark-c-limegreen);
    --sf-c-limegreen-10: var(--sf-dark-c-limegreen-10);
    --sf-c-limegreen-20: var(--sf-dark-c-limegreen-20);
    --sf-c-limegreen-30: var(--sf-dark-c-limegreen-30);
    --sf-c-limegreen-40: var(--sf-dark-c-limegreen-40);
    --sf-c-limegreen-50: var(--sf-dark-c-limegreen-50);
    --sf-c-limegreen-60: var(--sf-dark-c-limegreen-60);
    --sf-c-limegreen-70: var(--sf-dark-c-limegreen-70);
    --sf-c-limegreen-80: var(--sf-dark-c-limegreen-80);
    --sf-c-limegreen-90: var(--sf-dark-c-limegreen-90);
 
    --sf-c-txt-limegreen: var(--sf-dark-c-txt-limegreen);
    --sf-c-txt-limegreen-10: var(--sf-dark-c-txt-limegreen-10);
    --sf-c-txt-limegreen-20: var(--sf-dark-c-txt-limegreen-20);
    --sf-c-txt-limegreen-30: var(--sf-dark-c-txt-limegreen-30);
    --sf-c-txt-limegreen-40: var(--sf-dark-c-txt-limegreen-40);
    --sf-c-txt-limegreen-50: var(--sf-dark-c-txt-limegreen-50);
    --sf-c-txt-limegreen-60: var(--sf-dark-c-txt-limegreen-60);
    --sf-c-txt-limegreen-70: var(--sf-dark-c-txt-limegreen-70);
    --sf-c-txt-limegreen-80: var(--sf-dark-c-txt-limegreen-80);
    --sf-c-txt-limegreen-90: var(--sf-dark-c-txt-limegreen-90);
  }
}
 
.sf-c-limegreen { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen)) }
.sf-c-limegreen\:10 { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-10)) }
.sf-c-limegreen\:20 { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-20)) }
.sf-c-limegreen\:30 { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-30)) }
.sf-c-limegreen\:40 { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-40)) }
.sf-c-limegreen\:50 { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-50)) }
.sf-c-limegreen\:60 { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-60)) }
.sf-c-limegreen\:70 { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-70)) }
.sf-c-limegreen\:80 { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-80)) }
.sf-c-limegreen\:90 { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-limegreen\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:10\:dark { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:20\:dark { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:30\:dark { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:40\:dark { color: hsl(var(--sf-c-txt-limegreen-90)); background: hsl(var(--sf-c-limegreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:50\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:60\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:70\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:80\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-limegreen\:90\:dark { color: hsl(var(--sf-c-txt-limegreen-10)); background: hsl(var(--sf-c-limegreen-90)) }

.sf-c-txt-limegreen { color: hsl(var(--sf-c-txt-limegreen)) }
.sf-c-txt-limegreen\:10 { color: hsl(var(--sf-c-txt-limegreen-10)) }
.sf-c-txt-limegreen\:20 { color: hsl(var(--sf-c-txt-limegreen-20)) }
.sf-c-txt-limegreen\:30 { color: hsl(var(--sf-c-txt-limegreen-30)) }
.sf-c-txt-limegreen\:40 { color: hsl(var(--sf-c-txt-limegreen-40)) }
.sf-c-txt-limegreen\:50 { color: hsl(var(--sf-c-txt-limegreen-50)) }
.sf-c-txt-limegreen\:60 { color: hsl(var(--sf-c-txt-limegreen-60)) }
.sf-c-txt-limegreen\:70 { color: hsl(var(--sf-c-txt-limegreen-70)) }
.sf-c-txt-limegreen\:80 { color: hsl(var(--sf-c-txt-limegreen-80)) }
.sf-c-txt-limegreen\:90 { color: hsl(var(--sf-c-txt-limegreen-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:dark { color: hsl(var(--sf-c-txt-limegreen)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:10\:dark { color: hsl(var(--sf-c-txt-limegreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:20\:dark { color: hsl(var(--sf-c-txt-limegreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:30\:dark { color: hsl(var(--sf-c-txt-limegreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:40\:dark { color: hsl(var(--sf-c-txt-limegreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:50\:dark { color: hsl(var(--sf-c-txt-limegreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:60\:dark { color: hsl(var(--sf-c-txt-limegreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:70\:dark { color: hsl(var(--sf-c-txt-limegreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:80\:dark { color: hsl(var(--sf-c-txt-limegreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-limegreen\:90\:dark { color: hsl(var(--sf-c-txt-limegreen-90)) }