:root {
  --sf-c-mediumblue: 240 100% 40%;
  --sf-c-mediumblue-0: 240 100% 0%;
  --sf-c-mediumblue-10: 240 100% 10%;
  --sf-c-mediumblue-20: 240 100% 20%;
  --sf-c-mediumblue-30: 240 100% 30%;
  --sf-c-mediumblue-40: 240 100% 40%;
  --sf-c-mediumblue-50: 240 100% 50%;
  --sf-c-mediumblue-60: 240 100% 60%;
  --sf-c-mediumblue-70: 240 100% 70%;
  --sf-c-mediumblue-80: 240 100% 80%;
  --sf-c-mediumblue-90: 240 100% 90%;
  --sf-c-mediumblue-100: 240 100% 100%;

  --sf-c-txt-mediumblue: var(--sf-c-mediumblue);
  --sf-c-txt-mediumblue-0: var(--sf-c-mediumblue-0);
  --sf-c-txt-mediumblue-10: var(--sf-c-mediumblue-10);
  --sf-c-txt-mediumblue-20: var(--sf-c-mediumblue-20);
  --sf-c-txt-mediumblue-30: var(--sf-c-mediumblue-30);
  --sf-c-txt-mediumblue-40: var(--sf-c-mediumblue-40);
  --sf-c-txt-mediumblue-50: var(--sf-c-mediumblue-50);
  --sf-c-txt-mediumblue-60: var(--sf-c-mediumblue-60);
  --sf-c-txt-mediumblue-70: var(--sf-c-mediumblue-70);
  --sf-c-txt-mediumblue-80: var(--sf-c-mediumblue-80);
  --sf-c-txt-mediumblue-90: var(--sf-c-mediumblue-90);
  --sf-c-txt-mediumblue-100: var(--sf-c-mediumblue-100);

  --sf-dark-c-mediumblue: 240 100% 60%;
  --sf-dark-c-mediumblue-0: 240 100% 0%;
  --sf-dark-c-mediumblue-10: 240 100% 10%;
  --sf-dark-c-mediumblue-20: 240 100% 20%;
  --sf-dark-c-mediumblue-30: 240 100% 30%;
  --sf-dark-c-mediumblue-40: 240 100% 40%;
  --sf-dark-c-mediumblue-50: 240 100% 50%;
  --sf-dark-c-mediumblue-60: 240 100% 60%;
  --sf-dark-c-mediumblue-70: 240 100% 70%;
  --sf-dark-c-mediumblue-80: 240 100% 80%;
  --sf-dark-c-mediumblue-90: 240 100% 90%;
  --sf-dark-c-mediumblue-100: 240 100% 100%;

  --sf-dark-c-txt-mediumblue: var(--sf-dark-c-mediumblue);
  --sf-dark-c-txt-mediumblue-0: var(--sf-dark-c-mediumblue-0);
  --sf-dark-c-txt-mediumblue-10: var(--sf-dark-c-mediumblue-10);
  --sf-dark-c-txt-mediumblue-20: var(--sf-dark-c-mediumblue-20);
  --sf-dark-c-txt-mediumblue-30: var(--sf-dark-c-mediumblue-30);
  --sf-dark-c-txt-mediumblue-40: var(--sf-dark-c-mediumblue-40);
  --sf-dark-c-txt-mediumblue-50: var(--sf-dark-c-mediumblue-50);
  --sf-dark-c-txt-mediumblue-60: var(--sf-dark-c-mediumblue-60);
  --sf-dark-c-txt-mediumblue-70: var(--sf-dark-c-mediumblue-70);
  --sf-dark-c-txt-mediumblue-80: var(--sf-dark-c-mediumblue-80);
  --sf-dark-c-txt-mediumblue-90: var(--sf-dark-c-mediumblue-90);
  --sf-dark-c-txt-mediumblue-100: var(--sf-dark-c-mediumblue-100);
}

.sf-c-mediumblue { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue)) }
.sf-c-mediumblue\:0 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-0)) }
.sf-c-mediumblue\:10 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-10)) }
.sf-c-mediumblue\:20 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-20)) }
.sf-c-mediumblue\:30 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-30)) }
.sf-c-mediumblue\:40 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-40)) }
.sf-c-mediumblue\:50 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-50)) }
.sf-c-mediumblue\:60 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-60)) }
.sf-c-mediumblue\:70 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-70)) }
.sf-c-mediumblue\:80 { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-80)) }
.sf-c-mediumblue\:90 { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-90)) }
.sf-c-mediumblue\:100 { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-100)) }

html.var .sf-c-mediumblue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var .sf-c-mediumblue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
html.var .sf-c-mediumblue\:10 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var .sf-c-mediumblue\:20 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var .sf-c-mediumblue\:30 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var .sf-c-mediumblue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var .sf-c-mediumblue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var .sf-c-mediumblue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var .sf-c-mediumblue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
html.var .sf-c-mediumblue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 80%) }
html.var .sf-c-mediumblue\:90 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var .sf-c-mediumblue\:100 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-mediumblue, html.dark .sf-c-mediumblue { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue)) }
html[data-theme='dark'] .sf-c-mediumblue\:0, html.dark .sf-c-mediumblue\:0 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-100)) }
html[data-theme='dark'] .sf-c-mediumblue\:10, html.dark .sf-c-mediumblue\:10 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-90)) }
html[data-theme='dark'] .sf-c-mediumblue\:20, html.dark .sf-c-mediumblue\:20 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-80)) }
html[data-theme='dark'] .sf-c-mediumblue\:30, html.dark .sf-c-mediumblue\:30 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-70)) }
html[data-theme='dark'] .sf-c-mediumblue\:40, html.dark .sf-c-mediumblue\:40 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-60)) }
html[data-theme='dark'] .sf-c-mediumblue\:50, html.dark .sf-c-mediumblue\:50 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-50)) }
html[data-theme='dark'] .sf-c-mediumblue\:60, html.dark .sf-c-mediumblue\:60 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-40)) }
html[data-theme='dark'] .sf-c-mediumblue\:70, html.dark .sf-c-mediumblue\:70 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-30)) }
html[data-theme='dark'] .sf-c-mediumblue\:80, html.dark .sf-c-mediumblue\:80 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-20)) }
html[data-theme='dark'] .sf-c-mediumblue\:90, html.dark .sf-c-mediumblue\:90 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-10)) }
html[data-theme='dark'] .sf-c-mediumblue\:100, html.dark .sf-c-mediumblue\:100 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-0)) }

html[data-theme='dark'] .sf-c-mediumblue\:dark, html.dark .sf-c-mediumblue\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue)) }
html[data-theme='dark'] .sf-c-mediumblue\:0\:dark, html.dark .sf-c-mediumblue\:0\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-100)) }
html[data-theme='dark'] .sf-c-mediumblue\:10\:dark, html.dark .sf-c-mediumblue\:10\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-90)) }
html[data-theme='dark'] .sf-c-mediumblue\:20\:dark, html.dark .sf-c-mediumblue\:20\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-80)) }
html[data-theme='dark'] .sf-c-mediumblue\:30\:dark, html.dark .sf-c-mediumblue\:30\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-70)) }
html[data-theme='dark'] .sf-c-mediumblue\:40\:dark, html.dark .sf-c-mediumblue\:40\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-60)) }
html[data-theme='dark'] .sf-c-mediumblue\:50\:dark, html.dark .sf-c-mediumblue\:50\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-50)) }
html[data-theme='dark'] .sf-c-mediumblue\:60\:dark, html.dark .sf-c-mediumblue\:60\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-40)) }
html[data-theme='dark'] .sf-c-mediumblue\:70\:dark, html.dark .sf-c-mediumblue\:70\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-30)) }
html[data-theme='dark'] .sf-c-mediumblue\:80\:dark, html.dark .sf-c-mediumblue\:80\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-20)) }
html[data-theme='dark'] .sf-c-mediumblue\:90\:dark, html.dark .sf-c-mediumblue\:90\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-10)) }
html[data-theme='dark'] .sf-c-mediumblue\:100\:dark, html.dark .sf-c-mediumblue\:100\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-0)) }

html.var[data-theme='dark'] .sf-c-mediumblue, html.var.dark .sf-c-mediumblue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:0, html.var.dark .sf-c-mediumblue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:10, html.var.dark .sf-c-mediumblue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:20, html.var.dark .sf-c-mediumblue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:30, html.var.dark .sf-c-mediumblue\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:40, html.var.dark .sf-c-mediumblue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:50, html.var.dark .sf-c-mediumblue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:60, html.var.dark .sf-c-mediumblue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:70, html.var.dark .sf-c-mediumblue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:80, html.var.dark .sf-c-mediumblue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:90, html.var.dark .sf-c-mediumblue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:100, html.var.dark .sf-c-mediumblue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-mediumblue\:dark, html.var.dark .sf-c-mediumblue\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:0\:dark, html.var.dark .sf-c-mediumblue\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:10\:dark, html.var.dark .sf-c-mediumblue\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:20\:dark, html.var.dark .sf-c-mediumblue\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:30\:dark, html.var.dark .sf-c-mediumblue\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:40\:dark, html.var.dark .sf-c-mediumblue\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:50\:dark, html.var.dark .sf-c-mediumblue\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:60\:dark, html.var.dark .sf-c-mediumblue\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:70\:dark, html.var.dark .sf-c-mediumblue\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:80\:dark, html.var.dark .sf-c-mediumblue\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:90\:dark, html.var.dark .sf-c-mediumblue\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-mediumblue\:100\:dark, html.var.dark .sf-c-mediumblue\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumblue, html.auto .sf-c-mediumblue { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue)) }
  html[data-theme='auto'] .sf-c-mediumblue\:0, html.auto .sf-c-mediumblue\:0 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-100)) }
  html[data-theme='auto'] .sf-c-mediumblue\:10, html.auto .sf-c-mediumblue\:10 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-90)) }
  html[data-theme='auto'] .sf-c-mediumblue\:20, html.auto .sf-c-mediumblue\:20 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-80)) }
  html[data-theme='auto'] .sf-c-mediumblue\:30, html.auto .sf-c-mediumblue\:30 { color: hsl(var(--sf-dark-c-txt-mediumblue-10)); background: hsl(var(--sf-dark-c-mediumblue-70)) }
  html[data-theme='auto'] .sf-c-mediumblue\:40, html.auto .sf-c-mediumblue\:40 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-60)) }
  html[data-theme='auto'] .sf-c-mediumblue\:50, html.auto .sf-c-mediumblue\:50 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-50)) }
  html[data-theme='auto'] .sf-c-mediumblue\:60, html.auto .sf-c-mediumblue\:60 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-40)) }
  html[data-theme='auto'] .sf-c-mediumblue\:70, html.auto .sf-c-mediumblue\:70 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-30)) }
  html[data-theme='auto'] .sf-c-mediumblue\:80, html.auto .sf-c-mediumblue\:80 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-20)) }
  html[data-theme='auto'] .sf-c-mediumblue\:90, html.auto .sf-c-mediumblue\:90 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-10)) }
  html[data-theme='auto'] .sf-c-mediumblue\:100, html.auto .sf-c-mediumblue\:100 { color: hsl(var(--sf-dark-c-txt-mediumblue-90)); background: hsl(var(--sf-dark-c-mediumblue-0)) }

  html[data-theme='auto'] .sf-c-mediumblue\:dark, html.auto .sf-c-mediumblue\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue)) }
  html[data-theme='auto'] .sf-c-mediumblue\:0\:dark, html.auto .sf-c-mediumblue\:0\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-100)) }
  html[data-theme='auto'] .sf-c-mediumblue\:10\:dark, html.auto .sf-c-mediumblue\:10\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-90)) }
  html[data-theme='auto'] .sf-c-mediumblue\:20\:dark, html.auto .sf-c-mediumblue\:20\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-80)) }
  html[data-theme='auto'] .sf-c-mediumblue\:30\:dark, html.auto .sf-c-mediumblue\:30\:dark { color: hsl(var(--sf-c-txt-mediumblue-10)); background: hsl(var(--sf-c-mediumblue-70)) }
  html[data-theme='auto'] .sf-c-mediumblue\:40\:dark, html.auto .sf-c-mediumblue\:40\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-60)) }
  html[data-theme='auto'] .sf-c-mediumblue\:50\:dark, html.auto .sf-c-mediumblue\:50\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-50)) }
  html[data-theme='auto'] .sf-c-mediumblue\:60\:dark, html.auto .sf-c-mediumblue\:60\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-40)) }
  html[data-theme='auto'] .sf-c-mediumblue\:70\:dark, html.auto .sf-c-mediumblue\:70\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-30)) }
  html[data-theme='auto'] .sf-c-mediumblue\:80\:dark, html.auto .sf-c-mediumblue\:80\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-20)) }
  html[data-theme='auto'] .sf-c-mediumblue\:90\:dark, html.auto .sf-c-mediumblue\:90\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-10)) }
  html[data-theme='auto'] .sf-c-mediumblue\:100\:dark, html.auto .sf-c-mediumblue\:100\:dark { color: hsl(var(--sf-c-txt-mediumblue-90)); background: hsl(var(--sf-c-mediumblue-0)) }

  html.var[data-theme='auto'] .sf-c-mediumblue, html.var.auto .sf-c-mediumblue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:0, html.var.auto .sf-c-mediumblue\:0 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:10, html.var.auto .sf-c-mediumblue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:20, html.var.auto .sf-c-mediumblue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:30, html.var.auto .sf-c-mediumblue\:30 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:40, html.var.auto .sf-c-mediumblue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:50, html.var.auto .sf-c-mediumblue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:60, html.var.auto .sf-c-mediumblue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:70, html.var.auto .sf-c-mediumblue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:80, html.var.auto .sf-c-mediumblue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:90, html.var.auto .sf-c-mediumblue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:100, html.var.auto .sf-c-mediumblue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-mediumblue\:dark, html.var.auto .sf-c-mediumblue\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:0\:dark, html.var.auto .sf-c-mediumblue\:0\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:10\:dark, html.var.auto .sf-c-mediumblue\:10\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:20\:dark, html.var.auto .sf-c-mediumblue\:20\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:30\:dark, html.var.auto .sf-c-mediumblue\:30\:dark { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:40\:dark, html.var.auto .sf-c-mediumblue\:40\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:50\:dark, html.var.auto .sf-c-mediumblue\:50\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:60\:dark, html.var.auto .sf-c-mediumblue\:60\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:70\:dark, html.var.auto .sf-c-mediumblue\:70\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:80\:dark, html.var.auto .sf-c-mediumblue\:80\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:90\:dark, html.var.auto .sf-c-mediumblue\:90\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-mediumblue\:100\:dark, html.var.auto .sf-c-mediumblue\:100\:dark { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
}

.sf-c-txt-mediumblue { color: hsl(var(--sf-c-txt-mediumblue)) }
.sf-c-txt-mediumblue\:0 { color: hsl(var(--sf-c-txt-mediumblue-0)) }
.sf-c-txt-mediumblue\:10 { color: hsl(var(--sf-c-txt-mediumblue-10)) }
.sf-c-txt-mediumblue\:20 { color: hsl(var(--sf-c-txt-mediumblue-20)) }
.sf-c-txt-mediumblue\:30 { color: hsl(var(--sf-c-txt-mediumblue-30)) }
.sf-c-txt-mediumblue\:40 { color: hsl(var(--sf-c-txt-mediumblue-40)) }
.sf-c-txt-mediumblue\:50 { color: hsl(var(--sf-c-txt-mediumblue-50)) }
.sf-c-txt-mediumblue\:60 { color: hsl(var(--sf-c-txt-mediumblue-60)) }
.sf-c-txt-mediumblue\:70 { color: hsl(var(--sf-c-txt-mediumblue-70)) }
.sf-c-txt-mediumblue\:80 { color: hsl(var(--sf-c-txt-mediumblue-80)) }
.sf-c-txt-mediumblue\:90 { color: hsl(var(--sf-c-txt-mediumblue-90)) }
.sf-c-txt-mediumblue\:100 { color: hsl(var(--sf-c-txt-mediumblue-100)) }