:root {
  --sf-c-mediumturquoise: 178 60% 55%;
  --sf-c-mediumturquoise-10: 178 60% 10%;
  --sf-c-mediumturquoise-20: 178 60% 20%;
  --sf-c-mediumturquoise-30: 178 60% 30%;
  --sf-c-mediumturquoise-40: 178 60% 40%;
  --sf-c-mediumturquoise-50: 178 60% 50%;
  --sf-c-mediumturquoise-60: 178 60% 60%;
  --sf-c-mediumturquoise-70: 178 60% 70%;
  --sf-c-mediumturquoise-80: 178 60% 80%;
  --sf-c-mediumturquoise-90: 178 60% 90%;
 
  --sf-c-txt-mediumturquoise: var(--sf-c-mediumturquoise);
  --sf-c-txt-mediumturquoise-10: var(--sf-c-mediumturquoise-10);
  --sf-c-txt-mediumturquoise-20: var(--sf-c-mediumturquoise-20);
  --sf-c-txt-mediumturquoise-30: var(--sf-c-mediumturquoise-30);
  --sf-c-txt-mediumturquoise-40: var(--sf-c-mediumturquoise-40);
  --sf-c-txt-mediumturquoise-50: var(--sf-c-mediumturquoise-50);
  --sf-c-txt-mediumturquoise-60: var(--sf-c-mediumturquoise-60);
  --sf-c-txt-mediumturquoise-70: var(--sf-c-mediumturquoise-70);
  --sf-c-txt-mediumturquoise-80: var(--sf-c-mediumturquoise-80);
  --sf-c-txt-mediumturquoise-90: var(--sf-c-mediumturquoise-90);
 
  --sf-dark-c-mediumturquoise: 178 60% 45%;
  --sf-dark-c-mediumturquoise-10: 178 60% 90%;
  --sf-dark-c-mediumturquoise-20: 178 60% 80%;
  --sf-dark-c-mediumturquoise-30: 178 60% 70%;
  --sf-dark-c-mediumturquoise-40: 178 60% 60%;
  --sf-dark-c-mediumturquoise-50: 178 60% 50%;
  --sf-dark-c-mediumturquoise-60: 178 60% 40%;
  --sf-dark-c-mediumturquoise-70: 178 60% 30%;
  --sf-dark-c-mediumturquoise-80: 178 60% 20%;
  --sf-dark-c-mediumturquoise-90: 178 60% 10%;
 
  --sf-dark-c-txt-mediumturquoise: var(--sf-dark-c-mediumturquoise);
  --sf-dark-c-txt-mediumturquoise-10: var(--sf-dark-c-mediumturquoise-10);
  --sf-dark-c-txt-mediumturquoise-20: var(--sf-dark-c-mediumturquoise-20);
  --sf-dark-c-txt-mediumturquoise-30: var(--sf-dark-c-mediumturquoise-30);
  --sf-dark-c-txt-mediumturquoise-40: var(--sf-dark-c-mediumturquoise-40);
  --sf-dark-c-txt-mediumturquoise-50: var(--sf-dark-c-mediumturquoise-50);
  --sf-dark-c-txt-mediumturquoise-60: var(--sf-dark-c-mediumturquoise-60);
  --sf-dark-c-txt-mediumturquoise-70: var(--sf-dark-c-mediumturquoise-70);
  --sf-dark-c-txt-mediumturquoise-80: var(--sf-dark-c-mediumturquoise-80);
  --sf-dark-c-txt-mediumturquoise-90: var(--sf-dark-c-mediumturquoise-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-mediumturquoise: var(--sf-dark-c-mediumturquoise);
  --sf-c-mediumturquoise-10: var(--sf-dark-c-mediumturquoise-10);
  --sf-c-mediumturquoise-20: var(--sf-dark-c-mediumturquoise-20);
  --sf-c-mediumturquoise-30: var(--sf-dark-c-mediumturquoise-30);
  --sf-c-mediumturquoise-40: var(--sf-dark-c-mediumturquoise-40);
  --sf-c-mediumturquoise-50: var(--sf-dark-c-mediumturquoise-50);
  --sf-c-mediumturquoise-60: var(--sf-dark-c-mediumturquoise-60);
  --sf-c-mediumturquoise-70: var(--sf-dark-c-mediumturquoise-70);
  --sf-c-mediumturquoise-80: var(--sf-dark-c-mediumturquoise-80);
  --sf-c-mediumturquoise-90: var(--sf-dark-c-mediumturquoise-90);
 
  --sf-c-txt-mediumturquoise: var(--sf-dark-c-txt-mediumturquoise);
  --sf-c-txt-mediumturquoise-10: var(--sf-dark-c-txt-mediumturquoise-10);
  --sf-c-txt-mediumturquoise-20: var(--sf-dark-c-txt-mediumturquoise-20);
  --sf-c-txt-mediumturquoise-30: var(--sf-dark-c-txt-mediumturquoise-30);
  --sf-c-txt-mediumturquoise-40: var(--sf-dark-c-txt-mediumturquoise-40);
  --sf-c-txt-mediumturquoise-50: var(--sf-dark-c-txt-mediumturquoise-50);
  --sf-c-txt-mediumturquoise-60: var(--sf-dark-c-txt-mediumturquoise-60);
  --sf-c-txt-mediumturquoise-70: var(--sf-dark-c-txt-mediumturquoise-70);
  --sf-c-txt-mediumturquoise-80: var(--sf-dark-c-txt-mediumturquoise-80);
  --sf-c-txt-mediumturquoise-90: var(--sf-dark-c-txt-mediumturquoise-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-mediumturquoise: var(--sf-dark-c-mediumturquoise);
    --sf-c-mediumturquoise-10: var(--sf-dark-c-mediumturquoise-10);
    --sf-c-mediumturquoise-20: var(--sf-dark-c-mediumturquoise-20);
    --sf-c-mediumturquoise-30: var(--sf-dark-c-mediumturquoise-30);
    --sf-c-mediumturquoise-40: var(--sf-dark-c-mediumturquoise-40);
    --sf-c-mediumturquoise-50: var(--sf-dark-c-mediumturquoise-50);
    --sf-c-mediumturquoise-60: var(--sf-dark-c-mediumturquoise-60);
    --sf-c-mediumturquoise-70: var(--sf-dark-c-mediumturquoise-70);
    --sf-c-mediumturquoise-80: var(--sf-dark-c-mediumturquoise-80);
    --sf-c-mediumturquoise-90: var(--sf-dark-c-mediumturquoise-90);
 
    --sf-c-txt-mediumturquoise: var(--sf-dark-c-txt-mediumturquoise);
    --sf-c-txt-mediumturquoise-10: var(--sf-dark-c-txt-mediumturquoise-10);
    --sf-c-txt-mediumturquoise-20: var(--sf-dark-c-txt-mediumturquoise-20);
    --sf-c-txt-mediumturquoise-30: var(--sf-dark-c-txt-mediumturquoise-30);
    --sf-c-txt-mediumturquoise-40: var(--sf-dark-c-txt-mediumturquoise-40);
    --sf-c-txt-mediumturquoise-50: var(--sf-dark-c-txt-mediumturquoise-50);
    --sf-c-txt-mediumturquoise-60: var(--sf-dark-c-txt-mediumturquoise-60);
    --sf-c-txt-mediumturquoise-70: var(--sf-dark-c-txt-mediumturquoise-70);
    --sf-c-txt-mediumturquoise-80: var(--sf-dark-c-txt-mediumturquoise-80);
    --sf-c-txt-mediumturquoise-90: var(--sf-dark-c-txt-mediumturquoise-90);
  }
}
 
.sf-c-mediumturquoise { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise)) }
.sf-c-mediumturquoise\:10 { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-10)) }
.sf-c-mediumturquoise\:20 { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-20)) }
.sf-c-mediumturquoise\:30 { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-30)) }
.sf-c-mediumturquoise\:40 { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-40)) }
.sf-c-mediumturquoise\:50 { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-50)) }
.sf-c-mediumturquoise\:60 { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-60)) }
.sf-c-mediumturquoise\:70 { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-70)) }
.sf-c-mediumturquoise\:80 { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-80)) }
.sf-c-mediumturquoise\:90 { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:10\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-10)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:20\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-20)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:30\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-30)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:40\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-90)); background: hsl(var(--sf-c-mediumturquoise-40)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:50\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-50)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:60\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-60)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:70\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-70)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:80\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-80)) }
:where([data-theme='dark'], .dark) .sf-c-mediumturquoise\:90\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)); background: hsl(var(--sf-c-mediumturquoise-90)) }

.sf-c-txt-mediumturquoise { color: hsl(var(--sf-c-txt-mediumturquoise)) }
.sf-c-txt-mediumturquoise\:10 { color: hsl(var(--sf-c-txt-mediumturquoise-10)) }
.sf-c-txt-mediumturquoise\:20 { color: hsl(var(--sf-c-txt-mediumturquoise-20)) }
.sf-c-txt-mediumturquoise\:30 { color: hsl(var(--sf-c-txt-mediumturquoise-30)) }
.sf-c-txt-mediumturquoise\:40 { color: hsl(var(--sf-c-txt-mediumturquoise-40)) }
.sf-c-txt-mediumturquoise\:50 { color: hsl(var(--sf-c-txt-mediumturquoise-50)) }
.sf-c-txt-mediumturquoise\:60 { color: hsl(var(--sf-c-txt-mediumturquoise-60)) }
.sf-c-txt-mediumturquoise\:70 { color: hsl(var(--sf-c-txt-mediumturquoise-70)) }
.sf-c-txt-mediumturquoise\:80 { color: hsl(var(--sf-c-txt-mediumturquoise-80)) }
.sf-c-txt-mediumturquoise\:90 { color: hsl(var(--sf-c-txt-mediumturquoise-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:dark { color: hsl(var(--sf-c-txt-mediumturquoise)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:10\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:20\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:30\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:40\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:50\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:60\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:70\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:80\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-mediumturquoise\:90\:dark { color: hsl(var(--sf-c-txt-mediumturquoise-90)) }