:root {
  --sf-c-olivedrab: 80 60% 35%;
  --sf-c-olivedrab-10: 80 60% 10%;
  --sf-c-olivedrab-20: 80 60% 20%;
  --sf-c-olivedrab-30: 80 60% 30%;
  --sf-c-olivedrab-40: 80 60% 40%;
  --sf-c-olivedrab-50: 80 60% 50%;
  --sf-c-olivedrab-60: 80 60% 60%;
  --sf-c-olivedrab-70: 80 60% 70%;
  --sf-c-olivedrab-80: 80 60% 80%;
  --sf-c-olivedrab-90: 80 60% 90%;
 
  --sf-c-txt-olivedrab: var(--sf-c-olivedrab);
  --sf-c-txt-olivedrab-10: var(--sf-c-olivedrab-10);
  --sf-c-txt-olivedrab-20: var(--sf-c-olivedrab-20);
  --sf-c-txt-olivedrab-30: var(--sf-c-olivedrab-30);
  --sf-c-txt-olivedrab-40: var(--sf-c-olivedrab-40);
  --sf-c-txt-olivedrab-50: var(--sf-c-olivedrab-50);
  --sf-c-txt-olivedrab-60: var(--sf-c-olivedrab-60);
  --sf-c-txt-olivedrab-70: var(--sf-c-olivedrab-70);
  --sf-c-txt-olivedrab-80: var(--sf-c-olivedrab-80);
  --sf-c-txt-olivedrab-90: var(--sf-c-olivedrab-90);
 
  --sf-dark-c-olivedrab: 80 60% 65%;
  --sf-dark-c-olivedrab-10: 80 60% 90%;
  --sf-dark-c-olivedrab-20: 80 60% 80%;
  --sf-dark-c-olivedrab-30: 80 60% 70%;
  --sf-dark-c-olivedrab-40: 80 60% 60%;
  --sf-dark-c-olivedrab-50: 80 60% 50%;
  --sf-dark-c-olivedrab-60: 80 60% 40%;
  --sf-dark-c-olivedrab-70: 80 60% 30%;
  --sf-dark-c-olivedrab-80: 80 60% 20%;
  --sf-dark-c-olivedrab-90: 80 60% 10%;
 
  --sf-dark-c-txt-olivedrab: var(--sf-dark-c-olivedrab);
  --sf-dark-c-txt-olivedrab-10: var(--sf-dark-c-olivedrab-10);
  --sf-dark-c-txt-olivedrab-20: var(--sf-dark-c-olivedrab-20);
  --sf-dark-c-txt-olivedrab-30: var(--sf-dark-c-olivedrab-30);
  --sf-dark-c-txt-olivedrab-40: var(--sf-dark-c-olivedrab-40);
  --sf-dark-c-txt-olivedrab-50: var(--sf-dark-c-olivedrab-50);
  --sf-dark-c-txt-olivedrab-60: var(--sf-dark-c-olivedrab-60);
  --sf-dark-c-txt-olivedrab-70: var(--sf-dark-c-olivedrab-70);
  --sf-dark-c-txt-olivedrab-80: var(--sf-dark-c-olivedrab-80);
  --sf-dark-c-txt-olivedrab-90: var(--sf-dark-c-olivedrab-90);
}
 
:root[data-theme="dark"] {
  --sf-c-olivedrab: var(--sf-dark-c-olivedrab);
  --sf-c-olivedrab-10: var(--sf-dark-c-olivedrab-10);
  --sf-c-olivedrab-20: var(--sf-dark-c-olivedrab-20);
  --sf-c-olivedrab-30: var(--sf-dark-c-olivedrab-30);
  --sf-c-olivedrab-40: var(--sf-dark-c-olivedrab-40);
  --sf-c-olivedrab-50: var(--sf-dark-c-olivedrab-50);
  --sf-c-olivedrab-60: var(--sf-dark-c-olivedrab-60);
  --sf-c-olivedrab-70: var(--sf-dark-c-olivedrab-70);
  --sf-c-olivedrab-80: var(--sf-dark-c-olivedrab-80);
  --sf-c-olivedrab-90: var(--sf-dark-c-olivedrab-90);
 
  --sf-c-txt-olivedrab: var(--sf-dark-c-txt-olivedrab);
  --sf-c-txt-olivedrab-10: var(--sf-dark-c-txt-olivedrab-10);
  --sf-c-txt-olivedrab-20: var(--sf-dark-c-txt-olivedrab-20);
  --sf-c-txt-olivedrab-30: var(--sf-dark-c-txt-olivedrab-30);
  --sf-c-txt-olivedrab-40: var(--sf-dark-c-txt-olivedrab-40);
  --sf-c-txt-olivedrab-50: var(--sf-dark-c-txt-olivedrab-50);
  --sf-c-txt-olivedrab-60: var(--sf-dark-c-txt-olivedrab-60);
  --sf-c-txt-olivedrab-70: var(--sf-dark-c-txt-olivedrab-70);
  --sf-c-txt-olivedrab-80: var(--sf-dark-c-txt-olivedrab-80);
  --sf-c-txt-olivedrab-90: var(--sf-dark-c-txt-olivedrab-90);
}

.sf-c-olivedrab { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab)) }
.sf-c-olivedrab\:10 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-10)) }
.sf-c-olivedrab\:20 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-20)) }
.sf-c-olivedrab\:30 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-30)) }
.sf-c-olivedrab\:40 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-40)) }
.sf-c-olivedrab\:50 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-50)) }
.sf-c-olivedrab\:60 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-60)) }
.sf-c-olivedrab\:70 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-70)) }
.sf-c-olivedrab\:80 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-80)) }
.sf-c-olivedrab\:90 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-90)) }
 
[data-theme="dark"] .sf-c-olivedrab { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab)) }
[data-theme="dark"] .sf-c-olivedrab\:10 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-10)) }
[data-theme="dark"] .sf-c-olivedrab\:20 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-20)) }
[data-theme="dark"] .sf-c-olivedrab\:30 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-30)) }
[data-theme="dark"] .sf-c-olivedrab\:40 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-40)) }
[data-theme="dark"] .sf-c-olivedrab\:50 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-50)) }
[data-theme="dark"] .sf-c-olivedrab\:60 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-60)) }
[data-theme="dark"] .sf-c-olivedrab\:70 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-70)) }
[data-theme="dark"] .sf-c-olivedrab\:80 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-80)) }
[data-theme="dark"] .sf-c-olivedrab\:90 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-90)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-olivedrab: var(--sf-dark-c-olivedrab);
    --sf-c-olivedrab-10: var(--sf-dark-c-olivedrab-10);
    --sf-c-olivedrab-20: var(--sf-dark-c-olivedrab-20);
    --sf-c-olivedrab-30: var(--sf-dark-c-olivedrab-30);
    --sf-c-olivedrab-40: var(--sf-dark-c-olivedrab-40);
    --sf-c-olivedrab-50: var(--sf-dark-c-olivedrab-50);
    --sf-c-olivedrab-60: var(--sf-dark-c-olivedrab-60);
    --sf-c-olivedrab-70: var(--sf-dark-c-olivedrab-70);
    --sf-c-olivedrab-80: var(--sf-dark-c-olivedrab-80);
    --sf-c-olivedrab-90: var(--sf-dark-c-olivedrab-90);
 
    --sf-c-txt-olivedrab: var(--sf-dark-c-txt-olivedrab);
    --sf-c-txt-olivedrab-10: var(--sf-dark-c-txt-olivedrab-10);
    --sf-c-txt-olivedrab-20: var(--sf-dark-c-txt-olivedrab-20);
    --sf-c-txt-olivedrab-30: var(--sf-dark-c-txt-olivedrab-30);
    --sf-c-txt-olivedrab-40: var(--sf-dark-c-txt-olivedrab-40);
    --sf-c-txt-olivedrab-50: var(--sf-dark-c-txt-olivedrab-50);
    --sf-c-txt-olivedrab-60: var(--sf-dark-c-txt-olivedrab-60);
    --sf-c-txt-olivedrab-70: var(--sf-dark-c-txt-olivedrab-70);
    --sf-c-txt-olivedrab-80: var(--sf-dark-c-txt-olivedrab-80);
    --sf-c-txt-olivedrab-90: var(--sf-dark-c-txt-olivedrab-90);
  }
 
  [data-theme="auto"] .sf-c-olivedrab { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab)) }
  [data-theme="auto"] .sf-c-olivedrab\:10 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-10)) }
  [data-theme="auto"] .sf-c-olivedrab\:20 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-20)) }
  [data-theme="auto"] .sf-c-olivedrab\:30 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-30)) }
  [data-theme="auto"] .sf-c-olivedrab\:40 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-40)) }
  [data-theme="auto"] .sf-c-olivedrab\:50 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-50)) }
  [data-theme="auto"] .sf-c-olivedrab\:60 { color: hsl(var(--sf-c-txt-olivedrab-90)); background: hsl(var(--sf-c-olivedrab-60)) }
  [data-theme="auto"] .sf-c-olivedrab\:70 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-70)) }
  [data-theme="auto"] .sf-c-olivedrab\:80 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-80)) }
  [data-theme="auto"] .sf-c-olivedrab\:90 { color: hsl(var(--sf-c-txt-olivedrab-10)); background: hsl(var(--sf-c-olivedrab-90)) }
}

.sf-c-txt-olivedrab { color: hsl(var(--sf-c-txt-olivedrab)) }
.sf-c-txt-olivedrab\:10 { color: hsl(var(--sf-c-txt-olivedrab-10)) }
.sf-c-txt-olivedrab\:20 { color: hsl(var(--sf-c-txt-olivedrab-20)) }
.sf-c-txt-olivedrab\:30 { color: hsl(var(--sf-c-txt-olivedrab-30)) }
.sf-c-txt-olivedrab\:40 { color: hsl(var(--sf-c-txt-olivedrab-40)) }
.sf-c-txt-olivedrab\:50 { color: hsl(var(--sf-c-txt-olivedrab-50)) }
.sf-c-txt-olivedrab\:60 { color: hsl(var(--sf-c-txt-olivedrab-60)) }
.sf-c-txt-olivedrab\:70 { color: hsl(var(--sf-c-txt-olivedrab-70)) }
.sf-c-txt-olivedrab\:80 { color: hsl(var(--sf-c-txt-olivedrab-80)) }
.sf-c-txt-olivedrab\:90 { color: hsl(var(--sf-c-txt-olivedrab-90)) }