:root {
  --sf-c-orangered: 16 100% 50%;
  --sf-c-orangered-0: 16 100% 0%;
  --sf-c-orangered-10: 16 100% 10%;
  --sf-c-orangered-20: 16 100% 20%;
  --sf-c-orangered-30: 16 100% 30%;
  --sf-c-orangered-40: 16 100% 40%;
  --sf-c-orangered-50: 16 100% 50%;
  --sf-c-orangered-60: 16 100% 60%;
  --sf-c-orangered-70: 16 100% 70%;
  --sf-c-orangered-80: 16 100% 80%;
  --sf-c-orangered-90: 16 100% 90%;
  --sf-c-orangered-100: 16 100% 100%;

  --sf-c-txt-orangered: var(--sf-c-orangered);
  --sf-c-txt-orangered-0: var(--sf-c-orangered-0);
  --sf-c-txt-orangered-10: var(--sf-c-orangered-10);
  --sf-c-txt-orangered-20: var(--sf-c-orangered-20);
  --sf-c-txt-orangered-30: var(--sf-c-orangered-30);
  --sf-c-txt-orangered-40: var(--sf-c-orangered-40);
  --sf-c-txt-orangered-50: var(--sf-c-orangered-50);
  --sf-c-txt-orangered-60: var(--sf-c-orangered-60);
  --sf-c-txt-orangered-70: var(--sf-c-orangered-70);
  --sf-c-txt-orangered-80: var(--sf-c-orangered-80);
  --sf-c-txt-orangered-90: var(--sf-c-orangered-90);
  --sf-c-txt-orangered-100: var(--sf-c-orangered-100);

  --sf-dark-c-orangered: 16 100% 50%;
  --sf-dark-c-orangered-0: 16 100% 0%;
  --sf-dark-c-orangered-10: 16 100% 10%;
  --sf-dark-c-orangered-20: 16 100% 20%;
  --sf-dark-c-orangered-30: 16 100% 30%;
  --sf-dark-c-orangered-40: 16 100% 40%;
  --sf-dark-c-orangered-50: 16 100% 50%;
  --sf-dark-c-orangered-60: 16 100% 60%;
  --sf-dark-c-orangered-70: 16 100% 70%;
  --sf-dark-c-orangered-80: 16 100% 80%;
  --sf-dark-c-orangered-90: 16 100% 90%;
  --sf-dark-c-orangered-100: 16 100% 100%;

  --sf-dark-c-txt-orangered: var(--sf-dark-c-orangered);
  --sf-dark-c-txt-orangered-0: var(--sf-dark-c-orangered-0);
  --sf-dark-c-txt-orangered-10: var(--sf-dark-c-orangered-10);
  --sf-dark-c-txt-orangered-20: var(--sf-dark-c-orangered-20);
  --sf-dark-c-txt-orangered-30: var(--sf-dark-c-orangered-30);
  --sf-dark-c-txt-orangered-40: var(--sf-dark-c-orangered-40);
  --sf-dark-c-txt-orangered-50: var(--sf-dark-c-orangered-50);
  --sf-dark-c-txt-orangered-60: var(--sf-dark-c-orangered-60);
  --sf-dark-c-txt-orangered-70: var(--sf-dark-c-orangered-70);
  --sf-dark-c-txt-orangered-80: var(--sf-dark-c-orangered-80);
  --sf-dark-c-txt-orangered-90: var(--sf-dark-c-orangered-90);
  --sf-dark-c-txt-orangered-100: var(--sf-dark-c-orangered-100);
}

.sf-c-orangered { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered)) }
.sf-c-orangered\:0 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-0)) }
.sf-c-orangered\:10 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-10)) }
.sf-c-orangered\:20 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-20)) }
.sf-c-orangered\:30 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-30)) }
.sf-c-orangered\:40 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-40)) }
.sf-c-orangered\:50 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-50)) }
.sf-c-orangered\:60 { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-60)) }
.sf-c-orangered\:70 { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-70)) }
.sf-c-orangered\:80 { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-80)) }
.sf-c-orangered\:90 { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-90)) }
.sf-c-orangered\:100 { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-100)) }

html.var .sf-c-orangered { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html.var .sf-c-orangered\:0 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }
html.var .sf-c-orangered\:10 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
html.var .sf-c-orangered\:20 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
html.var .sf-c-orangered\:30 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
html.var .sf-c-orangered\:40 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
html.var .sf-c-orangered\:50 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html.var .sf-c-orangered\:60 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 60%) }
html.var .sf-c-orangered\:70 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
html.var .sf-c-orangered\:80 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
html.var .sf-c-orangered\:90 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
html.var .sf-c-orangered\:100 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }

html[data-theme='dark'] .sf-c-orangered, html.dark .sf-c-orangered { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered)) }
html[data-theme='dark'] .sf-c-orangered\:0, html.dark .sf-c-orangered\:0 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-100)) }
html[data-theme='dark'] .sf-c-orangered\:10, html.dark .sf-c-orangered\:10 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-90)) }
html[data-theme='dark'] .sf-c-orangered\:20, html.dark .sf-c-orangered\:20 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-80)) }
html[data-theme='dark'] .sf-c-orangered\:30, html.dark .sf-c-orangered\:30 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-70)) }
html[data-theme='dark'] .sf-c-orangered\:40, html.dark .sf-c-orangered\:40 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-60)) }
html[data-theme='dark'] .sf-c-orangered\:50, html.dark .sf-c-orangered\:50 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-50)) }
html[data-theme='dark'] .sf-c-orangered\:60, html.dark .sf-c-orangered\:60 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-40)) }
html[data-theme='dark'] .sf-c-orangered\:70, html.dark .sf-c-orangered\:70 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-30)) }
html[data-theme='dark'] .sf-c-orangered\:80, html.dark .sf-c-orangered\:80 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-20)) }
html[data-theme='dark'] .sf-c-orangered\:90, html.dark .sf-c-orangered\:90 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-10)) }
html[data-theme='dark'] .sf-c-orangered\:100, html.dark .sf-c-orangered\:100 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-0)) }

html[data-theme='dark'] .sf-c-orangered\:dark, html.dark .sf-c-orangered\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered)) }
html[data-theme='dark'] .sf-c-orangered\:0\:dark, html.dark .sf-c-orangered\:0\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-100)) }
html[data-theme='dark'] .sf-c-orangered\:10\:dark, html.dark .sf-c-orangered\:10\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-90)) }
html[data-theme='dark'] .sf-c-orangered\:20\:dark, html.dark .sf-c-orangered\:20\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-80)) }
html[data-theme='dark'] .sf-c-orangered\:30\:dark, html.dark .sf-c-orangered\:30\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-70)) }
html[data-theme='dark'] .sf-c-orangered\:40\:dark, html.dark .sf-c-orangered\:40\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-60)) }
html[data-theme='dark'] .sf-c-orangered\:50\:dark, html.dark .sf-c-orangered\:50\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-50)) }
html[data-theme='dark'] .sf-c-orangered\:60\:dark, html.dark .sf-c-orangered\:60\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-40)) }
html[data-theme='dark'] .sf-c-orangered\:70\:dark, html.dark .sf-c-orangered\:70\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-30)) }
html[data-theme='dark'] .sf-c-orangered\:80\:dark, html.dark .sf-c-orangered\:80\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-20)) }
html[data-theme='dark'] .sf-c-orangered\:90\:dark, html.dark .sf-c-orangered\:90\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-10)) }
html[data-theme='dark'] .sf-c-orangered\:100\:dark, html.dark .sf-c-orangered\:100\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-0)) }

html.var[data-theme='dark'] .sf-c-orangered, html.var.dark .sf-c-orangered { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-orangered\:0, html.var.dark .sf-c-orangered\:0 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-orangered\:10, html.var.dark .sf-c-orangered\:10 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-orangered\:20, html.var.dark .sf-c-orangered\:20 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-orangered\:30, html.var.dark .sf-c-orangered\:30 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-orangered\:40, html.var.dark .sf-c-orangered\:40 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-orangered\:50, html.var.dark .sf-c-orangered\:50 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-orangered\:60, html.var.dark .sf-c-orangered\:60 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-orangered\:70, html.var.dark .sf-c-orangered\:70 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-orangered\:80, html.var.dark .sf-c-orangered\:80 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-orangered\:90, html.var.dark .sf-c-orangered\:90 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-orangered\:100, html.var.dark .sf-c-orangered\:100 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-orangered\:dark, html.var.dark .sf-c-orangered\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-orangered\:0\:dark, html.var.dark .sf-c-orangered\:0\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-orangered\:10\:dark, html.var.dark .sf-c-orangered\:10\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-orangered\:20\:dark, html.var.dark .sf-c-orangered\:20\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-orangered\:30\:dark, html.var.dark .sf-c-orangered\:30\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-orangered\:40\:dark, html.var.dark .sf-c-orangered\:40\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-orangered\:50\:dark, html.var.dark .sf-c-orangered\:50\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-orangered\:60\:dark, html.var.dark .sf-c-orangered\:60\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-orangered\:70\:dark, html.var.dark .sf-c-orangered\:70\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-orangered\:80\:dark, html.var.dark .sf-c-orangered\:80\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-orangered\:90\:dark, html.var.dark .sf-c-orangered\:90\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-orangered\:100\:dark, html.var.dark .sf-c-orangered\:100\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-orangered, html.auto .sf-c-orangered { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered)) }
  html[data-theme='auto'] .sf-c-orangered\:0, html.auto .sf-c-orangered\:0 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-100)) }
  html[data-theme='auto'] .sf-c-orangered\:10, html.auto .sf-c-orangered\:10 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-90)) }
  html[data-theme='auto'] .sf-c-orangered\:20, html.auto .sf-c-orangered\:20 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-80)) }
  html[data-theme='auto'] .sf-c-orangered\:30, html.auto .sf-c-orangered\:30 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-70)) }
  html[data-theme='auto'] .sf-c-orangered\:40, html.auto .sf-c-orangered\:40 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-60)) }
  html[data-theme='auto'] .sf-c-orangered\:50, html.auto .sf-c-orangered\:50 { color: hsl(var(--sf-dark-c-txt-orangered-10)); background: hsl(var(--sf-dark-c-orangered-50)) }
  html[data-theme='auto'] .sf-c-orangered\:60, html.auto .sf-c-orangered\:60 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-40)) }
  html[data-theme='auto'] .sf-c-orangered\:70, html.auto .sf-c-orangered\:70 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-30)) }
  html[data-theme='auto'] .sf-c-orangered\:80, html.auto .sf-c-orangered\:80 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-20)) }
  html[data-theme='auto'] .sf-c-orangered\:90, html.auto .sf-c-orangered\:90 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-10)) }
  html[data-theme='auto'] .sf-c-orangered\:100, html.auto .sf-c-orangered\:100 { color: hsl(var(--sf-dark-c-txt-orangered-90)); background: hsl(var(--sf-dark-c-orangered-0)) }

  html[data-theme='auto'] .sf-c-orangered\:dark, html.auto .sf-c-orangered\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered)) }
  html[data-theme='auto'] .sf-c-orangered\:0\:dark, html.auto .sf-c-orangered\:0\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-100)) }
  html[data-theme='auto'] .sf-c-orangered\:10\:dark, html.auto .sf-c-orangered\:10\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-90)) }
  html[data-theme='auto'] .sf-c-orangered\:20\:dark, html.auto .sf-c-orangered\:20\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-80)) }
  html[data-theme='auto'] .sf-c-orangered\:30\:dark, html.auto .sf-c-orangered\:30\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-70)) }
  html[data-theme='auto'] .sf-c-orangered\:40\:dark, html.auto .sf-c-orangered\:40\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-60)) }
  html[data-theme='auto'] .sf-c-orangered\:50\:dark, html.auto .sf-c-orangered\:50\:dark { color: hsl(var(--sf-c-txt-orangered-10)); background: hsl(var(--sf-c-orangered-50)) }
  html[data-theme='auto'] .sf-c-orangered\:60\:dark, html.auto .sf-c-orangered\:60\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-40)) }
  html[data-theme='auto'] .sf-c-orangered\:70\:dark, html.auto .sf-c-orangered\:70\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-30)) }
  html[data-theme='auto'] .sf-c-orangered\:80\:dark, html.auto .sf-c-orangered\:80\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-20)) }
  html[data-theme='auto'] .sf-c-orangered\:90\:dark, html.auto .sf-c-orangered\:90\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-10)) }
  html[data-theme='auto'] .sf-c-orangered\:100\:dark, html.auto .sf-c-orangered\:100\:dark { color: hsl(var(--sf-c-txt-orangered-90)); background: hsl(var(--sf-c-orangered-0)) }

  html.var[data-theme='auto'] .sf-c-orangered, html.var.auto .sf-c-orangered { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-orangered\:0, html.var.auto .sf-c-orangered\:0 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-orangered\:10, html.var.auto .sf-c-orangered\:10 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-orangered\:20, html.var.auto .sf-c-orangered\:20 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-orangered\:30, html.var.auto .sf-c-orangered\:30 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-orangered\:40, html.var.auto .sf-c-orangered\:40 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-orangered\:50, html.var.auto .sf-c-orangered\:50 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-orangered\:60, html.var.auto .sf-c-orangered\:60 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-orangered\:70, html.var.auto .sf-c-orangered\:70 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-orangered\:80, html.var.auto .sf-c-orangered\:80 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-orangered\:90, html.var.auto .sf-c-orangered\:90 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-orangered\:100, html.var.auto .sf-c-orangered\:100 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-orangered\:dark, html.var.auto .sf-c-orangered\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-orangered\:0\:dark, html.var.auto .sf-c-orangered\:0\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-orangered\:10\:dark, html.var.auto .sf-c-orangered\:10\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-orangered\:20\:dark, html.var.auto .sf-c-orangered\:20\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-orangered\:30\:dark, html.var.auto .sf-c-orangered\:30\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-orangered\:40\:dark, html.var.auto .sf-c-orangered\:40\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-orangered\:50\:dark, html.var.auto .sf-c-orangered\:50\:dark { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-orangered\:60\:dark, html.var.auto .sf-c-orangered\:60\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-orangered\:70\:dark, html.var.auto .sf-c-orangered\:70\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-orangered\:80\:dark, html.var.auto .sf-c-orangered\:80\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-orangered\:90\:dark, html.var.auto .sf-c-orangered\:90\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-orangered\:100\:dark, html.var.auto .sf-c-orangered\:100\:dark { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }
}

.sf-c-txt-orangered { color: hsl(var(--sf-c-txt-orangered)) }
.sf-c-txt-orangered\:0 { color: hsl(var(--sf-c-txt-orangered-0)) }
.sf-c-txt-orangered\:10 { color: hsl(var(--sf-c-txt-orangered-10)) }
.sf-c-txt-orangered\:20 { color: hsl(var(--sf-c-txt-orangered-20)) }
.sf-c-txt-orangered\:30 { color: hsl(var(--sf-c-txt-orangered-30)) }
.sf-c-txt-orangered\:40 { color: hsl(var(--sf-c-txt-orangered-40)) }
.sf-c-txt-orangered\:50 { color: hsl(var(--sf-c-txt-orangered-50)) }
.sf-c-txt-orangered\:60 { color: hsl(var(--sf-c-txt-orangered-60)) }
.sf-c-txt-orangered\:70 { color: hsl(var(--sf-c-txt-orangered-70)) }
.sf-c-txt-orangered\:80 { color: hsl(var(--sf-c-txt-orangered-80)) }
.sf-c-txt-orangered\:90 { color: hsl(var(--sf-c-txt-orangered-90)) }
.sf-c-txt-orangered\:100 { color: hsl(var(--sf-c-txt-orangered-100)) }