:root {
  --sf-c-orchid: 302 59% 65%;
  --sf-c-orchid-0: 302 59% 0%;
  --sf-c-orchid-10: 302 59% 10%;
  --sf-c-orchid-20: 302 59% 20%;
  --sf-c-orchid-30: 302 59% 30%;
  --sf-c-orchid-40: 302 59% 40%;
  --sf-c-orchid-50: 302 59% 50%;
  --sf-c-orchid-60: 302 59% 60%;
  --sf-c-orchid-70: 302 59% 70%;
  --sf-c-orchid-80: 302 59% 80%;
  --sf-c-orchid-90: 302 59% 90%;
  --sf-c-orchid-100: 302 59% 100%;

  --sf-c-txt-orchid: var(--sf-c-orchid);
  --sf-c-txt-orchid-0: var(--sf-c-orchid-0);
  --sf-c-txt-orchid-10: var(--sf-c-orchid-10);
  --sf-c-txt-orchid-20: var(--sf-c-orchid-20);
  --sf-c-txt-orchid-30: var(--sf-c-orchid-30);
  --sf-c-txt-orchid-40: var(--sf-c-orchid-40);
  --sf-c-txt-orchid-50: var(--sf-c-orchid-50);
  --sf-c-txt-orchid-60: var(--sf-c-orchid-60);
  --sf-c-txt-orchid-70: var(--sf-c-orchid-70);
  --sf-c-txt-orchid-80: var(--sf-c-orchid-80);
  --sf-c-txt-orchid-90: var(--sf-c-orchid-90);
  --sf-c-txt-orchid-100: var(--sf-c-orchid-100);

  --sf-dark-c-orchid: 302 59% 35%;
  --sf-dark-c-orchid-0: 302 59% 0%;
  --sf-dark-c-orchid-10: 302 59% 10%;
  --sf-dark-c-orchid-20: 302 59% 20%;
  --sf-dark-c-orchid-30: 302 59% 30%;
  --sf-dark-c-orchid-40: 302 59% 40%;
  --sf-dark-c-orchid-50: 302 59% 50%;
  --sf-dark-c-orchid-60: 302 59% 60%;
  --sf-dark-c-orchid-70: 302 59% 70%;
  --sf-dark-c-orchid-80: 302 59% 80%;
  --sf-dark-c-orchid-90: 302 59% 90%;
  --sf-dark-c-orchid-100: 302 59% 100%;

  --sf-dark-c-txt-orchid: var(--sf-dark-c-orchid);
  --sf-dark-c-txt-orchid-0: var(--sf-dark-c-orchid-0);
  --sf-dark-c-txt-orchid-10: var(--sf-dark-c-orchid-10);
  --sf-dark-c-txt-orchid-20: var(--sf-dark-c-orchid-20);
  --sf-dark-c-txt-orchid-30: var(--sf-dark-c-orchid-30);
  --sf-dark-c-txt-orchid-40: var(--sf-dark-c-orchid-40);
  --sf-dark-c-txt-orchid-50: var(--sf-dark-c-orchid-50);
  --sf-dark-c-txt-orchid-60: var(--sf-dark-c-orchid-60);
  --sf-dark-c-txt-orchid-70: var(--sf-dark-c-orchid-70);
  --sf-dark-c-txt-orchid-80: var(--sf-dark-c-orchid-80);
  --sf-dark-c-txt-orchid-90: var(--sf-dark-c-orchid-90);
  --sf-dark-c-txt-orchid-100: var(--sf-dark-c-orchid-100);
}

.sf-c-orchid { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid)) }
.sf-c-orchid\:0 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-0)) }
.sf-c-orchid\:10 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-10)) }
.sf-c-orchid\:20 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-20)) }
.sf-c-orchid\:30 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-30)) }
.sf-c-orchid\:40 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-40)) }
.sf-c-orchid\:50 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-50)) }
.sf-c-orchid\:60 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-60)) }
.sf-c-orchid\:70 { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-70)) }
.sf-c-orchid\:80 { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-80)) }
.sf-c-orchid\:90 { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-90)) }
.sf-c-orchid\:100 { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-100)) }

html.var .sf-c-orchid { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 65%) }
html.var .sf-c-orchid\:0 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 0%) }
html.var .sf-c-orchid\:10 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 10%) }
html.var .sf-c-orchid\:20 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 20%) }
html.var .sf-c-orchid\:30 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 30%) }
html.var .sf-c-orchid\:40 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 40%) }
html.var .sf-c-orchid\:50 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 50%) }
html.var .sf-c-orchid\:60 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 60%) }
html.var .sf-c-orchid\:70 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 70%) }
html.var .sf-c-orchid\:80 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 80%) }
html.var .sf-c-orchid\:90 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 90%) }
html.var .sf-c-orchid\:100 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 100%) }

html[data-theme='dark'] .sf-c-orchid, html.dark .sf-c-orchid { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid)) }
html[data-theme='dark'] .sf-c-orchid\:0, html.dark .sf-c-orchid\:0 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-100)) }
html[data-theme='dark'] .sf-c-orchid\:10, html.dark .sf-c-orchid\:10 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-90)) }
html[data-theme='dark'] .sf-c-orchid\:20, html.dark .sf-c-orchid\:20 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-80)) }
html[data-theme='dark'] .sf-c-orchid\:30, html.dark .sf-c-orchid\:30 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-70)) }
html[data-theme='dark'] .sf-c-orchid\:40, html.dark .sf-c-orchid\:40 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-60)) }
html[data-theme='dark'] .sf-c-orchid\:50, html.dark .sf-c-orchid\:50 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-50)) }
html[data-theme='dark'] .sf-c-orchid\:60, html.dark .sf-c-orchid\:60 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-40)) }
html[data-theme='dark'] .sf-c-orchid\:70, html.dark .sf-c-orchid\:70 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-30)) }
html[data-theme='dark'] .sf-c-orchid\:80, html.dark .sf-c-orchid\:80 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-20)) }
html[data-theme='dark'] .sf-c-orchid\:90, html.dark .sf-c-orchid\:90 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-10)) }
html[data-theme='dark'] .sf-c-orchid\:100, html.dark .sf-c-orchid\:100 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-0)) }

html[data-theme='dark'] .sf-c-orchid\:dark, html.dark .sf-c-orchid\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid)) }
html[data-theme='dark'] .sf-c-orchid\:0\:dark, html.dark .sf-c-orchid\:0\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-100)) }
html[data-theme='dark'] .sf-c-orchid\:10\:dark, html.dark .sf-c-orchid\:10\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-90)) }
html[data-theme='dark'] .sf-c-orchid\:20\:dark, html.dark .sf-c-orchid\:20\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-80)) }
html[data-theme='dark'] .sf-c-orchid\:30\:dark, html.dark .sf-c-orchid\:30\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-70)) }
html[data-theme='dark'] .sf-c-orchid\:40\:dark, html.dark .sf-c-orchid\:40\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-60)) }
html[data-theme='dark'] .sf-c-orchid\:50\:dark, html.dark .sf-c-orchid\:50\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-50)) }
html[data-theme='dark'] .sf-c-orchid\:60\:dark, html.dark .sf-c-orchid\:60\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-40)) }
html[data-theme='dark'] .sf-c-orchid\:70\:dark, html.dark .sf-c-orchid\:70\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-30)) }
html[data-theme='dark'] .sf-c-orchid\:80\:dark, html.dark .sf-c-orchid\:80\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-20)) }
html[data-theme='dark'] .sf-c-orchid\:90\:dark, html.dark .sf-c-orchid\:90\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-10)) }
html[data-theme='dark'] .sf-c-orchid\:100\:dark, html.dark .sf-c-orchid\:100\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-0)) }

html.var[data-theme='dark'] .sf-c-orchid, html.var.dark .sf-c-orchid { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 35%) }
html.var[data-theme='dark'] .sf-c-orchid\:0, html.var.dark .sf-c-orchid\:0 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 100%) }
html.var[data-theme='dark'] .sf-c-orchid\:10, html.var.dark .sf-c-orchid\:10 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 90%) }
html.var[data-theme='dark'] .sf-c-orchid\:20, html.var.dark .sf-c-orchid\:20 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 80%) }
html.var[data-theme='dark'] .sf-c-orchid\:30, html.var.dark .sf-c-orchid\:30 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 70%) }
html.var[data-theme='dark'] .sf-c-orchid\:40, html.var.dark .sf-c-orchid\:40 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 60%) }
html.var[data-theme='dark'] .sf-c-orchid\:50, html.var.dark .sf-c-orchid\:50 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 50%) }
html.var[data-theme='dark'] .sf-c-orchid\:60, html.var.dark .sf-c-orchid\:60 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 40%) }
html.var[data-theme='dark'] .sf-c-orchid\:70, html.var.dark .sf-c-orchid\:70 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 30%) }
html.var[data-theme='dark'] .sf-c-orchid\:80, html.var.dark .sf-c-orchid\:80 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 20%) }
html.var[data-theme='dark'] .sf-c-orchid\:90, html.var.dark .sf-c-orchid\:90 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 10%) }
html.var[data-theme='dark'] .sf-c-orchid\:100, html.var.dark .sf-c-orchid\:100 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 0%) }

html.var[data-theme='dark'] .sf-c-orchid\:dark, html.var.dark .sf-c-orchid\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 35%) }
html.var[data-theme='dark'] .sf-c-orchid\:0\:dark, html.var.dark .sf-c-orchid\:0\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 100%) }
html.var[data-theme='dark'] .sf-c-orchid\:10\:dark, html.var.dark .sf-c-orchid\:10\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 90%) }
html.var[data-theme='dark'] .sf-c-orchid\:20\:dark, html.var.dark .sf-c-orchid\:20\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 80%) }
html.var[data-theme='dark'] .sf-c-orchid\:30\:dark, html.var.dark .sf-c-orchid\:30\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 70%) }
html.var[data-theme='dark'] .sf-c-orchid\:40\:dark, html.var.dark .sf-c-orchid\:40\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 60%) }
html.var[data-theme='dark'] .sf-c-orchid\:50\:dark, html.var.dark .sf-c-orchid\:50\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 50%) }
html.var[data-theme='dark'] .sf-c-orchid\:60\:dark, html.var.dark .sf-c-orchid\:60\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 40%) }
html.var[data-theme='dark'] .sf-c-orchid\:70\:dark, html.var.dark .sf-c-orchid\:70\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 30%) }
html.var[data-theme='dark'] .sf-c-orchid\:80\:dark, html.var.dark .sf-c-orchid\:80\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 20%) }
html.var[data-theme='dark'] .sf-c-orchid\:90\:dark, html.var.dark .sf-c-orchid\:90\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 10%) }
html.var[data-theme='dark'] .sf-c-orchid\:100\:dark, html.var.dark .sf-c-orchid\:100\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-orchid, html.auto .sf-c-orchid { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid)) }
  html[data-theme='auto'] .sf-c-orchid\:0, html.auto .sf-c-orchid\:0 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-100)) }
  html[data-theme='auto'] .sf-c-orchid\:10, html.auto .sf-c-orchid\:10 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-90)) }
  html[data-theme='auto'] .sf-c-orchid\:20, html.auto .sf-c-orchid\:20 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-80)) }
  html[data-theme='auto'] .sf-c-orchid\:30, html.auto .sf-c-orchid\:30 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-70)) }
  html[data-theme='auto'] .sf-c-orchid\:40, html.auto .sf-c-orchid\:40 { color: hsl(var(--sf-dark-c-txt-orchid-10)); background: hsl(var(--sf-dark-c-orchid-60)) }
  html[data-theme='auto'] .sf-c-orchid\:50, html.auto .sf-c-orchid\:50 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-50)) }
  html[data-theme='auto'] .sf-c-orchid\:60, html.auto .sf-c-orchid\:60 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-40)) }
  html[data-theme='auto'] .sf-c-orchid\:70, html.auto .sf-c-orchid\:70 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-30)) }
  html[data-theme='auto'] .sf-c-orchid\:80, html.auto .sf-c-orchid\:80 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-20)) }
  html[data-theme='auto'] .sf-c-orchid\:90, html.auto .sf-c-orchid\:90 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-10)) }
  html[data-theme='auto'] .sf-c-orchid\:100, html.auto .sf-c-orchid\:100 { color: hsl(var(--sf-dark-c-txt-orchid-90)); background: hsl(var(--sf-dark-c-orchid-0)) }

  html[data-theme='auto'] .sf-c-orchid\:dark, html.auto .sf-c-orchid\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid)) }
  html[data-theme='auto'] .sf-c-orchid\:0\:dark, html.auto .sf-c-orchid\:0\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-100)) }
  html[data-theme='auto'] .sf-c-orchid\:10\:dark, html.auto .sf-c-orchid\:10\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-90)) }
  html[data-theme='auto'] .sf-c-orchid\:20\:dark, html.auto .sf-c-orchid\:20\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-80)) }
  html[data-theme='auto'] .sf-c-orchid\:30\:dark, html.auto .sf-c-orchid\:30\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-70)) }
  html[data-theme='auto'] .sf-c-orchid\:40\:dark, html.auto .sf-c-orchid\:40\:dark { color: hsl(var(--sf-c-txt-orchid-10)); background: hsl(var(--sf-c-orchid-60)) }
  html[data-theme='auto'] .sf-c-orchid\:50\:dark, html.auto .sf-c-orchid\:50\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-50)) }
  html[data-theme='auto'] .sf-c-orchid\:60\:dark, html.auto .sf-c-orchid\:60\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-40)) }
  html[data-theme='auto'] .sf-c-orchid\:70\:dark, html.auto .sf-c-orchid\:70\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-30)) }
  html[data-theme='auto'] .sf-c-orchid\:80\:dark, html.auto .sf-c-orchid\:80\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-20)) }
  html[data-theme='auto'] .sf-c-orchid\:90\:dark, html.auto .sf-c-orchid\:90\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-10)) }
  html[data-theme='auto'] .sf-c-orchid\:100\:dark, html.auto .sf-c-orchid\:100\:dark { color: hsl(var(--sf-c-txt-orchid-90)); background: hsl(var(--sf-c-orchid-0)) }

  html.var[data-theme='auto'] .sf-c-orchid, html.var.auto .sf-c-orchid { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 35%) }
  html.var[data-theme='auto'] .sf-c-orchid\:0, html.var.auto .sf-c-orchid\:0 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 100%) }
  html.var[data-theme='auto'] .sf-c-orchid\:10, html.var.auto .sf-c-orchid\:10 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 90%) }
  html.var[data-theme='auto'] .sf-c-orchid\:20, html.var.auto .sf-c-orchid\:20 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 80%) }
  html.var[data-theme='auto'] .sf-c-orchid\:30, html.var.auto .sf-c-orchid\:30 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 70%) }
  html.var[data-theme='auto'] .sf-c-orchid\:40, html.var.auto .sf-c-orchid\:40 { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 60%) }
  html.var[data-theme='auto'] .sf-c-orchid\:50, html.var.auto .sf-c-orchid\:50 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 50%) }
  html.var[data-theme='auto'] .sf-c-orchid\:60, html.var.auto .sf-c-orchid\:60 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 40%) }
  html.var[data-theme='auto'] .sf-c-orchid\:70, html.var.auto .sf-c-orchid\:70 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 30%) }
  html.var[data-theme='auto'] .sf-c-orchid\:80, html.var.auto .sf-c-orchid\:80 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 20%) }
  html.var[data-theme='auto'] .sf-c-orchid\:90, html.var.auto .sf-c-orchid\:90 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 10%) }
  html.var[data-theme='auto'] .sf-c-orchid\:100, html.var.auto .sf-c-orchid\:100 { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 0%) }

  html.var[data-theme='auto'] .sf-c-orchid\:dark, html.var.auto .sf-c-orchid\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 35%) }
  html.var[data-theme='auto'] .sf-c-orchid\:0\:dark, html.var.auto .sf-c-orchid\:0\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 100%) }
  html.var[data-theme='auto'] .sf-c-orchid\:10\:dark, html.var.auto .sf-c-orchid\:10\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 90%) }
  html.var[data-theme='auto'] .sf-c-orchid\:20\:dark, html.var.auto .sf-c-orchid\:20\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 80%) }
  html.var[data-theme='auto'] .sf-c-orchid\:30\:dark, html.var.auto .sf-c-orchid\:30\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 70%) }
  html.var[data-theme='auto'] .sf-c-orchid\:40\:dark, html.var.auto .sf-c-orchid\:40\:dark { color: hsl(302, 59%, 10%); background: hsl(302, 59%, 60%) }
  html.var[data-theme='auto'] .sf-c-orchid\:50\:dark, html.var.auto .sf-c-orchid\:50\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 50%) }
  html.var[data-theme='auto'] .sf-c-orchid\:60\:dark, html.var.auto .sf-c-orchid\:60\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 40%) }
  html.var[data-theme='auto'] .sf-c-orchid\:70\:dark, html.var.auto .sf-c-orchid\:70\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 30%) }
  html.var[data-theme='auto'] .sf-c-orchid\:80\:dark, html.var.auto .sf-c-orchid\:80\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 20%) }
  html.var[data-theme='auto'] .sf-c-orchid\:90\:dark, html.var.auto .sf-c-orchid\:90\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 10%) }
  html.var[data-theme='auto'] .sf-c-orchid\:100\:dark, html.var.auto .sf-c-orchid\:100\:dark { color: hsl(302, 59%, 90%); background: hsl(302, 59%, 0%) }
}

.sf-c-txt-orchid { color: hsl(var(--sf-c-txt-orchid)) }
.sf-c-txt-orchid\:0 { color: hsl(var(--sf-c-txt-orchid-0)) }
.sf-c-txt-orchid\:10 { color: hsl(var(--sf-c-txt-orchid-10)) }
.sf-c-txt-orchid\:20 { color: hsl(var(--sf-c-txt-orchid-20)) }
.sf-c-txt-orchid\:30 { color: hsl(var(--sf-c-txt-orchid-30)) }
.sf-c-txt-orchid\:40 { color: hsl(var(--sf-c-txt-orchid-40)) }
.sf-c-txt-orchid\:50 { color: hsl(var(--sf-c-txt-orchid-50)) }
.sf-c-txt-orchid\:60 { color: hsl(var(--sf-c-txt-orchid-60)) }
.sf-c-txt-orchid\:70 { color: hsl(var(--sf-c-txt-orchid-70)) }
.sf-c-txt-orchid\:80 { color: hsl(var(--sf-c-txt-orchid-80)) }
.sf-c-txt-orchid\:90 { color: hsl(var(--sf-c-txt-orchid-90)) }
.sf-c-txt-orchid\:100 { color: hsl(var(--sf-c-txt-orchid-100)) }
