:root {
  --sf-c-paleturquoise: 180 65% 81%;
  --sf-c-paleturquoise-0: 180 65% 0%;
  --sf-c-paleturquoise-10: 180 65% 10%;
  --sf-c-paleturquoise-20: 180 65% 20%;
  --sf-c-paleturquoise-30: 180 65% 30%;
  --sf-c-paleturquoise-40: 180 65% 40%;
  --sf-c-paleturquoise-50: 180 65% 50%;
  --sf-c-paleturquoise-60: 180 65% 60%;
  --sf-c-paleturquoise-70: 180 65% 70%;
  --sf-c-paleturquoise-80: 180 65% 80%;
  --sf-c-paleturquoise-90: 180 65% 90%;
  --sf-c-paleturquoise-100: 180 65% 100%;

  --sf-c-txt-paleturquoise: var(--sf-c-paleturquoise);
  --sf-c-txt-paleturquoise-0: var(--sf-c-paleturquoise-0);
  --sf-c-txt-paleturquoise-10: var(--sf-c-paleturquoise-10);
  --sf-c-txt-paleturquoise-20: var(--sf-c-paleturquoise-20);
  --sf-c-txt-paleturquoise-30: var(--sf-c-paleturquoise-30);
  --sf-c-txt-paleturquoise-40: var(--sf-c-paleturquoise-40);
  --sf-c-txt-paleturquoise-50: var(--sf-c-paleturquoise-50);
  --sf-c-txt-paleturquoise-60: var(--sf-c-paleturquoise-60);
  --sf-c-txt-paleturquoise-70: var(--sf-c-paleturquoise-70);
  --sf-c-txt-paleturquoise-80: var(--sf-c-paleturquoise-80);
  --sf-c-txt-paleturquoise-90: var(--sf-c-paleturquoise-90);
  --sf-c-txt-paleturquoise-100: var(--sf-c-paleturquoise-100);

  --sf-dark-c-paleturquoise: 180 65% 19%;
  --sf-dark-c-paleturquoise-0: 180 65% 0%;
  --sf-dark-c-paleturquoise-10: 180 65% 10%;
  --sf-dark-c-paleturquoise-20: 180 65% 20%;
  --sf-dark-c-paleturquoise-30: 180 65% 30%;
  --sf-dark-c-paleturquoise-40: 180 65% 40%;
  --sf-dark-c-paleturquoise-50: 180 65% 50%;
  --sf-dark-c-paleturquoise-60: 180 65% 60%;
  --sf-dark-c-paleturquoise-70: 180 65% 70%;
  --sf-dark-c-paleturquoise-80: 180 65% 80%;
  --sf-dark-c-paleturquoise-90: 180 65% 90%;
  --sf-dark-c-paleturquoise-100: 180 65% 100%;

  --sf-dark-c-txt-paleturquoise: var(--sf-dark-c-paleturquoise);
  --sf-dark-c-txt-paleturquoise-0: var(--sf-dark-c-paleturquoise-0);
  --sf-dark-c-txt-paleturquoise-10: var(--sf-dark-c-paleturquoise-10);
  --sf-dark-c-txt-paleturquoise-20: var(--sf-dark-c-paleturquoise-20);
  --sf-dark-c-txt-paleturquoise-30: var(--sf-dark-c-paleturquoise-30);
  --sf-dark-c-txt-paleturquoise-40: var(--sf-dark-c-paleturquoise-40);
  --sf-dark-c-txt-paleturquoise-50: var(--sf-dark-c-paleturquoise-50);
  --sf-dark-c-txt-paleturquoise-60: var(--sf-dark-c-paleturquoise-60);
  --sf-dark-c-txt-paleturquoise-70: var(--sf-dark-c-paleturquoise-70);
  --sf-dark-c-txt-paleturquoise-80: var(--sf-dark-c-paleturquoise-80);
  --sf-dark-c-txt-paleturquoise-90: var(--sf-dark-c-paleturquoise-90);
  --sf-dark-c-txt-paleturquoise-100: var(--sf-dark-c-paleturquoise-100);
}

.sf-c-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise)) }
.sf-c-paleturquoise\:0 { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-0)) }
.sf-c-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-10)) }
.sf-c-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-20)) }
.sf-c-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-30)) }
.sf-c-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-40)) }
.sf-c-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-50)) }
.sf-c-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-60)) }
.sf-c-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-70)) }
.sf-c-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-80)) }
.sf-c-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-90)) }
.sf-c-paleturquoise\:100 { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-100)) }

html.var .sf-c-paleturquoise { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 81%) }
html.var .sf-c-paleturquoise\:0 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }
html.var .sf-c-paleturquoise\:10 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
html.var .sf-c-paleturquoise\:20 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
html.var .sf-c-paleturquoise\:30 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
html.var .sf-c-paleturquoise\:40 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 40%) }
html.var .sf-c-paleturquoise\:50 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
html.var .sf-c-paleturquoise\:60 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
html.var .sf-c-paleturquoise\:70 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
html.var .sf-c-paleturquoise\:80 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
html.var .sf-c-paleturquoise\:90 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
html.var .sf-c-paleturquoise\:100 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }

html[data-theme='dark'] .sf-c-paleturquoise, html.dark .sf-c-paleturquoise { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise)) }
html[data-theme='dark'] .sf-c-paleturquoise\:0, html.dark .sf-c-paleturquoise\:0 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-100)) }
html[data-theme='dark'] .sf-c-paleturquoise\:10, html.dark .sf-c-paleturquoise\:10 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-90)) }
html[data-theme='dark'] .sf-c-paleturquoise\:20, html.dark .sf-c-paleturquoise\:20 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-80)) }
html[data-theme='dark'] .sf-c-paleturquoise\:30, html.dark .sf-c-paleturquoise\:30 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-70)) }
html[data-theme='dark'] .sf-c-paleturquoise\:40, html.dark .sf-c-paleturquoise\:40 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-60)) }
html[data-theme='dark'] .sf-c-paleturquoise\:50, html.dark .sf-c-paleturquoise\:50 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-50)) }
html[data-theme='dark'] .sf-c-paleturquoise\:60, html.dark .sf-c-paleturquoise\:60 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-40)) }
html[data-theme='dark'] .sf-c-paleturquoise\:70, html.dark .sf-c-paleturquoise\:70 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-30)) }
html[data-theme='dark'] .sf-c-paleturquoise\:80, html.dark .sf-c-paleturquoise\:80 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-20)) }
html[data-theme='dark'] .sf-c-paleturquoise\:90, html.dark .sf-c-paleturquoise\:90 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-10)) }
html[data-theme='dark'] .sf-c-paleturquoise\:100, html.dark .sf-c-paleturquoise\:100 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-0)) }

html[data-theme='dark'] .sf-c-paleturquoise\:dark, html.dark .sf-c-paleturquoise\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise)) }
html[data-theme='dark'] .sf-c-paleturquoise\:0\:dark, html.dark .sf-c-paleturquoise\:0\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-100)) }
html[data-theme='dark'] .sf-c-paleturquoise\:10\:dark, html.dark .sf-c-paleturquoise\:10\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-90)) }
html[data-theme='dark'] .sf-c-paleturquoise\:20\:dark, html.dark .sf-c-paleturquoise\:20\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-80)) }
html[data-theme='dark'] .sf-c-paleturquoise\:30\:dark, html.dark .sf-c-paleturquoise\:30\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-70)) }
html[data-theme='dark'] .sf-c-paleturquoise\:40\:dark, html.dark .sf-c-paleturquoise\:40\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-60)) }
html[data-theme='dark'] .sf-c-paleturquoise\:50\:dark, html.dark .sf-c-paleturquoise\:50\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-50)) }
html[data-theme='dark'] .sf-c-paleturquoise\:60\:dark, html.dark .sf-c-paleturquoise\:60\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-40)) }
html[data-theme='dark'] .sf-c-paleturquoise\:70\:dark, html.dark .sf-c-paleturquoise\:70\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-30)) }
html[data-theme='dark'] .sf-c-paleturquoise\:80\:dark, html.dark .sf-c-paleturquoise\:80\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-20)) }
html[data-theme='dark'] .sf-c-paleturquoise\:90\:dark, html.dark .sf-c-paleturquoise\:90\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-10)) }
html[data-theme='dark'] .sf-c-paleturquoise\:100\:dark, html.dark .sf-c-paleturquoise\:100\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-0)) }

html.var[data-theme='dark'] .sf-c-paleturquoise, html.var.dark .sf-c-paleturquoise { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:0, html.var.dark .sf-c-paleturquoise\:0 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 100%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:10, html.var.dark .sf-c-paleturquoise\:10 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:20, html.var.dark .sf-c-paleturquoise\:20 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:30, html.var.dark .sf-c-paleturquoise\:30 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:40, html.var.dark .sf-c-paleturquoise\:40 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:50, html.var.dark .sf-c-paleturquoise\:50 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:60, html.var.dark .sf-c-paleturquoise\:60 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:70, html.var.dark .sf-c-paleturquoise\:70 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 30%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:80, html.var.dark .sf-c-paleturquoise\:80 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:90, html.var.dark .sf-c-paleturquoise\:90 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:100, html.var.dark .sf-c-paleturquoise\:100 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }

html.var[data-theme='dark'] .sf-c-paleturquoise\:dark, html.var.dark .sf-c-paleturquoise\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:0\:dark, html.var.dark .sf-c-paleturquoise\:0\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 100%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:10\:dark, html.var.dark .sf-c-paleturquoise\:10\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:20\:dark, html.var.dark .sf-c-paleturquoise\:20\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:30\:dark, html.var.dark .sf-c-paleturquoise\:30\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:40\:dark, html.var.dark .sf-c-paleturquoise\:40\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:50\:dark, html.var.dark .sf-c-paleturquoise\:50\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:60\:dark, html.var.dark .sf-c-paleturquoise\:60\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:70\:dark, html.var.dark .sf-c-paleturquoise\:70\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 30%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:80\:dark, html.var.dark .sf-c-paleturquoise\:80\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:90\:dark, html.var.dark .sf-c-paleturquoise\:90\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
html.var[data-theme='dark'] .sf-c-paleturquoise\:100\:dark, html.var.dark .sf-c-paleturquoise\:100\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-paleturquoise, html.auto .sf-c-paleturquoise { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:0, html.auto .sf-c-paleturquoise\:0 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-100)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:10, html.auto .sf-c-paleturquoise\:10 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-90)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:20, html.auto .sf-c-paleturquoise\:20 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-80)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:30, html.auto .sf-c-paleturquoise\:30 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-70)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:40, html.auto .sf-c-paleturquoise\:40 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-60)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:50, html.auto .sf-c-paleturquoise\:50 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-50)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:60, html.auto .sf-c-paleturquoise\:60 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-40)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:70, html.auto .sf-c-paleturquoise\:70 { color: hsl(var(--sf-dark-c-txt-paleturquoise-10)); background: hsl(var(--sf-dark-c-paleturquoise-30)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:80, html.auto .sf-c-paleturquoise\:80 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-20)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:90, html.auto .sf-c-paleturquoise\:90 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-10)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:100, html.auto .sf-c-paleturquoise\:100 { color: hsl(var(--sf-dark-c-txt-paleturquoise-90)); background: hsl(var(--sf-dark-c-paleturquoise-0)) }

  html[data-theme='auto'] .sf-c-paleturquoise\:dark, html.auto .sf-c-paleturquoise\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:0\:dark, html.auto .sf-c-paleturquoise\:0\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-100)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:10\:dark, html.auto .sf-c-paleturquoise\:10\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-90)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:20\:dark, html.auto .sf-c-paleturquoise\:20\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-80)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:30\:dark, html.auto .sf-c-paleturquoise\:30\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-70)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:40\:dark, html.auto .sf-c-paleturquoise\:40\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-60)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:50\:dark, html.auto .sf-c-paleturquoise\:50\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-50)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:60\:dark, html.auto .sf-c-paleturquoise\:60\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-40)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:70\:dark, html.auto .sf-c-paleturquoise\:70\:dark { color: hsl(var(--sf-c-txt-paleturquoise-10)); background: hsl(var(--sf-c-paleturquoise-30)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:80\:dark, html.auto .sf-c-paleturquoise\:80\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-20)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:90\:dark, html.auto .sf-c-paleturquoise\:90\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-10)) }
  html[data-theme='auto'] .sf-c-paleturquoise\:100\:dark, html.auto .sf-c-paleturquoise\:100\:dark { color: hsl(var(--sf-c-txt-paleturquoise-90)); background: hsl(var(--sf-c-paleturquoise-0)) }

  html.var[data-theme='auto'] .sf-c-paleturquoise, html.var.auto .sf-c-paleturquoise { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:0, html.var.auto .sf-c-paleturquoise\:0 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 100%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:10, html.var.auto .sf-c-paleturquoise\:10 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:20, html.var.auto .sf-c-paleturquoise\:20 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:30, html.var.auto .sf-c-paleturquoise\:30 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:40, html.var.auto .sf-c-paleturquoise\:40 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:50, html.var.auto .sf-c-paleturquoise\:50 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:60, html.var.auto .sf-c-paleturquoise\:60 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:70, html.var.auto .sf-c-paleturquoise\:70 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 30%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:80, html.var.auto .sf-c-paleturquoise\:80 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:90, html.var.auto .sf-c-paleturquoise\:90 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:100, html.var.auto .sf-c-paleturquoise\:100 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }

  html.var[data-theme='auto'] .sf-c-paleturquoise\:dark, html.var.auto .sf-c-paleturquoise\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:0\:dark, html.var.auto .sf-c-paleturquoise\:0\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 100%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:10\:dark, html.var.auto .sf-c-paleturquoise\:10\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:20\:dark, html.var.auto .sf-c-paleturquoise\:20\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:30\:dark, html.var.auto .sf-c-paleturquoise\:30\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:40\:dark, html.var.auto .sf-c-paleturquoise\:40\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:50\:dark, html.var.auto .sf-c-paleturquoise\:50\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:60\:dark, html.var.auto .sf-c-paleturquoise\:60\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:70\:dark, html.var.auto .sf-c-paleturquoise\:70\:dark { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 30%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:80\:dark, html.var.auto .sf-c-paleturquoise\:80\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:90\:dark, html.var.auto .sf-c-paleturquoise\:90\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
  html.var[data-theme='auto'] .sf-c-paleturquoise\:100\:dark, html.var.auto .sf-c-paleturquoise\:100\:dark { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }
}

.sf-c-txt-paleturquoise { color: hsl(var(--sf-c-txt-paleturquoise)) }
.sf-c-txt-paleturquoise\:0 { color: hsl(var(--sf-c-txt-paleturquoise-0)) }
.sf-c-txt-paleturquoise\:10 { color: hsl(var(--sf-c-txt-paleturquoise-10)) }
.sf-c-txt-paleturquoise\:20 { color: hsl(var(--sf-c-txt-paleturquoise-20)) }
.sf-c-txt-paleturquoise\:30 { color: hsl(var(--sf-c-txt-paleturquoise-30)) }
.sf-c-txt-paleturquoise\:40 { color: hsl(var(--sf-c-txt-paleturquoise-40)) }
.sf-c-txt-paleturquoise\:50 { color: hsl(var(--sf-c-txt-paleturquoise-50)) }
.sf-c-txt-paleturquoise\:60 { color: hsl(var(--sf-c-txt-paleturquoise-60)) }
.sf-c-txt-paleturquoise\:70 { color: hsl(var(--sf-c-txt-paleturquoise-70)) }
.sf-c-txt-paleturquoise\:80 { color: hsl(var(--sf-c-txt-paleturquoise-80)) }
.sf-c-txt-paleturquoise\:90 { color: hsl(var(--sf-c-txt-paleturquoise-90)) }
.sf-c-txt-paleturquoise\:100 { color: hsl(var(--sf-c-txt-paleturquoise-100)) }