:root {
  --sf-c-palegreen: 120 93% 79%;
  --sf-c-palegreen-10: 120 93% 10%;
  --sf-c-palegreen-20: 120 93% 20%;
  --sf-c-palegreen-30: 120 93% 30%;
  --sf-c-palegreen-40: 120 93% 40%;
  --sf-c-palegreen-50: 120 93% 50%;
  --sf-c-palegreen-60: 120 93% 60%;
  --sf-c-palegreen-70: 120 93% 70%;
  --sf-c-palegreen-80: 120 93% 80%;
  --sf-c-palegreen-90: 120 93% 90%;
 
  --sf-c-txt-palegreen: var(--sf-c-palegreen);
  --sf-c-txt-palegreen-10: var(--sf-c-palegreen-10);
  --sf-c-txt-palegreen-20: var(--sf-c-palegreen-20);
  --sf-c-txt-palegreen-30: var(--sf-c-palegreen-30);
  --sf-c-txt-palegreen-40: var(--sf-c-palegreen-40);
  --sf-c-txt-palegreen-50: var(--sf-c-palegreen-50);
  --sf-c-txt-palegreen-60: var(--sf-c-palegreen-60);
  --sf-c-txt-palegreen-70: var(--sf-c-palegreen-70);
  --sf-c-txt-palegreen-80: var(--sf-c-palegreen-80);
  --sf-c-txt-palegreen-90: var(--sf-c-palegreen-90);
 
  --sf-dark-c-palegreen: 120 93% 21%;
  --sf-dark-c-palegreen-10: 120 93% 90%;
  --sf-dark-c-palegreen-20: 120 93% 80%;
  --sf-dark-c-palegreen-30: 120 93% 70%;
  --sf-dark-c-palegreen-40: 120 93% 60%;
  --sf-dark-c-palegreen-50: 120 93% 50%;
  --sf-dark-c-palegreen-60: 120 93% 40%;
  --sf-dark-c-palegreen-70: 120 93% 30%;
  --sf-dark-c-palegreen-80: 120 93% 20%;
  --sf-dark-c-palegreen-90: 120 93% 10%;
 
  --sf-dark-c-txt-palegreen: var(--sf-dark-c-palegreen);
  --sf-dark-c-txt-palegreen-10: var(--sf-dark-c-palegreen-10);
  --sf-dark-c-txt-palegreen-20: var(--sf-dark-c-palegreen-20);
  --sf-dark-c-txt-palegreen-30: var(--sf-dark-c-palegreen-30);
  --sf-dark-c-txt-palegreen-40: var(--sf-dark-c-palegreen-40);
  --sf-dark-c-txt-palegreen-50: var(--sf-dark-c-palegreen-50);
  --sf-dark-c-txt-palegreen-60: var(--sf-dark-c-palegreen-60);
  --sf-dark-c-txt-palegreen-70: var(--sf-dark-c-palegreen-70);
  --sf-dark-c-txt-palegreen-80: var(--sf-dark-c-palegreen-80);
  --sf-dark-c-txt-palegreen-90: var(--sf-dark-c-palegreen-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-palegreen: var(--sf-dark-c-palegreen);
  --sf-c-palegreen-10: var(--sf-dark-c-palegreen-10);
  --sf-c-palegreen-20: var(--sf-dark-c-palegreen-20);
  --sf-c-palegreen-30: var(--sf-dark-c-palegreen-30);
  --sf-c-palegreen-40: var(--sf-dark-c-palegreen-40);
  --sf-c-palegreen-50: var(--sf-dark-c-palegreen-50);
  --sf-c-palegreen-60: var(--sf-dark-c-palegreen-60);
  --sf-c-palegreen-70: var(--sf-dark-c-palegreen-70);
  --sf-c-palegreen-80: var(--sf-dark-c-palegreen-80);
  --sf-c-palegreen-90: var(--sf-dark-c-palegreen-90);
 
  --sf-c-txt-palegreen: var(--sf-dark-c-txt-palegreen);
  --sf-c-txt-palegreen-10: var(--sf-dark-c-txt-palegreen-10);
  --sf-c-txt-palegreen-20: var(--sf-dark-c-txt-palegreen-20);
  --sf-c-txt-palegreen-30: var(--sf-dark-c-txt-palegreen-30);
  --sf-c-txt-palegreen-40: var(--sf-dark-c-txt-palegreen-40);
  --sf-c-txt-palegreen-50: var(--sf-dark-c-txt-palegreen-50);
  --sf-c-txt-palegreen-60: var(--sf-dark-c-txt-palegreen-60);
  --sf-c-txt-palegreen-70: var(--sf-dark-c-txt-palegreen-70);
  --sf-c-txt-palegreen-80: var(--sf-dark-c-txt-palegreen-80);
  --sf-c-txt-palegreen-90: var(--sf-dark-c-txt-palegreen-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-palegreen: var(--sf-dark-c-palegreen);
    --sf-c-palegreen-10: var(--sf-dark-c-palegreen-10);
    --sf-c-palegreen-20: var(--sf-dark-c-palegreen-20);
    --sf-c-palegreen-30: var(--sf-dark-c-palegreen-30);
    --sf-c-palegreen-40: var(--sf-dark-c-palegreen-40);
    --sf-c-palegreen-50: var(--sf-dark-c-palegreen-50);
    --sf-c-palegreen-60: var(--sf-dark-c-palegreen-60);
    --sf-c-palegreen-70: var(--sf-dark-c-palegreen-70);
    --sf-c-palegreen-80: var(--sf-dark-c-palegreen-80);
    --sf-c-palegreen-90: var(--sf-dark-c-palegreen-90);
 
    --sf-c-txt-palegreen: var(--sf-dark-c-txt-palegreen);
    --sf-c-txt-palegreen-10: var(--sf-dark-c-txt-palegreen-10);
    --sf-c-txt-palegreen-20: var(--sf-dark-c-txt-palegreen-20);
    --sf-c-txt-palegreen-30: var(--sf-dark-c-txt-palegreen-30);
    --sf-c-txt-palegreen-40: var(--sf-dark-c-txt-palegreen-40);
    --sf-c-txt-palegreen-50: var(--sf-dark-c-txt-palegreen-50);
    --sf-c-txt-palegreen-60: var(--sf-dark-c-txt-palegreen-60);
    --sf-c-txt-palegreen-70: var(--sf-dark-c-txt-palegreen-70);
    --sf-c-txt-palegreen-80: var(--sf-dark-c-txt-palegreen-80);
    --sf-c-txt-palegreen-90: var(--sf-dark-c-txt-palegreen-90);
  }
}
 
.sf-c-palegreen { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen)) }
.sf-c-palegreen\:10 { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-10)) }
.sf-c-palegreen\:20 { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-20)) }
.sf-c-palegreen\:30 { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-30)) }
.sf-c-palegreen\:40 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-40)) }
.sf-c-palegreen\:50 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-50)) }
.sf-c-palegreen\:60 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-60)) }
.sf-c-palegreen\:70 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-70)) }
.sf-c-palegreen\:80 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-80)) }
.sf-c-palegreen\:90 { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-palegreen\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:10\:dark { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:20\:dark { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:30\:dark { color: hsl(var(--sf-c-txt-palegreen-90)); background: hsl(var(--sf-c-palegreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:40\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:50\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:60\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:70\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:80\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-palegreen\:90\:dark { color: hsl(var(--sf-c-txt-palegreen-10)); background: hsl(var(--sf-c-palegreen-90)) }

.sf-c-txt-palegreen { color: hsl(var(--sf-c-txt-palegreen)) }
.sf-c-txt-palegreen\:10 { color: hsl(var(--sf-c-txt-palegreen-10)) }
.sf-c-txt-palegreen\:20 { color: hsl(var(--sf-c-txt-palegreen-20)) }
.sf-c-txt-palegreen\:30 { color: hsl(var(--sf-c-txt-palegreen-30)) }
.sf-c-txt-palegreen\:40 { color: hsl(var(--sf-c-txt-palegreen-40)) }
.sf-c-txt-palegreen\:50 { color: hsl(var(--sf-c-txt-palegreen-50)) }
.sf-c-txt-palegreen\:60 { color: hsl(var(--sf-c-txt-palegreen-60)) }
.sf-c-txt-palegreen\:70 { color: hsl(var(--sf-c-txt-palegreen-70)) }
.sf-c-txt-palegreen\:80 { color: hsl(var(--sf-c-txt-palegreen-80)) }
.sf-c-txt-palegreen\:90 { color: hsl(var(--sf-c-txt-palegreen-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:dark { color: hsl(var(--sf-c-txt-palegreen)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:10\:dark { color: hsl(var(--sf-c-txt-palegreen-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:20\:dark { color: hsl(var(--sf-c-txt-palegreen-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:30\:dark { color: hsl(var(--sf-c-txt-palegreen-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:40\:dark { color: hsl(var(--sf-c-txt-palegreen-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:50\:dark { color: hsl(var(--sf-c-txt-palegreen-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:60\:dark { color: hsl(var(--sf-c-txt-palegreen-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:70\:dark { color: hsl(var(--sf-c-txt-palegreen-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:80\:dark { color: hsl(var(--sf-c-txt-palegreen-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-palegreen\:90\:dark { color: hsl(var(--sf-c-txt-palegreen-90)) }