:root {
  --sf-c-plum: 300 47% 75%;
  --sf-c-plum-10: 300 47% 10%;
  --sf-c-plum-20: 300 47% 20%;
  --sf-c-plum-30: 300 47% 30%;
  --sf-c-plum-40: 300 47% 40%;
  --sf-c-plum-50: 300 47% 50%;
  --sf-c-plum-60: 300 47% 60%;
  --sf-c-plum-70: 300 47% 70%;
  --sf-c-plum-80: 300 47% 80%;
  --sf-c-plum-90: 300 47% 90%;
 
  --sf-c-txt-plum: var(--sf-c-plum);
  --sf-c-txt-plum-10: var(--sf-c-plum-10);
  --sf-c-txt-plum-20: var(--sf-c-plum-20);
  --sf-c-txt-plum-30: var(--sf-c-plum-30);
  --sf-c-txt-plum-40: var(--sf-c-plum-40);
  --sf-c-txt-plum-50: var(--sf-c-plum-50);
  --sf-c-txt-plum-60: var(--sf-c-plum-60);
  --sf-c-txt-plum-70: var(--sf-c-plum-70);
  --sf-c-txt-plum-80: var(--sf-c-plum-80);
  --sf-c-txt-plum-90: var(--sf-c-plum-90);
 
  --sf-dark-c-plum: 300 47% 25%;
  --sf-dark-c-plum-10: 300 47% 90%;
  --sf-dark-c-plum-20: 300 47% 80%;
  --sf-dark-c-plum-30: 300 47% 70%;
  --sf-dark-c-plum-40: 300 47% 60%;
  --sf-dark-c-plum-50: 300 47% 50%;
  --sf-dark-c-plum-60: 300 47% 40%;
  --sf-dark-c-plum-70: 300 47% 30%;
  --sf-dark-c-plum-80: 300 47% 20%;
  --sf-dark-c-plum-90: 300 47% 10%;
 
  --sf-dark-c-txt-plum: var(--sf-dark-c-plum);
  --sf-dark-c-txt-plum-10: var(--sf-dark-c-plum-10);
  --sf-dark-c-txt-plum-20: var(--sf-dark-c-plum-20);
  --sf-dark-c-txt-plum-30: var(--sf-dark-c-plum-30);
  --sf-dark-c-txt-plum-40: var(--sf-dark-c-plum-40);
  --sf-dark-c-txt-plum-50: var(--sf-dark-c-plum-50);
  --sf-dark-c-txt-plum-60: var(--sf-dark-c-plum-60);
  --sf-dark-c-txt-plum-70: var(--sf-dark-c-plum-70);
  --sf-dark-c-txt-plum-80: var(--sf-dark-c-plum-80);
  --sf-dark-c-txt-plum-90: var(--sf-dark-c-plum-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-plum: var(--sf-dark-c-plum);
  --sf-c-plum-10: var(--sf-dark-c-plum-10);
  --sf-c-plum-20: var(--sf-dark-c-plum-20);
  --sf-c-plum-30: var(--sf-dark-c-plum-30);
  --sf-c-plum-40: var(--sf-dark-c-plum-40);
  --sf-c-plum-50: var(--sf-dark-c-plum-50);
  --sf-c-plum-60: var(--sf-dark-c-plum-60);
  --sf-c-plum-70: var(--sf-dark-c-plum-70);
  --sf-c-plum-80: var(--sf-dark-c-plum-80);
  --sf-c-plum-90: var(--sf-dark-c-plum-90);
 
  --sf-c-txt-plum: var(--sf-dark-c-txt-plum);
  --sf-c-txt-plum-10: var(--sf-dark-c-txt-plum-10);
  --sf-c-txt-plum-20: var(--sf-dark-c-txt-plum-20);
  --sf-c-txt-plum-30: var(--sf-dark-c-txt-plum-30);
  --sf-c-txt-plum-40: var(--sf-dark-c-txt-plum-40);
  --sf-c-txt-plum-50: var(--sf-dark-c-txt-plum-50);
  --sf-c-txt-plum-60: var(--sf-dark-c-txt-plum-60);
  --sf-c-txt-plum-70: var(--sf-dark-c-txt-plum-70);
  --sf-c-txt-plum-80: var(--sf-dark-c-txt-plum-80);
  --sf-c-txt-plum-90: var(--sf-dark-c-txt-plum-90);
}

.sf-c-plum { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum)) }
.sf-c-plum\:10 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-10)) }
.sf-c-plum\:20 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-20)) }
.sf-c-plum\:30 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-30)) }
.sf-c-plum\:40 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-40)) }
.sf-c-plum\:50 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-50)) }
.sf-c-plum\:60 { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-60)) }
.sf-c-plum\:70 { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-70)) }
.sf-c-plum\:80 { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-80)) }
.sf-c-plum\:90 { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-90)) }
 
:root:where([data-theme='dark'], .dark) .sf-c-plum, :root:is([data-theme='dark'], .dark) .sf-c-plum\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:10, :root:is([data-theme='dark'], .dark) .sf-c-plum\:10\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-10)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:20, :root:is([data-theme='dark'], .dark) .sf-c-plum\:20\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-20)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:30, :root:is([data-theme='dark'], .dark) .sf-c-plum\:30\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-30)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:40, :root:is([data-theme='dark'], .dark) .sf-c-plum\:40\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-40)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:50, :root:is([data-theme='dark'], .dark) .sf-c-plum\:50\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-50)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:60, :root:is([data-theme='dark'], .dark) .sf-c-plum\:60\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-60)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:70, :root:is([data-theme='dark'], .dark) .sf-c-plum\:70\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-70)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:80, :root:is([data-theme='dark'], .dark) .sf-c-plum\:80\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-80)) }
:root:where([data-theme='dark'], .dark) .sf-c-plum\:90, :root:is([data-theme='dark'], .dark) .sf-c-plum\:90\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-90)) }
 
@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-plum: var(--sf-dark-c-plum);
    --sf-c-plum-10: var(--sf-dark-c-plum-10);
    --sf-c-plum-20: var(--sf-dark-c-plum-20);
    --sf-c-plum-30: var(--sf-dark-c-plum-30);
    --sf-c-plum-40: var(--sf-dark-c-plum-40);
    --sf-c-plum-50: var(--sf-dark-c-plum-50);
    --sf-c-plum-60: var(--sf-dark-c-plum-60);
    --sf-c-plum-70: var(--sf-dark-c-plum-70);
    --sf-c-plum-80: var(--sf-dark-c-plum-80);
    --sf-c-plum-90: var(--sf-dark-c-plum-90);
 
    --sf-c-txt-plum: var(--sf-dark-c-txt-plum);
    --sf-c-txt-plum-10: var(--sf-dark-c-txt-plum-10);
    --sf-c-txt-plum-20: var(--sf-dark-c-txt-plum-20);
    --sf-c-txt-plum-30: var(--sf-dark-c-txt-plum-30);
    --sf-c-txt-plum-40: var(--sf-dark-c-txt-plum-40);
    --sf-c-txt-plum-50: var(--sf-dark-c-txt-plum-50);
    --sf-c-txt-plum-60: var(--sf-dark-c-txt-plum-60);
    --sf-c-txt-plum-70: var(--sf-dark-c-txt-plum-70);
    --sf-c-txt-plum-80: var(--sf-dark-c-txt-plum-80);
    --sf-c-txt-plum-90: var(--sf-dark-c-txt-plum-90);
  }
 
  :root:where([data-theme='auto'], .auto) .sf-c-plum, :root:is([data-theme='auto'], .auto) .sf-c-plum\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:10, :root:is([data-theme='auto'], .auto) .sf-c-plum\:10\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-10)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:20, :root:is([data-theme='auto'], .auto) .sf-c-plum\:20\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-20)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:30, :root:is([data-theme='auto'], .auto) .sf-c-plum\:30\:dark { color: hsl(var(--sf-c-txt-plum-90)); background: hsl(var(--sf-c-plum-30)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:40, :root:is([data-theme='auto'], .auto) .sf-c-plum\:40\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-40)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:50, :root:is([data-theme='auto'], .auto) .sf-c-plum\:50\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-50)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:60, :root:is([data-theme='auto'], .auto) .sf-c-plum\:60\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-60)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:70, :root:is([data-theme='auto'], .auto) .sf-c-plum\:70\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-70)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:80, :root:is([data-theme='auto'], .auto) .sf-c-plum\:80\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-80)) }
  :root:where([data-theme='auto'], .auto) .sf-c-plum\:90, :root:is([data-theme='auto'], .auto) .sf-c-plum\:90\:dark { color: hsl(var(--sf-c-txt-plum-10)); background: hsl(var(--sf-c-plum-90)) }
}

.sf-c-txt-plum { color: hsl(var(--sf-c-txt-plum)) }
.sf-c-txt-plum\:10 { color: hsl(var(--sf-c-txt-plum-10)) }
.sf-c-txt-plum\:20 { color: hsl(var(--sf-c-txt-plum-20)) }
.sf-c-txt-plum\:30 { color: hsl(var(--sf-c-txt-plum-30)) }
.sf-c-txt-plum\:40 { color: hsl(var(--sf-c-txt-plum-40)) }
.sf-c-txt-plum\:50 { color: hsl(var(--sf-c-txt-plum-50)) }
.sf-c-txt-plum\:60 { color: hsl(var(--sf-c-txt-plum-60)) }
.sf-c-txt-plum\:70 { color: hsl(var(--sf-c-txt-plum-70)) }
.sf-c-txt-plum\:80 { color: hsl(var(--sf-c-txt-plum-80)) }
.sf-c-txt-plum\:90 { color: hsl(var(--sf-c-txt-plum-90)) }