:root {
  --sf-c-red: 0 100% 50%;
  --sf-c-red-10: 0 100% 10%;
  --sf-c-red-20: 0 100% 20%;
  --sf-c-red-30: 0 100% 30%;
  --sf-c-red-40: 0 100% 40%;
  --sf-c-red-50: 0 100% 50%;
  --sf-c-red-60: 0 100% 60%;
  --sf-c-red-70: 0 100% 70%;
  --sf-c-red-80: 0 100% 80%;
  --sf-c-red-90: 0 100% 90%;
 
  --sf-c-txt-red: var(--sf-c-red);
  --sf-c-txt-red-10: var(--sf-c-red-10);
  --sf-c-txt-red-20: var(--sf-c-red-20);
  --sf-c-txt-red-30: var(--sf-c-red-30);
  --sf-c-txt-red-40: var(--sf-c-red-40);
  --sf-c-txt-red-50: var(--sf-c-red-50);
  --sf-c-txt-red-60: var(--sf-c-red-60);
  --sf-c-txt-red-70: var(--sf-c-red-70);
  --sf-c-txt-red-80: var(--sf-c-red-80);
  --sf-c-txt-red-90: var(--sf-c-red-90);
 
  --sf-dark-c-red: 0 100% 50%;
  --sf-dark-c-red-10: 0 100% 90%;
  --sf-dark-c-red-20: 0 100% 80%;
  --sf-dark-c-red-30: 0 100% 70%;
  --sf-dark-c-red-40: 0 100% 60%;
  --sf-dark-c-red-50: 0 100% 50%;
  --sf-dark-c-red-60: 0 100% 40%;
  --sf-dark-c-red-70: 0 100% 30%;
  --sf-dark-c-red-80: 0 100% 20%;
  --sf-dark-c-red-90: 0 100% 10%;
 
  --sf-dark-c-txt-red: var(--sf-dark-c-red);
  --sf-dark-c-txt-red-10: var(--sf-dark-c-red-10);
  --sf-dark-c-txt-red-20: var(--sf-dark-c-red-20);
  --sf-dark-c-txt-red-30: var(--sf-dark-c-red-30);
  --sf-dark-c-txt-red-40: var(--sf-dark-c-red-40);
  --sf-dark-c-txt-red-50: var(--sf-dark-c-red-50);
  --sf-dark-c-txt-red-60: var(--sf-dark-c-red-60);
  --sf-dark-c-txt-red-70: var(--sf-dark-c-red-70);
  --sf-dark-c-txt-red-80: var(--sf-dark-c-red-80);
  --sf-dark-c-txt-red-90: var(--sf-dark-c-red-90);
}
 
:root:where([data-theme='dark'], .dark) {
  --sf-c-red: var(--sf-dark-c-red);
  --sf-c-red-10: var(--sf-dark-c-red-10);
  --sf-c-red-20: var(--sf-dark-c-red-20);
  --sf-c-red-30: var(--sf-dark-c-red-30);
  --sf-c-red-40: var(--sf-dark-c-red-40);
  --sf-c-red-50: var(--sf-dark-c-red-50);
  --sf-c-red-60: var(--sf-dark-c-red-60);
  --sf-c-red-70: var(--sf-dark-c-red-70);
  --sf-c-red-80: var(--sf-dark-c-red-80);
  --sf-c-red-90: var(--sf-dark-c-red-90);
 
  --sf-c-txt-red: var(--sf-dark-c-txt-red);
  --sf-c-txt-red-10: var(--sf-dark-c-txt-red-10);
  --sf-c-txt-red-20: var(--sf-dark-c-txt-red-20);
  --sf-c-txt-red-30: var(--sf-dark-c-txt-red-30);
  --sf-c-txt-red-40: var(--sf-dark-c-txt-red-40);
  --sf-c-txt-red-50: var(--sf-dark-c-txt-red-50);
  --sf-c-txt-red-60: var(--sf-dark-c-txt-red-60);
  --sf-c-txt-red-70: var(--sf-dark-c-txt-red-70);
  --sf-c-txt-red-80: var(--sf-dark-c-txt-red-80);
  --sf-c-txt-red-90: var(--sf-dark-c-txt-red-90);
}

@media (prefers-color-scheme: dark) {
  :root:where([data-theme='auto'], .auto) {
    --sf-c-red: var(--sf-dark-c-red);
    --sf-c-red-10: var(--sf-dark-c-red-10);
    --sf-c-red-20: var(--sf-dark-c-red-20);
    --sf-c-red-30: var(--sf-dark-c-red-30);
    --sf-c-red-40: var(--sf-dark-c-red-40);
    --sf-c-red-50: var(--sf-dark-c-red-50);
    --sf-c-red-60: var(--sf-dark-c-red-60);
    --sf-c-red-70: var(--sf-dark-c-red-70);
    --sf-c-red-80: var(--sf-dark-c-red-80);
    --sf-c-red-90: var(--sf-dark-c-red-90);
 
    --sf-c-txt-red: var(--sf-dark-c-txt-red);
    --sf-c-txt-red-10: var(--sf-dark-c-txt-red-10);
    --sf-c-txt-red-20: var(--sf-dark-c-txt-red-20);
    --sf-c-txt-red-30: var(--sf-dark-c-txt-red-30);
    --sf-c-txt-red-40: var(--sf-dark-c-txt-red-40);
    --sf-c-txt-red-50: var(--sf-dark-c-txt-red-50);
    --sf-c-txt-red-60: var(--sf-dark-c-txt-red-60);
    --sf-c-txt-red-70: var(--sf-dark-c-txt-red-70);
    --sf-c-txt-red-80: var(--sf-dark-c-txt-red-80);
    --sf-c-txt-red-90: var(--sf-dark-c-txt-red-90);
  }
}
 
.sf-c-red { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red)) }
.sf-c-red\:10 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-10)) }
.sf-c-red\:20 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-20)) }
.sf-c-red\:30 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-30)) }
.sf-c-red\:40 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-40)) }
.sf-c-red\:50 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-50)) }
.sf-c-red\:60 { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-60)) }
.sf-c-red\:70 { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-70)) }
.sf-c-red\:80 { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-80)) }
.sf-c-red\:90 { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-red\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red)) }
:where([data-theme='dark'], .dark) .sf-c-red\:10\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-10)) }
:where([data-theme='dark'], .dark) .sf-c-red\:20\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-20)) }
:where([data-theme='dark'], .dark) .sf-c-red\:30\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-30)) }
:where([data-theme='dark'], .dark) .sf-c-red\:40\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-40)) }
:where([data-theme='dark'], .dark) .sf-c-red\:50\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-50)) }
:where([data-theme='dark'], .dark) .sf-c-red\:60\:dark { color: hsl(var(--sf-c-txt-red-90)); background: hsl(var(--sf-c-red-60)) }
:where([data-theme='dark'], .dark) .sf-c-red\:70\:dark { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-70)) }
:where([data-theme='dark'], .dark) .sf-c-red\:80\:dark { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-80)) }
:where([data-theme='dark'], .dark) .sf-c-red\:90\:dark { color: hsl(var(--sf-c-txt-red-10)); background: hsl(var(--sf-c-red-90)) }

.sf-c-txt-red { color: hsl(var(--sf-c-txt-red)) }
.sf-c-txt-red\:10 { color: hsl(var(--sf-c-txt-red-10)) }
.sf-c-txt-red\:20 { color: hsl(var(--sf-c-txt-red-20)) }
.sf-c-txt-red\:30 { color: hsl(var(--sf-c-txt-red-30)) }
.sf-c-txt-red\:40 { color: hsl(var(--sf-c-txt-red-40)) }
.sf-c-txt-red\:50 { color: hsl(var(--sf-c-txt-red-50)) }
.sf-c-txt-red\:60 { color: hsl(var(--sf-c-txt-red-60)) }
.sf-c-txt-red\:70 { color: hsl(var(--sf-c-txt-red-70)) }
.sf-c-txt-red\:80 { color: hsl(var(--sf-c-txt-red-80)) }
.sf-c-txt-red\:90 { color: hsl(var(--sf-c-txt-red-90)) }
 
:where([data-theme='dark'], .dark) .sf-c-txt-red\:dark { color: hsl(var(--sf-c-txt-red)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:10\:dark { color: hsl(var(--sf-c-txt-red-10)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:20\:dark { color: hsl(var(--sf-c-txt-red-20)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:30\:dark { color: hsl(var(--sf-c-txt-red-30)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:40\:dark { color: hsl(var(--sf-c-txt-red-40)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:50\:dark { color: hsl(var(--sf-c-txt-red-50)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:60\:dark { color: hsl(var(--sf-c-txt-red-60)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:70\:dark { color: hsl(var(--sf-c-txt-red-70)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:80\:dark { color: hsl(var(--sf-c-txt-red-80)) }
:where([data-theme='dark'], .dark) .sf-c-txt-red\:90\:dark { color: hsl(var(--sf-c-txt-red-90)) }