:root {
  --sf-c-seashell: 25 100% 97%;
  --sf-c-seashell-0: 25 100% 0%;
  --sf-c-seashell-10: 25 100% 10%;
  --sf-c-seashell-20: 25 100% 20%;
  --sf-c-seashell-30: 25 100% 30%;
  --sf-c-seashell-40: 25 100% 40%;
  --sf-c-seashell-50: 25 100% 50%;
  --sf-c-seashell-60: 25 100% 60%;
  --sf-c-seashell-70: 25 100% 70%;
  --sf-c-seashell-80: 25 100% 80%;
  --sf-c-seashell-90: 25 100% 90%;
  --sf-c-seashell-100: 25 100% 100%;

  --sf-c-txt-seashell: var(--sf-c-seashell);
  --sf-c-txt-seashell-0: var(--sf-c-seashell-0);
  --sf-c-txt-seashell-10: var(--sf-c-seashell-10);
  --sf-c-txt-seashell-20: var(--sf-c-seashell-20);
  --sf-c-txt-seashell-30: var(--sf-c-seashell-30);
  --sf-c-txt-seashell-40: var(--sf-c-seashell-40);
  --sf-c-txt-seashell-50: var(--sf-c-seashell-50);
  --sf-c-txt-seashell-60: var(--sf-c-seashell-60);
  --sf-c-txt-seashell-70: var(--sf-c-seashell-70);
  --sf-c-txt-seashell-80: var(--sf-c-seashell-80);
  --sf-c-txt-seashell-90: var(--sf-c-seashell-90);
  --sf-c-txt-seashell-100: var(--sf-c-seashell-100);

  --sf-dark-c-seashell: 25 100% 3%;
  --sf-dark-c-seashell-0: 25 100% 0%;
  --sf-dark-c-seashell-10: 25 100% 10%;
  --sf-dark-c-seashell-20: 25 100% 20%;
  --sf-dark-c-seashell-30: 25 100% 30%;
  --sf-dark-c-seashell-40: 25 100% 40%;
  --sf-dark-c-seashell-50: 25 100% 50%;
  --sf-dark-c-seashell-60: 25 100% 60%;
  --sf-dark-c-seashell-70: 25 100% 70%;
  --sf-dark-c-seashell-80: 25 100% 80%;
  --sf-dark-c-seashell-90: 25 100% 90%;
  --sf-dark-c-seashell-100: 25 100% 100%;

  --sf-dark-c-txt-seashell: var(--sf-dark-c-seashell);
  --sf-dark-c-txt-seashell-0: var(--sf-dark-c-seashell-0);
  --sf-dark-c-txt-seashell-10: var(--sf-dark-c-seashell-10);
  --sf-dark-c-txt-seashell-20: var(--sf-dark-c-seashell-20);
  --sf-dark-c-txt-seashell-30: var(--sf-dark-c-seashell-30);
  --sf-dark-c-txt-seashell-40: var(--sf-dark-c-seashell-40);
  --sf-dark-c-txt-seashell-50: var(--sf-dark-c-seashell-50);
  --sf-dark-c-txt-seashell-60: var(--sf-dark-c-seashell-60);
  --sf-dark-c-txt-seashell-70: var(--sf-dark-c-seashell-70);
  --sf-dark-c-txt-seashell-80: var(--sf-dark-c-seashell-80);
  --sf-dark-c-txt-seashell-90: var(--sf-dark-c-seashell-90);
  --sf-dark-c-txt-seashell-100: var(--sf-dark-c-seashell-100);
}

.sf-c-seashell { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell)) }
.sf-c-seashell\:0 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-0)) }
.sf-c-seashell\:10 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-10)) }
.sf-c-seashell\:20 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-20)) }
.sf-c-seashell\:30 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-30)) }
.sf-c-seashell\:40 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-40)) }
.sf-c-seashell\:50 { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-50)) }
.sf-c-seashell\:60 { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-60)) }
.sf-c-seashell\:70 { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-70)) }
.sf-c-seashell\:80 { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-80)) }
.sf-c-seashell\:90 { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-90)) }
.sf-c-seashell\:100 { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-100)) }

html.var .sf-c-seashell { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 97%) }
html.var .sf-c-seashell\:0 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 0%) }
html.var .sf-c-seashell\:10 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 10%) }
html.var .sf-c-seashell\:20 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 20%) }
html.var .sf-c-seashell\:30 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 30%) }
html.var .sf-c-seashell\:40 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 40%) }
html.var .sf-c-seashell\:50 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 50%) }
html.var .sf-c-seashell\:60 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 60%) }
html.var .sf-c-seashell\:70 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 70%) }
html.var .sf-c-seashell\:80 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 80%) }
html.var .sf-c-seashell\:90 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 90%) }
html.var .sf-c-seashell\:100 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 100%) }

html[data-theme='dark'] .sf-c-seashell, html.dark .sf-c-seashell { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell)) }
html[data-theme='dark'] .sf-c-seashell\:0, html.dark .sf-c-seashell\:0 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-100)) }
html[data-theme='dark'] .sf-c-seashell\:10, html.dark .sf-c-seashell\:10 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-90)) }
html[data-theme='dark'] .sf-c-seashell\:20, html.dark .sf-c-seashell\:20 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-80)) }
html[data-theme='dark'] .sf-c-seashell\:30, html.dark .sf-c-seashell\:30 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-70)) }
html[data-theme='dark'] .sf-c-seashell\:40, html.dark .sf-c-seashell\:40 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-60)) }
html[data-theme='dark'] .sf-c-seashell\:50, html.dark .sf-c-seashell\:50 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-50)) }
html[data-theme='dark'] .sf-c-seashell\:60, html.dark .sf-c-seashell\:60 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-40)) }
html[data-theme='dark'] .sf-c-seashell\:70, html.dark .sf-c-seashell\:70 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-30)) }
html[data-theme='dark'] .sf-c-seashell\:80, html.dark .sf-c-seashell\:80 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-20)) }
html[data-theme='dark'] .sf-c-seashell\:90, html.dark .sf-c-seashell\:90 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-10)) }
html[data-theme='dark'] .sf-c-seashell\:100, html.dark .sf-c-seashell\:100 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-0)) }

html[data-theme='dark'] .sf-c-seashell\:dark, html.dark .sf-c-seashell\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell)) }
html[data-theme='dark'] .sf-c-seashell\:0\:dark, html.dark .sf-c-seashell\:0\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-100)) }
html[data-theme='dark'] .sf-c-seashell\:10\:dark, html.dark .sf-c-seashell\:10\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-90)) }
html[data-theme='dark'] .sf-c-seashell\:20\:dark, html.dark .sf-c-seashell\:20\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-80)) }
html[data-theme='dark'] .sf-c-seashell\:30\:dark, html.dark .sf-c-seashell\:30\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-70)) }
html[data-theme='dark'] .sf-c-seashell\:40\:dark, html.dark .sf-c-seashell\:40\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-60)) }
html[data-theme='dark'] .sf-c-seashell\:50\:dark, html.dark .sf-c-seashell\:50\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-50)) }
html[data-theme='dark'] .sf-c-seashell\:60\:dark, html.dark .sf-c-seashell\:60\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-40)) }
html[data-theme='dark'] .sf-c-seashell\:70\:dark, html.dark .sf-c-seashell\:70\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-30)) }
html[data-theme='dark'] .sf-c-seashell\:80\:dark, html.dark .sf-c-seashell\:80\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-20)) }
html[data-theme='dark'] .sf-c-seashell\:90\:dark, html.dark .sf-c-seashell\:90\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-10)) }
html[data-theme='dark'] .sf-c-seashell\:100\:dark, html.dark .sf-c-seashell\:100\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-0)) }

html.var[data-theme='dark'] .sf-c-seashell, html.var.dark .sf-c-seashell { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 3%) }
html.var[data-theme='dark'] .sf-c-seashell\:0, html.var.dark .sf-c-seashell\:0 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-seashell\:10, html.var.dark .sf-c-seashell\:10 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-seashell\:20, html.var.dark .sf-c-seashell\:20 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-seashell\:30, html.var.dark .sf-c-seashell\:30 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-seashell\:40, html.var.dark .sf-c-seashell\:40 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-seashell\:50, html.var.dark .sf-c-seashell\:50 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-seashell\:60, html.var.dark .sf-c-seashell\:60 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-seashell\:70, html.var.dark .sf-c-seashell\:70 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-seashell\:80, html.var.dark .sf-c-seashell\:80 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-seashell\:90, html.var.dark .sf-c-seashell\:90 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-seashell\:100, html.var.dark .sf-c-seashell\:100 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-seashell\:dark, html.var.dark .sf-c-seashell\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 3%) }
html.var[data-theme='dark'] .sf-c-seashell\:0\:dark, html.var.dark .sf-c-seashell\:0\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-seashell\:10\:dark, html.var.dark .sf-c-seashell\:10\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-seashell\:20\:dark, html.var.dark .sf-c-seashell\:20\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-seashell\:30\:dark, html.var.dark .sf-c-seashell\:30\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-seashell\:40\:dark, html.var.dark .sf-c-seashell\:40\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-seashell\:50\:dark, html.var.dark .sf-c-seashell\:50\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-seashell\:60\:dark, html.var.dark .sf-c-seashell\:60\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-seashell\:70\:dark, html.var.dark .sf-c-seashell\:70\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-seashell\:80\:dark, html.var.dark .sf-c-seashell\:80\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-seashell\:90\:dark, html.var.dark .sf-c-seashell\:90\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-seashell\:100\:dark, html.var.dark .sf-c-seashell\:100\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 0%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-seashell, html.auto .sf-c-seashell { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell)) }
  html[data-theme='auto'] .sf-c-seashell\:0, html.auto .sf-c-seashell\:0 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-100)) }
  html[data-theme='auto'] .sf-c-seashell\:10, html.auto .sf-c-seashell\:10 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-90)) }
  html[data-theme='auto'] .sf-c-seashell\:20, html.auto .sf-c-seashell\:20 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-80)) }
  html[data-theme='auto'] .sf-c-seashell\:30, html.auto .sf-c-seashell\:30 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-70)) }
  html[data-theme='auto'] .sf-c-seashell\:40, html.auto .sf-c-seashell\:40 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-60)) }
  html[data-theme='auto'] .sf-c-seashell\:50, html.auto .sf-c-seashell\:50 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-50)) }
  html[data-theme='auto'] .sf-c-seashell\:60, html.auto .sf-c-seashell\:60 { color: hsl(var(--sf-dark-c-txt-seashell-10)); background: hsl(var(--sf-dark-c-seashell-40)) }
  html[data-theme='auto'] .sf-c-seashell\:70, html.auto .sf-c-seashell\:70 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-30)) }
  html[data-theme='auto'] .sf-c-seashell\:80, html.auto .sf-c-seashell\:80 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-20)) }
  html[data-theme='auto'] .sf-c-seashell\:90, html.auto .sf-c-seashell\:90 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-10)) }
  html[data-theme='auto'] .sf-c-seashell\:100, html.auto .sf-c-seashell\:100 { color: hsl(var(--sf-dark-c-txt-seashell-90)); background: hsl(var(--sf-dark-c-seashell-0)) }

  html[data-theme='auto'] .sf-c-seashell\:dark, html.auto .sf-c-seashell\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell)) }
  html[data-theme='auto'] .sf-c-seashell\:0\:dark, html.auto .sf-c-seashell\:0\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-100)) }
  html[data-theme='auto'] .sf-c-seashell\:10\:dark, html.auto .sf-c-seashell\:10\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-90)) }
  html[data-theme='auto'] .sf-c-seashell\:20\:dark, html.auto .sf-c-seashell\:20\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-80)) }
  html[data-theme='auto'] .sf-c-seashell\:30\:dark, html.auto .sf-c-seashell\:30\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-70)) }
  html[data-theme='auto'] .sf-c-seashell\:40\:dark, html.auto .sf-c-seashell\:40\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-60)) }
  html[data-theme='auto'] .sf-c-seashell\:50\:dark, html.auto .sf-c-seashell\:50\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-50)) }
  html[data-theme='auto'] .sf-c-seashell\:60\:dark, html.auto .sf-c-seashell\:60\:dark { color: hsl(var(--sf-c-txt-seashell-10)); background: hsl(var(--sf-c-seashell-40)) }
  html[data-theme='auto'] .sf-c-seashell\:70\:dark, html.auto .sf-c-seashell\:70\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-30)) }
  html[data-theme='auto'] .sf-c-seashell\:80\:dark, html.auto .sf-c-seashell\:80\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-20)) }
  html[data-theme='auto'] .sf-c-seashell\:90\:dark, html.auto .sf-c-seashell\:90\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-10)) }
  html[data-theme='auto'] .sf-c-seashell\:100\:dark, html.auto .sf-c-seashell\:100\:dark { color: hsl(var(--sf-c-txt-seashell-90)); background: hsl(var(--sf-c-seashell-0)) }

  html.var[data-theme='auto'] .sf-c-seashell, html.var.auto .sf-c-seashell { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 3%) }
  html.var[data-theme='auto'] .sf-c-seashell\:0, html.var.auto .sf-c-seashell\:0 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-seashell\:10, html.var.auto .sf-c-seashell\:10 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-seashell\:20, html.var.auto .sf-c-seashell\:20 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-seashell\:30, html.var.auto .sf-c-seashell\:30 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-seashell\:40, html.var.auto .sf-c-seashell\:40 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-seashell\:50, html.var.auto .sf-c-seashell\:50 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-seashell\:60, html.var.auto .sf-c-seashell\:60 { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-seashell\:70, html.var.auto .sf-c-seashell\:70 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-seashell\:80, html.var.auto .sf-c-seashell\:80 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-seashell\:90, html.var.auto .sf-c-seashell\:90 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-seashell\:100, html.var.auto .sf-c-seashell\:100 { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-seashell\:dark, html.var.auto .sf-c-seashell\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 3%) }
  html.var[data-theme='auto'] .sf-c-seashell\:0\:dark, html.var.auto .sf-c-seashell\:0\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-seashell\:10\:dark, html.var.auto .sf-c-seashell\:10\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-seashell\:20\:dark, html.var.auto .sf-c-seashell\:20\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-seashell\:30\:dark, html.var.auto .sf-c-seashell\:30\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-seashell\:40\:dark, html.var.auto .sf-c-seashell\:40\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-seashell\:50\:dark, html.var.auto .sf-c-seashell\:50\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-seashell\:60\:dark, html.var.auto .sf-c-seashell\:60\:dark { color: hsl(25, 100%, 10%); background: hsl(25, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-seashell\:70\:dark, html.var.auto .sf-c-seashell\:70\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-seashell\:80\:dark, html.var.auto .sf-c-seashell\:80\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-seashell\:90\:dark, html.var.auto .sf-c-seashell\:90\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-seashell\:100\:dark, html.var.auto .sf-c-seashell\:100\:dark { color: hsl(25, 100%, 90%); background: hsl(25, 100%, 0%) }
}

.sf-c-txt-seashell { color: hsl(var(--sf-c-txt-seashell)) }
.sf-c-txt-seashell\:0 { color: hsl(var(--sf-c-txt-seashell-0)) }
.sf-c-txt-seashell\:10 { color: hsl(var(--sf-c-txt-seashell-10)) }
.sf-c-txt-seashell\:20 { color: hsl(var(--sf-c-txt-seashell-20)) }
.sf-c-txt-seashell\:30 { color: hsl(var(--sf-c-txt-seashell-30)) }
.sf-c-txt-seashell\:40 { color: hsl(var(--sf-c-txt-seashell-40)) }
.sf-c-txt-seashell\:50 { color: hsl(var(--sf-c-txt-seashell-50)) }
.sf-c-txt-seashell\:60 { color: hsl(var(--sf-c-txt-seashell-60)) }
.sf-c-txt-seashell\:70 { color: hsl(var(--sf-c-txt-seashell-70)) }
.sf-c-txt-seashell\:80 { color: hsl(var(--sf-c-txt-seashell-80)) }
.sf-c-txt-seashell\:90 { color: hsl(var(--sf-c-txt-seashell-90)) }
.sf-c-txt-seashell\:100 { color: hsl(var(--sf-c-txt-seashell-100)) }
