:root {
  --sf-c-sienna: 19 56% 40%;
  --sf-c-sienna-10: 19 56% 10%;
  --sf-c-sienna-20: 19 56% 20%;
  --sf-c-sienna-30: 19 56% 30%;
  --sf-c-sienna-40: 19 56% 40%;
  --sf-c-sienna-50: 19 56% 50%;
  --sf-c-sienna-60: 19 56% 60%;
  --sf-c-sienna-70: 19 56% 70%;
  --sf-c-sienna-80: 19 56% 80%;
  --sf-c-sienna-90: 19 56% 90%;
 
  --sf-c-txt-sienna: var(--sf-c-sienna);
  --sf-c-txt-sienna-10: var(--sf-c-sienna-10);
  --sf-c-txt-sienna-20: var(--sf-c-sienna-20);
  --sf-c-txt-sienna-30: var(--sf-c-sienna-30);
  --sf-c-txt-sienna-40: var(--sf-c-sienna-40);
  --sf-c-txt-sienna-50: var(--sf-c-sienna-50);
  --sf-c-txt-sienna-60: var(--sf-c-sienna-60);
  --sf-c-txt-sienna-70: var(--sf-c-sienna-70);
  --sf-c-txt-sienna-80: var(--sf-c-sienna-80);
  --sf-c-txt-sienna-90: var(--sf-c-sienna-90);
 
  --sf-dark-c-sienna: 19 56% 60%;
  --sf-dark-c-sienna-10: 19 56% 90%;
  --sf-dark-c-sienna-20: 19 56% 80%;
  --sf-dark-c-sienna-30: 19 56% 70%;
  --sf-dark-c-sienna-40: 19 56% 60%;
  --sf-dark-c-sienna-50: 19 56% 50%;
  --sf-dark-c-sienna-60: 19 56% 40%;
  --sf-dark-c-sienna-70: 19 56% 30%;
  --sf-dark-c-sienna-80: 19 56% 20%;
  --sf-dark-c-sienna-90: 19 56% 10%;
 
  --sf-dark-c-txt-sienna: var(--sf-dark-c-sienna);
  --sf-dark-c-txt-sienna-10: var(--sf-dark-c-sienna-10);
  --sf-dark-c-txt-sienna-20: var(--sf-dark-c-sienna-20);
  --sf-dark-c-txt-sienna-30: var(--sf-dark-c-sienna-30);
  --sf-dark-c-txt-sienna-40: var(--sf-dark-c-sienna-40);
  --sf-dark-c-txt-sienna-50: var(--sf-dark-c-sienna-50);
  --sf-dark-c-txt-sienna-60: var(--sf-dark-c-sienna-60);
  --sf-dark-c-txt-sienna-70: var(--sf-dark-c-sienna-70);
  --sf-dark-c-txt-sienna-80: var(--sf-dark-c-sienna-80);
  --sf-dark-c-txt-sienna-90: var(--sf-dark-c-sienna-90);
}
 
:root[data-theme="dark"] {
  --sf-c-sienna: var(--sf-dark-c-sienna);
  --sf-c-sienna-10: var(--sf-dark-c-sienna-10);
  --sf-c-sienna-20: var(--sf-dark-c-sienna-20);
  --sf-c-sienna-30: var(--sf-dark-c-sienna-30);
  --sf-c-sienna-40: var(--sf-dark-c-sienna-40);
  --sf-c-sienna-50: var(--sf-dark-c-sienna-50);
  --sf-c-sienna-60: var(--sf-dark-c-sienna-60);
  --sf-c-sienna-70: var(--sf-dark-c-sienna-70);
  --sf-c-sienna-80: var(--sf-dark-c-sienna-80);
  --sf-c-sienna-90: var(--sf-dark-c-sienna-90);
 
  --sf-c-txt-sienna: var(--sf-dark-c-txt-sienna);
  --sf-c-txt-sienna-10: var(--sf-dark-c-txt-sienna-10);
  --sf-c-txt-sienna-20: var(--sf-dark-c-txt-sienna-20);
  --sf-c-txt-sienna-30: var(--sf-dark-c-txt-sienna-30);
  --sf-c-txt-sienna-40: var(--sf-dark-c-txt-sienna-40);
  --sf-c-txt-sienna-50: var(--sf-dark-c-txt-sienna-50);
  --sf-c-txt-sienna-60: var(--sf-dark-c-txt-sienna-60);
  --sf-c-txt-sienna-70: var(--sf-dark-c-txt-sienna-70);
  --sf-c-txt-sienna-80: var(--sf-dark-c-txt-sienna-80);
  --sf-c-txt-sienna-90: var(--sf-dark-c-txt-sienna-90);
}

.sf-c-sienna { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna)) }
.sf-c-sienna\:10 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-10)) }
.sf-c-sienna\:20 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-20)) }
.sf-c-sienna\:30 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-30)) }
.sf-c-sienna\:40 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-40)) }
.sf-c-sienna\:50 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-50)) }
.sf-c-sienna\:60 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-60)) }
.sf-c-sienna\:70 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-70)) }
.sf-c-sienna\:80 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-80)) }
.sf-c-sienna\:90 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-90)) }
 
[data-theme="dark"] .sf-c-sienna { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna)) }
[data-theme="dark"] .sf-c-sienna\:10 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-10)) }
[data-theme="dark"] .sf-c-sienna\:20 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-20)) }
[data-theme="dark"] .sf-c-sienna\:30 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-30)) }
[data-theme="dark"] .sf-c-sienna\:40 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-40)) }
[data-theme="dark"] .sf-c-sienna\:50 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-50)) }
[data-theme="dark"] .sf-c-sienna\:60 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-60)) }
[data-theme="dark"] .sf-c-sienna\:70 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-70)) }
[data-theme="dark"] .sf-c-sienna\:80 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-80)) }
[data-theme="dark"] .sf-c-sienna\:90 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-90)) }
 
@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --sf-c-sienna: var(--sf-dark-c-sienna);
    --sf-c-sienna-10: var(--sf-dark-c-sienna-10);
    --sf-c-sienna-20: var(--sf-dark-c-sienna-20);
    --sf-c-sienna-30: var(--sf-dark-c-sienna-30);
    --sf-c-sienna-40: var(--sf-dark-c-sienna-40);
    --sf-c-sienna-50: var(--sf-dark-c-sienna-50);
    --sf-c-sienna-60: var(--sf-dark-c-sienna-60);
    --sf-c-sienna-70: var(--sf-dark-c-sienna-70);
    --sf-c-sienna-80: var(--sf-dark-c-sienna-80);
    --sf-c-sienna-90: var(--sf-dark-c-sienna-90);
 
    --sf-c-txt-sienna: var(--sf-dark-c-txt-sienna);
    --sf-c-txt-sienna-10: var(--sf-dark-c-txt-sienna-10);
    --sf-c-txt-sienna-20: var(--sf-dark-c-txt-sienna-20);
    --sf-c-txt-sienna-30: var(--sf-dark-c-txt-sienna-30);
    --sf-c-txt-sienna-40: var(--sf-dark-c-txt-sienna-40);
    --sf-c-txt-sienna-50: var(--sf-dark-c-txt-sienna-50);
    --sf-c-txt-sienna-60: var(--sf-dark-c-txt-sienna-60);
    --sf-c-txt-sienna-70: var(--sf-dark-c-txt-sienna-70);
    --sf-c-txt-sienna-80: var(--sf-dark-c-txt-sienna-80);
    --sf-c-txt-sienna-90: var(--sf-dark-c-txt-sienna-90);
  }
 
  [data-theme="auto"] .sf-c-sienna { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna)) }
  [data-theme="auto"] .sf-c-sienna\:10 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-10)) }
  [data-theme="auto"] .sf-c-sienna\:20 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-20)) }
  [data-theme="auto"] .sf-c-sienna\:30 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-30)) }
  [data-theme="auto"] .sf-c-sienna\:40 { color: hsl(var(--sf-c-txt-sienna-90)); background: hsl(var(--sf-c-sienna-40)) }
  [data-theme="auto"] .sf-c-sienna\:50 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-50)) }
  [data-theme="auto"] .sf-c-sienna\:60 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-60)) }
  [data-theme="auto"] .sf-c-sienna\:70 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-70)) }
  [data-theme="auto"] .sf-c-sienna\:80 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-80)) }
  [data-theme="auto"] .sf-c-sienna\:90 { color: hsl(var(--sf-c-txt-sienna-10)); background: hsl(var(--sf-c-sienna-90)) }
}

.sf-c-txt-sienna { color: hsl(var(--sf-c-txt-sienna)) }
.sf-c-txt-sienna\:10 { color: hsl(var(--sf-c-txt-sienna-10)) }
.sf-c-txt-sienna\:20 { color: hsl(var(--sf-c-txt-sienna-20)) }
.sf-c-txt-sienna\:30 { color: hsl(var(--sf-c-txt-sienna-30)) }
.sf-c-txt-sienna\:40 { color: hsl(var(--sf-c-txt-sienna-40)) }
.sf-c-txt-sienna\:50 { color: hsl(var(--sf-c-txt-sienna-50)) }
.sf-c-txt-sienna\:60 { color: hsl(var(--sf-c-txt-sienna-60)) }
.sf-c-txt-sienna\:70 { color: hsl(var(--sf-c-txt-sienna-70)) }
.sf-c-txt-sienna\:80 { color: hsl(var(--sf-c-txt-sienna-80)) }
.sf-c-txt-sienna\:90 { color: hsl(var(--sf-c-txt-sienna-90)) }