:root {
  --sf-c-teal: 180 100% 25%;
  --sf-c-teal-0: 180 100% 0%;
  --sf-c-teal-10: 180 100% 10%;
  --sf-c-teal-20: 180 100% 20%;
  --sf-c-teal-30: 180 100% 30%;
  --sf-c-teal-40: 180 100% 40%;
  --sf-c-teal-50: 180 100% 50%;
  --sf-c-teal-60: 180 100% 60%;
  --sf-c-teal-70: 180 100% 70%;
  --sf-c-teal-80: 180 100% 80%;
  --sf-c-teal-90: 180 100% 90%;
  --sf-c-teal-100: 180 100% 100%;

  --sf-c-txt-teal: var(--sf-c-teal);
  --sf-c-txt-teal-0: var(--sf-c-teal-0);
  --sf-c-txt-teal-10: var(--sf-c-teal-10);
  --sf-c-txt-teal-20: var(--sf-c-teal-20);
  --sf-c-txt-teal-30: var(--sf-c-teal-30);
  --sf-c-txt-teal-40: var(--sf-c-teal-40);
  --sf-c-txt-teal-50: var(--sf-c-teal-50);
  --sf-c-txt-teal-60: var(--sf-c-teal-60);
  --sf-c-txt-teal-70: var(--sf-c-teal-70);
  --sf-c-txt-teal-80: var(--sf-c-teal-80);
  --sf-c-txt-teal-90: var(--sf-c-teal-90);
  --sf-c-txt-teal-100: var(--sf-c-teal-100);

  --sf-dark-c-teal: 180 100% 75%;
  --sf-dark-c-teal-0: 180 100% 0%;
  --sf-dark-c-teal-10: 180 100% 10%;
  --sf-dark-c-teal-20: 180 100% 20%;
  --sf-dark-c-teal-30: 180 100% 30%;
  --sf-dark-c-teal-40: 180 100% 40%;
  --sf-dark-c-teal-50: 180 100% 50%;
  --sf-dark-c-teal-60: 180 100% 60%;
  --sf-dark-c-teal-70: 180 100% 70%;
  --sf-dark-c-teal-80: 180 100% 80%;
  --sf-dark-c-teal-90: 180 100% 90%;
  --sf-dark-c-teal-100: 180 100% 100%;

  --sf-dark-c-txt-teal: var(--sf-dark-c-teal);
  --sf-dark-c-txt-teal-0: var(--sf-dark-c-teal-0);
  --sf-dark-c-txt-teal-10: var(--sf-dark-c-teal-10);
  --sf-dark-c-txt-teal-20: var(--sf-dark-c-teal-20);
  --sf-dark-c-txt-teal-30: var(--sf-dark-c-teal-30);
  --sf-dark-c-txt-teal-40: var(--sf-dark-c-teal-40);
  --sf-dark-c-txt-teal-50: var(--sf-dark-c-teal-50);
  --sf-dark-c-txt-teal-60: var(--sf-dark-c-teal-60);
  --sf-dark-c-txt-teal-70: var(--sf-dark-c-teal-70);
  --sf-dark-c-txt-teal-80: var(--sf-dark-c-teal-80);
  --sf-dark-c-txt-teal-90: var(--sf-dark-c-teal-90);
  --sf-dark-c-txt-teal-100: var(--sf-dark-c-teal-100);
}

.sf-c-teal { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal)) }
.sf-c-teal\:0 { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-0)) }
.sf-c-teal\:10 { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-10)) }
.sf-c-teal\:20 { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-20)) }
.sf-c-teal\:30 { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-30)) }
.sf-c-teal\:40 { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-40)) }
.sf-c-teal\:50 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-50)) }
.sf-c-teal\:60 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-60)) }
.sf-c-teal\:70 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-70)) }
.sf-c-teal\:80 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-80)) }
.sf-c-teal\:90 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-90)) }
.sf-c-teal\:100 { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-100)) }

html.var .sf-c-teal { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 25%) }
html.var .sf-c-teal\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
html.var .sf-c-teal\:10 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var .sf-c-teal\:20 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var .sf-c-teal\:30 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
html.var .sf-c-teal\:40 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 40%) }
html.var .sf-c-teal\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var .sf-c-teal\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var .sf-c-teal\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var .sf-c-teal\:80 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var .sf-c-teal\:90 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var .sf-c-teal\:100 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }

.sf-c-txt-teal { color: hsl(var(--sf-dark-c-txt-teal)) }
.sf-c-txt-teal\:0 { color: hsl(var(--sf-dark-c-txt-teal-100)) }
.sf-c-txt-teal\:10 { color: hsl(var(--sf-dark-c-txt-teal-90)) }
.sf-c-txt-teal\:20 { color: hsl(var(--sf-dark-c-txt-teal-80)) }
.sf-c-txt-teal\:30 { color: hsl(var(--sf-dark-c-txt-teal-70)) }
.sf-c-txt-teal\:40 { color: hsl(var(--sf-dark-c-txt-teal-60)) }
.sf-c-txt-teal\:50 { color: hsl(var(--sf-dark-c-txt-teal-50)) }
.sf-c-txt-teal\:60 { color: hsl(var(--sf-dark-c-txt-teal-40)) }
.sf-c-txt-teal\:70 { color: hsl(var(--sf-dark-c-txt-teal-30)) }
.sf-c-txt-teal\:80 { color: hsl(var(--sf-dark-c-txt-teal-20)) }
.sf-c-txt-teal\:90 { color: hsl(var(--sf-dark-c-txt-teal-10)) }
.sf-c-txt-teal\:100 { color: hsl(var(--sf-dark-c-txt-teal-0)) }

html.var .sf-c-txt-teal { color: hsl(180, 100%, 75%) }
html.var .sf-c-txt-teal\:0 { color: hsl(180, 100%, 100%) }
html.var .sf-c-txt-teal\:10 { color: hsl(180, 100%, 90%) }
html.var .sf-c-txt-teal\:20 { color: hsl(180, 100%, 80%) }
html.var .sf-c-txt-teal\:30 { color: hsl(180, 100%, 70%) }
html.var .sf-c-txt-teal\:40 { color: hsl(180, 100%, 60%) }
html.var .sf-c-txt-teal\:50 { color: hsl(180, 100%, 50%) }
html.var .sf-c-txt-teal\:60 { color: hsl(180, 100%, 40%) }
html.var .sf-c-txt-teal\:70 { color: hsl(180, 100%, 30%) }
html.var .sf-c-txt-teal\:80 { color: hsl(180, 100%, 20%) }
html.var .sf-c-txt-teal\:90 { color: hsl(180, 100%, 10%) }
html.var .sf-c-txt-teal\:100 { color: hsl(180, 100%, 0%) }

html[data-theme='dark'] .sf-c-teal, html.dark .sf-c-teal { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal)) }
html[data-theme='dark'] .sf-c-teal\:0, html.dark .sf-c-teal\:0 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-100)) }
html[data-theme='dark'] .sf-c-teal\:10, html.dark .sf-c-teal\:10 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-90)) }
html[data-theme='dark'] .sf-c-teal\:20, html.dark .sf-c-teal\:20 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-80)) }
html[data-theme='dark'] .sf-c-teal\:30, html.dark .sf-c-teal\:30 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-70)) }
html[data-theme='dark'] .sf-c-teal\:40, html.dark .sf-c-teal\:40 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-60)) }
html[data-theme='dark'] .sf-c-teal\:50, html.dark .sf-c-teal\:50 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-50)) }
html[data-theme='dark'] .sf-c-teal\:60, html.dark .sf-c-teal\:60 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-40)) }
html[data-theme='dark'] .sf-c-teal\:70, html.dark .sf-c-teal\:70 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-30)) }
html[data-theme='dark'] .sf-c-teal\:80, html.dark .sf-c-teal\:80 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-20)) }
html[data-theme='dark'] .sf-c-teal\:90, html.dark .sf-c-teal\:90 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-10)) }
html[data-theme='dark'] .sf-c-teal\:100, html.dark .sf-c-teal\:100 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-0)) }

html[data-theme='dark'] .sf-c-teal\:dark, html.dark .sf-c-teal\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal)) }
html[data-theme='dark'] .sf-c-teal\:0\:dark, html.dark .sf-c-teal\:0\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-100)) }
html[data-theme='dark'] .sf-c-teal\:10\:dark, html.dark .sf-c-teal\:10\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-90)) }
html[data-theme='dark'] .sf-c-teal\:20\:dark, html.dark .sf-c-teal\:20\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-80)) }
html[data-theme='dark'] .sf-c-teal\:30\:dark, html.dark .sf-c-teal\:30\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-70)) }
html[data-theme='dark'] .sf-c-teal\:40\:dark, html.dark .sf-c-teal\:40\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-60)) }
html[data-theme='dark'] .sf-c-teal\:50\:dark, html.dark .sf-c-teal\:50\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-50)) }
html[data-theme='dark'] .sf-c-teal\:60\:dark, html.dark .sf-c-teal\:60\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-40)) }
html[data-theme='dark'] .sf-c-teal\:70\:dark, html.dark .sf-c-teal\:70\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-30)) }
html[data-theme='dark'] .sf-c-teal\:80\:dark, html.dark .sf-c-teal\:80\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-20)) }
html[data-theme='dark'] .sf-c-teal\:90\:dark, html.dark .sf-c-teal\:90\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-10)) }
html[data-theme='dark'] .sf-c-teal\:100\:dark, html.dark .sf-c-teal\:100\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-0)) }

html[data-theme='dark'] .sf-c-txt-teal, html.dark .sf-c-txt-teal { color: hsl(var(--sf-c-txt-teal)) }
html[data-theme='dark'] .sf-c-txt-teal\:0, html.dark .sf-c-txt-teal\:0 { color: hsl(var(--sf-c-txt-teal-0)) }
html[data-theme='dark'] .sf-c-txt-teal\:10, html.dark .sf-c-txt-teal\:10 { color: hsl(var(--sf-c-txt-teal-10)) }
html[data-theme='dark'] .sf-c-txt-teal\:20, html.dark .sf-c-txt-teal\:20 { color: hsl(var(--sf-c-txt-teal-20)) }
html[data-theme='dark'] .sf-c-txt-teal\:30, html.dark .sf-c-txt-teal\:30 { color: hsl(var(--sf-c-txt-teal-30)) }
html[data-theme='dark'] .sf-c-txt-teal\:40, html.dark .sf-c-txt-teal\:40 { color: hsl(var(--sf-c-txt-teal-40)) }
html[data-theme='dark'] .sf-c-txt-teal\:50, html.dark .sf-c-txt-teal\:50 { color: hsl(var(--sf-c-txt-teal-50)) }
html[data-theme='dark'] .sf-c-txt-teal\:60, html.dark .sf-c-txt-teal\:60 { color: hsl(var(--sf-c-txt-teal-60)) }
html[data-theme='dark'] .sf-c-txt-teal\:70, html.dark .sf-c-txt-teal\:70 { color: hsl(var(--sf-c-txt-teal-70)) }
html[data-theme='dark'] .sf-c-txt-teal\:80, html.dark .sf-c-txt-teal\:80 { color: hsl(var(--sf-c-txt-teal-80)) }
html[data-theme='dark'] .sf-c-txt-teal\:90, html.dark .sf-c-txt-teal\:90 { color: hsl(var(--sf-c-txt-teal-90)) }
html[data-theme='dark'] .sf-c-txt-teal\:100, html.dark .sf-c-txt-teal\:100 { color: hsl(var(--sf-c-txt-teal-100)) }

html[data-theme='dark'] .sf-c-txt-teal\:dark, html.dark .sf-c-txt-teal\:dark { color: hsl(var(--sf-c-txt-teal)) }
html[data-theme='dark'] .sf-c-txt-teal\:0\:dark, html.dark .sf-c-txt-teal\:0\:dark { color: hsl(var(--sf-dark-c-txt-teal-0)) }
html[data-theme='dark'] .sf-c-txt-teal\:10\:dark, html.dark .sf-c-txt-teal\:10\:dark { color: hsl(var(--sf-dark-c-txt-teal-10)) }
html[data-theme='dark'] .sf-c-txt-teal\:20\:dark, html.dark .sf-c-txt-teal\:20\:dark { color: hsl(var(--sf-dark-c-txt-teal-20)) }
html[data-theme='dark'] .sf-c-txt-teal\:30\:dark, html.dark .sf-c-txt-teal\:30\:dark { color: hsl(var(--sf-dark-c-txt-teal-30)) }
html[data-theme='dark'] .sf-c-txt-teal\:40\:dark, html.dark .sf-c-txt-teal\:40\:dark { color: hsl(var(--sf-dark-c-txt-teal-40)) }
html[data-theme='dark'] .sf-c-txt-teal\:50\:dark, html.dark .sf-c-txt-teal\:50\:dark { color: hsl(var(--sf-dark-c-txt-teal-50)) }
html[data-theme='dark'] .sf-c-txt-teal\:60\:dark, html.dark .sf-c-txt-teal\:60\:dark { color: hsl(var(--sf-dark-c-txt-teal-60)) }
html[data-theme='dark'] .sf-c-txt-teal\:70\:dark, html.dark .sf-c-txt-teal\:70\:dark { color: hsl(var(--sf-dark-c-txt-teal-70)) }
html[data-theme='dark'] .sf-c-txt-teal\:80\:dark, html.dark .sf-c-txt-teal\:80\:dark { color: hsl(var(--sf-dark-c-txt-teal-80)) }
html[data-theme='dark'] .sf-c-txt-teal\:90\:dark, html.dark .sf-c-txt-teal\:90\:dark { color: hsl(var(--sf-dark-c-txt-teal-90)) }
html[data-theme='dark'] .sf-c-txt-teal\:100\:dark, html.dark .sf-c-txt-teal\:100\:dark { color: hsl(var(--sf-dark-c-txt-teal-100)) }

html.var[data-theme='dark'] .sf-c-teal, html.var.dark .sf-c-teal { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-teal\:0, html.var.dark .sf-c-teal\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-teal\:10, html.var.dark .sf-c-teal\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-teal\:20, html.var.dark .sf-c-teal\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-teal\:30, html.var.dark .sf-c-teal\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-teal\:40, html.var.dark .sf-c-teal\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-teal\:50, html.var.dark .sf-c-teal\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-teal\:60, html.var.dark .sf-c-teal\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-teal\:70, html.var.dark .sf-c-teal\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-teal\:80, html.var.dark .sf-c-teal\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-teal\:90, html.var.dark .sf-c-teal\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-teal\:100, html.var.dark .sf-c-teal\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-teal\:dark, html.var.dark .sf-c-teal\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 75%) }
html.var[data-theme='dark'] .sf-c-teal\:0\:dark, html.var.dark .sf-c-teal\:0\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
html.var[data-theme='dark'] .sf-c-teal\:10\:dark, html.var.dark .sf-c-teal\:10\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-teal\:20\:dark, html.var.dark .sf-c-teal\:20\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-teal\:30\:dark, html.var.dark .sf-c-teal\:30\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-teal\:40\:dark, html.var.dark .sf-c-teal\:40\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-teal\:50\:dark, html.var.dark .sf-c-teal\:50\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-teal\:60\:dark, html.var.dark .sf-c-teal\:60\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-teal\:70\:dark, html.var.dark .sf-c-teal\:70\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-teal\:80\:dark, html.var.dark .sf-c-teal\:80\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-teal\:90\:dark, html.var.dark .sf-c-teal\:90\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-teal\:100\:dark, html.var.dark .sf-c-teal\:100\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

html.var[data-theme='dark'] .sf-c-txt-teal, html.dark .sf-c-txt-teal { color: hsl(180, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:0, html.dark .sf-c-txt-teal\:0 { color: hsl(180, 100%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:10, html.dark .sf-c-txt-teal\:10 { color: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:20, html.dark .sf-c-txt-teal\:20 { color: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:30, html.dark .sf-c-txt-teal\:30 { color: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:40, html.dark .sf-c-txt-teal\:40 { color: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:50, html.dark .sf-c-txt-teal\:50 { color: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:60, html.dark .sf-c-txt-teal\:60 { color: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:70, html.dark .sf-c-txt-teal\:70 { color: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:80, html.dark .sf-c-txt-teal\:80 { color: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:90, html.dark .sf-c-txt-teal\:90 { color: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:100, html.dark .sf-c-txt-teal\:100 { color: hsl(180, 100%, 100%) }

html.var[data-theme='dark'] .sf-c-txt-teal\:dark, html.dark .sf-c-txt-teal\:dark { color: hsl(180, 100%, 25%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:0\:dark, html.dark .sf-c-txt-teal\:0\:dark { color: hsl(180, 100%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:10\:dark, html.dark .sf-c-txt-teal\:10\:dark { color: hsl(180, 100%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:20\:dark, html.dark .sf-c-txt-teal\:20\:dark { color: hsl(180, 100%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:30\:dark, html.dark .sf-c-txt-teal\:30\:dark { color: hsl(180, 100%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:40\:dark, html.dark .sf-c-txt-teal\:40\:dark { color: hsl(180, 100%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:50\:dark, html.dark .sf-c-txt-teal\:50\:dark { color: hsl(180, 100%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:60\:dark, html.dark .sf-c-txt-teal\:60\:dark { color: hsl(180, 100%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:70\:dark, html.dark .sf-c-txt-teal\:70\:dark { color: hsl(180, 100%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:80\:dark, html.dark .sf-c-txt-teal\:80\:dark { color: hsl(180, 100%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:90\:dark, html.dark .sf-c-txt-teal\:90\:dark { color: hsl(180, 100%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-teal\:100\:dark, html.dark .sf-c-txt-teal\:100\:dark { color: hsl(180, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-teal, html.auto .sf-c-teal { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal)) }
  html[data-theme='auto'] .sf-c-teal\:0, html.auto .sf-c-teal\:0 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-100)) }
  html[data-theme='auto'] .sf-c-teal\:10, html.auto .sf-c-teal\:10 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-90)) }
  html[data-theme='auto'] .sf-c-teal\:20, html.auto .sf-c-teal\:20 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-80)) }
  html[data-theme='auto'] .sf-c-teal\:30, html.auto .sf-c-teal\:30 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-70)) }
  html[data-theme='auto'] .sf-c-teal\:40, html.auto .sf-c-teal\:40 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-60)) }
  html[data-theme='auto'] .sf-c-teal\:50, html.auto .sf-c-teal\:50 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-50)) }
  html[data-theme='auto'] .sf-c-teal\:60, html.auto .sf-c-teal\:60 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-40)) }
  html[data-theme='auto'] .sf-c-teal\:70, html.auto .sf-c-teal\:70 { color: hsl(var(--sf-dark-c-txt-teal-10)); background: hsl(var(--sf-dark-c-teal-30)) }
  html[data-theme='auto'] .sf-c-teal\:80, html.auto .sf-c-teal\:80 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-20)) }
  html[data-theme='auto'] .sf-c-teal\:90, html.auto .sf-c-teal\:90 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-10)) }
  html[data-theme='auto'] .sf-c-teal\:100, html.auto .sf-c-teal\:100 { color: hsl(var(--sf-dark-c-txt-teal-90)); background: hsl(var(--sf-dark-c-teal-0)) }

  html[data-theme='auto'] .sf-c-teal\:dark, html.auto .sf-c-teal\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal)) }
  html[data-theme='auto'] .sf-c-teal\:0\:dark, html.auto .sf-c-teal\:0\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-100)) }
  html[data-theme='auto'] .sf-c-teal\:10\:dark, html.auto .sf-c-teal\:10\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-90)) }
  html[data-theme='auto'] .sf-c-teal\:20\:dark, html.auto .sf-c-teal\:20\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-80)) }
  html[data-theme='auto'] .sf-c-teal\:30\:dark, html.auto .sf-c-teal\:30\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-70)) }
  html[data-theme='auto'] .sf-c-teal\:40\:dark, html.auto .sf-c-teal\:40\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-60)) }
  html[data-theme='auto'] .sf-c-teal\:50\:dark, html.auto .sf-c-teal\:50\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-50)) }
  html[data-theme='auto'] .sf-c-teal\:60\:dark, html.auto .sf-c-teal\:60\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-40)) }
  html[data-theme='auto'] .sf-c-teal\:70\:dark, html.auto .sf-c-teal\:70\:dark { color: hsl(var(--sf-c-txt-teal-10)); background: hsl(var(--sf-c-teal-30)) }
  html[data-theme='auto'] .sf-c-teal\:80\:dark, html.auto .sf-c-teal\:80\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-20)) }
  html[data-theme='auto'] .sf-c-teal\:90\:dark, html.auto .sf-c-teal\:90\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-10)) }
  html[data-theme='auto'] .sf-c-teal\:100\:dark, html.auto .sf-c-teal\:100\:dark { color: hsl(var(--sf-c-txt-teal-90)); background: hsl(var(--sf-c-teal-0)) }

  html[data-theme='auto'] .sf-c-txt-teal, html.auto .sf-c-txt-teal { color: hsl(var(--sf-c-txt-teal)) }
  html[data-theme='auto'] .sf-c-txt-teal\:0, html.auto .sf-c-txt-teal\:0 { color: hsl(var(--sf-c-txt-teal-0)) }
  html[data-theme='auto'] .sf-c-txt-teal\:10, html.auto .sf-c-txt-teal\:10 { color: hsl(var(--sf-c-txt-teal-10)) }
  html[data-theme='auto'] .sf-c-txt-teal\:20, html.auto .sf-c-txt-teal\:20 { color: hsl(var(--sf-c-txt-teal-20)) }
  html[data-theme='auto'] .sf-c-txt-teal\:30, html.auto .sf-c-txt-teal\:30 { color: hsl(var(--sf-c-txt-teal-30)) }
  html[data-theme='auto'] .sf-c-txt-teal\:40, html.auto .sf-c-txt-teal\:40 { color: hsl(var(--sf-c-txt-teal-40)) }
  html[data-theme='auto'] .sf-c-txt-teal\:50, html.auto .sf-c-txt-teal\:50 { color: hsl(var(--sf-c-txt-teal-50)) }
  html[data-theme='auto'] .sf-c-txt-teal\:60, html.auto .sf-c-txt-teal\:60 { color: hsl(var(--sf-c-txt-teal-60)) }
  html[data-theme='auto'] .sf-c-txt-teal\:70, html.auto .sf-c-txt-teal\:70 { color: hsl(var(--sf-c-txt-teal-70)) }
  html[data-theme='auto'] .sf-c-txt-teal\:80, html.auto .sf-c-txt-teal\:80 { color: hsl(var(--sf-c-txt-teal-80)) }
  html[data-theme='auto'] .sf-c-txt-teal\:90, html.auto .sf-c-txt-teal\:90 { color: hsl(var(--sf-c-txt-teal-90)) }
  html[data-theme='auto'] .sf-c-txt-teal\:100, html.auto .sf-c-txt-teal\:100 { color: hsl(var(--sf-c-txt-teal-100)) }

  html[data-theme='auto'] .sf-c-txt-teal\:dark, html.auto .sf-c-txt-teal\:dark { color: hsl(var(--sf-c-txt-teal)) }
  html[data-theme='auto'] .sf-c-txt-teal\:0\:dark, html.auto .sf-c-txt-teal\:0\:dark { color: hsl(var(--sf-c-txt-teal-0)) }
  html[data-theme='auto'] .sf-c-txt-teal\:10\:dark, html.auto .sf-c-txt-teal\:10\:dark { color: hsl(var(--sf-c-txt-teal-10)) }
  html[data-theme='auto'] .sf-c-txt-teal\:20\:dark, html.auto .sf-c-txt-teal\:20\:dark { color: hsl(var(--sf-c-txt-teal-20)) }
  html[data-theme='auto'] .sf-c-txt-teal\:30\:dark, html.auto .sf-c-txt-teal\:30\:dark { color: hsl(var(--sf-c-txt-teal-30)) }
  html[data-theme='auto'] .sf-c-txt-teal\:40\:dark, html.auto .sf-c-txt-teal\:40\:dark { color: hsl(var(--sf-c-txt-teal-40)) }
  html[data-theme='auto'] .sf-c-txt-teal\:50\:dark, html.auto .sf-c-txt-teal\:50\:dark { color: hsl(var(--sf-c-txt-teal-50)) }
  html[data-theme='auto'] .sf-c-txt-teal\:60\:dark, html.auto .sf-c-txt-teal\:60\:dark { color: hsl(var(--sf-c-txt-teal-60)) }
  html[data-theme='auto'] .sf-c-txt-teal\:70\:dark, html.auto .sf-c-txt-teal\:70\:dark { color: hsl(var(--sf-c-txt-teal-70)) }
  html[data-theme='auto'] .sf-c-txt-teal\:80\:dark, html.auto .sf-c-txt-teal\:80\:dark { color: hsl(var(--sf-c-txt-teal-80)) }
  html[data-theme='auto'] .sf-c-txt-teal\:90\:dark, html.auto .sf-c-txt-teal\:90\:dark { color: hsl(var(--sf-c-txt-teal-90)) }
  html[data-theme='auto'] .sf-c-txt-teal\:100\:dark, html.auto .sf-c-txt-teal\:100\:dark { color: hsl(var(--sf-c-txt-teal-100)) }

  html.var[data-theme='auto'] .sf-c-teal, html.var.auto .sf-c-teal { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-teal\:0, html.var.auto .sf-c-teal\:0 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-teal\:10, html.var.auto .sf-c-teal\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-teal\:20, html.var.auto .sf-c-teal\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-teal\:30, html.var.auto .sf-c-teal\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-teal\:40, html.var.auto .sf-c-teal\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-teal\:50, html.var.auto .sf-c-teal\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-teal\:60, html.var.auto .sf-c-teal\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-teal\:70, html.var.auto .sf-c-teal\:70 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-teal\:80, html.var.auto .sf-c-teal\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-teal\:90, html.var.auto .sf-c-teal\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-teal\:100, html.var.auto .sf-c-teal\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-teal\:dark, html.var.auto .sf-c-teal\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 75%) }
  html.var[data-theme='auto'] .sf-c-teal\:0\:dark, html.var.auto .sf-c-teal\:0\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 100%) }
  html.var[data-theme='auto'] .sf-c-teal\:10\:dark, html.var.auto .sf-c-teal\:10\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-teal\:20\:dark, html.var.auto .sf-c-teal\:20\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-teal\:30\:dark, html.var.auto .sf-c-teal\:30\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-teal\:40\:dark, html.var.auto .sf-c-teal\:40\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-teal\:50\:dark, html.var.auto .sf-c-teal\:50\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-teal\:60\:dark, html.var.auto .sf-c-teal\:60\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-teal\:70\:dark, html.var.auto .sf-c-teal\:70\:dark { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-teal\:80\:dark, html.var.auto .sf-c-teal\:80\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-teal\:90\:dark, html.var.auto .sf-c-teal\:90\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-teal\:100\:dark, html.var.auto .sf-c-teal\:100\:dark { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

  html.var[data-theme='auto'] .sf-c-txt-teal, html.auto .sf-c-txt-teal { color: hsl(180, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:0, html.auto .sf-c-txt-teal\:0 { color: hsl(180, 100%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:10, html.auto .sf-c-txt-teal\:10 { color: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:20, html.auto .sf-c-txt-teal\:20 { color: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:30, html.auto .sf-c-txt-teal\:30 { color: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:40, html.auto .sf-c-txt-teal\:40 { color: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:50, html.auto .sf-c-txt-teal\:50 { color: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:60, html.auto .sf-c-txt-teal\:60 { color: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:70, html.auto .sf-c-txt-teal\:70 { color: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:80, html.auto .sf-c-txt-teal\:80 { color: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:90, html.auto .sf-c-txt-teal\:90 { color: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:100, html.auto .sf-c-txt-teal\:100 { color: hsl(180, 100%, 100%) }

  html.var[data-theme='auto'] .sf-c-txt-teal\:dark, html.auto .sf-c-txt-teal\:dark { color: hsl(180, 100%, 25%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:0\:dark, html.auto .sf-c-txt-teal\:0\:dark { color: hsl(180, 100%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:10\:dark, html.auto .sf-c-txt-teal\:10\:dark { color: hsl(180, 100%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:20\:dark, html.auto .sf-c-txt-teal\:20\:dark { color: hsl(180, 100%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:30\:dark, html.auto .sf-c-txt-teal\:30\:dark { color: hsl(180, 100%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:40\:dark, html.auto .sf-c-txt-teal\:40\:dark { color: hsl(180, 100%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:50\:dark, html.auto .sf-c-txt-teal\:50\:dark { color: hsl(180, 100%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:60\:dark, html.auto .sf-c-txt-teal\:60\:dark { color: hsl(180, 100%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:70\:dark, html.auto .sf-c-txt-teal\:70\:dark { color: hsl(180, 100%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:80\:dark, html.auto .sf-c-txt-teal\:80\:dark { color: hsl(180, 100%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:90\:dark, html.auto .sf-c-txt-teal\:90\:dark { color: hsl(180, 100%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-teal\:100\:dark, html.auto .sf-c-txt-teal\:100\:dark { color: hsl(180, 100%, 100%) }
}