:root {
  --sf-c-wheat: 39 77% 83%;
  --sf-c-wheat-0: 39 77% 0%;
  --sf-c-wheat-10: 39 77% 10%;
  --sf-c-wheat-20: 39 77% 20%;
  --sf-c-wheat-30: 39 77% 30%;
  --sf-c-wheat-40: 39 77% 40%;
  --sf-c-wheat-50: 39 77% 50%;
  --sf-c-wheat-60: 39 77% 60%;
  --sf-c-wheat-70: 39 77% 70%;
  --sf-c-wheat-80: 39 77% 80%;
  --sf-c-wheat-90: 39 77% 90%;
  --sf-c-wheat-100: 39 77% 100%;

  --sf-c-txt-wheat: var(--sf-c-wheat);
  --sf-c-txt-wheat-0: var(--sf-c-wheat-0);
  --sf-c-txt-wheat-10: var(--sf-c-wheat-10);
  --sf-c-txt-wheat-20: var(--sf-c-wheat-20);
  --sf-c-txt-wheat-30: var(--sf-c-wheat-30);
  --sf-c-txt-wheat-40: var(--sf-c-wheat-40);
  --sf-c-txt-wheat-50: var(--sf-c-wheat-50);
  --sf-c-txt-wheat-60: var(--sf-c-wheat-60);
  --sf-c-txt-wheat-70: var(--sf-c-wheat-70);
  --sf-c-txt-wheat-80: var(--sf-c-wheat-80);
  --sf-c-txt-wheat-90: var(--sf-c-wheat-90);
  --sf-c-txt-wheat-100: var(--sf-c-wheat-100);

  --sf-dark-c-wheat: 39 77% 17%;
  --sf-dark-c-wheat-0: 39 77% 0%;
  --sf-dark-c-wheat-10: 39 77% 10%;
  --sf-dark-c-wheat-20: 39 77% 20%;
  --sf-dark-c-wheat-30: 39 77% 30%;
  --sf-dark-c-wheat-40: 39 77% 40%;
  --sf-dark-c-wheat-50: 39 77% 50%;
  --sf-dark-c-wheat-60: 39 77% 60%;
  --sf-dark-c-wheat-70: 39 77% 70%;
  --sf-dark-c-wheat-80: 39 77% 80%;
  --sf-dark-c-wheat-90: 39 77% 90%;
  --sf-dark-c-wheat-100: 39 77% 100%;

  --sf-dark-c-txt-wheat: var(--sf-dark-c-wheat);
  --sf-dark-c-txt-wheat-0: var(--sf-dark-c-wheat-0);
  --sf-dark-c-txt-wheat-10: var(--sf-dark-c-wheat-10);
  --sf-dark-c-txt-wheat-20: var(--sf-dark-c-wheat-20);
  --sf-dark-c-txt-wheat-30: var(--sf-dark-c-wheat-30);
  --sf-dark-c-txt-wheat-40: var(--sf-dark-c-wheat-40);
  --sf-dark-c-txt-wheat-50: var(--sf-dark-c-wheat-50);
  --sf-dark-c-txt-wheat-60: var(--sf-dark-c-wheat-60);
  --sf-dark-c-txt-wheat-70: var(--sf-dark-c-wheat-70);
  --sf-dark-c-txt-wheat-80: var(--sf-dark-c-wheat-80);
  --sf-dark-c-txt-wheat-90: var(--sf-dark-c-wheat-90);
  --sf-dark-c-txt-wheat-100: var(--sf-dark-c-wheat-100);
}

.sf-c-wheat { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat)) }
.sf-c-wheat\:0 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-0)) }
.sf-c-wheat\:10 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-10)) }
.sf-c-wheat\:20 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-20)) }
.sf-c-wheat\:30 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-30)) }
.sf-c-wheat\:40 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-40)) }
.sf-c-wheat\:50 { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-50)) }
.sf-c-wheat\:60 { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-60)) }
.sf-c-wheat\:70 { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-70)) }
.sf-c-wheat\:80 { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-80)) }
.sf-c-wheat\:90 { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-90)) }
.sf-c-wheat\:100 { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-100)) }

html.var .sf-c-wheat { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 83%) }
html.var .sf-c-wheat\:0 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 0%) }
html.var .sf-c-wheat\:10 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 10%) }
html.var .sf-c-wheat\:20 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 20%) }
html.var .sf-c-wheat\:30 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 30%) }
html.var .sf-c-wheat\:40 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 40%) }
html.var .sf-c-wheat\:50 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 50%) }
html.var .sf-c-wheat\:60 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 60%) }
html.var .sf-c-wheat\:70 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 70%) }
html.var .sf-c-wheat\:80 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 80%) }
html.var .sf-c-wheat\:90 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 90%) }
html.var .sf-c-wheat\:100 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 100%) }

.sf-c-txt-wheat { color: hsl(var(--sf-dark-c-txt-wheat)) }
.sf-c-txt-wheat\:0 { color: hsl(var(--sf-dark-c-txt-wheat-100)) }
.sf-c-txt-wheat\:10 { color: hsl(var(--sf-dark-c-txt-wheat-90)) }
.sf-c-txt-wheat\:20 { color: hsl(var(--sf-dark-c-txt-wheat-80)) }
.sf-c-txt-wheat\:30 { color: hsl(var(--sf-dark-c-txt-wheat-70)) }
.sf-c-txt-wheat\:40 { color: hsl(var(--sf-dark-c-txt-wheat-60)) }
.sf-c-txt-wheat\:50 { color: hsl(var(--sf-dark-c-txt-wheat-50)) }
.sf-c-txt-wheat\:60 { color: hsl(var(--sf-dark-c-txt-wheat-40)) }
.sf-c-txt-wheat\:70 { color: hsl(var(--sf-dark-c-txt-wheat-30)) }
.sf-c-txt-wheat\:80 { color: hsl(var(--sf-dark-c-txt-wheat-20)) }
.sf-c-txt-wheat\:90 { color: hsl(var(--sf-dark-c-txt-wheat-10)) }
.sf-c-txt-wheat\:100 { color: hsl(var(--sf-dark-c-txt-wheat-0)) }

html.var .sf-c-txt-wheat { color: hsl(39, 77%, 17%) }
html.var .sf-c-txt-wheat\:0 { color: hsl(39, 77%, 100%) }
html.var .sf-c-txt-wheat\:10 { color: hsl(39, 77%, 90%) }
html.var .sf-c-txt-wheat\:20 { color: hsl(39, 77%, 80%) }
html.var .sf-c-txt-wheat\:30 { color: hsl(39, 77%, 70%) }
html.var .sf-c-txt-wheat\:40 { color: hsl(39, 77%, 60%) }
html.var .sf-c-txt-wheat\:50 { color: hsl(39, 77%, 50%) }
html.var .sf-c-txt-wheat\:60 { color: hsl(39, 77%, 40%) }
html.var .sf-c-txt-wheat\:70 { color: hsl(39, 77%, 30%) }
html.var .sf-c-txt-wheat\:80 { color: hsl(39, 77%, 20%) }
html.var .sf-c-txt-wheat\:90 { color: hsl(39, 77%, 10%) }
html.var .sf-c-txt-wheat\:100 { color: hsl(39, 77%, 0%) }

html[data-theme='dark'] .sf-c-wheat, html.dark .sf-c-wheat { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat)) }
html[data-theme='dark'] .sf-c-wheat\:0, html.dark .sf-c-wheat\:0 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-100)) }
html[data-theme='dark'] .sf-c-wheat\:10, html.dark .sf-c-wheat\:10 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-90)) }
html[data-theme='dark'] .sf-c-wheat\:20, html.dark .sf-c-wheat\:20 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-80)) }
html[data-theme='dark'] .sf-c-wheat\:30, html.dark .sf-c-wheat\:30 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-70)) }
html[data-theme='dark'] .sf-c-wheat\:40, html.dark .sf-c-wheat\:40 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-60)) }
html[data-theme='dark'] .sf-c-wheat\:50, html.dark .sf-c-wheat\:50 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-50)) }
html[data-theme='dark'] .sf-c-wheat\:60, html.dark .sf-c-wheat\:60 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-40)) }
html[data-theme='dark'] .sf-c-wheat\:70, html.dark .sf-c-wheat\:70 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-30)) }
html[data-theme='dark'] .sf-c-wheat\:80, html.dark .sf-c-wheat\:80 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-20)) }
html[data-theme='dark'] .sf-c-wheat\:90, html.dark .sf-c-wheat\:90 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-10)) }
html[data-theme='dark'] .sf-c-wheat\:100, html.dark .sf-c-wheat\:100 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-0)) }

html[data-theme='dark'] .sf-c-wheat\:dark, html.dark .sf-c-wheat\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat)) }
html[data-theme='dark'] .sf-c-wheat\:0\:dark, html.dark .sf-c-wheat\:0\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-100)) }
html[data-theme='dark'] .sf-c-wheat\:10\:dark, html.dark .sf-c-wheat\:10\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-90)) }
html[data-theme='dark'] .sf-c-wheat\:20\:dark, html.dark .sf-c-wheat\:20\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-80)) }
html[data-theme='dark'] .sf-c-wheat\:30\:dark, html.dark .sf-c-wheat\:30\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-70)) }
html[data-theme='dark'] .sf-c-wheat\:40\:dark, html.dark .sf-c-wheat\:40\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-60)) }
html[data-theme='dark'] .sf-c-wheat\:50\:dark, html.dark .sf-c-wheat\:50\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-50)) }
html[data-theme='dark'] .sf-c-wheat\:60\:dark, html.dark .sf-c-wheat\:60\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-40)) }
html[data-theme='dark'] .sf-c-wheat\:70\:dark, html.dark .sf-c-wheat\:70\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-30)) }
html[data-theme='dark'] .sf-c-wheat\:80\:dark, html.dark .sf-c-wheat\:80\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-20)) }
html[data-theme='dark'] .sf-c-wheat\:90\:dark, html.dark .sf-c-wheat\:90\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-10)) }
html[data-theme='dark'] .sf-c-wheat\:100\:dark, html.dark .sf-c-wheat\:100\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-0)) }

html[data-theme='dark'] .sf-c-txt-wheat, html.dark .sf-c-txt-wheat { color: hsl(var(--sf-c-txt-wheat)) }
html[data-theme='dark'] .sf-c-txt-wheat\:0, html.dark .sf-c-txt-wheat\:0 { color: hsl(var(--sf-c-txt-wheat-0)) }
html[data-theme='dark'] .sf-c-txt-wheat\:10, html.dark .sf-c-txt-wheat\:10 { color: hsl(var(--sf-c-txt-wheat-10)) }
html[data-theme='dark'] .sf-c-txt-wheat\:20, html.dark .sf-c-txt-wheat\:20 { color: hsl(var(--sf-c-txt-wheat-20)) }
html[data-theme='dark'] .sf-c-txt-wheat\:30, html.dark .sf-c-txt-wheat\:30 { color: hsl(var(--sf-c-txt-wheat-30)) }
html[data-theme='dark'] .sf-c-txt-wheat\:40, html.dark .sf-c-txt-wheat\:40 { color: hsl(var(--sf-c-txt-wheat-40)) }
html[data-theme='dark'] .sf-c-txt-wheat\:50, html.dark .sf-c-txt-wheat\:50 { color: hsl(var(--sf-c-txt-wheat-50)) }
html[data-theme='dark'] .sf-c-txt-wheat\:60, html.dark .sf-c-txt-wheat\:60 { color: hsl(var(--sf-c-txt-wheat-60)) }
html[data-theme='dark'] .sf-c-txt-wheat\:70, html.dark .sf-c-txt-wheat\:70 { color: hsl(var(--sf-c-txt-wheat-70)) }
html[data-theme='dark'] .sf-c-txt-wheat\:80, html.dark .sf-c-txt-wheat\:80 { color: hsl(var(--sf-c-txt-wheat-80)) }
html[data-theme='dark'] .sf-c-txt-wheat\:90, html.dark .sf-c-txt-wheat\:90 { color: hsl(var(--sf-c-txt-wheat-90)) }
html[data-theme='dark'] .sf-c-txt-wheat\:100, html.dark .sf-c-txt-wheat\:100 { color: hsl(var(--sf-c-txt-wheat-100)) }

html[data-theme='dark'] .sf-c-txt-wheat\:dark, html.dark .sf-c-txt-wheat\:dark { color: hsl(var(--sf-c-txt-wheat)) }
html[data-theme='dark'] .sf-c-txt-wheat\:0\:dark, html.dark .sf-c-txt-wheat\:0\:dark { color: hsl(var(--sf-dark-c-txt-wheat-0)) }
html[data-theme='dark'] .sf-c-txt-wheat\:10\:dark, html.dark .sf-c-txt-wheat\:10\:dark { color: hsl(var(--sf-dark-c-txt-wheat-10)) }
html[data-theme='dark'] .sf-c-txt-wheat\:20\:dark, html.dark .sf-c-txt-wheat\:20\:dark { color: hsl(var(--sf-dark-c-txt-wheat-20)) }
html[data-theme='dark'] .sf-c-txt-wheat\:30\:dark, html.dark .sf-c-txt-wheat\:30\:dark { color: hsl(var(--sf-dark-c-txt-wheat-30)) }
html[data-theme='dark'] .sf-c-txt-wheat\:40\:dark, html.dark .sf-c-txt-wheat\:40\:dark { color: hsl(var(--sf-dark-c-txt-wheat-40)) }
html[data-theme='dark'] .sf-c-txt-wheat\:50\:dark, html.dark .sf-c-txt-wheat\:50\:dark { color: hsl(var(--sf-dark-c-txt-wheat-50)) }
html[data-theme='dark'] .sf-c-txt-wheat\:60\:dark, html.dark .sf-c-txt-wheat\:60\:dark { color: hsl(var(--sf-dark-c-txt-wheat-60)) }
html[data-theme='dark'] .sf-c-txt-wheat\:70\:dark, html.dark .sf-c-txt-wheat\:70\:dark { color: hsl(var(--sf-dark-c-txt-wheat-70)) }
html[data-theme='dark'] .sf-c-txt-wheat\:80\:dark, html.dark .sf-c-txt-wheat\:80\:dark { color: hsl(var(--sf-dark-c-txt-wheat-80)) }
html[data-theme='dark'] .sf-c-txt-wheat\:90\:dark, html.dark .sf-c-txt-wheat\:90\:dark { color: hsl(var(--sf-dark-c-txt-wheat-90)) }
html[data-theme='dark'] .sf-c-txt-wheat\:100\:dark, html.dark .sf-c-txt-wheat\:100\:dark { color: hsl(var(--sf-dark-c-txt-wheat-100)) }

html.var[data-theme='dark'] .sf-c-wheat, html.var.dark .sf-c-wheat { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 17%) }
html.var[data-theme='dark'] .sf-c-wheat\:0, html.var.dark .sf-c-wheat\:0 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 100%) }
html.var[data-theme='dark'] .sf-c-wheat\:10, html.var.dark .sf-c-wheat\:10 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 90%) }
html.var[data-theme='dark'] .sf-c-wheat\:20, html.var.dark .sf-c-wheat\:20 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 80%) }
html.var[data-theme='dark'] .sf-c-wheat\:30, html.var.dark .sf-c-wheat\:30 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 70%) }
html.var[data-theme='dark'] .sf-c-wheat\:40, html.var.dark .sf-c-wheat\:40 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 60%) }
html.var[data-theme='dark'] .sf-c-wheat\:50, html.var.dark .sf-c-wheat\:50 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 50%) }
html.var[data-theme='dark'] .sf-c-wheat\:60, html.var.dark .sf-c-wheat\:60 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 40%) }
html.var[data-theme='dark'] .sf-c-wheat\:70, html.var.dark .sf-c-wheat\:70 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 30%) }
html.var[data-theme='dark'] .sf-c-wheat\:80, html.var.dark .sf-c-wheat\:80 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 20%) }
html.var[data-theme='dark'] .sf-c-wheat\:90, html.var.dark .sf-c-wheat\:90 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 10%) }
html.var[data-theme='dark'] .sf-c-wheat\:100, html.var.dark .sf-c-wheat\:100 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 0%) }

html.var[data-theme='dark'] .sf-c-wheat\:dark, html.var.dark .sf-c-wheat\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 17%) }
html.var[data-theme='dark'] .sf-c-wheat\:0\:dark, html.var.dark .sf-c-wheat\:0\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 100%) }
html.var[data-theme='dark'] .sf-c-wheat\:10\:dark, html.var.dark .sf-c-wheat\:10\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 90%) }
html.var[data-theme='dark'] .sf-c-wheat\:20\:dark, html.var.dark .sf-c-wheat\:20\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 80%) }
html.var[data-theme='dark'] .sf-c-wheat\:30\:dark, html.var.dark .sf-c-wheat\:30\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 70%) }
html.var[data-theme='dark'] .sf-c-wheat\:40\:dark, html.var.dark .sf-c-wheat\:40\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 60%) }
html.var[data-theme='dark'] .sf-c-wheat\:50\:dark, html.var.dark .sf-c-wheat\:50\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 50%) }
html.var[data-theme='dark'] .sf-c-wheat\:60\:dark, html.var.dark .sf-c-wheat\:60\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 40%) }
html.var[data-theme='dark'] .sf-c-wheat\:70\:dark, html.var.dark .sf-c-wheat\:70\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 30%) }
html.var[data-theme='dark'] .sf-c-wheat\:80\:dark, html.var.dark .sf-c-wheat\:80\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 20%) }
html.var[data-theme='dark'] .sf-c-wheat\:90\:dark, html.var.dark .sf-c-wheat\:90\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 10%) }
html.var[data-theme='dark'] .sf-c-wheat\:100\:dark, html.var.dark .sf-c-wheat\:100\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 0%) }

html.var[data-theme='dark'] .sf-c-txt-wheat, html.dark .sf-c-txt-wheat { color: hsl(39, 77%, 83%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:0, html.dark .sf-c-txt-wheat\:0 { color: hsl(39, 77%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:10, html.dark .sf-c-txt-wheat\:10 { color: hsl(39, 77%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:20, html.dark .sf-c-txt-wheat\:20 { color: hsl(39, 77%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:30, html.dark .sf-c-txt-wheat\:30 { color: hsl(39, 77%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:40, html.dark .sf-c-txt-wheat\:40 { color: hsl(39, 77%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:50, html.dark .sf-c-txt-wheat\:50 { color: hsl(39, 77%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:60, html.dark .sf-c-txt-wheat\:60 { color: hsl(39, 77%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:70, html.dark .sf-c-txt-wheat\:70 { color: hsl(39, 77%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:80, html.dark .sf-c-txt-wheat\:80 { color: hsl(39, 77%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:90, html.dark .sf-c-txt-wheat\:90 { color: hsl(39, 77%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:100, html.dark .sf-c-txt-wheat\:100 { color: hsl(39, 77%, 100%) }

html.var[data-theme='dark'] .sf-c-txt-wheat\:dark, html.dark .sf-c-txt-wheat\:dark { color: hsl(39, 77%, 83%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:0\:dark, html.dark .sf-c-txt-wheat\:0\:dark { color: hsl(39, 77%, 0%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:10\:dark, html.dark .sf-c-txt-wheat\:10\:dark { color: hsl(39, 77%, 10%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:20\:dark, html.dark .sf-c-txt-wheat\:20\:dark { color: hsl(39, 77%, 20%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:30\:dark, html.dark .sf-c-txt-wheat\:30\:dark { color: hsl(39, 77%, 30%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:40\:dark, html.dark .sf-c-txt-wheat\:40\:dark { color: hsl(39, 77%, 40%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:50\:dark, html.dark .sf-c-txt-wheat\:50\:dark { color: hsl(39, 77%, 50%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:60\:dark, html.dark .sf-c-txt-wheat\:60\:dark { color: hsl(39, 77%, 60%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:70\:dark, html.dark .sf-c-txt-wheat\:70\:dark { color: hsl(39, 77%, 70%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:80\:dark, html.dark .sf-c-txt-wheat\:80\:dark { color: hsl(39, 77%, 80%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:90\:dark, html.dark .sf-c-txt-wheat\:90\:dark { color: hsl(39, 77%, 90%) }
html.var[data-theme='dark'] .sf-c-txt-wheat\:100\:dark, html.dark .sf-c-txt-wheat\:100\:dark { color: hsl(39, 77%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-wheat, html.auto .sf-c-wheat { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat)) }
  html[data-theme='auto'] .sf-c-wheat\:0, html.auto .sf-c-wheat\:0 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-100)) }
  html[data-theme='auto'] .sf-c-wheat\:10, html.auto .sf-c-wheat\:10 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-90)) }
  html[data-theme='auto'] .sf-c-wheat\:20, html.auto .sf-c-wheat\:20 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-80)) }
  html[data-theme='auto'] .sf-c-wheat\:30, html.auto .sf-c-wheat\:30 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-70)) }
  html[data-theme='auto'] .sf-c-wheat\:40, html.auto .sf-c-wheat\:40 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-60)) }
  html[data-theme='auto'] .sf-c-wheat\:50, html.auto .sf-c-wheat\:50 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-50)) }
  html[data-theme='auto'] .sf-c-wheat\:60, html.auto .sf-c-wheat\:60 { color: hsl(var(--sf-dark-c-txt-wheat-10)); background: hsl(var(--sf-dark-c-wheat-40)) }
  html[data-theme='auto'] .sf-c-wheat\:70, html.auto .sf-c-wheat\:70 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-30)) }
  html[data-theme='auto'] .sf-c-wheat\:80, html.auto .sf-c-wheat\:80 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-20)) }
  html[data-theme='auto'] .sf-c-wheat\:90, html.auto .sf-c-wheat\:90 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-10)) }
  html[data-theme='auto'] .sf-c-wheat\:100, html.auto .sf-c-wheat\:100 { color: hsl(var(--sf-dark-c-txt-wheat-90)); background: hsl(var(--sf-dark-c-wheat-0)) }

  html[data-theme='auto'] .sf-c-wheat\:dark, html.auto .sf-c-wheat\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat)) }
  html[data-theme='auto'] .sf-c-wheat\:0\:dark, html.auto .sf-c-wheat\:0\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-100)) }
  html[data-theme='auto'] .sf-c-wheat\:10\:dark, html.auto .sf-c-wheat\:10\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-90)) }
  html[data-theme='auto'] .sf-c-wheat\:20\:dark, html.auto .sf-c-wheat\:20\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-80)) }
  html[data-theme='auto'] .sf-c-wheat\:30\:dark, html.auto .sf-c-wheat\:30\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-70)) }
  html[data-theme='auto'] .sf-c-wheat\:40\:dark, html.auto .sf-c-wheat\:40\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-60)) }
  html[data-theme='auto'] .sf-c-wheat\:50\:dark, html.auto .sf-c-wheat\:50\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-50)) }
  html[data-theme='auto'] .sf-c-wheat\:60\:dark, html.auto .sf-c-wheat\:60\:dark { color: hsl(var(--sf-c-txt-wheat-10)); background: hsl(var(--sf-c-wheat-40)) }
  html[data-theme='auto'] .sf-c-wheat\:70\:dark, html.auto .sf-c-wheat\:70\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-30)) }
  html[data-theme='auto'] .sf-c-wheat\:80\:dark, html.auto .sf-c-wheat\:80\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-20)) }
  html[data-theme='auto'] .sf-c-wheat\:90\:dark, html.auto .sf-c-wheat\:90\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-10)) }
  html[data-theme='auto'] .sf-c-wheat\:100\:dark, html.auto .sf-c-wheat\:100\:dark { color: hsl(var(--sf-c-txt-wheat-90)); background: hsl(var(--sf-c-wheat-0)) }

  html[data-theme='auto'] .sf-c-txt-wheat, html.auto .sf-c-txt-wheat { color: hsl(var(--sf-c-txt-wheat)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:0, html.auto .sf-c-txt-wheat\:0 { color: hsl(var(--sf-c-txt-wheat-0)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:10, html.auto .sf-c-txt-wheat\:10 { color: hsl(var(--sf-c-txt-wheat-10)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:20, html.auto .sf-c-txt-wheat\:20 { color: hsl(var(--sf-c-txt-wheat-20)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:30, html.auto .sf-c-txt-wheat\:30 { color: hsl(var(--sf-c-txt-wheat-30)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:40, html.auto .sf-c-txt-wheat\:40 { color: hsl(var(--sf-c-txt-wheat-40)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:50, html.auto .sf-c-txt-wheat\:50 { color: hsl(var(--sf-c-txt-wheat-50)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:60, html.auto .sf-c-txt-wheat\:60 { color: hsl(var(--sf-c-txt-wheat-60)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:70, html.auto .sf-c-txt-wheat\:70 { color: hsl(var(--sf-c-txt-wheat-70)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:80, html.auto .sf-c-txt-wheat\:80 { color: hsl(var(--sf-c-txt-wheat-80)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:90, html.auto .sf-c-txt-wheat\:90 { color: hsl(var(--sf-c-txt-wheat-90)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:100, html.auto .sf-c-txt-wheat\:100 { color: hsl(var(--sf-c-txt-wheat-100)) }

  html[data-theme='auto'] .sf-c-txt-wheat\:dark, html.auto .sf-c-txt-wheat\:dark { color: hsl(var(--sf-c-txt-wheat)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:0\:dark, html.auto .sf-c-txt-wheat\:0\:dark { color: hsl(var(--sf-c-txt-wheat-0)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:10\:dark, html.auto .sf-c-txt-wheat\:10\:dark { color: hsl(var(--sf-c-txt-wheat-10)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:20\:dark, html.auto .sf-c-txt-wheat\:20\:dark { color: hsl(var(--sf-c-txt-wheat-20)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:30\:dark, html.auto .sf-c-txt-wheat\:30\:dark { color: hsl(var(--sf-c-txt-wheat-30)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:40\:dark, html.auto .sf-c-txt-wheat\:40\:dark { color: hsl(var(--sf-c-txt-wheat-40)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:50\:dark, html.auto .sf-c-txt-wheat\:50\:dark { color: hsl(var(--sf-c-txt-wheat-50)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:60\:dark, html.auto .sf-c-txt-wheat\:60\:dark { color: hsl(var(--sf-c-txt-wheat-60)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:70\:dark, html.auto .sf-c-txt-wheat\:70\:dark { color: hsl(var(--sf-c-txt-wheat-70)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:80\:dark, html.auto .sf-c-txt-wheat\:80\:dark { color: hsl(var(--sf-c-txt-wheat-80)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:90\:dark, html.auto .sf-c-txt-wheat\:90\:dark { color: hsl(var(--sf-c-txt-wheat-90)) }
  html[data-theme='auto'] .sf-c-txt-wheat\:100\:dark, html.auto .sf-c-txt-wheat\:100\:dark { color: hsl(var(--sf-c-txt-wheat-100)) }

  html.var[data-theme='auto'] .sf-c-wheat, html.var.auto .sf-c-wheat { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 17%) }
  html.var[data-theme='auto'] .sf-c-wheat\:0, html.var.auto .sf-c-wheat\:0 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 100%) }
  html.var[data-theme='auto'] .sf-c-wheat\:10, html.var.auto .sf-c-wheat\:10 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 90%) }
  html.var[data-theme='auto'] .sf-c-wheat\:20, html.var.auto .sf-c-wheat\:20 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 80%) }
  html.var[data-theme='auto'] .sf-c-wheat\:30, html.var.auto .sf-c-wheat\:30 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 70%) }
  html.var[data-theme='auto'] .sf-c-wheat\:40, html.var.auto .sf-c-wheat\:40 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 60%) }
  html.var[data-theme='auto'] .sf-c-wheat\:50, html.var.auto .sf-c-wheat\:50 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 50%) }
  html.var[data-theme='auto'] .sf-c-wheat\:60, html.var.auto .sf-c-wheat\:60 { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 40%) }
  html.var[data-theme='auto'] .sf-c-wheat\:70, html.var.auto .sf-c-wheat\:70 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 30%) }
  html.var[data-theme='auto'] .sf-c-wheat\:80, html.var.auto .sf-c-wheat\:80 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 20%) }
  html.var[data-theme='auto'] .sf-c-wheat\:90, html.var.auto .sf-c-wheat\:90 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 10%) }
  html.var[data-theme='auto'] .sf-c-wheat\:100, html.var.auto .sf-c-wheat\:100 { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 0%) }

  html.var[data-theme='auto'] .sf-c-wheat\:dark, html.var.auto .sf-c-wheat\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 17%) }
  html.var[data-theme='auto'] .sf-c-wheat\:0\:dark, html.var.auto .sf-c-wheat\:0\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 100%) }
  html.var[data-theme='auto'] .sf-c-wheat\:10\:dark, html.var.auto .sf-c-wheat\:10\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 90%) }
  html.var[data-theme='auto'] .sf-c-wheat\:20\:dark, html.var.auto .sf-c-wheat\:20\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 80%) }
  html.var[data-theme='auto'] .sf-c-wheat\:30\:dark, html.var.auto .sf-c-wheat\:30\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 70%) }
  html.var[data-theme='auto'] .sf-c-wheat\:40\:dark, html.var.auto .sf-c-wheat\:40\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 60%) }
  html.var[data-theme='auto'] .sf-c-wheat\:50\:dark, html.var.auto .sf-c-wheat\:50\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 50%) }
  html.var[data-theme='auto'] .sf-c-wheat\:60\:dark, html.var.auto .sf-c-wheat\:60\:dark { color: hsl(39, 77%, 10%); background: hsl(39, 77%, 40%) }
  html.var[data-theme='auto'] .sf-c-wheat\:70\:dark, html.var.auto .sf-c-wheat\:70\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 30%) }
  html.var[data-theme='auto'] .sf-c-wheat\:80\:dark, html.var.auto .sf-c-wheat\:80\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 20%) }
  html.var[data-theme='auto'] .sf-c-wheat\:90\:dark, html.var.auto .sf-c-wheat\:90\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 10%) }
  html.var[data-theme='auto'] .sf-c-wheat\:100\:dark, html.var.auto .sf-c-wheat\:100\:dark { color: hsl(39, 77%, 90%); background: hsl(39, 77%, 0%) }

  html.var[data-theme='auto'] .sf-c-txt-wheat, html.auto .sf-c-txt-wheat { color: hsl(39, 77%, 83%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:0, html.auto .sf-c-txt-wheat\:0 { color: hsl(39, 77%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:10, html.auto .sf-c-txt-wheat\:10 { color: hsl(39, 77%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:20, html.auto .sf-c-txt-wheat\:20 { color: hsl(39, 77%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:30, html.auto .sf-c-txt-wheat\:30 { color: hsl(39, 77%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:40, html.auto .sf-c-txt-wheat\:40 { color: hsl(39, 77%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:50, html.auto .sf-c-txt-wheat\:50 { color: hsl(39, 77%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:60, html.auto .sf-c-txt-wheat\:60 { color: hsl(39, 77%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:70, html.auto .sf-c-txt-wheat\:70 { color: hsl(39, 77%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:80, html.auto .sf-c-txt-wheat\:80 { color: hsl(39, 77%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:90, html.auto .sf-c-txt-wheat\:90 { color: hsl(39, 77%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:100, html.auto .sf-c-txt-wheat\:100 { color: hsl(39, 77%, 100%) }

  html.var[data-theme='auto'] .sf-c-txt-wheat\:dark, html.auto .sf-c-txt-wheat\:dark { color: hsl(39, 77%, 83%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:0\:dark, html.auto .sf-c-txt-wheat\:0\:dark { color: hsl(39, 77%, 0%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:10\:dark, html.auto .sf-c-txt-wheat\:10\:dark { color: hsl(39, 77%, 10%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:20\:dark, html.auto .sf-c-txt-wheat\:20\:dark { color: hsl(39, 77%, 20%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:30\:dark, html.auto .sf-c-txt-wheat\:30\:dark { color: hsl(39, 77%, 30%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:40\:dark, html.auto .sf-c-txt-wheat\:40\:dark { color: hsl(39, 77%, 40%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:50\:dark, html.auto .sf-c-txt-wheat\:50\:dark { color: hsl(39, 77%, 50%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:60\:dark, html.auto .sf-c-txt-wheat\:60\:dark { color: hsl(39, 77%, 60%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:70\:dark, html.auto .sf-c-txt-wheat\:70\:dark { color: hsl(39, 77%, 70%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:80\:dark, html.auto .sf-c-txt-wheat\:80\:dark { color: hsl(39, 77%, 80%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:90\:dark, html.auto .sf-c-txt-wheat\:90\:dark { color: hsl(39, 77%, 90%) }
  html.var[data-theme='auto'] .sf-c-txt-wheat\:100\:dark, html.auto .sf-c-txt-wheat\:100\:dark { color: hsl(39, 77%, 100%) }
}