@import 'colors/10/aqua.css';
@import 'colors/10/black.css';
@import 'colors/10/blue.css';
@import 'colors/10/fuchsia.css';
@import 'colors/10/gray.css';
@import 'colors/10/green.css';
@import 'colors/10/lime.css';
@import 'colors/10/maroon.css';
@import 'colors/10/navy.css';
@import 'colors/10/olive.css';
@import 'colors/10/purple.css';
@import 'colors/10/red.css';
@import 'colors/10/silver.css';
@import 'colors/10/teal.css';
@import 'colors/10/white.css';
@import 'colors/10/yellow.css';